openapi: 3.2.0
info:
  title: .v31 Travel Message API
  version: '3.1'
  contact:
    name: G7-OTA-TEAM
    url: https://prod.api.tui/
    email: b2bota.g7.support@tui.nl
  description: "This API can be used to get availability and create bookings for TUI packages following the ANVR G7 standard.  \n\nWith the Supply feed OTA's get information of all the available TUI packages, along with other relevant details\nsuch as price, extras, etc. For Supply the TravelMessage 3.1 is not used. So this is defined on another page.\nBut it contains the necessary data to continue with the API's described here.  \n\nThe information from the Supply file can be used to do an AvailabilityRequest to get more detailed data. This data can \nbe used for getting a Price breakdown using the ReceiptRequest or start the bookflow transaction using the Sell, \nAssign and BookRequests to create a booking in tui.nl.   \nWith AddProAvailability and AddProDetails information can be requested for available extra's and transportrental \nand added to the Sell, Assign and BookRequests.  \nThe BreakRequest can be used After SellRequest but before BookRequest to cancel the current transaction.\n\nIf a booking is successfully created the RecapRequest can be used to get all information from that booking \nand CancellationRequest can be used to directly cancel a booking.  \n\nThe schema's are based on the travelmessage.xsd and translated to OpenAPI specification. Not all groups and/or \nfields are used in the defined api's. Also it is possible that fields that are **not mandatory** for G7 are in \nfact **mandatory** for TUI.    \nAll api's are based on the 3.1 G7 version with a few changes to support TUI packages. The Supply has a \ncustom defined schema.\n"
servers:
- url: https://prod.api.tui
  description: Production
- url: https://playground.api.tui
  description: Playground for testing
tags:
- name: TravelMessage
paths:
  /travelmessage/v3.1/availabilityrequest:
    post:
      tags:
      - TravelMessage
      summary: Does an AvailabilityRequest
      description: "The availability of a journey can be requested with the dialogue Availability.  \nFor this API the \"*Package approach*\" is used. This means that filling the \"*PackageDetails*\" in the request \nwill return a complete package (Transport, accommodation and/or additional products) in the response. These\ncomponents must be used in the next steps of the booking process\n\n**Request:** Besides the mandatory fields only filtering is possible for:\n * DeparturePoint\n * BoardType \n\n**Response:**\n * Happy flow: Transport, Accommodation and AdditionalProducts data for chosen product\n * No availability: Error message given \"No data found\"\n * Error: Response has an errormessage\n"
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AvailabilityRequestTree'
            examples:
              AvailabilityRequest:
                $ref: '#/components/examples/AvailabilityRequestExample'
      responses:
        '200':
          description: AvailabilityRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AvailabilityResponseTree'
              examples:
                AvailabilityResponse:
                  $ref: '#/components/examples/AvailabilityResponseExample'
                AvailabilityResponse(no availability):
                  $ref: '#/components/examples/AvailabilityResponseNaExample'
                AvailabilityResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/receiptrequest:
    post:
      tags:
      - TravelMessage
      summary: Does a ReceiptRequest
      description: "The ReceiptRequest message can be done to get an actual price of a chosen package and components. It's a kind \nof combination of Sell- and AssignRequest but without starting a transaction.\nThe response contains only a price breakdown for each passenger. If no prices are found an errormessage\nwill be returned with the message \"no data found\".\n\nThe price description can contain only a description or a description plus additional information. If a price\ncomponent relates to the package itself only a description is given, for example \"reissom\". If a price is related\nto a specific component additional information is given to trace the price back to the component. This information\nis in the following format seperated with a pipe \"|\":\n  1. Description\n  2. Type (T = Transport, A = Accommodation/Unit, TE = Transport Extra, E = Extra)\n  3. Relation (depending on type)  \n    T = TransportID  \n    A = AccommodationID, UnitID and ArrivalDate  \n    TE = TransportID, GroupID, ExtraID, StartDate  \n    E = GroupID, ExtraID, startDate  \n\nExamples:\n  - Package: \"Reissom\"\n  - Transport (T) : \"Luchthaventoeslag|T|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ\"\n  - Accommodation(A): \"Vroegboekkorting|A|A0192836|2919b8e9-7ae3-4883-9ecf-0377d8a8d202|11/03/2023\"\n  - Transport Extra (TE): \"Klasse (PWIM)|TE|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ|SEAT|PWIM|2023-11-03\"\n  - Extra (E): \"Transfer (TXX)|E|Transfer|TXX|2023-11-03\"\n\nFor this Request/Response the v3.1.xsd is changed to fit the needs for TUI. \n\n**Response:**\n * Happy flow: Price breakdown for each passenger\n * No data found: response has an errormessage with type info  \n * Error: response has an errormessage        \n"
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ReceiptRequestTree'
            examples:
              ReceiptRequest:
                $ref: '#/components/examples/ReceiptRequestExample'
      responses:
        '200':
          description: ReceiptRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReceiptResponseTree'
              examples:
                ReceiptResponse:
                  $ref: '#/components/examples/ReceiptResponseExample'
                ReceiptResponse (no data found):
                  $ref: '#/components/examples/ReceiptResponseNaExample'
                ReceiptResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/sellrequest:
    post:
      tags:
      - TravelMessage
      summary: Does a SellRequest
      description: "The dialogue of Sell aims at indicating the package parts which have been selected for the subsequent\ndialogue. The message contains package information and optional information relating to Transport, \nAccommodation and Additional products (Roundtrip and Cruise information are not implemented yet).  \nFor TUI the SellRequest is used to create a new session. Some basic validation is taking place, \nand the response is more or less a copy of the request. It is important to put all the parts in the \nSellRequest, because they will be checked in the next step, the AssignRequest.  \nWhen parts are changed (for example rooms) or added (for example extra's) a new SellRequest has to be \ndone.  \n\n**Response:**\n * Happy flow: copy of request with status = \"OK\" \n * Error: response has an errormessage        \n"
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/SellRequestTree'
            examples:
              SellRequest:
                $ref: '#/components/examples/SellRequestExample'
      responses:
        '200':
          description: SellRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SellResponseTree'
              examples:
                SellResponse:
                  $ref: '#/components/examples/SellResponseExample'
                SellResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/assignrequest:
    post:
      tags:
      - TravelMessage
      summary: Does a AssignRequest
      description: "In the AssignRequest the passengers and there assignments to the package parts are given. The \"*SenderSessionID*\" \nof the SellResponse must be used as \"*ReceiverSessionID*\" in the AssignRequest to use the session created during\nthe SellRequest. Validation is done to check if the same parts are used as in SellRequest.  \nThe response may contain more elements then assigned (extras). These are default components which do not \ninfluence the price, like flight extra's as SeatsType, Meals, Luggage or default transfers. Usually upgrades \nfor these components are available. Because AssignResponse gives no description of these default components (just \nand ID and dates) the Extras itself will also be returned in te response. The means that the TResponse also \ncontains AdditionalProducts and Transport.TransportTo[From].AdditionalProducts.\n\nBesides these components also a price breakdown is returned. \nThe price description can contain only a description or a description plus additional information. If a price \ncomponent relates to the package itself only a description is given, for example \"reissom\". If a price is related \nto a specific component additional information is given to trace the price back to the component. This information \nis in the following format seperated with a pipe \"|\":\n1. Description \n2. Type (T = Transport, A = Accommodation/Unit, TE = Transport Extra, E = Extra)\n3. Relation (depending on type)  \n  T = TransportID  \n  A = AccommodationID, UnitID and ArrivalDate  \n  TE = TransportID, GroupID, ExtraID, StartDate  \n  E = GroupID, ExtraID, startDate  \n\nExamples:  \n  - Package: \"Reissom\"  \n  - Transport (T) : \"Luchthaventoeslag|T|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ\"    \n  - Accommodation(A): \"Vroegboekkorting|A|A0192836|2919b8e9-7ae3-4883-9ecf-0377d8a8d202|11/03/2023\"    \n  - Transport Extra (TE): \"Klasse (PWIM)|TE|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ|SEAT|PWIM|2023-11-03\"    \n  - Extra (E): \"Transfer (TXX)|E|Transfer|TXX|2023-11-03\"  \n\nChanges for passenger information (for example name) or a different assignment can be done without doing a new \nSellRequest.  \n\n**Response:**\n * Happy flow: Copy of assignment plus price breakdown \n * Error: response has an errormessage\n"
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AssignRequestTree'
            examples:
              AssignRequest:
                $ref: '#/components/examples/AssignRequestExample'
      responses:
        '200':
          description: AssignRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AssignResponseTree'
              examples:
                AssignResponse:
                  $ref: '#/components/examples/AssignResponseExample'
                AssignResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/bookrequest:
    post:
      tags:
      - TravelMessage
      summary: Does a BookRequest
      description: "There can be made a booking with the dialogue of BookRequest. Although the xml data of the BookRequest is \nthe same as the AssignRequest and required in the G7 XML for TUI only the confirmation counts. So using \nthe same \"*ReceiverSessionID*\" as in the AssignRequest is enough. Changes made to passengers and assignments \nat this stage will be ignored. The information that was in the Assign stage will be used.\n\n**Request:**\n  * Same as AssignRequest, but changes are ignored. \n\n**Response:**\n * Happy flow: Confirmed Booking (with BookID) \n * Error: response has an errormessage        \n"
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BookRequestTree'
            examples:
              BookRequest:
                $ref: '#/components/examples/BookRequestExample'
      responses:
        '200':
          description: BookRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BookResponseTree'
              examples:
                BookResponse:
                  $ref: '#/components/examples/BookResponseExample'
                BookResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/breakrequest:
    post:
      tags:
      - TravelMessage
      summary: Does a BreakRequest
      description: "The Break-dialogue allows the OTA to cut off a session between the travel agent and the tour operator decently.\nA new session can be started by sending a new SellRequest.                  \n\n**Response:**\n * Happy flow : Only a Control group is returned   \n * Error: response has an errormessage        \n"
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BreakRequestTree'
            examples:
              BreakRequest:
                $ref: '#/components/examples/BreakRequestExample'
      responses:
        '200':
          description: BreakRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BreakResponseTree'
              examples:
                BreakResponse:
                  $ref: '#/components/examples/BreakResponseExample'
                BreakResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/addproavailabilityrequest:
    post:
      tags:
      - TravelMessage
      summary: Does a AddProAvailabilityRequest
      description: "AddProAvailability is used to acquire summary information about additional products.  \nThere a two approaches defined in the ANVR documentation. With **overview** response, ResponseID is filled \nwith AvailabilityResponse. Only minimum information, ID and description are given in the response.   \nIf a **detailed** response is necessary ResponseID will be filled with AvailabilityDetailsResponse. Detailed \ninformation is given like prices, age restrictions allotment etc.  \n\nFor TUI both approaches are not implemented (yet) but a third approach is done.\nIf as RequestID/ResponseID \"*AddProAvailabilityTransportRequest/Response*\" is given with a Transportgroup \nthen detailed information is returned for extra's that are transport dependent. For example if flights \nare given extra's can be returned like luggage upgrades, meals upgrades and so on.  \n\nThe returned information can be used in the ReceiptRequest and the bookflow in Sell, Assign and BookRequest.  \n\n**Request:** \n * Overview, request only contains PackageDetails section and ResponseID is \"*AvailabilityResponse*\"  (not implemented)\n * Details, request only contains PackageDetails section and ResponseID is \"*AvailabilityDetailsResponse*\" (not implemented)\n * Transport, request contains PackageDetails and Transport section and RequestID/ResponseID is \n\"*AddProAvailabilityTransportRequest/Response*\"        \n\n**Response:** \n * Overview, only basic information is returned\n * Details, detailed information is returned \n * Transport, detailed information is returned for the given transports  \nThis information is grouped in Transport-AdditionalProducts-Extras and is related with the given transports \nby the group RelatedTransport\n"
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AddProAvailabilityRequestTree'
            examples:
              AddProAvailabilityRequest (Transport):
                $ref: '#/components/examples/AddProAvailabilityRequestTransportExample'
              AddProAvailabilityRequest:
                $ref: '#/components/examples/AddProAvailabilityRequestExample'
      responses:
        '200':
          description: AddProAvailabilityRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AddProAvailabilityResponseTree'
              examples:
                AddProAvailabilityResponse (Transport):
                  $ref: '#/components/examples/AddProAvailabilityResponseTransportExample'
                AddProAvailabilityResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
                AddProAvailabilityResponse:
                  value: <TravelMessage>NOT IMPLEMENTED</TravelMessage>
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/addprodetailsrequest:
    post:
      tags:
      - TravelMessage
      summary: Does a AddProDetailsRequest
      description: "AddProDetails is used to acquire detailed information about additional products. It is a continuation of the  AddProAvailability overview request. It is possible to get separate information for each extra or transport  rental, just by adding the extra or transport rental in the request.  \n  **NOT IMPLEMENTED (YET)**\n"
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AddProDetailsRequestTree'
            examples:
              AddProDetailsRequest:
                $ref: '#/components/examples/AddProDetailsRequest'
      responses:
        '200':
          description: AddProDetailsRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AddProDetailsResponseTree'
              examples:
                AddProDetailsResponse:
                  $ref: '#/components/examples/AddProDetailsResponse'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/recaprequest:
    post:
      tags:
      - TravelMessage
      summary: Does a RecapRequest
      description: "With the dialogue of Recap a recapitulation from the data stored at the Touroperator concerning the \ncurrent session or currently booked trip can be requested.     \n\nFor TUI only getting the requested booking is implemented.  \n\n**Request:**\n* Only \"*BookID*\" is required in the SecurityInfo group.  \n\n**Response:**\n* All information concerning the given booking like Passenger info, Transport, Accommodation Extra's, and Prices. \n* Error: if booking cannot be found with given request data\n\nThe price description can contain only a description or a description plus additional information. If a price\ncomponent relates to the package itself only a description is given, for example \"reissom\". If a price is related\nto a specific component additional information is given to trace the price back to the component. This information\nis in the following format seperated with a pipe \"|\":\n  1. Description\n  2. Type (T = Transport, A = Accommodation/Unit, TE = Transport Extra, E = Extra)\n  3. Relation (depending on type)  \n    T = TransportID  \n    A = AccommodationID, UnitID and ArrivalDate  \n    TE = TransportID, GroupID, ExtraID, StartDate  \n    E = GroupID, ExtraID, startDate  \n\nExamples:\n  - Package: \"Reissom\"\n  - Transport (T) : \"Luchthaventoeslag|T|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ\"\n  - Accommodation(A): \"Vroegboekkorting|A|A0192836|2919b8e9-7ae3-4883-9ecf-0377d8a8d202|11/03/2023\"\n  - Transport Extra (TE): \"Klasse (PWIM)|TE|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ|SEAT|PWIM|2023-11-03\"\n  - Extra (E): \"Transfer (TXX)|E|Transfer|TXX|2023-11-03\"        \n"
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/RecapRequestTree'
            examples:
              RecapRequestExample:
                $ref: '#/components/examples/RecapRequestExample'
      responses:
        '200':
          description: RecapRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RecapResponseTree'
              examples:
                RecapResponseExample:
                  $ref: '#/components/examples/RecapResponseExample'
                RecapResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/cancellationrequest:
    post:
      tags:
      - TravelMessage
      summary: Does a CancellationRequest
      description: "Two messages will be send by cancelling a booking; a CancellationRequest followed by a CancellationConfirmedRequest. \nThis is because of the possible cancellation costs which require confirmation.\n\nFor TUI now only CancellationConfirmedRequest is implemented. No check yet for getting the cancellation cost \nfirst. \n\n**Request:**\n* \"*BookID*\", \"*DepartureDate*\" and \"*ContactName*\" are required in the SecurityInfo group.  \n\n**Response:**\n* Given back cancellation costs when cancellation is done. \n* Error: If booking is not found or booking is already cancelled\n"
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CancellationRequestTree'
            examples:
              CancellationRequestExample:
                $ref: '#/components/examples/CancellationConfirmedRequestExample'
      responses:
        '200':
          description: CancellationRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CancellationResponseTree'
              examples:
                CancellationResponse:
                  $ref: '#/components/examples/CancellationConfirmedResponseExample'
                CancellationResponse (Already Cancelled):
                  $ref: '#/components/examples/CancellationConfirmedResponseAcExample'
                CancellationResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    UnitType:
      type: string
      pattern: (\d+pk)|(\d+PK)|(\d+ka)|(\d+KA)|(\d+kb)|(\d+KB)|(\d+kw)|(\d+KW)|(\d+kv)|(\d+KV)|(\d+ph)|(\d+PH)|(\d+pt)|(\d+PT)|(\d+pc)|(\d+PC)|(\d+ks)|(\d+KS)|(\d+pl)|(\d+PL)|(\d+ps)|(\d+PS)|(\d+pz)|(\d+PZ)|(\d+gk)|(\d+GK)|(\d+tc)|(\d+TC)|(div)|(DIV)|(stn)|(STN)
    Accommodation:
      title: Accommodation
      type: object
      properties:
        AccommodationID:
          type: string
        ComponentID:
          type: string
        AccommodationType:
          $ref: '#/components/schemas/AccommodationType'
        Name:
          type: string
        Address:
          type: string
        ZipCode:
          type: string
        Place:
          type: string
        CountryID:
          $ref: '#/components/schemas/ISOCountry'
        GPSCode:
          $ref: '#/components/schemas/GPSCode'
        Telephone:
          type: string
        ArrivalDate:
          type: string
          format: YYYY-MM-DD
        DepartureDate:
          type: string
          format: YYYY-MM-DD
        Duration:
          $ref: '#/components/schemas/Duration'
        Unit:
          type: array
          title: Unit
          items:
            $ref: '#/components/schemas/Unit'
        Arrangement:
          type: array
          title: Arrangement
          items:
            $ref: '#/components/schemas/Arrangement'
        Extras:
          type: array
          title: Extras
          items:
            $ref: '#/components/schemas/Extras'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
      required:
      - AccommodationID
      - ArrivalDate
      - Duration
      - Unit
    PaxDetailsReceipt:
      type: object
      properties:
        PaxID:
          $ref: '#/components/schemas/PaxID'
        DateOfBirth:
          $ref: '#/components/schemas/Date'
        Discounts:
          $ref: '#/components/schemas/Discounts'
    BookResponse:
      type: object
      properties:
        BookID:
          type: string
        BookEmployeeID:
          type: string
        Date:
          type: string
          format: YYYY-MM-DD
        Time:
          $ref: '#/components/schemas/Time'
        OptionDate:
          type: string
          format: YYYY-MM-DD
        Status:
          $ref: '#/components/schemas/Status'
        BookInfo:
          $ref: '#/components/schemas/BookInfo'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
      required:
      - BookID
      - Date
      - Time
      - Status
      - OptionDate
    PointType:
      type: string
      enum:
      - IATAcode
      - Postcode
      - Internal
      - ANVRLandStreek
      xml:
        attribute: true
    MutationType:
      type: string
      enum:
      - Deletion
      - Mutation
      - New
      - Reset
    AvailabilityResponseTree:
      type: object
      title: Travelmessage (AvailabilityResponse)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            Transport:
              type: array
              title: Transport
              items:
                $ref: '#/components/schemas/Transport'
            Accommodation:
              type: array
              title: Accommodation
              items:
                $ref: '#/components/schemas/Accommodation'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    BookInfo:
      type: object
      properties:
        InvoiceID:
          type: string
        InvoiceDate:
          type: string
          format: YYYY-MM-DD
        InvoiceStatus:
          type: string
        TravelDocumentsStatus:
          type: string
    Carrier:
      type: object
      properties:
        CarrierID:
          type: string
        Description:
          type: string
        FlightNumber:
          type: string
        Stopovers:
          type: object
          properties:
            NumberOfStops:
              type: number
              xml:
                attribute: true
            Stop:
              type: object
              properties:
                Index:
                  type: number
                  xml:
                    attribute: true
                Arrival:
                  allOf:
                  - $ref: '#/components/schemas/DateAndTime'
                  required:
                  - Date
                Departure:
                  allOf:
                  - $ref: '#/components/schemas/DateAndTime'
                  required:
                  - Date
                Point:
                  $ref: '#/components/schemas/Point'
                Checkin:
                  $ref: '#/components/schemas/YesNoValue'
                LeaveFlight:
                  $ref: '#/components/schemas/YesNoValue'
          required:
          - NumberOfStops
      required:
      - CarrierID
      - Stopovers
    APAssignment:
      type: object
      properties:
        ExtrasAssignment:
          type: array
          title: ExtrasAssignment
          items:
            $ref: '#/components/schemas/ExtrasAssignment'
        TRentalAssignment:
          type: array
          title: TRentalAssignment
          items:
            $ref: '#/components/schemas/TRentalAssignment'
    AccommodationType:
      type: string
      enum:
      - alb
      - apo
      - app
      - bnb
      - bng
      - bry
      - cam
      - car
      - cha
      - cpr
      - cru
      - est
      - ghf
      - gue
      - hos
      - hot
      - hui
      - kas
      - mai
      - mot
      - pen
      - pou
      - res
      - rh
      - ron
      - sch
      - tnt
      - vak
      - vil
      - wng
      - ALB
      - APO
      - APP
      - BNB
      - BNG
      - BRY
      - CAM
      - CAR
      - CHA
      - CPR
      - CRU
      - EST
      - GHF
      - GUE
      - HOS
      - HOT
      - HUI
      - KAS
      - MAI
      - MOT
      - PEN
      - POU
      - RES
      - RH
      - RON
      - SCH
      - TNT
      - VAK
      - VIL
      - WNG
    Unit:
      title: Unit
      type: object
      properties:
        UnitID:
          type: string
        UnitType:
          $ref: '#/components/schemas/UnitType'
        UnitDif:
          type: string
        Description:
          type: string
        RoomNumber:
          title: RoomNumber
          type: array
          items:
            $ref: '#/components/schemas/RoomNumber'
        Board:
          title: Board
          type: array
          items:
            $ref: '#/components/schemas/Board'
        MinOccupancy:
          $ref: '#/components/schemas/Occupancy'
        MaxOccupancy:
          $ref: '#/components/schemas/Occupancy'
        Allotment:
          title: Allotment
          type: integer
          format: int32
        RequiredNumber:
          title: Required Number
          type: integer
          format: int32
        Status:
          $ref: '#/components/schemas/Status'
        UnitPrice:
          type: array
          title: UnitPrice
          items:
            $ref: '#/components/schemas/UnitPrice'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            $ref: '#/components/schemas/PriceNote'
        Facility:
          type: array
          title: Facility
          items:
            $ref: '#/components/schemas/Facility'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
        CancellationInformation:
          $ref: '#/components/schemas/CancellationInformation'
        RoomAssignment:
          type: array
          title: RoomAssignment
          items:
            $ref: '#/components/schemas/RoomAssignment'
      required:
      - UnitID
      - UnitType
    Arrangement:
      title: Arrangement
      type: object
      properties:
        ArrangementID:
          type: string
        Sequence:
          type: string
        Description:
          type: string
        ArrivalDate:
          type: string
          format: YYYY-MM-DD
        Duration:
          $ref: '#/components/schemas/Duration'
        Allotment:
          type: integer
          format: int32
      required:
      - ArrangementID
      - Sequence
      - ArrivalDate
      - Duration
      - Allotment
    Extras:
      type: object
      properties:
        Required:
          $ref: '#/components/schemas/YesNoValue'
        CategoryChoice:
          $ref: '#/components/schemas/YesNoValue'
        ExtraID:
          type: string
        Sequence:
          type: string
        Description:
          type: string
        ExtendedDescription:
          type: string
        ExtrasCategory:
          $ref: '#/components/schemas/ExtrasCategoryType'
        From:
          $ref: '#/components/schemas/DateAndTime'
        To:
          $ref: '#/components/schemas/DateAndTime'
        Allotment:
          type: number
        Status:
          $ref: '#/components/schemas/Status'
        MinQuantity:
          type: number
        MaxQuantity:
          type: number
        RecomPrice:
          type: array
          title: RecomPrice
          items:
            $ref: '#/components/schemas/RecomPrice'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            type: string
        MinChildAge:
          type: number
        MaxChildAge:
          type: number
        ChildPrice:
          title: ChildPrice
          type: object
          properties:
            Currency:
              $ref: '#/components/schemas/CurrencyType'
            Sign:
              $ref: '#/components/schemas/Sign'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
        RelatedTransport:
          type: array
          title: RelatedTransport
          items:
            $ref: '#/components/schemas/RelatedTransport'
        CancellationInformation:
          $ref: '#/components/schemas/CancellationInformation'
        Prices:
          type: object
          title: Prices
          properties:
            AgeRestrictedPrice:
              type: array
              items:
                type: object
                properties:
                  Default:
                    type: string
                    xml:
                      attribute: true
                  RecomPrice:
                    $ref: '#/components/schemas/RecomPrice'
                  Description:
                    type: string
                  ExtendedDescription:
                    type: string
                  MinAge:
                    type: integer
                  MaxAge:
                    type: integer
        ExtrasPax:
          type: array
          title: ExtrasPax
          items:
            $ref: '#/components/schemas/ExtrasPax'
        GroupID:
          type: string
      required:
      - ExtraID
      - Description
    PackageDetailsReceipt:
      type: object
      properties:
        PackageID:
          $ref: '#/components/schemas/PackageID'
        DepartureDate:
          $ref: '#/components/schemas/Date'
        Duration:
          $ref: '#/components/schemas/Duration'
      required:
      - PackageID
      - DepartureDate
      - Duration
    ExtrasPax:
      type: object
      properties:
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
        Quantity:
          type: number
      required:
      - PaxID
      - Quantity
    BreakRequestTree:
      type: object
      title: TravelMessage (BreakRequest)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
    Board:
      title: Board
      type: object
      properties:
        BoardType:
          $ref: '#/components/schemas/BoardType'
        Description:
          type: string
          title: Description
        PriceNotes:
          type: array
          items:
            $ref: '#/components/schemas/PriceNote'
      required:
      - BoardType
    Arrival:
      type: object
      properties:
        Point:
          $ref: '#/components/schemas/Point'
        Date:
          type: string
          format: YYYY-MM-DD
        Time:
          $ref: '#/components/schemas/Time'
        DropOff:
          $ref: '#/components/schemas/DropOff'
      required:
      - Point
      - Date
    AddProAvailabilityResponseTree:
      type: object
      title: Travelmessage (AddProAvailabilityResponse)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            PackageDetails:
              $ref: '#/components/schemas/PackageDetails'
            Transport:
              $ref: '#/components/schemas/Transport'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    DocumentDeliveryID:
      type: string
      enum:
      - EMAIL
      - POST
      - URL
    BreakResponseTree:
      type: object
      title: TravelMessage (BreakResponse)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
    Insurance:
      type: object
      properties:
        InsuranceID:
          type: string
        Description:
          type: string
        ExtendedDescription:
          type: string
        Category:
          type: string
        RecomPrice:
          type: array
          title: RecomPrice
          items:
            $ref: '#/components/schemas/RecomPrice'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            type: string
        PriceType:
          $ref: '#/components/schemas/PriceType'
        PriceDescription:
          type: string
        PolicyCosts:
          type: number
        Coverage:
          type: string
        Risk:
          type: string
      required:
      - InsuranceID
      - Description
    CancellationResponseTree:
      type: object
      title: TravelMessage (CancellationResponse)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            PriceInfo:
              $ref: '#/components/schemas/PriceInfo'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    Duration:
      type: object
      title: Duration
      properties:
        Duration:
          $ref: '#/components/schemas/DurationType'
    AddProDetailsRequestTree:
      type: object
      title: Travelmessage (AddProDetailsRequest)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            SellRequest:
              $ref: '#/components/schemas/AddProDetailsRequest'
    Date:
      type: string
      format: YYYY-MM-DD
    Document:
      type: object
      properties:
        DocumentType:
          type: object
          title: DocumentType
          properties:
            DocumentTypeID:
              $ref: '#/components/schemas/DocumentTypeID'
            Description:
              type: string
          required:
          - DocumentTypeID
        DocumentDelivery:
          type: object
          title: DocumentDelivery
          properties:
            DocumentDeliveryID:
              $ref: '#/components/schemas/DocumentDeliveryID'
            Description:
              type: string
          required:
          - DocumentDeliveryID
        DocumentAddressType:
          type: array
          title: DocumentAddressType
          items:
            type: object
            properties:
              DocumentAddressTypeID:
                $ref: '#/components/schemas/DocumentAddressTypeID'
              Description:
                type: string
            required:
            - DocumentAddressTypeID
      required:
      - DocumentType
      - DocumentDelivery
      - DocumentAddressType
    SellRequest:
      type: object
      properties:
        PackageDetails:
          $ref: '#/components/schemas/PackageDetails'
        Transport:
          type: array
          title: Transport
          items:
            $ref: '#/components/schemas/Transport'
        Accommodation:
          type: array
          title: Accommodation
          items:
            $ref: '#/components/schemas/Accommodation'
        AdditionalProducts:
          $ref: '#/components/schemas/AdditionalProducts'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
      required:
      - PackageDetails
      - Responsibilities
    TransportFromTo:
      type: object
      properties:
        TransportID:
          type: string
        ComponentID:
          type: string
        Sequence:
          type: string
        TransportType:
          $ref: '#/components/schemas/TransportType'
        Carrier:
          $ref: '#/components/schemas/Carrier'
        Departure:
          $ref: '#/components/schemas/Departure'
        Arrival:
          $ref: '#/components/schemas/Arrival'
        Status:
          $ref: '#/components/schemas/Status'
        Class:
          type: array
          title: Class
          items:
            $ref: '#/components/schemas/Class'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
      required:
      - TransportID
      - TransportType
      - Departure
      - Arrival
    PaxDescription:
      type: object
      properties:
        PaxID:
          type: string
        GivenNames:
          type: string
        Initials:
          type: string
        Infix:
          type: string
        Name:
          type: string
        DateOfBirth:
          type: string
          format: YYYY-MM-DD
        Age:
          type: number
        Gender:
          $ref: '#/components/schemas/Gender'
        Nationality:
          type: string
        PassportNumber:
          type: string
        Discounts:
          $ref: '#/components/schemas/Discounts'
      required:
      - PaxID
      - Initials
      - Name
      - DateOfBirth
      - Gender
    TravelMessageVersionID:
      type: string
      enum:
      - '3.1'
      xml:
        attribute: true
    PriceDetails:
      type: object
      properties:
        PriceDescription:
          type: string
        PriceCode:
          $ref: '#/components/schemas/PriceCode'
        Price:
          $ref: '#/components/schemas/Price'
        PaxID:
          type: string
        Qantity:
          type: number
        VATRate:
          type: number
        AdditionalCharge:
          $ref: '#/components/schemas/CurrencyType'
        Discount:
          $ref: '#/components/schemas/CurrencyType'
      required:
      - PriceDescription
      - Price
    AssignRequest:
      type: object
      properties:
        PaxDetails:
          $ref: '#/components/schemas/PaxDetails'
        PaxAssignment:
          $ref: '#/components/schemas/PaxAssignment'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
        Discounts:
          $ref: '#/components/schemas/Discounts'
      required:
      - PaxDetails
      - PaxAssignment
      - Responsibilities
    BookRequest:
      type: object
      properties:
        PaxDetails:
          $ref: '#/components/schemas/PaxDetails'
        PaxAssignment:
          $ref: '#/components/schemas/PaxAssignment'
        FulfilmentComponent:
          $ref: '#/components/schemas/FulfilmentComponent'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
        Discounts:
          $ref: '#/components/schemas/Discounts'
      required:
      - PaxDetails
      - PaxAssignment
      - Responsibilities
    TravelMessage:
      type: object
      properties:
        VersionID:
          $ref: '#/components/schemas/TravelMessageVersionID'
        Control:
          $ref: '#/components/schemas/Control'
      required:
      - Control
      - VersionID
      additionalProperties: false
    AgeType:
      type: string
      enum:
      - Max
      - Min
      xml:
        attribute: true
    RoomNumber:
      title: RoomNumber
      type: integer
      format: int32
    ISOCountry:
      type: string
      enum:
      - ad
      - ae
      - af
      - ag
      - ai
      - al
      - am
      - an
      - ao
      - aq
      - ar
      - as
      - at
      - au
      - aw
      - ax
      - az
      - ba
      - bb
      - bd
      - be
      - bf
      - bg
      - bh
      - bi
      - bj
      - bl
      - bm
      - bn
      - bo
      - br
      - bs
      - bt
      - bv
      - bw
      - by
      - bz
      - ca
      - cc
      - cd
      - cf
      - cg
      - ch
      - ci
      - ck
      - cl
      - cm
      - cn
      - co
      - cr
      - cu
      - cv
      - cx
      - cy
      - cz
      - de
      - dj
      - dk
      - dm
      - do
      - dz
      - ec
      - ee
      - eg
      - eh
      - er
      - es
      - et
      - fi
      - fj
      - fk
      - fm
      - fo
      - fr
      - ga
      - gb
      - gd
      - ge
      - gf
      - gg
      - gh
      - gi
      - gl
      - gm
      - gn
      - gp
      - gq
      - gr
      - gs
      - gt
      - gu
      - gw
      - gy
      - hk
      - hm
      - hn
      - hr
      - ht
      - hu
      - id
      - ie
      - il
      - im
      - in
      - io
      - iq
      - ir
      - is
      - it
      - je
      - jm
      - jo
      - jp
      - ke
      - kg
      - kh
      - ki
      - km
      - kn
      - kp
      - kr
      - kw
      - ky
      - kz
      - la
      - lb
      - lc
      - li
      - lk
      - lr
      - ls
      - lt
      - lu
      - lv
      - ly
      - ma
      - mc
      - md
      - me
      - mf
      - mg
      - mh
      - mk
      - ml
      - mm
      - mn
      - mo
      - mp
      - mq
      - mr
      - ms
      - mt
      - mu
      - mv
      - mw
      - mx
      - my
      - mz
      - na
      - nc
      - ne
      - nf
      - ng
      - ni
      - nl
      - false
      - np
      - nr
      - nu
      - nz
      - om
      - pa
      - pe
      - pf
      - pg
      - ph
      - pk
      - pl
      - pm
      - pn
      - pr
      - ps
      - pt
      - pw
      - py
      - qa
      - re
      - ro
      - rs
      - ru
      - rw
      - sa
      - sb
      - sc
      - sd
      - se
      - sg
      - sh
      - si
      - sj
      - sk
      - sl
      - sm
      - sn
      - so
      - sr
      - st
      - sv
      - sy
      - sz
      - tc
      - td
      - tf
      - tg
      - th
      - tj
      - tk
      - tl
      - tm
      - tn
      - to
      - tr
      - tt
      - tv
      - tw
      - tz
      - ua
      - ug
      - um
      - us
      - uy
      - uz
      - va
      - vc
      - ve
      - vg
      - vi
      - vn
      - vu
      - wf
      - ws
      - ye
      - yt
      - za
      - zm
      - zw
      - bq
      - cw
      - sx
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AN
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - false
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - ST
      - SV
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      - BQ
      - CW
      - SX
    AvailabilityRequest:
      type: object
      properties:
        PackageDetails:
          $ref: '#/components/schemas/PackageDetails'
    DateAndTime:
      title: DateAndTime
      type: object
      properties:
        Date:
          type: string
          format: YYYY-MM-DD
        Time:
          $ref: '#/components/schemas/Time'
    PriceCode:
      type: string
      enum:
      - 1
      - 2
      - 9
      - 10
      - 15
      - 018
      - 019
      - 16
      - 17
      - 18
      - 20
      - 21
      - 22
      - 26
      - 32
      - 33
      - 34
      - 48
      - 090
      - 100
      - 111
      - 116
      - 117
      - 119
      - 128
      - 129
      - 130
      - 131
      - 150
      - 152
      - 170
      - 180
      - 190
      - 220
      - 329
      - 350
      - 999
    PriceInfo:
      type: object
      properties:
        Price:
          $ref: '#/components/schemas/Price'
        PricePaySupplyer:
          allOf:
          - $ref: '#/components/schemas/PricePay'
          title: PricePaySupplyer
        PricePayLocally:
          allOf:
          - $ref: '#/components/schemas/PricePay'
          title: PricePayLocally
        TotalCommission:
          type: object
          properties:
            Currency:
              $ref: '#/components/schemas/CurrencyType'
            Sign:
              $ref: '#/components/schemas/Sign'
      required:
      - Price
      - PricePaySupplyer
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Gender:
      type: string
      enum:
      - m
      - v
      - M
      - V
    HomeStay:
      type: object
      properties:
        Initials:
          type: string
        Infix:
          type: string
        Name:
          type: string
        TelHome:
          type: string
        TelWork:
          type: string
        TelMobile:
          type: string
        Email:
          type: string
      required:
      - Name
      - TelHome
    ControlLanguage:
      type: string
      enum:
      - NL
      xml:
        attribute: true
    FulfilmentComponent:
      type: object
      properties:
        Document:
          type: array
          title: Document
          items:
            $ref: '#/components/schemas/Document'
      required:
      - Document
    ReceiptRequestTree:
      type: object
      title: Travelmessage (ReceiptRequest)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            ReceiptRequest:
              $ref: '#/components/schemas/ReceiptRequest'
    TRentalAssignment:
      type: object
      properties:
        TransportRentalID:
          type: string
        Sequence:
          type: string
        PickUp:
          type: array
          title: PickUp
          items:
            $ref: '#/components/schemas/PickUp'
        DropOff:
          type: array
          title: DropOff
          items:
            $ref: '#/components/schemas/DropOff'
        InsuranceAssignment:
          $ref: '#/components/schemas/InsuranceAssignment'
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
      - TransportRentalID
      - Sequence
      - PaxID
    MultiMediaViewValues:
      type: string
      enum:
      - Detail
      - Overview
      - Environment
      xml:
        attribute: true
    MultiMediaTypeValues:
      type: string
      enum:
      - Photo
      - Map
      - Illustration
      - Logo
      - Movie
      xml:
        attribute: true
    SecurityInfo:
      type: object
      properties:
        BookID:
          type: string
        DepartureDate:
          type: string
          format: YYYY-MM-DD
        NumberOfAdults:
          type: number
        ContactName:
          type: string
        SenderID:
          type: string
      required:
      - BookID
    Contact:
      type: object
      properties:
        PaxID:
          type: string
        Initials:
          type: string
        Infix:
          type: string
        Name:
          type: string
        Gender:
          $ref: '#/components/schemas/Gender'
        Address:
          type: string
        Zipcode:
          type: string
        Place:
          type: string
        Country:
          type: string
        TelHome:
          type: string
        TelWork:
          type: string
        TelMobile:
          type: string
        Email:
          type: string
        BankAccount:
          type: string
      required:
      - Name
      - Gender
      - TelHome
    TimeReliability:
      enum:
      - zeker
      - voorbehoud
      type:
      - string
      - 'null'
      xml:
        attribute: true
    MultiMediaFormatValues:
      type: string
      enum:
      - GIF
      - BMP
      - SVG
      - EPS
      - AVI
      - WAV
      - MP3
      - XML
      - HTML
      - PDF
      - TXT
      xml:
        attribute: true
    GPSCode:
      type: object
      properties:
        Latitude:
          type: object
          properties:
            LatitudeDirection:
              $ref: '#/components/schemas/LatitudeDirection'
            LatitudeDegrees:
              type: number
            LatitudeMinutes:
              type: number
            LatitudeSeconds:
              type: number
            LatitudeDecimal:
              type: number
          required:
          - LatitudeDirection
          - LatitudeDegrees
          - LatitudeMinutes
          - LatitudeSeconds
          - LatitudeDecimal
        Longitude:
          type: object
          properties:
            LongitudeDirection:
              $ref: '#/components/schemas/LongitudeDirection'
            LongitudeDegrees:
              type: number
            LongitudeMinutes:
              type: number
            LongitudeSeconds:
              type: number
            LongitudeDecimal:
              type: number
          required:
          - LongitudeDirection
          - LongitudeDegrees
          - LongitudeMinutes
          - LongitudeSeconds
          - LongitudeDecimal
      required:
      - Latitude
      - Longitude
    AddProDetailsRequest:
      type: object
      title: SellRequest
      properties:
        PackageDetails:
          $ref: '#/components/schemas/PackageDetails'
        AdditionalProducts:
          $ref: '#/components/schemas/AdditionalProducts'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
      required:
      - PackageDetails
      - Responsibilities
    PaxAssignment:
      type: object
      properties:
        TransportAssignment:
          type: array
          title: TransportAssignment
          items:
            $ref: '#/components/schemas/TransportAssignment'
        AccoAssignment:
          type: array
          title: AccoAssignment
          items:
            $ref: '#/components/schemas/AccoAssignment'
        PreferencesAndEssentials:
          title: PreferencesAndEssentials
          type: array
          items:
            $ref: '#/components/schemas/PreferencesAndEssentials'
        APAssignment:
          $ref: '#/components/schemas/APAssignment'
    Sign:
      type: string
      enum:
      - '-'
      xml:
        attribute: true
    BookResponseTree:
      type: object
      title: Travelmessage (BookResponse)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            BookResponse:
              $ref: '#/components/schemas/BookResponse'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    PaxDetails:
      type: object
      properties:
        PaxDescription:
          type: array
          title: PaxDescription
          items:
            $ref: '#/components/schemas/PaxDescription'
        Contact:
          $ref: '#/components/schemas/Contact'
        HomeStay:
          $ref: '#/components/schemas/HomeStay'
      required:
      - PaxDescription
      - HomeStay
    BookRequestTree:
      type: object
      title: Travelmessage (BookRequest)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            BookRequest:
              $ref: '#/components/schemas/BookRequest'
    DurationType:
      type: string
      enum:
      - dagen
      - nachten
      xml:
        attribute: true
    UnitPrice:
      type: object
      properties:
        BoardType:
          $ref: '#/components/schemas/BoardType'
        Price:
          $ref: '#/components/schemas/Price'
        PriceIncluded:
          $ref: '#/components/schemas/PriceValue'
        PriceLocalIncluded:
          $ref: '#/components/schemas/PriceValue'
        MutationType:
          $ref: '#/components/schemas/MutationType'
        OfferType:
          title: Offer Type
          type: string
        Status:
          $ref: '#/components/schemas/Status'
        Occupancy:
          title: Occupancy
          type: integer
          format: int16
      required:
      - BoardType
      - Price
      - Status
    Responsibilities:
      type: object
      properties:
        SalesResponsibility:
          $ref: '#/components/schemas/SalesResponsibilityType'
      required:
      - SalesResponsibility
    PriceValue:
      type: object
      properties:
        Currency:
          $ref: '#/components/schemas/CurrencyType'
        PricePer:
          $ref: '#/components/schemas/PricePer'
        Sign:
          $ref: '#/components/schemas/Sign'
    RelatedTransport:
      type: object
      properties:
        TransportID:
          type: string
        ClassID:
          type: string
    AddProAvailabilityRequestTree:
      type: object
      title: Travelmessage (AddProAvailabilityRequest)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            SellRequest:
              $ref: '#/components/schemas/AddProAvailabilityRequest'
    Time:
      type: object
      properties:
        Reliability:
          $ref: '#/components/schemas/TimeReliability'
    ReceiptResponse:
      type: object
      properties:
        PriceInfo:
          $ref: '#/components/schemas/PriceInfo'
        CancellationPolicty:
          $ref: '#/components/schemas/CancellationPolicy'
    CurrencyType:
      type: string
      enum:
      - EUR
      xml:
        attribute: true
    AccoAssignment:
      type: object
      properties:
        AccommodationID:
          type: string
        ComponentID:
          type: string
        Sequence:
          type: string
        ArrivalDate:
          type: string
          format: YYYY-MM-DD
        Duration:
          $ref: '#/components/schemas/Duration'
        DepartureDate:
          type: string
          format: YYYY-MM-DD
        BoardAssignment:
          type: array
          title: BoardAssignment
          items:
            $ref: '#/components/schemas/BoardAssignment'
        UnitAssignment:
          type: array
          title: UnitAssignment
          items:
            $ref: '#/components/schemas/UnitAssignment'
        ExtrasAssignment:
          type: array
          title: ExtrasAssignment
          items:
            $ref: '#/components/schemas/ExtrasAssignment'
      required:
      - AccommodationID
      - ArrivalDate
      - Duration
      - UnitAssignment
    SellRequestTree:
      type: object
      title: Travelmessage (SellRequest)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            SellRequest:
              $ref: '#/components/schemas/SellRequest'
    Point:
      type: object
      properties:
        PointType:
          $ref: '#/components/schemas/PointType'
        PointID:
          type: string
        Description:
          type: string
        GPSCode:
          $ref: '#/components/schemas/GPSCode'
      required:
      - PointType
      - PointID
    AssignResponseTree:
      type: object
      title: Travelmessage (AssignResponse)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            Transport:
              $ref: '#/components/schemas/Transport'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            PaxAssignment:
              $ref: '#/components/schemas/PaxAssignment'
            PriceInfo:
              $ref: '#/components/schemas/PriceInfo'
            CancellationPolicy:
              $ref: '#/components/schemas/CancellationPolicy'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    InsuranceAssignment:
      type: object
      properties:
        insuranceID:
          type: string
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
        Quantity:
          type: number
      required:
      - insuranceID
      - Quantity
    RecapResponseTree:
      type: object
      title: Travelmessage (RecapResponse)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            PackageDetails:
              $ref: '#/components/schemas/PackageDetails'
            Transport:
              type: array
              title: Transport
              items:
                $ref: '#/components/schemas/Transport'
            Accommodation:
              title: Accommodation
              type: array
              items:
                $ref: '#/components/schemas/Accommodation'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            PaxDetails:
              $ref: '#/components/schemas/PaxDetails'
            PaxAssignment:
              $ref: '#/components/schemas/PaxAssignment'
            PriceInfo:
              $ref: '#/components/schemas/PriceInfo'
            BookResponse:
              $ref: '#/components/schemas/BookResponse'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    TransportRental:
      type: object
      properties:
        TransportRentalID:
          type: string
        Sequence:
          type: string
        Description:
          type: string
        ExtendedDescription:
          type: string
        Category:
          type: string
        Status:
          $ref: '#/components/schemas/Status'
        PickUp:
          type: array
          title: PickUp
          items:
            $ref: '#/components/schemas/PickUp'
        DropOff:
          type: array
          title: DropOff
          items:
            $ref: '#/components/schemas/DropOff'
        RecomPrice:
          type: array
          title: RecomPrice
          items:
            $ref: '#/components/schemas/RecomPrice'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            type: string
        Insurance:
          $ref: '#/components/schemas/Insurance'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
        CancellationInformation:
          $ref: '#/components/schemas/CancellationInformation'
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
        GroupID:
          type: string
      required:
      - TransportRentalID
      - Description
    Transport:
      type: object
      properties:
        TransportTo:
          type: array
          title: TransportTo
          items:
            $ref: '#/components/schemas/TransportFromTo'
        TransportFrom:
          type: array
          title: TransportFrom
          items:
            $ref: '#/components/schemas/TransportFromTo'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            type: string
        AdditionalProducts:
          $ref: '#/components/schemas/AdditionalProducts'
      required:
      - TransportTo
    RecapRequestTree:
      type: object
      title: Travelmessage (RecapRequest)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            SecurityInfo:
              $ref: '#/components/schemas/SecurityInfo'
    AddProDetailsResponseTree:
      type: object
      title: Travelmessage (AddProDetailsResponse)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            PackageDetails:
              $ref: '#/components/schemas/PackageDetails'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    BoardType:
      type: string
      enum:
      - lg
      - lo
      - hp
      - vp
      - ab
      - bb
      - cb
      - br
      - vb
      - ai
      - dv
      - ph
      - pv
      - pa
      - ua
      - ld
      - LG
      - LO
      - HP
      - VP
      - AB
      - BB
      - CB
      - BR
      - VB
      - AI
      - DV
      - PH
      - PV
      - PA
      - UA
      - LD
    DropOff:
      type: object
      properties:
        Point:
          $ref: '#/components/schemas/Point'
        Date:
          type: string
          format: YYYY-MM-DD
        Time:
          $ref: '#/components/schemas/Time'
      required:
      - Point
      - Date
    AdditionalProducts:
      type: object
      properties:
        Extras:
          type: array
          title: Extras
          items:
            $ref: '#/components/schemas/Extras'
        TransportRental:
          type: array
          title: TransportRental
          items:
            $ref: '#/components/schemas/TransportRental'
    Occupancy:
      type: object
      properties:
        Occupation:
          $ref: '#/components/schemas/Occupation'
    PricePay:
      type: object
      properties:
        Price:
          $ref: '#/components/schemas/Price'
        PriceDetails:
          type: array
          title: PriceDetails
          items:
            $ref: '#/components/schemas/PriceDetails'
      required:
      - Price
      - PriceDetails
    Price:
      type: object
      properties:
        Currency:
          $ref: '#/components/schemas/CurrencyType'
        PricePer:
          $ref: '#/components/schemas/PricePer'
        Sign:
          $ref: '#/components/schemas/Sign'
        CommissionPercentage:
          title: Commission Percentage
          type: string
          xml:
            attribute: true
        CommissionAmount:
          title: Commission Amount
          type: string
          xml:
            attribute: true
    PickUp:
      type: object
      properties:
        Point:
          $ref: '#/components/schemas/Point'
        Date:
          type: string
          format: YYYY-MM-DD
        Time:
          $ref: '#/components/schemas/Time'
      required:
      - Point
      - Date
    Departure:
      type: object
      properties:
        Point:
          $ref: '#/components/schemas/Point'
        Date:
          type: string
          format: YYYY-MM-DD
        Time:
          $ref: '#/components/schemas/Time'
        PickUp:
          $ref: '#/components/schemas/PickUp'
      required:
      - Point
      - Date
    PriceType:
      type: string
      enum:
      - perdag
      - vastbedrag
    PEType:
      type: string
      enum:
      - E
      - M
      - P
      xml:
        attribute: true
    AvailabilityRequestTree:
      type: object
      title: TravelMessage (AvailabilityRequest)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          properties:
            AvailabilityRequest:
              $ref: '#/components/schemas/AvailabilityRequest'
    AssignRequestTree:
      type: object
      title: Travelmessage (AssignRequest)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            AssignRequest:
              $ref: '#/components/schemas/AssignRequest'
    MultiMedia:
      type: object
      properties:
        Description:
          type: string
          xml:
            attribute: true
        Format:
          $ref: '#/components/schemas/MultiMediaFormatValues'
        Size:
          type: string
          xml:
            attribute: true
        ReleaseDate:
          type: string
          format: YYYY-MM-DD
          xml:
            attribute: true
        Source:
          type: string
          xml:
            attribute: true
        Type:
          $ref: '#/components/schemas/MultiMediaTypeValues'
        View:
          $ref: '#/components/schemas/MultiMediaViewValues'
        Heigth:
          type: string
          xml:
            attribute: true
        Width:
          type: string
          xml:
            attribute: true
        Length:
          type: string
          xml:
            attribute: true
    PackageType:
      type: string
      enum:
      - PAKK
      - TRAN
      - ACCO
      - CARR
      - MOBI
    DocumentTypeID:
      type: string
      enum:
      - HTML
      - PAPER
      - PDF
      - TEXT
      - XML
    ReceiptRequest:
      type: object
      properties:
        PackageDetails:
          $ref: '#/components/schemas/PackageDetailsReceipt'
        PaxDetails:
          $ref: '#/components/schemas/PaxDetailsReceipt'
        Transport:
          $ref: '#/components/schemas/Transport'
        Accommodation:
          $ref: '#/components/schemas/Accommodation'
        AdditionalProducts:
          $ref: '#/components/schemas/AdditionalProducts'
        Discounts:
          $ref: '#/components/schemas/Discounts'
    AgeCondition:
      title: Age Condition
      type: object
      properties:
        AgeType:
          $ref: '#/components/schemas/AgeType'
    AddProAvailabilityRequest:
      type: object
      title: SellRequest
      properties:
        PackageDetails:
          $ref: '#/components/schemas/PackageDetails'
        Transport:
          $ref: '#/components/schemas/Transport'
        AdditionalProducts:
          $ref: '#/components/schemas/AdditionalProducts'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
      required:
      - PackageDetails
      - Responsibilities
    ClassTip:
      type: string
      enum:
      - true
      - false
      xml:
        attribute: true
    TransportType:
      type: string
      enum:
      - vl
      - bu
      - tr
      - fe
      - bo
      - ev
      - VL
      - BU
      - TR
      - FE
      - BO
      - EV
    PackageID:
      type: string
    PricePer:
      type: string
      enum:
      - pn
      - pw
      - pa
      - kn
      - kw
      - ka
      - tp
      xml:
        attribute: true
    MessageType:
      type: string
      enum:
      - Error
      - System
      - Info
      - Erratum
    PriceNote:
      type: string
      title: Pricenote
    SellResponseTree:
      type: object
      title: Travelmessage (SellResponse)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            Transport:
              type: array
              title: Transport
              items:
                $ref: '#/components/schemas/Transport'
            Accommodation:
              title: Accommodation
              type: array
              items:
                $ref: '#/components/schemas/Accommodation'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    Status:
      type: object
      properties:
        StatusID:
          type: string
        Description:
          type: string
      required:
      - StatusID
      - Description
    Class:
      type: object
      properties:
        Tip:
          $ref: '#/components/schemas/ClassTip'
        ClassID:
          type: string
        Description:
          type: string
        Seats:
          type: number
        RequiredSeats:
          type: number
        Surcharge:
          type: object
          properties:
            Currency:
              $ref: '#/components/schemas/CurrencyType'
            Sign:
              $ref: '#/components/schemas/Sign'
        PriceNotes:
          type: string
        CancellationInformation:
          $ref: '#/components/schemas/CancellationInformation'
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
      - ClassID
      - Seats
    BoardAssignment:
      type: object
      properties:
        BoardType:
          $ref: '#/components/schemas/BoardType'
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
      - BoardType
    RoomAssignment:
      type: object
      properties:
        AllInOneRoom:
          $ref: '#/components/schemas/YesNoValue'
        Sequence:
          type: string
        RoomNumber:
          type: string
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
      - PaxID
      - Sequence
    Messages:
      type: object
      properties:
        MessageID:
          $ref: '#/components/schemas/MessageID'
        MessageType:
          $ref: '#/components/schemas/MessageType'
        MessageOnField:
          type: string
        DescriptionField:
          type: string
        Date:
          type: string
          format: YYYY-MM-DD
    LatitudeDirection:
      type: string
      enum:
      - N
      - Z
      xml:
        attribute: true
    CancellationInformation:
      type: object
      properties:
        Description:
          type: string
        Url:
          type: string
      required:
      - Description
    SalesResponsibilityType:
      type: string
      enum:
      - Agent
      - Organizer
    ExtrasAssignment:
      type: object
      properties:
        ExtraID:
          type: string
        Sequence:
          type: string
        From:
          $ref: '#/components/schemas/DateAndTime'
        To:
          $ref: '#/components/schemas/DateAndTime'
        Quantity:
          type: number
        ExtrasPax:
          type: array
          title: ExtrasPax
          items:
            $ref: '#/components/schemas/ExtrasPax'
        RelatedTransport:
          type: array
          title: RelatedTransport
          items:
            $ref: '#/components/schemas/RelatedTransport'
      required:
      - ExtraID
      - Sequence
    PaxID:
      type: string
    Occupation:
      type: array
      title: Occupation
      items:
        allOf:
        - type: object
          oneOf:
          - title: Occupation
            properties:
              Quantity:
                type: integer
                title: Quantity
                format: int32
              Condition:
                type: array
                title: Condition
                items:
                  $ref: '#/components/schemas/Condition'
            required:
            - Quantity
    MessageID:
      type: integer
      enum:
      - 0
      - 1
      - 2
      - 101
      - 102
      - 103
      - 104
      - 105
      - 106
      - 107
      - 108
      - 109
      - 110
      - 111
      - 112
      - 113
      - 114
      - 115
      - 1001
      - 1002
      - 1003
      - 1004
      - 1005
      - 1006
      - 1007
      - 1008
      - 1009
      - 1010
      - 1011
      - 1012
      - 1013
      - 1014
      - 1015
      - 1016
      - 1017
      - 1018
      - 1019
      - 1020
      - 1021
      - 1022
      - 1023
      - 1024
      - 1025
      - 1026
      - 1027
      - 1028
      - 1029
      - 1030
      - 1031
      - 1032
      - 1033
      - 1034
      - 1035
      - 1036
      - 1037
      - 1038
      - 1039
      - 1040
      - 1041
      - 1042
      - 1043
      - 1044
      - 1045
      - 1046
      - 1047
      - 1048
      - 1049
      - 1050
      - 1051
      - 1052
      - 1053
      - 1054
      - 1055
      - 1056
      - 1057
      - 1058
      - 1059
      - 1060
      - 1070
      - 1071
    ExtrasCategoryType:
      type: string
      enum:
      - autoverhuur
      - accomodatieservice
      - bagage
      - camperverhuur
      - citycards
      - entreekaarten
      - excursiecards
      - fietsverhuur
      - ferryservice
      - overnachtingshotel
      - openbaarvervoerkaarten
      - parkeerservice
      - restaurant
      - skischool
      - skimateriaal
      - skipas
      - taxiservice
      - transfer
      - transportservice
      - stoelen
    FacilityType:
      type: string
      enum:
      - 1e
      - 1k
      - 2e
      - 2k
      - 3e
      - 3k
      - ac
      - az
      - ba
      - bd
      - bg
      - bi
      - bk
      - bl
      - br
      - bt
      - bu
      - bz
      - do
      - dz
      - et
      - ex
      - fr
      - gl
      - gs
      - in
      - js
      - kn
      - ks
      - kt
      - lu
      - lz
      - ma
      - mz
      - false
      - oo
      - pz
      - sp
      - st
      - su
      - tb
      - te
      - tz
      - ve
      - vz
      - wc
      - we
      - wk
      - zq
      - zu
      - zw
      - zx
      - zy
      - zz
      - 1E
      - 1K
      - 2E
      - 2K
      - 3E
      - 3K
      - AC
      - AZ
      - BA
      - BD
      - BG
      - BI
      - BK
      - BL
      - BR
      - BT
      - BU
      - BZ
      - DO
      - DZ
      - ET
      - EX
      - FR
      - GL
      - GS
      - IN
      - JS
      - KN
      - KS
      - KT
      - LU
      - LZ
      - MA
      - MZ
      - false
      - OO
      - PZ
      - SP
      - ST
      - SU
      - TB
      - TE
      - TZ
      - VE
      - VZ
      - WC
      - WE
      - WK
      - ZQ
      - ZU
      - ZW
      - ZX
      - ZY
      - ZZ
    RecomPrice:
      type: object
      properties:
        Currency:
          $ref: '#/components/schemas/CurrencyType'
        PricePer:
          $ref: '#/components/schemas/PricePer'
        Sign:
          $ref: '#/components/schemas/Sign'
    Discounts:
      type: object
      properties:
        DiscountID:
          type: array
          title: DiscountID
          items:
            type: string
    DocumentAddressTypeID:
      type: string
      enum:
      - KLT
      - RSB
    CancellationRequestTree:
      type: object
      title: TravelMessage (CancellationRequest)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            SecurityInfo:
              $ref: '#/components/schemas/SecurityInfo'
    YesNoValue:
      type: string
      enum:
      - ja
      - nee
      xml:
        attribute: true
    LongitudeDirection:
      type: string
      enum:
      - O
      - W
      xml:
        attribute: true
    ReceiptResponseTree:
      type: object
      title: Travelmessage (ReceiptResponse)
      xml:
        name: TravelMessage
      allOf:
      - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            ReceiptResponse:
              $ref: '#/components/schemas/ReceiptResponse'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    TransportAssignment:
      type: object
      properties:
        ComponentID:
          type: string
        TransportID:
          type: string
        Sequence:
          type: string
        ClassID:
          type: string
        PickUp:
          $ref: '#/components/schemas/PickUp'
        DropOff:
          $ref: '#/components/schemas/DropOff'
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
      - TransportID
      - ClassID
    PackageDetails:
      type: object
      properties:
        waitListCheck:
          $ref: '#/components/schemas/YesNoValue'
        NumberOfAlternatives:
          type: integer
          xml:
            attribute: true
        PackageID:
          type: string
        Description:
          type: string
        Brand:
          type: string
        NumberOfAdults:
          type: integer
          example: 2
        NumberOfChildren:
          type: integer
        NumberOfBabies:
          type: integer
        DepartureDate:
          type: string
          format: YYYY-MM-DD
        DeparturePoint:
          type: string
          example: AMS
        AccommodationType:
          $ref: '#/components/schemas/AccommodationType'
        BoardType:
          $ref: '#/components/schemas/BoardType'
        UnitType:
          $ref: '#/components/schemas/UnitType'
        FacilityType:
          type: array
          title: FacilityType
          items:
            $ref: '#/components/schemas/FacilityType'
        Duration:
          $ref: '#/components/schemas/Duration'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
        PackageType:
          $ref: '#/components/schemas/PackageType'
      required:
      - PackageID
      - NumberOfAdults
      - NumberOfChildren
      - NumberOfBabies
      - DepartureDate
      - Duration
      - PackageType
    Control:
      type: object
      properties:
        Language:
          allOf:
          - $ref: '#/components/schemas/ControlLanguage'
          example: NL
        Test:
          allOf:
          - $ref: '#/components/schemas/YesNoValue'
          example: nee
        SenderSessionID:
          type: string
        ReceiverSessionID:
          type: string
        Date:
          type: string
          format: YYYY-MM-DD
        Time:
          $ref: '#/components/schemas/Time'
        MessageSequence:
          type: number
          example: '1'
        PreviousMessageSequence:
          type:
          - string
          - 'null'
        SenderID:
          type: string
        ReceiverID:
          type: string
        EmployeeID:
          type:
          - string
          - 'null'
        RequestID:
          type: string
        ResponseID:
          type: string
        ResponseStatus:
          type:
          - string
          - 'null'
      required:
      - SenderSessionID
      - ReceiverSessionID
      - Date
      - Time
      - MessageSequence
      - SenderID
      - ReceiverID
      - RequestID
      - ResponseID
      - Language
      additionalProperties: false
    CancellationPolicy:
      type: object
      properties:
        CancellationPeriod:
          type: array
          title: CancellationPeriod
          items:
            type: object
            title: CancellationPeriod
            properties:
              CancellationPeriodDateTimeFrom:
                allOf:
                - $ref: '#/components/schemas/DateAndTime'
                required:
                - Date
                - Time
              CancellationPeriodDateTimeTo:
                allOf:
                - $ref: '#/components/schemas/DateAndTime'
                required:
                - Date
                - Time
              DescriptionField:
                type: string
              CancellationRate:
                type: integer
              CancellationFoundation:
                type: number
              CancellationAmmount:
                type: number
    PreferencesAndEssentials:
      type: object
      properties:
        PEType:
          $ref: '#/components/schemas/PEType'
        PECode:
          type: string
        Dscription:
          type: string
        ObjectID:
          type: string
        Sequence:
          type: string
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
      - PEType
      - PECode
    UnitAssignment:
      type: object
      properties:
        UnitID:
          type: string
        Quantity:
          type: number
        RoomAssignment:
          type: array
          title: RoomAssignment
          items:
            $ref: '#/components/schemas/RoomAssignment'
      required:
      - UnitID
      - Quantity
      - RoomAssignment
    Facility:
      title: Facility
      type: object
      properties:
        FacilityType:
          $ref: '#/components/schemas/FacilityType'
        Description:
          title: Description
          type: string
    Condition:
      allOf:
      - type: object
        oneOf:
        - title: NumberOfPersons
          properties:
            NumberOfPersons:
              type: integer
              format: int32
          required:
          - NumberOfPersons
        - title: AgeCondition
          properties:
            AgeCondition:
              $ref: '#/components/schemas/AgeCondition'
  examples:
    AddProAvailabilityRequestExample:
      value: "<TravelMessage VersionID=\"3.1\">\n  <Control Language=\"NL\" Test=\"nee\">\n    <SenderSessionID>88bf7060-5852-44c7-8a51-eb1548952008</SenderSessionID>\n    <ReceiverSessionID />\n    <Date>2020-09-11</Date>\n    <Time>13:20</Time>\n    <MessageSequence>1</MessageSequence>\n    <SenderID>1653</SenderID>\n    <ReceiverID>TUI</ReceiverID>\n    <RequestID>AddProAvailabilityRequest</RequestID>\n    <ResponseID>AvailabilityResponse</ResponseID>\n  </Control>\n  <TRequest>\n    <SellRequest>\n      <PackageDetails>\n        <PackageID>c1fb1e86-e331-4598-a461-b202e6133cb2</PackageID>\n        <NumberOfAdults>2</NumberOfAdults>\n        <NumberOfChildren>0</NumberOfChildren>\n        <NumberOfBabies>0</NumberOfBabies>\n        <DepartureDate>2022-12-13</DepartureDate>\n        <Duration DurationType=\"nachten\">7</Duration>\n        <PackageType>PAKK</PackageType>\n      </PackageDetails>\n      <Responsibilities>\n        <SalesResponsibility>Agent</SalesResponsibility>\n      </Responsibilities>\n    </SellRequest>\n  </TRequest>\n</TravelMessage>            \n"
    ReceiptResponseNaExample:
      value: "<TravelMessage xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" VersionID=\"3.1\">\n  <Control Language=\"NL\">\n    <SenderSessionID />\n    <ReceiverSessionID>39fac699-319e-4613-b5e9-2eff48e21de6</ReceiverSessionID>\n    <Date>2024-01-10</Date>\n    <Time>12:57</Time>\n    <MessageSequence>1</MessageSequence>\n    <SenderID>TUINL</SenderID>\n    <ReceiverID>9998</ReceiverID>\n    <RequestID>ReceiptRequest</RequestID>\n    <ResponseID>ReceiptResponse</ResponseID>\n  </Control>\n  <TResponse>\n    <Messages>\n      <MessageID>0</MessageID>\n      <MessageType>Info</MessageType>\n      <Description>[5009] Geen gegevens gevonden voor deze selectie</Description>\n    </Messages>\n  </TResponse>\n</TravelMessage>        \n"
    AssignResponseExample:
      value: "<TravelMessage xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" VersionID=\"3.1\">\n  <Control Language=\"NL\">\n    <SenderSessionID>83c221a7-5f2d-419d-9423-6882c3d49a45</SenderSessionID>\n    <ReceiverSessionID>99769a45-0d36-498d-b742-71a257d86c9e</ReceiverSessionID>\n    <Date>2024-01-08</Date>\n    <Time>12:53</Time>\n    <MessageSequence>4</MessageSequence>\n    <SenderID>TUI</SenderID>\n    <ReceiverID>9998</ReceiverID>\n    <RequestID>AssignRequest</RequestID>\n    <ResponseID>AssignResponse</ResponseID>\n    <ResponseStatus>ja</ResponseStatus>\n  </Control>\n  <TResponse>\n    <PaxAssignment>\n      <TransportAssignment>\n        <TransportID>ec148e56-43a5-49bf-93d2-39750303da69#20240127 OR1653 EINTFS#CONTRACTED</TransportID>\n        <ClassID>PNOM</ClassID>\n        <PaxID>1</PaxID>\n        <PaxID>2</PaxID>\n      </TransportAssignment>\n      <TransportAssignment>\n        <TransportID>65111533-fa95-47d0-ac8a-fa2c417c9357#20240203 OR1653 TFSEIN#CONTRACTED</TransportID>\n        <ClassID>PNOM</ClassID>\n        <PaxID>1</PaxID>\n        <PaxID>2</PaxID>\n      </TransportAssignment>\n      <AccoAssignment>\n        <AccommodationID>A0410459</AccommodationID>\n        <ArrivalDate>2024-01-27</ArrivalDate>\n        <DepartureDate>2024-02-03</DepartureDate>\n        <BoardAssignment>\n          <BoardType>LG</BoardType>\n          <PaxID>1</PaxID>\n          <PaxID>2</PaxID>\n        </BoardAssignment>\n        <UnitAssignment>\n          <UnitID>bc35339c-3c6f-4e98-9afb-5235c8e8a287</UnitID>\n          <Quantity>1</Quantity>\n          <RoomAssignment>\n            <Sequence>1</Sequence>\n            <PaxID>1</PaxID>\n            <PaxID>2</PaxID>\n          </RoomAssignment>\n        </UnitAssignment>\n      </AccoAssignment>\n      <APAssignment>\n        <ExtrasAssignment>\n          <ExtraID>NO_MEAL</ExtraID>\n          <Sequence>1</Sequence>\n          <From>\n            <Date>2024-01-27</Date>\n          </From>\n          <To>\n            <Date>2024-01-27</Date>\n          </To>\n          <Quantity>2</Quantity>\n          <ExtrasPax>\n            <PaxID>1</PaxID>\n            <Quantity>1</Quantity>\n          </ExtrasPax>\n          <ExtrasPax>\n            <PaxID>2</PaxID>\n            <Quantity>1</Quantity>\n          </ExtrasPax>\n          <RelatedTransport>\n            <TransportID>ec148e56-43a5-49bf-93d2-39750303da69#20240127 OR1653 EINTFS#CONTRACTED</TransportID>\n            <ClassID>PNOM</ClassID>\n          </RelatedTransport>\n        </ExtrasAssignment>\n        <ExtrasAssignment>\n          <ExtraID>NO_MEAL</ExtraID>\n          <Sequence>2</Sequence>\n          <From>\n            <Date>2024-02-03</Date>\n          </From>\n          <To>\n            <Date>2024-02-03</Date>\n          </To>\n          <Quantity>2</Quantity>\n          <ExtrasPax>\n            <PaxID>1</PaxID>\n            <Quantity>1</Quantity>\n          </ExtrasPax>\n          <ExtrasPax>\n            <PaxID>2</PaxID>\n            <Quantity>1</Quantity>\n          </ExtrasPax>\n          <RelatedTransport>\n            <TransportID>65111533-fa95-47d0-ac8a-fa2c417c9357#20240203 OR1653 TFSEIN#CONTRACTED</TransportID>\n            <ClassID>PNOM</ClassID>\n          </RelatedTransport>\n        </ExtrasAssignment>\n        <ExtrasAssignment>\n          <ExtraID>BG00</ExtraID>\n          <Sequence>3</Sequence>\n          <From>\n            <Date>2024-01-27</Date>\n          </From>\n          <To>\n            <Date>2024-01-27</Date>\n          </To>\n          <Quantity>2</Quantity>\n          <ExtrasPax>\n            <PaxID>1</PaxID>\n            <Quantity>1</Quantity>\n          </ExtrasPax>\n          <ExtrasPax>\n            <PaxID>2</PaxID>\n            <Quantity>1</Quantity>\n          </ExtrasPax>\n          <RelatedTransport>\n            <TransportID>ec148e56-43a5-49bf-93d2-39750303da69#20240127 OR1653 EINTFS#CONTRACTED</TransportID>\n            <ClassID>PNOM</ClassID>\n          </RelatedTransport>\n        </ExtrasAssignment>\n        <ExtrasAssignment>\n          <ExtraID>BG00</ExtraID>\n          <Sequence>4</Sequence>\n          <From>\n            <Date>2024-02-03</Date>\n          </From>\n          <To>\n            <Date>2024-02-03</Date>\n          </To>\n          <Quantity>2</Quantity>\n          <ExtrasPax>\n            <PaxID>1</PaxID>\n            <Quantity>1</Quantity>\n          </ExtrasPax>\n          <ExtrasPax>\n            <PaxID>2</PaxID>\n            <Quantity>1</Quantity>\n          </ExtrasPax>\n          <RelatedTransport>\n            <TransportID>65111533-fa95-47d0-ac8a-fa2c417c9357#20240203 OR1653 TFSEIN#CONTRACTED</TransportID>\n            <ClassID>PNOM</ClassID>\n          </RelatedTransport>\n        </ExtrasAssignment>\n        <ExtrasAssignment>\n          <ExtraID>STANDARD_SEAT</ExtraID>\n          <Sequence>5</Sequence>\n          <From>\n            <Date>2024-01-27</Date>\n          </From>\n          <To>\n            <Date>2024-01-27</Date>\n          </To>\n          <Quantity>2</Quantity>\n          <ExtrasPax>\n            <PaxID>1</PaxID>\n            <Quantity>1</Quantity>\n          </ExtrasPax>\n          <ExtrasPax>\n            <PaxID>2</PaxID>\n            <Quantity>1</Quantity>\n          </ExtrasPax>\n          <RelatedTransport>\n            <TransportID>ec148e56-43a5-49bf-93d2-39750303da69#20240127 OR1653 EINTFS#CONTRACTED</TransportID>\n            <ClassID>PNOM</ClassID>\n          </RelatedTransport>\n        </ExtrasAssignment>\n        <ExtrasAssignment>\n          <ExtraID>STANDARD_SEAT</ExtraID>\n          <Sequence>6</Sequence>\n          <From>\n            <Date>2024-02-03</Date>\n          </From>\n          <To>\n            <Date>2024-02-03</Date>
[...]
