openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Booking/passengers API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: booking/passengers
paths:
  /api/nsk/v1/booking/passengers:
    get:
      tags:
      - booking/passengers
      summary: Gets the collection of passengers on the booking.
      description: 'GraphQL endpoint: passengers'
      operationId: nsk_v1_booking_passengers_get
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndPassenger'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerAlternateKey}/travelNotifications:
    get:
      tags:
      - booking/passengers
      summary: Gets passenger travel notifications for a specific passenger on the booking in state.
      description: 'GraphQL endpoint: passengerTravelNotifications'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_get
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfTravelNotification'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    post:
      tags:
      - booking/passengers
      summary: Creates a passenger travel notification for a specific passenger on the booking in state.
      description: 'GraphQL endpoint: passengerTravelNotificationsAdd'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_post
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The passenger travel notification create request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelNotificationCreateRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerAlternateKey}/travelNotifications/{travelNotificationKey}:
    get:
      tags:
      - booking/passengers
      summary: Gets a passenger travel notification for a specific passenger on the booking in state.
      description: 'GraphQL endpoint: passengerTravelNotification'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_get
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfTravelNotification'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - booking/passengers
      summary: Updates a passenger travel notification for a specific passenger on the booking in state.
      description: 'GraphQL endpoint: passengerTravelNotificationsSet'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_put
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The travel notification edit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelNotificationEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - booking/passengers
      summary: Patches a passenger travel notification for a specific passenger on the booking in state.
      description: 'GraphQL endpoint: passengerTravelNotificationsModify'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_patch
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The delta mapper travel notification edit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfTravelNotificationEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - booking/passengers
      summary: Deletes a passenger travel notification for a specific passenger on the booking in state.
      description: 'GraphQL endpoint: passengerTravelNotificationsDelete'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_delete
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerAlternateKey}/travelNotifications/{travelNotificationKey}/events:
    get:
      tags:
      - booking/passengers
      summary: Gets notification events for a specific passenger travel notification on the booking in state.
      description: 'GraphQL endpoint: passengerNotificationEvents'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_events_get
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfNotificationEvent'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    post:
      tags:
      - booking/passengers
      summary: Adds a notification event to a specific passenger travel notification on the booking in state.
      description: 'GraphQL endpoint: passengerNotificationEventsAdd'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_events_post
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The notification event create request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationEventCreateRequest'
        required: true
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerAlternateKey}/travelNotifications/{travelNotificationKey}/events/{eventType}:
    get:
      tags:
      - booking/passengers
      summary: Get a notification event for a specific passenger travel notification on the booking in state.
      description: 'GraphQL endpoint: passengerNotificationEvent'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_events_eventType_get
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      - name: eventType
        in: path
        required: true
        description: "The event type. \nEnumeration values: 0 = DepartureDelay, 1 = ArrivalDelay, 2 = ScheduleChange, 3 = CheckIn, 4 = GateInformation"
        schema:
          $ref: '#/components/schemas/NotificationEventType'
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfNotificationEvent'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - booking/passengers
      summary: Deletes a notification event from a specific passenger travel notification on the booking in state.
      description: 'GraphQL endpoint: passengerNotificationEventsDelete'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_events_eventType_delete
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      - name: eventType
        in: path
        required: true
        description: "The notification event type. \nEnumeration values: 0 = DepartureDelay, 1 = ArrivalDelay, 2 = ScheduleChange, 3 = CheckIn, 4 = GateInformation"
        schema:
          $ref: '#/components/schemas/NotificationEventType'
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerAlternateKey}/travelNotifications/{travelNotificationKey}/timedEvents:
    get:
      tags:
      - booking/passengers
      summary: Gets notification timed events for a specific passenger travel notification on the booking in state.
      description: 'GraphQL endpoint: passengerNotificationTimedEvents'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_timedEvents_get
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfNotificationTimedEvent'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    post:
      tags:
      - booking/passengers
      summary: Adds a notification timed event to a specific passenger travel notification on the booking in state.
      description: 'GraphQL endpoint: passengerNotificationTimedEventsAdd'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_timedEvents_post
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The notification timed even create request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationTimedEventCreateRequest'
        required: true
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  ? /api/nsk/v1/booking/passengers/{passengerAlternateKey}/travelNotifications/{travelNotificationKey}/timedEvents/{timedEventType}
  : get:
      tags:
      - booking/passengers
      summary: Get a notification timed event for a specific passenger travel notification on the booking in state.
      description: 'GraphQL endpoint: passengerNotificationTimedEvent'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_timedEvents_timedEventType_get
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      - name: timedEventType
        in: path
        required: true
        description: "The timed event type. \nEnumeration values: 0 = Departure, 1 = Arrival"
        schema:
          $ref: '#/components/schemas/NotificationTimedEventType'
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfNotificationTimedEvent'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - booking/passengers
      summary: Updates a notification timed event for a specific passenger travel notification on the booking in state.
      description: 'GraphQL endpoint: passengerNotificationTimedEventsSet'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_timedEvents_timedEventType_put
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      - name: timedEventType
        in: path
        required: true
        description: "The notification timed event type. \nEnumeration values: 0 = Departure, 1 = Arrival"
        schema:
          $ref: '#/components/schemas/NotificationTimedEventType'
        x-position: 3
      requestBody:
        x-name: request
        description: The updated notification timed event request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationTimedEventEditRequest'
        required: true
        x-position: 4
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - booking/passengers
      summary: Deletes a notification timed event from a specific passenger travel notification on the booking in state.
      description: 'GraphQL endpoint: passengerNotificationTimedEventsDelete'
      operationId: nsk_v1_booking_passengers_passengerAlternateKey_travelNotifications_travelNotificationKey_timedEvents_timedEventType_delete
      parameters:
      - name: passengerAlternateKey
        in: path
        required: true
        description: The passenger alternate key. This key will be null until the booking is committed.
        schema:
          type: string
        x-position: 1
      - name: travelNotificationKey
        in: path
        required: true
        description: The travel notification key.
        schema:
          type: string
        x-position: 2
      - name: timedEventType
        in: path
        required: true
        description: "The notification timed event type. \nEnumeration values: 0 = Departure, 1 = Arrival"
        schema:
          $ref: '#/components/schemas/NotificationTimedEventType'
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}:
    get:
      tags:
      - booking/passengers
      summary: Gets a specific passenger on the booking.
      description: 'GraphQL endpoint: passenger'
      operationId: nsk_v1_booking_passengers_passengerKey_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassenger'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v3/booking/passengers/{passengerKey}:
    put:
      tags:
      - booking/passengers
      summary: Updates a specific passenger on the booking.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoints: passengerSetv4, passengersSetBatchv2'
      operationId: nsk_v3_booking_passengers_passengerKey_put
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: waiveNameChangeFees
        in: query
        description: Waive the name change fees.
        schema:
          type:
          - boolean
          - 'null'
        x-position: 2
      - name: syncPassengerAndTravelDocGender
        in: query
        description: "Indicates whether to synchronize the passenger and all its travel\ndocuments' gender. This will update the gender of all the travel documents in the\npassengers[passengerKey].travelDocuments list in the booking model. The value defaults to true if not specified.\n            "
        schema:
          type: boolean
          default: true
        x-position: 4
      requestBody:
        x-name: request
        description: The modified passenger request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerBase'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Passenger Updated:
                  description: The passenger has been updated.
                  value:
                    data: null
                Valid declared gender mapped to a different binary gender:
                  description: Example response for successfully updating or modifying a passenger with a valid declared gender mapped to a different binary gender (i.e. Male, Undisclosed or Unspecified to Female).
                  value:
                    messages:
                    - code: SyncBinaryGenderToDeclaredGender
                      type: SyncBinaryGenderToDeclaredGender
                      value: 'Passenger Justine Doe - Binary Gender Male will be synced with Declared Gender value F. New Binary Gender: Female'
                      status: 1
                      details: null
                    data: null
                Mismatching gender and declared gender:
                  description: Example response for successfully updating or modifying a passenger with a mismatching gender (Female) and declared gender (Male).
                  value:
                    messages:
                    - code: SyncBinaryGenderToDeclaredGender
                      type: SyncBinaryGenderToDeclaredGender
                      value: 'Passenger Justine Doe - Binary Gender Female will be synced with Declared Gender value M. New Binary Gender: Male'
                      status: 1
                      details: null
                    data: null
                With mismatching passenger and travel document gender:
                  description: The passenger gender does not match with the travel document, and the `syncPassengerAndTravelDocGender` is set to false.
                  value:
                    messages:
                    - rawValue: Passenger (Doe, John) Gender doesn't match Travel Document (US, P, P123412341234) Gender
                      code: null
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: FailedTravelDocValidation
                      value: null
                      status: 0
                      details: null
                    data: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid declared gender length:
                  description: Example response when the declared gender in the request is more than 2 characters.
                  value:
                    errors:
                    - id: null
                      code: PassengerInformation.DeclaredGender:StringLengthAttribute
                      message: The field PassengerInformation must be a string with a maximum length of 2.
                      type: Validation
                      details:
                        member: DeclaredGender
                        model: PassengerInformation
                        validation: StringLengthAttribute
                      rawMessage: The field PassengerInformation must be a string with a maximum length of 2.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Inactive or non-existent declared gender:
                  description: Example response when the declared gender in the request is inactive or non-existent.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:InvalidDeclaredGender
                      message: Passenger John Doe has an invalid Declared Gender K.
                      type: Validation
                      details:
                        message: Passenger John Doe has an invalid Declared Gender K.
                      rawMessage: Passenger John Doe has an invalid Declared Gender K.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - booking/passengers
      summary: Patches a specific passenger on the booking.
      description: 'Please note, the API will perform validation for the same properties that are on both the PATCH request and the

        existing passenger.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoints: passengerModifyv4, passengersModifyBatchv2'
      operationId: nsk_v3_booking_passengers_passengerKey_patch
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: waiveNameChangeFees
        in: query
        description: Waive the name change fee. If unprovided, defaults to the configuration value.
        schema:
          type:
          - boolean
          - 'null'
        x-position: 2
      - name: syncPassengerAndTravelDocGender
        in: query
        description: "Indicates whether to synchronize the passenger and all its travel\ndocuments' gender. This will update the gender of all the travel documents in the\npassengers[passengerKey].travelDocuments list in the booking model. The value defaults to true if not specified.\n            "
        schema:
          type: boolean
          default: true
        x-position: 4
      requestBody:
        x-name: request
        description: The patched passenger request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPassengerBase'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Passenger Updated:
                  description: The passenger has been updated.
                  value:
                    data: null
                Valid declared gender mapped to a different binary gender:
                  description: Example response for successfully updating or modifying a passenger with a valid declared gender mapped to a different binary gender (i.e. Male, Undisclosed or Unspecified to Female).
                  value:
                    messages:
                    - code: SyncBinaryGenderToDeclaredGender
                      type: SyncBinaryGenderToDeclaredGender
                      value: 'Passenger Justine Doe - Binary Gender Male will be synced with Declared Gender value F. New Binary Gender: Female'
                      status: 1
                      details: null
                    data: null
                Mismatching gender and declared gender:
                  description: Example response for successfully updating or modifying a passenger with a mismatching gender (Female) and declared gender (Male).
                  value:
                    messages:
                    - code: SyncBinaryGenderToDeclaredGender
                      type: SyncBinaryGenderToDeclaredGender
                      value: 'Passenger Justine Doe - Binary Gender Female will be synced with Declared Gender value M. New Binary Gender: Male'
                      status: 1
                      details: null
                    data: null
                With mismatching passenger and travel document gender:
                  description: The passenger gender does not match with the travel document, and the `syncPassengerAndTravelDocGender` is set to false.
                  value:
                    messages:
                    - rawValue: Passenger (Doe, John) Gender doesn't match Travel Document (US, P, P123412341234) Gender
                      code: null
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: FailedTravelDocValidation
                      value: null
                      status: 0
                      details: null
                    data: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid declared gender length:
                  description: Example response when the declared gender in the request is more than 2 characters.
                  value:
                    errors:
                    - id: null
                      code: core:Validation:InvalidJsonSchema
                      message: 'Invalid Json Schema. Line: #/info - NotOneOf.'
                      type: Validation
                      details: null
                      rawMessage: 'Invalid Json Schema. Line: #/info - NotOneOf.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Inactive or non-existent declared gender:
                  description: Example response when the declared gender in the request is inactive or non-existent.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:InvalidDeclaredGender
                      message: Passenger John Doe has an invalid Declared Gender K.
                      type: Validation
                      details:
                        message: Passenger John Doe has an invalid Declared Gender K.
                      rawMessage: Passenger John Doe has an invalid Declared Gender K.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                First passenger is not allowed to be TBA and is set as TBA:
                  description: Example error when first passenger is not allowed to be TBA and its first or last name is set to "TBA". Please see GET /settings/booking/passenger for the configuration.
                  value:
                    errors:
                    - id: null
                      code: nsk:GroupBooking:GroupNameUpdateNotAllowed
                      message: The first Pax is not allowed to be listed as TBA.
                      type: Validation
                      details: null
                      rawMessage: The first Pax is not allowed to be listed as TBA.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Passengers are not allowed to be TBA and at least one passenger is set to TBA:
                  description: Example error when passengers are not allowed to be TBA and at least one passenger's first or last name is set to "TBA". Please see GET /settings/booking/passenger for the configuration.
                  value:
                    errors:
                    - id: null
                      code: nsk:GroupBooking:GroupNameUpdateNotAllowed
                      message: No passengers are allowed to be listed as TBA.
                      type: Validation
                      details: null
                      rawMessage: No passengers are allowed to be listed as TBA.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/addresses:
    get:
      tags:
      - booking/passengers
      summary: Gets the collection of addresses from a specific passenger.
      description: Gets the collection of addresses from a specific passenger.
      operationId: nsk_v1_booking_passengers_passengerKey_addresses_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPassengerAddress'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/passengers/{passengerKey}/addresses:
    post:
      tags:
      - booking/passengers
      summary: Creates a new address for a specific passenger.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerAddressAddv2'
      operationId: nsk_v2_booking_passengers_passengerKey_addresses_post
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new address request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerAddressCreateRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/addresses/{addressKey}:
    get:
      tags:
      - booking/passengers
      summary: Gets a specific address from a specific passenger.
      description: 'GraphQL endpoint: passengerAddress'
      operationId: nsk_v1_booking_passengers_passengerKey_addresses_addressKey_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: addressKey
        in: path
        required: true
        description: The unique address key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerAddress'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v3/booking/passengers/{passengerKey}/addresses/{addressKey}:
    put:
      tags:
      - booking/passengers
      summary: Updates a specific address on a specific passenger.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerAddressSetv3'
      operationId: nsk_v3_booking_passengers_passengerKey_addresses_addressKey_put
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: addressKey
        in: path
        required: true
        description: The unique address key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The modified address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerAddressEditRequestv2'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - booking/passengers
      summary: Patches a specific address on a specific passenger.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerAddressModifyv3'
      operationId: nsk_v3_booking_passengers_passengerKey_addresses_addressKey_patch
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: addressKey
        in: path
        required: true
        description: The unique address key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The patched address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPassengerAddressEditRequestv2'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/passengers/{passengerKey}/addresses/{addressKey}:
    delete:
      tags:
      - booking/passengers
      summary: Deletes a specific address on a specific passenger.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerAddressDeletev2'
      operationId: nsk_v2_booking_passengers_passengerKey_addresses_addressKey_delete
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: addressKey
        in: path
        required: true
        description: The unique address key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/baggage:
    get:
      tags:
      - booking/passengers
      summary: Gets all the baggage for a specified passenger.
      description: Gets all the baggage for a specified passenger.
      operationId: nsk_v1_booking_passengers_passengerKey_baggage_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique identifier for the passenger to get baggage for.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPassengerBag'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/baggage/{baggageKey}:
    get:
      tags:
      - booking/passengers
      summary: Retrieve a single bag from a specific passenger.
      description: 'GraphQL endpoint: passengerBag'
      operationId: nsk_v1_booking_passengers_passengerKey_baggage_baggageKey_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The passenger key for the passenger to retrieve from.
        schema:
          type: string
        x-position: 1
      - name: baggageKey
        in: path
        required: true
        description: The bag key for the bag to retrieve.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerBag'
        '404':
          description: Bag was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/baggage/{baggageKey}/events:
    get:
      tags:
      - booking/passengers
      summary: Retrieves events for a specific passenger baggage.
      description: 'GraphQL endpoint: passengerBagEvents'
      operationId: nsk_v1_booking_passengers_passengerKey_baggage_baggageKey_events_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: Passenger key.
        schema:
          type: string
        x-position: 1
      - name: baggageKey
        in: path
        required: true
        description: Baggage key.
        schema:
          type: string
        x-position: 2
      - name: StartDate
        in: query
        description: "Start date. If no start date is provided, the start date defaults to the current UTC-based date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 3
      - name: EndDate
        in: query
        description: "End date. If no end date is provided, the end date defaults to the current UTC-based date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 4
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBaggageEventResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    post:
      tags:
      - booking/passengers
      summary: 'Creates event information for a specific passenger baggage. A successful call immediately creates the event

        and does not require the booking to be committed.'
      description: 'GraphQL endpoint: passengerBagEventAdd'
      operationId: nsk_v1_booking_passengers_passengerKey_baggage_baggageKey_events_post
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: Passenger key.
        schema:
          type: string
        x-position: 1
      - name: baggageKey
        in: path
        required: true
        description: Baggage key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: Baggage event create request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaggageEventCreateRequest'
        required: true
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/baggage/{baggageKey}/events/{baggageEventKey}:
    get:
      tags:
      - booking/passengers
      summary: Retrieves information for a specific passenger baggage event.
      description: 'GraphQL endpoint: passengerBagEvent'
      operationId: nsk_v1_booking_passengers_passengerKey_baggage_baggageKey_events_baggageEventKey_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: Passenger key.
        schema:
          type: string
        x-position: 1
      - name: baggageKey
        in: path
        required: true
        description: Baggage key.
        schema:
          type: string
        x-position: 2
      - name: baggageEventKey
        in: path
        required: true
        description: Baggage event key.
        schema:
          type: string
        x-position: 3
      - name: StartDate
        in: query
        description: "Start date. If no start date is provided, the start date defaults to the current UTC-based date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 4
      - name: EndDate
        in: query
        description: "End date. If no end date is provided, the end date defaults to the current UTC-based date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 5
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBaggageEvent'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/breakdown:
    get:
      tags:
      - booking/passengers
      summary: Gets a specific passenger price breakdown by passenger key.
      description: 'GraphQL endpoint: passengerBreakdown'
      operationId: nsk_v1_booking_passengers_passengerKey_breakdown_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The specific passenger key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerPriceBreakdown'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/documents:
    get:
      tags:
      - booking/passengers
      summary: Gets a specific passenger's collection of travel documents.
      description: Gets a specific passenger's collection of travel documents.
      operationId: nsk_v1_booking_passengers_passengerKey_documents_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPassengerTravelDocument'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/passengers/{passengerKey}/documents:
    post:
      tags:
      - booking/passengers
      summary: Create a new travel document for a specific passenger.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerTravelDocumentsAddv2'
      operationId: nsk_v2_booking_passengers_passengerKey_documents_post
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: syncPassengerAndTravelDocGender
        in: query
        description: "Indicates whether to synchronize the passenger and all its travel\ndocuments' gender. This will update the gender in the passengers[passengerKey] as well as the gender of the other\ntravel documents in the passengers[passengerKey].travelDocuments list in the booking model. The value defaults to\ntrue if not specified.\n            "
        schema:
          type: boolean
          default: true
        x-position: 3
      requestBody:
        x-name: request
        description: The new travel document.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelDocumentCreateRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerTravelDocumentCreatedResponse'
              examples:
                Passenger Travel Document Created:
                  description: The passenger travel document has been created.
                  value:
                    data:
                      passengerTravelDocumentKey: UCFVUyEg
                With mismatching passenger and travel document gender:
                  description: The passenger gender does not match with the travel document, and the `syncPassengerAndTravelDocGender` is set to false.
                  value:
                    messages:
                    - rawValue: Passenger (Doe, John) Gender doesn't match Travel Document (US, P, P123412341234) Gender
                      code: null
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: FailedTravelDocValidation
                      value: null
                      status: 0
                      details: null
                    data:
                      passengerTravelDocumentKey: UCFVUyEg
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/documents/{travelDocumentKey}:
    get:
      tags:
      - booking/passengers
      summary: Gets a specific passenger's specific travel document.
      description: 'GraphQL endpoint: passengerTravelDocuments'
      operationId: nsk_v1_booking_passengers_passengerKey_documents_travelDocumentKey_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: travelDocumentKey
        in: path
        required: true
        description: The unique travel document key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerTravelDocument'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/passengers/{passengerKey}/documents/{travelDocumentKey}:
    put:
      tags:
      - booking/passengers
      summary: Updates a specific passenger's travel document.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerTravelDocumentsSetv2'
      operationId: nsk_v2_booking_passengers_passengerKey_documents_travelDocumentKey_put
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: travelDocumentKey
        in: path
        required: true
        description: The unique travel document key.
        schema:
          type: string
        x-position: 2
      - name: syncPassengerAndTravelDocGender
        in: query
        description: "Indicates whether to synchronize the passenger and all its travel\ndocuments' gender. This will update the gender in the passengers[passengerKey] as well as the gender of the other\ntravel documents in the passengers[passengerKey].travelDocuments list in the booking model. The value defaults to\ntrue if not specified.\n            "
        schema:
          type: boolean
          default: true
        x-position: 4
      requestBody:
        x-name: request
        description: The modified travel document.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelDocumentEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Passenger Travel Document Updated:
                  description: The passenger travel document has been updated.
                  value:
                    data: null
                With mismatching passenger and travel document gender:
                  description: The passenger gender does not match with the travel document, and the `syncPassengerAndTravelDocGender` is set to false.
                  value:
                    messages:
                    - rawValue: Passenger (Doe, John) Gender doesn't match Travel Document (US, P, P123412341234) Gender
                      code: null
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: FailedTravelDocValidation
                      value: null
                      status: 0
                      details: null
                    data: null
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - booking/passengers
      summary: Patches a specific passenger's travel document.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerTravelDocumentsModifyv2'
      operationId: nsk_v2_booking_passengers_passengerKey_documents_travelDocumentKey_patch
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: travelDocumentKey
        in: path
        required: true
        description: The unique travel document key.
        schema:
          type: string
        x-position: 2
      - name: syncPassengerAndTravelDocGender
        in: query
        description: "Indicates whether to synchronize the passenger and all its travel\ndocuments' gender. This will update the gender in the passengers[passengerKey] as well as the gender of the other\ntravel documents in the passengers[passengerKey].travelDocuments list in the booking model. The value defaults to\ntrue if not specified.\n            "
        schema:
          type: boolean
          default: true
        x-position: 4
      requestBody:
        x-name: request
        description: The patched travel document.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfTravelDocumentEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Passenger Travel Document Updated:
                  description: The passenger travel document has been updated.
                  value:
                    data: null
                With mismatching passenger and travel document gender:
                  description: The passenger gender does not match with the travel document, and the `syncPassengerAndTravelDocGender` is set to false.
                  value:
                    messages:
                    - rawValue: Passenger (Doe, John) Gender doesn't match Travel Document (US, P, P123412341234) Gender
                      code: null
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: FailedTravelDocValidation
                      value: null
                      status: 0
                      details: null
                    data: null
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - booking/passengers
      summary: Deletes a specific passenger's specific travel document.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerTravelDocumentsDeletev2'
      operationId: nsk_v2_booking_passengers_passengerKey_documents_travelDocumentKey_delete
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: travelDocumentKey
        in: path
        required: true
        description: The unique travel document key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/documents/check:
    get:
      tags:
      - booking/passengers
      summary: Gets the document check status for a specific passenger if there are any.
      description: 'Requires a committed booking in state. Requires document check to be enabled in government security configuration.


        Performs document check and returns the results as documentCheckStatus.

        More detailed information is intentionally not provided for security reasons.

        The designers of the client application will need to determine what to do with the different responses,

        in most cases the passenger will need to be assisted by an airport agent.

        For more specific requirements check the following endpoint

        GET/api/nsk/v1/booking/checkin/journey/{journeyKey}/requirements.

        For configuration options please contact your CSDM.

        For full documentation see https://developer.navitaire.com/documentation/dotrez-api/how-to/adc.


        GraphQL endpoint: passengerDocumentCheck'
      operationId: nsk_v1_booking_passengers_passengerKey_documents_check_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The key of the passenger to perform the document check on.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerDocumentCheckResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/emdCoupons:
    get:
      tags:
      - booking/passengers
      summary: Gets the collection of passenger EMD coupons for a specific passenger.
      description: 'GraphQL endpoint: passengerEmdCoupons'
      operationId: nsk_v1_booking_passengers_passengerKey_emdCoupons_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPassengerEmdCoupon'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/emdCoupons/{passengerEmdCouponKey}:
    get:
      tags:
      - booking/passengers
      summary: Gets a specific passenger EMD coupon for a specific passenger.
      description: 'GraphQL endpoint: passengerEmdCoupon'
      operationId: nsk_v1_booking_passengers_passengerKey_emdCoupons_passengerEmdCouponKey_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      - name: passengerEmdCouponKey
        in: path
        required: true
        description: The unique passenger EMD coupon key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerEmdCoupon'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/fees:
    get:
      tags:
      - booking/passengers
      summary: Gets all fees for a specific passenger, based upon the given passenger key.
      description: 'GraphQL endpoint: passengerFees'
      operationId: nsk_v1_booking_passengers_passengerKey_fees_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPassengerFee'
              examples:
                Retrieve passenger fees response:
                  description: Example response for successfully retrieving the passenger fees.
                  value:
                    data:
                    - type: 7
                      ssrCode: null
                      ssrNumber: 0
                      paymentNumber: 0
                      isConfirmed: false
                      isConfirming: true
                      isConfirmingExternal: false
                      code: NFSF
                      detail: null
                      passengerFeeKey: MCEwITc-
                      override: false
                      flightReference: null
                      note: b
                      createdDate: '2025-03-26T05:24:42.7610199+00:00'
                      isProtected: false
                      serviceCharges:
                      - amount: 0.0
                        code: NFSF
                        detail: for free
                        type: 6
                        collectType: 0
                        currencyCode: USD
                        foreignCurrencyCode: USD
                        foreignAmount: 0.0
                        ticketCode: NSF
                    - type: 5
                      ssrCode: null
                      ssrNumber: 0
                      paymentNumber: 0
                      isConfirmed: false
                      isConfirming: true
                      isConfirmingExternal: false
                      code: CHF1
                      detail: 26Mar NV2033 SLCDEN
                      passengerFeeKey: MCExITU-
                      override: false
                      flightReference: 20250326 NV2033 SLCDEN
                      note: a
                      createdDate: '2025-03-26T05:27:52.1473296+00:00'
                      isProtected: true
                      serviceCharges:
                      - amount: 50.0
                        code: CHF1
                        detail: Change Fee
                        type: 6
                        collectType: 0
                        currencyCode: USD
                        foreignCurrencyCode: USD
                        foreignAmount: 50.0
                        ticketCode: CHF
                No passenger fees response:
                  description: Example response when there are no fees associated with the passenger.
                  value:
                    data: []
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                No booking in state:
                  description: Example error when there is no booking in state.
                  value:
                    errors:
                    - id: 4d8dbf9a-ea54-6c63-e755-da5c0328543d
                      code: nsk:Booking:NoBookingInState
                      message: nsk:Booking:NoBookingInState
                      type: Validation
                      details: null
                      rawMessage: No booking was found in session, cannot perform operation.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid passenger key:
                  description: Example error when the passenger key is invalid or does not exist in the booking in state.
                  value:
                    errors:
                    - id: 1c2e93af-10dd-3da9-56ae-d1e50e731906
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'passengerKey' with value 'MCF' is invalid.
                      type: Validation
                      details: null
                      rawMessage: The identifier 'passengerKey' with value 'MCF' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/booking/passengers/{passengerKey}/fees/{passengerFeeKey}:
    get:
      tags:
      - booking/passengers
      summary: Gets a specific fee for a specific passenger, based upon the given keys.
      description: 'GraphQL endpoint: passengerFee'
      operationId: nsk_v1_booking_passengers_passengerKey_fees_passengerFeeKey_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 1
      - name: passengerFeeKey
        in: path
        required: true
        description: The passenger fee key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerFee'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/fees/nameChange:
    delete:
      tags:
      - booking/passengers
      summary: Waives the name change fee of the specified passenger.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerNameChangeFeeDelete'
      operationId: nsk_v1_booking_passengers_passengerKey_fees_nameChange_delete
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/fees/quote:
    get:
      tags:
      - booking/passengers
      summary: Gets the override fee quote of a new fee.
      description: 'GraphQL endpoint: overrideNewFeeQuote'
      operationId: nsk_v1_booking_passengers_passengerKey_fees_quote_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 1
      - name: FeeCode
        in: query
        description: "The fee code used to identify the fee being overridden.\n            \nCurrently, only manually-added fees are supported for quoting new fee overrides.\nThese fee types are:\n- Service Fee\n- Non-Flight Service Fee\n- Penalty Fee\n- Spoilage Fee\n             "
        schema:
          type:
          - string
          - 'null'
          maxLength: 6
          minLength: 0
        x-position: 2
      - name: PricingMode
        in: query
        description: "Indicates if fees are to be paid in points or with currency\n             \nEnumeration values: 0 = MonetaryOnly, 1 = PointsOnly"
        schema:
          $ref: '#/components/schemas/FeePricingMode'
        x-position: 3
      - name: OriginStation
        in: query
        description: "Originating station code of the booking where the fee will be applied.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 4
      - name: Amount
        in: query
        description: "The override amount.\n            "
        schema:
          type:
          - number
          - 'null'
          format: decimal
        x-position: 5
      - name: CollectedCurrencyCode
        in: query
        description: "The collected currency code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 6
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfGetOverrideFeeQuoteResponse'
              examples:
                Retrieve Override Fee Quote Response:
                  description: Example response for successfully retrieving the override fee quote response.
                  value:
                    data:
                      feeOverrideCharges:
                      - amount: 100.0
                        code: NFSF
                        detail: Non Flight
                        type: 6
                        collectType: 0
                        currencyCode: USD
                        foreignCurrencyCode: USD
                        foreignAmount: 100.0
                        ticketCode: NSF
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With No Booking in State:
                  description: Example Error if there is no booking in state.
                  value:
                    errors:
                    - id: 505b55d3-cac8-93a9-4d25-131256cdd551
                      code: nsk:Booking:NoBookingInState
                      message: nsk:Booking:NoBookingInState
                      type: Validation
                      details: null
                      rawMessage: No booking was found in session, cannot perform operation.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                With Invalid Passenger Key:
                  description: Example Error if passenger key is invalid.
                  value:
                    errors:
                    - id: 2987bed7-5690-5050-55e9-819b8551b344
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details: null
                      rawMessage: The identifier 'PassengerKey' with value 'MCFBASDFRFQ-' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                With Invalid Currency Code:
                  description: Example Error if the currency code is invalid.
                  value:
                    errors:
                    - id: 10daf3f4-82c2-cf99-21ba-169fadae0b10
                      code: nsk:Validation:UnknownSellCurrencyCode
                      message: nsk:Validation:UnknownSellCurrencyCode
                      type: Validation
                      details:
                        currencyCode: SDK
                      rawMessage: The currency code SDK does not exist or is not active.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                With Invalid Fee Key:
                  description: Example Error if fee key is invalid.
                  value:
                    errors:
                    - id: ea9e908c-8979-85d8-c9ed-886014d6fc46
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details: null
                      rawMessage: The identifier 'FeeKey' with value 'MT21XF' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                With Invalid Fee Code:
                  description: Example Error if the fee code is not allowed to be quoted.
                  value:
                    errors:
                    - id: bf7c1a48-a4bf-ddf7-2413-93959ba6a3b3
                      code: nsk-server:FeeCalculation
                      message: nsk-server:FeeCalculation
                      type: Validation
                      details: null
                      rawMessage: Cannot quote overrides of type NameChangeFee for new fees.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                With Null Fee Code:
                  description: Example Error if the fee code is null
                  value:
                    errors:
                    - id: 6b34775e-d264-f3a6-4034-62daf6699617
                      code: GetNewOverrideFeeQuoteRequestBase.FeeCode:RequiredAttribute
                      message: The GetNewOverrideFeeQuoteRequestBase field is required.
                      type: Validation
                      details:
                        validation: RequiredAttribute
                        model: GetNewOverrideFeeQuoteRequestBase
                        member: FeeCode
                      rawMessage: The GetNewOverrideFeeQuoteRequestBase field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                With Null Fee Amount:
                  description: Example Error if the fee amount is null
                  value:
                    errors:
                    - id: 6b34775e-d264-f3a6-4034-62daf6699617
                      code: GetNewOverrideFeeQuoteRequestBase.FeeCode:RequiredAttribute
                      message: The GetNewOverrideFeeQuoteRequestBase field is required.
                      type: Validation
                      details:
                        validation: RequiredAttribute
                        model: GetNewOverrideFeeQuoteRequestBase
                        member: Amount
                      rawMessage: The GetNewOverrideFeeQuoteRequestBase field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                With Allow Negative Fees Role Setting Off:
                  description: Example Error if the fee amount is negative or the fee type is not allowed to override, and the role setting is turned off.
                  value:
                    errors:
                    - id: a49a0074-9b6d-9e30-83c3-1c21a56d748c
                      code: nsk:Validation:RoleSettingsProhibit
                      message: nsk:Validation:RoleSettingsProhibit
                      type: Validation
                      details: null
                      rawMessage: Role settings prohibit a negative fee.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                With Inactive Fees:
                  description: Example Error if the agent attempted to sell inactive fees.
                  value:
                    errors:
                    - id: bee189bc-edfc-263b-edc1-33cbf8b709cf
                      code: nsk:Fee:NotFound
                      message: nsk:Fee:NotFound
                      type: Validation
                      details: null
                      rawMessage: The fee was not found.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                With Unauthorized Overriding of Service Fees:
                  description: Example Error if the agent is not authorized to override a service fee.
                  value:
                    errors:
                    - id: 7911302f-46af-3dc8-5714-b2823fec853d
                      code: nsk-server:AuthorizationSSRNotAllowed
                      message: Agent is not authorized to override fees.
                      type: Validation
                      details:
                        message: Agent is not authorized to override fees.
                      rawMessage: Agent is not authorized to override fees.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                With Unauthorized Selling of Service Fees:
                  description: Example Error if the agent is not authorized to sell a service fee.
                  value:
                    errors:
                    - id: cfdacd38-5e2c-ab09-9fce-86722e945f0b
                      code: nsk-server:AuthorizationServiceFeeNotAllowed
                      message: Agent is not authorized to sell service fee FLO.
                      type: Validation
                      details:
                        message: Agent is not authorized to sell service fee FLO.
                      rawMessage: Agent is not authorized to sell service fee FLO.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/passengers/{passengerKey}/infant:
    get:
      tags:
      - booking/passengers
      summary: Gets a specific passenger's infant.
      description: 'GraphQL endpoint: passengerInfant'
      operationId: nsk_v1_booking_passengers_passengerKey_infant_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerInfant'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v3/booking/passengers/{passengerKey}/infant:
    post:
      tags:
      - booking/passengers
      summary: Creates an infant on a specific passenger.
      description: 'If the booking in state contains a passive segment, an infant will not be

        created on the passive segment for the passenger.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: passengerInfantAddv3'
      operationId: nsk_v3_booking_passengers_passengerKey_infant_post
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique identifier of the passenger to which the infant will be added.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new infant.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerInfantCreateRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Valid declared gender mapped to the same binary gender:
                  description: Successfully creating a passenger infant with a valid declared gender mapped to the same binary gender (i.e. Male to Undisclosed or Unspecified).
                  value:
                    data: null
                Valid declared gender mapped to a different binary gender:
                  description: Successfully creating a passenger infant with a valid declared gender mapped to a different binary gender (i.e. Male, Undisclosed or Unspecified to Female).
                  value:
                    messages:
                    - code: SyncBinaryGenderToDeclaredGender
                      type: SyncBinaryGenderToDeclaredGender
                      value: 'Infant Justine Doe - Binary Gender Male will be synced with Declared Gender value F. New Binary Gender: Female'
                      status: 1
                      details: null
                    data: null
                Mismatching gender and declared gender:
                  description: Successfully creating a passenger infant with a mismatching gender (Female) and declared gender (Male).
                  value:
                    messages:
                    - code: SyncBinaryGenderToDeclaredGender
                      type: SyncBinaryGenderToDeclaredGender
                      value: 'Infant Justine Doe - Binary Gender Female will be synced with Declared Gender value M. New Binary Gender: Male'
                      status: 1
                      details: null
                    data: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid declared gender length:
                  description: The declared gender in the request is more than 2 characters.
                  value:
                    errors:
                    - id: null
                      code: PassengerInfantCreateRequest.DeclaredGender:StringLengthAttribute
                      message: The field PassengerInfantCreateRequest must be a string with a maximum length of 2.
                      type: Validation
                      details:
                        member: DeclaredGender
                        model: PassengerInfantCreateRequest
                        validation: StringLengthAttribute
                      rawMessage: The field PassengerInfantCreateRequest must be a string with a maximum length of 2.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Inactive or non-existent declared gender:
                  description: The declared gender in the request is inactive or not configured in the system.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:InvalidDeclaredGender
                      message: Infant John Doe has an invalid Declared Gender K.
                      type: Validation
                      details:
                        message: Infant John Doe has an invalid Declared Gender K.
                      rawMessage: Infant John Doe has an invalid Declared Gender K.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - booking/passengers
      summary: Updates an infant on a specific passenger.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerInfantSetv3'
      operationId: nsk_v3_booking_passengers_passengerKey_infant_put
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The unique identifier of the passenger associated with the infant.
        schema:
          type: string
        x-position: 1
      - name: syncInfantAndTravelDocGender
        in: query
        description: "Indicates whether to synchronize the infant and all its travel documents' gender. This will update the gender of\nall the travel documents in the passengers[passengerKey].infant.travelDocuments list in the booking model. The\nvalue defaults to true if not specified.\n            "
        schema:
          type: boolean
          default: true
        x-position: 3
      requestBody:
        x-name: request
        description: The modified infant.
        content:
          application/json:
            schema:
[...]
