openapi: 3.2.0
info:
  title: flight-ndc-gateway-navitaire Order Reshop API
  version: '21.3'
  description: 'NDC Gateway Api


    **Note:** This is the complete API reference and includes all available operations and parameters, some of which may not be relevant to your specific use case. Before using these examples directly, we recommend starting with the Postman Collection tab, which provides curated sample requests for the most common workflows. For additional tailored examples and guidance, please contact your TUI contact person.'
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- Bearer: []
tags:
- name: OrderReshop
paths:
  /x3/ndc/api/Servicing/r3.x/v21.3/OrderReshop:
    post:
      tags:
      - OrderReshop
      operationId: OrderReshopRQ
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          text/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          application/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          text/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
  /x3/ndc/api/Servicing/r3.x/v2/OrderReshop:
    post:
      tags:
      - OrderReshop
      operationId: POST OrderReshopRQ v21.3 DAPI
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          text/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          application/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          text/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS'
components:
  schemas:
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyValueType:
      type: object
      properties:
        rsA_KeyValue:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RSA_KeyValueType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EmailAddressType:
      type: object
      properties:
        contactTypeText:
          type:
          - string
          - 'null'
        emailAddressText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DisclosureType:
      type: object
      properties:
        desc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType'
        disclosureID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxonomyFeatureType:
      type: object
      properties:
        codesetCode:
          type:
          - string
          - 'null'
        codesetNameCode:
          type:
          - string
          - 'null'
        valueText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CityType:
      type: object
      properties:
        cityName:
          type:
          - string
          - 'null'
        iatA_LocationCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierAircraftTypeType:
      type: object
      properties:
        carrierAircraftTypeCode:
          type:
          - string
          - 'null'
        carrierAircraftTypeName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRQ:
      type: object
      properties:
        augmentationPoint:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType'
        distributionChain:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainLinkType'
        payloadAttributes:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType'
        pos:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.POS_Type'
        request:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderReshopRequestType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAssociatedFunctionsCriteriaType:
      type: object
      properties:
        offerAssociation:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OfferAssociationType'
        orderAssociation:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderAssociationType'
        paymentMethodCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodCriteriaType'
        refundMethodCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RefundMethodCriteriaType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OfferAssociationType:
      type: object
      properties:
        offerItemRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        offerRefID:
          type:
          - string
          - 'null'
        ownerCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasurementSystemCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCriteriaAddlInfoType:
      type: object
      properties:
        paymentCardCriteriaAddlInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCardCriteriaAddlInfoType'
        paymentOtherMethodAddlInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PhoneType:
      type: object
      properties:
        areaCodeNumber:
          type:
          - string
          - 'null'
        contactTypeText:
          type:
          - string
          - 'null'
        countryDialingCode:
          type:
          - string
          - 'null'
        extensionNumber:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_AircraftTypeType:
      type: object
      properties:
        iatA_AircraftTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceCriteriaType:
      type: object
      properties:
        processRuleCode:
          type:
          - string
          - 'null'
        remittanceDate:
          type: string
          format: date-time
        remittanceDateSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TransportPointType:
      type: object
      properties:
        aircraftScheduledDateTime:
          type: string
          format: date-time
        aircraftScheduledDateTimeSpecified:
          type: boolean
        boardingGateID:
          type:
          - string
          - 'null'
        iatA_LocationCode:
          type:
          - string
          - 'null'
        stationName:
          type:
          - string
          - 'null'
        terminalName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderAssociationType:
      type: object
      properties:
        orderItemRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        orderRefID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.POS_Type:
      type: object
      properties:
        agentDutyText:
          type:
          - string
          - 'null'
        city:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CityType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        onlineTrxInd:
          type: boolean
        onlineTrxIndSpecified:
          type: boolean
        requestTime:
          type: string
          format: date-time
        requestTimeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IndividualType:
      type: object
      properties:
        addlName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameType'
        birthdate:
          type: string
          format: date-time
        birthdateSpecified:
          type: boolean
        birthplaceText:
          type:
          - string
          - 'null'
        genderCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType'
        genderCodeSpecified:
          type: boolean
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        individualID:
          type:
          - string
          - 'null'
        middleName:
          type:
          - array
          - 'null'
          items:
            type: string
        suffixName:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        titleName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SettlementInfoType:
      type: object
      properties:
        commission:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CommissionType'
        fee:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FeeType'
        methodCode:
          type:
          - string
          - 'null'
        settlementAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        surcharge:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SurchargeType'
        tax:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxType'
        taxableInd:
          type: boolean
        taxableIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SurchargeType:
      type: object
      properties:
        allRefundableInd:
          type: boolean
        allRefundableIndSpecified:
          type: boolean
        breakdown:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FeeType'
        totalAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.StationType:
      type: object
      properties:
        iatA_LocationCode:
          type:
          - string
          - 'null'
        stationName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CollectionPointTaxType:
      type: object
      properties:
        airportAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        station:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.StationType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PricingParameterType:
      type: object
      properties:
        autoExchInd:
          type: boolean
        autoExchIndSpecified:
          type: boolean
        awardIncludedInd:
          type: boolean
        awardIncludedIndSpecified:
          type: boolean
        awardOnlyInd:
          type: boolean
        awardOnlyIndSpecified:
          type: boolean
        includeUpsellOffersInd:
          type: boolean
        includeUpsellOffersIndSpecified:
          type: boolean
        overrideCurCode:
          type:
          - string
          - 'null'
        simplePricingInd:
          type: boolean
        simplePricingIndSpecified:
          type: boolean
        taxExemption:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxSummaryType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType:
      type: object
      properties:
        characterSetCode:
          type:
          - string
          - 'null'
        encodingCode:
          type:
          - string
          - 'null'
        fileName:
          type:
          - string
          - 'null'
        format:
          type:
          - string
          - 'null'
        mimE_Code:
          type:
          - string
          - 'null'
        uniformResourceID:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
          format: byte
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodCriteriaType:
      type: object
      properties:
        clearanceCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceCriteriaType'
        paymentBrandCode:
          type:
          - string
          - 'null'
        paymentCriteriaAddlInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCriteriaAddlInfoType'
        paymentMethodCountryCode:
          type:
          - string
          - 'null'
        paymentTypeCode:
          type:
          - string
          - 'null'
        prefLevel:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ParticipatingOrgType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        orgID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesAgentType:
      type: object
      properties:
        salesAgentID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FareWaiverType:
      type: object
      properties:
        fareRuleWaiverCode:
          type:
          - string
          - 'null'
        fareWaiverTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FeeType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        approximateInd:
          type: boolean
        approximateIndSpecified:
          type: boolean
        descText:
          type:
          - string
          - 'null'
        desigText:
          type:
          - string
          - 'null'
        guaranteeTimeLimitDateTime:
          type: string
          format: date-time
        guaranteeTimeLimitDateTimeSpecified:
          type: boolean
        localAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        maximumAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        minimumAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        percent:
          type: number
          format: double
        percentSpecified:
          type: boolean
        refundInd:
          type: boolean
        refundIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayloadRestrictionsType:
      type: object
      properties:
        limit:
          type: number
          format: double
        limitSpecified:
          type: boolean
        objectName:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ObjectNameCodeType'
        objectNameSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CypherDataType:
      type: object
      properties:
        cypherValue:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedOperatingLegType:
      type: object
      properties:
        airlineTaxonomy:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType'
        arrival:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TransportPointType'
        carrierAircraftType:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierAircraftTypeType'
        changeofGaugeInd:
          type: boolean
        changeofGaugeIndSpecified:
          type: boolean
        datedOperatingLegID:
          type:
          - string
          - 'null'
        dep:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TransportPointType'
        distanceMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
        iatA_AircraftType:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_AircraftTypeType'
        onGroundDuration:
          type:
          - string
          - 'null'
        richMedia:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ShopandReshopRequestPaxSegmentType:
      type: object
      properties:
        airlineTaxonomy:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType'
        cabinTypeAssociationChoice:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CabinTypeAssociationChoiceType'
        datedMarketingSegmentRefId:
          type:
          - string
          - 'null'
        paxSegmentID:
          type:
          - string
          - 'null'
        richMedia:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType'
        settlementInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SettlementInfoType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceType:
      type: object
      properties:
        deviceCode:
          type:
          - string
          - 'null'
        deviceOwnerTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OwnershipTypeCodeType'
        deviceOwnerTypeCodeSpecified:
          type: boolean
        presenceTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PresenceTypeCodeType'
        presenceTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BDC_Type:
      type: object
      properties:
        bagRuleCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BagRuleCodeType'
        bagRuleCodeSpecified:
          type: boolean
        bdC_AnalysisResultCode:
          type:
          - string
          - 'null'
        bdC_ReasonText:
          type:
          - string
          - 'null'
        carrierDesigCode:
          type:
          - string
          - 'null'
        carrierName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RefundMethodCriteriaType:
      type: object
      properties:
        originalPaymentMethodInd:
          type: boolean
        originalPaymentMethodIndSpecified:
          type: boolean
        paymentBrandCode:
          type:
          - string
          - 'null'
        paymentCard:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RefundPaymentCardType'
        paymentTypeCode:
          type:
          - string
          - 'null'
        prefLevel:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasureType:
      type: object
      properties:
        unitCode:
          type:
          - string
          - 'null'
        value:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OtherAddressType:
      type: object
      properties:
        contactTypeText:
          type:
          - string
          - 'null'
        otherAddressText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CryptographyKeyType:
      type: object
      properties:
        keyNameText:
          type:
          - string
          - 'null'
        keyValue:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyValueType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCardCriteriaAddlInfoType:
      type: object
      properties:
        cardProductTypeCode:
          type:
          - string
          - 'null'
        cardTypeText:
          type:
          - string
          - 'null'
        iiN_IINNumber:
          type:
          - string
          - 'null'
        securePaymentAuthenticationVersion:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SecurePaymentAuthenticationVersionType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OwnershipTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType:
      type: object
      properties:
        altLangID:
          type:
          - string
          - 'null'
        correlationID:
          type:
          - string
          - 'null'
        primaryLangID:
          type:
          - string
          - 'null'
        retransmissionInd:
          type: boolean
        retransmissionIndSpecified:
          type: boolean
        seqNumber:
          type: number
          format: double
        seqNumberSpecified:
          type: boolean
        timestamp:
          type: string
          format: date-time
        timestampSpecified:
          type: boolean
        trxID:
          type:
          - string
          - 'null'
        versionNumber:
          type: number
          format: double
        versionNumberSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PrefLevelCodeType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainLinkType:
      type: object
      properties:
        contactInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        ordinal:
          type:
          - string
          - 'null'
        orgRole:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainRoleCodeType'
        participatingOrg:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ParticipatingOrgType'
        salesAgent:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesAgentType'
        salesBranch:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesBranchType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SecurePaymentAuthenticationVersionType:
      type: object
      properties:
        cardEnrollmentVersionText:
          type:
          - array
          - 'null'
          items:
            type: string
        supportedVersionText:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType:
      type: object
      properties:
        contentType:
          type:
          - string
          - 'null'
        descText:
          type:
          - string
          - 'null'
        resourceURI:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RefundPaymentCardType:
      type: object
      properties:
        cardBrandCode:
          type:
          - string
          - 'null'
        cardHolderName:
          type:
          - string
          - 'null'
        cardIssuingCountryCode:
          type:
          - string
          - 'null'
        cardNumber:
          type:
          - string
          - 'null'
        cardProductTypeCode:
          type:
          - string
          - 'null'
        cardSeqNumber:
          type: number
          format: double
        cardSeqNumberSpecified:
          type: boolean
        cardTypeText:
          type:
          - string
          - 'null'
        encryptedData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EncryptedDataType'
        expirationDate:
          type:
          - string
          - 'null'
        paymentInstrumentOwnershipCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OwnershipTypeCodeType'
        paymentInstrumentOwnershipCodeSpecified:
          type: boolean
        protectedCardID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GeospatialLocationType:
      type: object
      properties:
        naturalAreaGeocode:
          type:
          - string
          - 'null'
        pointElevationNumber:
          type: number
          format: double
        pointElevationNumberSpecified:
          type: boolean
        pointLatitudeNumber:
          type: number
          format: double
        pointLatitudeNumberSpecified:
          type: boolean
        pointLongitudeNumber:
          type: number
          format: double
        pointLongitudeNumberSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CabinTypeAssociationChoiceType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType:
      type: object
      properties:
        descText:
          type:
          - string
          - 'null'
        markupStyleText:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType:
      type: object
      properties:
        displayInd:
          type: boolean
        displayIndSpecified:
          type: boolean
        remarkText:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        timestampSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CommissionType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        commissionCode:
          type:
          - string
          - 'null'
        percentage:
          type: number
          format: double
        percentageSpecified:
          type: boolean
        percentageAppliedToAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        taxableInd:
          type: boolean
        taxableIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BookingEntityType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ResponseParametersRequestType:
      type: object
      properties:
        bdc:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BDC_Type'
        curParameter:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurParameterType'
        device:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceType'
        deviceLocation:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceLocationType'
        inventoryGuaranteeInd:
          type: boolean
        inventoryGuaranteeIndSpecified:
          type: boolean
        langUsage:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LangUsageType'
        measurementSystemCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasurementSystemCodeType'
        measurementSystemCodeSpecified:
          type: boolean
        paxGroup:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxGroupType'
        pricingParameter:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PricingParameterType'
        reasonCode:
          type:
          - string
          - 'null'
        remark:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RSA_KeyValueType:
      type: object
      properties:
        exponent:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
        modulus:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountrySubDivisionType:
      type: object
      properties:
        countrySubDivisionCode:
          type:
          - string
          - 'null'
        countrySubDivisionName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceLocationType:
      type: object
      properties:
        city:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CityType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        geospatialLocation:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GeospatialLocationType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedOperatingSegmentType:
      type: object
      properties:
        carrierDesigCode:
          type:
          - string
          - 'null'
        carrierName:
          type:
          - string
          - 'null'
        datedOperatingLegRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        datedOperatingSegmentId:
          type:
          - string
          - 'null'
        disclosureRefID:
          type:
          - string
          - 'null'
        duration:
          type:
          - string
          - 'null'
        operatingCarrierFlightNumberText:
          type:
          - string
          - 'null'
        operationalSuffixText:
          type:
          - string
          - 'null'
        secureFlightInd:
          type: boolean
        secureFlightIndSpecified:
          type: boolean
        segmentTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType:
      type: object
      properties:
        curCode:
          type:
          - string
          - 'null'
        value:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.UpdateOrderType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxGroupType:
      type: object
      properties:
        contactInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        intendedPaxQty:
          type: number
          format: double
        intendedPaxQtySpecified:
          type: boolean
        paxGroupID:
          type:
          - string
          - 'null'
        paxGroupName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurParameterType:
      type: object
      properties:
        appCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurAppCodeType'
        appCodeSpecified:
          type: boolean
        curCode:
          type:
          - string
          - 'null'
        decimalsAllowedNumber:
          type: number
          format: double
        decimalsAllowedNumberSpecified:
          type: boolean
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EncryptedDataType:
      type: object
      properties:
        cryptographyKey:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CryptographyKeyType'
        cypherData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CypherDataType'
        encryptedCardNumber:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
        encryptedCardSecurityNumber:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
        first6DigitsText:
          type:
          - string
          - 'null'
        keyNameText:
          type:
          - string
          - 'null'
        last4DigitsText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderReshopRS:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items: {}
        augmentationPoint:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType'
        payloadAttributes:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurAppCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BagRuleCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType:
      type: object
      properties:
        prefLevelCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PrefLevelCodeType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxType:
      type: object
      properties:
        addlFiledTaxCode:
          type:
          - string
          - 'null'
        addlTaxCode:
          type:
          - string
          - 'null'
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        approximateInd:
          type: boolean
        approximateIndSpecified:
          type: boolean
        appTypeCode:
          type:
          - string
          - 'null'
        collectionInd:
          type: boolean
        collectionIndSpecified:
          type: boolean
        collectionPointTax:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CollectionPointTaxType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        countrySubDivision:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountrySubDivisionType'
        curConversion:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurConversionType'
        descText:
          type:
          - string
          - 'null'
        filedAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        filedTaxCode:
          type:
          - string
          - 'null'
        qualifierCode:
          type:
          - string
          - 'null'
        refundInd:
          type: boolean
        refundIndSpecified:
          type: boolean
        taxCode:
          type:
          - string
          - 'null'
        taxName:
          type:
          - string
          - 'null'
        taxTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxTypeCodeType'
        taxTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType:
      type: object
      properties:
        contactInfoID:
          type:
          - string
          - 'null'
        contactPurposeText:
          type:
          - array
          - 'null'
          items:
            type: string
        contactRefusedInd:
          type: boolean
        contactRefusedIndSpecified:
          type: boolean
        emailAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EmailAddressType'
        individual:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IndividualType'
        individualRefID:
          type:
          - string
          - 'null'
        otherAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OtherAddressType'
        paxSegmentRefID:
          type:
          - string
          - 'null'
        phone:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PhoneType'
        postalAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PostalAddressType'
        relationshipToPax:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxSummaryType:
      type: object
      properties:
        allRefundableInd:
          type: boolean
        allRefundableIndSpecified:
          type: boolean
        approximateInd:
          type: boolean
        approximateIndSpecified:
          type: boolean
        collectionInd:
          type: boolean
        collectionIndSpecified:
          type: boolean
        guaranteeTimeLimitDateTime:
          type: string
          format: date-time
        guaranteeTimeLimitDateTimeSpecified:
          type: boolean
        refundMethodText:
          type:
          - string
          - 'null'
        tax:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxType'
        totalRefundableTaxAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        totalTaxAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesBranchType:
      type: object
      properties:
        salesBranchID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ShoppingRequestPaxJourneyType:
      type: object
      properties:
        paxJourneyID:
          type:
          - string
          - 'null'
        paxSegment:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ShopandReshopRequestPaxSegmentType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RateType:
      type: object
      properties:
        baseCurCode:
          type:
          - string
          - 'null'
        baseMultiplierValue:
          type: number
          format: double
        baseMultiplierValueSpecified:
          type: boolean
        baseUnitCode:
          type:
          - string
          - 'null'
        curCode:
          type:
          - string
          - 'null'
        format:
          type:
          - string
          - 'null'
        multiplierValue:
          type: number
          format: double
        multiplierValueSpecified:
          type: boolean
        unitCode:
          type:
          - string
          - 'null'
        value:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PostalAddressType:
      type: object
      properties:
        buildingRoomText:
          type:
          - string
          - 'null'
        cityName:
          type:
          - string
          - 'null'
        contactTypeText:
          type:
          - string
          - 'null'
        countryCode:
          type:
          - string
          - 'null'
        countryName:
          type:
          - string
          - 'null'
        countrySubDivisionName:
          type:
          - string
          - 'null'
        pO_BoxCode:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        streetText:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderReshopRequestType:
      type: object
      properties:
        bookingRef:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BookingRefType'
        contactInfoList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        datedMarketingSegmentList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedMarketingSegmentType'
        datedOperatingLegList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedOperatingLegType'
        datedOperatingSegmentList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedOperatingSegmentType'
        disclosureList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DisclosureType'
        fareWaiver:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FareWaiverType'
        orderRefID:
          type:
          - string
          - 'null'
        paxJourneyList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ShoppingRequestPaxJourneyType'
        payloadRestrictions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayloadRestrictionsType'
        paymentFunctions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAssociatedFunctionsCriteriaType'
        responseParameters:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ResponseParametersRequestType'
        updateOrder:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.UpdateOrderType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedMarketingSegmentType:
      type: object
      properties:
        airlineTaxonomy:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType'
        arrival:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TransportPointType'
        carrierDesigCode:
          type:
          - string
          - 'null'
        carrierName:
          type:
          - string
          - 'null'
        datedMarketingSegmentId:
          type:
          - string
          - 'null'
        datedOperatingSegmentRefId:
          type:
          - string
          - 'null'
        dep:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TransportPointType'
        marketingCarrierFlightNumberText:
          type:
          - string
          - 'null'
        operationalSuffixText:
          type:
          - string
          - 'null'
        richMedia:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType'
        ticketlessInd:
          type: boolean
        ticketlessIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurConversionType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        conversionRate:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RateType'
        localAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ObjectNameCodeType:
      enum:
      - 0
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PresenceTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainRoleCodeType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType:
      type: object
      properties:
        descText:
          type:
          - string
          - 'null'
        taxonomyCode:
          type:
          - string
          - 'null'
        taxonomyFeature:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxonomyFeatureType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountryType:
      type: object
      properties:
        countryCode:
          type:
          - string
          - 'null'
        countryName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BookingRefType:
      type: object
      properties:
        bookingEntity:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BookingEntityType'
        bookingID:
          type:
          - string
          - 'null'
        bookingRefTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        nameTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameTypeCodeType'
        nameTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LangUsageType:
      type: object
      properties:
        langCode:
          type:
          - string
          - 'null'
        langUsageText:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Please enter into field the word 'Bearer' following by space and JWT
      scheme: Bearer
      bearerFormat: JWT
