openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Booking/boardingpasses API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: booking/boardingpasses
paths:
  /api/nsk/v3/booking/boardingpasses/journey/{journeyKey}:
    post:
      tags:
      - booking/boardingpasses
      summary: Retrieves the version of the boarding passes based on a specific journey.
      description: 'GraphQL endpoint: boardingPassByJourneyv3'
      operationId: nsk_v3_booking_boardingpasses_journey_journeyKey_post
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey to retrieve boarding passes for.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The passenger/segment filter request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardingPassFilterRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBoardingPassesCollectionv2'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/boardingpasses/m2d/journey/{journeyKey}:
    post:
      tags:
      - booking/boardingpasses
      summary: 'Retrieves the specific journeys boarding passes using the M2D barcode type. This endpoint will only give a single

        barcode back even if the journey contains multiple segments. Note that if the journey has only one segment the M2D

        barcode will look just like the S2D barcode.'
      description: 'GraphQL endpoint: boardingPassByJourneyForPassengerM2D'
      operationId: nsk_v1_booking_boardingpasses_m2d_journey_journeyKey_post
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The specific journey to get boarding passes for.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The boarding pass passenger filter request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardingPassPassengerFilterRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBoardingPassesM2D'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/boardingpasses/s2d/journey/{journeyKey}:
    post:
      tags:
      - booking/boardingpasses
      summary: 'Retrieves the specific journeys boarding passes for each segment using the S2D barcode type. This endpoint will

        provide a single barcode for each segment.'
      description: 'GraphQL endpoint: boardingPassByJourneyForPassengerS2D'
      operationId: nsk_v1_booking_boardingpasses_s2d_journey_journeyKey_post
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The specific journey to get boarding passes for.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The boarding pass passenger filter request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardingPassPassengerFilterRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBoardingPassesS2D'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v3/booking/boardingpasses/segment/{segmentKey}:
    post:
      tags:
      - booking/boardingpasses
      summary: Retrieves the version of the boarding passes based on a specific segment.
      description: 'GraphQL endpoint: boardingPassBySegmentv3'
      operationId: nsk_v3_booking_boardingpasses_segment_segmentKey_post
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment to retrieve boarding passes for.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The passenger filter request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardingPassPassengerFilterRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBoardingPassesCollectionv2'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
components:
  schemas:
    TransportationIdentifier:
      type: object
      description: "Represents the transportation identifier model data.\n            "
      additionalProperties: false
      required:
      - identifier
      - carrierCode
      properties:
        identifier:
          type: string
          description: "The unique transportation identifier.\n            "
          maxLength: 4
          minLength: 0
        carrierCode:
          type: string
          description: "The carrier code.\n            "
          maxLength: 3
          minLength: 2
        opSuffix:
          type:
          - string
          - 'null'
          description: "The op suffix.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
    BoardingPassBoardingDetails:
      type: object
      description: "Defines the boarding pass boarding details.\n            "
      additionalProperties: false
      properties:
        boardingSequence:
          type: integer
          description: "The boarding sequence number.\n            "
        boardingZone:
          type: integer
          description: "The boarding zone number.\n            "
        externalBoardingZone:
          type:
          - string
          - 'null'
          description: "The external boarding zone.\n            "
        authorizationList:
          type:
          - array
          - 'null'
          description: "The boarding pass authorization list containing basic authorization information.\n            "
          items:
            $ref: '#/components/schemas/BoardingPassAuthorization'
    WeightType:
      type: integer
      description: "Weight Type enumeration.\n            \n\n0 = Default\n1 = Pounds\n2 = Kilograms"
      x-enumNames:
      - Default
      - Pounds
      - Kilograms
      enum:
      - 0
      - 1
      - 2
    BoardingPassesS2D:
      type: object
      description: "Represents a collection of boarding passes following the S2D bar code format.\n            "
      additionalProperties: false
      properties:
        recordLocator:
          type:
          - string
          - 'null'
          description: "The record locator in reference.\n            "
        currencyCode:
          type:
          - string
          - 'null'
          description: "The currency code.\n            "
        contactPhoneNumber:
          type:
          - string
          - 'null'
          description: "The booking contacts phone number.\n            "
        boardingPasses:
          type:
          - array
          - 'null'
          description: "The collection of boarding passes using S2D bar codes.\n            "
          items:
            $ref: '#/components/schemas/BoardingPassS2D'
    LiftStatus:
      type: integer
      description: "Lift status enumeration.\n            \n\n0 = Default\n1 = CheckedIn\n2 = Boarded\n3 = NoShow"
      x-enumNames:
      - Default
      - CheckedIn
      - Boarded
      - NoShow
      enum:
      - 0
      - 1
      - 2
      - 3
    BaggageStatus:
      type: integer
      description: "Baggage Status enumeration.\n            \n\n0 = Default\n1 = Checked\n2 = Removed\n3 = Added\n4 = AddedPrinted"
      x-enumNames:
      - Default
      - Checked
      - Removed
      - Added
      - AddedPrinted
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    TransportationDesignator:
      type: object
      description: "Model information about the traveling arrival and destination details.\n            "
      additionalProperties: false
      properties:
        destination:
          type:
          - string
          - 'null'
          description: "Gets or sets the leg arrival station.\n            "
          maxLength: 3
          minLength: 0
        origin:
          type:
          - string
          - 'null'
          description: "Gets or sets the leg departure station.\n            "
          maxLength: 3
          minLength: 0
        arrival:
          type: string
          description: "The arrival date and time local to the arrival station.\n            "
          format: date-time
        departure:
          type: string
          description: "The departure date and time local to the departure station.\n            "
          format: date-time
    BoardingPassInfantDetails:
      type: object
      description: "Defines the boarding pass infant details.\n            "
      additionalProperties: false
      properties:
        name:
          description: "The given name.\n            "
          $ref: '#/components/schemas/Name'
        isoName:
          description: "The given name converted to ISO standard.\n            "
          $ref: '#/components/schemas/Name'
        dateOfBirth:
          type:
          - string
          - 'null'
          description: "The date of birth.\n            "
          format: date-time
        gender:
          description: "The gender.\n            "
          $ref: '#/components/schemas/Gender'
        documents:
          type:
          - array
          - 'null'
          description: "The collection of travel documents.\n            "
          items:
            $ref: '#/components/schemas/PassengerTravelDocument'
    BoardingPassSegment:
      type: object
      description: "Defines the boarding pass segment details.\n            "
      additionalProperties: false
      properties:
        designator:
          description: "The transportation designator details based on the legs.\n            "
          $ref: '#/components/schemas/BoardingPassTransportationDesignator'
        transportationName:
          type:
          - string
          - 'null'
          description: "The name of the transportation company.\n            "
        departureGate:
          type:
          - string
          - 'null'
          description: "The scheduled departure gate.\n            "
        boardingTime:
          type:
          - string
          - 'null'
          description: "The scheduled boarding time.\n            "
          format: date-time
        type:
          description: "The type of the current segment.\n            "
          $ref: '#/components/schemas/SegmentTypes'
        international:
          type: boolean
          description: "Flag indicating if the segment is international.\n            "
        ticketNumber:
          type:
          - string
          - 'null'
          description: "The assigned passengers ticket number.\n            "
        infantTicketNumber:
          type:
          - string
          - 'null'
          description: "The assigned infants ticket number.\n            "
        ticketIndicator:
          type:
          - string
          - 'null'
          description: "The ticket indicator.\n            "
        cabinOfService:
          type:
          - string
          - 'null'
          description: "The assigned to cabin of service.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        classOfService:
          type:
          - string
          - 'null'
          description: "The assigned to class of service.\n            "
        externalClassOfService:
          type:
          - string
          - 'null'
          description: "The externals reference class of service.\n            "
        fareClassName:
          type:
          - string
          - 'null'
          description: "The fare class name.\n            "
        productClassName:
          type:
          - string
          - 'null'
          description: "The product class name.\n            "
        externalRecordLocator:
          type:
          - string
          - 'null'
          description: "The assigned external record locator.\n            "
        program:
          description: "The applied passenger program if one existed.\n            "
          $ref: '#/components/schemas/BoardingPassProgram'
        hasInfant:
          type: boolean
          description: "Flag indicating if this segment has a infant.\n            "
        identifier:
          description: "The transportation identifier details about the segment.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
        legs:
          type:
          - array
          - 'null'
          description: "The collection of legs.\n            "
          items:
            $ref: '#/components/schemas/BoardingPassLeg'
        externalIdentifier:
          description: "The external transportation identifier details about the segment.\n            "
          $ref: '#/components/schemas/BoardingPassTransportationIdentifier'
        arrivalTime:
          type:
          - string
          - 'null'
          description: "The estimated time of arrival.\nIf the UseEstimatedTimesOnBoardingPass is set to True, the arrival time will be the estimated arrival time.\nIf the UseEstimatedTimesOnBoardingPass is set to False, the arrival time will be the scheduled arrival time.\n            "
          format: date-time
        departureTime:
          type:
          - string
          - 'null'
          description: "The estimated time of departure.\nIf the UseEstimatedTimesOnBoardingPass is set to True, the departure time will be the estimated departure time.\nIf the UseEstimatedTimesOnBoardingPass is set to False, the departure time will be the scheduled departure time.\n            "
          format: date-time
    IJsonResponseOfBoardingPassesM2D:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/BoardingPassesM2D'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    BoardingPassAuthorization:
      type: object
      description: "Defines the boarding pass authorization model.\n            "
      additionalProperties: false
      properties:
        isInfant:
          type: boolean
          description: "Flag indicating if this authorization is for an infant.\n            "
        authorizationStatus:
          type:
          - string
          - 'null'
          description: "The authorization status based on the current security driver. See driver name.\n            "
        driverName:
          type:
          - string
          - 'null'
          description: "The name of the security driver for this government message type. Used for override requests if necessary.\n            "
        boardingPassPrintText:
          type:
          - string
          - 'null'
          description: "The boarding pass print text for the driver. Ex) SSSS for Selectee or TSA pre-check.\n            "
    BoardingPassS2D:
      type: object
      description: "Represents a boarding pass for a specific passenger using the S2D barcode type.\n            "
      additionalProperties: false
      properties:
        passenger:
          description: "The passenger details.\n            "
          $ref: '#/components/schemas/BoardingPassPassengerDetailsBase'
        userName:
          type:
          - string
          - 'null'
          description: "The user name of the logged in user.\n            "
        iataCode:
          type:
          - string
          - 'null'
          description: "The IATA code.\n            "
        fareBasisCode:
          type:
          - string
          - 'null'
          description: "The acting fare basis code.\n            "
        fareClass:
          type:
          - string
          - 'null'
          description: "The acting fare class.\n            "
        baseFare:
          type: number
          description: "The base fare amount.\n            "
          format: decimal
        totalFare:
          type: number
          description: "The total fare amount.\n            "
          format: decimal
        totalCost:
          type: number
          description: "The total cost amount.\n            "
          format: decimal
        discountedFare:
          type: number
          description: "The discounted fare amount.\n            "
          format: decimal
        totalTax:
          type: number
          description: "The total amount of tax.\n            "
          format: decimal
        receiptNumber:
          type:
          - string
          - 'null'
          description: "The receipt number.\n            "
        serviceCharges:
          type:
          - array
          - 'null'
          description: "The collection of service charges for this segment.\n            "
          items:
            $ref: '#/components/schemas/ServiceCharge'
        segments:
          type:
          - array
          - 'null'
          description: "The collection of segments to display bar codes for.\n            "
          items:
            $ref: '#/components/schemas/BoardingPassS2DSegment'
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    BoardingPassv2:
      type: object
      description: "Defines the top level boarding pass details.\n            "
      additionalProperties: false
      properties:
        userName:
          type:
          - string
          - 'null'
          description: "The user name of the logged in user.\n            "
        iataCode:
          type:
          - string
          - 'null'
          description: "The IATA code.\n            "
        fareBasisCode:
          type:
          - string
          - 'null'
          description: "The acting fare basis code.\n            "
        fareClass:
          type:
          - string
          - 'null'
          description: "The acting fare class.\n            "
        baseFare:
          type: number
          description: "The base fare amount.\n            "
          format: decimal
        totalFare:
          type: number
          description: "The total fare amount.\n            "
          format: decimal
        totalCost:
          type: number
          description: "The total cost amount.\n            "
          format: decimal
        discountedFare:
          type: number
          description: "The discounted fare amount.\n            "
          format: decimal
        totalTax:
          type: number
          description: "The total amount of tax.\n            "
          format: decimal
        receiptNumber:
          type:
          - string
          - 'null'
          description: "The receipt number.\n            "
        serviceCharges:
          type:
          - array
          - 'null'
          description: "The collection of service charges for this segment.\n            "
          items:
            $ref: '#/components/schemas/ServiceCharge'
        passenger:
          description: "The passenger details.\n            "
          $ref: '#/components/schemas/BoardingPassPassengerDetailsv2'
        segments:
          type:
          - array
          - 'null'
          description: "The collection of segments for the barcode.\nNote these can represent leg information on a change of gauge flight.\n            "
          items:
            $ref: '#/components/schemas/BoardingPassSegment'
    BoardingPassProgram:
      type: object
      description: "Defines the boarding pass acting program.\n            "
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
          description: "The programs name.\n            "
        number:
          type:
          - string
          - 'null'
          description: "The programs number.\n            "
        levelName:
          type:
          - string
          - 'null'
          description: "The programs level name.\n            "
    MessageStatus:
      type: integer
      description: "Defines the message status.\n            \n\n0 = General\n1 = Warning\n2 = Critical"
      x-enumNames:
      - General
      - Warning
      - Critical
      enum:
      - 0
      - 1
      - 2
    Gender:
      type: integer
      description: "Defines the different binary gender types.\n            \n\n0 = XX\n1 = Male\n2 = Female"
      x-enumNames:
      - XX
      - Male
      - Female
      enum:
      - 0
      - 1
      - 2
    PassengerTravelDocument:
      type: object
      description: "Model representing a passenger travel document.\n            "
      additionalProperties: false
      required:
      - documentTypeCode
      properties:
        documentTypeCode:
          type: string
          description: "The unique travel document type code.\n            "
          maxLength: 4
          minLength: 0
        issuedByCode:
          type:
          - string
          - 'null'
          description: "The issuer code for the travel document (country code).\n            "
          maxLength: 3
          minLength: 0
        birthCountry:
          type:
          - string
          - 'null'
          description: "The BirthCountry property.\n            "
        name:
          description: "The Name property.\n            "
          $ref: '#/components/schemas/Name'
        nationality:
          type:
          - string
          - 'null'
          description: "The Nationality property.\n            "
          maxLength: 2
          minLength: 0
        expirationDate:
          type:
          - string
          - 'null'
          description: "The date when this travel document expires.\n            "
          format: date-time
        number:
          type:
          - string
          - 'null'
          description: "The travel document number.\n            "
          maxLength: 35
          minLength: 0
        issuedDate:
          type:
          - string
          - 'null'
          description: "The date this travel document was issued.\n            "
          format: date-time
        gender:
          description: "The travel document holder's gender.\n            "
          $ref: '#/components/schemas/Gender'
        dateOfBirth:
          type:
          - string
          - 'null'
          description: "The person's date of birth.\n            "
          format: date-time
        declaredGender:
          type:
          - string
          - 'null'
          description: "The travel document holder's declared gender.\nThis will override the gender field on passenger or person POST, PUT, and PATCH requests.\nNote: Any value other than \"F\" will cause gender to be updated to Male by default to support compatibility with\nother systems.\nAdditionally you cannot change the declared gender and gender fields at the same time as declared gender\nwill override any gender field value regardless of the value passed in.\n            "
          maxLength: 2
          minLength: 0
        placeOfBirth:
          type:
          - string
          - 'null'
          description: "Represents the place of birth. Only used on the following document type groups: TravelVisa (9), RedressNumber (20),\nand KnownTravelerId (21).\nOnly allows alpha characters, please do not use spaces, numbers, or special characters.\nNote: If unsure which travel document types fall into these groups please use `/api/nsk/v1/resources/DocumentTypes`\nor `/api/nsk/v1/resources/DocumentTypes/{documentTypeCode}`\n            "
          maxLength: 35
          minLength: 0
          pattern: ^[A-Za-z\s]*$
        placeOfIssue:
          type:
          - string
          - 'null'
          description: "Represents the place of issue. Only used on the following document type groups: TravelVisa (9), RedressNumber (20),\nand KnownTravelerId (21).\nOnly allows alpha characters, please do not use spaces, hyphens, or special characters.\nNote: If unsure which travel document types fall into these groups please use `/api/nsk/v1/resources/DocumentTypes`\nor `/api/nsk/v1/resources/DocumentTypes/{documentTypeCode}`\n            "
          maxLength: 35
          minLength: 0
          pattern: ^[A-Za-z\s]*$
        passengerTravelDocumentKey:
          type:
          - string
          - 'null'
          description: "A key that  uniquely identifies a travel document in the context of a specific passenger.\n            "
    BoardingPassS2DSegment:
      type: object
      description: "Represents a boarding pass segment following the S2D barcode type. When using S2D format each segment will have a\nbarcode.\n            "
      additionalProperties: false
      properties:
        designator:
          description: "The transportation designator details based on the legs.\n            "
          $ref: '#/components/schemas/BoardingPassTransportationDesignator'
        transportationName:
          type:
          - string
          - 'null'
          description: "The name of the transportation company.\n            "
        departureGate:
          type:
          - string
          - 'null'
          description: "The scheduled departure gate.\n            "
        boardingTime:
          type:
          - string
          - 'null'
          description: "The scheduled boarding time.\n            "
          format: date-time
        type:
          description: "The type of the current segment.\n            "
          $ref: '#/components/schemas/SegmentTypes'
        international:
          type: boolean
          description: "Flag indicating if the segment is international.\n            "
        ticketNumber:
          type:
          - string
          - 'null'
          description: "The assigned passengers ticket number.\n            "
        infantTicketNumber:
          type:
          - string
          - 'null'
          description: "The assigned infants ticket number.\n            "
        ticketIndicator:
          type:
          - string
          - 'null'
          description: "The ticket indicator.\n            "
        cabinOfService:
          type:
          - string
          - 'null'
          description: "The assigned to cabin of service.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        classOfService:
          type:
          - string
          - 'null'
          description: "The assigned to class of service.\n            "
        externalClassOfService:
          type:
          - string
          - 'null'
          description: "The externals reference class of service.\n            "
        fareClassName:
          type:
          - string
          - 'null'
          description: "The fare class name.\n            "
        productClassName:
          type:
          - string
          - 'null'
          description: "The product class name.\n            "
        externalRecordLocator:
          type:
          - string
          - 'null'
          description: "The assigned external record locator.\n            "
        program:
          description: "The applied passenger program if one existed.\n            "
          $ref: '#/components/schemas/BoardingPassProgram'
        hasInfant:
          type: boolean
          description: "Flag indicating if this segment has a infant.\n            "
        identifier:
          description: "The transportation identifier details about the segment.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
        legs:
          type:
          - array
          - 'null'
          description: "The collection of legs.\n            "
          items:
            $ref: '#/components/schemas/BoardingPassLeg'
        externalIdentifier:
          description: "The external transportation identifier details about the segment.\n            "
          $ref: '#/components/schemas/BoardingPassTransportationIdentifier'
        arrivalTime:
          type:
          - string
          - 'null'
          description: "The estimated time of arrival.\nIf the UseEstimatedTimesOnBoardingPass is set to True, the arrival time will be the estimated arrival time.\nIf the UseEstimatedTimesOnBoardingPass is set to False, the arrival time will be the scheduled arrival time.\n            "
          format: date-time
        departureTime:
          type:
          - string
          - 'null'
          description: "The estimated time of departure.\nIf the UseEstimatedTimesOnBoardingPass is set to True, the departure time will be the estimated departure time.\nIf the UseEstimatedTimesOnBoardingPass is set to False, the departure time will be the scheduled departure time.\n            "
          format: date-time
        barCode:
          type:
          - string
          - 'null'
          description: "The barcode data.\n            "
    BoardingPassSeatDetails:
      type: object
      description: "Defines the boarding pass assigned seat details.\n            "
      additionalProperties: false
      properties:
        column:
          type:
          - string
          - 'null'
          description: "The seat column.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        row:
          type: integer
          description: "The seat row.\n            "
        designator:
          type:
          - string
          - 'null'
          description: "The seat designator.\n            "
    BoardingPassPassengerScore:
      type: object
      description: "Defines the boarding pass passenger score.\n            "
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
          description: "The score name.\n            "
        code:
          type:
          - string
          - 'null'
          description: "The score code.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
    Name:
      type: object
      description: "Defines a common name.\n            "
      additionalProperties: false
      properties:
        first:
          type:
          - string
          - 'null'
          description: "The given first name.\n            "
          maxLength: 32
          minLength: 0
        middle:
          type:
          - string
          - 'null'
          description: "The given middle name.\n            "
          maxLength: 32
          minLength: 0
        last:
          type:
          - string
          - 'null'
          description: "The given last name.\n            "
          maxLength: 32
          minLength: 0
        title:
          type:
          - string
          - 'null'
          description: "The title.\n            "
          maxLength: 6
          minLength: 0
        suffix:
          type:
          - string
          - 'null'
          description: "The suffix.\n            "
          maxLength: 6
          minLength: 0
    BoardingPassFilterRequest:
      type: object
      description: "Defines the boarding pass request that is responsible for filtering the boarding pass response.\n            "
      additionalProperties: false
      properties:
        passengerKeys:
          type:
          - array
          - 'null'
          description: "The selected passenger keys to be returned. If null all passengers will be returned that have been checked in.\n            "
          items:
            type: string
        source:
          type:
          - string
          - 'null'
          description: "Name of the application requesting for boarding pass print.\nPlease note that this should be a char and not a string.\nValid values are 'O', 'K', 'M', 'W', and ' '.\n            "
          maxLength: 1
        skipLogToHistory:
          type: boolean
          description: "Whether to add event to history log.\n            "
        segmentKeys:
          type:
          - array
          - 'null'
          description: "The selected segment keys to be returned. If null all segments will be returned that have been checked into.\n            "
          items:
            type: string
    CollectType:
      type: integer
      description: "Used to identify the collect type of a service charge.\n            \n\n0 = SellerChargeable\n1 = ExternalChargeable\n2 = SellerNonChargeable\n3 = ExternalNonChargeable\n4 = ExternalChargeableImmediate"
      x-enumNames:
      - SellerChargeable
      - ExternalChargeable
      - SellerNonChargeable
      - ExternalNonChargeable
      - ExternalChargeableImmediate
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    BoardingPassM2D:
      type: object
      description: "Represents the boarding pass following the M2D barcode format.\n            "
      additionalProperties: false
      properties:
        passenger:
          description: "The passenger details.\n            "
          $ref: '#/components/schemas/BoardingPassPassengerDetailsBase'
        userName:
          type:
          - string
          - 'null'
          description: "The user name of the logged in user.\n            "
        iataCode:
          type:
          - string
          - 'null'
          description: "The IATA code.\n            "
        fareBasisCode:
          type:
          - string
          - 'null'
          description: "The acting fare basis code.\n            "
        fareClass:
          type:
          - string
          - 'null'
          description: "The acting fare class.\n            "
        baseFare:
          type: number
          description: "The base fare amount.\n            "
          format: decimal
        totalFare:
          type: number
          description: "The total fare amount.\n            "
          format: decimal
        totalCost:
          type: number
          description: "The total cost amount.\n            "
          format: decimal
        discountedFare:
          type: number
          description: "The discounted fare amount.\n            "
          format: decimal
        totalTax:
          type: number
          description: "The total amount of tax.\n            "
          format: decimal
        receiptNumber:
          type:
          - string
          - 'null'
          description: "The receipt number.\n            "
        serviceCharges:
          type:
          - array
          - 'null'
          description: "The collection of service charges for this segment.\n            "
          items:
            $ref: '#/components/schemas/ServiceCharge'
        segments:
          type:
          - array
          - 'null'
          description: "The collection of boarding pass segments.\n            "
          items:
            $ref: '#/components/schemas/BoardingPassSegment'
        barCode:
          type:
          - string
          - 'null'
          description: "The barcode (M2D format) for all the segments.\n            "
    IJsonResponseOfBoardingPassesCollectionv2:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/BoardingPassesCollectionv2'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    ServiceCharge:
      type: object
      description: "Model that represents the fare service charge information.\n            "
      additionalProperties: false
      properties:
        amount:
          type: number
          description: "The service charge amount.\n            "
          format: decimal
        code:
          type:
          - string
          - 'null'
          description: "The service charge code.\n            "
        detail:
          type:
          - string
          - 'null'
          description: "The service charge detail.\n            "
          maxLength: 10
          minLength: 0
        type:
          description: "The service charge type.\n            "
          $ref: '#/components/schemas/ChargeType'
        collectType:
          description: "The service charge collect type.\n            "
          $ref: '#/components/schemas/CollectType'
        currencyCode:
          type:
          - string
          - 'null'
          description: "The service charge currency code.\n            "
          maxLength: 3
          minLength: 0
        foreignCurrencyCode:
          type:
          - string
          - 'null'
          description: "The service charge foreign currency code.\n            "
          maxLength: 3
          minLength: 0
        foreignAmount:
          type: number
          description: "The service charge foreign amount.\n            "
          format: decimal
        ticketCode:
          type:
          - string
          - 'null'
          description: "The service charge ticket code.\n            "
          maxLength: 3
          minLength: 0
    BoardingPassLeg:
      type: object
      description: "Defines the boarding pass leg details.\n            "
      additionalProperties: false
      properties:
        seat:
          description: "The passengers assigned seats details.\n            "
          $ref: '#/components/schemas/BoardingPassSeatDetails'
        boarding:
          description: "The boarding details.\n            "
          $ref: '#/components/schemas/BoardingPassBoardingDetails'
        designator:
          description: "The legs transportation designator details.\n            "
          $ref: '#/components/schemas/TransportationDesignator'
        liftStatus:
          description: "The status of the leg for the passenger.\n            "
          $ref: '#/components/schemas/LiftStatus'
        operatedByText:
          type:
          - string
          - 'null'
          description: "The legs operated by text.\n            "
        subjectToGovernmentApproval:
          type: boolean
          description: "Flag indicating if the leg is subject to government approval.\n            "
        codeShareIndicator:
          type:
          - string
          - 'null'
          description: "The assigned code share indicator.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        bppr:
          type:
          - string
          - 'null'
          description: "The homeland security government clearance auth code.\n            "
        identifier:
          description: "The legs transportation identifier.\n            "
          $ref: '#/components/schemas/BoardingPassTransportationIdentifier'
        bags:
          type:
          - array
          - 'null'
          description: "The collection of bags.\n            "
          items:
            $ref: '#/components/schemas/OperationBag'
        ssrs:
          type:
          - array
          - 'null'
          description: "The collection of SSR's.\n            "
          items:
            $ref: '#/components/schemas/SsrGlance'
    IJsonResponseOfBoardingPassesS2D:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/BoardingPassesS2D'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    ErrorResponse:
      type: object
      description: "Defines a unique error response.\n            "
      additionalProperties: false
      properties:
        exception:
          description: "The original exception that was thrown and all the exception details.\n            "
          $ref: '#/components/schemas/Exception'
        rawMessage:
          type:
          - string
          - 'null'
          description: "The original raw message set (non-localized).\n            "
        code:
          type:
          - string
          - 'null'
          description: "The unique error code. The primary value used to match against a unique message localized for the end user in the\nchosen language.\n            "
        message:
          type:
          - string
          - 'null'
          description: "The error message. Deprecated: Please use the Code instead.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The error type showing severity. Values: Critical, Error, Validation, Information.\n            "
        number:
          type:
          - integer
          - 'null'
          description: "A unique identifier in numeric form. This is required for Splunk logging. If none is provided a number will be\ngenerated based on code and type.\n            "
          format: int32
          maximum: 99999.0
          minimum: 0.0
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the error.\n            "
          additionalProperties:
            type: string
        ActivityId:
          type:
          - string
          - 'null'
          description: "The activity ID unique to the request. Useful for debugging purposes to uniquely look up what happened for this\nspecific request.\n            "
    BoardingPassPassengerDetailsv2:
      type: object
      description: "Defines the boarding pass passenger details.\n            "
      additionalProperties: false
      properties:
        type:
          type:
          - string
          - 'null'
          description: "The passenger type.\n            "
        selecteeString:
          type:
          - string
          - 'null'
          description: "The string that indicates a selectee.\n            "
        customerNumber:
          type:
          - string
          - 'null'
          description: "The customer number.\n            "
        score:
          description: "The passenger score.\n            "
          $ref: '#/components/schemas/BoardingPassPassengerScore'
        infant:
          description: "The passengers infant details if an infant exists.\n            "
          $ref: '#/components/schemas/BoardingPassInfantDetails'
        name:
          description: "The given name.\n            "
          $ref: '#/components/schemas/Name'
        isoName:
          description: "The given name converted to ISO standard.\n            "
          $ref: '#/components/schemas/Name'
        dateOfBirth:
          type:
          - string
          - 'null'
          description: "The date of birth.\n            "
          format: date-time
        gender:
          description: "The gender.\n            "
          $ref: '#/components/schemas/Gender'
        documents:
          type:
          - array
          - 'null'
          description: "The collection of travel documents.\n            "
          items:
            $ref: '#/components/schemas/PassengerTravelDocument'
        barCode:
          type:
          - string
          - 'null'
          description: "The passenger bar code.\n            "
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
    SegmentTypes:
      type: integer
      description: "Indicates the type of a segment.\n            \n\n0 = Normal\n1 = CodeShareOperating\n2 = CodeShareMarketing\n3 = InterlineOutbound\n4 = InterlineInbound\n5 = Passive"
      x-enumNames:
      - Normal
      - CodeShareOperating
      - CodeShareMarketing
      - InterlineOutbound
      - InterlineInbound
      - Passive
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
    BoardingPassTransportationDesignator:
      type: object
      description: "Defines a boarding pass transportation designator.\n            "
      additionalProperties: false
      properties:
        destination:
          type:
          - string
          - 'null'
          description: "Gets or sets the leg arrival station.\n            "
          maxLength: 3
          minLength: 0
        origin:
          type:
          - string
          - 'null'
          description: "Gets or sets the leg departure station.\n            "
          maxLength: 3
          minLength: 0
        arrival:
          type: string
          description: "The arrival date and time local to the arrival station.\n            "
          format: date-time
        departure:
          type: string
          description: "The departure date and time local to the departure station.\n            "
          format: date-time
        destinationStationName:
          type:
          - string
          - 'null'
          description: "The destination stations localized name.\n            "
        originStationName:
          type:
          - string
          - 'null'
          description: "The origin stations localized name.\n            "
    BoardingPassPassengerFilterRequest:
      type: object
      description: "Defines the boarding pass request that is responsible for filtering what passengers to retrieve passes for.\n            "
      additionalProperties: false
      properties:
        source:
          type:
          - string
          - 'null'
          description: "Name of the application requesting for boarding pass print.\nPlease note that this should be a char and not a string.\nValid values are 'O', 'K', 'M', 'W', and ' '.\n            "
          maxLength: 1
        skipLogToHistory:
          type: boolean
          description: "Whether to add event to history log.\n            "
        passengerKeys:
          type:
          - array
          - 'null'
          description: "The selected passenger keys to be returned. If null all passengers will be returned that have been checked in.\n            "
          items:
            type: string
    BoardingPassPassengerDetailsBase:
      type: object
      description: "Represents a boarding pass passenger detail base, containing all the important passenger details for the boarding\npass.\n            "
      additionalProperties: false
      properties:
        name:
          description: "The given name.\n            "
          $ref: '#/components/schemas/Name'
        isoName:
          description: "The given name converted to ISO standard.\n            "
          $ref: '#/components/schemas/Name'
        dateOfBirth:
          type:
          - string
          - 'null'
          description: "The date of birth.\n            "
          format: date-time
        gender:
          description: "The gender.\n            "
          $ref: '#/components/schemas/Gender'
        documents:
          type:
          - array
          - 'null'
          description: "The collection of travel documents.\n            "
          items:
            $ref: '#/components/schemas/PassengerTravelDocument'
        type:
          type:
          - string
          - 'null'
          description: "The passenger type.\n            "
        selecteeString:
          type:
          - string
          - 'null'
          description: "The string that indicates a selectee.\n            "
        customerNumber:
          type:
          - string
          - 'null'
          description: "The customer number.\n            "
        score:
          description: "The passenger score.\n            "
          $ref: '#/components/schemas/BoardingPassPassengerScore'
        infant:
          description: "The passengers infant details if an infant exists.\n            "
          $ref: '#/components/schemas/BoardingPassInfantDetails'
    BoardingPassesM2D:
      type: object
      description: "The collection of M2D boarding passes.\n            "
      additionalProperties: false
      properties:
        recordLocator:
          type:
          - string
          - 'null'
          description: "The record locator in reference.\n            "
        currencyCode:
          type:
          - string
          - 'null'
          description: "The currency code.\n            "
        contactPhoneNumber:
          type:
          - string
          - 'null'
          description: "The booking contacts phone number.\n            "
        boardingPasses:
          type:
          - array
          - 'null'
          description: "The collection of boarding passes with M2D bar codes.\n            "
          items:
            $ref: '#/components/schemas/BoardingPassM2D'
    ChargeType:
      type: integer
      description: "The type of a service charge.\n            \n\n0 = FarePrice\n1 = Discount\n2 = IncludedTravelFee\n3 = IncludedTax\n4 = TravelFee\n5 = Tax\n6 = ServiceCharge\n7 = PromotionDiscount\n8 = ConnectionAdjustmentAmount\n9 = AddOnsPrice\n10 = FarePoints\n11 = DiscountPoints\n16 = IncludedAddOnsFee\n17 = AddOnsFee\n18 = AddOnsMarkup\n19 = FareSurcharge\n21 = AddOnsCancelFee\n22 = Calculated\n23 = Note\n24 = Points\n25 = DynamicFareAdjustment"
      x-enumNames:
      - FarePrice
      - Discount
      - IncludedTravelFee
      - IncludedTax
      - TravelFee
      - Tax
      - ServiceCharge
      - PromotionDiscount
      - ConnectionAdjustmentAmount
      - AddOnsPrice
      - FarePoints
      - DiscountPoints
      - IncludedAddOnsFee
      - AddOnsFee
      - AddOnsMarkup
      - FareSurcharge
      - AddOnsCancelFee
      - Calculated
      - Note
      - Points
      - DynamicFareAdjustment
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 16
      - 17
      - 18
      - 19
      - 21
      - 22
      - 23
      - 24
      - 25
    BoardingPassTransportationIdentifier:
      type: object
      description: "Defines a boarding pass transportation identifier.\n            "
      additionalProperties: false
      required:
      - identifier
      - carrierCode
      properties:
        identifier:
          type: string
          description: "The unique transportation identifier.\n            "
          maxLength: 4
          minLength: 0
        carrierCode:
          type: string
          description: "The carrier code.\n            "
          maxLength: 3
          minLength: 2
        opSuffix:
          type:
          - string
          - 'null'
          description: "The op suffix.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        carrierName:
          type:
          - string
          - 'null'
          description: "The carriers name.\n            "
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    BoardingPassesCollectionv2:
      type: object
      description: "Defines the boarding passes base that contains all the common boarding pass details that is not specific to bar\ncode type.\n            "
      additionalProperties: false
      properties:
        recordLocator:
          type:
          - string
          - 'null'
          description: "The record locator in reference.\n            "
        currencyCode:
          type:
          - string
          - 'null'
          description: "The currency code.\n            "
        contactPhoneNumber:
          type:
          - string
          - 'null'
          description: "The booking contacts phone number.\n            "
        boardingPasses:
          type:
          - array
          - 'null'
          description: "The collection of boarding passes.\n            "
          items:
            $ref: '#/components/schemas/BoardingPassv2'
    SsrGlance:
      type: object
      description: "Manifest Leg SSR.\n            "
      additionalProperties: false
      properties:
        note:
          type:
          - string
          - 'null'
          description: "The additional information on the SSR that are not visible to passengers.\n            "
          maxLength: 256
          minLength: 0
        ssrCode:
          type:
          - string
          - 'null'
          description: "The unique code to identify an SSR.\n            "
          maxLength: 4
          minLength: 0
        ssrDetail:
          type:
          - string
          - 'null'
          description: "The additional information for the SSR as requested by the passenger.\n            "
          maxLength: 20
          minLength: 0
    OperationBag:
      type: object
      description: "Operation Bag.\n            "
      additionalProperties: false
      properties:
        identifier:
          type:
          - string
          - 'null'
          description: "The unique transportation identifier.\n            "
          maxLength: 4
          minLength: 1
        nonStandard:
          type: boolean
          description: "Flag for marking a bag as a non-standard piece of luggage.\n            "
        osTag:
          type:
          - string
          - 'null'
          description: "The OSTag in Bag object.\n            "
          maxLength: 32
          minLength: 0
        taggedToStation:
          type:
          - string
          - 'null'
          description: "The tagged to station in the bag object.  This is the last station where\nthe bag is going to.  For example, on a trip from SLC to JFK, JFK would\nbe the tagged to station value.\n            "
          maxLength: 3
          minLength: 3
        weight:
          type: integer
          description: "The Weight in Bag object.\n            "
          maximum: 32767.0
          minimum: 0.0
        weightType:
          description: "The WeightType in Bag object.\n            "
          $ref: '#/components/schemas/WeightType'
        operationBagKey:
          type:
          - string
          - 'null'
          description: "The baggage key\n            "
        baggageStatus:
          description: "The BaggageStatus in Bag object.\n            "
          $ref: '#/components/schemas/BaggageStatus'
        checkInDate:
          type:
          - string
          - 'null'
          description: "The CheckInDate in Bag object.\n            "
          format: date-time
        compartment:
          type: integer
          description: "The CompartmentID in Bag object.\n            "
          maximum: 32767.0
          minimum: 0.0
        taggedToStationCity:
          type:
          - string
          - 'null'
          description: "The tagged to station city in the bag object.  This is the last city where\nthe bag is going to.  For example, on a trip from SLC to JFK, New York would\nbe the tagged to station city value.\n            "
        baggageTypeCode:
          type:
          - string
          - 'null'
          description: "The baggage type code.\n            "
  securitySchemes:
    JWT:
      type: http
      description: Paste your JWT token from the token endpoint.
      scheme: bearer
      bearerFormat: jwt
x-generator: NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))
