openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Availability API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: availability
paths:
  /api/nsk/v3/availability/lowfare:
    post:
      tags:
      - availability
      summary: 'Searches for low fare availability with the full low fare search request. This request allows for total control

        over the configuration. If a property is not set, the default settings (LowFareAvailabilitySettings) are used in

        its place. Note low fare will not always match availability requests for certain configurations including sorting

        by taxes and fees.'
      description: 'Although this endpoint behaves like a GET, POST reduces the limitations resulting from URL length issues.

        When LowFareAvailabilityRequest.GetAllDetails is set to true, New Skies sets the passenger count in the request

        to zero. This means that passenger count restrictions on a fare are not considered and that any available fare

        is returned.


        GraphQL endpoint: availabilityLowFarev3'
      operationId: nsk_v3_availability_lowfare_post
      requestBody:
        x-name: request
        description: The low fare availability request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LowFareAvailabilityRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfLowFareAvailabilityv2'
              examples:
                200 OK Response With Macs, One Way:
                  description: Example response for a successful call for a one way flight, with macs included.
                  value:
                    data:
                      trips:
                      - lowFareAvailableByMarket:
                          slC|BOS:
                          - lowestFareAmount:
                              fareAmount: 40.0
                              farePointAmount: 0.0
                              taxesAndFeesAmount: 0.0
                            lowFares:
                            - passengers:
                                adt:
                                  discountCode: null
                                  fareAmount: 40.0
                                  type: ADT
                                  farePointAmount: 0.0
                                  taxesAndFeesAmount: 0.0
                              bookingClasses:
                              - E
                              arrivalTime: '2024-02-01T00:00:00'
                              departureTime: '2024-02-01T00:00:00'
                              legs:
                              - arrivalTime: '2024-02-01T00:00:00'
                                departureTime: '2024-02-01T00:00:00'
                                destination: BOS
                                origin: SLC
                                flightNumber: '5600'
                                carrierCode: NV
                                equipmentType: '380'
                                operatingCarrier: null
                              availableCount: 24
                              productClass: null
                              referenceFareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfjF_flg-
                              soldOut: false
                            destination: BOS
                            origin: SLC
                            departureDate: '2024-02-01T00:00:00'
                            noFlights: false
                          slC|MHT:
                          - lowestFareAmount:
                              fareAmount: 50.0
                              farePointAmount: 0.0
                              taxesAndFeesAmount: 0.0
                            lowFares:
                            - passengers:
                                adt:
                                  discountCode: null
                                  fareAmount: 50.0
                                  type: ADT
                                  farePointAmount: 0.0
                                  taxesAndFeesAmount: 0.0
                              bookingClasses:
                              - Y
                              arrivalTime: '2024-02-01T00:00:00'
                              departureTime: '2024-02-01T00:00:00'
                              legs:
                              - arrivalTime: '2024-02-01T00:00:00'
                                departureTime: '2024-02-01T00:00:00'
                                destination: MHT
                                origin: SLC
                                flightNumber: '5200'
                                carrierCode: NV
                                equipmentType: '280'
                                operatingCarrier: null
                              availableCount: 24
                              productClass: null
                              referenceFareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfjF_flt
                              soldOut: false
                            destination: MHT
                            origin: SLC
                            departureDate: '2024-02-01T00:00:00'
                            noFlights: false
                      includeTaxesAndFees: false
                      currencyCode: USD
                200 OK Response, round trip:
                  description: Example response for a successful call round trip
                  value:
                    data:
                      trips:
                      - lowFareAvailableByMarket:
                          slC|BOS:
                          - lowestFareAmount:
                              fareAmount: 40.0
                              farePointAmount: 0.0
                              taxesAndFeesAmount: 0.0
                            lowFares:
                            - passengers:
                                adt:
                                  discountCode: null
                                  fareAmount: 40.0
                                  type: ADT
                                  farePointAmount: 0.0
                                  taxesAndFeesAmount: 0.0
                              bookingClasses:
                              - E
                              arrivalTime: '2024-02-01T00:00:00'
                              departureTime: '2024-02-01T00:00:00'
                              legs:
                              - arrivalTime: '2024-02-01T00:00:00'
                                departureTime: '2024-02-01T00:00:00'
                                destination: BOS
                                origin: SLC
                                flightNumber: '5600'
                                carrierCode: NV
                                equipmentType: '380'
                                operatingCarrier: null
                              availableCount: 24
                              productClass: null
                              referenceFareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfjF_flg-
                              soldOut: false
                            destination: BOS
                            origin: SLC
                            departureDate: '2024-02-01T00:00:00'
                            noFlights: false
                      - lowFareAvailableByMarket:
                          boS|SLC:
                          - lowestFareAmount:
                              fareAmount: 80.0
                              farePointAmount: 0.0
                              taxesAndFeesAmount: 0.0
                            lowFares:
                            - passengers:
                                adt:
                                  discountCode: null
                                  fareAmount: 80.0
                                  type: ADT
                                  farePointAmount: 0.0
                                  taxesAndFeesAmount: 0.0
                              bookingClasses:
                              - E
                              arrivalTime: '2024-02-06T00:00:00'
                              departureTime: '2024-02-06T00:00:00'
                              legs:
                              - arrivalTime: '2024-02-06T00:00:00'
                                departureTime: '2024-02-06T00:00:00'
                                destination: SLC
                                origin: BOS
                                flightNumber: '6500'
                                carrierCode: NV
                                equipmentType: '830'
                                operatingCarrier: null
                              availableCount: 50
                              productClass: null
                              referenceFareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfj
                              soldOut: false
                            destination: SLC
                            origin: BOS
                            departureDate: '2024-02-06T00:00:00'
                            noFlights: false
                      includeTaxesAndFees: false
                      currencyCode: USD
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/availability/lowfare/estimate:
    get:
      tags:
      - availability
      summary: Retrieves the low fare availability estimate using a range of dates.
      description: 'This endpoint, unless otherwise specified, will request the pricing and availability for a single adult passenger.

        However, the number of passengers can be set on the

        request.  It is important to note that the pricing on this endpoint is estimated.  It will not match availability

        due to round trip vs one way discounts, taxes and fees

        variations, multi passenger discounts, recently sold out fares, etc.  It''s intended to be an estimate only.  Due to

        these restrictions this endpoint is extremely

        performant and can be configured to be cached, with a high cache hit rate.


        GraphQL endpoint: availabilityLowFareEstimate'
      operationId: nsk_v1_availability_lowfare_estimate_get
      parameters:
      - name: StartDate
        in: query
        description: "The start date to retrieve from the low fare cache.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 1
      - name: EndDate
        in: query
        description: "The end date for the low fare cache request.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 2
      - name: Origin
        in: query
        description: "The origin station code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 3
      - name: Destination
        in: query
        description: "The destination station code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 4
      - name: CurrencyCode
        in: query
        description: "The currency code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 5
      - name: IncludeTaxesAndFees
        in: query
        description: "A flag to indicate if taxes and fees should be included.\n            "
        schema:
          type:
          - boolean
          - 'null'
        x-position: 6
      - name: NumberOfPassengers
        in: query
        description: "The number of passengers\n            "
        schema:
          type:
          - integer
          - 'null'
        x-position: 7
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfLowFareEstimateResults'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v3/availability/lowfare/simple:
    post:
      tags:
      - availability
      summary: 'Searches for low fare availability with the simple search request. The simple search request covers the common

        search

        criteria and lets default settings (LowFareAvailabilitySettings) configure the rest. Note low fare will not always

        match availability requests for certain configurations included sorting by taxes and fees.'
      description: 'Although this endpoint behaves like a GET, POST reduces the limitations resulting from URL length issues.


        GraphQL endpoint: availabilityLowFareSimplev3'
      operationId: nsk_v3_availability_lowfare_simple_post
      requestBody:
        x-name: request
        description: The low fare availability search simple request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LowFareAvailabilitySearchSimpleRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfLowFareAvailabilityv2'
              examples:
                200 OK Response With Macs, One Way:
                  description: Example response for a successful call for a one way flight, with macs included.
                  value:
                    data:
                      trips:
                      - lowFareAvailableByMarket:
                          slC|BOS:
                          - lowestFareAmount:
                              fareAmount: 40.0
                              farePointAmount: 0.0
                              taxesAndFeesAmount: 0.0
                            lowFares:
                            - passengers:
                                adt:
                                  discountCode: null
                                  fareAmount: 40.0
                                  type: ADT
                                  farePointAmount: 0.0
                                  taxesAndFeesAmount: 0.0
                              bookingClasses:
                              - E
                              arrivalTime: '2024-02-01T00:00:00'
                              departureTime: '2024-02-01T00:00:00'
                              legs:
                              - arrivalTime: '2024-02-01T00:00:00'
                                departureTime: '2024-02-01T00:00:00'
                                destination: BOS
                                origin: SLC
                                flightNumber: '5600'
                                carrierCode: NV
                                equipmentType: '380'
                                operatingCarrier: null
                              availableCount: 24
                              productClass: null
                              referenceFareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfjF_flg-
                              soldOut: false
                            destination: BOS
                            origin: SLC
                            departureDate: '2024-02-01T00:00:00'
                            noFlights: false
                          slC|MHT:
                          - lowestFareAmount:
                              fareAmount: 50.0
                              farePointAmount: 0.0
                              taxesAndFeesAmount: 0.0
                            lowFares:
                            - passengers:
                                adt:
                                  discountCode: null
                                  fareAmount: 50.0
                                  type: ADT
                                  farePointAmount: 0.0
                                  taxesAndFeesAmount: 0.0
                              bookingClasses:
                              - Y
                              arrivalTime: '2024-02-01T00:00:00'
                              departureTime: '2024-02-01T00:00:00'
                              legs:
                              - arrivalTime: '2024-02-01T00:00:00'
                                departureTime: '2024-02-01T00:00:00'
                                destination: MHT
                                origin: SLC
                                flightNumber: '5200'
                                carrierCode: NV
                                equipmentType: '280'
                                operatingCarrier: null
                              availableCount: 24
                              productClass: null
                              referenceFareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfjF_flt
                              soldOut: false
                            destination: MHT
                            origin: SLC
                            departureDate: '2024-02-01T00:00:00'
                            noFlights: false
                      includeTaxesAndFees: false
                      currencyCode: USD
                200 OK Response, round trip:
                  description: Example response for a successful call round trip
                  value:
                    data:
                      trips:
                      - lowFareAvailableByMarket:
                          slC|BOS:
                          - lowestFareAmount:
                              fareAmount: 40.0
                              farePointAmount: 0.0
                              taxesAndFeesAmount: 0.0
                            lowFares:
                            - passengers:
                                adt:
                                  discountCode: null
                                  fareAmount: 40.0
                                  type: ADT
                                  farePointAmount: 0.0
                                  taxesAndFeesAmount: 0.0
                              bookingClasses:
                              - E
                              arrivalTime: '2024-02-01T00:00:00'
                              departureTime: '2024-02-01T00:00:00'
                              legs:
                              - arrivalTime: '2024-02-01T00:00:00'
                                departureTime: '2024-02-01T00:00:00'
                                destination: BOS
                                origin: SLC
                                flightNumber: '5600'
                                carrierCode: NV
                                equipmentType: '380'
                                operatingCarrier: null
                              availableCount: 24
                              productClass: null
                              referenceFareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfjF_flg-
                              soldOut: false
                            destination: BOS
                            origin: SLC
                            departureDate: '2024-02-01T00:00:00'
                            noFlights: false
                      - lowFareAvailableByMarket:
                          boS|SLC:
                          - lowestFareAmount:
                              fareAmount: 80.0
                              farePointAmount: 0.0
                              taxesAndFeesAmount: 0.0
                            lowFares:
                            - passengers:
                                adt:
                                  discountCode: null
                                  fareAmount: 80.0
                                  type: ADT
                                  farePointAmount: 0.0
                                  taxesAndFeesAmount: 0.0
                              bookingClasses:
                              - E
                              arrivalTime: '2024-02-06T00:00:00'
                              departureTime: '2024-02-06T00:00:00'
                              legs:
                              - arrivalTime: '2024-02-06T00:00:00'
                                departureTime: '2024-02-06T00:00:00'
                                destination: SLC
                                origin: BOS
                                flightNumber: '6500'
                                carrierCode: NV
                                equipmentType: '830'
                                operatingCarrier: null
                              availableCount: 50
                              productClass: null
                              referenceFareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfj
                              soldOut: false
                            destination: SLC
                            origin: BOS
                            departureDate: '2024-02-06T00:00:00'
                            noFlights: false
                      includeTaxesAndFees: false
                      currencyCode: USD
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v4/availability/search:
    post:
      tags:
      - availability
      summary: 'Searches for availability with the full availability search request. This request allows for total control over

        the configuration. If a property is not set, default values will be set instead. These defaults are what we

        consider a general optimized request. If these optimizations are not preferred the requester will need to

        opted out the filters on the availability request.'
      description: 'Note: It is advised to optimize the availability request with passing in at least one or more (ProductClass,

        TravelClass, FareTypes or ClassesOfService) so the response can be optimized as possible. This is even more

        recommended for mobile applications due to the nature of limited network capabilities.

        The default values that will be set unless specified:

        - TaxesAndFees = TaxesAndFeesRollupMode.None

        - Criteria.SsrCollectionsMode = AvailabilitySsrCollectionsMode.None

        - Criteria.Filters.FareInclusionType = AvailabilityType.Default

        - Criteria.Filters.CompressionType = FareClassControl.LowestFareClass

        - Criteria.Filters.Loyalty = LoyaltyFilter.MonetaryOnly

        - Criteria.Filters.FlightType = FlightType.All

        - Criteria.Filters.ExclusionType = AvailabilityFilter.ExcludeUnavailable

        - Criteria.Filters.SortOptions =

        JourneySortKey.LowestFare,JourneySortKey.EarliestDeparture,JourneySortKey.ShortestTravelTime

        - Filters.ConnectionType = SoldAsConnectionType.None

        - Criteria.Filters.MaxConnectingFlights = 0

        - Criteria.Stations.SearchDestinationMacs = false

        - Criteria.Stations.SearchOriginMacs = false

        - Criteria.Filters.BundleControlFilter = BundleControlFilter.Disabled

        - NumberOfFaresPerJourney = 1

        Criteria.Filters.IncludeServiceBundleSetCodes is marked as obsolete, and the use of

        BundleControlFilter is preferred. To specifically return bundle set codes which IncludeServiceBundleSetCodes has

        originally provided when set to true, use an enumeration value of BundleControlFilter.ReturnBundleSets for

        BundleControlFilter instead.

        When searching for open jaw availability the results will contain only available markets if any are configured.

        The AvailabilityCriteriaFilter.FareInclusionType.NoPricing enumeration value, if set, will result in an

        availability response that does not include fares.  The primary use case for this is in Move flows, but is being

        maintained on the main availability and rebook availability flows in case there are other use cases as well.


        GraphQL endpoint: availabilityv5'
      operationId: nsk_v4_availability_search_post
      requestBody:
        x-name: request
        description: The availability search request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityRequestv3'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAvailabilityv2'
              examples:
                Requested Passenger Discount Overridden Message:
                  description: Example OSI Message when getting availability with a promotion code, no requested passenger discount, and the promotion code has a passenger discount associated with it. *NOTE*:This example *only* displays the message, however, the availability data will be populated in addition the given message.
                  value:
                    messages:
                    - rawValue: 'A passenger discount code was found that is associated with the requested promotion code. The passenger discount code on the request has been override with the following associated discount code: SNR.'
                      code: PassengerDiscountCodeOverridden
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: Information
                      value: PassengerDiscountCodeOverridden
                      status: 0
                      details:
                        associatedDiscountCode: SNR
                    data: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v4/availability/search/simple:
    post:
      tags:
      - availability
      summary: 'Searches for availability with the simple availability search request. This request allows for easy setup for one

        way and round trip searches. If a property is not set, default values will be set instead just like they would in

        the full availability request. These defaults are what we consider a general optimized request. If these

        optimizations are not preferred the requester will need to opted out the filters on the availability simple

        request.'
      description: 'Note: It is advised to optimize the availability request with passing in at least one or more (ProductClass,

        TravelClass, FareTypes or ClassesOfService) so the response can be optimized as possible. This is even more

        recommended for mobile applications due to the nature of limited network capabilities.

        The default values that will be set unless specified:

        - TaxesAndFees = TaxesAndFeesRollupMode.None

        - SsrCollectionsMode = AvailabilitySsrCollectionsMode.None

        - Filters.FareInclusionType = AvailabilityType.Default

        - Filters.CompressionType = FareClassControl.LowestFareClass

        - Filters.Loyalty = LoyaltyFilter.MonetaryOnly

        - Filters.FlightType = FlightType.All

        - Filters.ExclusionType = AvailabilityFilter.ExcludeUnavailable

        - Filters.SortOptions =

        JourneySortKey.LowestFare,JourneySortKey.EarliestDeparture,JourneySortKey.ShortestTravelTime

        - Filters.ConnectionType = SoldAsConnectionType.None

        - Filters.MaxConnectingFlights = 0

        - SearchDestinationMacs = false

        - SearchOriginMacs = false

        - Criteria.Filters.BundleControlFilter = BundleControlFilter.Disabled

        - NumberOfFaresPerJourney = 1

        Note that the searchOriginMacs and searchDestinationMacs flags apply to both journeys when booking a round-trip

        journey with the simple availability endpoint.  For example, if you set "searchOriginMacs" to "true" for a

        round trip from SLC-BOS and back, it will search for SLC MAC airports on the outbound (SLC > BOS) journey, and

        BOS MAC airports on the inbound (BOS > SLC) journey

        Criteria.Filters.IncludeServiceBundleSetCodes is marked as obsolete, and the use of

        BundleControlFilter is preferred. To specifically return bundle set codes which IncludeServiceBundleSetCodes has

        originally provided when set to true, use an enumeration value of BundleControlFilter.ReturnBundleSets for

        BundleControlFilter instead.

        The AvailabilityCriteriaFilter.FareInclusionType.NoPricing enumeration value, if set, will result in an

        availability response that does not include fares.  The primary use case for this is in Move flows, but is being

        maintained on the main availability and rebook availability flows in case there are other use cases as well.


        GraphQL endpoint: availabilitySimplev4'
      operationId: nsk_v4_availability_search_simple_post
      requestBody:
        x-name: request
        description: The availability simple v2 search request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilitySimpleRequestv2'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAvailabilityv2'
              examples:
                Requested Passenger Discount Overridden Message:
                  description: Example OSI Message when getting availability with a promotion code, no requested passenger discount, and the promotion code has a passenger discount associated with it. *NOTE*:This example *only* displays the message, however, the availability data will be populated in addition the given message.
                  value:
                    messages:
                    - rawValue: 'A passenger discount code was found that is associated with the requested promotion code. The passenger discount code on the request has been override with the following associated discount code: SNR.'
                      code: PassengerDiscountCodeOverridden
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: Information
                      value: PassengerDiscountCodeOverridden
                      status: 0
                      details:
                        associatedDiscountCode: SNR
                    data: null
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/availability/search/ssr:
    post:
      tags:
      - availability
      summary: 'Searches for availability with SSR prices with the full availability search request. This request allows for total

        control over the configuration. If a property is not set, default values will be set instead. These defaults are

        what we consider a general optimized request. If these optimizations are not preferred the requester will need to

        opt out of the filters on the availability request.'
      description: 'Note: This is an expensive call and should be used with appropriate cautions.

        It is advised to optimize the availability request with passing in at least one or more (ProductClass,

        TravelClass, FareTypes or ClassesOfService) so the response can be optimized as possible. This is even more

        recommended for mobile applications due to the nature of limited network capabilities.

        The default values that will be set unless specified:

        - AvailabilityWithSsrRequest.TaxesAndFees = TaxesAndFeesRollupMode.None

        - AvailabilityWithSsrRequest.Criteria.SsrCollectionsMode = AvailabilitySsrCollectionsMode.None

        - AvailabilityWithSsrRequest.Criteria.Filters.FareInclusionType = AvailabilityType.Default

        - AvailabilityWithSsrRequest.Criteria.Filters.CompressionType = FareClassControl.LowestFareClass

        - AvailabilityWithSsrRequest.Criteria.Filters.Loyalty = LoyaltyFilter.MonetaryOnly

        - AvailabilityWithSsrRequest.Criteria.Filters.FlightType = FlightType.All

        - AvailabilityWithSsrRequest.Criteria.Filters.ExclusionType = AvailabilityFilter.ExcludeUnavailable

        - AvailabilityWithSsrRequest.Criteria.Filters.SortOptions =

        JourneySortKey.LowestFare,JourneySortKey.EarliestDeparture,JourneySortKey.ShortestTravelTime

        - AvailabilityWithSsrRequest.Filters.ConnectionType = SoldAsConnectionType.None

        - AvailabilityWithSsrRequest.Criteria.Filters.MaxConnectingFlights = 0

        - AvailabilityWithSsrRequest.Criteria.Stations.SearchDestinationMacs = false

        - AvailabilityWithSsrRequest.Criteria.Stations.SearchOriginMacs = false

        - AvailabilityWithSsrRequest.Criteria.Filters.BundleControlFilter = BundleControlFilter.Disabled

        - AvailabilityWithSsrRequest.NumberOfFaresPerJourney = 1

        AvailabilityWithSsrRequest.Criteria.Filters.IncludeServiceBundleSetCodes is marked as obsolete, and the use of

        BundleControlFilter is preferred. To specifically return bundle set codes which IncludeServiceBundleSetCodes has

        originally provided when set to true, use an enumeration value of BundleControlFilter.ReturnBundleSets for

        BundleControlFilter instead.

        The AvailabilityCriteriaFilter.FareInclusionType.NoPricing enumeration value, if set, will result in an

        availability response that does not include fares.  The primary use case for this is in Move flows, but is being

        maintained on the main availability and rebook availability flows in case there are other use cases as well.


        GraphQL endpoint: availabilityWithSsrv2'
      operationId: nsk_v2_availability_search_ssr_post
      requestBody:
        x-name: request
        description: The availability with SSR search request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityWithSsrRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAvailabilityWithSsrResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
components:
  schemas:
    AvailabilitySsrCollectionsMode:
      type: integer
      description: "SSR collection mode determines whethere SSR availability should be checked and returned on availability.\n            \n\n0 = None\n1 = Leg"
      x-enumNames:
      - None
      - Leg
      enum:
      - 0
      - 1
    FareReference:
      type: object
      description: "The fare reference represents a master reference of the full fare details.\n            "
      additionalProperties: false
      properties:
        totals:
          description: "The summed up totals for the collection of fares.\n            "
          deprecated: true
          x-deprecatedMessage: 4.4.5 - This property has been obsoleted and will be removed in a future version, as the totals could yield inaccurate numbers. Please use actual fare availability data to derive the correct total amounts.
          $ref: '#/components/schemas/FareReferenceTotals'
        isSumOfSector:
          type: boolean
          description: "Flag indicating if the fare reference is a sum of sector.\n            "
        fareAvailabilityKey:
          type:
          - string
          - 'null'
          description: "The unique fare availability key.\n            "
        fares:
          type:
          - array
          - 'null'
          description: "The collection of fares for this reference.\n            "
          items:
            $ref: '#/components/schemas/FareAvailabilityv2'
    IJsonResponseOfAvailabilityv2:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/Availabilityv2'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    LowFareTripMarket:
      type: object
      description: "The low fare trip market represents a collection of markets.\n            "
      additionalProperties: false
      properties:
        lowFareAvailableByMarket:
          type:
          - object
          - 'null'
          description: "The dictionary of available journeys per market.\n            "
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/LowFareDateMarket'
    BundleControlFilter:
      type: integer
      description: "Filter used to segregate the bundle information to return on flight availability.\n            \n\n0 = Disabled\n1 = ReturnBundleSets\n2 = ReturnBundleOffers"
      x-enumNames:
      - Disabled
      - ReturnBundleSets
      - ReturnBundleOffers
      enum:
      - 0
      - 1
      - 2
    AvailabilityWithSsrResponse:
      type: object
      description: "Defines the trip availability with SSR response.\n            "
      additionalProperties: false
      properties:
        results:
          type:
          - array
          - 'null'
          description: "The collection of trip results based on date and markets.\n            "
          items:
            $ref: '#/components/schemas/TripResult'
        faresAvailable:
          type:
          - object
          - 'null'
          description: "The aggregate collection of fares available for all the provided journeys.\n            "
          additionalProperties:
            $ref: '#/components/schemas/FareReference'
        currencyCode:
          type:
          - string
          - 'null'
          description: "The currency code for all displayed fares.\n            "
          maxLength: 17
          minLength: 0
        includeTaxesAndFees:
          type: boolean
          description: "Flag indicating if the trip includes taxes and fees.\n            "
        bundleOffers:
          type:
          - object
          - 'null'
          description: "The collection of service bundle offers available for all the provided journeys, if requested.\n            "
          additionalProperties:
            $ref: '#/components/schemas/BundleOffer'
        includedSsrs:
          type:
          - array
          - 'null'
          description: "Prices of the SSRs included in the request.\n            "
          items:
            $ref: '#/components/schemas/AvailabilityWithSsrPrice'
    LowFareEstimateByDate:
      type: object
      description: "The low fare availability for a given date.\n            "
      additionalProperties: false
      properties:
        date:
          type: string
          description: "The date of the low fare.\n            "
          format: date-time
        price:
          type: number
          description: "The low fare price optionally including taxes and fees.\n            "
          format: decimal
        taxesAndFees:
          type:
          - number
          - 'null'
          description: "The taxes and fees which will only be included if asked for in the request (due to performance). This will be\nincluded in the price value.\n            "
          format: decimal
        available:
          type: integer
          description: "The low fare available count.\n            "
          format: int32
        noFlights:
          type: boolean
          description: "Flag indicating that there are no flights for this day.\n            "
        soldOut:
          type: boolean
          description: "Flag indicating that the flights are sold out.\n            "
        referenceFareKeys:
          type:
          - array
          - 'null'
          description: "Set of Fare Keys that apply to the lowest fare.  Corresponds to the FaresAvailable.Fare.Reference property in the\nAvailability Response.\n            "
          items:
            type: string
    FareClassControl:
      type: integer
      description: "Fare class control enumeration for controlling the number and type of fares applied to the search response.\n            \n\n0 = LowestFareClass\n1 = CompressByProductClass\n2 = Default"
      x-enumNames:
      - LowestFareClass
      - CompressByProductClass
      - Default
      enum:
      - 0
      - 1
      - 2
    LowFarePassenger:
      type: object
      description: "Low fare passengers contains the passenger type specific data.\n            "
      additionalProperties: false
      properties:
        fareAmount:
          type: number
          description: "Fare Amount for Passenger Type.\n            "
          format: decimal
        farePointAmount:
          type: number
          description: "Fare Point Amount.\n            "
          format: decimal
        taxesAndFeesAmount:
          type: number
          description: "Taxes and Fees Amount.\n            "
          format: decimal
        discountCode:
          type:
          - string
          - 'null'
          description: "Passenger Discount Code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "Passenger Type.\n            "
    PassengerFareAvailability:
      type: object
      description: "Model describing common fare availability information for an entire availability request.\n            "
      additionalProperties: false
      required:
      - passengerType
      properties:
        fareDiscountCode:
          type:
          - string
          - 'null'
          description: "The fare discount code.\n            "
          maxLength: 8
          minLength: 0
        passengerDiscountCode:
          type:
          - string
          - 'null'
          description: "The passenger discount code.\n            "
          maxLength: 4
          minLength: 0
        passengerType:
          type: string
          description: "The type of the passenger.\n            "
          maxLength: 4
          minLength: 0
        fareAmount:
          type: number
          description: "The passenger fare total fare amount.\n            "
          format: decimal
        revenueFare:
          type: number
          description: "The passenger fare revenue fare amount.\n            "
          format: decimal
        publishedFare:
          type: number
          description: "The passenger fare published fare amount.\n            "
          format: decimal
        loyaltyPoints:
          type: number
          description: "The passenger fare loyalty points.\n            "
          format: decimal
        discountedFare:
          type: number
          description: "The discounted fare amount.\n            "
          format: decimal
        serviceCharges:
          type:
          - array
          - 'null'
          description: "The service charges.\n            "
          items:
            $ref: '#/components/schemas/ServiceCharge'
        multiplier:
          type: integer
          description: "The number of passengers with the same fare information represented by passenger type and discount code pair.\n            "
          maximum: 32767.0
          minimum: 1.0
          deprecated: true
          x-deprecatedMessage: 4.4.5 - This property has been obsoleted and will be removed in a future version, as the multiplier could yield inaccurate numbers. Please use actual fare availability data to derive the correct multiplier.
        ticketFareBasis:
          type:
          - string
          - 'null'
          description: "A fare basis alias which is a more descriptive and custom value than the fare basis itself.\nThis value is created in FareManager Plus based on specific fare rule categories and ATPCO documentation.\n            "
    SoldAsConnectionType:
      type: integer
      description: "Enum to define if a connection is sold as domestic or international.\n            \n\n0 = None\n1 = Domestic\n2 = International\n3 = Both"
      x-enumNames:
      - None
      - Domestic
      - International
      - Both
      enum:
      - 0
      - 1
      - 2
      - 3
    LowFareAvailabilityCodeCriteria:
      type: object
      description: "Describes the low fare availability code criteria.\n            "
      additionalProperties: false
      properties:
        currency:
          type:
          - string
          - 'null'
          description: "The currency code is which to return the results.\n            "
          maxLength: 3
          minLength: 0
        sourceOrganization:
          type:
          - string
          - 'null'
          description: "The specified organization code (aka travel agencies) to allow for discounts or private fares.\n            "
          maxLength: 10
          minLength: 0
        promotionCode:
          type:
          - string
          - 'null'
          description: "The promotion code to be applied.\n            "
          maxLength: 8
          minLength: 0
    FareReferenceTotals:
      type: object
      description: "The fare reference totals represents the sum of all the fares for a specific available journey fare. If individual\npassenger fare breakdown in needed that will need to be calculated using the master fare collection.\n            "
      deprecated: true
      x-deprecatedMessage: 4.4.5 - This model has been obsoleted and will be removed in a future version, as the totals could yield inaccurate numbers. Please use actual fare availability data to derive the correct total amounts.
      additionalProperties: false
      properties:
        fareTotal:
          type:
          - number
          - 'null'
          description: "The fares total.\n            "
          format: decimal
          deprecated: true
          x-deprecatedMessage: 4.4.5 - This property has been obsoleted and will be removed in a future version, as the totals could yield inaccurate numbers. Please use actual fare availability data to derive the correct total amounts.
        revenueTotal:
          type:
          - number
          - 'null'
          description: "The fares revenue total.\n            "
          format: decimal
          deprecated: true
          x-deprecatedMessage: 4.4.5 - This property has been obsoleted and will be removed in a future version, as the totals could yield inaccurate numbers. Please use actual fare availability data to derive the correct total amounts.
        publishedTotal:
          type:
          - number
          - 'null'
          description: "The fares published total.\n            "
          format: decimal
          deprecated: true
          x-deprecatedMessage: 4.4.5 - This property has been obsoleted and will be removed in a future version, as the totals could yield inaccurate numbers. Please use actual fare availability data to derive the correct total amounts.
        loyaltyTotal:
          type:
          - number
          - 'null'
          description: "The fares loyalty total.\n            "
          format: decimal
          deprecated: true
          x-deprecatedMessage: 4.4.5 - This property has been obsoleted and will be removed in a future version, as the totals could yield inaccurate numbers. Please use actual fare availability data to derive the correct total amounts.
        discountedTotal:
          type:
          - number
          - 'null'
          description: "The fares discounted total.\n            "
          format: decimal
          deprecated: true
          x-deprecatedMessage: 4.4.5 - This property has been obsoleted and will be removed in a future version, as the totals could yield inaccurate numbers. Please use actual fare availability data to derive the correct total amounts.
    NestType:
      type: integer
      description: "Nest type enumeration.\n            \n\n0 = Default\n1 = Net\n2 = Serial\n3 = OneBooking"
      x-enumNames:
      - Default
      - Net
      - Serial
      - OneBooking
      enum:
      - 0
      - 1
      - 2
      - 3
    AvailableJourneyFareDetail:
      type: object
      description: "The available journey fare details represents a journeys fare availability.\n            "
      additionalProperties: false
      properties:
        availableCount:
          type:
          - integer
          - 'null'
          description: "The availability left.\n            "
        status:
          description: "The classes status.\n            "
          $ref: '#/components/schemas/ClassStatus'
        reference:
          type:
          - string
          - 'null'
          description: "The reference to the fare in the master fare collection.\n            "
        serviceBundleSetCode:
          type:
          - string
          - 'null'
          description: "Service bundle set code.\n            "
        bundleReferences:
          type:
          - array
          - 'null'
          description: "The references to the service bundle offers in the master bundle offer collection.\n            "
          items:
            type: string
        ssrReferences:
          type:
          - array
          - 'null'
          description: "The SSR references that correspond to the applicable SSR prices in AvailabilityWithSSRResponse's IncludedSsrs.\n            "
          items:
            type: string
    AvailabilityWithSsrPrice:
      type: object
      description: "This class contains an SSR and its possible prices with respect to each journey in the availability. Primarily used\nin GetTripAvailabilityWithSSR.\n            "
      additionalProperties: false
      properties:
        ssrCode:
          type:
          - string
          - 'null'
          description: "The code of the SSR being priced.\n            "
        priceVariations:
          type:
          - array
          - 'null'
          description: "A list of possible price variants of the SSR when priced against each journey in the availability.\n            "
          items:
            $ref: '#/components/schemas/SsrPriceVariation'
        reference:
          type:
          - string
          - 'null'
          description: "The reference to the fare from the available journey fare details.\n            "
    Availabilityv2:
      type: object
      description: "Availabilityv2 represents the availability response based on the search criteria.\n            "
      additionalProperties: false
      properties:
        results:
          type:
          - array
          - 'null'
          description: "The collection of trip results based on date and markets.\n            "
          items:
            $ref: '#/components/schemas/TripResult'
        faresAvailable:
          type:
          - object
          - 'null'
          description: "The aggregate collection of fares available for all the provided journeys.\n            "
          additionalProperties:
            $ref: '#/components/schemas/FareReference'
        currencyCode:
          type:
          - string
          - 'null'
          description: "The currency code for all displayed fares.\n            "
          maxLength: 17
          minLength: 0
        includeTaxesAndFees:
          type: boolean
          description: "Flag indicating if the trip includes taxes and fees.\n            "
        bundleOffers:
          type:
          - object
          - 'null'
          description: "The collection of service bundle offers available for all the provided journeys, if requested.\n            "
          additionalProperties:
            $ref: '#/components/schemas/BundleOffer'
    CollectType:
      type: integer
      description: "Used to identify the collect type of a service charge.\n            \n\n0 = SellerChargeable\n1 = ExternalChargeable\n2 = SellerNonChargeable\n3 = ExternalNonChargeable\n4 = ExternalChargeableImmediate"
      x-enumNames:
      - SellerChargeable
      - ExternalChargeable
      - SellerNonChargeable
      - ExternalNonChargeable
      - ExternalChargeableImmediate
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    OperationsInformation:
      type: object
      description: "Model describing the operations information.\n            "
      additionalProperties: false
      properties:
        arrivalGate:
          description: "The arrival gate information.\n            "
          $ref: '#/components/schemas/GateInformation'
        departureGate:
          description: "The departure gate information.\n            "
          $ref: '#/components/schemas/GateInformation'
        actualOffBlockTime:
          type:
          - string
          - 'null'
          description: "The actual off block time.\n            "
          format: date-time
        actualOnBlockTime:
          type:
          - string
          - 'null'
          description: "The actual on block time.\n            "
          format: date-time
        actualTouchDownTime:
          type:
          - string
          - 'null'
          description: "The actual touch down time.\n            "
          format: date-time
        airborneTime:
          type:
          - string
          - 'null'
          description: "The airborne time.\n            "
          format: date-time
        arrivalNote:
          type:
          - string
          - 'null'
          description: "The arrival note.\n            "
          maxLength: 128
          minLength: 0
        arrivalStatus:
          description: "The arrival status.\n            "
          $ref: '#/components/schemas/ArrivalStatus'
        baggageClaim:
          type:
          - string
          - 'null'
          description: "The baggage claim.\n            "
          maxLength: 10
          minLength: 0
        departureNote:
          type:
          - string
          - 'null'
          description: "The departure note.\n            "
          maxLength: 128
          minLength: 0
        departureStatus:
          description: "The departure status.\n            "
          $ref: '#/components/schemas/DepartureStatus'
        departureTimes:
          description: "The departure time information.\n            "
          $ref: '#/components/schemas/DepartureEvent'
        standardArrivalTime:
          type:
          - string
          - 'null'
          description: "The standard time of arrival (STA).\n            "
          format: date-time
        tailNumber:
          type:
          - string
          - 'null'
          description: "The tail number.\n            "
          maxLength: 10
          minLength: 0
        estimatedArrivalTime:
          type:
          - string
          - 'null'
          description: "The estimated time of arrival (ETA).\n            "
          format: date-time
    LowFareAmount:
      type: object
      description: "Low fare passengers contains the passenger type specific data.\n            "
      additionalProperties: false
      properties:
        fareAmount:
          type: number
          description: "Fare Amount for Passenger Type.\n            "
          format: decimal
        farePointAmount:
          type: number
          description: "Fare Point Amount.\n            "
          format: decimal
        taxesAndFeesAmount:
          type: number
          description: "Taxes and Fees Amount.\n            "
          format: decimal
    AvailabilitySimpleRequestv2:
      type: object
      description: "Model representing an availability simple request v2.\n            "
      additionalProperties: false
      required:
      - origin
      - destination
      - beginDate
      - passengers
      properties:
        origin:
          type: string
          description: "The origin station code.\n            "
          maxLength: 3
          minLength: 3
        destination:
          type: string
          description: "The destination station code.\n            "
          maxLength: 3
          minLength: 3
        searchDestinationMacs:
          type:
          - boolean
          - 'null'
          description: "Flag indicating to search destination mac stations.  Note that when set to \"true\" for round-trip availability, this\nwill search the destination MAC for both journeys.\n            "
        searchOriginMacs:
          type:
          - boolean
          - 'null'
          description: "Flag indicating to search origin mac stations.  Note that when set to \"true\" for round-trip availability, this will\nsearch the origin MAC for both journeys.\n            "
        beginDate:
          type: string
          description: "The departure date.\n            "
          format: date-time
          minLength: 1
        endDate:
          type:
          - string
          - 'null'
          description: "The return date. This date represents the return trip's selected day.\n            "
          format: date-time
        passengers:
          description: "The list of passengers.\n            "
          $ref: '#/components/schemas/PassengerTypeCriteria'
        codes:
          description: "The different code criteria that can be set that can influence availability response.\n            "
          $ref: '#/components/schemas/AvailabilityCodeCriteriav2'
        filters:
          description: "Filters applied to the response for a single direction.\n            "
          $ref: '#/components/schemas/AvailabilityCriteriaFilter'
        taxesAndFees:
          description: "The taxes and fees rollup mode which affects the pricing information.\n            "
          $ref: '#/components/schemas/TaxesAndFeesRollupMode'
        ssrCollectionsMode:
          description: "Determines if SSR nest information will be returned on the legs for each available journey segments.\n            "
          $ref: '#/components/schemas/AvailabilitySsrCollectionsMode'
        numberOfFaresPerJourney:
          type:
          - integer
          - 'null'
          description: "The number of fares per journey to be returned. If not set it will use the default optimized values\n            "
          format: int32
        returnEmptyResults:
          type:
          - boolean
          - 'null'
          description: "Flag determining if empty schedule responses will be returned.\nDefaults to false.\n            "
    TripResult:
      type: object
      description: "The trip results represents a wrapper class for the potential collection of multiple selected dates (flex days or\nrange) selected on the availability request.\n            "
      additionalProperties: false
      properties:
        trips:
          type:
          - array
          - 'null'
          description: "The collection of available trip by date that contain a collection of markets.\n            "
          items:
            $ref: '#/components/schemas/TripDateMarket'
    TripDateMarket:
      type: object
      description: "The trip date market represents a specific dates collection of markets.\n            "
      additionalProperties: false
      properties:
        multipleOriginStations:
          type: boolean
          description: "Flag indicating if multiple origin stations exist in the journeys available by market dictionary.\n            "
        multipleDestinationStations:
          type: boolean
          description: "Flag indicating if multiple destination stations exist in the journeys available by market dictionary.\n            "
        date:
          type: string
          description: "The date all the different markets are for.\n            "
          format: date-time
        journeysAvailableByMarket:
          type:
          - object
          - 'null'
          description: "The dictionary of available journeys for the date per market.\n            "
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/AvailableJourney'
    ChargeType:
      type: integer
      description: "The type of a service charge.\n            \n\n0 = FarePrice\n1 = Discount\n2 = IncludedTravelFee\n3 = IncludedTax\n4 = TravelFee\n5 = Tax\n6 = ServiceCharge\n7 = PromotionDiscount\n8 = ConnectionAdjustmentAmount\n9 = AddOnsPrice\n10 = FarePoints\n11 = DiscountPoints\n16 = IncludedAddOnsFee\n17 = AddOnsFee\n18 = AddOnsMarkup\n19 = FareSurcharge\n21 = AddOnsCancelFee\n22 = Calculated\n23 = Note\n24 = Points\n25 = DynamicFareAdjustment"
      x-enumNames:
      - FarePrice
      - Discount
      - IncludedTravelFee
      - IncludedTax
      - TravelFee
      - Tax
      - ServiceCharge
      - PromotionDiscount
      - ConnectionAdjustmentAmount
      - AddOnsPrice
      - FarePoints
      - DiscountPoints
      - IncludedAddOnsFee
      - AddOnsFee
      - AddOnsMarkup
      - FareSurcharge
      - AddOnsCancelFee
      - Calculated
      - Note
      - Points
      - DynamicFareAdjustment
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 16
      - 17
      - 18
      - 19
      - 21
      - 22
      - 23
      - 24
      - 25
    AvailabilityCodeCriteriav2:
      type: object
      description: "Describes the different code criteria that can be set that can influence availability response.\n            "
      additionalProperties: false
      properties:
        currencyCode:
          type:
          - string
          - 'null'
          description: "The currency code for fare pricing.\n            "
          maxLength: 3
          minLength: 0
        promotionCode:
          type:
          - string
          - 'null'
          description: "The promotion code to be applied.\n            "
          maxLength: 8
          minLength: 0
        sourceOrganization:
          type:
          - string
          - 'null'
          description: "The organization to use when evaluating availability of private fares. If specified, this organization code will\nalso be used for evaluation of any organization rules on sales taxes and travel fees (if included in the response).\nIf blank or not specified, the logged-in user's organization will be used.\n            "
          maxLength: 10
          minLength: 0
        currentSourceOrganization:
          type:
          - string
          - 'null'
          description: "The current source point of sale organization on the PNR. May be blank or unspecified if the source point of sale\norganization has not yet been set on the PNR. If blank or unspecified, the logged-in user's organization will be\nused.\n            "
          maxLength: 10
          minLength: 0
    ServiceBundleType:
      type: integer
      description: "Defines the types for bundles.\n            \n\n0 = Included\n1 = AddOn"
      x-enumNames:
      - Included
      - AddOn
      enum:
      - 0
      - 1
    AvailableJourney:
      type: object
      description: "The available journey represents a specific date, market journey that can be sold.\n            "
      additionalProperties: false
      properties:
        flightType:
          description: "The flight type of the journey.\n            "
          $ref: '#/components/schemas/FlightType'
        stops:
          type: integer
          description: "The number of stops the journey will make.\n            "
          format: int32
        designator:
          description: "The journeys transportation designator.\n            "
          $ref: '#/components/schemas/TransportationDesignator'
        journeyKey:
          type:
          - string
          - 'null'
          description: "The unique journey key.\n            "
        segments:
          type:
          - array
          - 'null'
          description: "The collection of segments on the journey.\n            "
          items:
            $ref: '#/components/schemas/AvailableSegment'
        fares:
          type:
          - array
          - 'null'
          description: "The collection of available fares to be sold for this journey.\n            "
          items:
            $ref: '#/components/schemas/AvailableJourneyFare'
        notForGeneralUser:
          type: boolean
          description: "A value indicating whether the journey is for a general user.\n            "
    BundleOffer:
      type: object
      description: "The bundle offer model.\n            "
      additionalProperties: false
      properties:
        bundleCode:
          type:
          - string
          - 'null'
          description: "The bundle code.\n            "
          maxLength: 4
          minLength: 0
        serviceBundleType:
          description: "The type of the bundle\n            "
          $ref: '#/components/schemas/ServiceBundleType'
        bundlePrices:
          type:
          - array
          - 'null'
          description: "A list of possible price variants of the service\nbundle and SSRs per journey in the availability.\n            "
          items:
            $ref: '#/components/schemas/BundlePrice'
    DayOfWeek:
      type: integer
      description: "Defines the day of the week with none as an option.\n            \n\n0 = None\n1 = Monday\n2 = Tuesday\n3 = Wednesday\n4 = Thursday\n5 = Friday\n6 = Saturday\n7 = Sunday"
      x-enumNames:
      - None
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
      - Sunday
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
    AvailableSegment:
      type: object
      description: "Available segment represents an available segment on a available journey.\n            "
      additionalProperties: false
      properties:
        isSeatmapViewable:
          type: boolean
          description: "Indicates if the seatmaps associated with the segment are retrievable.\nSets to `false` for passive segments, and `true` for non-passive segments.\n            "
        identifier:
          description: "The transportation identifier.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
        externalIdentifier:
          description: "The external transportation identifier.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
        segmentType:
          description: "The type of the segment.\n            "
          $ref: '#/components/schemas/SegmentTypes'
        isChangeOfGauge:
          type: boolean
          description: "Flag indicating if the segment is a change of gauge.\n            "
        isBlocked:
          type: boolean
          description: "Flag indicating if the segment is blocked.\n            "
        isHosted:
          type: boolean
          description: "Flag indicating if the segment is hosted.\n            "
        designator:
          description: "The segments transportation designator.\n            "
          $ref: '#/components/schemas/TransportationDesignator'
        segmentKey:
          type:
          - string
          - 'null'
          description: "The unique segment key.\n            "
        cabinOfService:
          type:
          - string
          - 'null'
          description: "The segments cabin of service.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        international:
          type: boolean
          description: "Flag indicating if the segment is international.\n            "
        legs:
          type:
          - array
          - 'null'
          description: "The collection of legs on the segment.\n            "
          items:
            $ref: '#/components/schemas/Leg'
    PassengerSearchCriteriaDetail:
      type: object
      description: "Represents the passenger details for flight availability search.\n            "
      additionalProperties: false
      properties:
        dateOfBirth:
          type:
          - string
          - 'null'
          description: "The passenger's date of birth.\n            "
          format: date-time
        nationality:
          type:
          - string
          - 'null'
          description: "The passenger's nationality.\n            "
        residentCountry:
          type:
          - string
          - 'null'
          description: "The passenger's resident country.\n            "
        programCode:
          type:
          - string
          - 'null'
          description: "The customer program of the passenger.\n            "
        programLevel:
          type:
          - string
          - 'null'
          description: "The customer program level of the passenger.\n            "
    TransportationIdentifier:
      type: object
      description: "Represents the transportation identifier model data.\n            "
      additionalProperties: false
      required:
      - identifier
      - carrierCode
      properties:
        identifier:
          type: string
          description: "The unique transportation identifier.\n            "
          maxLength: 4
          minLength: 0
        carrierCode:
          type: string
          description: "The carrier code.\n            "
          maxLength: 3
          minLength: 2
        opSuffix:
          type:
          - string
          - 'null'
          description: "The op suffix.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
    JourneySortKey:
      type: integer
      description: "Defines the sorting keys for the journeys on availability.\n            \n\n0 = ServiceType\n1 = ShortestTravelTime\n2 = LowestFare\n3 = HighestFare\n4 = EarliestDeparture\n5 = LatestDeparture\n6 = EarliestArrival\n7 = LatestArrival\n8 = NoSort\n9 = BiasOnlineCommercialDuplicates\n10 = JourneyNumber"
      x-enumNames:
      - ServiceType
      - ShortestTravelTime
      - LowestFare
      - HighestFare
      - EarliestDeparture
      - LatestDeparture
      - EarliestArrival
      - LatestArrival
      - NoSort
      - BiasOnlineCommercialDuplicates
      - JourneyNumber
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
    SsrPriceVariation:
      type: object
      description: "This class denotes a possible pricing of an SSR against the journeys of the availability. Primarily used in\nGetTripAvailabilityWithSSR.\n            "
      additionalProperties: false
      properties:
        basePrice:
          type:
          - number
          - 'null'
          description: "The base price of the applied fee.\n            "
          format: decimal
        taxTotal:
          type:
          - number
          - 'null'
          description: "The applied sales tax.\n            "
          format: decimal
        passengerType:
          type:
          - string
          - 'null'
          description: "The applying passenger type.\n            "
        programLevel:
          type:
          - string
          - 'null'
          description: "The applying customer program level.\n            "
    LowFareAvailabilityRequest:
      type: object
      description: "Defines the low are availability request.\n            "
      additionalProperties: false
      required:
      - passengers
      - criteria
      properties:
        bypassCache:
          type:
          - boolean
          - 'null'
          description: "Flag indicating to bypass the low fare cache and use real time results instead of cached results.\n            "
        getAllDetails:
          type:
          - boolean
          - 'null'
          description: "Flag indicating to return all data used for low fare caching, this is used for external caching providers.\n            "
        includeTaxesAndFees:
          type:
          - boolean
          - 'null'
          description: "Flag indicating to include taxes and fees on the response.\n            "
        passengers:
          description: "The passenger type criteria.\nIf caching is on this field will not be honored, and will use the previously cached PassengerTypes.\n            "
          $ref: '#/components/schemas/PassengerTypeCriteria'
        codes:
          description: "The low fare code criteria.\n            "
          $ref: '#/components/schemas/LowFareAvailabilityCodeCriteria'
        filters:
          description: "The low fare filtering criteria.\n            "
          $ref: '#/components/schemas/LowFareAvailabilityFilterCriteria'
        criteria:
          type: array
          description: "The list of low fare availability search criteria.\n            "
          items:
            $ref: '#/components/schemas/LowFareAvailabilityCriteria'
    LowFareAvailabilityCriteria:
      type: object
      description: "Defines the low fare availability search criteria.\n            "
      additionalProperties: false
      required:
      - destinationStationCodes
      - originStationCodes
      - beginDate
      properties:
        destinationStationCodes:
          type: array
          description: "The Arrival Station Codes.\n            "
          items:
            type: string
        originStationCodes:
          type: array
          description: "The Departure Station Codes.\n            "
          items:
            type: string
        beginDate:
          type: string
          description: "The Begin Date.\n            "
          format: date-time
          minLength: 1
        endDate:
          type:
          - string
          - 'null'
          description: "The End Date.\n            "
          format: date-time
    AvailabilityDateCriteria:
      type: object
      description: "Defines the availability criteria dates.\n            "
      additionalProperties: false
      required:
      - beginDate
      properties:
        beginDate:
          type: string
          description: "The beginning date to include flights for.\n            "
          format: date-time
          minLength: 1
        startTimeInterval:
          type:
          - string
          - 'null'
          description: "The beginning time interval to include flights from regardless of the days.\n            "
          format: duration
        endDate:
          type:
          - string
          - 'null'
          description: "The ending date to include flights for.\n            "
          format: date-time
        endTimeInterval:
          type:
          - string
          - 'null'
          description: "The ending time interval to include flights from regardless of the days.\n            "
          format: duration
        daysOfWeek:
          type:
          - array
          - 'null'
          description: "The days of the week to include in the provided date range.\n            "
          items:
            $ref: '#/components/schemas/DayOfWeek'
    TaxesAndFeesRollupMode:
      type: integer
      description: "Indicates how \"all-up\" service charges will be rolled-up in the availability response.\n            \n\n0 = None\n1 = Taxes\n2 = TaxesAndFees"
      x-enumNames:
      - None
      - Taxes
      - TaxesAndFees
      enum:
      - 0
      - 1
      - 2
    BundleProgramDetails:
      type: object
      description: "Represents the bundle program details model.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The program code.\n            "
          maxLength: 3
          minLength: 0
        level:
          type:
          - string
          - 'null'
          description: "The program level.\n            "
          maxLength: 3
          minLength: 0
    FareStatus:
      type: integer
      description: "This enumeration defines the fare status of a passenger fare.\n            \n\n0 = Default\n1 = SameDayStandBy\n2 = FareOverrideConfirming\n3 = FareOverrideConfirmed\n4 = PublishedFareOverrideConfirming\n5 = PublishedFareOverrideConfirmed"
      x-enumNames:
      - Default
      - SameDayStandBy
      - FareOverrideConfirming
      - FareOverrideConfirmed
      - PublishedFareOverrideConfirming
      - PublishedFareOverrideConfirmed
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
    AvailabilityCriteria:
      type: object
      description: "Defines a single direction search criteria far an availability call.\n            "
      additionalProperties: false
      required:
      - stations
      - dates
      properties:
        stations:
          description: "The station criteria.\n            "
          $ref: '#/components/schemas/AvailabilityStationCriteria'
        dates:
          description: "The date criteria.\n            "
          $ref: '#/components/schemas/AvailabilityDateCriteria'
        filters:
          description: "Filters applied to the response for a single direction.\n            "
          $ref: '#/components/schemas/AvailabilityCriteriaFilter'
        ssrCollectionsMode:
          description: "Determines if SSR nest information will be returned on the legs for each available journey segments.\n            "
          $ref: '#/components/schemas/AvailabilitySsrCollectionsMode'
    LowFare:
      type: object
      description: "Low fare contains the information for a specific flight.\n            "
      additionalProperties: false
      properties:
        passengers:
          type:
          - object
          - 'null'
          description: "Low fare passenger collection with they key of passenger type.\n            "
          additionalProperties:
            $ref: '#/components/schemas/LowFarePassenger'
        bookingClasses:
          type:
          - array
          - 'null'
          description: "Booking classes available.\n            "
          items:
            type: string
        arrivalTime:
          type: string
          description: "The arrival date and time.\n            "
          format: date-time
        departureTime:
          type: string
          description: "The departure date and time.\n            "
          format: date-time
        legs:
          type:
          - array
          - 'null'
          description: "Leg information.\n            "
          items:
            $ref: '#/components/schemas/LowFareLeg'
        availableCount:
          type: integer
          description: "Available count for the fare.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        productClass:
          type:
          - string
          - 'null'
          description: "The product class for the fare.\n            "
        referenceFareKey:
          type:
          - string
          - 'null'
          description: "The reference fare sell key.\n            "
        soldOut:
          type: boolean
          description: "Flag indicating that the flights are sold out.\n            "
    LegNest:
      type: object
      description: "A model representing a leg nest.\n            "
      additionalProperties: false
      properties:
        adjustedCapacity:
          type: integer
          description: "Gets or sets the adjusted capacity of the nest.\n            "
        classNest:
          type: integer
          description: "Gets or sets the nest class nest.\n            "
        lid:
          type: integer
          description: "Gets or sets the nest lid.\n            "
        travelClassCode:
          type:
          - string
          - 'null'
          description: "Gets or sets the nest travel class code.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        nestType:
          description: "Gets or sets the type of the nest.\n            "
          $ref: '#/components/schemas/NestType'
        legClasses:
          type:
          - array
          - 'null'
          description: "Gets or sets the nest leg classes.\n            "
          items:
            $ref: '#/components/schemas/LegClass'
    LegClass:
      type: object
      description: "The leg class model information.\n            "
      additionalProperties: false
      required:
      - classOfService
      properties:
        classAllotted:
          type: integer
          description: "The leg class allotted.\n            "
        classAuthorizedUnits:
          type: integer
          description: "The leg class Authorized Units (AUs).\n            "
        classOfService:
          type: string
          description: "The leg class, class of service.\n            "
          maxLength: 8
          minLength: 0
        classRank:
          type: integer
          description: "The leg class rank.\n            "
        classSold:
          type: integer
          description: "The class sold.\n            "
        cnxSold:
          type: integer
          description: "The CNX sold.\n            "
        latestAdvancedReservation:
          type: integer
          description: "The latest advanced reservation.\n            "
        status:
          description: "The status.\n            "
          $ref: '#/components/schemas/ClassStatus'
        thruSold:
          type: integer
          description: "The thru sold.\n            "
        classNest:
          type: integer
          description: "The leg class nest.\n            "
        classType:
          type:
          - string
          - 'null'
          description: "The type of class.\n            "
    LegStatus:
      type: integer
      description: "Leg status enumeration.\n            \n\n0 = Normal\n1 = Closed\n2 = Canceled\n3 = Suspended\n5 = ClosedPending\n6 = BlockAllActivities\n7 = Mishap"
      x-enumNames:
      - Normal
      - Closed
      - Canceled
      - Suspended
      - ClosedPending
      - BlockAllActivities
      - Mishap
      enum:
      - 0
      - 1
      - 2
      - 3
      - 5
      - 6
      - 7
    LowFareAvailabilitySearchSimpleRequest:
      type: object
      description: "Model representing a low fare availability search simple request.\n            "
      additionalProperties: false
      required:
      - origin
      - destination
      - beginDate
      - passengers
      properties:
        origin:
          type: string
          description: "The origin station code.\n            "
          maxLength: 3
          minLength: 3
        destination:
          type: string
          description: "The destination station code.\n            "
          maxLength: 3
          minLength: 3
        beginDate:
          type: string
          description: "The departure date. This date represents the selected day by the user, the date range will be calculated from this\ndate as the starting date.\n            "
          format: date-time
          minLength: 1
        endDate:
          type:
          - string
          - 'null'
          description: "The return date. This date represents the returning trips selected day by the user, the date range will be\ncalculated from this date and the starting date.\n            "
          format: date-time
        passengers:
          type: array
          description: "The list of passenger search criteria.\n            "
          items:
            $ref: '#/components/schemas/PassengerSearchCriteria'
        promotionCode:
          type:
          - string
          - 'null'
          description: "The promo code to be applied.\n            "
          maxLength: 8
          minLength: 0
        currencyCode:
          type:
          - string
          - 'null'
          description: "The search currency code.\n            "
          maxLength: 3
          minLength: 0
        loyaltyFilter:
          description: "The loyalty fare filter.\n            "
          $ref: '#/components/schemas/LoyaltyFilter'
        daysToLeft:
          type:
          - integer
          - 'null'
          description: "The number of days to subtract from the begin/end date.\n            "
          format: int32
        daysToRight:
          type:
          - integer
          - 'null'
          description: "The number of days to add to the begin/end date.\n            "
          format: int32
    AvailabilityStationCriteria:
      type: object
      description: "Defines the availability criteria stations.\n            "
      additionalProperties: false
      required:
      - destinationStationCodes
      - originStationCodes
      properties:
        destinationStationCodes:
          type: array
          description: "The Arrival Station Codes.\n            "
          items:
            type: string
        originStationCodes:
          type: array
          description: "The Departure Station Codes.\n            "
          items:
            type: string
        searchDestinationMacs:
          type:
          - boolean
          - 'null'
          description: "Flag indicating to search by the corresponding MAC associated with station codes provided.\n            "
        searchOriginMacs:
          type:
          - boolean
          - 'null'
          description: "Flag indicating to search by the corresponding MAC associated with station codes provided.\n            "
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
    SegmentTypes:
      type: integer
      description: "Indicates the type of a segment.\n            \n\n0 = Normal\n1 = CodeShareOperating\n2 = CodeShareMarketing\n3 = InterlineOutbound\n4 = InterlineInbound\n5 = Passive"
      x-enumNames:
      - Normal
      - CodeShareOperating
      - CodeShareMarketing
      - InterlineOutbound
      - InterlineInbound
      - Passive
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
    PassengerTypeCriteria:
      type: object
      description: "Defines the availability criteria passenger types.\n            "
      additionalProperties: false
      required:
      - types
      properties:
        types:
          type: array
          description: "The list of passenger types and counts.\n            "
          items:
            $ref: '#/components/schemas/PassengerSearchCriteria'
        residentCountry:
          type:
          - string
          - 'null'
          description: "The passenger resident country.\n            "
          maxLength: 2
          minLength: 0
    ArrivalStatus:
      type: integer
      description: "Arrival status.\n            \n\n0 = Default\n1 = Cancelled\n2 = Arrived\n3 = SeeAgent\n4 = Delayed"
      x-enumNames:
      - Default
      - Cancelled
      - Arrived
      - SeeAgent
      - Delayed
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    BundlePrice:
      type: object
      description: "The bundle price model.\n            "
      additionalProperties: false
      properties:
        totalPrice:
          type: number
          description: "The total price for the service bundle, minus taxes.\nIncludes any fees associated with the bundle.\n            "
          format: decimal
        taxTotal:
          type: number
          description: "The total sales taxes that are applicable to the\nservice bundle.\n            "
          format: decimal
        feePrice:
          type: number
          description: "The fee price associated with the bundle if there is any.\n            "
          format: decimal
        passengerType:
          type:
          - string
          - 'null'
          description: "The passenger type that is applicable to the service\nbundle.\n            "
          maxLength: 4
          minLength: 0
        program:
          description: "The program details that are applicable to the service\nbundle.\n            "
          $ref: '#/components/schemas/BundleProgramDetails'
        inclusiveTaxTotal:
          type: number
          description: "The total sales inclusive taxes that are applicable to the service bundle.\n            "
          format: decimal
        bundleSsrPrices:
          type:
          - array
          - 'null'
          description: "The list of bundle SSR prices.\n            "
          items:
            $ref: '#/components/schemas/BundleSsrPrice'
    TransportationDesignator:
      type: object
      description: "Model information about the traveling arrival and destination details.\n            "
      additionalProperties: false
      properties:
        destination:
          type:
          - string
          - 'null'
          description: "Gets or sets the leg arrival station.\n            "
          maxLength: 3
          minLength: 0
        origin:
          type:
          - string
          - 'null'
          description: "Gets or sets the leg departure station.\n            "
          maxLength: 3
          minLength: 0
        arrival:
          type: string
          description: "The arrival date and time local to the arrival station.\n            "
          format: date-time
        departure:
          type: string
          description: "The departure date and time local to the departure station.\n            "
          format: date-time
    AvailabilityCriteriaFilter:
      type: object
      description: "Defines all the different ways the availability response can be filtered.\n            "
      additionalProperties: false
      properties:
        fareInclusionType:
          description: "Defines the type of fares to be included in the response.\n            "
          $ref: '#/components/schemas/AvailabilityType'
        compressionType:
          description: "The class compression type.\n            "
          $ref: '#/components/schemas/FareClassControl'
        maxPrice:
          type:
          - number
          - 'null'
          description: "The max fare price.\n            "
          format: decimal
        minPrice:
          type:
          - number
          - 'null'
          description: "The min fare price.\n            "
          format: decimal
        loyalty:
          description: "Filters fares based on loyalty.\n            "
          $ref: '#/components/schemas/LoyaltyFilter'
        includeAllotments:
          type:
          - boolean
          - 'null'
          description: "Flag indicating to include allotted fare classes of service.\n            "
        exclusionType:
          description: "Filters the type of journeys to return.\n            "
          $ref: '#/components/schemas/AvailabilityFilter'
        sortOptions:
          type:
          - array
          - 'null'
          description: "The list of inventory journey sort options, used for filtering journeys on the response.\n            "
          items:
            $ref: '#/components/schemas/JourneySortKey'
        productClasses:
          type:
          - array
          - 'null'
          description: "The list of product class codes to filter with.\n            "
          items:
            type: string
        travelClasses:
          type:
          - array
          - 'null'
          description: "The list of travel class codes to filter with.\nPlease note that this should be an array of chars and not an array of string.\n            "
          items:
            type: string
            maxLength: 1
        fareTypes:
          type:
          - array
          - 'null'
          description: "The list of fare types.\n            "
          items:
            type: string
        classesOfService:
          type:
          - array
          - 'null'
          description: "The list of classes of service.\n            "
          items:
            type: string
        carrierCode:
          type:
          - string
          - 'null'
          description: "The desired carrier code.\n            "
          maxLength: 3
          minLength: 2
        identifier:
          type:
          - string
          - 'null'
          description: "The desired identifier number.\n            "
          maxLength: 4
          minLength: 0
        type:
          description: "The type filtering based on connections.\n            "
          $ref: '#/components/schemas/FlightType'
        connectionType:
          description: "Specifies the type of sold as connection when segment connects with passive segment.\n            "
          $ref: '#/components/schemas/SoldAsConnectionType'
        maxConnections:
          type:
          - integer
          - 'null'
          description: "The number of max connections.\n            "
        bundleControlFilter:
          description: "Determines what level of service bundle information should be returned with flight availability.\n            "
          $ref: '#/components/schemas/BundleControlFilter'
    DepartureStatus:
      type: integer
      description: "Departure status.\n            \n\n0 = Default\n1 = Cancelled\n2 = Boarding\n3 = SeeAgent\n4 = Delayed\n5 = Departed"
      x-enumNames:
      - Default
      - Cancelled
      - Boarding
      - SeeAgent
      - Delayed
      - Departed
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
    LowFareLeg:
      type: object
      description: "Low fare leg information.\n            "
      additionalProperties: false
      properties:
        arrivalTime:
          type: string
          description: "The arrival date and time.\n            "
          format: date-time
        departureTime:
          type: string
          description: "The departure date and time.\n            "
          format: date-time
        destination:
          type:
          - string
          - 'null'
          description: "The destination station code.\n            "
          maxLength: 3
          minLength: 3
        origin:
          type:
          - string
          - 'null'
          description: "The origin station code.\n            "
          maxLength: 3
          minLength: 3
        flightNumber:
          type:
          - string
          - 'null'
          description: "Gets or sets the flight number.\n            "
        carrierCode:
          type:
          - string
          - 'null'
          description: "Gets or sets the carrier code.\n            "
          maxLength: 3
          minLength: 2
        equipmentType:
          type:
          - string
          - 'null'
          description: "The leg type of the equipment.\n            "
          maxLength: 3
          minLength: 0
        operatingCarrier:
          type:
          - string
          - 'null'
          description: "The operating carrier code.\n            "
    IJsonResponseOfLowFareEstimateResults:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/LowFareEstimateResults'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    LegSsr:
      type: object
      description: "A model representing a leg ssr summary.\n            "
      additionalProperties: false
      properties:
[...]
