openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Booking/retrieve API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: booking/retrieve
paths:
  /api/nsk/v2/booking/retrieve:
    get:
      tags:
      - booking/retrieve
      summary: 'Retrieves the booking from the New Skies server based on the retrieve booking request parameters and any configured

        booking retrieve strategies. If the booking exists and the search criteria is allowed by one of the configured

        booking retrieve strategies, the booking will be loaded into the web session and returned.'
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        This endpoint will perform validation using a pre-configured booking retrieve strategy.  Custom strategies can

        be configured in Utilities, and are configurable based on application name.

        To set up a custom strategy, go to Utilities -> Resource Management.  From the "Resource Management" screen, go

        to Root -> Web -> dotREZ folder.  Right-click on the dotREZ folder and select "Add Content".  On the "Add Resource"

        screen, set the "Content Name" to "BookingStrategyManagementConfig".  Choose "XML" as the "Type".  The "Content

        Data"

        will be in JSON, and should look like this:

        {

        "strategies" :

        [{

        "applicationName" : "dotREZApi",

        "allowedStrategies" : [

        "firstAndLastName",

        "email"

        ]

        }, {

        "applicationName" : "Web",

        "allowedStrategies" : [

        "email"

        ]

        }, {

        "applicationName" : "",

        "allowedStrategies" : [

        "lastName"

        ]

        }]

        }

        The application name can be set when creating a new token.  If no application name is given for a token create

        request, the API will use whatever value is defined in the "dotrez-nsk-common.json" configuration file under the

        "systemOptions" -> "fallbackApplicationName".  If no strategies are configured and no "fallbackApplicationName" is

        configured, the default strategy will be a booking retrieve based on PNR, first name, and last name.

        If the same strategy should be used for multiple applications, the last entry in the example above can be set by

        setting an empty string as the application name, and then listing the allowed strategies to be used.  Application

        specific strategies can still be defined, but if no application specific strategy is found, a list of strategies

        associated with the blank application name will be used (if one exists in the configuration file).

        The list of strategies currently includes the following options:

        firstAndLastName

        email

        originAndDepartureDate

        lastName

        customerNumber

        More strategies may be added in the future.


        GraphQL endpoint: bookingRetrievev3'
      operationId: nsk_v2_booking_retrieve_get
      parameters:
      - name: RecordLocator
        in: query
        description: "Record locator being requested.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 12
          minLength: 0
        x-position: 1
      - name: EmailAddress
        in: query
        description: "The email address of a contact.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 266
          minLength: 0
        x-position: 2
      - name: Origin
        in: query
        description: "The origin station code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 3
        x-position: 3
      - name: FirstName
        in: query
        description: "The first name of a passenger or contact.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 32
          minLength: 0
        x-position: 4
      - name: LastName
        in: query
        description: "The last name of a passenger or contact.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 32
          minLength: 0
        x-position: 5
      - name: CustomerNumber
        in: query
        description: "One of the passengers customer numbers applied.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 20
          minLength: 0
        x-position: 6
      - name: DepartureDate
        in: query
        description: "The first journeys departure date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 7
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBooking'
              examples:
                Retrieve booking:
                  description: Successful retrieval of a booking
                  value:
                    data:
                      selfServiceMoveAvailable: false
                      bookingKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                      recordLocator: PC6Z4H
                      currencyCode: USD
                      systemCode: SYS
                      groupName: GRP
                      locators:
                        numericRecordLocator: '310530162615'
                        parentRecordLocator: PB5L2S
                        parentId: 0
                        recordLocators:
                        - recordLocatorKey: NjA4NjQyMjchTlY-
                          recordCode: '60864227'
                          systemDomainCode: MVS
                          owningSystemCode: NV
                          bookingSystemCode: NV
                          interactionPurpose: ML
                          hostedCarrierCode: MK
                      info:
                        status: 2
                        paidStatus: 1
                        priceStatus: 2
                        profileStatus: 1
                        bookingType: Default
                        channelType: 1
                        bookedDate: '2026-07-09T05:55:14.2658737Z'
                        createdDate: '2026-07-09T05:55:14.2658739Z'
                        expirationDate: '2026-07-12T05:55:14.265874Z'
                        modifiedDate: '2026-07-09T05:58:14.2658756Z'
                        modifiedAgentId: 1
                        createdAgentId: 1
                        owningCarrierCode: NV
                        changeAllowed: true
                        createdUserKey: MQ--
                        modifiedUserKey: MQ--
                      sales:
                        created:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        source:
                          isoCountryCode: LA
                          sourceSystemCode: LA
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        modified:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                      typeOfSale:
                        residentCountry: US
                        promotionCode: PROMO
                        fareTypes:
                        - FareType
                      hold:
                        expiration: '2026-07-12T05:55:14.2658796Z'
                      breakdown:
                        balanceDue: 0.0
                        pointsBalanceDue: 0.0
                        authorizedBalanceDue: 0.0
                        totalAmount: 66.44
                        totalPoints: 0.0
                        totalToCollect: 66.44
                        totalPointsToCollect: 0.0
                        totalCharged: 66.44
                        passengerTotals:
                          services:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          specialServices:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          seats:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          upgrades:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          spoilage:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          nameChanges:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          convenience:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          infant:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          totalCost: null
                        passengers:
                          mcfbrfQ-:
                            passengerKey: MCFBRFQ-
                            services:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            specialServices:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            seats:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            upgrades:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            spoilage:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            nameChanges:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            convenience:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            infant:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 0.3
                                code: INFT
                                detail: Infant Fee
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 0.3
                                ticketCode: INF
                            totalCost: null
                        journeyTotals:
                          totalAmount: 40.0
                          totalPoints: 0.0
                          totalTax: 2.44
                          totalDiscount: 0.0
                        journeys:
                          tlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_:
                            journeyKey: TlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_
                            totalAmount: 40.0
                            totalPoints: 0.0
                            totalTax: 2.44
                            totalDiscount: 0.0
                        addOnTotals:
                          car: 1.0
                          hotel: 0.0
                          activities: 0.0
                      receivedBy:
                        receivedBy: Doe, John
                        latestReceivedBy: Doe, John
                        receivedReference: DOE
                        latestReceivedReference: DOE
                        referralCode: REFERRAL
                      contacts:
                        p:
                          contactTypeCode: P
                          phoneNumbers:
                          - type: 1
                            number: '98123124123'
                          cultureCode: USD
                          address:
                            lineOne: Address Line One
                            lineTwo: Address Line Two
                            lineThree: Address Line Three
                            countryCode: US
                            provinceState: UT
                            city: Salt Lake City
                            postalCode: '84101'
                          emailAddress: johndoe@gmail.com
                          customerNumber: '2050001326'
                          sourceOrganization: WWW
                          distributionOption: 0
                          notificationPreference: 0
                          companyName: Company Name
                          name:
                            first: John
                            middle: Cee
                            last: Doe
                            title: MR
                            suffix: null
                      passengers:
                        mcfbrfQ-:
                          passengerKey: MCFBRFQ-
                          passengerAlternateKey: MTk2MjE1
                          customerNumber: '2050001326'
                          fees:
                          - type: 9
                            ssrCode: SSR
                            ssrNumber: 365
                            paymentNumber: 0
                            isConfirmed: false
                            isConfirming: false
                            isConfirmingExternal: false
                            code: JSF
                            detail: Fee Details
                            passengerFeeKey: MCEwITk-
                            override: false
                            flightReference: 20250131 NV5670 SLCBOS
                            note: Fee Notes
                            createdDate: '2026-07-09T05:55:14.2659078Z'
                            isProtected: false
                            serviceCharges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          name:
                            first: John
                            middle: Cee
                            last: Doe
                            title: MR
                            suffix: null
                          passengerTypeCode: ADT
                          discountCode: ADT
                          bags:
                          - identifier: '5670'
                            baggageKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            nonStandard: false
                            type: Backpack
                            osTag: NV3665
                            osTagDate: '2026-07-09T05:55:14.2659108Z'
                            taggedToStation: BOS
                            stationCode: SLC
                            weight: 5
                            taggedToCarrierCode: JanSport Backpack
                            weightType: 2
                          program:
                            code: ADT
                            levelCode: LVL
                            number: '365'
                          infant:
                            fees: []
                            nationality: US
                            dateOfBirth: '2025-07-09T05:55:14.2659158+00:00'
                            travelDocuments:
                            - passengerTravelDocumentKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                              documentTypeCode: PASS
                              birthCountry: USA
                              issuedByCode: USA
                              name:
                                first: John
                                middle: Cee
                                last: Doe
                                title: MR
                                suffix: JR
                              nationality: US
                              expirationDate: '2036-07-09T05:55:14.2659139Z'
                              number: P31322423218
                              issuedDate: '2025-07-09T05:55:14.2659146Z'
                              gender: 1
                              dateOfBirth: '2025-07-09T05:55:14.2659149Z'
                              declaredGender: M
                              placeOfBirth: Salt Lake City
                              placeOfIssue: Salt Lake City
                            residentCountry: US
                            gender: 1
                            name:
                              first: John
                              middle: Cee
                              last: Doe
                              title: MR
                              suffix: JR
                            type: INFT
                            declaredGender: null
                          info:
                            nationality: US
                            residentCountry: US
                            gender: 1
                            dateOfBirth: '2002-07-09T05:55:14.2659232Z'
                            familyNumber: 1
                            declaredGender: null
                          travelDocuments:
                          - passengerTravelDocumentKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            documentTypeCode: PASS
                            birthCountry: USA
                            issuedByCode: USA
                            name:
                              first: John
                              middle: Cee
                              last: Doe
                              title: MR
                              suffix: null
                            nationality: US
                            expirationDate: '2036-07-09T05:55:14.2659179Z'
                            number: P31322423218
                            issuedDate: '2016-07-09T05:55:14.2659181Z'
                            gender: 1
                            dateOfBirth: '2002-07-09T05:55:14.2659182Z'
                            declaredGender: M
                            placeOfBirth: Salt Lake City
                            placeOfIssue: Salt Lake City
                          addresses:
                          - status: 0
                            companyName: Company Name
                            lineOne: Line One
                            passengerAddressKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            phone: 801-555-1212
                            lineTwo: Line Two
                            stationCode: SLC
                            lineThree: Line Three
                            emailAddress: johndoe@gmail.com
                            countryCode: US
                            cultureCode: US
                            provinceState: UT
                            refusedContact: false
                            city: Salt Lake City
                            postalCode: '84101'
                          weightCategory: 1
                          emdCoupons:
                          - status: 0
                            passengerEmdCouponKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            emdTypeCode: 0
                            emdNumber: '1234567890123'
                            couponNumber: 1
                            optionalServiceInformation:
                              carrierCode: NV
                              reasonForIssuanceSubCode: RFISC
                            salesDate: '2026-07-09T05:55:14.2659206Z'
                            flightReference: 20250131 NV5670 SLCBOS
                            receivedFromSystemCode: GDS
                            numberOfServices: 1
                            feeType: 9
                            feeKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            ssrCode: SSR
                            ssrNumber: 365
                      journeys:
                      - flightType: 1
                        stops: 0
                        designator:
                          destination: BOS
                          origin: SLC
                          arrival: '2026-07-10T05:55:14.2659524Z'
                          departure: '2026-07-09T05:55:14.2659526Z'
                        move:
                          maxMoveBackDays: 365
                          maxMoveOutDays: 365
                        segments:
                        - isStandby: false
                          isConfirming: false
                          isConfirmingExternal: false
                          isBlocked: false
                          isHosted: true
                          isChangeOfGauge: false
                          designator:
                            destination: BOS
                            origin: SLC
                            arrival: '2026-07-10T05:55:14.2659524Z'
                            departure: '2026-07-09T05:55:14.2659526Z'
                          isSeatmapViewable: true
                          fares:
                          - isGoverning: true
                            carrierCode: NV
                            fareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfjB_flg-
                            classOfService: E
                            classType: Class Type
                            fareApplicationType: 0
                            fareClassOfService: E
                            fareBasisCode: ERPTSFRE
                            fareSequence: 0
                            inboundOutBound: 0
                            fareStatus: 0
                            isAllotmentMarketFare: false
                            originalClassOfService: E
                            ruleNumber: RPTS
                            productClass: C2
                            ruleTariff: RPTS
                            travelClassCode: C
                            pricingDate: '2026-07-09T05:55:14.2659278Z'
                            crossReferenceClassOfService: E
                            fareDesignator:
                              fareTypeCodes:
                              - A
                              - AP
                              - B
                              - C
                            passengerFares:
                            - serviceCharges:
                              - amount: 2.44
                                code: USTAX
                                detail: SLC-BOS
                                type: 5
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 2.44
                                ticketCode: US
                              discountCode: ADT
                              fareDiscountCode: 20DDISC
                              ticketFareBasis: null
                              passengerType: ADT
                            fareLink: 0
                          segmentKey: TlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_
                          identifier:
                            identifier: '5670'
                            carrierCode: NV
                            opSuffix: N
                          passengerSegment:
                            mcfbrfQ-:
                              seats:
                              - compartmentDesignator: C
                                penalty: 0
                                unitDesignator: 7G
                                seatInformation:
                                  deck: 1
                                  seatSet: 1
                                  propertyList:
                                    aisle: 'TRUE'
                                    bulkhead: 'TRUE'
                                    tcc: C
                                arrivalStation: BOS
                                departureStation: SLC
                                passengerKey: MCFBRFQ-
                                unitKey: TlYhNTY3MCEgITYzODczOTQxNDAwMDAwMDAwMCFTTEMhQk9TITdHIUM-
                                crossReferenceSeatingPreference: A
                                isPending: false
                                seatmapReference: TlYhNTY3MCEgITYzODczOTQxNDAwMDAwMDAwMCFTTEMhQk9T
                              passengerKey: MCFBRFQ-
                              activityDate: '2026-07-09T05:55:14.2659292Z'
                              boardingSequence: '0'
                              createdDate: '2026-07-09T05:55:14.2659294Z'
                              liftStatus: 0
                              modifiedDate: '2026-07-09T06:05:14.2659297Z'
                              overBookIndicator: 0
                              priorityDate: '2026-07-09T05:55:14.2659298Z'
                              timeChanged: false
                              verifiedTravelDocs: null
                              sourcePointOfSale:
                                agentCode: Agent
                                domainCode: TAW3
                                locationCode: TAW3
                                organizationCode: WWW
                              pointOfSale:
                                agentCode: Agent
                                domainCode: TAW3
                                locationCode: TAW3
                                organizationCode: WWW
                              ssrs:
                              - isConfirmed: false
                                isConfirmingUnheld: false
                                note: Note
                                ssrDuration: 2
                                ssrKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                                count: 1
                                ssrCode: SSR
                                feeCode: JSF
                                inBundle: true
                                passengerKey: MCFBRFQ-
                                ssrDetail: Detail
                                ssrNumber: 365
                                market:
                                  identifier:
                                    identifier: '5670'
                                    carrierCode: NV
                                    opSuffix: N
                                  destination: BOS
                                  origin: SLC
                                  departureDate: '2026-07-09T05:55:14.2659351Z'
                              tickets:
                              - ticketNumber: '1234567890123'
                                infantTicketNumber: '1234567890124'
                                ticketIndicator: 1
                                ticketStatus: 1
                                passengerKey: MCFBRFQ-
                              bags:
                              - baggageKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                                passengerKey: MCFBRFQ-
                                arrivalStation: BOS
                                status: 0
                                departureStation: SLC
                                osTag: NV3665
                              scores:
                              - guestValueCode: GVC
                                score: 100
                                passengerKey: MCFBRFQ-
                              boardingPassDetail:
                                gateInformation: Gate Information
                                priorityInformation: Priority Information
                                cabinClass: Cabin Class
                                compartmentLevel: Compartment level
                                boardingZone: Boarding Zone
                                seatAssignment: Seat Assignment
                                sequenceNumber: Sequence Number
                              hasInfant: true
                              seatPreferences:
                                seat: 2
                                travelClass: 2
                                advancedPreferences:
                                - seatMapCode: AISLE
                                  value: 'TRUE'
                                  status: 1
                              bundleCode: CC02
                              verifiedTravelDocuments:
                              - MTU4NjExIVBDNlo0SCFmYWxzZQ--
                              referenceNumber: 35642
                              baggageGroupNumber: 2
                              baggageAllowanceUsed: false
                              baggageAllowanceWeight: 0
                              baggageAllowanceWeightType: 0
                              stayType: 0
                              infantStayType: 0
                          channelType: 1
                          cabinOfService: C
                          externalIdentifier:
                            identifier: '5660'
                            carrierCode: MK
                            opSuffix: M
                          priorityCode: R
                          changeReasonCode: 0
                          segmentType: 0
                          salesDate: '2026-07-09T05:55:14.265942Z'
                          international: false
                          flightReference: 20250131 NV5670 SLCBOS
                          legs:
                          - legKey: NjM4NzM5NDE0MDAwMDAwMDAwIU5WITU2NzAhICFTTEMhQk9TITI0MDYxMDQ-
                            operationsInfo:
                              arrivalGate:
                                estimatedGate: First Gate
                                actualGate: Second Gate
                              estimatedArrivalTime: '2026-07-09T08:55:14.2659438Z'
                              departureGate:
                                estimatedGate: First Gate
                                actualGate: Second Gate
                              actualOffBlockTime: '2026-07-10T05:55:14.2659451Z'
                              actualOnBlockTime: '2026-07-10T05:55:14.2659453Z'
                              actualTouchDownTime: '2026-07-11T05:55:14.2659455Z'
                              airborneTime: '2026-07-10T08:55:14.2659456Z'
                              arrivalNote: Arrival Note
                              arrivalStatus: 0
                              baggageClaim: Baggage Claim
                              departureNote: Departure Note
                              departureStatus: 0
                              departureTimes:
                                scheduled: '2026-07-09T05:55:14.2659461Z'
                                estimated: '2026-07-09T05:45:14.2659463Z'
                              standardArrivalTime: '2026-07-10T05:55:14.2659465Z'
                              tailNumber: 9V-SKA
                            designator:
                              destination: BOS
                              origin: SLC
                              arrival: '2026-07-10T05:55:14.2659524Z'
                              departure: '2026-07-09T05:55:14.2659526Z'
                            legInfo:
                              departureTimeUtc: '2026-07-09T12:55:14Z'
                              arrivalTimeUtc: '2026-07-10T10:55:14Z'
                              adjustedCapacity: 168
                              arrivalTerminal: Concourse A
                              arrivalTimeVariant: -300
                              backMoveDays: 365
                              capacity: 171
                              changeOfDirection: false
                              codeShareIndicator: 0
                              departureTerminal: Concourse B
                              departureTimeVariant: -420
                              equipmentType: '767'
                              equipmentTypeSuffix: '200'
                              eTicket: false
                              irop: false
                              lid: 168
                              marketingCode: DJM_3R
                              marketingOverride: false
                              operatedByText: Operated By NV
                              operatingCarrier: NV
                              operatingFlightNumber: '5670'
                              operatingOpSuffix: N
                              outMoveDays: 365
                              arrivalTime: '2026-07-10T05:55:14.2659489Z'
                              departureTime: '2026-07-09T05:55:14.265949Z'
                              prbcCode: B767EMDJ
                              scheduleServiceType: S
                              sold: 6
                              status: 0
                              subjectToGovtApproval: false
                            nests:
                            - adjustedCapacity: 168
                              classNest: 8
                              lid: 168
                              travelClassCode: C
                              nestType: 0
                              legClasses:
                              - classNest: 8
                                classAllotted: 0
                                classType: C
                                classAuthorizedUnits: 0
                                classOfService: C
                                classRank: 0
                                classSold: 0
                                cnxSold: 0
                                latestAdvancedReservation: 0
                                status: 0
                                thruSold: 0
                            ssrs:
                            - available: 88
                              ssrNestCode: 1BAG
                              lid: 168
                              sold: 100
                              unitSold: 80
                            seatmapReference: TlYhNTY3MCEgITYzODczOTQxNDAwMDAwMDAwMCFTTEMhQk9T
                            flightReference: 20250131 NV5670 SLCBOS
                          status: 6
                        journeyKey: TlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_
                        notForGeneralUser: false
                      comments:
                      - type: 0
                        text: Comment
                        createdDate: '2026-07-09T05:55:14.2659543Z'
                        pointOfSale:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        commentKey: MASDFASDXCFQ-
                      queues:
                      - code: AQCD
                        subCode: AQBD
                        name: Automation Queue Smoke
                        queueId: 121940
                        passengerId: 196215
                        watchListId: 23
                        note: Booking with balance due of 67.44
                        type: 15
                        action: 0
                        mode: 0
                        flightReference: 20250131 NV5670 SLCBOS
                        bookingQueueKey: MTIxOTQwIUFRQ0Qh
                        passengerAlternateKey: MTk2MjE1
                        watchListKey: MjM-
                      history:
                      - historyCategory: 31
                        details: Assigned Seat
                        event: 4
                        pointOfSale:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        sourcePointOfSale:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        receivedBy: Doe, John
                        receivedByReference: '315231'
                        createdDate: '2026-07-09T05:55:14.2659571Z'
                      payments:
                      - paymentKey: MTUwNTA5ITEhQ0EhMTU4NjEx
                        code: VI
                        approvalDate: '2026-07-09T05:55:14.2659588Z'
                        details:
                          accountNumberId: 0
                          parentPaymentId: 0
                          accountName: John Doe
                          accountNumber: '5110920006810092'
                          expirationDate: '2030-07-09T05:55:14.2659597Z'
                          text: Payment
                          installments: 0
                          binRange: 511092
                          fields:
                            payment Field: Payment Field Value
                        amounts:
                          amount: 67.44
                          currencyCode: USD
                          collected: 67.44
                          collectedCurrencyCode: USD
                          quoted: 67.44
                          quotedCurrencyCode: USD
                        authorizationCode: AUTH
                        authorizationStatus: 4
                        fundedDate: '2026-07-09T05:55:14.2659613Z'
                        transactionCode: TRANSACTION
                        dcc:
                          rateId: 3735298f-85c5-419c-904b-98c40379ae30
                          currencyCode: USD
                          rateValue: 1.0
                          amount: 67.44
                          putInState: STATE
                          status: 2
                          applicable: true
                        threeDSecure:
                          browserUserAgent: TAW3
                          browserAccept: SYS
                          remoteIpAddress: 192.168.1.1
                          termUrl: www.bank.com
                          paReq: Payload
                          acsUrl: www.bank.com
                          paRes: Response
                          authResult: Approved
                          cavv: UmFuZG9tIENBVlY=
                          cavvAlgorithm: Encryption
                          eci: '05'
                          xid: SDF235
                          applicable: true
                          successful: true
                          threeDSecureSessionId: VGhpcyBpcyBhIHJhbmRvbSB0aHJlZSBEIHNlY3VyZSBzZXNzaW9uIElELg==
                          challengePreference: 0
                          challengeWindowSize: 0
                          transactionIdThreeDSecure: 6f068cbd-40cc-97d2-e8bc-139591794461
                          threeDSecureVersion: 1.0.2
                          merchantData: MerchantData
                          redirectJwt: VGhpcyBpcyBhIHJhbmRvbSByZWRpcmVjdCBKV1QgdG9rZW4gc3RyaW5nLg==
                          redirectJwtUrl: www.bank.com
                          dsTransactionId: SDF235
                          authenticationStatus: 1
                        attachments:
                        - id: 365291
                          paymentId: 3652391231
                          attachment: AQIDBAU=
                        createdDate: '2026-07-09T05:55:14.2659732Z'
                        modifiedDate: '2026-07-09T06:00:14.2659734Z'
                        type: 0
                        status: 3
                        transferred: false
                        channelType: 1
                        pointOfSale:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        sourcePointOfSale:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        deposit: false
                        accountId: 0
                        voucher:
                          id: 0
                          transactionId: 0
                          overrideRestrictions: false
                          overrideAmount: false
                          recordLocator: PC6Z4H
                        addedToState: true
                        createdAgentId: 1
                        modifiedAgentId: 1
                        reference: 150509
                        passengerVoucher:
                          passengerVoucherKey: NTA2MiExMTcwITEwMDExNzA3MDQxMzAwMDAx
                          passengerKey: MCFBRFQ-
                          voucherConfigurationCode: HNDACAR
                          voucherUses:
                          - 13
                          customerPrograms:
                          - programCode: HNDA
                            programNumber: '3215135'
                          customerNumber: '2050001326'
                      addOns:
                        honda Civic:
                          paymentRequired: false
                          status: 0
                          addOnKey: null
                          type: 4
                          summary:
                            total: 100.0
                            held: 0.0
                            charged: 100.0
                            supplierCode: HONDA
                            beginDate: '2026-07-09T05:55:14.2659787Z'
                            beginLocation: SLC
                            endDate: '2026-07-16T05:55:14.2659788Z'
                            endLocation: BOS
                            externalReference: HONDA-123
                            description: Car Rental
                            externalConfirmationNumber: HDA365
                          reference: Component Reference
                          created:
                            agentReference: MTIxNTg-
                            agentCode: Agent
                            date: '2026-07-09T05:55:14.2659798Z'
                            organizationCode: WWW
                            domainCode: TAW3
                            locationCode: TAW3
                          source:
                            agentCode: Agent
                            organizationCode: WWW
                            domainCode: TAW3
                            locationCode: TAW3
                          declinedText: Declined Component Text
                          cultureCode: US
                          modifiedDate: '2026-07-09T06:55:14.2659803Z'
                          modifiedAgentReference: Agent Reference
                          order:
                            address:
                              coordinates:
                                latitude: '40.7608'
                                longitude: ' -111.951814'
                              lineOne: Address Line One
                              lineTwo: Address Line Two
                              lineThree: Address Line Three
                              countryCode: US
                              provinceState: UT
                              city: Salt Lake City
                              postalCode: '84101'
                            orderKey: HNDA365
                            phoneNumbers:
                            - type: 1
                              number: '98123124123'
                            active: false
                            locations:
                            - description: Salt Lake City Location
                              code: SLC
                              utcOffset: 365.0
                              usageDate: '0001-01-01T00:00:00'
                            criteria:
                              catalogCode: A
                              countryCode: US
                              supplierCode: JPN
                              departmentCode: CARS
                              vendorCode: HNDA
                              companyCode: HNDA
                              ratingCode: '10'
                              discountCode: CVCDSC
                              promotionCode: HNDASALE
                              currencyCode: USD
                              categoryCode: CAR
                            customer:
                              customerKey: MCFBRFQ-
                              name:
                                first: John
                                middle: Cee
                                last: Doe
                                title: MR
                                suffix: null
                              customerNumber: '2050001326'
                              address:
                                county: Salt Lake County
                                lineOne: Address Line One
                                lineTwo: Address Line Two
                                lineThree: Address Line Three
                                countryCode: US
                                provinceState: UT
                                city: Salt Lake City
                                postalCode: '84101'
                              dateOfBirth: '2002-07-09T05:55:14.2659863Z'
                              emailAddress: johndoe@gmail.com
                              companyName: Company Name
                              type: Residential
                              homePhone: 833-81-21
                              workPhone: 801-555-1212
                              fax: 801-555-1212
                            thumbnailFileName: File Name
                            participants:
                              john Doe:
                                participantKey: MCFBRFQ-
                                description: New Participant
                                name:
                                  first: John
                                  middle: Cee
                                  last: Doe
                                  title: MR
                                  suffix: null
                                participantTypeCode: ADT
                                address:
                                  county: Salt Lake County
                                  lineOne: Address Line One
                                  lineTwo: Address Line Two
                                  lineThree: Address Line Three
                                  countryCode: US
                                  provinceState: UT
                                  city: Salt Lake City
                                  postalCode: '84101'
                                isPrimary: true
                                dateOfBirth: '2002-07-09T05:55:14.2659884Z'
                                document:
                                  number: '1'
                                  issuedByCode: PRTICPANT
                                  documentTypeCode: CHECK
                                emailAddress: johndoe@gmail.com
                                companyName: Company Name
                                type: Residential
                                homePhone: 833-81-21
                                workPhone: 801-555-1212
                                fax: 801-555-1212
                            quantity: 10
                            history:
                            - code: Y
                              previousCode: N
                              note: Note
                              created: '2026-07-09T05:55:14.2659894Z'
                              hasError: false
                            usageDate: '0001-01-01T00:00:00'
                            payment:
                              paymentKey: MTUwNTA5ITEhQ0EhMTU4NjEx
                              type: VI
                              currencyCode: USD
                              name:
                                first: John
                                middle: Cee
                                last: Doe
                                title: MR
                                suffix: null
                              number: '5110920006810092'
                              expiration: '2030-07-09T05:55:14.2659905Z'
                              cvv: '365'
                              amount: 100.0
                              description: Payment Description
                              issueNumber: '3656912'
                              address:
                                lineOne: Address Line One
                                lineTwo: Address Line Two
                                lineThree: Address Line Three
                                countryCode: US
                                provinceState: UT
                                city: Salt Lake City
                                postalCode: '84101'
                              emailAddress: johndoe@gmail.com
                              phoneNumbers:
                              - type: 1
                                number: '98123124123'
                            externalLocator: JPN
                            parameters:
                            - value: '10'
                              code: HNDA
                              description: Parameter Description
                            description: Order Description
                            descriptionFormatType: Description Format Type
                            productDescription: Product Description
                            productVariationDescription: Product Variation Description
                            paymentAction: 1
                            amounts:
                              display:
                                value: 25.0
                                total: 50.0
                              initial:
                                value: 25.0
                                total: 50.0
                              markup:
                                value: 25.0
                                total: 50.0
                              listed:
                                value: 25.0
                                total: 50.0
                              listedDiscount:
                                value: 25.0
                                total: 50.0
                              discount:
                                value: 25.0
                                total: 50.0
                              handling:
                                value: 25.0
                                total: 50.0
                              handlingDiscount:
                                value: 25.0
                                total: 50.0
                              dueNow:
                                preTax: 25.0
                                tax: 10.0
                                total: 35.0
                              dueLater:
                                preTax: 25.0
                                tax: 10.0
                                total: 35.0
                              personalizations: 10.0
                              taxable: 35.0
                              services: 50.0
                              fees: 100.0
                              total: 115.0
                              taxRate: 2
                              taxExempt: true
                              taxAtUnitPrice: true
                            terms:
                            - code: APPROVED
                              description: Description
                              terms: Terms
                            cancellationTerms:
                            - code: CANCELLED
                              description: Description
                              terms: Terms
                            details:
                            - code: HNDA
                              styleCode: H
                              description: Description
                            fees:
                            - code: HND
                              feeCategoryCode: VI
                              description: Fee Description
                              amount:
                                value: 25.0
                                total: 50.0
                              foreignAmount:
                                value: 25.0
                                total: 50.0
                              type: 0
                              isWaiveable: false
                              foreignCurrencyCode: USD
                              currencyCode: USD
                              isChargeable: false
                            notes:
                            - text: Order Text
                              description: Order Description
                              created: '2026-07-09T05:55:14.2659982Z'
                              modified: '2026-07-09T06:25:14.2659982Z'
                            productVariationKey: HNDA365
                            productOrderKey: HNDA365
                          isHistorical: false
                          charges:
                          - type: 6
                            code: SRVC
                            ticketCode: JSF
                            collection: 0
                            currencyCode: USD
                            amount: 64.0
                            details: Charge Details
                      orders:
                      - bookingOrderKey: HNDA365
                        orderId: 330b30b8-f608-4a38-a96f-1d0ae31d1aee
                        collect: 100.0
                        thirdPartyCharge: 0.0
                        thirdPartyHold: 0.0
                        total: 100.0
                        status: 1
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid search criteria:
                  description: The search parameters used did not meet the configured strategy in the Management Console. For more information about setting up the strategies, please refer to the <a href="https://navitaire-developer-digital-api.azurewebsites.net/articles/Booking-Retrieve/By-Strategies/">Navitaire Developer Portal</a>.
                  value:
                    errors:
                    - id: null
                      code: nsk:Booking:GeneralRestriction
                      message: nsk:Booking:GeneralRestriction
                      type: Validation
                      details: null
                      rawMessage: Invalid search criteria
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Validation failed:
                  description: The booking associated with the record locator is not found or the provided search parameters didn't match with the booking. The value for the `rawMessage` might differ depending on the strategy used. Aside from the first and last name, it could be email, customer number, last name or origin and departure date.
                  value:
                    errors:
                    - id: null
                      code: nsk:Booking:GeneralRestriction
                      message: nsk:Booking:GeneralRestriction
                      type: Validation
                      details: null
                      rawMessage: First and last name validation failed
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Agent not allowed to view past-dated bookings:
                  description: The agent is not allowed to retrieve past-dated bookings that are outside the configured number of days in the Management Console.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:AuthorizationViewPastDatedBookingNotAllowed
                      message: nsk-server:AuthorizationViewPastDatedBookingNotAllowed
                      type: Validation
                      details: null
                      rawMessage: Agent is not allowed to retrieve the booking.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/retrieve/{bookingKey}:
    get:
      tags:
      - booking/retrieve
      summary: Gets a specific booking by key and stores it in state.
      description: 'This endpoint requires a session token and is agent-only.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: bookingRetrieveByKey'
      operationId: nsk_v1_booking_retrieve_bookingKey_get
      parameters:
      - name: bookingKey
        in: path
        required: true
        description: The booking key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBooking'
              examples:
                Retrieve booking:
                  description: Successful retrieval of a booking
                  value:
                    data:
                      selfServiceMoveAvailable: false
                      bookingKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                      recordLocator: PC6Z4H
                      currencyCode: USD
                      systemCode: SYS
                      groupName: GRP
                      locators:
                        numericRecordLocator: '310530162615'
                        parentRecordLocator: PB5L2S
                        parentId: 0
                        recordLocators:
                        - recordLocatorKey: NjA4NjQyMjchTlY-
                          recordCode: '60864227'
                          systemDomainCode: MVS
                          owningSystemCode: NV
                          bookingSystemCode: NV
                          interactionPurpose: ML
                          hostedCarrierCode: MK
                      info:
                        status: 2
                        paidStatus: 1
                        priceStatus: 2
                        profileStatus: 1
                        bookingType: Default
                        channelType: 1
                        bookedDate: '2026-07-09T05:55:13.0790691Z'
                        createdDate: '2026-07-09T05:55:13.0790692Z'
                        expirationDate: '2026-07-12T05:55:13.0790693Z'
                        modifiedDate: '2026-07-09T05:58:13.0790705Z'
                        modifiedAgentId: 1
                        createdAgentId: 1
                        owningCarrierCode: NV
                        changeAllowed: true
                        createdUserKey: MQ--
                        modifiedUserKey: MQ--
                      sales:
                        created:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        source:
                          isoCountryCode: LA
                          sourceSystemCode: LA
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        modified:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                      typeOfSale:
                        residentCountry: US
                        promotionCode: PROMO
                        fareTypes:
                        - FareType
                      hold:
                        expiration: '2026-07-12T05:55:13.0790754Z'
                      breakdown:
                        balanceDue: 0.0
                        pointsBalanceDue: 0.0
                        authorizedBalanceDue: 0.0
                        totalAmount: 66.44
                        totalPoints: 0.0
                        totalToCollect: 66.44
                        totalPointsToCollect: 0.0
                        totalCharged: 66.44
                        passengerTotals:
                          services:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          specialServices:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          seats:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          upgrades:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          spoilage:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          nameChanges:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          convenience:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          infant:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          totalCost: null
                        passengers:
                          mcfbrfQ-:
                            passengerKey: MCFBRFQ-
                            services:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            specialServices:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            seats:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            upgrades:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            spoilage:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            nameChanges:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            convenience:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            infant:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 0.3
                                code: INFT
                                detail: Infant Fee
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 0.3
                                ticketCode: INF
                            totalCost: null
                        journeyTotals:
                          totalAmount: 40.0
                          totalPoints: 0.0
                          totalTax: 2.44
                          totalDiscount: 0.0
                        journeys:
                          tlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_:
                            journeyKey: TlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_
                            totalAmount: 40.0
                            totalPoints: 0.0
                            totalTax: 2.44
                            totalDiscount: 0.0
                        addOnTotals:
                          car: 1.0
                          hotel: 0.0
                          activities: 0.0
                      receivedBy:
                        receivedBy: Doe, John
                        latestReceivedBy: Doe, John
                        receivedReference: DOE
                        latestReceivedReference: DOE
                        referralCode: REFERRAL
                      contacts:
                        p:
                          contactTypeCode: P
                          phoneNumbers:
                          - type: 1
                            number: '98123124123'
                          cultureCode: USD
                          address:
                            lineOne: Address Line One
                            lineTwo: Address Line Two
                            lineThree: Address Line Three
                            countryCode: US
                            provinceState: UT
                            city: Salt Lake City
                            postalCode: '84101'
                          emailAddress: johndoe@gmail.com
                          customerNumber: '2050001326'
                          sourceOrganization: WWW
                          distributionOption: 0
                          notificationPreference: 0
                          companyName: Company Name
                          name:
                            first: John
                            middle: Cee
                            last: Doe
                            title: MR
                            suffix: null
                      passengers:
                        mcfbrfQ-:
                          passengerKey: MCFBRFQ-
                          passengerAlternateKey: MTk2MjE1
                          customerNumber: '2050001326'
                          fees:
                          - type: 9
                            ssrCode: SSR
                            ssrNumber: 365
                            paymentNumber: 0
                            isConfirmed: false
                            isConfirming: false
                            isConfirmingExternal: false
                            code: JSF
                            detail: Fee Details
                            passengerFeeKey: MCEwITk-
                            override: false
                            flightReference: 20250131 NV5670 SLCBOS
                            note: Fee Notes
                            createdDate: '2026-07-09T05:55:13.0791027Z'
                            isProtected: false
                            serviceCharges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          name:
                            first: John
                            middle: Cee
                            last: Doe
                            title: MR
                            suffix: null
                          passengerTypeCode: ADT
                          discountCode: ADT
                          bags:
                          - identifier: '5670'
                            baggageKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            nonStandard: false
                            type: Backpack
                            osTag: NV3665
                            osTagDate: '2026-07-09T05:55:13.0791052Z'
                            taggedToStation: BOS
                            stationCode: SLC
                            weight: 5
                            taggedToCarrierCode: JanSport Backpack
                            weightType: 2
                          program:
                            code: ADT
                            levelCode: LVL
                            number: '365'
                          infant:
                            fees: []
                            nationality: US
                            dateOfBirth: '2025-07-09T05:55:13.0791137+00:00'
                            travelDocuments:
                            - passengerTravelDocumentKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                              documentTypeCode: PASS
                              birthCountry: USA
                              issuedByCode: USA
                              name:
                                first: John
                                middle: Cee
                                last: Doe
                                title: MR
                                suffix: JR
                              nationality: US
                              expirationDate: '2036-07-09T05:55:13.0791077Z'
                              number: P31322423218
                              issuedDate: '2025-07-09T05:55:13.0791125Z'
                              gender: 1
                              dateOfBirth: '2025-07-09T05:55:13.0791128Z'
                              declaredGender: M
                              placeOfBirth: Salt Lake City
                              placeOfIssue: Salt Lake City
                            residentCountry: US
                            gender: 1
                            name:
                              first: John
                              middle: Cee
                              last: Doe
                              title: MR
                              suffix: JR
                            type: INFT
                            declaredGender: null
                          info:
                            nationality: US
                            residentCountry: US
                            gender: 1
                            dateOfBirth: '2002-07-09T05:55:13.0791211Z'
                            familyNumber: 1
                            declaredGender: null
                          travelDocuments:
                          - passengerTravelDocumentKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            documentTypeCode: PASS
                            birthCountry: USA
                            issuedByCode: USA
                            name:
                              first: John
                              middle: Cee
                              last: Doe
                              title: MR
                              suffix: null
                            nationality: US
                            expirationDate: '2036-07-09T05:55:13.0791156Z'
                            number: P31322423218
                            issuedDate: '2016-07-09T05:55:13.0791157Z'
                            gender: 1
                            dateOfBirth: '2002-07-09T05:55:13.0791158Z'
                            declaredGender: M
                            placeOfBirth: Salt Lake City
                            placeOfIssue: Salt Lake City
                          addresses:
                          - status: 0
                            companyName: Company Name
                            lineOne: Line One
                            passengerAddressKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            phone: 801-555-1212
                            lineTwo: Line Two
                            stationCode: SLC
                            lineThree: Line Three
                            emailAddress: johndoe@gmail.com
                            countryCode: US
                            cultureCode: US
                            provinceState: UT
                            refusedContact: false
                            city: Salt Lake City
                            postalCode: '84101'
                          weightCategory: 1
                          emdCoupons:
                          - status: 0
                            passengerEmdCouponKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            emdTypeCode: 0
                            emdNumber: '1234567890123'
                            couponNumber: 1
                            optionalServiceInformation:
                              carrierCode: NV
                              reasonForIssuanceSubCode: RFISC
                            salesDate: '2026-07-09T05:55:13.0791179Z'
                            flightReference: 20250131 NV5670 SLCBOS
                            receivedFromSystemCode: GDS
                            numberOfServices: 1
                            feeType: 9
                            feeKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            ssrCode: SSR
                            ssrNumber: 365
                      journeys:
                      - flightType: 1
                        stops: 0
                        designator:
                          destination: BOS
                          origin: SLC
                          arrival: '2026-07-10T05:55:13.079145Z'
                          departure: '2026-07-09T05:55:13.0791451Z'
                        move:
                          maxMoveBackDays: 365
                          maxMoveOutDays: 365
                        segments:
                        - isStandby: false
                          isConfirming: false
                          isConfirmingExternal: false
                          isBlocked: false
                          isHosted: true
                          isChangeOfGauge: false
                          designator:
                            destination: BOS
                            origin: SLC
                            arrival: '2026-07-10T05:55:13.079145Z'
                            departure: '2026-07-09T05:55:13.0791451Z'
                          isSeatmapViewable: true
                          fares:
                          - isGoverning: true
                            carrierCode: NV
                            fareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfjB_flg-
                            classOfService: E
                            classType: Class Type
                            fareApplicationType: 0
                            fareClassOfService: E
                            fareBasisCode: ERPTSFRE
                            fareSequence: 0
                            inboundOutBound: 0
                            fareStatus: 0
                            isAllotmentMarketFare: false
                            originalClassOfService: E
                            ruleNumber: RPTS
                            productClass: C2
                            ruleTariff: RPTS
                            travelClassCode: C
                            pricingDate: '2026-07-09T05:55:13.0791243Z'
                            crossReferenceClassOfService: E
                            fareDesignator:
                              fareTypeCodes:
                              - A
                              - AP
                              - B
                              - C
                            passengerFares:
                            - serviceCharges:
                              - amount: 2.44
                                code: USTAX
                                detail: SLC-BOS
                                type: 5
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 2.44
                                ticketCode: US
                              discountCode: ADT
                              fareDiscountCode: 20DDISC
                              ticketFareBasis: null
                              passengerType: ADT
                            fareLink: 0
                          segmentKey: TlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_
                          identifier:
                            identifier: '5670'
                            carrierCode: NV
                            opSuffix: N
                          passengerSegment:
                            mcfbrfQ-:
                              seats:
                              - compartmentDesignator: C
                                penalty: 0
                                unitDesignator: 7G
                                seatInformation:
                                  deck: 1
                                  seatSet: 1
                                  propertyList:
                                    aisle: 'TRUE'
                                    bulkhead: 'TRUE'
                                    tcc: C
                                arrivalStation: BOS
                                departureStation: SLC
                                passengerKey: MCFBRFQ-
                                unitKey: TlYhNTY3MCEgITYzODczOTQxNDAwMDAwMDAwMCFTTEMhQk9TITdHIUM-
                                crossReferenceSeatingPreference: A
                                isPending: false
                                seatmapReference: TlYhNTY3MCEgITYzODczOTQxNDAwMDAwMDAwMCFTTEMhQk9T
                              passengerKey: MCFBRFQ-
                              activityDate: '2026-07-09T05:55:13.0791256Z'
                              boardingSequence: '0'
                              createdDate: '2026-07-09T05:55:13.0791258Z'
                              liftStatus: 0
                              modifiedDate: '2026-07-09T06:05:13.0791259Z'
                              overBookIndicator: 0
                              priorityDate: '2026-07-09T05:55:13.0791262Z'
                              timeChanged: false
                              verifiedTravelDocs: null
                              sourcePointOfSale:
                                agentCode: Agent
                                domainCode: TAW3
                                locationCode: TAW3
                                organizationCode: WWW
                              pointOfSale:
                                agentCode: Agent
                                domainCode: TAW3
                                locationCode: TAW3
                                organizationCode: WWW
                              ssrs:
                              - isConfirmed: false
                                isConfirmingUnheld: false
                                note: Note
                                ssrDuration: 2
                                ssrKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                                count: 1
                                ssrCode: SSR
                                feeCode: JSF
                                inBundle: true
                                passengerKey: MCFBRFQ-
                                ssrDetail: Detail
                                ssrNumber: 365
                                market:
                                  identifier:
                                    identifier: '5670'
                                    carrierCode: NV
                                    opSuffix: N
                                  destination: BOS
                                  origin: SLC
                                  departureDate: '2026-07-09T05:55:13.0791313Z'
                              tickets:
                              - ticketNumber: '1234567890123'
                                infantTicketNumber: '1234567890124'
                                ticketIndicator: 1
                                ticketStatus: 1
                                passengerKey: MCFBRFQ-
                              bags:
                              - baggageKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                                passengerKey: MCFBRFQ-
                                arrivalStation: BOS
                                status: 0
                                departureStation: SLC
                                osTag: NV3665
                              scores:
                              - guestValueCode: GVC
                                score: 100
                                passengerKey: MCFBRFQ-
                              boardingPassDetail:
                                gateInformation: Gate Information
                                priorityInformation: Priority Information
                                cabinClass: Cabin Class
                                compartmentLevel: Compartment level
                                boardingZone: Boarding Zone
                                seatAssignment: Seat Assignment
                                sequenceNumber: Sequence Number
                              hasInfant: true
                              seatPreferences:
                                seat: 2
                                travelClass: 2
                                advancedPreferences:
                                - seatMapCode: AISLE
                                  value: 'TRUE'
                                  status: 1
                              bundleCode: CC02
                              verifiedTravelDocuments:
                              - MTU4NjExIVBDNlo0SCFmYWxzZQ--
                              referenceNumber: 35642
                              baggageGroupNumber: 2
                              baggageAllowanceUsed: false
                              baggageAllowanceWeight: 0
                              baggageAllowanceWeightType: 0
                              stayType: 0
                              infantStayType: 0
                          channelType: 1
                          cabinOfService: C
                          externalIdentifier:
                            identifier: '5660'
                            carrierCode: MK
                            opSuffix: M
                          priorityCode: R
                          changeReasonCode: 0
                          segmentType: 0
                          salesDate: '2026-07-09T05:55:13.0791365Z'
                          international: false
                          flightReference: 20250131 NV5670 SLCBOS
                          legs:
                          - legKey: NjM4NzM5NDE0MDAwMDAwMDAwIU5WITU2NzAhICFTTEMhQk9TITI0MDYxMDQ-
                            operationsInfo:
                              arrivalGate:
                                estimatedGate: First Gate
                                actualGate: Second Gate
                              estimatedArrivalTime: '2026-07-09T08:55:13.0791381Z'
                              departureGate:
                                estimatedGate: First Gate
                                actualGate: Second Gate
                              actualOffBlockTime: '2026-07-10T05:55:13.0791391Z'
                              actualOnBlockTime: '2026-07-10T05:55:13.0791392Z'
                              actualTouchDownTime: '2026-07-11T05:55:13.0791394Z'
                              airborneTime: '2026-07-10T08:55:13.0791395Z'
                              arrivalNote: Arrival Note
[...]
