openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Booking API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: booking
paths:
  /api/nsk/v1/booking:
    get:
      tags:
      - booking
      summary: Get the current booking in state.
      description: 'Note: To add a booking comment please use

        api/nsk/v3/booking.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: booking'
      operationId: nsk_v1_booking_get
      responses:
        '200':
          description: OK. The request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBooking'
              examples:
                Retrieve booking:
                  description: Successful retrieval of a booking
                  value:
                    data:
                      selfServiceMoveAvailable: false
                      bookingKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                      recordLocator: PC6Z4H
                      currencyCode: USD
                      systemCode: SYS
                      groupName: GRP
                      locators:
                        numericRecordLocator: '310530162615'
                        parentRecordLocator: PB5L2S
                        parentId: 0
                        recordLocators:
                        - recordLocatorKey: NjA4NjQyMjchTlY-
                          recordCode: '60864227'
                          systemDomainCode: MVS
                          owningSystemCode: NV
                          bookingSystemCode: NV
                          interactionPurpose: ML
                          hostedCarrierCode: MK
                      info:
                        status: 2
                        paidStatus: 1
                        priceStatus: 2
                        profileStatus: 1
                        bookingType: Default
                        channelType: 1
                        bookedDate: '2026-07-09T05:55:12.9400815Z'
                        createdDate: '2026-07-09T05:55:12.9400817Z'
                        expirationDate: '2026-07-12T05:55:12.940082Z'
                        modifiedDate: '2026-07-09T05:58:12.9400846Z'
                        modifiedAgentId: 1
                        createdAgentId: 1
                        owningCarrierCode: NV
                        changeAllowed: true
                        createdUserKey: MQ--
                        modifiedUserKey: MQ--
                      sales:
                        created:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        source:
                          isoCountryCode: LA
                          sourceSystemCode: LA
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        modified:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                      typeOfSale:
                        residentCountry: US
                        promotionCode: PROMO
                        fareTypes:
                        - FareType
                      hold:
                        expiration: '2026-07-12T05:55:12.9401375Z'
                      breakdown:
                        balanceDue: 0.0
                        pointsBalanceDue: 0.0
                        authorizedBalanceDue: 0.0
                        totalAmount: 66.44
                        totalPoints: 0.0
                        totalToCollect: 66.44
                        totalPointsToCollect: 0.0
                        totalCharged: 66.44
                        passengerTotals:
                          services:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          specialServices:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          seats:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          upgrades:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          spoilage:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          nameChanges:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          convenience:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          infant:
                            total: 25.0
                            taxes: 0.0
                            adjustments: 0.0
                            charges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          totalCost: null
                        passengers:
                          mcfbrfQ-:
                            passengerKey: MCFBRFQ-
                            services:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            specialServices:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            seats:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            upgrades:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            spoilage:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            nameChanges:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            convenience:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 25.0
                                code: JSF
                                detail: SLC-BOS
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 25.0
                                ticketCode: JSF
                            infant:
                              total: 25.0
                              taxes: 0.0
                              adjustments: 0.0
                              charges:
                              - amount: 0.3
                                code: INFT
                                detail: Infant Fee
                                type: 23
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 0.3
                                ticketCode: INF
                            totalCost: null
                        journeyTotals:
                          totalAmount: 40.0
                          totalPoints: 0.0
                          totalTax: 2.44
                          totalDiscount: 0.0
                        journeys:
                          tlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_:
                            journeyKey: TlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_
                            totalAmount: 40.0
                            totalPoints: 0.0
                            totalTax: 2.44
                            totalDiscount: 0.0
                        addOnTotals:
                          car: 1.0
                          hotel: 0.0
                          activities: 0.0
                      receivedBy:
                        receivedBy: Doe, John
                        latestReceivedBy: Doe, John
                        receivedReference: DOE
                        latestReceivedReference: DOE
                        referralCode: REFERRAL
                      contacts:
                        p:
                          contactTypeCode: P
                          phoneNumbers:
                          - type: 1
                            number: '98123124123'
                          cultureCode: USD
                          address:
                            lineOne: Address Line One
                            lineTwo: Address Line Two
                            lineThree: Address Line Three
                            countryCode: US
                            provinceState: UT
                            city: Salt Lake City
                            postalCode: '84101'
                          emailAddress: johndoe@gmail.com
                          customerNumber: '2050001326'
                          sourceOrganization: WWW
                          distributionOption: 0
                          notificationPreference: 0
                          companyName: Company Name
                          name:
                            first: John
                            middle: Cee
                            last: Doe
                            title: MR
                            suffix: null
                      passengers:
                        mcfbrfQ-:
                          passengerKey: MCFBRFQ-
                          passengerAlternateKey: MTk2MjE1
                          customerNumber: '2050001326'
                          fees:
                          - type: 9
                            ssrCode: SSR
                            ssrNumber: 365
                            paymentNumber: 0
                            isConfirmed: false
                            isConfirming: false
                            isConfirmingExternal: false
                            code: JSF
                            detail: Fee Details
                            passengerFeeKey: MCEwITk-
                            override: false
                            flightReference: 20250131 NV5670 SLCBOS
                            note: Fee Notes
                            createdDate: '2026-07-09T05:55:12.9402234Z'
                            isProtected: false
                            serviceCharges:
                            - amount: 25.0
                              code: JSF
                              detail: SLC-BOS
                              type: 23
                              collectType: 0
                              currencyCode: USD
                              foreignCurrencyCode: USD
                              foreignAmount: 25.0
                              ticketCode: JSF
                          name:
                            first: John
                            middle: Cee
                            last: Doe
                            title: MR
                            suffix: null
                          passengerTypeCode: ADT
                          discountCode: ADT
                          bags:
                          - identifier: '5670'
                            baggageKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            nonStandard: false
                            type: Backpack
                            osTag: NV3665
                            osTagDate: '2026-07-09T05:55:12.9402276Z'
                            taggedToStation: BOS
                            stationCode: SLC
                            weight: 5
                            taggedToCarrierCode: JanSport Backpack
                            weightType: 2
                          program:
                            code: ADT
                            levelCode: LVL
                            number: '365'
                          infant:
                            fees: []
                            nationality: US
                            dateOfBirth: '2025-07-09T05:55:12.9402642+00:00'
                            travelDocuments:
                            - passengerTravelDocumentKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                              documentTypeCode: PASS
                              birthCountry: USA
                              issuedByCode: USA
                              name:
                                first: John
                                middle: Cee
                                last: Doe
                                title: MR
                                suffix: JR
                              nationality: US
                              expirationDate: '2036-07-09T05:55:12.9402306Z'
                              number: P31322423218
                              issuedDate: '2025-07-09T05:55:12.940236Z'
                              gender: 1
                              dateOfBirth: '2025-07-09T05:55:12.9402364Z'
                              declaredGender: M
                              placeOfBirth: Salt Lake City
                              placeOfIssue: Salt Lake City
                            residentCountry: US
                            gender: 1
                            name:
                              first: John
                              middle: Cee
                              last: Doe
                              title: MR
                              suffix: JR
                            type: INFT
                            declaredGender: null
                          info:
                            nationality: US
                            residentCountry: US
                            gender: 1
                            dateOfBirth: '2002-07-09T05:55:12.9404736Z'
                            familyNumber: 1
                            declaredGender: null
                          travelDocuments:
                          - passengerTravelDocumentKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            documentTypeCode: PASS
                            birthCountry: USA
                            issuedByCode: USA
                            name:
                              first: John
                              middle: Cee
                              last: Doe
                              title: MR
                              suffix: null
                            nationality: US
                            expirationDate: '2036-07-09T05:55:12.9402665Z'
                            number: P31322423218
                            issuedDate: '2016-07-09T05:55:12.9402666Z'
                            gender: 1
                            dateOfBirth: '2002-07-09T05:55:12.9402667Z'
                            declaredGender: M
                            placeOfBirth: Salt Lake City
                            placeOfIssue: Salt Lake City
                          addresses:
                          - status: 0
                            companyName: Company Name
                            lineOne: Line One
                            passengerAddressKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            phone: 801-555-1212
                            lineTwo: Line Two
                            stationCode: SLC
                            lineThree: Line Three
                            emailAddress: johndoe@gmail.com
                            countryCode: US
                            cultureCode: US
                            provinceState: UT
                            refusedContact: false
                            city: Salt Lake City
                            postalCode: '84101'
                          weightCategory: 1
                          emdCoupons:
                          - status: 0
                            passengerEmdCouponKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            emdTypeCode: 0
                            emdNumber: '1234567890123'
                            couponNumber: 1
                            optionalServiceInformation:
                              carrierCode: NV
                              reasonForIssuanceSubCode: RFISC
                            salesDate: '2026-07-09T05:55:12.9403844Z'
                            flightReference: 20250131 NV5670 SLCBOS
                            receivedFromSystemCode: GDS
                            numberOfServices: 1
                            feeType: 9
                            feeKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                            ssrCode: SSR
                            ssrNumber: 365
                      journeys:
                      - flightType: 1
                        stops: 0
                        designator:
                          destination: BOS
                          origin: SLC
                          arrival: '2026-07-10T05:55:12.9407477Z'
                          departure: '2026-07-09T05:55:12.9407478Z'
                        move:
                          maxMoveBackDays: 365
                          maxMoveOutDays: 365
                        segments:
                        - isStandby: false
                          isConfirming: false
                          isConfirmingExternal: false
                          isBlocked: false
                          isHosted: true
                          isChangeOfGauge: false
                          designator:
                            destination: BOS
                            origin: SLC
                            arrival: '2026-07-10T05:55:12.9407477Z'
                            departure: '2026-07-09T05:55:12.9407478Z'
                          isSeatmapViewable: true
                          fares:
                          - isGoverning: true
                            carrierCode: NV
                            fareKey: MH5Ffn5OVn5FUlBUU0ZSRX5SUFRTfn4wfjB_flg-
                            classOfService: E
                            classType: Class Type
                            fareApplicationType: 0
                            fareClassOfService: E
                            fareBasisCode: ERPTSFRE
                            fareSequence: 0
                            inboundOutBound: 0
                            fareStatus: 0
                            isAllotmentMarketFare: false
                            originalClassOfService: E
                            ruleNumber: RPTS
                            productClass: C2
                            ruleTariff: RPTS
                            travelClassCode: C
                            pricingDate: '2026-07-09T05:55:12.9404781Z'
                            crossReferenceClassOfService: E
                            fareDesignator:
                              fareTypeCodes:
                              - A
                              - AP
                              - B
                              - C
                            passengerFares:
                            - serviceCharges:
                              - amount: 2.44
                                code: USTAX
                                detail: SLC-BOS
                                type: 5
                                collectType: 0
                                currencyCode: USD
                                foreignCurrencyCode: USD
                                foreignAmount: 2.44
                                ticketCode: US
                              discountCode: ADT
                              fareDiscountCode: 20DDISC
                              ticketFareBasis: null
                              passengerType: ADT
                            fareLink: 0
                          segmentKey: TlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_
                          identifier:
                            identifier: '5670'
                            carrierCode: NV
                            opSuffix: N
                          passengerSegment:
                            mcfbrfQ-:
                              seats:
                              - compartmentDesignator: C
                                penalty: 0
                                unitDesignator: 7G
                                seatInformation:
                                  deck: 1
                                  seatSet: 1
                                  propertyList:
                                    aisle: 'TRUE'
                                    bulkhead: 'TRUE'
                                    tcc: C
                                arrivalStation: BOS
                                departureStation: SLC
                                passengerKey: MCFBRFQ-
                                unitKey: TlYhNTY3MCEgITYzODczOTQxNDAwMDAwMDAwMCFTTEMhQk9TITdHIUM-
                                crossReferenceSeatingPreference: A
                                isPending: false
                                seatmapReference: TlYhNTY3MCEgITYzODczOTQxNDAwMDAwMDAwMCFTTEMhQk9T
                              passengerKey: MCFBRFQ-
                              activityDate: '2026-07-09T05:55:12.9404793Z'
                              boardingSequence: '0'
                              createdDate: '2026-07-09T05:55:12.9404795Z'
                              liftStatus: 0
                              modifiedDate: '2026-07-09T06:05:12.9404798Z'
                              overBookIndicator: 0
                              priorityDate: '2026-07-09T05:55:12.94048Z'
                              timeChanged: false
                              verifiedTravelDocs: null
                              sourcePointOfSale:
                                agentCode: Agent
                                domainCode: TAW3
                                locationCode: TAW3
                                organizationCode: WWW
                              pointOfSale:
                                agentCode: Agent
                                domainCode: TAW3
                                locationCode: TAW3
                                organizationCode: WWW
                              ssrs:
                              - isConfirmed: false
                                isConfirmingUnheld: false
                                note: Note
                                ssrDuration: 2
                                ssrKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                                count: 1
                                ssrCode: SSR
                                feeCode: JSF
                                inBundle: true
                                passengerKey: MCFBRFQ-
                                ssrDetail: Detail
                                ssrNumber: 365
                                market:
                                  identifier:
                                    identifier: '5670'
                                    carrierCode: NV
                                    opSuffix: N
                                  destination: BOS
                                  origin: SLC
                                  departureDate: '2026-07-09T05:55:12.9405003Z'
                              tickets:
                              - ticketNumber: '1234567890123'
                                infantTicketNumber: '1234567890124'
                                ticketIndicator: 1
                                ticketStatus: 1
                                passengerKey: MCFBRFQ-
                              bags:
                              - baggageKey: MTU4NjExIVBDNlo0SCFmYWxzZQ--
                                passengerKey: MCFBRFQ-
                                arrivalStation: BOS
                                status: 0
                                departureStation: SLC
                                osTag: NV3665
                              scores:
                              - guestValueCode: GVC
                                score: 100
                                passengerKey: MCFBRFQ-
                              boardingPassDetail:
                                gateInformation: Gate Information
                                priorityInformation: Priority Information
                                cabinClass: Cabin Class
                                compartmentLevel: Compartment level
                                boardingZone: Boarding Zone
                                seatAssignment: Seat Assignment
                                sequenceNumber: Sequence Number
                              hasInfant: true
                              seatPreferences:
                                seat: 2
                                travelClass: 2
                                advancedPreferences:
                                - seatMapCode: AISLE
                                  value: 'TRUE'
                                  status: 1
                              bundleCode: CC02
                              verifiedTravelDocuments:
                              - MTU4NjExIVBDNlo0SCFmYWxzZQ--
                              referenceNumber: 35642
                              baggageGroupNumber: 2
                              baggageAllowanceUsed: false
                              baggageAllowanceWeight: 0
                              baggageAllowanceWeightType: 0
                              stayType: 0
                              infantStayType: 0
                          channelType: 1
                          cabinOfService: C
                          externalIdentifier:
                            identifier: '5660'
                            carrierCode: MK
                            opSuffix: M
                          priorityCode: R
                          changeReasonCode: 0
                          segmentType: 0
                          salesDate: '2026-07-09T05:55:12.9407349Z'
                          international: false
                          flightReference: 20250131 NV5670 SLCBOS
                          legs:
                          - legKey: NjM4NzM5NDE0MDAwMDAwMDAwIU5WITU2NzAhICFTTEMhQk9TITI0MDYxMDQ-
                            operationsInfo:
                              arrivalGate:
                                estimatedGate: First Gate
                                actualGate: Second Gate
                              estimatedArrivalTime: '2026-07-09T08:55:12.9407372Z'
                              departureGate:
                                estimatedGate: First Gate
                                actualGate: Second Gate
                              actualOffBlockTime: '2026-07-10T05:55:12.9407413Z'
                              actualOnBlockTime: '2026-07-10T05:55:12.940742Z'
                              actualTouchDownTime: '2026-07-11T05:55:12.9407422Z'
                              airborneTime: '2026-07-10T08:55:12.9407424Z'
                              arrivalNote: Arrival Note
                              arrivalStatus: 0
                              baggageClaim: Baggage Claim
                              departureNote: Departure Note
                              departureStatus: 0
                              departureTimes:
                                scheduled: '2026-07-09T05:55:12.940743Z'
                                estimated: '2026-07-09T05:45:12.9407431Z'
                              standardArrivalTime: '2026-07-10T05:55:12.9407433Z'
                              tailNumber: 9V-SKA
                            designator:
                              destination: BOS
                              origin: SLC
                              arrival: '2026-07-10T05:55:12.9407477Z'
                              departure: '2026-07-09T05:55:12.9407478Z'
                            legInfo:
                              departureTimeUtc: '2026-07-09T12:55:12Z'
                              arrivalTimeUtc: '2026-07-10T10:55:12Z'
                              adjustedCapacity: 168
                              arrivalTerminal: Concourse A
                              arrivalTimeVariant: -300
                              backMoveDays: 365
                              capacity: 171
                              changeOfDirection: false
                              codeShareIndicator: 0
                              departureTerminal: Concourse B
                              departureTimeVariant: -420
                              equipmentType: '767'
                              equipmentTypeSuffix: '200'
                              eTicket: false
                              irop: false
                              lid: 168
                              marketingCode: DJM_3R
                              marketingOverride: false
                              operatedByText: Operated By NV
                              operatingCarrier: NV
                              operatingFlightNumber: '5670'
                              operatingOpSuffix: N
                              outMoveDays: 365
                              arrivalTime: '2026-07-10T05:55:12.9407451Z'
                              departureTime: '2026-07-09T05:55:12.9407451Z'
                              prbcCode: B767EMDJ
                              scheduleServiceType: S
                              sold: 6
                              status: 0
                              subjectToGovtApproval: false
                            nests:
                            - adjustedCapacity: 168
                              classNest: 8
                              lid: 168
                              travelClassCode: C
                              nestType: 0
                              legClasses:
                              - classNest: 8
                                classAllotted: 0
                                classType: C
                                classAuthorizedUnits: 0
                                classOfService: C
                                classRank: 0
                                classSold: 0
                                cnxSold: 0
                                latestAdvancedReservation: 0
                                status: 0
                                thruSold: 0
                            ssrs:
                            - available: 88
                              ssrNestCode: 1BAG
                              lid: 168
                              sold: 100
                              unitSold: 80
                            seatmapReference: TlYhNTY3MCEgITYzODczOTQxNDAwMDAwMDAwMCFTTEMhQk9T
                            flightReference: 20250131 NV5670 SLCBOS
                          status: 6
                        journeyKey: TlZ_NTY3MH4gfn5TTEN_MDEvMzEvMjAyNSAxNzozMH5CT1N_MDEvMzEvMjAyNSAyMzozMH5_
                        notForGeneralUser: false
                      comments:
                      - type: 0
                        text: Comment
                        createdDate: '2026-07-09T05:55:12.9407505Z'
                        pointOfSale:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        commentKey: MASDFASDXCFQ-
                      queues:
                      - code: AQCD
                        subCode: AQBD
                        name: Automation Queue Smoke
                        queueId: 121940
                        passengerId: 196215
                        watchListId: 23
                        note: Booking with balance due of 67.44
                        type: 15
                        action: 0
                        mode: 0
                        flightReference: 20250131 NV5670 SLCBOS
                        bookingQueueKey: MTIxOTQwIUFRQ0Qh
                        passengerAlternateKey: MTk2MjE1
                        watchListKey: MjM-
                      history:
                      - historyCategory: 31
                        details: Assigned Seat
                        event: 4
                        pointOfSale:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        sourcePointOfSale:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        receivedBy: Doe, John
                        receivedByReference: '315231'
                        createdDate: '2026-07-09T05:55:12.9408301Z'
                      payments:
                      - paymentKey: MTUwNTA5ITEhQ0EhMTU4NjEx
                        code: VI
                        approvalDate: '2026-07-09T05:55:12.9408487Z'
                        details:
                          accountNumberId: 0
                          parentPaymentId: 0
                          accountName: John Doe
                          accountNumber: '5110920006810092'
                          expirationDate: '2030-07-09T05:55:12.94085Z'
                          text: Payment
                          installments: 0
                          binRange: 511092
                          fields:
                            payment Field: Payment Field Value
                        amounts:
                          amount: 67.44
                          currencyCode: USD
                          collected: 67.44
                          collectedCurrencyCode: USD
                          quoted: 67.44
                          quotedCurrencyCode: USD
                        authorizationCode: AUTH
                        authorizationStatus: 4
                        fundedDate: '2026-07-09T05:55:12.9408528Z'
                        transactionCode: TRANSACTION
                        dcc:
                          rateId: 4c59d768-b5e7-4217-822d-92bbdf7aa78c
                          currencyCode: USD
                          rateValue: 1.0
                          amount: 67.44
                          putInState: STATE
                          status: 2
                          applicable: true
                        threeDSecure:
                          browserUserAgent: TAW3
                          browserAccept: SYS
                          remoteIpAddress: 192.168.1.1
                          termUrl: www.bank.com
                          paReq: Payload
                          acsUrl: www.bank.com
                          paRes: Response
                          authResult: Approved
                          cavv: UmFuZG9tIENBVlY=
                          cavvAlgorithm: Encryption
                          eci: '05'
                          xid: SDF235
                          applicable: true
                          successful: true
                          threeDSecureSessionId: VGhpcyBpcyBhIHJhbmRvbSB0aHJlZSBEIHNlY3VyZSBzZXNzaW9uIElELg==
                          challengePreference: 0
                          challengeWindowSize: 0
                          transactionIdThreeDSecure: 6f068cbd-40cc-97d2-e8bc-139591794461
                          threeDSecureVersion: 1.0.2
                          merchantData: MerchantData
                          redirectJwt: VGhpcyBpcyBhIHJhbmRvbSByZWRpcmVjdCBKV1QgdG9rZW4gc3RyaW5nLg==
                          redirectJwtUrl: www.bank.com
                          dsTransactionId: SDF235
                          authenticationStatus: 1
                        attachments:
                        - id: 365291
                          paymentId: 3652391231
                          attachment: AQIDBAU=
                        createdDate: '2026-07-09T05:55:12.9409321Z'
                        modifiedDate: '2026-07-09T06:00:12.9409323Z'
                        type: 0
                        status: 3
                        transferred: false
                        channelType: 1
                        pointOfSale:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        sourcePointOfSale:
                          agentCode: Agent
                          domainCode: TAW3
                          locationCode: TAW3
                          organizationCode: WWW
                        deposit: false
                        accountId: 0
                        voucher:
                          id: 0
                          transactionId: 0
                          overrideRestrictions: false
                          overrideAmount: false
                          recordLocator: PC6Z4H
                        addedToState: true
                        createdAgentId: 1
                        modifiedAgentId: 1
                        reference: 150509
                        passengerVoucher:
                          passengerVoucherKey: NTA2MiExMTcwITEwMDExNzA3MDQxMzAwMDAx
                          passengerKey: MCFBRFQ-
                          voucherConfigurationCode: HNDACAR
                          voucherUses:
                          - 13
                          customerPrograms:
                          - programCode: HNDA
                            programNumber: '3215135'
                          customerNumber: '2050001326'
                      addOns:
                        honda Civic:
                          paymentRequired: false
                          status: 0
                          addOnKey: null
                          type: 4
                          summary:
                            total: 100.0
                            held: 0.0
                            charged: 100.0
                            supplierCode: HONDA
                            beginDate: '2026-07-09T05:55:12.9413975Z'
                            beginLocation: SLC
                            endDate: '2026-07-16T05:55:12.9414171Z'
                            endLocation: BOS
                            externalReference: HONDA-123
                            description: Car Rental
                            externalConfirmationNumber: HDA365
                          reference: Component Reference
                          created:
                            agentReference: MTIxNTg-
                            agentCode: Agent
                            date: '2026-07-09T05:55:12.941594Z'
                            organizationCode: WWW
                            domainCode: TAW3
                            locationCode: TAW3
                          source:
                            agentCode: Agent
                            organizationCode: WWW
                            domainCode: TAW3
                            locationCode: TAW3
                          declinedText: Declined Component Text
                          cultureCode: US
                          modifiedDate: '2026-07-09T06:55:12.9416424Z'
                          modifiedAgentReference: Agent Reference
                          order:
                            address:
                              coordinates:
                                latitude: '40.7608'
                                longitude: ' -111.951814'
                              lineOne: Address Line One
                              lineTwo: Address Line Two
                              lineThree: Address Line Three
                              countryCode: US
                              provinceState: UT
                              city: Salt Lake City
                              postalCode: '84101'
                            orderKey: HNDA365
                            phoneNumbers:
                            - type: 1
                              number: '98123124123'
                            active: false
                            locations:
                            - description: Salt Lake City Location
                              code: SLC
                              utcOffset: 365.0
                              usageDate: '0001-01-01T00:00:00'
                            criteria:
                              catalogCode: A
                              countryCode: US
                              supplierCode: JPN
                              departmentCode: CARS
                              vendorCode: HNDA
                              companyCode: HNDA
                              ratingCode: '10'
                              discountCode: CVCDSC
                              promotionCode: HNDASALE
                              currencyCode: USD
                              categoryCode: CAR
                            customer:
                              customerKey: MCFBRFQ-
                              name:
                                first: John
                                middle: Cee
                                last: Doe
                                title: MR
                                suffix: null
                              customerNumber: '2050001326'
                              address:
                                county: Salt Lake County
                                lineOne: Address Line One
                                lineTwo: Address Line Two
                                lineThree: Address Line Three
                                countryCode: US
                                provinceState: UT
                                city: Salt Lake City
                                postalCode: '84101'
                              dateOfBirth: '2002-07-09T05:55:12.9421047Z'
                              emailAddress: johndoe@gmail.com
                              companyName: Company Name
                              type: Residential
                              homePhone: 833-81-21
                              workPhone: 801-555-1212
                              fax: 801-555-1212
                            thumbnailFileName: File Name
                            participants:
                              john Doe:
                                participantKey: MCFBRFQ-
                                description: New Participant
                                name:
                                  first: John
                                  middle: Cee
                                  last: Doe
                                  title: MR
                                  suffix: null
                                participantTypeCode: ADT
                                address:
                                  county: Salt Lake County
                                  lineOne: Address Line One
                                  lineTwo: Address Line Two
                                  lineThree: Address Line Three
                                  countryCode: US
                                  provinceState: UT
                                  city: Salt Lake City
                                  postalCode: '84101'
                                isPrimary: true
                                dateOfBirth: '2002-07-09T05:55:12.9423547Z'
                                document:
                                  number: '1'
                                  issuedByCode: PRTICPANT
                                  documentTypeCode: CHECK
                                emailAddress: johndoe@gmail.com
                                companyName: Company Name
                                type: Residential
                                homePhone: 833-81-21
                                workPhone: 801-555-1212
                                fax: 801-555-1212
                            quantity: 10
                            history:
                            - code: Y
                              previousCode: N
                              note: Note
                              created: '2026-07-09T05:55:12.9424383Z'
                              hasError: false
                            usageDate: '0001-01-01T00:00:00'
                            payment:
                              paymentKey: MTUwNTA5ITEhQ0EhMTU4NjEx
                              type: VI
                              currencyCode: USD
                              name:
                                first: John
                                middle: Cee
                                last: Doe
                                title: MR
                                suffix: null
                              number: '5110920006810092'
                              expiration: '2030-07-09T05:55:12.9425326Z'
                              cvv: '365'
                              amount: 100.0
                              description: Payment Description
                              issueNumber: '3656912'
                              address:
                                lineOne: Address Line One
                                lineTwo: Address Line Two
                                lineThree: Address Line Three
                                countryCode: US
                                provinceState: UT
                                city: Salt Lake City
                                postalCode: '84101'
                              emailAddress: johndoe@gmail.com
                              phoneNumbers:
                              - type: 1
                                number: '98123124123'
                            externalLocator: JPN
                            parameters:
                            - value: '10'
                              code: HNDA
                              description: Parameter Description
                            description: Order Description
                            descriptionFormatType: Description Format Type
                            productDescription: Product Description
                            productVariationDescription: Product Variation Description
                            paymentAction: 1
                            amounts:
                              display:
                                value: 25.0
                                total: 50.0
                              initial:
                                value: 25.0
                                total: 50.0
                              markup:
                                value: 25.0
                                total: 50.0
                              listed:
                                value: 25.0
                                total: 50.0
                              listedDiscount:
                                value: 25.0
                                total: 50.0
                              discount:
                                value: 25.0
                                total: 50.0
                              handling:
                                value: 25.0
                                total: 50.0
                              handlingDiscount:
                                value: 25.0
                                total: 50.0
                              dueNow:
                                preTax: 25.0
                                tax: 10.0
                                total: 35.0
                              dueLater:
                                preTax: 25.0
                                tax: 10.0
                                total: 35.0
                              personalizations: 10.0
                              taxable: 35.0
                              services: 50.0
                              fees: 100.0
                              total: 115.0
                              taxRate: 2
                              taxExempt: true
                              taxAtUnitPrice: true
                            terms:
                            - code: APPROVED
                              description: Description
                              terms: Terms
                            cancellationTerms:
                            - code: CANCELLED
                              description: Description
                              terms: Terms
                            details:
                            - code: HNDA
                              styleCode: H
                              description: Description
                            fees:
                            - code: HND
                              feeCategoryCode: VI
                              description: Fee Description
                              amount:
                                value: 25.0
                                total: 50.0
                              foreignAmount:
                                value: 25.0
                                total: 50.0
                              type: 0
                              isWaiveable: false
                              foreignCurrencyCode: USD
                              currencyCode: USD
                              isChargeable: false
                            notes:
                            - text: Order Text
                              description: Order Description
                              created: '2026-07-09T05:55:12.9437007Z'
                              modified: '2026-07-09T06:25:12.9437187Z'
                            productVariationKey: HNDA365
                            productOrderKey: HNDA365
                          isHistorical: false
                          charges:
                          - type: 6
                            code: SRVC
                            ticketCode: JSF
                            collection: 0
                            currencyCode: USD
                            amount: 64.0
                            details: Charge Details
                      orders:
                      - bookingOrderKey: HNDA365
                        orderId: 2a727ff3-4f5a-4d07-a83d-6e617e656d29
                        collect: 100.0
                        thirdPartyCharge: 0.0
                        thirdPartyHold: 0.0
                        total: 100.0
                        status: 1
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                No booking in state:
                  description: There is no booking to retrieve in the session state.
                  value:
                    errors:
                    - id: null
                      code: nsk:Booking:NoBookingInState
                      message: nsk:Booking:NoBookingInState
                      type: Validation
                      details: null
                      rawMessage: No booking was found in session, cannot perform operation.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v3/booking:
    post:
      tags:
      - booking
      summary: Commits stateful changes made and processes the booking.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        This endpoint can be configured to allow for the newly created record locator to be returned in the response.

        This is

        an API value that needs to be set in configuration, NskSystemOptions.ReturnPnrOnv3BookingPost = true.

        Default behavior is to not return the new record locator.  This will require a SNOW ticket to change.


        GraphQL endpoint: bookingCommitv3'
      operationId: nsk_v3_booking_post
      requestBody:
        x-name: request
        description: Commit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitRequestv2'
        required: true
        x-position: 1
      responses:
        '201':
          description: Committed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCommitBookingResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Duplicate passenger names:
                  description: Example error with 2 passengers with identical names.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:DuplicatePassengerName
                      message: 'Booking is not allowed to have two passengers with the same name: Derek Holmes'
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Modified Booking:
                  description: Booking was modified since last viewed, please reload.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:BookingWasModified
                      message: Booking ZZZ123 has been modified by another user.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Class Not Available:
                  description: The class of service has sold out since the shopping request was made.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:ClassNotAvailable
                      message: The requested class of service is sold out.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                SSR Not Available:
                  description: The SSR has sold out since the ssr availability request was made.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:SSRNotAvailable
                      message: SSR PS is not available on flight  FR1123  SLC-DEN for passenger John Smith.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Hold Not Allowed Error:
                  description: Example error when Committing Booking while Hold Date Override is disabled.
                  value:
                    errors:
                    - id: null
                      code: nsk:Booking:HoldNotAllowed
                      message: A booking hold is not allowed for this booking. Verify that the booking has journeys, balance due, or override is configured.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Hold Greater Than Allowed:
                  description: Example error when Committing Booking with Hold Date Greater Than allowed.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:HoldBookingNotAllowed
                      message: The selected hold date is not allowed.  The value, 11/14/2023 00:00:00, and is greater than the allowed hold date of 11/10/2023 01:01:00.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                First passenger is not allowed to be TBA and is set as TBA:
                  description: Example error when first passenger is not allowed to be TBA and its first or last name is set to "TBA". Please see GET /settings/booking/passenger for the configuration.
                  value:
                    errors:
                    - id: null
                      code: nsk:GroupBooking:GroupNameUpdateNotAllowed
                      message: The first Pax is not allowed to be listed as TBA.
                      type: Validation
                      details: null
                      rawMessage: The first Pax is not allowed to be listed as TBA.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Passengers are not allowed to be TBA and at least one passenger is set to TBA:
                  description: Example error when passengers are not allowed to be TBA and at least one passenger's first or last name is set to "TBA". Please see GET /settings/booking/passenger for the configuration.
                  value:
                    errors:
                    - id: null
                      code: nsk:GroupBooking:GroupNameUpdateNotAllowed
                      message: No passengers are allowed to be listed as TBA.
                      type: Validation
                      details: null
                      rawMessage: No passengers are allowed to be listed as TBA.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
    put:
      tags:
      - booking
      summary: Commits stateful changes made and processes the booking.
      description: 'Only archived bookings can use the `Archive` comment type. If the booking in state is archived, only

        the comments will be acknowledged by New Skies. All other filled in fields in the request will be ignored.

        If AllowConcurrentChanges is set to true, a merge between concurrent changes between multiple sessions will be

        performed before committing the booking. New Skies refers to this as MergeAndCommit2. We recommend only

        setting this flag to true for cases where concurrent booking changes are highly possible (e.g. multiple

        sessions making changes to the same booking right before checking-in).

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: bookingCommitv3'
      operationId: nsk_v3_booking_put
      parameters:
      - name: allowConcurrentChanges
        in: query
        description: Flag to allow concurrent booking changes between multiple sessions.
        schema:
          type: boolean
        x-position: 2
      requestBody:
        x-name: request
        description: Commit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitRequestv2'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Hold Date Changed:
                  description: Example response when hold date is changed.
                  value:
                    messages:
                    - rawValue: The hold date has changed from 10/10/2023 08:50 to 10/25/2023 00:00.
                      code: ''
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: HoldDateChanged
                      value: null
                      status: 0
                      details: null
                    data: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Duplicate passenger names:
                  description: Example error with 2 passengers with identical names.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:DuplicatePassengerName
                      message: 'Booking is not allowed to have two passengers with the same name: Derek Holmes'
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Modified Booking:
                  description: Booking was modified since last viewed, please reload.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:BookingWasModified
                      message: Booking ZZZ123 has been modified by another user.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Class Not Available:
                  description: The class of service has sold out since the shopping request was made.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:ClassNotAvailable
                      message: The requested class of service is sold out.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                SSR Not Available:
                  description: The SSR has sold out since the ssr availability request was made.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:SSRNotAvailable
                      message: SSR PS is not available on flight  FR1123  SLC-DEN for passenger John Smith.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Hold Not Allowed Error:
                  description: Example error when Committing Booking while Hold Date Override is disabled.
                  value:
                    errors:
                    - id: null
                      code: nsk:Booking:HoldNotAllowed
                      message: A booking hold is not allowed for this booking. Verify that the booking has journeys, balance due, or override is configured.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Hold Greater Than Allowed:
                  description: Example error when Committing Booking with Hold Date Greater Than allowed.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:HoldBookingNotAllowed
                      message: The selected hold date is not allowed.  The value, 11/14/2023 00:00:00, and is greater than the allowed hold date of 11/10/2023 01:01:00.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/baggageAllowances:
    get:
      tags:
      - booking
      summary: 'Gets the baggage allowances for the current booking in state.

        Baggage usage details will only be returned if includeUsageDetails

        is flagged true AND the allowance behavior is NOT Default.'
      description: 'GraphQL endpoint: baggageAllowances'
      operationId: nsk_v1_booking_baggageAllowances_get
      parameters:
      - name: includeUsageDetails
        in: query
        description: "If true, the baggage allowance usage details will be populated in the response.\nIncluding these details adds processing overhead, so set this only when absolutely necessary.\nDefaults to `false`, not include usage details.\n            "
        schema:
          type:
          - boolean
          - 'null'
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndIListOfBaggageAllowance'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/baggageAllowances/external:
    post:
      tags:
      - booking
      summary: Gets the third-party baggage allowance calculations for the current booking in state.
      description: 'Although this endpoint behaves like a GET, POST reduces the limitations resulting from URL length issues.


        GraphQL endpoint: baggageAllowancesExternal'
      operationId: nsk_v1_booking_baggageAllowances_external_post
      requestBody:
        x-name: request
        description: "External baggage allowance request.\n            "
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalBaggageAllowanceRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfExternalBaggageAllowanceResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/bundle/availability:
    post:
      tags:
      - booking
      summary: Retrieves the bundle and ssr availability for the booking in-state.
      description: 'Although this endpoint behaves like a GET, POST reduces the limitations resulting from URL length issues.


        GraphQL endpoint: bookingBundleAvailability'
      operationId: nsk_v1_booking_bundle_availability_post
      requestBody:
        x-name: request
        description: The bundle availability request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleAvailabilityRequest'
        required: true
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBundleAvailability'
  /api/nsk/v1/booking/comments:
    get:
      tags:
      - booking
      summary: Gets the list of comments on the in-state booking.
      description: Gets the list of comments on the in-state booking.
      operationId: nsk_v1_booking_comments_get
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBookingComment'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/comments/{commentKey}:
    delete:
      tags:
      - booking
      summary: Deletes a comment from the booking.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: bookingCommentsDeletev2'
      operationId: nsk_v2_booking_comments_commentKey_delete
      parameters:
      - name: commentKey
        in: path
        required: true
        description: The booking comment key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/divide:
    post:
      tags:
      - booking
      summary: Divides the current booking.
      description: 'A valid user must be logged in to divide a booking.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: bookingDividev2'
      operationId: nsk_v2_booking_divide_post
      requestBody:
        x-name: request
        description: Contains the divide request information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DivideRequestv2'
        required: true
        x-position: 1
      responses:
        '201':
          description: Successfully divided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBooking'
        '200':
          description: Successfully divided and canceled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/equipment/legs/{legKey}:
    get:
      tags:
      - booking
      summary: Retrieves equipment information for a specified leg.
      description: 'GraphQL endpoint: legEquipmentv2'
      operationId: nsk_v2_booking_equipment_legs_legKey_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfEquipmentBasev2'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/equipment/legs/{legKey}/properties:
    get:
      tags:
      - booking
      summary: Retrieves equipment, supported seat property and seat-dependent SSR information for a specified leg.
      description: 'GraphQL endpoint: legEquipmentPropertiesv2'
      operationId: nsk_v2_booking_equipment_legs_legKey_properties_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfEquipmentv2'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/equipment/segments/{segmentKey}:
    get:
      tags:
      - booking
      summary: Retrieves equipment information for all legs on a specified segment.
      description: 'GraphQL endpoint: segmentEquipmentv2'
      operationId: nsk_v2_booking_equipment_segments_segmentKey_get
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfEquipmentBasev2'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/equipment/segments/{segmentKey}/properties:
    get:
      tags:
      - booking
      summary: 'Retrieves equipment, supported seat property and seat-dependent SSR information for all legs on a specified

        segment.'
      description: 'GraphQL endpoint: segmentEquipmentPropertiesv2'
      operationId: nsk_v2_booking_equipment_segments_segmentKey_properties_get
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfEquipmentv2'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/eTickets:
    post:
      tags:
      - booking
      summary: BETA - Issues new e-tickets and re-issues existing e-tickets for segments with voluntary changes.
      description: 'The endpoint performs validation and determines internally if the booking is for issuance of new e-tickets or

        re-issuance of existing e-tickets.

        For some cases that the re-issuance is not allowed by the ticketing service, a `502 BadGateway` will be returned

        and new e-tickets can be issued using the POST `api/nsk/v1/booking/eTickets/forceIssue` endpoint.


        GraphQL endpoint: eTicketAddv2'
      operationId: nsk_v2_booking_eTickets_post
      responses:
        '201':
          description: Successfully issued or re-issued e-tickets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIssueETicketResponse'
              examples:
                Successfully issue or reissue new e-tickets:
                  description: Example response when issuance or re-issuance of e-tickets is successful.
                  value:
                    ticketNumbers:
                    - 0286010103190
                    - 0286010103191
        '502':
          description: Bad gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Failure to re-issue and needs new e-tickets:
                  description: Example error when the attempt to re-issue was not allowed by the ticketing service and issuance of new e-tickets is needed instead.
                  value:
                    errors:
                    - id: null
                      code: nsk:ETickets:IssuanceOfNewETicketsRequired
                      message: nsk:ETickets:IssuanceOfNewETicketsRequired
                      type: Error
                      details: null
                      rawMessage: The ticketing service did not allow the re-issuance of e-tickets and new e-tickets are required to be issued instead. Please call the POST `api/nsk/v1/booking/eTickets/forceIssue` endpoint to force issuance of new e-tickets.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
    put:
      tags:
      - booking
      summary: BETA - Re-issues existing e-tickets for segments with involuntary changes such as schedule change and IROP.
      description: 'For some cases that the re-issuance is not allowed by the ticketing service, a `502 BadGateway` will be returned

        and new e-tickets can be issued using the POST `api/nsk/v1/booking/eTickets/forceIssue` endpoint.


        GraphQL endpoint: eTicketSetv2'
      operationId: nsk_v2_booking_eTickets_put
      responses:
        '200':
          description: Successfully re-issued e-tickets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIssueETicketResponse'
              examples:
                Successfully issue or reissue new e-tickets:
                  description: Example response when issuance or re-issuance of e-tickets is successful.
                  value:
                    ticketNumbers:
                    - 0286010103190
                    - 0286010103191
        '502':
          description: Bad gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Failure to re-issue and needs new e-tickets:
                  description: Example error when the attempt to re-issue was not allowed by the ticketing service and issuance of new e-tickets is needed instead.
                  value:
                    errors:
                    - id: null
                      code: nsk:ETickets:IssuanceOfNewETicketsRequired
                      message: nsk:ETickets:IssuanceOfNewETicketsRequired
                      type: Error
                      details: null
                      rawMessage: The ticketing service did not allow the re-issuance of e-tickets and new e-tickets are required to be issued instead. Please call the POST `api/nsk/v1/booking/eTickets/forceIssue` endpoint to force issuance of new e-tickets.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/booking/eTickets:
    post:
      tags:
      - booking
      summary: Issues new e-tickets and re-issues existing e-tickets for segments with voluntary changes.
      description: 'The endpoint performs validation and determines internally if the booking is for issuance of new e-tickets or

        re-issuance of existing e-tickets.

        For some cases that the re-issuance is not allowed by the ticketing service, new e-tickets are issued instead.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: eTicketAdd'
      operationId: nsk_v1_booking_eTickets_post
      responses:
        '201':
          description: Successfully issued or re-issued e-tickets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIssueETicketResponse'
              examples:
                Successfully issue or reissue new e-tickets:
                  description: Example response when issuance or re-issuance of e-tickets is successful.
                  value:
                    ticketNumbers:
                    - 0286010103190
                    - 0286010103191
        '502':
          description: Bad gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - booking
      summary: Re-issues existing e-tickets for segments with involuntary changes such as schedule change and IROP.
      description: 'For some cases that the re-issuance is not allowed by the ticketing service, new e-tickets are issued instead.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: eTicketSet'
      operationId: nsk_v1_booking_eTickets_put
      responses:
        '200':
          description: Successfully re-issued e-tickets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIssueETicketResponse'
              examples:
                Successfully issue or reissue new e-tickets:
                  description: Example response when issuance or re-issuance of e-tickets is successful.
                  value:
                    ticketNumbers:
                    - 0286010103190
                    - 0286010103191
        '502':
          description: Bad gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/eTickets/forceIssue:
    post:
      tags:
      - booking
      summary: BETA - Forces issuance of new e-tickets when re-issuance is not allowed by the ticketing service.
      description: 'This is a beta endpoint and is not currently a long term supported endpoint. This endpoint may be removed in

        future updates. Beta endpoints are not available in all labs or for all customers of the API.

        This endpoint is intended to be used only if the POST or PUT e-tickets endpoints return an error with code

        `nsk:ETickets:IssuanceOfNewETicketsRequired`. Tickets are accountable documents and need to be available for

        check-in, refund or exchange. Using this endpoint other than the said use case would potentially cause negative

        impact during settlement and would require carriers to manually identify and close out e-tickets that were left

        open.


        GraphQL endpoint: eTicketForceAdd'
      operationId: nsk_v1_booking_eTickets_forceIssue_post
      responses:
        '201':
          description: Successfully issued or re-issued e-tickets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIssueETicketResponse'
              examples:
                Successfully issue or reissue new e-tickets:
                  description: Example response when issuance or re-issuance of e-tickets is successful.
                  value:
                    ticketNumbers:
                    - 0286010103190
                    - 0286010103191
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                E-Ticket Required for Force Issuance:
                  description: Example response when an existing e-ticket is required for force issuance.
                  value:
                    errors:
                    - id: null
                      code: nsk:ETickets:ETicketRequiredForForceIssuance
                      message: nsk:ETickets:ETicketRequiredForForceIssuance
                      type: Error
                      details: null
                      rawMessage: An existing e-ticket is required for force issuance of new e-tickets
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '502':
          description: Bad gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/eTickets/validation:
    get:
      tags:
      - booking
      summary: Checks if the booking in state is valid for e-ticketing operations.
      description: 'GraphQL endpoint: eTicketBookingValidation'
      operationId: nsk_v1_booking_eTickets_validation_get
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfETicketBookingValidationResponse'
  /api/nsk/v1/booking/fareOverride/journey/{journeyKey}:
    post:
      tags:
      - booking
      summary: Replaces an existing fare price with an amount specified.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: fareOverrideAdd'
      operationId: nsk_v1_booking_fareOverride_journey_journeyKey_post
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The fare override request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FareOverrideRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/fareRules:
    get:
      tags:
      - booking
      summary: Retrieves the collection of all fare rules from the current booking in state.
      description: 'Note that this defaults to returning the fare rules in html format. The html format may not be entirely culture

        sensitive, so setting the convertToHtml flag to false will allow users some flexibility when converting the

        content and the fare rules will be returned as an rtf string.


        GraphQL endpoint: fareRulesv3'
      operationId: nsk_v2_booking_fareRules_get
      parameters:
      - name: convertToHtml
        in: query
        description: Whether to convert to html. Defaults to true.
        schema:
          type:
[...]
