openapi: 3.2.0
info:
  title: flight-ndc-gateway-navitaire Offer Price API
  version: '21.3'
  description: 'NDC Gateway Api


    **Note:** This is the complete API reference and includes all available operations and parameters, some of which may not be relevant to your specific use case. Before using these examples directly, we recommend starting with the Postman Collection tab, which provides curated sample requests for the most common workflows. For additional tailored examples and guidance, please contact your TUI contact person.'
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- Bearer: []
tags:
- name: OfferPrice
paths:
  /x3/ndc/api/Selling/r3.x/v21.3/OfferPrice:
    post:
      tags:
      - OfferPrice
      operationId: POST OfferPriceRQ v21.3
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          text/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          application/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          text/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
  /x3/ndc/api/Selling/r3.x/v2/OfferPrice:
    post:
      tags:
      - OfferPrice
      operationId: POST OfferPriceRQ v21.3 DAPI
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          text/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          application/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          text/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS'
components:
  schemas:
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.KeyValuePropertyType:
      type: object
      properties:
        keyText:
          type:
          - string
          - 'null'
        prefLevel:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
        valueText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CurConversionType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        conversionRate:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.RateType'
        localAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.EmailAddressType:
      type: object
      properties:
        contactTypeText:
          type:
          - string
          - 'null'
        emailAddressText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.GroupFareCriteriaType:
      type: object
      properties:
        fareBasisCode:
          type:
          - array
          - 'null'
          items:
            type: string
        paxSegmentRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        prefLevel:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
        ptc:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BDC_Type:
      type: object
      properties:
        bagRuleCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BagRuleCodeType'
        bagRuleCodeSpecified:
          type: boolean
        bdC_AnalysisResultCode:
          type:
          - string
          - 'null'
        bdC_ReasonText:
          type:
          - string
          - 'null'
        carrierDesigCode:
          type:
          - string
          - 'null'
        carrierName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SeatProfileType:
      type: object
      properties:
        marketingInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DescType'
        richMedia:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType'
        seatCharacteristicCode:
          type:
          - array
          - 'null'
          items:
            type: string
        seatKeywords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.KeyValuePropertyType'
        seatPitchMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
        seatProfileID:
          type:
          - string
          - 'null'
        seatWidthMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CodesetMetadataType:
      type: object
      properties:
        codesetName:
          type:
          - string
          - 'null'
        codesetVersionNumber:
          type: number
          format: double
        codesetVersionNumberSpecified:
          type: boolean
        langUsage:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.LangUsageType'
        ownerID:
          type:
          - string
          - 'null'
        ownerName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PricedOfferType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TripPurposeCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SalesBranchType:
      type: object
      properties:
        salesBranchID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.FeeType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        approximateInd:
          type: boolean
        approximateIndSpecified:
          type: boolean
        descText:
          type:
          - string
          - 'null'
        desigText:
          type:
          - string
          - 'null'
        guaranteeTimeLimitDateTime:
          type: string
          format: date-time
        guaranteeTimeLimitDateTimeSpecified:
          type: boolean
        localAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        maximumAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        minimumAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        percent:
          type: number
          format: double
        percentSpecified:
          type: boolean
        refundInd:
          type: boolean
        refundIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ProgramCriteriaType:
      type: object
      properties:
        companyIndexText:
          type:
          - string
          - 'null'
        memberStatusText:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        prePaidCertificate:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrePaidCertificateType'
        progamContract:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ProgamContractType'
        programAccount:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ProgramAccountType'
        programOwner:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ProgramOwnerType'
        typeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ServiceDefinitionAssociationType:
      type: object
      properties:
        item: {}
        itemElementName:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ItemChoiceType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MetadataType:
      type: object
      properties:
        codesetMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CodesetMetadataType'
        fieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.FieldMetadataType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DeviceLocationType:
      type: object
      properties:
        city:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CityType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        geospatialLocation:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.GeospatialLocationType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.RateType:
      type: object
      properties:
        baseCurCode:
          type:
          - string
          - 'null'
        baseMultiplierValue:
          type: number
          format: double
        baseMultiplierValueSpecified:
          type: boolean
        baseUnitCode:
          type:
          - string
          - 'null'
        curCode:
          type:
          - string
          - 'null'
        format:
          type:
          - string
          - 'null'
        multiplierValue:
          type: number
          format: double
        multiplierValueSpecified:
          type: boolean
        unitCode:
          type:
          - string
          - 'null'
        value:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType:
      type: object
      properties:
        altLangID:
          type:
          - string
          - 'null'
        correlationID:
          type:
          - string
          - 'null'
        primaryLangID:
          type:
          - string
          - 'null'
        retransmissionInd:
          type: boolean
        retransmissionIndSpecified:
          type: boolean
        seqNumber:
          type: number
          format: double
        seqNumberSpecified:
          type: boolean
        timestamp:
          type: string
          format: date-time
        timestampSpecified:
          type: boolean
        trxID:
          type:
          - string
          - 'null'
        versionNumber:
          type: number
          format: double
        versionNumberSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ShoppingRequestDataListsType:
      type: object
      properties:
        baggageAllowanceList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BaggageAllowanceType'
        baggageDisclosureList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BaggageDisclosureType'
        contactInfoList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        datedMarketingSegmentList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DatedMarketingSegmentType'
        datedOperatingSegmentList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DatedOperatingSegmentType'
        disclosureList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DisclosureType'
        originDestList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OriginDestType'
        paxJourneyList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaxJourneyType'
        paxList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaxType'
        penaltyList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PenaltyType'
        priceClassList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PriceClassType'
        seatProfileList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SeatProfileType'
        serviceDefinitionList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ServiceDefinitionType'
        shoppingRequestPaxSegmentList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ShoppingRequestPaxSegmentType'
        termsList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TermType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.POS_Type:
      type: object
      properties:
        agentDutyText:
          type:
          - string
          - 'null'
        city:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CityType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        onlineTrxInd:
          type: boolean
        onlineTrxIndSpecified:
          type: boolean
        requestTime:
          type: string
          format: date-time
        requestTimeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PenaltyType:
      type: object
      properties:
        descText:
          type:
          - array
          - 'null'
          items:
            type: string
        netInd:
          type: boolean
        netIndSpecified:
          type: boolean
        penaltyID:
          type:
          - string
          - 'null'
        price:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PenaltyPriceType'
        typeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PenaltyTypeCodeType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRQ:
      type: object
      properties:
        augmentationPoint:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType'
        distributionChain:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DistributionChainLinkType'
        payloadAttributes:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType'
        pos:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.POS_Type'
        request:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OfferPriceRequestType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ProgramOwnerType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ServiceDefinitionType:
      type: object
      properties:
        airlineTaxonomy:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType'
        bilateralTimeLimit:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BilateralTimeLimitType'
        bookingInstructions:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BookingInstructionsType'
        depositTimeLimitDateTime:
          type: string
          format: date-time
        depositTimeLimitDateTimeSpecified:
          type: boolean
        desc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DescType'
        name:
          type:
          - string
          - 'null'
        namingTimeLimitDateTime:
          type: string
          format: date-time
        namingTimeLimitDateTimeSpecified:
          type: boolean
        ownerCode:
          type:
          - string
          - 'null'
        rfic:
          type:
          - string
          - 'null'
        rfisc:
          type:
          - string
          - 'null'
        serviceCode:
          type:
          - string
          - 'null'
        serviceDefinitionAssociation:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ServiceDefinitionAssociationType'
        serviceDefinitionID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OtherAddressType:
      type: object
      properties:
        contactTypeText:
          type:
          - string
          - 'null'
        otherAddressText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PromotionType:
      type: object
      properties:
        ownerName:
          type:
          - string
          - 'null'
        paxRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        promotionID:
          type:
          - string
          - 'null'
        promotionIssuer:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PromotionIssuerType'
        remark:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType:
      type: object
      properties:
        curCode:
          type:
          - string
          - 'null'
        value:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PricingMethodCriteriaType:
      type: object
      properties:
        bestPricingOptionText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SecurePaymentAuthenticationVersionType:
      type: object
      properties:
        cardEnrollmentVersionText:
          type:
          - array
          - 'null'
          items:
            type: string
        supportedVersionText:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ProgamContractType:
      type: object
      properties:
        contractID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BaggagePricingCriteriaType:
      type: object
      properties:
        baggageOptionCode:
          type:
          - string
          - 'null'
        commercialAgreementID:
          type:
          - string
          - 'null'
        deferralInd:
          type: boolean
        deferralIndSpecified:
          type: boolean
        fixedPrePaidInd:
          type: boolean
        fixedPrePaidIndSpecified:
          type: boolean
        includeSettlementInd:
          type: boolean
        includeSettlementIndSpecified:
          type: boolean
        optionalChargesCode:
          type:
          - string
          - 'null'
        requestedActionCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SurchargeType:
      type: object
      properties:
        allRefundableInd:
          type: boolean
        allRefundableIndSpecified:
          type: boolean
        breakdown:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.FeeType'
        totalAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DescType:
      type: object
      properties:
        descText:
          type:
          - string
          - 'null'
        markupStyleText:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PolicyNodeInfoType:
      type: object
      properties:
        pathText:
          type:
          - string
          - 'null'
        tagName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.LengthUnitCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType:
      type: object
      properties:
        contentType:
          type:
          - string
          - 'null'
        descText:
          type:
          - string
          - 'null'
        resourceURI:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DeviceType:
      type: object
      properties:
        deviceCode:
          type:
          - string
          - 'null'
        deviceOwnerTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OwnershipTypeCodeType'
        deviceOwnerTypeCodeSpecified:
          type: boolean
        presenceTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PresenceTypeCodeType'
        presenceTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CountryType:
      type: object
      properties:
        countryCode:
          type:
          - string
          - 'null'
        countryName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BookingInstructionsType:
      type: object
      properties:
        methodText:
          type:
          - string
          - 'null'
        osI_Text:
          type:
          - array
          - 'null'
          items:
            type: string
        specialService:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SpecialServiceType'
        upgradeMethodCode:
          type:
          - string
          - 'null'
        upgradeNewClassCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OwnershipTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MeasurementSystemCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BaggageAllowanceType:
      type: object
      properties:
        airlineTaxonomy:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType'
        applicablePartyText:
          type:
          - string
          - 'null'
        baggageAllowanceID:
          type:
          - string
          - 'null'
        bdc:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BDC_Type'
        descText:
          type:
          - array
          - 'null'
          items:
            type: string
        maximumDimensionAllowance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DimensionAllowanceType'
        minimumDimensionAllowance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DimensionAllowanceType'
        pieceAllowance:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PieceAllowanceType'
        rfisc:
          type:
          - string
          - 'null'
        typeCode:
          type:
          - string
          - 'null'
        weightAllowance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.WeightAllowanceType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CityType:
      type: object
      properties:
        cityName:
          type:
          - string
          - 'null'
        iatA_LocationCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ParticipatingOrgType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        orgID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OfferAssociationType:
      type: object
      properties:
        offerItemRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        offerRefID:
          type:
          - string
          - 'null'
        ownerCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.VisaType:
      type: object
      properties:
        entryQty:
          type: number
          format: double
        entryQtySpecified:
          type: boolean
        expiryDate:
          type: string
          format: date-time
        expiryDateSpecified:
          type: boolean
        hostCountryCode:
          type:
          - string
          - 'null'
        issueDate:
          type: string
          format: date-time
        issueDateSpecified:
          type: boolean
        issuingCountryCode:
          type:
          - string
          - 'null'
        stayDuration:
          type:
          - string
          - 'null'
        visaID:
          type:
          - string
          - 'null'
        visaTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaxJourneyType:
      type: object
      properties:
        distanceMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
        duration:
          type:
          - string
          - 'null'
        paxJourneyID:
          type:
          - string
          - 'null'
        paxSegmentRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        settlementInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SettlementInfoType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramType:
      type: object
      properties:
        alliance:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AllianceType'
        carrier:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CarrierType'
        programCode:
          type:
          - string
          - 'null'
        programName:
          type:
          - string
          - 'null'
        providerName:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PolicyType:
      type: object
      properties:
        desc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DescType'
        ownerName:
          type:
          - string
          - 'null'
        policyNodeInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PolicyNodeInfoType'
        policyTypeText:
          type:
          - string
          - 'null'
        versionNumber:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DatedMarketingSegmentType:
      type: object
      properties:
        airlineTaxonomy:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType'
        arrival:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TransportPointType'
        carrierDesigCode:
          type:
          - string
          - 'null'
        carrierName:
          type:
          - string
          - 'null'
        datedMarketingSegmentId:
          type:
          - string
          - 'null'
        datedOperatingSegmentRefId:
          type:
          - string
          - 'null'
        dep:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TransportPointType'
        marketingCarrierFlightNumberText:
          type:
          - string
          - 'null'
        operationalSuffixText:
          type:
          - string
          - 'null'
        richMedia:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType'
        ticketlessInd:
          type: boolean
        ticketlessIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OfferCriteriaType:
      type: object
      properties:
        baggagePricingCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BaggagePricingCriteriaType'
        fareCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.FareCriteriaType'
        pricingMethodCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PricingMethodCriteriaType'
        programCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ProgramCriteriaType'
        promotionCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PromotionType'
        seatCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SeatCriteriaType'
        serviceCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ServiceCriteriaType'
        specialNeedsCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SpecialServiceType'
        tripPurposeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TripPurposeCodeType'
        tripPurposeCodeSpecified:
          type: boolean
        waitListCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxExemptionQualificationCodeType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AvailPeriodType:
      type: object
      properties:
        earliestAvailablePeriodDateTime:
          type: string
          format: date-time
        earliestAvailablePeriodDateTimeSpecified:
          type: boolean
        latestAvailablePeriodDateTime:
          type: string
          format: date-time
        latestAvailablePeriodDateTimeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PhoneType:
      type: object
      properties:
        areaCodeNumber:
          type:
          - string
          - 'null'
        contactTypeText:
          type:
          - string
          - 'null'
        countryDialingCode:
          type:
          - string
          - 'null'
        extensionNumber:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.FOID_Type:
      type: object
      properties:
        foiD_ID:
          type:
          - string
          - 'null'
        foiD_TypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.RemarkType:
      type: object
      properties:
        displayInd:
          type: boolean
        displayIndSpecified:
          type: boolean
        remarkText:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        timestampSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.WeightUnitCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SpecialServiceType:
      type: object
      properties:
        addlDataMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
        freeText:
          type:
          - string
          - 'null'
        qty:
          type: number
          format: double
        qtySpecified:
          type: boolean
        specialServiceCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType:
      type: object
      properties:
        contactInfoID:
          type:
          - string
          - 'null'
        contactPurposeText:
          type:
          - array
          - 'null'
          items:
            type: string
        contactRefusedInd:
          type: boolean
        contactRefusedIndSpecified:
          type: boolean
        emailAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.EmailAddressType'
        individual:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IndividualType'
        individualRefID:
          type:
          - string
          - 'null'
        otherAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OtherAddressType'
        paxSegmentRefID:
          type:
          - string
          - 'null'
        phone:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PhoneType'
        postalAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PostalAddressType'
        relationshipToPax:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PostalAddressType:
      type: object
      properties:
        buildingRoomText:
          type:
          - string
          - 'null'
        cityName:
          type:
          - string
          - 'null'
        contactTypeText:
          type:
          - string
          - 'null'
        countryCode:
          type:
          - string
          - 'null'
        countryName:
          type:
          - string
          - 'null'
        countrySubDivisionName:
          type:
          - string
          - 'null'
        pO_BoxCode:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        streetText:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PenaltyTypeCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ItemChoiceType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CurParameterType:
      type: object
      properties:
        appCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CurAppCodeType'
        appCodeSpecified:
          type: boolean
        curCode:
          type:
          - string
          - 'null'
        decimalsAllowedNumber:
          type: number
          format: double
        decimalsAllowedNumberSpecified:
          type: boolean
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PenaltyPriceType:
      type: object
      properties:
        baseAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        taxSummary:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxSummaryType'
        totalAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PieceAllowanceType:
      type: object
      properties:
        totalQty:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CommissionType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        commissionCode:
          type:
          - string
          - 'null'
        percentage:
          type: number
          format: double
        percentageSpecified:
          type: boolean
        percentageAppliedToAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        taxableInd:
          type: boolean
        taxableIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxonomyFeatureType:
      type: object
      properties:
        codesetCode:
          type:
          - string
          - 'null'
        codesetNameCode:
          type:
          - string
          - 'null'
        valueText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PromotionIssuerType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PresenceTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxType:
      type: object
      properties:
        addlFiledTaxCode:
          type:
          - string
          - 'null'
        addlTaxCode:
          type:
          - string
          - 'null'
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        approximateInd:
          type: boolean
        approximateIndSpecified:
          type: boolean
        appTypeCode:
          type:
          - string
          - 'null'
        collectionInd:
          type: boolean
        collectionIndSpecified:
          type: boolean
        collectionPointTax:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CollectionPointTaxType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        countrySubDivision:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CountrySubDivisionType'
        curConversion:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CurConversionType'
        descText:
          type:
          - string
          - 'null'
        filedAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        filedTaxCode:
          type:
          - string
          - 'null'
        qualifierCode:
          type:
          - string
          - 'null'
        refundInd:
          type: boolean
        refundIndSpecified:
          type: boolean
        taxCode:
          type:
          - string
          - 'null'
        taxName:
          type:
          - string
          - 'null'
        taxTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxTypeCodeType'
        taxTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaymentAssociatedOfferFunctionsCriteriaType:
      type: object
      properties:
        offerAssociation:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OfferAssociationType'
        paymentMethodCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodCriteriaType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CabinTypeType:
      type: object
      properties:
        cabinTypeCode:
          type:
          - string
          - 'null'
        cabinTypeName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxSummaryType:
      type: object
      properties:
        allRefundableInd:
          type: boolean
        allRefundableIndSpecified:
          type: boolean
        approximateInd:
          type: boolean
        approximateIndSpecified:
          type: boolean
        collectionInd:
          type: boolean
        collectionIndSpecified:
          type: boolean
        guaranteeTimeLimitDateTime:
          type: string
          format: date-time
        guaranteeTimeLimitDateTimeSpecified:
          type: boolean
        refundMethodText:
          type:
          - string
          - 'null'
        tax:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxType'
        totalRefundableTaxAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        totalTaxAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.GeospatialLocationType:
      type: object
      properties:
        naturalAreaGeocode:
          type:
          - string
          - 'null'
        pointElevationNumber:
          type: number
          format: double
        pointElevationNumberSpecified:
          type: boolean
        pointLatitudeNumber:
          type: number
          format: double
        pointLatitudeNumberSpecified:
          type: boolean
        pointLongitudeNumber:
          type: number
          format: double
        pointLongitudeNumberSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ClearanceCriteriaType:
      type: object
      properties:
        processRuleCode:
          type:
          - string
          - 'null'
        remittanceDate:
          type: string
          format: date-time
        remittanceDateSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ServiceCriteriaType:
      type: object
      properties:
        includeInd:
          type: boolean
        includeIndSpecified:
          type: boolean
        prefLevel:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
        rfic:
          type:
          - string
          - 'null'
        rfisc:
          type:
          - array
          - 'null'
          items:
            type: string
        servicePricingOnlyInd:
          type: boolean
        servicePricingOnlyIndSpecified:
          type: boolean
        taxonomyCode:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CurAppCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SettlementInfoType:
      type: object
      properties:
        commission:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CommissionType'
        fee:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.FeeType'
        methodCode:
          type:
          - string
          - 'null'
        settlementAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        surcharge:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SurchargeType'
        tax:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxType'
        taxableInd:
          type: boolean
        taxableIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_OfferPriceRS:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items: {}
        augmentationPoint:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType'
        payloadAttributes:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BagDisclosureRuleTypeCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaymentCardCriteriaAddlInfoType:
      type: object
      properties:
        cardProductTypeCode:
          type:
          - string
          - 'null'
        cardTypeText:
          type:
          - string
          - 'null'
        iiN_IINNumber:
          type:
          - string
          - 'null'
        securePaymentAuthenticationVersion:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SecurePaymentAuthenticationVersionType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TermType:
      type: object
      properties:
        availPeriod:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AvailPeriodType'
        desc:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DescType'
        orderingQty:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OrderingQtyType'
        termID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.FareCriteriaType:
      type: object
      properties:
        fareBasisCode:
          type:
          - array
          - 'null'
          items:
            type: string
        fareSubTypeCode:
          type:
          - array
          - 'null'
          items:
            type: string
        fareTypeCode:
          type:
          - array
          - 'null'
          items:
            type: string
        groupFareCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.GroupFareCriteriaType'
        noAdvancePurchaseInd:
          type: boolean
        noAdvancePurchaseIndSpecified:
          type: boolean
        noPenaltyInd:
          type: boolean
        noPenaltyIndSpecified:
          type: boolean
        prefLevel:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType:
      type: object
      properties:
        prefLevelCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrefLevelCodeType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SalesTaxRegistrationType:
      type: object
      properties:
        cityName:
          type:
          - string
          - 'null'
        countryCode:
          type:
          - string
          - 'null'
        countryDialingCode:
          type:
          - string
          - 'null'
        countrySubDivisionName:
          type:
          - string
          - 'null'
        emailAddressText:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - array
          - 'null'
          items:
            type: string
        postalCode:
          type:
          - string
          - 'null'
        salesTaxRegistrationID:
          type:
          - string
          - 'null'
        streetText:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ShoppingRequestPaxSegmentType:
      type: object
      properties:
        airlineTaxonomy:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType'
        cabinTypeAssociationChoice:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CabinTypeAssociationChoiceType'
        datedMarketingSegmentRefId:
          type:
          - string
          - 'null'
        fareBasisCode:
          type:
          - array
          - 'null'
          items:
            type: string
        paxSegmentID:
          type:
          - string
          - 'null'
        richMedia:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType'
        settlementInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SettlementInfoType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MeasureType:
      type: object
      properties:
        unitCode:
          type:
          - string
          - 'null'
        value:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrePaidCertificateType:
      type: object
      properties:
        appText:
          type:
          - string
          - 'null'
        effectiveDateTime:
          type: string
          format: date-time
        effectiveDateTimeSpecified:
          type: boolean
        expiryDateTime:
          type: string
          format: date-time
        expiryDateTimeSpecified:
          type: boolean
        number:
          type: number
          format: double
        numberSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SeatCriteriaType:
      type: object
      properties:
        columnID:
          type:
          - string
          - 'null'
        rowNumber:
          type:
          - string
          - 'null'
        seatCharacteristicCode:
          type:
          - array
          - 'null'
          items:
            type: string
        seatProfileCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DisclosureType:
      type: object
      properties:
        desc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DescType'
        disclosureID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CountrySubDivisionType:
      type: object
      properties:
        countrySubDivisionCode:
          type:
          - string
          - 'null'
        countrySubDivisionName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.FieldMetadataType:
      type: object
      properties:
        mandatoryInd:
          type: boolean
        mandatoryIndSpecified:
          type: boolean
        pathText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BagRuleCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CarrierType:
      type: object
      properties:
        airlineDesigCode:
          type:
          - string
          - 'null'
        duplicateDesigInd:
          type: boolean
        duplicateDesigIndSpecified:
          type: boolean
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TransportPointType:
      type: object
      properties:
        aircraftScheduledDateTime:
          type: string
          format: date-time
        aircraftScheduledDateTimeSpecified:
          type: boolean
        boardingGateID:
          type:
          - string
          - 'null'
        iatA_LocationCode:
          type:
          - string
          - 'null'
        stationName:
          type:
          - string
          - 'null'
        terminalName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BaggageDisclosureType:
      type: object
      properties:
        baggageDisclosureID:
          type:
          - string
          - 'null'
        bdc:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BDC_Type'
        checkInChargesInd:
          type: boolean
        checkInChargesIndSpecified:
          type: boolean
        commercialAgreementID:
          type:
          - string
          - 'null'
        deferralInd:
          type: boolean
        deferralIndSpecified:
          type: boolean
        desc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DescType'
        descText:
          type:
          - array
          - 'null'
          items:
            type: string
        fixedPrePaidInd:
          type: boolean
        fixedPrePaidIndSpecified:
          type: boolean
        ruleTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BagDisclosureRuleTypeCodeType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.WeightAllowanceType:
      type: object
      properties:
        maximumWeightMeasure:
          type: number
          format: double
        maximumWeightMeasureSpecified:
          type: boolean
        minimumWeightMeasure:
          type: number
          format: double
        minimumWeightMeasureSpecified:
          type: boolean
        totalMaximumWeightMeasure:
          type: number
          format: double
        totalMaximumWeightMeasureSpecified:
          type: boolean
        weightUnitOfMeasurement:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.WeightUnitCodeType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramAccountType:
      type: object
      properties:
        accountNumber:
          type:
          - string
          - 'null'
        loyaltyProgram:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramType'
        signInID:
          type:
          - string
          - 'null'
        tierCode:
          type:
          - string
          - 'null'
        tierName:
          type:
          - string
          - 'null'
        tierPriorityText:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OrderingQtyType:
      type: object
      properties:
        maximumQty:
          type: number
          format: double
        maximumQtySpecified:
          type: boolean
        minimumQty:
          type: number
          format: double
        minimumQtySpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IndividualType:
      type: object
      properties:
        addlName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AddlNameType'
        birthdate:
          type: string
          format: date-time
        birthdateSpecified:
          type: boolean
        birthplaceText:
          type:
          - string
          - 'null'
        genderCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType'
        genderCodeSpecified:
          type: boolean
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        individualID:
          type:
          - string
          - 'null'
        middleName:
          type:
          - array
          - 'null'
          items:
            type: string
        suffixName:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        titleName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.LangUsageType:
      type: object
      properties:
        langCode:
          type:
          - string
          - 'null'
        langUsageText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ProgramAccountType:
      type: object
      properties:
        accountID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.RedressCaseType:
      type: object
      properties:
        countryCode:
          type:
          - string
          - 'null'
        programName:
          type:
          - string
          - 'null'
        redressCaseID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SalesAgentType:
      type: object
      properties:
        salesAgentID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OriginDestType:
      type: object
      properties:
        destCode:
          type:
          - string
          - 'null'
        originCode:
          type:
          - string
          - 'null'
        originDestID:
          type:
          - string
          - 'null'
        paxJourneyRefID:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaxGroupType:
      type: object
      properties:
        contactInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        intendedPaxQty:
          type: number
          format: double
        intendedPaxQtySpecified:
          type: boolean
        paxGroupID:
          type:
          - string
          - 'null'
        paxGroupName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DimensionAllowanceType:
      type: object
      properties:
        heightMeasure:
          type: number
          format: double
        heightMeasureSpecified:
          type: boolean
        lengthMeasure:
          type: number
          format: double
        lengthMeasureSpecified:
          type: boolean
        lengthUnitOfMeasurement:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.LengthUnitCodeType'
        linearMeasure:
          type: number
          format: double
        linearMeasureSpecified:
          type: boolean
        widthMeasure:
          type: number
          format: double
        widthMeasureSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PriceClassType:
      type: object
      properties:
        cabinType:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CabinTypeType'
        code:
          type:
          - string
          - 'null'
        desc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DescType'
        displayOrderText:
          type:
          - string
          - 'null'
        fareBasisAppText:
          type:
          - string
          - 'null'
        fareBasisCode:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        priceClassID:
          type:
          - string
          - 'null'
        richMedia:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PenaltyRefType:
      type: object
      properties:
        penaltyRefID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IdentityDocType:
      type: object
      properties:
        addlName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AddlNameType'
        birthdate:
          type: string
          format: date-time
        birthdateSpecified:
          type: boolean
        birthplaceText:
          type:
          - string
          - 'null'
        citizenshipCountryCode:
          type:
          - string
          - 'null'
        expiryDate:
          type: string
          format: date-time
        expiryDateSpecified:
          type: boolean
        genderCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType'
        genderCodeSpecified:
          type: boolean
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        identityDocID:
          type:
          - string
          - 'null'
        identityDocTypeCode:
          type:
          - string
          - 'null'
        issueDate:
          type: string
          format: date-time
        issueDateSpecified:
          type: boolean
        issuingCountryCode:
          type:
          - string
          - 'null'
        middleName:
          type:
          - array
          - 'null'
          items:
            type: string
        residenceCountryCode:
          type:
          - string
          - 'null'
        suffixName:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        titleName:
          type:
          - string
          - 'null'
        visa:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.VisaType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaymentCriteriaAddlInfoType:
      type: object
      properties:
        paymentCardCriteriaAddlInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaymentCardCriteriaAddlInfoType'
        paymentOtherMethodAddlInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CollectionPointTaxType:
      type: object
      properties:
        airportAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        station:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.StationType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DatedOperatingSegmentType:
      type: object
      properties:
        carrierDesigCode:
          type:
          - string
          - 'null'
        carrierName:
          type:
          - string
          - 'null'
        datedOperatingLegRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        datedOperatingSegmentId:
          type:
          - string
          - 'null'
        disclosureRefID:
          type:
          - string
          - 'null'
        duration:
          type:
          - string
          - 'null'
        operatingCarrierFlightNumberText:
          type:
          - string
          - 'null'
        operationalSuffixText:
          type:
          - string
          - 'null'
        secureFlightInd:
          type: boolean
        secureFlightIndSpecified:
          type: boolean
        segmentTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PricingParameterType:
      type: object
      properties:
        autoExchInd:
          type: boolean
        autoExchIndSpecified:
          type: boolean
        awardIncludedInd:
          type: boolean
        awardIncludedIndSpecified:
          type: boolean
        awardOnlyInd:
          type: boolean
        awardOnlyIndSpecified:
          type: boolean
        includeUpsellOffersInd:
          type: boolean
        includeUpsellOffersIndSpecified:
          type: boolean
        overrideCurCode:
          type:
          - string
          - 'null'
        simplePricingInd:
          type: boolean
        simplePricingIndSpecified:
          type: boolean
        taxExemption:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxSummaryType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.StationType:
      type: object
      properties:
        iatA_LocationCode:
          type:
          - string
          - 'null'
        stationName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaxType:
      type: object
      properties:
        ageMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
        birthdate:
          type: string
          format: date-time
        birthdateSpecified:
          type: boolean
        citizenshipCountryCode:
          type:
          - string
          - 'null'
        contactInfoRefID:
          type:
          - string
          - 'null'
        employer:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.EmployerType'
        foid:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.FOID_Type'
        identityDoc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IdentityDocType'
        individual:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.IndividualType'
        langUsage:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.LangUsageType'
        loyaltyProgramAccount:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramAccountType'
        paxID:
          type:
          - string
          - 'null'
        paxRefID:
          type:
          - string
          - 'null'
        profileConsentInd:
          type: boolean
        profileConsentIndSpecified:
          type: boolean
        profileID_Text:
          type:
          - string
          - 'null'
        ptc:
          type:
          - string
          - 'null'
        redressCase:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.RedressCaseType'
        remark:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
        residenceCountryCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AddlNameType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        nameTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AddlNameTypeCodeType'
        nameTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OfferPriceRequestType:
      type: object
      properties:
        dataLists:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ShoppingRequestDataListsType'
        inExchForTicket:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PenaltyRefType'
        metadata:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MetadataType'
        offerCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.OfferCriteriaType'
        originDestRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        paymentFunctions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaymentAssociatedOfferFunctionsCriteriaType'
        policy:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PolicyType'
        pricedOffer:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PricedOfferType'
        responseParameters:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ResponseParametersRequestType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType:
      type: object
      properties:
        descText:
          type:
          - string
          - 'null'
        taxonomyCode:
          type:
          - string
          - 'null'
        taxonomyFeature:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxonomyFeatureType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrefLevelCodeType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AddlNameTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DistributionChainLinkType:
      type: object
      properties:
        contactInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        ordinal:
          type:
          - string
          - 'null'
        orgRole:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DistributionChainRoleCodeType'
        participatingOrg:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ParticipatingOrgType'
        salesAgent:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SalesAgentType'
        salesBranch:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SalesBranchType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BilateralTimeLimitType:
      type: object
      properties:
        descText:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        timeLimitDateTime:
          type: string
          format: date-time
        timeLimitDateTimeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CabinTypeAssociationChoiceType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ResponseParametersRequestType:
      type: object
      properties:
        bdc:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.BDC_Type'
        curParameter:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CurParameterType'
        device:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DeviceType'
        deviceLocation:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DeviceLocationType'
        inventoryGuaranteeInd:
          type: boolean
        inventoryGuaranteeIndSpecified:
          type: boolean
        langUsage:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.LangUsageType'
        measurementSystemCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.MeasurementSystemCodeType'
        measurementSystemCodeSpecified:
          type: boolean
        paxGroup:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaxGroupType'
        pricingParameter:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PricingParameterType'
        reasonCode:
          type:
          - string
          - 'null'
        remark:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodCriteriaType:
      type: object
      properties:
        clearanceCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.ClearanceCriteriaType'
        paymentBrandCode:
          type:
          - string
          - 'null'
        paymentCriteriaAddlInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PaymentCriteriaAddlInfoType'
        paymentMethodCountryCode:
          type:
          - string
          - 'null'
        paymentTypeCode:
          type:
          - string
          - 'null'
        prefLevel:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.EmployerType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        salesTaxRegistration:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.SalesTaxRegistrationType'
        taxationExemptionQualifierCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.TaxExemptionQualificationCodeType'
        taxationExemptionQualifierCodeSpecified:
          type: boolean
        taxDeductedatSourceCapabilityInd:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.DistributionChainRoleCodeType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.AllianceType:
      type: object
      properties:
        allianceCode:
          type:
          - string
          - 'null'
        carrier:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Selling.Application.IataMessageHandlers.v213.IataMessages.CarrierType'
        name:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Please enter into field the word 'Bearer' following by space and JWT
      scheme: Bearer
      bearerFormat: JWT
