openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Manifest API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: manifest
paths:
  /api/nsk/v2/manifest:
    get:
      tags:
      - manifest
      summary: 'Gets the manifest trip information response list for the specified

        manifest trip information search request.'
      description: 'GraphQL endpoint: manifestSearchv2'
      operationId: nsk_v2_manifest_get
      parameters:
      - name: Origin
        in: query
        description: "The departure station.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 1
      - name: Destination
        in: query
        description: "The arrival station.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 2
      - name: CarrierCode
        in: query
        description: "The carrier code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 2
        x-position: 3
      - name: BeginDate
        in: query
        description: "The starting date of the trip information search.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 4
      - name: Identifier
        in: query
        description: "The transportation identifier, such as a flight number.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 0
        x-position: 5
      - name: FlightType
        in: query
        description: "The flight type.\n             \nEnumeration values: 0 = All, 1 = NonStop, 2 = Through, 3 = Direct, 4 = Connect"
        schema:
          $ref: '#/components/schemas/OperationsFlightType'
        x-position: 6
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfTripInformationResponsev2'
  /api/nsk/v1/manifest/{legKey}:
    get:
      tags:
      - manifest
      summary: Gets the manifest for the specified leg.
      description: 'GraphQL endpoint: manifestv3'
      operationId: nsk_v1_manifest_legKey_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The manifest leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfManifestLight'
              examples:
                Manifest Light Response:
                  description: Example response for retrieving the manifest.
                  value:
                    data:
                      passengers:
                      - balanceDue: true
                        userKey: Nzk3MTZ-
                        personKey: MA--
                        passengerAlternateKey: NML4Tgw
                        passengerKey: MCFBRFQ-
                        checkInType: 0
                        customerNumber: '888888888'
                        discountCode: null
                        infant: null
                        name:
                          first: First
                          middle: Middle
                          last: Last
                          title: MR
                          suffix: null
                        paidStatus: 0
                        profileStatus: 0
                        program: null
                        recordLocator: R35N2F
                        sourcePointOfSale:
                          agentCode: agent
                          domainCode: EXT
                          locationCode: WWW
                          organizationCode: '88887777'
                        bookingStatus: 0
                        passengerInformation:
                          nationality: US
                          residentCountry: US
                          gender: 1
                          dateOfBirth: '0001-01-01T00:00:00'
                          familyNumber: null
                          declaredGender: null
                        type: ADT
                        bookingDate: '2026-07-09T05:55:14.8216718+00:00'
                        soldDate: '2026-07-09T05:55:14.8216724+00:00'
                        journey:
                          customerRecognition:
                            code: null
                            points: 0
                          segmentCount: 1
                          segment:
                            bookingStatus: HK
                            changeReason: 0
                            classOfService: N
                            fareBasisCode: NNNN
                            leg:
                              boardingSequence: 0
                              boardingZone: 3
                              compartmentDesignator: E
                              legNumber: 1
                              liftStatus: 0
                              priorityCode: null
                              priorityDate: '2026-07-09T05:55:14.8216741+00:00'
                              unitAssignmentWeight: 0
                              unitDesignator: 1D
                              manifestLegKey: NjM4ODIzNDU2MDAwMDAwMDAwIU5WITU2MjUhICFERU4hU0xD
                            productClassCode: EC
                            seatProperties: []
                            soldDate: '2026-07-09T05:55:14.821675+00:00'
                            ticketIndicator: null
                            ticketNumber: null
                            upgradeIndicator: false
                            externalIdentifier: null
                            legCount: 1
                            segmentType: 0
                            manifestSegmentKey: NjM4ODIzNDU2MDAwMDAwMDAwIU5WITU2MjUhICFERU4hU0xD
                            ticketFareBasis: null
                          changeReason: 0
                      cabinPassengerCounts:
                      - classRank: 0
                        checkedIn: 0
                        cabinOfService: F
                        clearedStandBy: 0
                        clearedThruStandby: 0
                        manifested: 0
                        noShow: 0
                        standBy: 0
                        thruCheckedIn: 0
                        thruManifested: 0
                        thruNoShow: 0
                        thruStandBy: 0
                        totalCheckedIn: 0
                        totalOnBoard: 0
                      inventoryLegCrossReferences:
                      - legKey: NjM4NjQ4NLQ1NSMxNCBlNSNwIUpCITExMTEhICFTTEMhQk9TITMwMTM3NTM-
                        number: 1
                        marketInformation:
                          identifier:
                            identifier: '5600'
                            carrierCode: NV
                            opSuffix: null
                          destination: BOS
                          origin: SLC
                          departureDate: '2026-07-09T05:55:14.8217633+00:00'
                      passengerCounts:
                        checkedIn: 0
                        clearedStandBy: 0
                        clearedThruStandby: 0
                        manifested: 1
                        noShow: 1
                        standBy: 0
                        thruCheckedIn: 0
                        thruManifested: 0
                        thruNoShow: 0
                        thruStandBy: 0
                        totalCheckedIn: 0
                        totalOnBoard: 0
                      checkInLid: 810
                      codeShareIndicator: null
                      operatedByText: null
                      operatingIdentifier: null
                      legStatus: 0
  /api/nsk/v1/manifest/{legKey}/bags:
    get:
      tags:
      - manifest
      summary: 'Gets the manifest Passenger Bags for the specified leg. Sorted by recordLocator and then by Passenger.

        weightType 0 = Default, 1 = Pounds, 2 = Kilograms, (2 is current default for backwards compatibility)'
      description: 'GraphQL endpoint: manifestBags'
      operationId: nsk_v1_manifest_legKey_bags_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The manifest leg key.
        schema:
          type: string
        x-position: 1
      - name: weightType
        in: query
        description: "Weight type. 0 = Default, 1 = Pounds, 2 = Kilograms. \nEnumeration values: 0 = Default, 1 = Pounds, 2 = Kilograms"
        schema:
          $ref: '#/components/schemas/WeightType2'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndIDictionaryOfStringAndIListOfOperationBag'
              examples:
                Manifest Bag Valid Response:
                  description: This is a valid Manifest Bag Expected Response.
                  value:
                    xxxxxx - recordLocator:
                      passenger1AlternateKey:
                      - operationBagKey: BagKey
                        identifier: NV1111
                        baggageStatus: 1
                        nonStandard: true
                        checkInDate: '2026-07-09T00:00:00+00:00'
                        osTag: bagOsTag
                        compartment: 1
                        taggedToStation: SLC
                        taggedToStationCity: SLC
                        weight: 10
                        baggageTypeCode: null
                        weightType: 0
                      - operationBagKey: BagKey2
                        identifier: NV1111
                        baggageStatus: 3
                        nonStandard: true
                        checkInDate: '2026-07-09T00:00:00+00:00'
                        osTag: bagOsTag2
                        compartment: 1
                        taggedToStation: SLC
                        taggedToStationCity: SLC
                        weight: 10
                        baggageTypeCode: null
                        weightType: 1
                      passenger2AlternateKey:
                      - operationBagKey: BagKey3
                        identifier: NV1111
                        baggageStatus: 1
                        nonStandard: true
                        checkInDate: '2026-07-09T00:00:00+00:00'
                        osTag: bagOsTag3
                        compartment: 1
                        taggedToStation: SLC
                        taggedToStationCity: SLC
                        weight: 10
                        baggageTypeCode: null
                        weightType: 0
                    xxxxX2 - recordLocator 2:
                      passenger3AlternateKey:
                      - operationBagKey: BagKey4
                        identifier: NV1111
                        baggageStatus: 1
                        nonStandard: true
                        checkInDate: '2026-07-09T00:00:00+00:00'
                        osTag: bagOsTag4
                        compartment: 1
                        taggedToStation: SLC
                        taggedToStationCity: SLC
                        weight: 10
                        baggageTypeCode: null
                        weightType: 0
                      passenger4AlternateKey:
                      - operationBagKey: BagKey5
                        identifier: NV1111
                        baggageStatus: 1
                        nonStandard: true
                        checkInDate: '2026-07-09T00:00:00+00:00'
                        osTag: bagOsTag5
                        compartment: 1
                        taggedToStation: SLC
                        taggedToStationCity: SLC
                        weight: 10
                        baggageTypeCode: null
                        weightType: 0
                      - operationBagKey: BagKey6
                        identifier: NV1111
                        baggageStatus: 3
                        nonStandard: true
                        checkInDate: '2026-07-09T00:00:00+00:00'
                        osTag: bagOsTag6
                        compartment: 1
                        taggedToStation: SLC
                        taggedToStationCity: SLC
                        weight: 10
                        baggageTypeCode: null
                        weightType: 1
  /api/nsk/v1/manifest/{legKey}/bookings:
    get:
      tags:
      - manifest
      summary: Gets the manifest bookings data for the specified leg.
      description: 'GraphQL endpoint: manifestBookings'
      operationId: nsk_v1_manifest_legKey_bookings_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The manifest leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndManifestBookings'
  /api/nsk/v1/manifest/{legKey}/governmentSecurityInfo:
    get:
      tags:
      - manifest
      summary: Gets the manifest Passenger Government Security Information for the specified leg.
      description: 'GraphQL endpoint: manifestGovernmentSecurityInformation'
      operationId: nsk_v1_manifest_legKey_governmentSecurityInfo_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The manifest leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndListOfManifestLightPassengerGovernmentSecurityInfo'
              examples:
                Manifest Government Security Information Response:
                  description: Example response for retrieving the manifest government security information.
                  value:
                    data:
                      zzzzzz - recordLocator:
                      - userKey: userKey
                        personKey: PersonKey
                        passengerAlternateKey: PassAltKey
                        passengerKey: PassKey
                        checkInType: 0
                        infant:
                          nationality: US
                          dateOfBirth: '2026-07-09T05:55:14.8702293+00:00'
                          residentCountry: US
                          gender: 2
                          name:
                            first: infFirst
                            middle: infMiddle
                            last: infLast
                            title: ''
                            suffix: ''
                          declaredGender: null
                        name:
                          first: first
                          middle: Middle
                          last: Last
                          title: ''
                          suffix: ''
                        recordLocator: ZZZZZZ - RecordLocator
                        bookingStatus: 2
                        passengerInformation:
                          nationality: US
                          residentCountry: US
                          gender: 2
                          dateOfBirth: '2026-07-09T05:55:14.8704381+00:00'
                          familyNumber: 1
                          declaredGender: null
                        type: ADT
                        bookingDate: '2026-07-09T05:55:14.8701628+00:00'
                        isMissingVerifiedDocAdult: true
                        isMissingVerifiedDocInfant: true
                        passengerAddresses:
                        - passengerAlternateKey: PassAltKey
                          countryName: US
                          lineOne: Address
                          companyName: ''
                          lineTwo: ''
                          phone: '8885551234'
                          lineThree: ''
                          stationCode: SLC
                          countryCode: US
                          emailAddress: Yes@Yes.com
                          provinceState: UT
                          status: 1
                          city: SLC
                          passengerAddressKey: PassKey
                          postalCode: '88888'
                        passengerTravelDocuments:
                        - passengerTravelDocumentKey: PassTravDocKey
                          documentTypeCode: P
                          birthCountry: US
                          issuedByCode: US
                          name:
                            first: First
                            middle: Middle
                            last: Last
                            title: ''
                            suffix: ''
                          nationality: US
                          expirationDate: '2026-07-10T05:55:14.8704662+00:00'
                          number: '123456789'
                          issuedDate: '2026-07-09T05:55:14.8704677+00:00'
                          gender: 2
                          dateOfBirth: '2026-07-09T05:55:14.8704657+00:00'
                          declaredGender: Female
                          placeOfBirth: US
                          placeOfIssue: US
                        - passengerTravelDocumentKey: InfPassTravDocKey
                          documentTypeCode: P
                          birthCountry: US
                          issuedByCode: US
                          name:
                            first: infFirst
                            middle: infMiddle
                            last: infLast
                            title: ''
                            suffix: ''
                          nationality: US
                          expirationDate: '2026-07-10T05:55:14.8704692+00:00'
                          number: 123456789I
                          issuedDate: '2026-07-09T05:55:14.8704694+00:00'
                          gender: 2
                          dateOfBirth: '2026-07-09T05:55:14.8704691+00:00'
                          declaredGender: Female
                          placeOfBirth: US
                          placeOfIssue: US
                        passengerAddressRequirement: true
                        profileStatus: 0
                        authorizationList: null
      deprecated: true
  /api/nsk/v2/manifest/{legKey}/governmentSecurityInfo:
    get:
      tags:
      - manifest
      summary: 'Retrieves the government security requirements for all passengers on the specified leg by calling the New Skies

        Government Security Service (GSS).'
      description: 'This endpoint is slower than other manifest endpoints because it requires synchronous communication with backend

        systems such as the Government Security Service (GSS) and the underlying New Skies remoting layer that brokers

        GSS calls.


        The `data.internationalFlight` property is only populated if there are passengers on the flight.


        The following response properties are only populated if the flight is international and already has passengers:

        - `data.arrivalCountry`

        - `data.departureCountry`


        This endpoint requires a session token and is agent-only.


        GraphQL endpoint: manifestGovernmentSecurityInformationv2'
      operationId: nsk_v2_manifest_legKey_governmentSecurityInfo_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfManifestLightGovernmentSecurityInfoResponse'
              examples:
                Manifest government security information response:
                  description: Example response for retrieving the manifest government security information. This is only a sample response for NRT-SYD and values may differ depending on the GSS configuration.
                  value:
                    data:
                      passengers:
                      - userKey: userKey
                        personKey: PersonKey
                        passengerAlternateKey: PassAltKey
                        passengerKey: PassKey
                        checkInType: 0
                        infant:
                          nationality: US
                          dateOfBirth: '2026-07-09T05:55:14.8830757+00:00'
                          residentCountry: US
                          gender: 2
                          name:
                            first: infFirst
                            middle: infMiddle
                            last: infLast
                            title: ''
                            suffix: ''
                          declaredGender: null
                        name:
                          first: first
                          middle: Middle
                          last: Last
                          title: ''
                          suffix: ''
                        recordLocator: ZZZZZZ - RecordLocator
                        bookingStatus: 2
                        passengerInformation:
                          nationality: US
                          residentCountry: US
                          gender: 2
                          dateOfBirth: '2026-07-09T05:55:14.8830797+00:00'
                          familyNumber: 1
                          declaredGender: null
                        type: ADT
                        bookingDate: '2026-07-09T05:55:14.8830746+00:00'
                        isMissingVerifiedDocAdult: true
                        isMissingVerifiedDocInfant: true
                        passengerAddresses:
                        - passengerAlternateKey: PassAltKey
                          countryName: US
                          lineOne: Address
                          companyName: ''
                          lineTwo: ''
                          phone: '8885551234'
                          lineThree: ''
                          stationCode: SLC
                          countryCode: US
                          emailAddress: Yes@Yes.com
                          provinceState: UT
                          status: 1
                          city: SLC
                          passengerAddressKey: PassKey
                          postalCode: '88888'
                        passengerTravelDocuments:
                        - passengerTravelDocumentKey: PassTravDocKey
                          documentTypeCode: P
                          birthCountry: US
                          issuedByCode: US
                          name:
                            first: First
                            middle: Middle
                            last: Last
                            title: ''
                            suffix: ''
                          nationality: US
                          expirationDate: '2026-07-10T05:55:14.883082+00:00'
                          number: '123456789'
                          issuedDate: '2026-07-09T05:55:14.8830833+00:00'
                          gender: 2
                          dateOfBirth: '2026-07-09T05:55:14.8830817+00:00'
                          declaredGender: Female
                          placeOfBirth: US
                          placeOfIssue: US
                        - passengerTravelDocumentKey: InfPassTravDocKey
                          documentTypeCode: P
                          birthCountry: US
                          issuedByCode: US
                          name:
                            first: infFirst
                            middle: infMiddle
                            last: infLast
                            title: ''
                            suffix: ''
                          nationality: US
                          expirationDate: '2026-07-10T05:55:14.8830839+00:00'
                          number: 123456789I
                          issuedDate: '2026-07-09T05:55:14.883084+00:00'
                          gender: 2
                          dateOfBirth: '2026-07-09T05:55:14.8830838+00:00'
                          declaredGender: Female
                          placeOfBirth: US
                          placeOfIssue: US
                        passengerAddressRequirement: true
                        profileStatus: 0
                        authorizationList: null
                      arrivalCountry:
                        apisCheckDocuments: false
                        apisRequiredInbound: false
                        apisRequiredOutbound: false
                        appsRequiredInbound: true
                        appsRequiredOutbound: true
                        countryCode: AU
                        countryCode3C: AUS
                      departureCountry:
                        apisCheckDocuments: true
                        apisRequiredInbound: true
                        apisRequiredOutbound: true
                        appsRequiredInbound: false
                        appsRequiredOutbound: false
                        countryCode: JP
                        countryCode3C: JPN
                      internationalFlight: true
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid leg key:
                  description: The provided leg key is invalid and cannot be decoded correctly.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'legKey' with value 'MjM4Nzc5NjQ0MDAwMDAwMDAwIU5WITU2MDAhICFTTEMhQk9TITQ2ODAbc4+-' is invalid.
                      type: Validation
                      details: null
                      rawMessage: The identifier 'legKey' with value 'MjM4Nzc5NjQ0MDAwMDAwMDAwIU5WITU2MDAhICFTTEMhQk9TITQ2ODAbc4+-' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Leg key is null:
                  description: The provided leg key is null. It can be set to null by setting it to a URL encoded space value `%20`.
                  value:
                    errors:
                    - id: null
                      code: core:Validation:RequiredArgument
                      message: The request is missing a required argument expected in the request.
                      type: Validation
                      details:
                        argument: legKey
                      rawMessage: The request is missing a required argument expected in the request.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                No manifest government security information:
                  description: No manifest government security information to be retrieved. This happens when there are no bookings with passengers for the specified leg.
                  value:
                    data: null
        '401':
          description: Authorization not allowed. Endpoint requires agent permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Authentication token is missing or invalid:
                  description: Example when the authentication token is missing or invalid. A token from a non-agent user is not valid.
                  value: null
  /api/nsk/v2/manifest/{legKey}/passengerDetails:
    get:
      tags:
      - manifest
      summary: Gets the passenger details for the specified leg.
      description: 'GraphQL endpoint: manifestPassengerDetailsv2'
      operationId: nsk_v2_manifest_legKey_passengerDetails_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerDetailsv2'
              examples:
                Manifest with Passenger Details:
                  description: Successful retrieval of manifest with passenger details.
                  value:
                    data:
                      passengers:
                      - passengerAlternateKey: MjY0OTQ3
                        status: 2
                        recordLocator: ASDFGH
                        createdDate: '2026-07-09T05:55:14.8957318Z'
                        name:
                          first: Justine
                          middle: null
                          last: Doe
                          title: null
                          suffix: null
                        profileStatus: 0
                        infantTicketNumber: null
                        weightCategory: 1
                        ticketNumber: null
                        origin: SLC
                        ticketIndicator: null
                        destination: BOS
                        ssrCodes: null
                        tripType: 1
                        segmentBookingStatus: HK
                        connectingFlight: null
                        connectingStation: null
                        finalDestination: BOS
                        paymentMethods:
                        - CA
                        comments: null
                        infant:
                          nationality: null
                          dateOfBirth: '2026-06-09T00:00:00+00:00'
                          residentCountry: null
                          gender: 1
                          name:
                            first: Baby
                            middle: null
                            last: Doe
                            title: null
                            suffix: null
                          declaredGender: null
                        customerProgram: null
                        verifiedReference: null
                        guestValueLevel: null
                        paidStatus: 1
                      - passengerAlternateKey: MjY0OTQ3
                        status: 2
                        recordLocator: ASDFGH
                        createdDate: '2026-07-09T05:55:14.8957369Z'
                        name:
                          first: Justine
                          middle: null
                          last: Doe
                          title: null
                          suffix: null
                        profileStatus: 0
                        infantTicketNumber: null
                        weightCategory: 3
                        ticketNumber: null
                        origin: SLC
                        ticketIndicator: null
                        destination: BOS
                        ssrCodes: null
                        tripType: 1
                        segmentBookingStatus: HK
                        connectingFlight: null
                        connectingStation: null
                        finalDestination: BOS
                        paymentMethods:
                        - CA
                        comments: null
                        infant: null
                        customerProgram: null
                        verifiedReference: null
                        guestValueLevel: null
                        paidStatus: 1
                      - passengerAlternateKey: MjY0OTQ3
                        status: 1
                        recordLocator: QWERTY
                        createdDate: '2026-07-09T05:55:14.8957372Z'
                        name:
                          first: Justine
                          middle: null
                          last: Doe
                          title: null
                          suffix: null
                        profileStatus: 0
                        infantTicketNumber: null
                        weightCategory: 2
                        ticketNumber: null
                        origin: SLC
                        ticketIndicator: null
                        destination: BOS
                        ssrCodes: null
                        tripType: 1
                        segmentBookingStatus: HK
                        connectingFlight: null
                        connectingStation: null
                        finalDestination: BOS
                        paymentMethods:
                        - CA
                        comments: null
                        infant: null
                        customerProgram: null
                        verifiedReference: null
                        guestValueLevel: null
                        paidStatus: 1
                      summary:
                        totalConfirmedMales: 1
                        totalConfirmedFemales: 0
                        totalConfirmedChildren: 1
                        totalConfirmedInfants: 1
                        totalWaitListConfirmedMales: 0
                        totalWaitListConfirmedFemales: 0
                        totalWaitListConfirmedChildren: 0
                        totalWaitListConfirmedInfants: 0
                        totalUnconfirmedMales: 0
                        totalUnconfirmedFemales: 1
                        totalUnconfirmedChildren: 0
                        totalUnconfirmedInfants: 0
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid leg key:
                  description: The provided leg key is invalid and cannot be decoded correctly.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'legKey' with value 'MjM4Nzc5NjQ0MDAwMDAwMDAwIU5WITU2MDAhICFTTEMhQk9TITQ2ODAbc4+-' is invalid.
                      type: Validation
                      details: null
                      rawMessage: The identifier 'legKey' with value 'MjM4Nzc5NjQ0MDAwMDAwMDAwIU5WITU2MDAhICFTTEMhQk9TITQ2ODAbc4+-' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '401':
          description: Authorization not allowed. Endpoint requires agent permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Not allowed to retrieve manifest:
                  description: The currently logged-in user is not authorized to retrieve the manifest with passenger details. Kindly enable the `Roles > Departure Control > Manifest with connection Information` and `Roles > Departure Control > Selectees by Flight` in the Management Console to successfully retrieve the manifest.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:Authorization
                      message: Agent not authorized to view the Manifest report
                      type: Error
                      details: null
                      rawMessage: Agent not authorized to view the Manifest report
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/dcs/v1/manifest/{legKey}/passengerDetails/weightBalance:
    get:
      tags:
      - manifest
      summary: Gets the weight balance passenger details for the specified leg.
      description: 'GraphQL endpoint: passengerWeightBalance'
      operationId: dcs_v1_manifest_legKey_passengerDetails_weightBalance_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerWeightBalanceSummary'
  /api/nsk/v1/manifest/{legKey}/passengerSeatAssignments:
    get:
      tags:
      - manifest
      summary: Gets a list of seat assignment reports for the specified leg.
      description: 'GraphQL endpoint: manifestSeatAssignments'
      operationId: nsk_v1_manifest_legKey_passengerSeatAssignments_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPassengerSeatAssignment'
  /api/nsk/v1/manifest/{legKey}/segments:
    get:
      tags:
      - manifest
      summary: Gets the manifest segment data for the specified leg.
      description: 'This structure of manifest data most closely resembles the original v2 manifest structure without the duplicate

        data and performance issues.


        GraphQL endpoint: manifestSegments'
      operationId: nsk_v1_manifest_legKey_segments_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The manifest leg key.
        schema:
          type: string
        x-position: 1
      - name: includeNonOriginData
        in: query
        description: Include segments associated outside the requested leg.
        schema:
          type: boolean
        x-position: 2
      - name: includeIATCILookAhead
        in: query
        description: Include IATCI look ahead data. Default is false.
        schema:
          type:
          - boolean
          - 'null'
        x-position: 3
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfManifestBySegment'
              examples:
                Manifest By Segment Response:
                  description: Example response for retrieving the manifest by segment.
                  value:
                    data:
                      market:
                        identifier:
                          identifier: '5600'
                          carrierCode: NV
                          opSuffix: null
                        destination: BOS
                        origin: SLC
                        departureDate: '2026-07-09T05:55:14.8552008+00:00'
                      externalIdentifier:
                        identifier: '5600'
                        carrierCode: NV
                        opSuffix: null
                      legs:
                      - legNumber: 1
                        market:
                          identifier:
                            identifier: '5600'
                            carrierCode: NV
                            opSuffix: null
                          destination: BOS
                          origin: SLC
                          departureDate: '2026-07-09T05:55:14.8552738+00:00'
                        liftStatus: 2
                        manifestOrigin: true
                        manifestLegKey: NjM4ODIzNDU2MDAwMDAwMDAwIU5WITU2MjUhICFERU4hU0xD
                      passengers:
                      - passengerAlternateKey: NDN2Lkb1
                        baggageAllowanceUsed: false
                        baggageAllowanceWeight: 0
                        baggageAllowanceWeightType: 0
                        cabinOfService: Y
                        changeReasonCode: null
                        classOfService: O
                        fareBasisCode: OFDAPI
                        productClassCode: FX
                        seatProperties:
                        - preferenceStatus: Y
                          propertyCode: 'TRUE'
                          propertyTypeCode: AISLE
                        ticketIndicator: null
                        ticketNumber: null
                        upgradeIndicator: false
                        verifiedTravelDocs: null
                        legs:
                        - boardingSequence: 1
                          boardingZone: 99
                          compartmentDesignator: F
                          priorityCode: null
                          priorityDate: '2026-07-09T05:55:14.8555736+00:00'
                          promptToVerifyId: false
                          unitAssignmentWeight: 0
                          unitDesignator: 2B
                          manifestUnitKey: null
                          liftStatus: 2
                        - boardingSequence: 1
                          boardingZone: 99
                          compartmentDesignator: F
                          priorityCode: null
                          priorityDate: '2026-07-09T05:55:14.855658+00:00'
                          promptToVerifyId: false
                          unitAssignmentWeight: 0
                          unitDesignator: 2B
                          manifestUnitKey: null
                          liftStatus: 0
                        passengerSegmentOrderNumber: 0
                        ticketFareBasis: null
                      manifestSegmentKey: NjM4ODIzNDU2MDAwMDAwMDAwIU5WITU2MjUhICFERU4hU0xD
  /api/nsk/v1/manifest/{legKey}/ssrs:
    get:
      tags:
      - manifest
      summary: Gets the manifest SSRs for the specified leg.
      description: 'GraphQL endpoint: manifestSsrs'
      operationId: nsk_v1_manifest_legKey_ssrs_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The manifest leg key.
        schema:
          type: string
        x-position: 1
      - name: includeNonOriginSsrs
        in: query
        description: Include SSRs associated to other legs or segments from the requested leg.
        schema:
          type: boolean
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfManifestSsr'
components:
  schemas:
    CheckinOverrideAllowedMode:
      type: integer
      description: "Defines the check-in override allowed mode.\n            \n\n0 = Never\n1 = Outage\n2 = Normal\n3 = Always"
      x-enumNames:
      - Never
      - Outage
      - Normal
      - Always
      enum:
      - 0
      - 1
      - 2
      - 3
    GovernmentMessageType:
      type: integer
      description: "Defines the government message type.\n            \n\n0 = None\n1 = Aqq\n2 = SecureFlight\n3 = Apps\n4 = Apis\n5 = Iapp\n6 = Eub\n7 = Iatci\n8 = DocCheck\n9 = DocsOnly\n10 = PnrGov\n11 = Digiyatra\n12 = Pfms"
      x-enumNames:
      - None
      - Aqq
      - SecureFlight
      - Apps
      - Apis
      - Iapp
      - Eub
      - Iatci
      - DocCheck
      - DocsOnly
      - PnrGov
      - Digiyatra
      - Pfms
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
    ManifestQueue:
      type: object
      description: "Manifest Queue.\n            "
      additionalProperties: false
      properties:
        manifestQueueKey:
          type:
          - string
          - 'null'
          description: "Represents the unique identifier for the manifest queue model.\n            "
        queueAction:
          description: "The action that will be taken as a result of the placement in.\n            "
          $ref: '#/components/schemas/QueueAction'
        queueCategoryCode:
          type:
          - string
          - 'null'
          description: "The QueueCategoryCode property.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        queueCode:
          type:
          - string
          - 'null'
          description: "The identifier for the queue where the booking is placed.\n            "
          maxLength: 6
          minLength: 0
        queueName:
          type:
          - string
          - 'null'
          description: "The name for the queue where the booking is placed.\n            "
          maxLength: 64
          minLength: 0
    PassengersSummary:
      type: object
      description: "The passenger count summary model.\n            "
      additionalProperties: false
      properties:
        status:
          description: "The passenger status.\n            "
          $ref: '#/components/schemas/LiftStatus'
        totalMaleCount:
          type: integer
          description: "The total male count.\n            "
          format: int32
        totalFemaleCount:
          type: integer
          description: "The total female count.\n            "
          format: int32
        totalChildCount:
          type: integer
          description: "The total child count.\n            "
          format: int32
        totalInfantCount:
          type: integer
          description: "The total infant count.\n            "
          format: int32
    IJsonResponseOfIListOfManifestBySegment:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type:
          - array
          - 'null'
          description: "The payload data.\n            "
          items:
            $ref: '#/components/schemas/ManifestBySegment'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    BaggageDetails:
      type: object
      description: "Defines the baggage model.\n            "
      additionalProperties: false
      properties:
        bagCount:
          type: integer
          description: "The total bag counts.\n            "
          format: int32
        bagWeight:
          type: integer
          description: "The total bag weights.\n            "
          format: int32
        weightType:
          description: "The weight unit type.\n            "
          $ref: '#/components/schemas/WeightType'
        baggageCode:
          type:
          - string
          - 'null'
          description: "The baggage code.\n            "
    GovernmentScreeningType:
      type: integer
      description: "Defines the government security screening type.\n            \n\n0 = Normal\n1 = LowRisk\n2 = Enhanced\n3 = Inhibited"
      x-enumNames:
      - Normal
      - LowRisk
      - Enhanced
      - Inhibited
      enum:
      - 0
      - 1
      - 2
      - 3
    ManifestBySegment:
      type: object
      description: "The manifest data sorted by segment then passenger used for lighter endpoints without nested duplicated data.\n            "
      additionalProperties: false
      properties:
        market:
          description: "The segments market.\n            "
          $ref: '#/components/schemas/MarketInformation'
        externalIdentifier:
          description: "The external 'xref' identifier.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
        legs:
          type:
          - array
          - 'null'
          description: "The leg details.\n            "
          items:
            $ref: '#/components/schemas/ManifestLegMarket'
        passengers:
          type:
          - array
          - 'null'
          description: "The passenger specific details.\n            "
          items:
            $ref: '#/components/schemas/ManifestPassengerSegment'
        manifestSegmentKey:
          type:
          - string
          - 'null'
          description: "The manifest segment key.\n            "
    IJsonResponseOfIListOfTripInformationResponsev2:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type:
          - array
          - 'null'
          description: "The payload data.\n            "
          items:
            $ref: '#/components/schemas/TripInformationResponsev2'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    PassengerDetailv2:
      type: object
      description: "The passenger detail version two model.\n            "
      additionalProperties: false
      properties:
        status:
          description: "The current status of the booking.\n            "
          $ref: '#/components/schemas/BookingStatus'
        createdDate:
          type:
          - string
          - 'null'
          description: "The initial date and time of the booking.\n            "
          format: date-time
        profileStatus:
          description: "The profile status on the booking.\n            "
          $ref: '#/components/schemas/BookingProfileStatus'
        weightCategory:
          description: "The weight category assigned to this passenger.\n            "
          $ref: '#/components/schemas/WeightCategory'
        origin:
          type:
          - string
          - 'null'
          description: "The departure station code.\n            "
        destination:
          type:
          - string
          - 'null'
          description: "The arrival station code.\n            "
        tripType:
          description: "The current assigned trip type.\n            "
          $ref: '#/components/schemas/TripType'
        segmentBookingStatus:
          type:
          - string
          - 'null'
          description: "The passenger segment booking status.\n            "
        connectingFlight:
          type:
          - string
          - 'null'
          description: "The connecting flight number if appropriate.\n            "
        connectingStation:
          type:
          - string
          - 'null'
          description: "The connecting station code if appropriate.\n            "
        finalDestination:
          type:
          - string
          - 'null'
          description: "The final destination station code.\n            "
        paymentMethods:
          type:
          - array
          - 'null'
          description: "The list of payment codes for the booking.\n            "
          items:
            type: string
        comments:
          type:
          - array
          - 'null'
          description: "The list of the manifest comments.\n            "
          items:
            type: string
        infant:
          description: "The infant associated with the passenger.\n            "
          $ref: '#/components/schemas/InfantBase'
        customerProgram:
          description: "The customer program associated with the passenger.\n            "
          $ref: '#/components/schemas/Program'
        verifiedReference:
          type:
          - string
          - 'null'
          description: "The reference of who or what verified the passenger's documents.\n            "
        guestValueLevel:
          type:
          - string
          - 'null'
          description: "The passenger guest value level.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        paidStatus:
          description: "The paid status for the passenger.\n            "
          $ref: '#/components/schemas/PaidStatus'
        recordLocator:
          type:
          - string
          - 'null'
          description: "The record locator.\n            "
        name:
          description: "The passenger name.\n            "
          $ref: '#/components/schemas/Name'
        infantTicketNumber:
          type:
          - string
          - 'null'
          description: "The ticket number of the infant with the passenger.\n            "
        ticketNumber:
          type:
          - string
          - 'null'
          description: "The ticket number of the passenger.\n            "
        ticketIndicator:
          type:
          - string
          - 'null'
          description: "The ticket type of the passenger.\n            "
        ssrCodes:
          type:
          - array
          - 'null'
          description: "The list of SSR codes associated with this passenger.\n            "
          items:
            type: string
        passengerAlternateKey:
          type:
          - string
          - 'null'
          description: "The passenger's alternate key.\n            "
    TravelSummary:
      type: object
      description: "Represents the travel summary information.\n            "
      additionalProperties: false
      properties:
        status:
          description: "Status of the flight summary.\n            "
          $ref: '#/components/schemas/LegStatus'
        number:
          type:
          - string
          - 'null'
          description: "Number of the flight.\n            "
        scheduledDepartureTime:
          type: string
          description: "Scheduled departure time.\n            "
          format: date-time
        scheduledArrivalTime:
          type: string
          description: "Scheduled arrival time.\n            "
          format: date-time
        estimatedDepartureTime:
          type: string
          description: "Estimated departure time.\n            "
          format: date-time
        estimatedArrivalTime:
          type: string
          description: "Estimated arrival time.\n            "
          format: date-time
        actualDepartureTime:
          type: string
          description: "Actual departure time.\n            "
          format: date-time
        actualArrivalTime:
          type: string
          description: "Actual arrival time.\n            "
          format: date-time
        departureLtv:
          type: integer
          description: "Departure LTV time offset in minutes.  To convert from Local time to UTC time you would\nneed to subtract this value for the current local time.\n            "
        arrivalLtv:
          type: integer
          description: "Arrival LTV time offset in minutes.  To convert from Local time to UTC time you would\nneed to subtract this value for the current local time.\n            "
        equipmentType:
          type:
          - string
          - 'null'
          description: "Equipment type.\n            "
        equipmentTypeSuffix:
          type:
          - string
          - 'null'
          description: "Equipment type suffix.\n            "
        marketingConfigurationCode:
          type:
          - string
          - 'null'
          description: "Marketing configuration code.\n            "
        salesConfigurationCode:
          type:
          - string
          - 'null'
          description: "Sales configuration code.\n            "
        market:
          description: "InventoryLegKey about the flight.\n            "
          $ref: '#/components/schemas/MarketInformation'
    IJsonResponseOfIListOfManifestSsr:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type:
          - array
          - 'null'
          description: "The payload data.\n            "
          items:
            $ref: '#/components/schemas/ManifestSsr'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    ManifestPassengerAddressv2:
      type: object
      description: "The manifest passenger address version two model.\n            "
      additionalProperties: false
      properties:
        countryName:
          type:
          - string
          - 'null'
          description: "The name of the country.\n            "
          maxLength: 32
          minLength: 0
        companyName:
          type:
          - string
          - 'null'
          description: "Company name associated with this address.\n            "
          maxLength: 64
          minLength: 0
        phone:
          type:
          - string
          - 'null'
          description: "Phone number associated with this address.\n            "
          maxLength: 20
          minLength: 0
        stationCode:
          type:
          - string
          - 'null'
          description: "Station code associated with this address.\n            "
          maxLength: 3
          minLength: 3
        emailAddress:
          type:
          - string
          - 'null'
          description: "The email address associated with the address.\n            "
        status:
          description: "The addresses APIS status.\n            "
          $ref: '#/components/schemas/ApisAddressStatus'
        passengerAddressKey:
          type:
          - string
          - 'null'
          description: "The unique address identifier.\n            "
        lineOne:
          type:
          - string
          - 'null'
          description: "The address line one.\n            "
          maxLength: 128
          minLength: 0
        lineTwo:
          type:
          - string
          - 'null'
          description: "The address line two.\n            "
          maxLength: 128
          minLength: 0
        lineThree:
          type:
          - string
          - 'null'
          description: "The address line 3.\n            "
          maxLength: 128
          minLength: 0
        countryCode:
          type:
          - string
          - 'null'
          description: "The country code.\n            "
          maxLength: 2
          minLength: 0
        provinceState:
          type:
          - string
          - 'null'
          description: "The province state.\n            "
          maxLength: 3
          minLength: 0
        city:
          type:
          - string
          - 'null'
          description: "The city.\n            "
          maxLength: 32
          minLength: 0
        postalCode:
          type:
          - string
          - 'null'
          description: "The postal code.\n            "
          maxLength: 10
          minLength: 0
        passengerAlternateKey:
          type:
          - string
          - 'null'
          description: "The passenger's alternate key.\n            "
    QueueAction:
      type: integer
      description: "Specifies the basics by which a queue filter was created.\n            \n\n0 = Default\n1 = Warning\n2 = Lock\n3 = DefaultAndNotify\n4 = WarningAndNotify\n5 = LockAndNotify"
      x-enumNames:
      - Default
      - Warning
      - Lock
      - DefaultAndNotify
      - WarningAndNotify
      - LockAndNotify
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
    ManifestZone:
      type: object
      description: "The manifest zone model.\n            "
      additionalProperties: false
      properties:
        code:
          type: integer
          description: "The zone code.\n            "
        capacity:
          type: integer
          description: "The zone capacity.\n            "
        baggageSummary:
          description: "The zone baggage summary.\n            "
          $ref: '#/components/schemas/BaggageSummary'
        passengersSummaries:
          type:
          - array
          - 'null'
          description: "The zone passengers summary.\n            "
          items:
            $ref: '#/components/schemas/PassengersSummary'
    BookingProfileStatus:
      type: integer
      description: "Defines the profiling status of the booking.\n            \n\n0 = Default\n1 = KnownIndividual\n2 = ResolutionGroup\n3 = SelecteeGroup\n4 = NotUsed\n5 = FailureGroup\n6 = RandomSelectee\n7 = Exempt"
      x-enumNames:
      - Default
      - KnownIndividual
      - ResolutionGroup
      - SelecteeGroup
      - NotUsed
      - FailureGroup
      - RandomSelectee
      - Exempt
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
    ItinerarySegment:
      type: object
      description: "Represents the operation between board station and any subsequent off station\nwithin the same flight.\n            "
      additionalProperties: false
      properties:
        isSeatmapViewable:
          type: boolean
          description: "Indicates if the seatmaps associated with the segment are retrievable.\nSets to `false` for passive segments, and `true` for non-passive segments.\n            "
        identifier:
          description: "The transportation identifier.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
        externalIdentifier:
          description: "The external transportation identifier.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
        segmentType:
          description: "The type of the segment.\n            "
          $ref: '#/components/schemas/SegmentTypes'
        designator:
          description: "This is a summary of all the legs on the segment. It will contain the details\nof the transportation from the first and last leg.\n            "
          $ref: '#/components/schemas/TransportationDesignator'
        segmentKey:
          type:
          - string
          - 'null'
          description: "The unique identifier for the segment.\n            "
        legs:
          type:
          - array
          - 'null'
          description: "The legs.\n            "
          items:
            $ref: '#/components/schemas/ItineraryLeg'
    ElectronicTravelAuthorization:
      type: integer
      description: "Defines the electronic travel authorization for the government boarding directive.\nFor US Secure Flight, this is the electronic system for travel authorization (ESTA) value.\n            \n\n0 = Denied\n1 = NotApplicable\n2 = OnFile\n3 = NotOnFile\n4 = DocumentRequired\n5 = Error\n6 = TimeOut"
      x-enumNames:
      - Denied
      - NotApplicable
      - OnFile
      - NotOnFile
      - DocumentRequired
      - Error
      - TimeOut
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
    ManifestLegPassenger:
      type: object
      description: "The manifest data related to the passenger and leg.\n            "
      additionalProperties: false
      properties:
        boardingSequence:
          type: integer
          description: "The BoardingSequence property.\n            "
          maximum: 32767.0
          minimum: 0.0
        boardingZone:
          type: integer
          description: "Boarding Zone of ManifestLeg.\n            "
          maximum: 99.0
          minimum: 0.0
        compartmentDesignator:
          type:
          - string
          - 'null'
          description: "The CompartmentDesignator property.\n            "
        priorityCode:
          type:
          - string
          - 'null'
          description: "The PriorityCode property.\n            "
        priorityDate:
          type:
          - string
          - 'null'
          description: "The PriorityDate property.\n            "
          format: date-time
        promptToVerifyId:
          type: boolean
          description: "Indicates whether to prompt to verify the passenger id when checking in.\n            "
        unitAssignmentWeight:
          type: integer
          description: "The unit assignment weight. This value is used to determine\nthe satisfaction level of the passenger's seat assignment.\n            "
          format: int32
        unitDesignator:
          type:
          - string
          - 'null'
          description: "The UnitDesignator property.\n            "
        manifestUnitKey:
          type:
          - string
          - 'null'
          description: "The ManifestUnitKey property.\n            "
        liftStatus:
          description: "The lift status.\n            "
          $ref: '#/components/schemas/LiftStatus'
    OperationsFlightType:
      type: integer
      description: "Flight types enumeration for operations and schedules.\n            \n\n0 = All\n1 = NonStop\n2 = Through\n3 = Direct\n4 = Connect"
      x-enumNames:
      - All
      - NonStop
      - Through
      - Direct
      - Connect
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    ManifestSeatProperty:
      type: object
      description: "Manifest Seat Property.\n            "
      additionalProperties: false
      properties:
        preferenceStatus:
          type:
          - string
          - 'null'
          description: "The preference status field contains the current met/unmet or unknown status.\n            "
        propertyCode:
          type:
          - string
          - 'null'
          description: "The property code is a string value. The expected value is true.\n            "
        propertyTypeCode:
          type:
          - string
          - 'null'
          description: "The property type code indicates the type of seat preference requested.\n            "
    IJsonResponseOfIDictionaryOfStringAndIDictionaryOfStringAndIListOfOperationBag:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type:
          - object
          - 'null'
          description: "The payload data.\n            "
          additionalProperties:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: '#/components/schemas/OperationBag'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    SystemName:
      type: integer
      description: "Defines the system names.\n            \n\n0 = Default\n1 = WinRez\n2 = FareManager\n3 = ScheduleManager\n4 = WinManager\n5 = ConsoleRez\n6 = WebRez\n7 = WebServicesApi\n8 = WebServicesEsc\n9 = InternalService\n10 = WebReporting\n11 = TaxAndFeeManager\n12 = Dcs\n13 = DcsKiosk\n14 = FareManagerPlus\n15 = DotRez\n16 = Loyalty\n17 = Ndc\n18 = Unknown\n19 = CallCenter\n20 = Ibe\n21 = Mobile\n22 = Ivr\n23 = ChatBot\n24 = Kiosk\n25 = AgencyIbe\n26 = SkyLedger\n27 = SkyPrice\n28 = TcDotRez\n29 = TcInternalService\n30 = TcManagementApp\n31 = TcStorefront\n32 = TcSupplierPortal\n33 = GssManagementConsole\n34 = NdcInterline\n35 = DataIntegration\n36 = DataIntegrationApi\n100 = UserDefined"
      x-enumNames:
      - Default
      - WinRez
      - FareManager
      - ScheduleManager
      - WinManager
      - ConsoleRez
      - WebRez
      - WebServicesApi
      - WebServicesEsc
      - InternalService
      - WebReporting
      - TaxAndFeeManager
      - Dcs
      - DcsKiosk
      - FareManagerPlus
      - DotRez
      - Loyalty
      - Ndc
      - Unknown
      - CallCenter
      - Ibe
      - Mobile
      - Ivr
      - ChatBot
      - Kiosk
      - AgencyIbe
      - SkyLedger
      - SkyPrice
      - TcDotRez
      - TcInternalService
      - TcManagementApp
      - TcStorefront
      - TcSupplierPortal
      - GssManagementConsole
      - NdcInterline
      - DataIntegration
      - DataIntegrationApi
      - UserDefined
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      - 28
      - 29
      - 30
      - 31
      - 32
      - 33
      - 34
      - 35
      - 36
      - 100
    CountryBase:
      type: object
      description: "Represents the base class for a country model.\n            "
      additionalProperties: false
      required:
      - countryCode
      - countryCode3C
      properties:
        apisCheckDocuments:
          type: boolean
          description: "Are we required to check APIS documents.\n            "
        apisRequiredInbound:
          type: boolean
          description: "Defines whether or not this Arrival Station requires APIS.\n            "
        apisRequiredOutbound:
          type: boolean
          description: "Defines whether or not this departure station requires APIS.\n            "
        appsRequiredInbound:
          type: boolean
          description: "Defines whether or not this arrival station requires APPS.\n            "
        appsRequiredOutbound:
          type: boolean
          description: "Defines whether or not this departure station requires APPS.\n            "
        countryCode:
          type: string
          description: "Represents the two-digit country code.\n            "
          maxLength: 2
          minLength: 1
        countryCode3C:
          type: string
          description: "Represents the three-digit country code.\n            "
          maxLength: 3
          minLength: 1
    TripInformationJourneyv2:
      type: object
      description: "Represents the trip information journey.\n            "
      additionalProperties: false
      properties:
        designator:
          description: "This is a summary of all the segments on the journey. It will contain the details\nof the transportation from the first and last segment.\n            "
          $ref: '#/components/schemas/TransportationDesignator'
        tripKey:
          type:
          - string
          - 'null'
          description: "Represents the trip key.\n            "
        segments:
          type:
          - array
          - 'null'
          description: "Represents the collection of itinerary segments for this journey.\n            "
          items:
            $ref: '#/components/schemas/ItinerarySegment'
    ChangeReasonCodes:
      type: integer
      description: "Specifies the reason code on why the change on the journey or segment is performed.\n            \n\n0 = NoChange\n1 = Irop\n2 = ScheduleChange\n3 = Move\n4 = VoluntaryFlyAhead\n5 = InvoluntaryFlyAhead\n6 = SelfServiceRebooking"
      x-enumNames:
      - NoChange
      - Irop
      - ScheduleChange
      - Move
      - VoluntaryFlyAhead
      - InvoluntaryFlyAhead
      - SelfServiceRebooking
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
    PaidStatus:
      type: integer
      description: "Paid status enumeration.\n            \n\n0 = UnderPaid\n1 = PaidInFull\n2 = OverPaid"
      x-enumNames:
      - UnderPaid
      - PaidInFull
      - OverPaid
      enum:
      - 0
      - 1
      - 2
    PassengerSeatAssignment:
      type: object
      description: "The passenger seat assignment model.\n            "
      additionalProperties: false
      properties:
        recordLocator:
          type:
          - string
          - 'null'
          description: "The record locator.\n            "
        name:
          description: "The passenger name.\n            "
          $ref: '#/components/schemas/Name'
        infantTicketNumber:
          type:
          - string
          - 'null'
          description: "The ticket number of the infant with the passenger.\n            "
        ticketNumber:
          type:
          - string
          - 'null'
          description: "The ticket number of the passenger.\n            "
        ticketIndicator:
          type:
          - string
          - 'null'
          description: "The ticket type of the passenger.\n            "
        ssrCodes:
          type:
          - array
          - 'null'
          description: "The list of SSR codes associated with this passenger.\n            "
          items:
            type: string
        passengerNumber:
          type: integer
          description: "The passenger number.\n            "
        passengerType:
          type:
          - string
          - 'null'
          description: "The passenger type.\n            "
          example: "ADT - Adult, CHD - Child, SNR - Senior, Mil - Military\n            "
        classOfService:
          type:
          - string
          - 'null'
          description: "The class of service.\n            "
        unitDesignator:
          type:
          - string
          - 'null'
          description: "The unit designator.\n            "
        liftStatus:
          description: "The status of the flight leg.  It indicates whether the coupon has been used, and\nif the passenger has been checked in, has boarded the flight or not.\n            "
          $ref: '#/components/schemas/LiftStatus'
        baggageCount:
          type: integer
          description: "The number of bags associated with the passenger.\n            "
          maximum: 99.0
          minimum: 0.0
    TripInformationResponsev2:
      type: object
      description: "A collection of journeys for a given departure date and market.\n            "
      additionalProperties: false
      properties:
        date:
          type:
          - string
          - 'null'
          description: "Represents the date for the journey response.\n            "
          format: date-time
        journeys:
          type:
          - array
          - 'null'
          description: "Represents the collection of journeys.\n            "
          items:
            $ref: '#/components/schemas/TripInformationJourneyv2'
    ManifestLightComment:
      type: object
      description: "The manifest comment.\n            "
      additionalProperties: false
      properties:
        userKey:
          type:
          - string
          - 'null'
          description: "The unique user key.\n            "
        date:
          type:
          - string
          - 'null'
          description: "The comment date.\n            "
          format: date-time
        comment:
          type:
          - string
          - 'null'
          description: "The comment text.\n            "
        commentType:
          description: "The comment type.\n            "
          $ref: '#/components/schemas/CommentType'
        domainCode:
          type:
          - string
          - 'null'
          description: "The domain code.\n            "
        organizationCode:
          type:
          - string
          - 'null'
          description: "The organization code.\n            "
        systemName:
          description: "The system name.\n            "
          $ref: '#/components/schemas/SystemName'
    TransportationIdentifier:
      type: object
      description: "Represents the transportation identifier model data.\n            "
      additionalProperties: false
      required:
      - identifier
      - carrierCode
      properties:
        identifier:
          type: string
          description: "The unique transportation identifier.\n            "
          maxLength: 4
          minLength: 0
        carrierCode:
          type: string
          description: "The carrier code.\n            "
          maxLength: 3
          minLength: 2
        opSuffix:
          type:
          - string
          - 'null'
          description: "The op suffix.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
    IJsonResponseOfIDictionaryOfStringAndManifestBookings:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type:
          - object
          - 'null'
          description: "The payload data.\n            "
          additionalProperties:
            $ref: '#/components/schemas/ManifestBookings'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    ManifestBookings:
      type: object
      description: "The manifest booking.\n            "
      additionalProperties: false
      properties:
        recordLocator:
          type:
          - string
          - 'null'
          description: "The associated booking record locator.\n            "
        created:
          type: string
          description: "The created date.\n            "
          format: date-time
        paidStatus:
          description: "The paid status.\n            "
          $ref: '#/components/schemas/PaidStatus'
        status:
          description: "The booking status.\n            "
          $ref: '#/components/schemas/BookingStatus'
        passengersOnBooking:
          type: integer
          description: "The total number of passengers on the booking.\n            "
          format: int32
        queues:
          type:
          - array
          - 'null'
          description: "The subset of locking or warning related queues on the booking.\n            "
          items:
            $ref: '#/components/schemas/ManifestQueue'
        comments:
          type:
          - array
          - 'null'
          description: "The booking comments.\n            "
          items:
            $ref: '#/components/schemas/ManifestLightComment'
        bookingId:
          type: integer
          description: "The booking id.\n            "
          format: int64
    ManifestLightPassengerGovernmentSecurityInfo:
      type: object
      description: "The manifest passenger government security info with infant.\n            "
      additionalProperties: false
      properties:
        userKey:
          type:
          - string
          - 'null'
          description: "The user key.\n            "
        personKey:
          type:
          - string
          - 'null'
          description: "The unique person key\n            "
        passengerAlternateKey:
          type:
          - string
          - 'null'
          description: "The passenger's alternate key\n            "
        passengerKey:
          type:
          - string
          - 'null'
          description: "The unique identifier for the passenger.\n            "
        checkInType:
          description: "The type of flight that is being dealt with: Local = first leg of journey\n            "
          $ref: '#/components/schemas/CheckInType'
        infant:
          description: "The information about the infant traveling with the passenger.\n            "
          $ref: '#/components/schemas/Infant'
        name:
          description: "Passenger's Name.\n            "
          $ref: '#/components/schemas/Name'
        recordLocator:
          type:
          - string
          - 'null'
          description: "The record locator for the booking.\n            "
          maxLength: 12
          minLength: 0
        bookingStatus:
          description: "The booking status.\n            "
          $ref: '#/components/schemas/BookingStatus'
        passengerInformation:
          description: "Additional passenger information details.\n            "
          $ref: '#/components/schemas/PassengerInformation'
        type:
          type:
          - string
          - 'null'
          description: "The passenger's type.\n            "
        bookingDate:
          type:
          - string
          - 'null'
          description: "The date the booking was created.\n            "
          format: date-time
        isMissingVerifiedDocAdult:
          type: boolean
          description: "Bool of if the passenger has a verified doc or not.\n            "
        isMissingVerifiedDocInfant:
          type: boolean
          description: "Bool of if the passenger infant has a verified doc or not.\n            "
        passengerAddresses:
          type:
          - array
          - 'null'
          description: "List of passengers addresses.\n            "
          items:
            $ref: '#/components/schemas/ManifestPassengerAddressv2'
        passengerTravelDocuments:
          type:
          - array
          - 'null'
          description: "List of passengers travel documents.\n            "
          items:
            $ref: '#/components/schemas/PassengerTravelDocument'
        passengerAddressRequirement:
          type: boolean
          description: "Bool of if the passenger requires an address.\n            "
        profileStatus:
          description: "Profile security status of the passenger\n            "
          $ref: '#/components/schemas/BookingProfileStatus'
        authorizationList:
          type:
          - array
          - 'null'
          description: "List of government security requirements\n            "
          items:
            $ref: '#/components/schemas/SecurityAuthorizationInformation'
    PassengerCounts:
      type: object
      description: "Represents various count data for passengers, such as checked-in, no-shows, etc.\n            "
      additionalProperties: false
      properties:
        checkedIn:
          type: integer
          description: "The checked-in passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        clearedStandBy:
          type: integer
          description: "The cleared standby passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        clearedThruStandby:
          type: integer
          description: "The cleared thru standby passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        manifested:
          type: integer
          description: "The manifested passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        noShow:
          type: integer
          description: "The passenger \"no-show\" count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        standBy:
          type: integer
          description: "The standby passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        thruCheckedIn:
          type: integer
          description: "The thru checked-in passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        thruManifested:
          type: integer
          description: "The thru manifested passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        thruNoShow:
          type: integer
          description: "The thru \"no-show\" passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        thruStandBy:
          type: integer
          description: "The thru standby passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        totalCheckedIn:
          type: integer
          description: "The total checked-in passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        totalOnBoard:
          type: integer
          description: "The total on-board passenger count.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
    Gender:
      type: integer
      description: "Defines the different binary gender types.\n            \n\n0 = XX\n1 = Male\n2 = Female"
      x-enumNames:
      - XX
      - Male
      - Female
      enum:
      - 0
      - 1
      - 2
    ItineraryLeg:
      type: object
      description: "Defines a single instance of non-stop travel between two stations.\n            "
      additionalProperties: false
      properties:
        legKey:
          type:
          - string
          - 'null'
          description: "The unique identifier for this leg sell information.\n            "
        designator:
          description: "Transportation information.\n            "
          $ref: '#/components/schemas/TransportationDesignator'
    ManifestLegMarket:
      type: object
      description: "The manifest leg market used for lighter endpoints without nested duplicated data.\n            "
      additionalProperties: false
      properties:
        legNumber:
          type: integer
          description: "The leg number associated with the segment\n            "
          format: int32
        market:
          description: "The segment's market.\n            "
          $ref: '#/components/schemas/MarketInformation'
        liftStatus:
          description: "The lift status.\n            "
          deprecated: true
          x-deprecatedMessage: Lift status at this level is incorrect. Use the lift status on the ManifestLegPassenger model instead. This property will be removed in a future release.
          $ref: '#/components/schemas/LiftStatus'
        manifestOrigin:
          type: boolean
          description: "Returns true if this is the same leg as requested in the manifest.\n            "
        manifestLegKey:
          type:
          - string
          - 'null'
          description: "The manifest leg key.\n            "
    IJsonResponseOfManifestLight:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/ManifestLight'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    LegStatus:
      type: integer
      description: "Leg status enumeration.\n            \n\n0 = Normal\n1 = Closed\n2 = Canceled\n3 = Suspended\n5 = ClosedPending\n6 = BlockAllActivities\n7 = Mishap"
      x-enumNames:
      - Normal
      - Closed
      - Canceled
      - Suspended
      - ClosedPending
      - BlockAllActivities
      - Mishap
      enum:
      - 0
      - 1
      - 2
      - 3
      - 5
      - 6
      - 7
    Infant:
      type: object
      description: "Model representing an infant.\n            "
      additionalProperties: false
      properties:
        dateOfBirth:
          type:
          - string
          - 'null'
          description: "The date of birth of the infant.\n            "
          format: date-time
        gender:
          description: "The gender of the passenger.\n            "
          $ref: '#/components/schemas/Gender'
        name:
          description: "The name of the passenger.\n            "
          $ref: '#/components/schemas/Name'
        declaredGender:
          type:
          - string
          - 'null'
          description: "The infant's declared gender. A value of \"F\" is mapped to a female binary gender. All other values will be\nmapped to a male binary gender.\n            "
          maxLength: 2
          minLength: 0
        nationality:
          type:
          - string
          - 'null'
          description: "The nationality of the passenger.\n            "
          maxLength: 2
          minLength: 0
        residentCountry:
          type:
          - string
          - 'null'
          description: "The residentCountry of the passenger.\n            "
          maxLength: 2
          minLength: 0
    LegCrossReference:
      type: object
      description: "Represents the inventory leg cross reference data.\n            "
      additionalProperties: false
      properties:
        legKey:
          type:
          - string
          - 'null'
          description: "The key for the manifest leg.\n            "
        number:
          type: integer
          description: "The inventory leg cross reference number.\n            "
          maximum: 32767.0
          minimum: 0.0
        marketInformation:
          description: "Information about the market arrival and destination details.\n            "
          $ref: '#/components/schemas/MarketInformation'
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
    SegmentTypes:
      type: integer
      description: "Indicates the type of a segment.\n            \n\n0 = Normal\n1 = CodeShareOperating\n2 = CodeShareMarketing\n3 = InterlineOutbound\n4 = InterlineInbound\n5 = Passive"
      x-enumNames:
      - Normal
      - CodeShareOperating
      - CodeShareMarketing
      - InterlineOutbound
      - InterlineInbound
      - Passive
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
    MarketInformation:
      type: object
      description: "Model information about the market arrival and destination details.\n            "
      additionalProperties: false
      required:
      - destination
      - origin
      - departureDate
      - identifier
      properties:
        destination:
          type: string
          description: "Gets or sets the leg arrival station.\n            "
          maxLength: 3
          minLength: 0
        origin:
          type: string
          description: "Gets or sets the leg departure station.\n            "
          maxLength: 3
          minLength: 0
        departureDate:
          type: string
          description: "The departure date.\n            "
          format: date-time
          minLength: 1
        identifier:
          description: "Gets or sets the leg arrival station.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
    ManifestCounts:
      type: object
      description: "The manifest counts base model.\n            "
      additionalProperties: false
      properties:
        totalManifested:
          type: integer
          description: "The total manifested count.\n            "
          format: int32
        totalCheckIn:
          type: integer
          description: "The total check-in count.\n            "
          format: int32
        totalNoShow:
          type: integer
          description: "The total no show count.\n            "
          format: int32
        totalStandby:
          type: integer
          description: "The total standby count.\n            "
          format: int32
        totalBoarded:
          type: integer
          description: "The total boarded count.\n            "
          format: int32
    Program:
      type: object
      description: "Model representing a passenger program.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The program code.\n            "
          maxLength: 3
          minLength: 0
          pattern: ^[^|]*$
        levelCode:
          type:
          - string
          - 'null'
          description: "The program level code.\n            "
          maxLength: 3
          minLength: 0
          pattern: ^[^|]*$
        number:
          type:
          - string
          - 'null'
          description: "The program number.\n            "
          maxLength: 32
          minLength: 0
    IJsonResponseOfPassengerWeightBalanceSummary:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/PassengerWeightBalanceSummary'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    ManifestLightLeg:
      type: object
      description: "The manifest leg data.\n            "
      additionalProperties: false
      properties:
        boardingSequence:
          type: integer
[...]
