openapi: 3.2.0
info:
  title: flight-ndc-gateway-navitaire Order Change API
  version: '21.3'
  description: 'NDC Gateway Api


    **Note:** This is the complete API reference and includes all available operations and parameters, some of which may not be relevant to your specific use case. Before using these examples directly, we recommend starting with the Postman Collection tab, which provides curated sample requests for the most common workflows. For additional tailored examples and guidance, please contact your TUI contact person.'
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- Bearer: []
tags:
- name: OrderChange
paths:
  /x3/ndc/api/Servicing/r3.x/v21.3/OrderChange:
    post:
      tags:
      - OrderChange
      operationId: OrderChangeRQ
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          text/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          application/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          text/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
  /x3/ndc/api/Servicing/r3.x/v2/OrderChange:
    post:
      tags:
      - OrderChange
      operationId: POST OrderChangeRQ v21.3 DAPI
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          text/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          application/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          text/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
components:
  schemas:
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyValueType:
      type: object
      properties:
        rsA_KeyValue:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RSA_KeyValueType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EmailAddressType:
      type: object
      properties:
        contactTypeText:
          type:
          - string
          - 'null'
        emailAddressText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxonomyFeatureType:
      type: object
      properties:
        codesetCode:
          type:
          - string
          - 'null'
        codesetNameCode:
          type:
          - string
          - 'null'
        valueText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TermType:
      type: object
      properties:
        availPeriod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AvailPeriodType'
        desc:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType'
        orderingQty:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderingQtyType'
        termID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderFilterCriteriaType:
      type: object
      properties:
        orderID:
          type:
          - string
          - 'null'
        orderVersionNumber:
          type:
          - string
          - 'null'
        ownerCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PenaltyType:
      type: object
      properties:
        descText:
          type:
          - array
          - 'null'
          items:
            type: string
        netInd:
          type: boolean
        netIndSpecified:
          type: boolean
        penaltyID:
          type:
          - string
          - 'null'
        price:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PenaltyPriceType'
        typeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PenaltyTypeCodeType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DisclosureType:
      type: object
      properties:
        desc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType'
        disclosureID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CityType:
      type: object
      properties:
        cityName:
          type:
          - string
          - 'null'
        iatA_LocationCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BaggageDisclosureType:
      type: object
      properties:
        baggageDisclosureID:
          type:
          - string
          - 'null'
        bdc:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BDC_Type'
        checkInChargesInd:
          type: boolean
        checkInChargesIndSpecified:
          type: boolean
        commercialAgreementID:
          type:
          - string
          - 'null'
        deferralInd:
          type: boolean
        deferralIndSpecified:
          type: boolean
        desc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType'
        descText:
          type:
          - array
          - 'null'
          items:
            type: string
        fixedPrePaidInd:
          type: boolean
        fixedPrePaidIndSpecified:
          type: boolean
        ruleTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BagDisclosureRuleTypeCodeType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PenaltyTypeCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SeatProfileType:
      type: object
      properties:
        marketingInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType'
        richMedia:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType'
        seatCharacteristicCode:
          type:
          - array
          - 'null'
          items:
            type: string
        seatKeywords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyValuePropertyType'
        seatPitchMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
        seatProfileID:
          type:
          - string
          - 'null'
        seatWidthMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxType:
      type: object
      properties:
        ageMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
        birthdate:
          type: string
          format: date-time
        birthdateSpecified:
          type: boolean
        citizenshipCountryCode:
          type:
          - string
          - 'null'
        contactInfoRefID:
          type:
          - string
          - 'null'
        employer:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EmployerType'
        foid:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FOID_Type'
        identityDoc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IdentityDocType'
        individual:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IndividualType'
        langUsage:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LangUsageType'
        loyaltyProgramAccount:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramAccountType'
        paxID:
          type:
          - string
          - 'null'
        paxRefID:
          type:
          - string
          - 'null'
        profileConsentInd:
          type: boolean
        profileConsentIndSpecified:
          type: boolean
        profileID_Text:
          type:
          - string
          - 'null'
        ptc:
          type:
          - string
          - 'null'
        redressCase:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RedressCaseType'
        remark:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
        residenceCountryCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierAircraftTypeType:
      type: object
      properties:
        carrierAircraftTypeCode:
          type:
          - string
          - 'null'
        carrierAircraftTypeName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RefundFOP_Type:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceRoleChoiceType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FOID_Type:
      type: object
      properties:
        foiD_ID:
          type:
          - string
          - 'null'
        foiD_TypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceMethodsType:
      type: object
      properties:
        commission:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CommissionType'
        netClearanceAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        processRuleCode:
          type:
          - string
          - 'null'
        remittanceDate:
          type: string
          format: date-time
        remittanceDateSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.VisaType:
      type: object
      properties:
        entryQty:
          type: number
          format: double
        entryQtySpecified:
          type: boolean
        expiryDate:
          type: string
          format: date-time
        expiryDateSpecified:
          type: boolean
        hostCountryCode:
          type:
          - string
          - 'null'
        issueDate:
          type: string
          format: date-time
        issueDateSpecified:
          type: boolean
        issuingCountryCode:
          type:
          - string
          - 'null'
        stayDuration:
          type:
          - string
          - 'null'
        visaID:
          type:
          - string
          - 'null'
        visaTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingSummaryPaymentMethodType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignatureValueType:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
          format: byte
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OfferAssociationType:
      type: object
      properties:
        offerItemRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        offerRefID:
          type:
          - string
          - 'null'
        ownerCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramType:
      type: object
      properties:
        alliance:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AllianceType'
        carrier:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierType'
        programCode:
          type:
          - string
          - 'null'
        programName:
          type:
          - string
          - 'null'
        providerName:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasurementSystemCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayerType:
      type: object
      properties:
        payerEmailAddress:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EmailAddressType'
        payerName:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayerNameType'
        payerPhoneNumber:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PhoneType'
        paymentAddress:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAddressType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCriteriaAddlInfoType:
      type: object
      properties:
        paymentCardCriteriaAddlInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCardCriteriaAddlInfoType'
        paymentOtherMethodAddlInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PhoneType:
      type: object
      properties:
        areaCodeNumber:
          type:
          - string
          - 'null'
        contactTypeText:
          type:
          - string
          - 'null'
        countryDialingCode:
          type:
          - string
          - 'null'
        extensionNumber:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_AircraftTypeType:
      type: object
      properties:
        iatA_AircraftTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceCriteriaType:
      type: object
      properties:
        processRuleCode:
          type:
          - string
          - 'null'
        remittanceDate:
          type: string
          format: date-time
        remittanceDateSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TransportPointType:
      type: object
      properties:
        aircraftScheduledDateTime:
          type: string
          format: date-time
        aircraftScheduledDateTimeSpecified:
          type: boolean
        boardingGateID:
          type:
          - string
          - 'null'
        iatA_LocationCode:
          type:
          - string
          - 'null'
        stationName:
          type:
          - string
          - 'null'
        terminalName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ItemChoiceType2:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderAssociationType:
      type: object
      properties:
        orderItemRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        orderRefID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AvailPeriodType:
      type: object
      properties:
        earliestAvailablePeriodDateTime:
          type: string
          format: date-time
        earliestAvailablePeriodDateTimeSpecified:
          type: boolean
        latestAvailablePeriodDateTime:
          type: string
          format: date-time
        latestAvailablePeriodDateTimeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentFunctionsChangeType:
      type: object
      properties:
        offerAssociation:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OfferAssociationType'
        orderAssociation:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderAssociationType'
        paymentMethodCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodCriteriaType'
        paymentProcessingDetails:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingDetailsType'
        refundMethodCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RefundMethodCriteriaType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderChangeRQ:
      type: object
      properties:
        augmentationPoint:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType'
        distributionChain:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainLinkType'
        payloadAttributes:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType'
        pos:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.POS_Type'
        request:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderChangeRequestType'
        signature:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DigitalSignatureType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CanonicalizationMethodType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
        algorithm:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.POS_Type:
      type: object
      properties:
        agentDutyText:
          type:
          - string
          - 'null'
        city:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CityType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        onlineTrxInd:
          type: boolean
        onlineTrxIndSpecified:
          type: boolean
        requestTime:
          type: string
          format: date-time
        requestTimeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items: {}
        augmentationPoint:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType'
        distributionChain:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainLinkType'
        payloadAttributes:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType'
        paymentFunctions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentFunctionsOrderType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BilateralTimeLimitType:
      type: object
      properties:
        descText:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        timeLimitDateTime:
          type: string
          format: date-time
        timeLimitDateTimeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.WeightAllowanceType:
      type: object
      properties:
        maximumWeightMeasure:
          type: number
          format: double
        maximumWeightMeasureSpecified:
          type: boolean
        minimumWeightMeasure:
          type: number
          format: double
        minimumWeightMeasureSpecified:
          type: boolean
        totalMaximumWeightMeasure:
          type: number
          format: double
        totalMaximumWeightMeasureSpecified:
          type: boolean
        weightUnitOfMeasurement:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.WeightUnitCodeType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ObjectType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
        id:
          type:
          - string
          - 'null'
        mimeType:
          type:
          - string
          - 'null'
        encoding:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxExemptionQualificationCodeType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DataListsType:
      type: object
      properties:
        baggageAllowanceList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BaggageAllowanceType'
        baggageDisclosureList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BaggageDisclosureType'
        contactInfoList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        datedMarketingSegmentList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedMarketingSegmentType'
        datedOperatingLegList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedOperatingLegType'
        datedOperatingSegmentList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedOperatingSegmentType'
        disclosureList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DisclosureType'
        originDestList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OriginDestType'
        paxJourneyList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxJourneyType'
        paxList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxType'
        paxSegmentList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxSegmentType'
        penaltyList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PenaltyType'
        priceClassList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PriceClassType'
        seatProfileList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SeatProfileType'
        serviceDefinitionList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ServiceDefinitionType'
        termsList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TermType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IndividualType:
      type: object
      properties:
        addlName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameType'
        birthdate:
          type: string
          format: date-time
        birthdateSpecified:
          type: boolean
        birthplaceText:
          type:
          - string
          - 'null'
        genderCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType'
        genderCodeSpecified:
          type: boolean
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        individualID:
          type:
          - string
          - 'null'
        middleName:
          type:
          - array
          - 'null'
          items:
            type: string
        suffixName:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        titleName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceDataType:
      type: object
      properties:
        clearanceID:
          type:
          - string
          - 'null'
        clearancePayeeData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayeeDataType'
        clearancePayeeSignature:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DigitalSignatureType'
        clearancePayerData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayerDataType'
        clearancePayerSignature:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DigitalSignatureType'
        netClearanceAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        paymentCommitmentDateTime:
          type: string
          format: date-time
        processRuleCode:
          type:
          - string
          - 'null'
        remittanceDate:
          type: string
          format: date-time
        remittanceDateSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SettlementInfoType:
      type: object
      properties:
        commission:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CommissionType'
        fee:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FeeType'
        methodCode:
          type:
          - string
          - 'null'
        settlementAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        surcharge:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SurchargeType'
        tax:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxType'
        taxableInd:
          type: boolean
        taxableIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SurchargeType:
      type: object
      properties:
        allRefundableInd:
          type: boolean
        allRefundableIndSpecified:
          type: boolean
        breakdown:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FeeType'
        totalAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCardAddlInfoType:
      type: object
      properties:
        cardProductTypeCode:
          type:
          - string
          - 'null'
        cardTypeText:
          type:
          - string
          - 'null'
        iiN_IINNumber:
          type:
          - string
          - 'null'
        securePaymentAuthenticationVersion:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SecurePaymentAuthenticationVersionType'
        verificationInd:
          type: boolean
        verificationIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MetadataType:
      type: object
      properties:
        codesetMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CodesetMetadataType'
        fieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FieldMetadataType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DigestMethodType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
        algorithm:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.StationType:
      type: object
      properties:
        iatA_LocationCode:
          type:
          - string
          - 'null'
        stationName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxJourneyType:
      type: object
      properties:
        distanceMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
        duration:
          type:
          - string
          - 'null'
        paxJourneyID:
          type:
          - string
          - 'null'
        paxSegmentRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        settlementInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SettlementInfoType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierType:
      type: object
      properties:
        airlineDesigCode:
          type:
          - string
          - 'null'
        duplicateDesigInd:
          type: boolean
        duplicateDesigIndSpecified:
          type: boolean
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RoundingPrecisionCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CollectionPointTaxType:
      type: object
      properties:
        airportAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        station:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.StationType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.WeightUnitCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingSummaryType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        clearanceData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceDataType'
        contactInfoRefID:
          type:
          - string
          - 'null'
        desc:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType'
        payer:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayerType'
        paymentCommitmentDateTime:
          type: string
          format: date-time
        paymentCommitmentDateTimeSpecified:
          type: boolean
        paymentID:
          type:
          - string
          - 'null'
        paymentProcessingSummaryPaymentMethod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingSummaryPaymentMethodType'
        paymentRefID:
          type:
          - string
          - 'null'
        paymentStatusCode:
          type:
          - string
          - 'null'
        paymentTrx:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentTrxType'
        priceVarianceAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        promotion:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PromotionType'
        surchargeAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        verificationInd:
          type: boolean
        verificationIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PricingParameterType:
      type: object
      properties:
        autoExchInd:
          type: boolean
        autoExchIndSpecified:
          type: boolean
        awardIncludedInd:
          type: boolean
        awardIncludedIndSpecified:
          type: boolean
        awardOnlyInd:
          type: boolean
        awardOnlyIndSpecified:
          type: boolean
        includeUpsellOffersInd:
          type: boolean
        includeUpsellOffersIndSpecified:
          type: boolean
        overrideCurCode:
          type:
          - string
          - 'null'
        simplePricingInd:
          type: boolean
        simplePricingIndSpecified:
          type: boolean
        taxExemption:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxSummaryType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CodesetMetadataType:
      type: object
      properties:
        codesetName:
          type:
          - string
          - 'null'
        codesetVersionNumber:
          type: number
          format: double
        codesetVersionNumberSpecified:
          type: boolean
        langUsage:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LangUsageType'
        ownerID:
          type:
          - string
          - 'null'
        ownerName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType:
      type: object
      properties:
        characterSetCode:
          type:
          - string
          - 'null'
        encodingCode:
          type:
          - string
          - 'null'
        fileName:
          type:
          - string
          - 'null'
        format:
          type:
          - string
          - 'null'
        mimE_Code:
          type:
          - string
          - 'null'
        uniformResourceID:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
          format: byte
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ParticipatingOrgType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        orgID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodCriteriaType:
      type: object
      properties:
        clearanceCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceCriteriaType'
        paymentBrandCode:
          type:
          - string
          - 'null'
        paymentCriteriaAddlInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCriteriaAddlInfoType'
        paymentMethodCountryCode:
          type:
          - string
          - 'null'
        paymentTypeCode:
          type:
          - string
          - 'null'
        prefLevel:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesAgentType:
      type: object
      properties:
        salesAgentID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayerType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayerNameType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FeeType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        approximateInd:
          type: boolean
        approximateIndSpecified:
          type: boolean
        descText:
          type:
          - string
          - 'null'
        desigText:
          type:
          - string
          - 'null'
        guaranteeTimeLimitDateTime:
          type: string
          format: date-time
        guaranteeTimeLimitDateTimeSpecified:
          type: boolean
        localAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        maximumAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        minimumAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        percent:
          type: number
          format: double
        percentSpecified:
          type: boolean
        refundInd:
          type: boolean
        refundIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CypherDataType:
      type: object
      properties:
        cypherValue:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ItemChoiceType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BagDisclosureRuleTypeCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedOperatingLegType:
      type: object
      properties:
        airlineTaxonomy:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType'
        arrival:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TransportPointType'
        carrierAircraftType:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierAircraftTypeType'
        changeofGaugeInd:
          type: boolean
        changeofGaugeIndSpecified:
          type: boolean
        datedOperatingLegID:
          type:
          - string
          - 'null'
        dep:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TransportPointType'
        distanceMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
        iatA_AircraftType:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_AircraftTypeType'
        onGroundDuration:
          type:
          - string
          - 'null'
        richMedia:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceType:
      type: object
      properties:
        deviceCode:
          type:
          - string
          - 'null'
        deviceOwnerTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OwnershipTypeCodeType'
        deviceOwnerTypeCodeSpecified:
          type: boolean
        presenceTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PresenceTypeCodeType'
        presenceTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BDC_Type:
      type: object
      properties:
        bagRuleCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BagRuleCodeType'
        bagRuleCodeSpecified:
          type: boolean
        bdC_AnalysisResultCode:
          type:
          - string
          - 'null'
        bdC_ReasonText:
          type:
          - string
          - 'null'
        carrierDesigCode:
          type:
          - string
          - 'null'
        carrierName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RefundMethodCriteriaType:
      type: object
      properties:
        originalPaymentMethodInd:
          type: boolean
        originalPaymentMethodIndSpecified:
          type: boolean
        paymentBrandCode:
          type:
          - string
          - 'null'
        paymentCard:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RefundPaymentCardType'
        paymentTypeCode:
          type:
          - string
          - 'null'
        prefLevel:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasureType:
      type: object
      properties:
        unitCode:
          type:
          - string
          - 'null'
        value:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OtherAddressType:
      type: object
      properties:
        contactTypeText:
          type:
          - string
          - 'null'
        otherAddressText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PromotionType:
      type: object
      properties:
        ownerName:
          type:
          - string
          - 'null'
        paxRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        promotionID:
          type:
          - string
          - 'null'
        promotionIssuer:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PromotionIssuerType'
        remark:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyValuePropertyType:
      type: object
      properties:
        keyText:
          type:
          - string
          - 'null'
        prefLevel:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PrefLevelType'
        valueText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CryptographyKeyType:
      type: object
      properties:
        keyNameText:
          type:
          - string
          - 'null'
        keyValue:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyValueType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAddressVerificationType:
      type: object
      properties:
        addressVerificationInvalidInd:
          type: boolean
        addressVerificationInvalidIndSpecified:
          type: boolean
        addressVerificationNoMatchInd:
          type: boolean
        addressVerificationNoMatchIndSpecified:
          type: boolean
        addressVerificationStatusCode:
          type:
          - string
          - 'null'
        addressVerificationText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ResponseParametersOrderChangeType:
      type: object
      properties:
        bdc:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BDC_Type'
        curParameter:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurParameterType'
        device:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceType'
        deviceLocation:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceLocationType'
        inventoryGuaranteeInd:
          type: boolean
        inventoryGuaranteeIndSpecified:
          type: boolean
        measurementSystemCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasurementSystemCodeType'
        measurementSystemCodeSpecified:
          type: boolean
        paxGroup:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxGroupType'
        pricingParameter:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PricingParameterType'
        reasonCode:
          type:
          - string
          - 'null'
        refundFOP:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RefundFOP_Type'
        remark:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCardCriteriaAddlInfoType:
      type: object
      properties:
        cardProductTypeCode:
          type:
          - string
          - 'null'
        cardTypeText:
          type:
          - string
          - 'null'
        iiN_IINNumber:
          type:
          - string
          - 'null'
        securePaymentAuthenticationVersion:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SecurePaymentAuthenticationVersionType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OwnershipTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SpecialServiceType:
      type: object
      properties:
        addlDataMeasure:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasureType'
        freeText:
          type:
          - string
          - 'null'
        qty:
          type: number
          format: double
        qtySpecified:
          type: boolean
        specialServiceCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ItemsChoiceType2:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType:
      type: object
      properties:
        altLangID:
          type:
          - string
          - 'null'
        correlationID:
          type:
          - string
          - 'null'
        primaryLangID:
          type:
          - string
          - 'null'
        retransmissionInd:
          type: boolean
        retransmissionIndSpecified:
          type: boolean
        seqNumber:
          type: number
          format: double
        seqNumberSpecified:
          type: boolean
        timestamp:
          type: string
          format: date-time
        timestampSpecified:
          type: boolean
        trxID:
          type:
          - string
          - 'null'
        versionNumber:
          type: number
          format: double
        versionNumberSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignedInfoType:
      type: object
      properties:
        canonicalizationMethod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CanonicalizationMethodType'
        signatureMethod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignatureMethodType'
        reference:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ReferenceType'
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PrefLevelCodeType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainLinkType:
      type: object
      properties:
        contactInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        ordinal:
          type:
          - string
          - 'null'
        orgRole:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainRoleCodeType'
        participatingOrg:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ParticipatingOrgType'
        salesAgent:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesAgentType'
        salesBranch:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesBranchType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentSurchargeType:
      type: object
      properties:
        amountRangeMaximumAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        amountRangeMinimumAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        percentageRangeMaximumPercent:
          type: number
          format: double
        percentageRangeMaximumPercentSpecified:
          type: boolean
        percentageRangeMinimumPercent:
          type: number
          format: double
        percentageRangeMinimumPercentSpecified:
          type: boolean
        preciseAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        precisePercent:
          type: number
          format: double
        precisePercentSpecified:
          type: boolean
        roundingNumberOfDecimalsNumber:
          type: number
          format: double
        roundingNumberOfDecimalsNumberSpecified:
          type: boolean
        roundingPrecisionCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RoundingPrecisionCodeType'
        roundingPrecisionCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SecurePaymentAuthenticationVersionType:
      type: object
      properties:
        cardEnrollmentVersionText:
          type:
          - array
          - 'null'
          items:
            type: string
        supportedVersionText:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingDetailsType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        payer:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayerType'
        paymentMethod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodType'
        paymentProcessingClearanceData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingClearanceDataType'
        paymentRefID:
          type:
          - string
          - 'null'
        paymentSurchargeAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        priceVarianceAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType:
      type: object
      properties:
        contentType:
          type:
          - string
          - 'null'
        descText:
          type:
          - string
          - 'null'
        resourceURI:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramAccountType:
      type: object
      properties:
        accountNumber:
          type:
          - string
          - 'null'
        loyaltyProgram:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramType'
        signInID:
          type:
          - string
          - 'null'
        tierCode:
          type:
          - string
          - 'null'
        tierName:
          type:
          - string
          - 'null'
        tierPriorityText:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BaggageAllowanceType:
      type: object
      properties:
        airlineTaxonomy:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AirlineTaxonomyType'
        applicablePartyText:
          type:
          - string
          - 'null'
        baggageAllowanceID:
          type:
          - string
          - 'null'
        bdc:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BDC_Type'
        descText:
          type:
          - array
          - 'null'
          items:
            type: string
        maximumDimensionAllowance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DimensionAllowanceType'
        minimumDimensionAllowance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DimensionAllowanceType'
        pieceAllowance:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PieceAllowanceType'
        rfisc:
          type:
          - string
          - 'null'
        typeCode:
          type:
          - string
          - 'null'
        weightAllowance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.WeightAllowanceType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentFunctionsOrderType:
      type: object
      properties:
        orderAssociation:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderAssociationType'
        paymentProcessingSummary:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingSummaryType'
        paymentSupportedMethod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentSupportedMethodType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AllianceType:
      type: object
      properties:
        allianceCode:
          type:
          - string
          - 'null'
        carrier:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierType'
        name:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RefundPaymentCardType:
      type: object
      properties:
        cardBrandCode:
          type:
          - string
          - 'null'
        cardHolderName:
          type:
          - string
          - 'null'
        cardIssuingCountryCode:
          type:
          - string
          - 'null'
        cardNumber:
          type:
          - string
          - 'null'
        cardProductTypeCode:
          type:
          - string
          - 'null'
        cardSeqNumber:
          type: number
          format: double
        cardSeqNumberSpecified:
          type: boolean
        cardTypeText:
          type:
          - string
          - 'null'
        encryptedData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EncryptedDataType'
        expirationDate:
          type:
          - string
          - 'null'
        paymentInstrumentOwnershipCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OwnershipTypeCodeType'
        paymentInstrumentOwnershipCodeSpecified:
          type: boolean
        protectedCardID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyInfoType:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items: {}
        itemsElementName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ItemsChoiceType2'
        text:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingClearanceDataType:
      type: object
      properties:
        clearanceRoleChoice:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceRoleChoiceType'
        netClearanceAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        processRuleCode:
          type:
          - string
          - 'null'
        remittanceDate:
          type: string
          format: date-time
        remittanceDateSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayeeType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GeospatialLocationType:
      type: object
      properties:
        naturalAreaGeocode:
          type:
          - string
          - 'null'
        pointElevationNumber:
          type: number
          format: double
        pointElevationNumberSpecified:
          type: boolean
        pointLatitudeNumber:
          type: number
          format: double
        pointLatitudeNumberSpecified:
          type: boolean
        pointLongitudeNumber:
          type: number
          format: double
        pointLongitudeNumberSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CabinTypeAssociationChoiceType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAddressType:
      type: object
      properties:
        paymentAddressVerification:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAddressVerificationType'
        postalAddress:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PostalAddressType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DigitalSignatureType:
      type: object
      properties:
        signatureType:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignatureType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType:
      type: object
      properties:
        descText:
          type:
          - string
          - 'null'
        markupStyleText:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType:
      type: object
      properties:
        displayInd:
          type: boolean
        displayIndSpecified:
          type: boolean
        remarkText:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        timestampSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OriginDestType:
      type: object
      properties:
        destCode:
          type:
          - string
          - 'null'
        originCode:
          type:
          - string
          - 'null'
        originDestID:
          type:
          - string
          - 'null'
        paxJourneyRefID:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayeeDataType:
      type: object
      properties:
        clearancePayee:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayeeType'
        clearancePayeeReconciliationID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CommissionType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        commissionCode:
          type:
          - string
          - 'null'
        percentage:
          type: number
          format: double
        percentageSpecified:
          type: boolean
        percentageAppliedToAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        taxableInd:
          type: boolean
        taxableIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BookingEntityType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxSegmentType:
      type: object
      properties:
        cabinTypeAssociationChoice:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CabinTypeAssociationChoiceType'
        datedMarketingSegmentRefId:
          type:
          - string
          - 'null'
        marketingCarrierRBD_Code:
          type:
          - string
          - 'null'
        operatingCarrierRBD_Code:
          type:
          - string
          - 'null'
        paxSegmentID:
          type:
          - string
          - 'null'
        settlementInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SettlementInfoType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentSupportedMethodType:
      type: object
      properties:
        clearanceMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceMethodsType'
        cryptographyKey:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CryptographyKeyType'
        paymentBrandCode:
          type:
          - string
          - 'null'
        paymentMethodAddlInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodAddlInfoType'
        paymentMethodCountryCode:
          type:
          - string
          - 'null'
        paymentRedirectionInd:
          type: boolean
        paymentRedirectionIndSpecified:
          type: boolean
        paymentSurcharge:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentSurchargeType'
        paymentTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignatureMethodType:
      type: object
      properties:
        hmacOutputLength:
          type:
          - string
          - 'null'
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
        algorithm:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RSA_KeyValueType:
      type: object
      properties:
        exponent:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
        modulus:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountrySubDivisionType:
      type: object
      properties:
        countrySubDivisionCode:
          type:
          - string
          - 'null'
        countrySubDivisionName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PenaltyPriceType:
      type: object
      properties:
        baseAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        taxSummary:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxSummaryType'
        totalAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceLocationType:
      type: object
      properties:
        city:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CityType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        geospatialLocation:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GeospatialLocationType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DatedOperatingSegmentType:
      type: object
      properties:
        carrierDesigCode:
          type:
          - string
          - 'null'
        carrierName:
          type:
          - string
          - 'null'
        datedOperatingLegRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        datedOperatingSegmentId:
          type:
          - string
          - 'null'
        disclosureRefID:
          type:
          - string
          - 'null'
        duration:
          type:
          - string
          - 'null'
        operatingCarrierFlightNumberText:
          type:
          - string
          - 'null'
        operationalSuffixText:
          type:
          - string
          - 'null'
        secureFlightInd:
          type: boolean
        secureFlightIndSpecified:
          type: boolean
        segmentTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType:
      type: object
      properties:
        curCode:
          type:
          - string
          - 'null'
        value:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PromotionIssuerType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LengthUnitCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderChangeRequestType:
      type: object
      properties:
        bookingRef:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BookingRefType'
        changeOrderChoice:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ChangeOrderChoiceType'
        dataLists:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DataListsType'
        metadata:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MetadataType'
        order:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderFilterCriteriaType'
        orderChangeParameters:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ResponseParametersOrderChangeType'
        paxGroup:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxGroupType'
        paymentFunctions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentFunctionsChangeType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxGroupType:
      type: object
      properties:
        contactInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        intendedPaxQty:
          type: number
          format: double
        intendedPaxQtySpecified:
          type: boolean
        paxGroupID:
          type:
          - string
          - 'null'
        paxGroupName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurParameterType:
      type: object
      properties:
        appCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurAppCodeType'
        appCodeSpecified:
          type: boolean
        curCode:
          type:
          - string
          - 'null'
        decimalsAllowedNumber:
          type: number
          format: double
        decimalsAllowedNumberSpecified:
          type: boolean
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DimensionAllowanceType:
      type: object
      properties:
        heightMeasure:
          type: number
          format: double
        heightMeasureSpecified:
          type: boolean
        lengthMeasure:
          type: number
          format: double
        lengthMeasureSpecified:
          type: boolean
        lengthUnitOfMeasurement:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LengthUnitCodeType'
        linearMeasure:
          type: number
          format: double
        linearMeasureSpecified:
          type: boolean
        widthMeasure:
          type: number
          format: double
        widthMeasureSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IdentityDocType:
      type: object
      properties:
        addlName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameType'
        birthdate:
          type: string
          format: date-time
        birthdateSpecified:
          type: boolean
        birthplaceText:
          type:
          - string
          - 'null'
        citizenshipCountryCode:
          type:
          - string
          - 'null'
        expiryDate:
          type: string
          format: date-time
        expiryDateSpecified:
          type: boolean
        genderCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType'
        genderCodeSpecified:
          type: boolean
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        identityDocID:
          type:
          - string
          - 'null'
        identityDocTypeCode:
          type:
          - string
          - 'null'
        issueDate:
          type: string
          format: date-time
        issueDateSpecified:
          type: boolean
        issuingCountryCode:
          type:
          - string
          - 'null'
        middleName:
          type:
          - array
          - 'null'
          items:
            type: string
        residenceCountryCode:
          type:
          - string
          - 'null'
        suffixName:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        titleName:
          type:
          - string
          - 'null'
        visa:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.VisaType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EncryptedDataType:
      type: object
      properties:
        cryptographyKey:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CryptographyKeyType'
        cypherData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CypherDataType'
        encryptedCardNumber:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
        encryptedCardSecurityNumber:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
        first6DigitsText:
          type:
          - string
          - 'null'
        keyNameText:
          type:
          - string
          - 'null'
        last4DigitsText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RedressCaseType:
      type: object
      properties:
        countryCode:
          type:
          - string
          - 'null'
        programName:
          type:
          - string
          - 'null'
        redressCaseID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodAddlInfoType:
      type: object
      properties:
        paymentCardAddlInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCardAddlInfoType'
        paymentOtherMethodAddlInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PriceClassType:
      type: object
      properties:
        cabinType:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CabinTypeType'
        code:
          type:
          - string
          - 'null'
        desc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType'
        displayOrderText:
          type:
          - string
          - 'null'
        fareBasisAppText:
          type:
          - string
          - 'null'
        fareBasisCode:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        priceClassID:
          type:
          - string
          - 'null'
        richMedia:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MediaResourceRefType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentTrxType:
      type: object
      properties:
        descText:
          type:
          - string
          - 'null'
        inputCurCode:
          type:
          - string
          - 'null'
        maximumTryInd:
          type: boolean
        maximumTryIndSpecified:
          type: boolean
        notProcessedInd:
          type: boolean
        notProcessedIndSpecified:
          type: boolean
        originalID:
          type:
          - string
          - 'null'
        paymentAddressVerification:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAddressVerificationType'
        retryInd:
          type: boolean
        retryIndSpecified:
          type: boolean
        settlementCurCode:
          type:
          - string
[...]
