openapi: 3.0.3
info:
  title: TUI Cruise Booking APIs
  description: APIs for validating cruise holidays and create bookings for cruises within the TUI system
  version: "1.0.0"
  contact:
    email: NRCruiseTeam@TUIGroup.onmicrosoft.com
    name: "Cruise NR API Support"
  x-header: |
    APIs for validating cruise holidays and create bookings for cruises within the TUI system
  x-summary: |
    APIs for validating cruise holidays and create bookings for cruises within the TUI system

  

servers:
  - url: https://prod.api.tui/cruise-ota-book
    description: Production server
  - url: https://pre-prod.api.tui/cruise-ota-book
    description: Non-production server


paths:
  /validate-holiday:
    parameters:

      - name: x-business-relationship
        in: header
        required: false
        schema:
          type: string
          example: 'InfoBooking_v3_Action'
        description: Validate holiday for cruises

    post:
      summary: Validate holiday for cruises
      description: Validates the booking details in the system with customer and travel details
      operationId: validateHoliday
      tags:
        - Bookings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateHolidayRequest'
      responses:
        '200':
          description: Booking validated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateHolidayResponse'
        '400':
          description: Bad request - invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'

  /confirm-holiday:
    parameters:

      - name: x-business-relationship
        in: header
        required: false
        schema:
          type: string
          example: 'CreateBooking_v3_Action'
        description: Confirm to book holiday for cruises

    post:
      summary: Confirm to book holiday for cruises
      description: Creates a new booking in the system with customer and travel details
      operationId: confirmHoliday
      tags:
        - Bookings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmHolidayRequest'
      responses:
        '200':
          description: Booking created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmHolidayResponse'
        '400':
          description: Bad request - invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'

components:
  schemas:

    ConfirmHolidayRequest:
      type: object
      properties:
        CreateBookingRequest:
          type: object
          required:
            - Adm
            - CusDet
          properties:
            Adm:
              type: object
              required:
                - SessId
                - ReqId
              properties:
                SessId:
                  type: string
                  description: Session identifier
                  example: "497dcaf8-e113-454b-902c-5dc924c51b1f@0"
                ReqId:
                  type: string
                  description: Request identifier
                  example: "node1-db9HGCGi"

            CusDet:
              type: object
              required:
                - Person
                - TrvDox
              properties:
                Person:
                  type: object
                  properties:
                    Add:
                      type: object
                      properties:
                        Name:
                          type: string
                          example: "T U I Wigmore House,"
                        Street:
                          type: string
                          example: "Wigmore Lane"
                        ZipCode:
                          type: string
                          example: "LU2 9TN"
                        City:
                          type: string
                          example: "LUTON"
                        CountryISOCode:
                          type: string
                          example: "GB"
                    Comm:
                      type: object
                      properties:
                        CommType:
                          type: string
                          example: "TYPE_MOBILE"
                        Sphere:
                          type: string
                          example: "SPHERE_PRIVATE"
                        AreaCode:
                          type: string
                          example: ""
                        Num:
                          type: string
                          example: "07555889000"
                    Email:
                      type: object
                      properties:
                        Address:
                          type: string
                          format: email
                          example: "sudharshan.mb@tui.co.uk"
                        Sphere:
                          type: string
                          example: "SPHERE_PRIVATE"
                    Marketing:
                      type: object
                      properties:
                        Mailshot:
                          type: string
                          example: "true"
                        Tel:
                          type: string
                          example: "true"
                        By_Email:
                          type: string
                          example: "true"
                        By_SMS:
                          type: string
                          example: "true"
                TrvDox:
                  type: object
                  properties:
                    DocumentReceiver:
                      type: string
                      example: "AGENCY"
                    DoxLang:
                      type: string
                      example: "en_EN"

    ConfirmHolidayResponse:
      type: object
      properties:
        TILCreateBookingResponse:
          type: object
          properties:
            TUITILResponse:
              type: object
              properties:
                Result:
                  type: object
                  properties:
                    ResponseCode:
                      type: string
                      example: '0000'
                    Description:
                      type: string
                      example: 'SUCCESS'
                    CorrelationID:
                      type: string
                      example: '03e47977-eb73-41e9-97eb-7be3d13eee4a'
                    Service_version:
                      type: string
                      example: 'v3'
                    Xsd_version:
                      type: string
                      example: 'T3.22.19.1'
            CreateBookingResponse:
              type: object
              properties:
                Adm:
                  type: object
                  properties:
                    "Debug":
                      type: boolean
                      description: Debug flag
                      example: false
                    "IncludeDetailedPerfStats":
                      type: boolean
                      description: Flag to include detailed performance statistics
                      example: false
                    "Xsd_Ver":
                      type: string
                      description: XSD version
                      example: "T3.22.20.1"
                    ReqId:
                      type: string
                      description: Request identifier
                      example: "node1-db9HGCGi"
                    Tm:
                      type: string
                      format: date-time
                      description: Timestamp
                      example: "2025-04-29T10:45:40.362918+01:00"
                    Trk:
                      type: object
                      properties:
                        "From":
                          type: string
                          description: Source system
                          example: "atcomres"
                        "To":
                          type: string
                          description: Target system
                          example: "phoenix"
                        TEXT:
                          type: string
                          description: Additional text information
                          example: "NULL"
                CltInfo:
                  type: object
                  properties:
                    Locale:
                      type: string
                      description: Client locale
                      example: "en_EN"
                    CltSysContext:
                      type: integer
                      description: Client system context
                      example: 3
                    Agt_No:
                      type: string
                      description: Agent number
                      example: "MARCR"
                    TermCode:
                      type: string
                      description: Terminal code
                      example: "VTX"
                    User_Name:
                      type: string
                      description: Username
                      example: "MCUSER"
                    Chan:
                      type: integer
                      description: Channel number
                      example: 1100
                    Channel_Type:
                      type: string
                      description: Channel type
                      example: "VRP"
                    User_Role:
                      type: string
                      description: User role
                      example: "INTERNAL"
                    Payment_VTID:
                      type: integer
                      description: Payment VTID
                      example: 99000140
                    Bkg_Owner_Tp_Mth:
                      type: string
                      description: Booking owner type method
                      example: "TO"
                    Payment_OrgID:
                      type: string
                      description: Payment organization ID
                      example: "ba96ae31Ace67A4004Aa78aAdae2eec844a2"
                BkgNum:
                  type: object
                  properties:
                    BkgId:
                      type: integer
                      example: 43005201
                    CurrentVersion:
                      type: integer
                      example: 1
                    AtcomresBkgVersion:
                      type: integer
                      example: 557769208
                    DH_Queue_Sts:
                      type: string
                      example: WAIT
                BkgSts:
                  type: string
                  example: "BOOKING"
                ResSts:
                  type: string
                  example: "CONFIRMED"
                HasAgt_Notice:
                  type: boolean
                  description: Flag indicating if there are agent notices
                  example: false
                His:
                  type: object
                  description: Booking history information
                  properties:
                    Bkg_Dt_Tm:
                      type: string
                      format: date-time
                      description: Booking date and time
                      example: "2025-04-29T10:45:20+01:00"
                    Bkg_User:
                      type: string
                      description: User who created the booking
                      example: "MCUSER"
                    Bkg_Term_Code:
                      type: string
                      description: Terminal code used for booking
                      example: "VTX"
                    Bkg_Chan:
                      type: integer
                      description: Booking channel
                      example: 1100
                Bkg_Ent:
                  type: object
                  properties:
                    "Amend_Mth":
                      type: string
                      description: Amendment method
                      example: "ALL"
                    Package:
                      type: object
                      properties:
                        Accom:
                          type: object
                          properties:
                            "Is_Adhoc":
                              type: boolean
                              description: Flag indicating if accommodation is ad-hoc
                              example: false
                            "Error":
                              type: boolean
                              description: Error flag
                              example: false
                            Id:
                              type: integer
                              description: Accommodation ID
                              example: 1
                            St_Dt:
                              type: string
                              format: date
                              description: Start date
                              example: "2026-08-01"
                            End_Dt:
                              type: string
                              format: date
                            HtlPrd:
                              type: object
                              description: Hotel product information
                              properties:
                                Name:
                                  type: string
                                  description: Hotel product name
                                  example: "Mediterranean Medley (Explorer)"
                                Prom:
                                  type: object
                                  description: Promotion information
                                  properties:
                                    "Code":
                                      type: string
                                      description: Promotion code
                                      example: "BGCR"
                                    "Issue":
                                      type: integer
                                      description: Issue number
                                      example: 1
                                    "Name":
                                      type: string
                                      description: Promotion name
                                      example: "Marella Cruises"
                                    "Brand":
                                      type: string
                                      description: Brand code
                                      example: "S"
                                    TEXT:
                                      type: string
                                      description: Additional text information
                                      example: "NULL"
                                Acc_Cd:
                                  type: object
                                  description: Accommodation code
                                  properties:
                                    "Accom_Id":
                                      type: string
                                      description: Accommodation ID
                                      example: "6311920741/3"
                                    TEXT:
                                      type: string
                                      description: Accommodation code text
                                      example: "XXXX0028/078"
                                Acc_InvState:
                                  type: string
                                  description: Accommodation inventory state
                                  example: "INTERNAL"
                                Hotel:
                                  type: object
                                  description: Hotel information
                                  properties:
                                    Add:
                                      type: object
                                      description: Hotel address
                                      properties:
                                        Name:
                                          type: string
                                          description: Hotel name
                                          example: "Mediterranean Medley (Explorer)"
                                        City:
                                          type: string
                                          description: City
                                          example: "Palma Port"
                                        Region:
                                          type: string
                                          description: Region
                                          example: "Majorca"
                                        CountryISOCode:
                                          type: string
                                          description: ISO country code
                                          example: "ES"
                                    Comm:
                                      type: object
                                      description: Communication information
                                      properties:
                                        CommType:
                                          type: string
                                          description: Communication type
                                          example: "TYPE_PHONE"
                                        Sphere:
                                          type: string
                                          description: Communication sphere
                                          example: "SPHERE_BUSINESS"
                                        AreaCode:
                                          type: string
                                          description: Area code
                                          example: "NULL"
                                        Num:
                                          type: string
                                          description: Phone number
                                          example: "01234567890"
                                    Loc:
                                      type: object
                                      description: Location information
                                      properties:
                                        Loc_Cd:
                                          type: string
                                          description: Location code
                                          example: "ESMJPB"
                                        Loc_Tp:
                                          type: string
                                          description: Location type
                                          example: "CITY"
                                        Loc_Name:
                                          type: string
                                          description: Location name
                                          example: "Palma Port"
                                Cat_Page:
                                  type: object
                                  description: Catalog page information
                                  properties:
                                    Catalog:
                                      type: object
                                      description: Catalog information
                                      properties:
                                        "Code":
                                          type: string
                                          description: Catalog code
                                          example: "GCR"
                                        "Name":
                                          type: string
                                          description: Catalog name
                                          example: "Marella Cruises UK NEW"
                                        TEXT:
                                          type: string
                                          description: Additional text information
                                          example: "NULL"
                                    Cat_Page_No:
                                      type: integer
                                      description: Catalog page number
                                      example: 0
                                    Prc_Cat_Page_No:
                                      type: integer
                                      description: Price catalog page number
                                      example: 0
                                Ship_Cd:
                                  type: string
                                  description: Ship code
                                  example: "XXXX0028"
                                Ship_Name:
                                  type: string
                                  description: Ship name
                                  example: "Marella Explorer"
                                Corporate_Cd:
                                  type: integer
                                  description: Corporate code
                                  example: 101762
                            Rm_Cd:
                              type: object
                              description: Room code information
                              properties:
                                "Is_Adhoc":
                                  type: boolean
                                  description: Flag indicating if room is ad-hoc
                                  example: false
                                Rm_No:
                                  type: integer
                                  description: Room number
                                  example: 1
                                Code:
                                  type: string
                                  description: Room code
                                  example: "ZI01"
                                Desc:
                                  type: string
                                  description: Room description
                                  example: "Decks 4/5 Inside Cabin"
                                Fac_List:
                                  type: string
                                  description: Facility list text
                                  example: "Decks 4/5, Shower, WC"
                                Facility_List:
                                  type: object
                                  description: Detailed facility list
                                  properties:
                                    Facility:
                                      type: array
                                      description: List of facilities
                                      items:
                                        type: object
                                        properties:
                                          "Code":
                                            type: string
                                            description: Facility code
                                            example: "DK5"
                                          "Name":
                                            type: string
                                            description: Facility name
                                            example: "Decks 4/5"
                                          TEXT:
                                            type: string
                                            description: Additional text information
                                            example: "NULL"
                                StopSaleOverridden:
                                  type: boolean
                                  description: Flag indicating if stop sale is overridden
                                  example: false
                                Inf_Inc_Occ:
                                  type: boolean
                                  description: Flag indicating if infants are included in occupancy
                                  example: true
                                Min_Pax:
                                  type: integer
                                  description: Minimum number of passengers
                                  example: 1
                                Max_Pax:
                                  type: integer
                                  description: Maximum number of passengers
                                  example: 2
                                Max_Adu:
                                  type: integer
                                  description: Maximum number of adults
                                  example: 2
                                Max_Chd:
                                  type: integer
                                  description: Maximum number of children
                                  example: 2
                                Max_Inf:
                                  type: integer
                                  description: Maximum number of infants
                                  example: 1
                                BB_Cd:
                                  type: string
                                  description: Board basis code
                                  example: "AI"
                                BB_Name:
                                  type: string
                                  description: Board basis name
                                  example: "All Inclusive"
                                Alt_BB_Cd:
                                  type: string
                                  description: Alternative board basis code
                                  example: "PI"
                                Ser_Sts:
                                  type: string
                                  description: Service status
                                  example: "FIX"
                                SubServPaxs:
                                  type: object
                                  description: Sub-service passengers information
                                  properties:
                                    SubServPax:
                                      type: array
                                      description: List of sub-service passengers
                                      items:
                                        type: object
                                        properties:
                                          Pax_Id:
                                            type: integer
                                            description: Passenger ID
                                            example: 1
                                          Pax_Tp:
                                            type: string
                                            description: Passenger type
                                            example: "ADULT"
                                          Pax_Srv_Prc_Ex:
                                            type: object
                                            description: Passenger service price excluding taxes
                                            properties:
                                              "CurISO":
                                                type: string
                                                description: Currency ISO code
                                                example: "GBP"
                                              TEXT:
                                                type: number
                                                format: float
                                                description: Price amount
                                                example: 1724.16
                                Prices:
                                  type: object
                                  description: Price information
                                  properties:
                                    Price:
                                      type: array
                                      description: List of prices
                                      items:
                                        type: object
                                        properties:
                                          Prc_Cd:
                                            type: string
                                            description: Price code
                                            example: "AA"
                                          Prc_Cd_Name:
                                            type: string
                                            description: Price code name
                                            example: "Adult Package Price"
                                          Prc_Cd_Tp:
                                            type: string
                                            description: Price code type
                                            example: "ACRMAD"
                                          Qty:
                                            type: integer
                                            description: Quantity
                                            example: 2
                                          Prc:
                                            type: object
                                            description: Price information
                                            properties:
                                              "CurISO":
                                                type: string
                                                description: Currency ISO code
                                                example: "GBP"
                                              TEXT:
                                                type: number
                                                format: float
                                                description: Price amount
                                                example: 1796.0
                                          Prc_Dt:
                                            type: string
                                            format: date-time
                                            description: Price date
                                            example: "2025-04-29T10:45:20+01:00"
                                          PricePaxs:
                                            type: object
                                            description: Price passengers information
                                            properties:
                                              Pax_Id:
                                                type: array
                                                description: List of passenger IDs
                                                items:
                                                  type: integer
                                                  example: 1
                                          Visible:
                                            type: boolean
                                            description: Visibility flag
                                            example: true
                                          Prc_Sts:
                                            type: string
                                            description: Price status
                                            example: "STK"
                                No_Free_Chd:
                                  type: integer
                                  description: Number of free children
                                  example: 0
                            Memo:
                              type: array
                              description: Memo information
                              items:
                                type: object
                                properties:
                                  Memo_Dt:
                                    type: string
                                    format: date-time
                                    description: Memo date and time
                                    example: "2025-04-29T10:45:21+01:00"
                                  Memo_Cd:
                                    type: string
                                    description: Memo code
                                    example: "ERR"
                                  Memo_Name:
                                    type: string
                                    description: Memo name
                                    example: "Geography Errata"
                                  Memo_Des:
                                    type: string
                                    description: Memo description (may contain HTML)
                                    example: "<br/><br/>For access to up-to-date travel advice, see Travel Aware – Staying Safe and Healthy Abroad.<br/>"
                                  Memo_User_Name:
                                    type: string
                                    description: Username of memo creator
                                    example: "MCUSER"
                                  Memo_Key:
                                    type: integer
                                    description: Memo key/ID
                                    example: 1
                                  Memo_Rights:
                                    type: string
                                    description: Memo access rights
                                    example: "READ"
                            Transfer_Info:
                              type: array
                              description: Transfer information
                              items:
                                type: object
                                properties:
                                  "Dir":
                                    type: string
                                    description: Transfer direction (inbound/outbound)
                                    enum: [ "inbound", "outbound" ]
                                    example: "inbound"
                                  Transfer_Code:
                                    type: string
                                    description: Transfer code
                                    example: "TFR"
                                  Desc:
                                    type: string
                                    description: Transfer description
                                    example: "Coach Transfer Included"
                            Ref_Prd_Id:
                              type: integer
                              description: Reference product ID
                              example: 2

                            Free_Car_Rental_Poss:
                              type: boolean
                              description: Flag indicating if free car rental is possible
                              example: false

                            Child_Price_Reduction:
                              type: object
                              description: Child price reduction information
                              properties:
                                "Cd":
                                  type: string
                                  description: Child price reduction code
                                  example: "ALOW"
                                TEXT:
                                  type: string
                                  description: Additional text information
                                  example: "NULL"

                            Atol_Mth:
                              type: string
                              description: ATOL (Air Travel Organiser's Licence) method
                              example: "APP"
                        Route_List:
                          type: object
                          description: Route list information
                          properties:
                            Routing:
                              type: object
                              description: Routing information
                              properties:
                                "Routing_Type":
                                  type: string
                                  description: Routing type
                                  example: "OW"
                                Routing_Id:
                                  type: integer
                                  description: Routing ID
                                  example: 2
                                Route:
                                  type: array
                                  description: List of routes
                                  items:
                                    type: object
                                    properties:
                                      "Rt_Dir":
                                        type: string
                                        description: Route direction
                                        enum: [ "outbound", "inbound" ]
                                        example: "outbound"
                                      "Is_Adhoc":
                                        type: boolean
                                        description: Flag indicating if route is ad-hoc
                                        example: false
                                      "Error":
                                        type: boolean
                                        description: Error flag
                                        example: false
                                      Route_Id:
                                        type: integer
                                        description: Route ID
                                        example: 2
                                      RouteCd:
                                        type: string
                                        description: Route code
                                        example: "PMILGW6CLGWPMI"
                                      Flt_Inv_Id:
                                        type: object
                                        description: Flight inventory ID
                                        properties:
                                          "Box_Id":
                                            type: integer
                                            description: Box ID
                                            example: 6726296
                                          TEXT:
                                            type: integer
                                            description: Flight inventory ID text
                                            example: 6194160332
                                      Rt_InvState:
                                        type: string
                                        description: Route inventory state
                                        example: "INTERNAL"
                                      Dep_Air_Cd:
                                        type: string
                                        description: Departure airport code
                                        example: "LGW"
                                      Arr_Air_Cd:
                                        type: string
                                        description: Arrival airport code
                                        example: "PMI"
                                      Flt_Dt_Tm:
                                        type: array
                                        description: Flight date and time information
                                        items:
                                          type: object
                                          properties:
                                            "DirType":
                                              type: string
                                              description: Direction type
                                              enum: [ "DEPARTURE", "ARRIVAL" ]
                                              example: "DEPARTURE"
                                            Local:
                                              type: string
                                              format: date-time
                                              description: Local date and time
                                              example: "2026-08-01T06:00:00+01:00"
                                      Duration:
                                        type: integer
                                        description: Duration in days
                                        example: 7
                                      Cycle_Dt:
                                        type: string
                                        format: date
                                        description: Cycle date
                                        example: "2026-08-01"
                                      JnyDur:
                                        type: string
                                        description: Journey duration (HH:MM)
                                        example: "02:15"
                                      Prom:
                                        type: object
                                        description: Promotion information
                                        properties:
                                          "Code":
                                            type: string
                                            description: Promotion code
                                            example: "ACPK"
                                          "Issue":
                                            type: integer
                                            description: Issue number
                                            example: 1
                                          "Name":
                                            type: string
                                            description: Promotion name
                                            example: "Cruise UK Package"
                                          TEXT:
                                            type: string
                                            description: Additional text information
                                            example: "NULL"
                                      Car_Cd:
                                        type: string
                                        description: Carrier code
                                        example: "TOM"
                                      Flt_No:
                                        type: integer
                                        description: Flight number
                                        example: 4618
                                      Bkg_Cls:
                                        type: object
                                        description: Booking class
                                        properties:
                                          "Code":
                                            type: string
                                            description: Booking class code
                                            example: "Y"
                                          TEXT:
                                            type: string
                                            description: Additional text information
                                            example: "NULL"
                                      Cab_Cls:
                                        type: object
                                        description: Cabin class
                                        properties:
                                          "Code":
                                            type: string
                                            description: Cabin class code
                                            example: "Y"
                                          "Name":
                                            type: string
                                            description: Cabin class name
                                            example: "Economy "
                                          TEXT:
                                            type: string
                                            description: Additional text information
                                            example: "NULL"
                                      Flt_Seq_Cd:
                                        type: string
                                        description: Flight sequence code
                                        example: "C"
                                      Sec:
                                        type: object
                                        description: Sector information
                                        properties:
                                          Id:
                                            type: integer
                                            description: Sector ID
                                            example: 2
                                          SecId:
                                            type: integer
                                            description: Sector sequence ID
                                            example: 1
                                          Dep_Air_Cd:
                                            type: string
                                            description: Departure airport code
                                            example: "LGW"
                                          Arr_Air_Cd:
                                            type: string
                                            description: Arrival airport code
                                            example: "PMI"
                                          Flt_Dt_Tm:
                                            type: array
                                            description: Flight date and time information
                                            items:
                                              type: object
                                              properties:
                                                "DirType":
                                                  type: string
                                                  description: Direction type
                                                  enum: [ "DEPARTURE", "ARRIVAL" ]
                                                  example: "DEPARTURE"
                                                Local:
                                                  type: string
                                                  format: date-time
                                                  description: Local date and time
                                                  example: "2026-08-01T06:00:00+01:00"
                                          JnyDur:
                                            type: string
                                            description: Journey duration (HH:MM)
                                            example: "02:15"
                                          Car_Cd:
                                            type: string
                                            description: Carrier code
                                            example: "TOM"
                                          Flt_No:
                                            type: integer
                                            description: Flight number
                                            example: 4618
                                          Bkg_Cls:
                                            type: object
                                            description: Booking class
                                            properties:
                                              "Code":
                                                type: string
                                                description: Booking class code
                                                example: "Y"
                                              TEXT:
                                                type: string
                                                description: Additional text information
                                                example: "NULL"
                                          Cab_Cls:
                                            type: object
                                            description: Cabin class
                                            properties:
                                              "Code":
                                                type: string
                                                description: Cabin class code
                                                example: "Y"
                                              "Name":
                                                type: string
                                                description: Cabin class name
                                                example: "Economy "
                                              TEXT:
                                                type: string
                                                description: Additional text information
                                                example: "NULL"
                                          Eqmt:
                                            type: string
                                            description: Equipment
                                            example: "B738-189"
                                          EqmtDescription:
                                            type: string
                                            description: Equipment description
                                            example: "Boeing 738-189"
                                          Seat_Res_Possible:
                                            type: string
                                            description: Seat reservation possibility
                                            enum: [ "YES", "NO" ]
                                            example: "NO"
                                      Ser_Sts:
                                        type: string
                                        description: Service status
                                        example: "FIX"
                                      SubServPaxs:
                                        type: object
                                        description: Sub-service passengers information
                                        properties:
                                          SubServPax:
                                            type: array
                                            description: List of sub-service passengers
                                            items:
                                              type: object
                                              properties:
                                                Pax_Id:
                                                  type: integer
                                                  description: Passenger ID
                                                  example: 1
                                                Pax_Tp:
                                                  type: string
                                                  description: Passenger type
                                                  example: "ADULT"
                                                Pax_Srv_Prc_Ex:
                                                  type: object
                                                  description: Passenger service price excluding taxes
                                                  properties:
                                                    "CurISO":
                                                      type: string
                                                      description: Currency ISO code
                                                      example: "GBP"
                                                    TEXT:
                                                      type: number
                                      Seat_Res_Possible:
                                        type: string
                                        description: Seat reservation possibility
                                        enum: [ "YES", "NO" ]
                                        example: "NO"

                                      Check_In:
                                        type: object
                                        description: Check-in information
                                        properties:
                                          "Dir":
                                            type: string
                                            description: Check-in direction
                                            example: "DEPARTURE"
                                          TEXT:
                                            type: string
                                            description: Check-in location/terminal
                                            example: "Main Terminal"

                                      Atol_Mth:
                                        type: string
                                        description: ATOL (Air Travel Organiser's Licence) method
                                        example: "APP"

                                      SSR_Possible:
                                        type: boolean
                                        description: Flag indicating if special service requests are possible
                                        example: false

                                      Online_Chk_In_Mth:
                                        type: string
                                        description: Online check-in method
                                        example: "DIS"
                    Item:
                      type: object
                      description: Item information
                      properties:
                        "Is_Adhoc":
                          type: boolean
                          description: Flag indicating if item is ad-hoc
                          example: false
                        "Code":
                          type: string
                          description: Item code
                          example: "WCF1/A"
                        "Name":
                          type: string
                          description: Item name
                          example: "TUI Care Foundation"
                        "Is_Default":
                          type: boolean
                          description: Flag indicating if item is default
                          example: false
                        "Auto_Inc":
                          type: boolean
                          description: Flag indicating if item is auto-included
                          example: true
                        "Short_Name":
                          type: string
                          description: Item short name
                          example: "TUI Care Foundation"
                        "Error":
                          type: boolean
                          description: Error flag
                          example: false
                        Id:
                          type: integer
                          description: Item ID
                          example: 4
                        St_Dt:
                          type: string
                          format: date
                          description: Start date
                          example: "2026-08-01"
                        Set_Type:
                          type: string
                          description: Set type
                          example: "EXTRA"
                        Item_Type:
                          type: object
                          description: Item type information
                          properties:
                            "Code":
                              type: string
                              description: Item type code
                              example: "WC"
                            Item_Type_Desc:
                              type: object
                              description: Item type description
                              properties:
                                Locale:
                                  type: string
                                  description: Locale
                                  example: "EN_EN"
                                Desc:
                                  type: string
                                  description: Description
                                  example: "TUI Care Foundation"
                        Prom:
                          type: object
                          description: Promotion information
                          properties:
                            "Code":
                              type: string
                              description: Promotion code
                              example: "AUCI"
                            "Issue":
                              type: integer
                              description: Issue number
                              example: 1
                            "Name":
                              type: string
                              description: Promotion name
                              example: "TUI UK Common Items"
                            "Brand":
                              type: string
                              description: Brand code
                              example: "NULL"
                            TEXT:
                              type: string
                              description: Additional text information
                              example: "NULL"
                        Bkg_Qty:
                          type: integer
                          description: Booking quantity
                          example: 2
                        Ser_Sts:
                          type: string
                          description: Service status
                          example: "FIX"
                        MinPrice:
                          type: string
                          description: Minimum price
                          example: "NULL"
                        MaxPrice:
                          type: string
                          description: Maximum price
                          example: "NULL"
                        Price:
                          type: string
                          description: Price
                          example: "NULL"
                        SubServPaxs:
                          type: object
                          description: Sub-service passengers information
                          properties:
                            SubServPax:
                              type: array
                              description: List of sub-service passengers
                              items:
                                type: object
                                properties:
                                  Pax_Id:
                                    type: integer
                                    description: Passenger ID
                                    example: 1
                                  Pax_Tp:
                                    type: string
                                    description: Passenger type
                                    example: "ADULT"
                                  Pax_Srv_Prc_Ex:
                                    type: object
                                    description: Passenger service price excluding taxes
                                    properties:
                                      "CurISO":
                                        type: string
                                        description: Currency ISO code
                                        example: "GBP"
                                      TEXT:
                                        type: number
                                        format: float
                                        description: Price amount
                                        example: 1.0
                        Prices:
                          type: object
                          description: Price information
                          properties:
                            Price:
                              type: object
                              description: Price details
                              properties:
                                Prc_Cd:
                                  type: string
                                  description: Price code
                                  example: "EWC"
                                Prc_Cd_Name:
                                  type: string
                                  description: Price code name
                                  example: "TUI Care Foundation"
                                Prc_Cd_Tp:
                                  type: string
                                  description: Price code type
                                  example: "WCFND"
                                Qty:
                                  type: integer
                                  description: Quantity
                                  example: 2
                                Prc:
                                  type: object
                                  description: Price information
                                  properties:
                                    "CurISO":
                                      type: string
                                      description: Currency ISO code
                                      example: "GBP"
                                    TEXT:
                                      type: number
                                      format: float
                                      description: Price amount
                                      example: 1.0
                                Prc_Dt:
                                  type: string
                                  format: date-time
                                  description: Price date
                                  example: "2025-04-29T10:45:20+01:00"
                                PricePaxs:
                                  type: object
                                  description: Price passengers information
                                  properties:
                                    Pax_Id:
                                      type: array
                                      description: List of passenger IDs
                                      items:
                                        type: integer
                                        example: 1
                                Visible:
                                  type: boolean
                                  description: Visibility flag
                                  example: true
                                Prc_Sts:
                                  type: string
                                  description: Price status
                                  example: "STK"
                        Ref_Prd_Id:
                          type: integer
                          description: Reference product ID
                          example: 1
                        Rate_Rule:
                          type: string
                          description: Rate rule
                          example: "DAY"
                        Item_Method:
                          type: string
                          description: Item method
                          example: "PP"
                        Atol_Mth:
                          type: string
                          description: ATOL method
                          example: "APP"
                        Corporate_Cd:
                          type: string
                          description: Corporate code
                          example: "L33008"
                    Flt_Extra_Cat_List:
                      type: array
                      description: Flight extra category list
                      items:
                        type: object
                        properties:
                          Flt_Inv_Id:
                            type: integer
                            description: Flight inventory ID
                            example: 6194160332
                          Flt_Extra_Cat:
                            type: object
                            description: Flight extra category information
                            properties:
                              "Code":
                                type: string
                                description: Category code
                                example: "BAG"
                              "Name":
                                type: string
                                description: Category name
                                example: "Baggage"
                              "Method":
                                type: string
                                description: Category method
                                example: "BAG"
                              Flt_Extra:
                                type: object
                                description: Flight extra information
                                properties:
                                  "Code":
                                    type: string
                                    description: Extra code
                                    example: "BAG"
                                  "Name":
                                    type: string
                                    description: Extra name
                                    example: "Baggage Allowance"
                                  "Error":
                                    type: boolean
                                    description: Error flag
                                    example: false
                                  "AllowComment":
                                    type: boolean
                                    description: Flag indicating if comments are allowed
                                    example: false
                                  Class:
                                    type: string
                                    description: Class
                                    example: "Y"
                                  Baggage:
                                    type: object
                                    description: Baggage information
                                    properties:
                                      Weight:
                                        type: object
                                        description: Weight information
                                        properties:
                                          "Cd":
                                            type: integer
                                            description: Weight code/value in kg
                                            example: 20
                                          Piece:
                                            type: object
                                            description: Piece information
                                            properties:
                                              "Cd":
                                                type: integer
                                                description: Piece code/count
                                                example: 1
                                              TEXT:
                                                type: integer
                                                description: Additional piece information
                                                example: 0
                                  SubServPaxs:
                                    type: object
                                    description: Sub-service passengers information
                                    properties:
                                      SubServPax:
                                        type: array
                                        description: List of sub-service passengers
                                        items:
                                          type: object
                                          properties:
                                            Pax_Id:
                                              type: integer
                                              description: Passenger ID
                                              example: 1
                                            Pax_Tp:
                                              type: string
                                              description: Passenger type
                                              example: "ADULT"
                                            Pax_Srv_Prc_Ex:
                                              type: object
                                              description: Passenger service price excluding taxes
                                              properties:
                                                "CurISO":
                                                  type: string
                                                  description: Currency ISO code
                                                  example: "GBP"
                                                TEXT:
                                                  type: number
                                                  format: float
                                                  description: Price amount
                                                  example: 0.0
                                  Atol_Mth:
                                    type: string
                                    description: ATOL method
                                    example: "NONE"
                                  Corporate_Cd:
                                    type: string
                                    description: Corporate code
                                    example: "L31422"
                    CurISO:
                      type: string
                      description: Currency ISO code
                      example: "GBP"
                    Fast_Seller:
                      type: string
                      description: Fast seller indicator
                      example: "S"
                    Acc_Prc_Zero_Fg:
                      type: boolean
                      description: Flag indicating if accommodation price is zero
                      example: false
                    Acc_Cost_Zero_Fg:
                      type: boolean
                      description: Flag indicating if accommodation cost is zero
                      example: false
                    Atol_Prot_Tp:
                      type: string
                      description: ATOL protection type
                      example: "PKG"
                    Atol_Prot_By:
                      type: string
                      description: ATOL protection provider
                      example: "TO"
                    Atol_Prot_Issuer:
                      type: string
                      description: ATOL protection issuer
                      example: "TO"
                    Summary_Prices:
                      type: object
                      description: Summary of prices
                      properties:
                        Summary_Price:
                          type: array
                          description: List of summary prices
                          items:
                            type: object
                            properties:
                              Prc_Tp_Cd:
                                type: string
                                description: Price type code
                                example: "ACRMAD"
                              Prc_Tp_Name:
                                type: string
                                description: Price type name
                                example: "Adult Package Price"
                              Qty:
                                type: integer
                                description: Quantity
                                example: 2
                              Prc:
                                type: number
                                format: float
                                description: Price amount
                                example: 1796.0
                Agt_No:
                  type: string
                  description: Agent number
                  example: "MARCR"
                CusDet:
                  type: object
                  description: Customer details information
                  properties:
                    "New_Cus":
                      type: boolean
                      description: Flag indicating if this is a new customer
                      example: false
                    Person:
                      type: object
                      description: Person information
                      properties:
                        Add:
                          type: object
                          description: Address information
                          properties:
                            Name:
                              type: string
                              description: Name or company name
                              example: "T U I Wigmore House,"
                            Street:
                              type: string
                              description: Street address
                              example: "Wigmore Lane"
                            ZipCode:
                              type: string
                              description: Postal/ZIP code
                              example: "LU2 9TN"
                            City:
                              type: string
                              description: City name
                              example: "LUTON"
                            CountryISOCode:
                              type: string
                              description: ISO country code
                              example: "GB"
                        Comm:
                          type: object
                          description: Communication information
                          properties:
                            CommType:
                              type: string
                              description: Communication type
                              example: "TYPE_MOBILE"
                            Sphere:
                              type: string
                              description: Communication sphere (private/business)
                              example: "SPHERE_PRIVATE"
                            AreaCode:
                              type: string
                              description: Area code
                              example: "NULL"
                            Num:
                              type: string
                              description: Phone number
                              example: "07555889000"
                        Email:
                          type: object
                          description: Email information
                          properties:
                            Address:
                              type: string
                              format: email
                              description: Email address
                              example: "sudharshan.mb@tui.co.uk"
                            Sphere:
                              type: string
                              description: Email sphere (private/business)
                              example: "SPHERE_PRIVATE"
                        Marketing:
                          type: object
                          description: Marketing preferences
                          properties:
                            Mailshot:
                              type: boolean
                              description: Consent for mail marketing
                              example: true
                            Tel:
                              type: boolean
                              description: Consent for telephone marketing
                              example: true
                            By_Email:
                              type: boolean
                              description: Consent for email marketing
                              example: true
                            By_SMS:
                              type: boolean
                              description: Consent for SMS marketing
                              example: true
                TrvDox:
                  type: object
                  description: Travel documents information
                  properties:
                    DocumentReceiver:
                      type: string
                      description: Entity that receives the documents (e.g., PAYER, AGENCY)
                      example: "PAYER"
                    DoxLang:
                      type: string
                      description: Document language
                      example: "en_EN"
                    Next_Travel_Dox_Prt_Dt:
                      type: string
                      format: date-time
                      description: Next travel document print date
                      example: "2026-07-04T23:59:59+01:00"
                    ConfPrt:
                      type: boolean
                      description: Confirmation printed flag
                      example: false
                    Travel_Dox_Stop:
                      type: boolean
                      description: Flag to stop travel document generation
                      example: false
                    Conf_Stop:
                      type: boolean
                      description: Flag to stop confirmation generation
                      example: false
                    Travel_Dox_No_Price:
                      type: boolean
                      description: Flag to exclude prices from travel documents
                      example: false
                    Travel_Dox_Per_Person:
                      type: boolean
                      description: Flag to generate per-person travel documents
                      example: false
                    Print_Voucher_Immed:
                      type: boolean
                      description: Flag to print vouchers immediately
                      example: false
                PayData:
                  type: object
                  description: Payment data information
                  properties:
                    Dpt:
                      type: array
                      description: Deposit information
                      items:
                        type: object
                        properties:
                          "Type":
                            type: string
                            description: Deposit type (LOW/HIGH)
                            example: "LOW"
                          CurISO:
                            type: string
                            description: Currency ISO code
                            example: "GBP"
                          Amt:
                            type: number
                            format: float
                            description: Deposit amount
                            example: 250.0
                          Dep_Dt:
                            type: string
                            format: date
                            description: Deposit date
                            example: "2025-04-29"
                    Bkg_Prc_Ex:
                      type: object
                      description: Booking price excluding taxes/fees
                      properties:
                        CurISO:
                          type: string
                          description: Currency ISO code
                          example: "GBP"
                        Amt:
                          type: number
                          format: float
                          description: Amount
                          example: 3450.32
                    Bkg_Prc_Inc:
                      type: object
                      description: Booking price including taxes/fees
                      properties:
                        CurISO:
                          type: string
                          description: Currency ISO code
                          example: "GBP"
                        Amt:
                          type: number
                          format: float
                          description: Total amount
                          example: 3450.32
                        Bal_Due_Amt:
                          type: number
                          format: float
                          description: Balance due amount
                          example: 3450.32
                        Bal_Due_Dt:
                          type: string
                          format: date
                          description: Balance due date
                          example: "2026-05-09"
                    Tot_Amt:
                      type: number
                      format: float
                      description: Total amount
                      example: 3450.32
                    Agt_Com:
                      type: number
                      format: float
                      description: Agent commission
                      example: 0.0
                    Comm_Inc_VAT:
                      type: number
                      format: float
                      description: Commission including VAT
                      example: 0.0
                    VAT:
                      type: number
                      format: float
                      description: VAT amount
                      example: 0.0
                    Payment_Received:
                      type: number
                      format: float
                      description: Payment received amount
                      example: 0.0
                    Tot_Refund_Amt:
                      type: number
                      format: float
                      description: Total refund amount
                      example: 0.0
                    Tot_Dpt:
                      type: number
                      format: float
                      description: Total deposit amount
                      example: 600.0
                Pax:
                  type: array
                  description: Passenger information
                  items:
                    type: object
                    properties:
                      "Age":
                        type: integer
                        description: Passenger age
                        example: 30
                      "Index":
                        type: integer
                        description: Passenger index/position
                        example: 1
                      Person:
                        type: object
                        description: Person details
                        properties:
                          FirstName:
                            type: string
                            description: First name
                            example: "TEST"
                          LastName:
                            type: string
                            description: Last name
                            example: "PASSENGER"
                          Title:
                            type: string
                            description: Title (Mr, Mrs, Ms, etc.)
                            example: "Mr"
                          Sex:
                            type: string
                            description: Gender
                            enum: [ "SEX_MALE", "SEX_FEMALE" ]
                            example: "SEX_MALE"
                          PersonType:
                            type: string
                            description: Person type
                            enum: [ "TYPE_NATURAL", "TYPE_LEGAL" ]
                            example: "TYPE_NATURAL"
                      Pax_Tp:
                        type: string
                        description: Passenger type
                        enum: [ "ADULT", "CHILD", "INFANT" ]
                        example: "ADULT"
                      Lead_Pax:
                        type: boolean
                        description: Flag indicating if this is the lead passenger
                        example: true
                DD_Marketing_Sts:
                  type: string
                  description: Direct debit marketing status
                  example: "V0"
                Prom:
                  type: object
                  description: Promotion information
                  properties:
                    "Code":
                      type: string
                      description: Promotion code
                      example: "BGCR"
                    "Issue":
                      type: integer
                      description: Issue number
                      example: 1
                    "Name":
                      type: string
                      description: Promotion name
                      example: "Marella Cruises"
                    "Prom_Group_Code":
                      type: string
                      description: Promotion group code
                      example: "CRMP"
                    "Brand":
                      type: string
                      description: Brand code
                      example: "S"
                    TEXT:
                      type: string
                      description: Additional text information
                      example: "NULL"
                Source:
                  type: object
                  description: Booking source information
                  properties:
                    "Cd":
                      type: string
                      description: Source code
                      example: "AGEN"
                    "Name":
                      type: string
                      description: Source name
                      example: "Shop Booking"
                    TEXT:
                      type: string
                      description: Additional text information
                      example: "NULL"
                Sub_Source:
                  type: object
                  description: Booking sub-source information
                  properties:
                    "Cd":
                      type: string
                      description: Sub-source code
                      example: "ZWEB"
                    "Name":
                      type: string
                      description: Sub-source name
                      example: "Web Booking"
                    TEXT:
                      type: string
                      description: Additional text information
                      example: "NULL"
                Incident_Sts:
                  type: string
                  description: Incident status
                  example: "NA"
                Insurance_Method:
                  type: string
                  description: Insurance method
                  example: "EXT"
                Retail_Bkg_Id:
                  type: integer
                  description: Retail booking ID
                  example: -1
                Ext_Pay_Ref:
                  type: string
                  description: External payment reference
                  example: "430 05201"
                Bkg_Type_Mth:
                  type: string
                  description: Booking type method
                  example: "RET"
                Credited_User:
                  type: object
                  description: Credited user information
                  properties:
                    "Code":
                      type: string
                      description: User code
                      example: "MCUSER"
                    "Name":
                      type: string
                      description: User name
                      example: "Marella Cruises (Sys Default)"
                    TEXT:
                      type: string
                      description: Additional text information
                      example: "NULL"
                Market:
                  type: object
                  description: Market information
                  properties:
                    "Code":
                      type: string
                      description: Market code
                      example: "BCTH"
                    TEXT:
                      type: string
                      description: Market description
                      example: "B2C TUI UK (£)"
                Agent_Group:
                  type: object
                  description: Agent group information
                  properties:
                    "Code":
                      type: string
                      description: Agent group code
                      example: "MARELLA"
                    "Name":
                      type: string
                      description: Agent group name
                      example: "Marella Websites"
                    TEXT:
                      type: string
                      description: Additional text information
                      example: "NULL"

    ValidateHolidayRequest:
      type: object
      required:
        - InfoBookingRequest
      properties:
        InfoBookingRequest:
          $ref: '#/components/schemas/InfoBookingRequest'

    ValidateHolidayResponse:
      type: object
      required:
        - TILInfoBookingResponse
      properties:
        TILInfoBookingResponse:
          $ref: '#/components/schemas/TILInfoBookingResponse'

    InfoBookingRequest:
      type: object
      required:
        - DiscardSession
        - Adm
        - BkgSts
        - BkgEnt
        - Pax
        - Source
        - SubSource
      properties:
        DiscardSession:
          type: string
          description: Flag to indicate if the session should be discarded
          example: "true"
        Adm:
          $ref: '#/components/schemas/ValHolidayRequestAdm'
        BkgSts:
          type: string
          description: Status of the booking
          example: "BOOKING"
        Bkg_Ent:
          $ref: '#/components/schemas/ValHolidayRequestBkg_Ent'
        Pax:
          type: array
          description: List of passengers in the booking
          items:
            $ref: '#/components/schemas/Pax'
        Source:
          $ref: '#/components/schemas/ValHolidayRequestSource'
        Sub_Source:
          $ref: '#/components/schemas/ValHolidayRequestSub_Source'

    TILInfoBookingResponse:
      type: object
      required:
        - TUITILResponse
        - InfoBookingResponse
      properties:
        TUITILResponse:
          $ref: '#/components/schemas/TUITILResponse'
        InfoBookingResponse:
          $ref: '#/components/schemas/InfoBookingResponse'

    TUITILResponse:
      type: object
      required:
        - Result
      properties:
        Result:
          type: object
          required:
            - ResponseCode
            - Description
            - CorrelationID
          properties:
            ResponseCode:
              type: string
              description: Response code indicating the status of the request
              example: "0000"
            Description:
              type: string
              description: Description of the response status
              example: "SUCCESS"
            CorrelationID:
              type: string
              description: Unique identifier for correlating the request and response
              example: "fdd8c683-cf4e-4256-8cf6-f5b134145167"
            Service_version:
              type: string
              description: Version of the service
              example: "v3"
            Xsd_version:
              type: string
              description: Version of the XSD schema
              example: "T3.22.19.1"

    InfoBookingResponse:
      type: object
      required:
        - Adm
        - BkgSts
        - Bkg_Ent
        - Pax
      properties:
        Adm:
          $ref: '#/components/schemas/ValHolidayResponseAdm'
        CltInfo:
          $ref: '#/components/schemas/ValHolidayResponseCltInfo'
        BkgSts:
          type: string
          description: Status of the booking
          example: "BOOKING"
        ResSts:
          type: string
          description: Reservation status
          example: "CONFIRMED"
        Super_Ref2:
          type: string
          description: Super reference 2
          example: "NULL"
        HasAgt_Notice:
          type: boolean
          description: Has agent notice flag
          example: false
        StsExpDateMax:
          type: string
          format: date-time
          description: Status expiration date maximum
          example: "2026-08-04T00:00:00+01:00"
        His:
          type: object
          properties:
            Bkg_Dt_Tm:
              type: string
              format: date-time
              description: Booking date and time
              example: "2025-05-01T14:02:01+01:00"
        Bkg_Ent:
          $ref: '#/components/schemas/ValHolidayResponseBkg_Ent'
        Agt_No:
          type: string
          description: Agent number
          example: "MARCR"
        PayData:
          $ref: '#/components/schemas/PayData'
        Pax:
          type: array
          items:
            $ref: '#/components/schemas/Pax'
        DD_Marketing_Sts:
          type: string
          description: Direct debit marketing status
          example: "V0"
        DD_Mandate:
          type: object
          properties:
            'Apply_Sts':
              type: string
              description: Apply status
              example: "DISA"
            TEXT:
              type: string
              description: Additional text
              example: "NULL"
        Prom:
          $ref: '#/components/schemas/ValHolidayResponseProm'
        Source:
          $ref: '#/components/schemas/ValHolidayResponseSource'
        Sub_Source:
          $ref: '#/components/schemas/ValHolidayResponseSub_Source'
        Incident_Sts:
          type: string
          example: "NA"
          description: Incident status
        Insurance_Method:
          type: string
          example: "EXT"
          description: Insurance method
        Retail_Bkg_Id:
          type: integer
          example: -1
          description: Retail booking ID
        Bkg_Type_Mth:
          type: string
          example: "RET"
          description: Booking type method
        Market:
          type: object
          properties:
            "Code":
              type: string
              example: "BCTH"
              description: Market code
            TEXT:
              type: string
              example: "B2C TUI UK (£)"
              description: Market description
        Agent_Group:
          type: object
          properties:
            "Code":
              type: string
              example: "MARELLA"
              description: Agent group code
            "Name":
              type: string
              example: "Marella Websites"
              description: Agent group name
            TEXT:
              type: string
              example: "NULL"
              description: Additional text information

    ValHolidayRequestAdm:
      type: object
      properties:
        ReqId:
          type: string
          description: Request identifier
          example: "node1-6eaY7EbD"

    ValHolidayResponseAdm:
      type: object
      properties:
        "Debug":
          type: boolean
          example: false
        "IncludeDetailedPerfStats":
          type: boolean
          example: false
        "Xsd_Ver":
          type: string
          example: "T3.22.20.1"
        ReqId:
          type: string
          example: "node1-6eaY7EbD"
        Tm:
          type: string
          format: date-time
          example: "2025-05-01T14:02:04.070882+01:00"
        Trk:
          type: object
          properties:
            "From":
              type: string
              example: "atcomres"
            "To":
              type: string
              example: "phoenix"
            TEXT:
              type: string
              example: "NULL"

    ValHolidayRequestBkg_Ent:
      type: object
      properties:
        Accom:
          $ref: '#/components/schemas/ValHolidayRequestAccommodation'
        Package:
          $ref: '#/components/schemas/ValHolidayRequestPackage'
        Item:
          type: array
          description: List of additional items in the booking
          items:
            $ref: '#/components/schemas/Item'

    ValHolidayResponseBkg_Ent:
      type: object
      properties:
        'Amend_Mth':
          type: string
          description: Amendment method
          example: "ALL"
        Accom:
          $ref: '#/components/schemas/ValHolidayResponseAccommodation'
        Package:
          $ref: '#/components/schemas/ValHolidayResponsePackage'
        Item:
          type: array
          items:
            $ref: '#/components/schemas/ValHolidayResponseItem_Element'
        Flt_Extra_Cat_List:
          $ref: '#/components/schemas/Flt_Extra_Cat_List'
        CurISO:
          type: string
[...]
