openapi: 3.2.0
info:
  title: NewSkies-Digital-Api APIS Message API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: apisMessage
paths:
  /api/nsk/v1/apisMessage:
    post:
      tags:
      - apisMessage
      summary: 'Takes the ApisMessage Request and sends it to core to queue a new message.

        Returns 201 in the response if message successfully queued and a message with Verified and Infant Counts,

        and 400 if errors occur (And failure text (if any) will be returned).'
      description: 'GraphQL endpoint: apisMessageQueue'
      operationId: nsk_v1_apisMessage_post
      requestBody:
        x-name: request
        description: The generate APIS Message Request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApisQueueRequest'
        required: true
        x-position: 1
      responses:
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
components:
  schemas:
    MarketInformation:
      type: object
      description: "Model information about the market arrival and destination details.\n            "
      additionalProperties: false
      required:
      - destination
      - origin
      - departureDate
      - identifier
      properties:
        destination:
          type: string
          description: "Gets or sets the leg arrival station.\n            "
          maxLength: 3
          minLength: 0
        origin:
          type: string
          description: "Gets or sets the leg departure station.\n            "
          maxLength: 3
          minLength: 0
        departureDate:
          type: string
          description: "The departure date.\n            "
          format: date-time
          minLength: 1
        identifier:
          description: "Gets or sets the leg arrival station.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
    TransportationIdentifier:
      type: object
      description: "Represents the transportation identifier model data.\n            "
      additionalProperties: false
      required:
      - identifier
      - carrierCode
      properties:
        identifier:
          type: string
          description: "The unique transportation identifier.\n            "
          maxLength: 4
          minLength: 0
        carrierCode:
          type: string
          description: "The carrier code.\n            "
          maxLength: 3
          minLength: 2
        opSuffix:
          type:
          - string
          - 'null'
          description: "The op suffix.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    MessageStatus:
      type: integer
      description: "Defines the message status.\n            \n\n0 = General\n1 = Warning\n2 = Critical"
      x-enumNames:
      - General
      - Warning
      - Critical
      enum:
      - 0
      - 1
      - 2
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    ApisQueueRequest:
      type: object
      description: "Request object for SendAPIS transaction. Matches to the SendAPISRequest object in NSK.\n            "
      additionalProperties: false
      properties:
        apisRequestType:
          description: "Used to specify what type of APIS request this is.\nDefault is APISRequestType.APISRequest.\n            "
          $ref: '#/components/schemas/ApisRequestType'
        contactPhone:
          type:
          - string
          - 'null'
          description: "Gets or Sets ContactPhone property.\n            "
        faxNumber:
          type:
          - string
          - 'null'
          description: "Gets or Sets FaxNumber property.\n            "
        targetCountry:
          type:
          - string
          - 'null'
          description: "Only send APIS or CLOB to this CountryCode message targets.\n            "
        contactName:
          description: "Gets or Sets ContactName property.\n            "
          $ref: '#/components/schemas/Name'
        marketInformation:
          description: "Contains the MarketInformation that identifies a flight.\n            "
          $ref: '#/components/schemas/MarketInformation'
    ErrorResponse:
      type: object
      description: "Defines a unique error response.\n            "
      additionalProperties: false
      properties:
        exception:
          description: "The original exception that was thrown and all the exception details.\n            "
          $ref: '#/components/schemas/Exception'
        rawMessage:
          type:
          - string
          - 'null'
          description: "The original raw message set (non-localized).\n            "
        code:
          type:
          - string
          - 'null'
          description: "The unique error code. The primary value used to match against a unique message localized for the end user in the\nchosen language.\n            "
        message:
          type:
          - string
          - 'null'
          description: "The error message. Deprecated: Please use the Code instead.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The error type showing severity. Values: Critical, Error, Validation, Information.\n            "
        number:
          type:
          - integer
          - 'null'
          description: "A unique identifier in numeric form. This is required for Splunk logging. If none is provided a number will be\ngenerated based on code and type.\n            "
          format: int32
          maximum: 99999.0
          minimum: 0.0
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the error.\n            "
          additionalProperties:
            type: string
        ActivityId:
          type:
          - string
          - 'null'
          description: "The activity ID unique to the request. Useful for debugging purposes to uniquely look up what happened for this\nspecific request.\n            "
    ApisRequestType:
      type: integer
      description: "The APIS Message Request Types. Determines which message is queued.\n            \n\n0 = APISRequest\n1 = APISPreRequest\n2 = APISWithFlightVerify\n3 = EUBPreRequest\n4 = EUBCloseRequest\n5 = UNAPISPreRequest\n6 = FlightClose\n7 = ClosePending"
      x-enumNames:
      - APISRequest
      - APISPreRequest
      - APISWithFlightVerify
      - EUBPreRequest
      - EUBCloseRequest
      - UNAPISPreRequest
      - FlightClose
      - ClosePending
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
    Name:
      type: object
      description: "Defines a common name.\n            "
      additionalProperties: false
      properties:
        first:
          type:
          - string
          - 'null'
          description: "The given first name.\n            "
          maxLength: 32
          minLength: 0
        middle:
          type:
          - string
          - 'null'
          description: "The given middle name.\n            "
          maxLength: 32
          minLength: 0
        last:
          type:
          - string
          - 'null'
          description: "The given last name.\n            "
          maxLength: 32
          minLength: 0
        title:
          type:
          - string
          - 'null'
          description: "The title.\n            "
          maxLength: 6
          minLength: 0
        suffix:
          type:
          - string
          - 'null'
          description: "The suffix.\n            "
          maxLength: 6
          minLength: 0
  securitySchemes:
    JWT:
      type: http
      description: Paste your JWT token from the token endpoint.
      scheme: bearer
      bearerFormat: jwt
x-generator: NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))
