openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Verified Travel Documents API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: verifiedTravelDocuments
paths:
  /api/dcs/v1/verifiedTravelDocuments:
    put:
      tags:
      - verifiedTravelDocuments
      summary: Updates a list of verified travel documents for a passenger and associated infant.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        The following items are required to use this endpoint.

        Agent permissions.

        Government Security Drivers need to be enabled under government security configurations.

        Government Security Drivers need to be configured to approve the given document type.

        The given document must be a document type approved by customs.

        The target passenger must be either checked in or boarded on the target segment.

        Due to the nature of this endpoint there is no data returned. To confirm successful update you can find an

        entry in the booking history using `/api/nsk/v1/bookings/{bookingKey}/history` or view passenger segment

        information by pulling the booking using `/api/nsk/v1/bookings/{recordLocator}`

        If you would like to remove all verified travel documents from a passenger please use DELETE

        `/api/dcs/v1/verifiedTravelDocuments/{recordLocator}/segments/{segmentKey}/passengers/{passengerKey}`


        GraphQL endpoint: verifiedTravelDocumentsSet'
      operationId: dcs_v1_verifiedTravelDocuments_put
      requestBody:
        x-name: request
        description: The request for updating verified travel documents on a bookings.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVerifiedTravelDocumentsRequest'
            examples:
              Example updated verified travel documents request:
                description: An example of an update verified travel documents request.
                value:
                  recordLocator: ABC123
                  segmentKey: TlZ_NTYwOH4gfn5TTEN_MDcvMjEvMjAyNCAxNzowMH5CT1N_MDcvMjEvMjAyNCAyMzo1OX5_
                  passengerKey: MCFBRFQ-
                  verifiedTravelDocuments:
                  - documentTypeCode: P
                    issuedByCode: US
                    isInfant: false
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid Record Locator Error:
                  description: Example error when record locator is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        recordLocator: 9SkFNRegdQRYuQ3YfA2g9
                      rawMessage: The identifier 'RecordLocator' with value '9SkFNRegdQRYuQ3YfA2g9' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Passenger Key Error:
                  description: Example error when passenger key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        passengerKey: JoKwkYODu4gNYRwNQo
                      rawMessage: The identifier 'PassengerKey' with value 'JoKwkYODu4gNYRwNQo' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Segment Key Error:
                  description: Example error when segment key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        segmentKey: JoKwkYODu4gNYRwNQo
                      rawMessage: The identifier 'SegmentKey' with value 'JoKwkYODu4gNYRwNQo' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Lift Status Error:
                  description: Example error when lift status is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidLiftStatus
                      message: Updating verified travel documents requires the passenger to have a lift status of checked in or boarded. Lift status for passenger JoKwkYODu4gNYRwNQo is currently Default.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Document Type Error:
                  description: Example error when document type is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidDocumentType
                      message: The document type code 'INVALID' is invalid or inactive.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Issued by Code Error:
                  description: Example error when document issued by code is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidIssuedByCode
                      message: The issued by code 'INVALID' is invalid or inactive.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/verifiedTravelDocuments/{recordLocator}/segments/{segmentKey}/passengers/{passengerKey}:
    post:
      tags:
      - verifiedTravelDocuments
      summary: Adds a new verified travel document to a passenger or the associated infant.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        The following items are required to use this endpoint.

        Agent permissions.

        Government Security Drivers need to be enabled under government security configurations.

        Government Security Drivers need to be configured to approve the given document type.

        The given document must be a document type approved by customs.

        The target passenger must be either checked in or boarded on the target segment.

        Due to the nature of this endpoint there is no data returned. To confirm successful update you can find an

        entry in the booking history using GET `/api/nsk/v1/bookings/{bookingKey}/history` or view passenger segment

        information by pulling the booking using GET `/api/nsk/v1/bookings/{recordLocator}`


        GraphQL endpoint: verifiedTravelDocumentsAdd'
      operationId: dcs_v1_verifiedTravelDocuments_recordLocator_segments_segmentKey_passengers_passengerKey_post
      parameters:
      - name: recordLocator
        in: path
        required: true
        description: The record locator of the target booking.
        schema:
          type: string
        x-position: 1
      - name: segmentKey
        in: path
        required: true
        description: The target segment key.
        schema:
          type: string
        x-position: 2
      - name: passengerKey
        in: path
        required: true
        description: The target passenger key.
        schema:
          type: string
        x-position: 3
      requestBody:
        x-name: request
        description: The request for updating verified travel documents on a bookings.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifiedTravelDocument'
            examples:
              Example verified travel document:
                description: An example of a basic verified travel document.
                value:
                  documentTypeCode: P
                  issuedByCode: US
                  isInfant: false
        required: true
        x-position: 4
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid Record Locator Error:
                  description: Example error when record locator is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        recordLocator: 9SkFNRegdQRYuQ3YfA2g9
                      rawMessage: The identifier 'RecordLocator' with value '9SkFNRegdQRYuQ3YfA2g9' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Passenger Key Error:
                  description: Example error when passenger key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        passengerKey: JoKwkYODu4gNYRwNQo
                      rawMessage: The identifier 'PassengerKey' with value 'JoKwkYODu4gNYRwNQo' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Segment Key Error:
                  description: Example error when segment key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        segmentKey: JoKwkYODu4gNYRwNQo
                      rawMessage: The identifier 'SegmentKey' with value 'JoKwkYODu4gNYRwNQo' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Lift Status Error:
                  description: Example error when lift status is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidLiftStatus
                      message: Updating verified travel documents requires the passenger to have a lift status of checked in or boarded. Lift status for passenger JoKwkYODu4gNYRwNQo is currently Default.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Document Type Error:
                  description: Example error when document type is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidDocumentType
                      message: The document type code 'INVALID' is invalid or inactive.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Issued by Code Error:
                  description: Example error when document issued by code is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidIssuedByCode
                      message: The issued by code 'INVALID' is invalid or inactive.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
    delete:
      tags:
      - verifiedTravelDocuments
      summary: Deletes the verified travel documents for a passenger and associated infant.
      description: 'Requires agent permissions.

        This will delete all verified documents associated with the passenger which includes infant travel documents.

        If you would like to update the list without removing all of them please use PUT

        `/api/dcs/v1/verifiedTravelDocuments`

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: verifiedTravelDocumentsDelete'
      operationId: dcs_v1_verifiedTravelDocuments_recordLocator_segments_segmentKey_passengers_passengerKey_delete
      parameters:
      - name: recordLocator
        in: path
        required: true
        description: The record locator of the target booking.
        schema:
          type: string
        x-position: 1
      - name: segmentKey
        in: path
        required: true
        description: The target segment key.
        schema:
          type: string
        x-position: 2
      - name: passengerKey
        in: path
        required: true
        description: The target passenger key.
        schema:
          type: string
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid Record Locator Error:
                  description: Example error when record locator is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        recordLocator: 9SkFNRegdQRYuQ3YfA2g9
                      rawMessage: The identifier 'RecordLocator' with value '9SkFNRegdQRYuQ3YfA2g9' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Passenger Key Error:
                  description: Example error when passenger key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        passengerKey: JoKwkYODu4gNYRwNQo
                      rawMessage: The identifier 'PassengerKey' with value 'JoKwkYODu4gNYRwNQo' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Segment Key Error:
                  description: Example error when segment key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        segmentKey: JoKwkYODu4gNYRwNQo
                      rawMessage: The identifier 'SegmentKey' with value 'JoKwkYODu4gNYRwNQo' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Lift Status Error:
                  description: Example error when lift status is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidLiftStatus
                      message: Updating verified travel documents requires the passenger to have a lift status of checked in or boarded. Lift status for passenger JoKwkYODu4gNYRwNQo is currently Default.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Document Type Error:
                  description: Example error when document type is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidDocumentType
                      message: The document type code 'INVALID' is invalid or inactive.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Issued by Code Error:
                  description: Example error when document issued by code is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidIssuedByCode
                      message: The issued by code 'INVALID' is invalid or inactive.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  ? /api/dcs/v1/verifiedTravelDocuments/{recordLocator}/segments/{segmentKey}/passengers/{passengerKey}/documents/{documentKey}
  : post:
      tags:
      - verifiedTravelDocuments
      summary: Adds a new verified travel document to a passenger or the associated infant by the document key.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        The following items are required to use this endpoint.

        Agent permissions.

        Government Security Drivers need to be enabled under government security configurations.

        Government Security Drivers need to be configured to approve the given document type.

        The given document must be a document type approved by customs.

        The target passenger must be either checked in or boarded on the target segment.

        Due to the nature of this endpoint there is no data returned. To confirm successful update you can find an

        entry in the booking history using `/api/nsk/v1/bookings/{bookingKey}/history` or view passenger segment

        information by pulling the booking using `/api/nsk/v1/bookings/{recordLocator}`


        GraphQL endpoint: verifiedTravelDocumentsAddByKey'
      operationId: dcs_v1_verifiedTravelDocuments_recordLocator_segments_segmentKey_passengers_passengerKey_documents_documentKey_post
      parameters:
      - name: recordLocator
        in: path
        required: true
        description: The record locator of the target booking.
        schema:
          type: string
        x-position: 1
      - name: segmentKey
        in: path
        required: true
        description: The target segment key.
        schema:
          type: string
        x-position: 2
      - name: passengerKey
        in: path
        required: true
        description: The target passenger key.
        schema:
          type: string
        x-position: 3
      - name: documentKey
        in: path
        required: true
        description: The document key of the document you would like to verify.
        schema:
          type: string
        x-position: 4
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid Record Locator Error:
                  description: Example error when record locator is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        recordLocator: 9SkFNRegdQRYuQ3YfA2g9
                      rawMessage: The identifier 'RecordLocator' with value '9SkFNRegdQRYuQ3YfA2g9' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Passenger Key Error:
                  description: Example error when passenger key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        passengerKey: JoKwkYODu4gNYRwNQo
                      rawMessage: The identifier 'PassengerKey' with value 'JoKwkYODu4gNYRwNQo' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Segment Key Error:
                  description: Example error when segment key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        segmentKey: JoKwkYODu4gNYRwNQo
                      rawMessage: The identifier 'SegmentKey' with value 'JoKwkYODu4gNYRwNQo' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Lift Status Error:
                  description: Example error when lift status is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidLiftStatus
                      message: Updating verified travel documents requires the passenger to have a lift status of checked in or boarded. Lift status for passenger JoKwkYODu4gNYRwNQo is currently Default.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Document Type Error:
                  description: Example error when document type is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidDocumentType
                      message: The document type code 'INVALID' is invalid or inactive.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Issued by Code Error:
                  description: Example error when document issued by code is invalid.
                  value:
                    errors:
                    - id: null
                      code: dcs:VerifiedTravelDocuments:InvalidIssuedByCode
                      message: The issued by code 'INVALID' is invalid or inactive.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
components:
  schemas:
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    MessageStatus:
      type: integer
      description: "Defines the message status.\n            \n\n0 = General\n1 = Warning\n2 = Critical"
      x-enumNames:
      - General
      - Warning
      - Critical
      enum:
      - 0
      - 1
      - 2
    VerifiedTravelDocument:
      type: object
      description: "The model for a dotRez verified travel document.\n            "
      additionalProperties: false
      required:
      - documentTypeCode
      - issuedByCode
      properties:
        documentTypeCode:
          type: string
          description: "The unique travel document type code.\n            "
          maxLength: 4
          minLength: 0
        issuedByCode:
          type: string
          description: "The issuer code for the travel document (country code).\n            "
          maxLength: 3
          minLength: 0
        isInfant:
          type: boolean
          description: "Flag for if this verified travel document is for an infant or not.\n            "
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    UpdateVerifiedTravelDocumentsRequest:
      type: object
      description: "The model for a dotRez updated verified travel documents request.\n            "
      additionalProperties: false
      required:
      - recordLocator
      - segmentKey
      - passengerKey
      - verifiedTravelDocuments
      properties:
        recordLocator:
          type: string
          description: "The record locator of the booking.\n            "
          minLength: 1
        segmentKey:
          type: string
          description: "The segment key.\n            "
          minLength: 1
        passengerKey:
          type: string
          description: "The passenger key.\n            "
          minLength: 1
        verifiedTravelDocuments:
          type: array
          description: "The list of verified travel documents.\n            "
          items:
            $ref: '#/components/schemas/VerifiedTravelDocument'
    ErrorResponse:
      type: object
      description: "Defines a unique error response.\n            "
      additionalProperties: false
      properties:
        exception:
          description: "The original exception that was thrown and all the exception details.\n            "
          $ref: '#/components/schemas/Exception'
        rawMessage:
          type:
          - string
          - 'null'
          description: "The original raw message set (non-localized).\n            "
        code:
          type:
          - string
          - 'null'
          description: "The unique error code. The primary value used to match against a unique message localized for the end user in the\nchosen language.\n            "
        message:
          type:
          - string
          - 'null'
          description: "The error message. Deprecated: Please use the Code instead.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The error type showing severity. Values: Critical, Error, Validation, Information.\n            "
        number:
          type:
          - integer
          - 'null'
          description: "A unique identifier in numeric form. This is required for Splunk logging. If none is provided a number will be\ngenerated based on code and type.\n            "
          format: int32
          maximum: 99999.0
          minimum: 0.0
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the error.\n            "
          additionalProperties:
            type: string
        ActivityId:
          type:
          - string
          - 'null'
          description: "The activity ID unique to the request. Useful for debugging purposes to uniquely look up what happened for this\nspecific request.\n            "
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
  securitySchemes:
    JWT:
      type: http
      description: Paste your JWT token from the token endpoint.
      scheme: bearer
      bearerFormat: jwt
x-generator: NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))
