openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Persons API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: persons
paths:
  /api/nsk/v1/persons:
    post:
      tags:
      - persons
      summary: Creates a new person record (used by agents).
      description: 'This endpoint requires agent permissions.


        GraphQL endpoint: personAdd'
      operationId: nsk_v1_persons_post
      requestBody:
        x-name: request
        description: The person create request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonCreateRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/persons:
    get:
      tags:
      - persons
      summary: Search person records.
      description: 'GraphQL endpoint: personSearchv2'
      operationId: nsk_v2_persons_get
      parameters:
      - name: LastIndex
        in: query
        description: "The index of the last paged item.  This can be found on the\nresponse from the previous set of paged results.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 1
      - name: Username
        in: query
        description: "The person user name to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: FirstName
        in: query
        description: "The person's first name to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: LastName
        in: query
        description: "The person's last name to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: FirstNameMatching
        in: query
        description: "The matching criteria for the person's first name.\n             \nEnumeration values: 0 = StartsWith, 1 = EndsWith, 2 = Contains, 3 = ExactMatch"
        schema:
          $ref: '#/components/schemas/MatchCriteria'
        x-position: 5
      - name: CustomerNumber
        in: query
        description: "The person's customer number.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: PhoneNumber
        in: query
        description: "The phone number to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: EmailAddress
        in: query
        description: "The email address to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 8
      - name: ProgramNumber
        in: query
        description: "The program number to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 9
      - name: ProgramCode
        in: query
        description: "The program code to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 10
      - name: Type
        in: query
        description: "The person type to search by.\n             \nEnumeration values: 0 = None, 1 = Customer, 2 = Agent"
        schema:
          $ref: '#/components/schemas/PersonType'
        x-position: 11
      - name: NationalIdNumber
        in: query
        description: "The national ID number to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 12
      - name: NationalIdNumberMatching
        in: query
        description: "The matching criteria for the national ID number.\n             \nEnumeration values: 0 = StartsWith, 1 = EndsWith, 2 = Contains, 3 = ExactMatch"
        schema:
          $ref: '#/components/schemas/MatchCriteria'
        x-position: 13
      - name: ReturnCount
        in: query
        description: "The number of results to return.\n            "
        schema:
          type:
          - integer
          - 'null'
        x-position: 14
      - name: ActiveOnly
        in: query
        description: "Include active person records only.\n            "
        schema:
          type: boolean
        x-position: 15
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPersonRecordsResponse'
  /api/nsk/v1/persons/{personKey}:
    get:
      tags:
      - persons
      summary: Retrieves a specific person by key.
      description: 'GraphQL endpoint: person'
      operationId: nsk_v1_persons_personKey_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPerson'
    put:
      tags:
      - persons
      summary: Updates the person record basic information.
      description: 'GraphQL endpoint: personSet'
      operationId: nsk_v1_persons_personKey_put
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The person edit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonEditRequest'
            examples:
              Person Edit Request:
                description: Example request for updating person's basic information.
                value:
                  name:
                    first: John
                    middle: Cee
                    last: Doe
                    title: Mr.
                    suffix: null
                  type: 1
                  status: 0
                  details:
                    gender: 1
                    dateOfBirth: '2006-07-09T05:55:16.0597472+00:00'
                    nationality: US
                    residentCountry: US
                    passengerType: ADT
                    preferredCultureCode: en-US
                    preferredCurrencyCode: USD
                    nationalIdNumber: null
                    declaredGender: null
                  notificationPreference: 0
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Preferred Culture Code:
                  description: The provided culture code in the request is an invalid culture identifier.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:InvalidPreferredCulture
                      message: nsk:Person:InvalidPreferredCulture
                      type: Validation
                      details: null
                      rawMessage: The preferred culture code 'ZZZ' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Preferred Currency Code:
                  description: The provided currency code in the request is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:InvalidPreferredCurrency
                      message: nsk:Person:InvalidPreferredCurrency
                      type: Validation
                      details: null
                      rawMessage: The preferred currency code 'ZZZ' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid First Name:
                  description: The provided first name in the request starts with a numerical or special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidFirstNameCharacters
                      message: 'A first name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      type: Validation
                      details: null
                      rawMessage: 'A first name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Middle Name:
                  description: The provided middle name in the request starts with a special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidMiddleNameCharacters
                      message: 'A middle name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>.'
                      type: Validation
                      details: null
                      rawMessage: 'A middle name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Last Name:
                  description: The provided last name in the request starts with a numerical or special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidLastNameCharacters
                      message: 'A last name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      type: Validation
                      details: null
                      rawMessage: 'A last name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                Update Status Not Allowed:
                  description: The logged-in user is not allowed to update the person's status.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:StatusUpdateNotAllowed
                      message: nsk:Person:StatusUpdateNotAllowed
                      type: Validation
                      details: null
                      rawMessage: The logged-in user is not allowed to update their status.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                Update Type Not Allowed:
                  description: The logged-in user is not allowed to update the person's type.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:TypeUpdateNotAllowed
                      message: nsk:Person:TypeUpdateNotAllowed
                      type: Validation
                      details: null
                      rawMessage: The logged-in user is not allowed to update their type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - persons
      summary: Patches the person record basic information.
      description: 'Only need to send in the data that is being requested to be updated.


        GraphQL endpoint: personModify'
      operationId: nsk_v1_persons_personKey_patch
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The person patch request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPersonEditRequest'
            examples:
              Person Edit Request:
                description: Example request for updating person's basic information.
                value:
                  name:
                    first: John
                    middle: Cee
                    last: Doe
                    title: Mr.
                    suffix: null
                  type: 1
                  status: 0
                  details:
                    gender: 1
                    dateOfBirth: '2006-07-09T05:55:16.06105+00:00'
                    nationality: US
                    residentCountry: US
                    passengerType: ADT
                    preferredCultureCode: en-US
                    preferredCurrencyCode: USD
                    nationalIdNumber: null
                    declaredGender: null
                  notificationPreference: 0
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Preferred Culture Code:
                  description: The provided culture code in the request is an invalid culture identifier.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:InvalidPreferredCulture
                      message: nsk:Person:InvalidPreferredCulture
                      type: Validation
                      details: null
                      rawMessage: The preferred culture code 'ZZZ' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Preferred Currency Code:
                  description: The provided currency code in the request is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:InvalidPreferredCurrency
                      message: nsk:Person:InvalidPreferredCurrency
                      type: Validation
                      details: null
                      rawMessage: The preferred currency code 'ZZZ' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid First Name:
                  description: The provided first name in the request starts with a numerical or special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidFirstNameCharacters
                      message: 'A first name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      type: Validation
                      details: null
                      rawMessage: 'A first name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Middle Name:
                  description: The provided middle name in the request starts with a special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidMiddleNameCharacters
                      message: 'A middle name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>.'
                      type: Validation
                      details: null
                      rawMessage: 'A middle name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Last Name:
                  description: The provided last name in the request starts with a numerical or special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidLastNameCharacters
                      message: 'A last name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      type: Validation
                      details: null
                      rawMessage: 'A last name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                Update Status Not Allowed:
                  description: The logged-in user is not allowed to update the person's status.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:StatusUpdateNotAllowed
                      message: nsk:Person:StatusUpdateNotAllowed
                      type: Validation
                      details: null
                      rawMessage: The logged-in user is not allowed to update their status.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                Update Type Not Allowed:
                  description: The logged-in user is not allowed to update the person's type.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:TypeUpdateNotAllowed
                      message: nsk:Person:TypeUpdateNotAllowed
                      type: Validation
                      details: null
                      rawMessage: The logged-in user is not allowed to update their type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - persons
      summary: Deletes a person by setting the record to terminated.
      description: 'This endpoint requires agent permissions.


        GraphQL endpoint: personDelete'
      operationId: nsk_v1_persons_personKey_delete
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/account:
    get:
      tags:
      - persons
      summary: Retrieves the person account and credits based on the person key.
      description: 'If the currency code is not provided it will default to the currency code associated to the account.


        GraphQL endpoint: personsAccount'
      operationId: nsk_v1_persons_personKey_account_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The person key.
        schema:
          type: string
        x-position: 1
      - name: currencyCode
        in: query
        description: The currency code. This is optional.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAccount'
    post:
      tags:
      - persons
      summary: 'Creates the person account based on the person key and

        data in the request.'
      description: 'GraphQL endpoint: personsAccountAdd'
      operationId: nsk_v1_persons_personKey_account_post
      parameters:
      - name: personKey
        in: path
        required: true
        description: The person key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The create account request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/account/collection:
    post:
      tags:
      - persons
      summary: Creates an account collection based on the person key and data in the request.
      description: 'This endpoint will create a new account collection and a transaction if no account

        transaction exists or no matching collection is found.  An account collection is unique

        based on the transaction code and the expiration date.  If a matching account collection

        is found, a transaction for that collection is generated and the account collection will

        be updated.

        See /api/nsk/v1/resources/accountTransactionCodes for a list of available account transaction

        codes.


        GraphQL endpoint: personsAccountCollectionsAdd'
      operationId: nsk_v1_persons_personKey_account_collection_post
      parameters:
      - name: personKey
        in: path
        required: true
        description: The person key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The create account collection request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCollectionRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/account/collection/{accountCollectionKey}/transactions:
    get:
      tags:
      - persons
      summary: 'Retrieves the person account collection transactions based on the person key,

        the account collection key, and data in the request.'
      description: 'GraphQL endpoint: personsAccountTransactions'
      operationId: nsk_v1_persons_personKey_account_collection_accountCollectionKey_transactions_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The person key.
        schema:
          type: string
        x-position: 1
      - name: accountCollectionKey
        in: path
        required: true
        description: The account collection key.
        schema:
          type: string
        x-position: 2
      - name: StartTime
        in: query
        description: "The starting date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 3
      - name: EndTime
        in: query
        description: "The end date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 4
      - name: SortByNewest
        in: query
        description: "Optional filter to sort results by newest.\n            "
        schema:
          type: boolean
        x-position: 5
      - name: PageSize
        in: query
        description: "Used to specify the number of records to return.\n            "
        schema:
          type:
          - integer
          - 'null'
          maximum: 5000.0
          minimum: 10.0
        x-position: 6
      - name: PageIndex
        in: query
        description: "Represents the index of the requested paged item.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 7
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfTransaction'
              examples:
                Retrieve Transactions Response:
                  description: Example response for retrieving transactions.
                  value:
                    data:
                    - accountTransactionCode: null
                      recordLocator: null
                      accountReference: null
                      transactionKey: MSExITEwMjA4OCJsJNQxATUzMyEhUURRNUZ
                      amount: -2.42
                      createdDate: '2026-07-09T05:55:16.3678462Z'
                      currencyCode: USD
                      foreignAmount: -15.0
                      note: 'Funds Used: PNR123'
                      foreignCurrencyCode: CNY
                      type: 0
                      paymentId: 365423
                      accountCollectionKey: MSex
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Empty Start Date:
                  description: Example response when start date field is empty.
                  value:
                    errors:
                    - id: 154b85c0-1119-42c2-895c-1aa09ec3a85b
                      code: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      message: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      type: Validation
                      details:
                        validation: RequiredAttribute
                        model: TransactionSearchRequestv2
                        member: StartDate
                      rawMessage: The TransactionSearchRequestv2 field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                End Date Before Start Date:
                  description: Example response when end date is before start date.
                  value:
                    errors:
                    - id: 4e33c648-abec-fa59-0877-5e0bfee7ea87
                      code: nsk:Validation:EndDateBeforeStartDate
                      message: nsk:Validation:EndDateBeforeStartDate
                      type: Validation
                      details: null
                      rawMessage: The requested end date of 1/1/2011 occurs before the requested start date of 1/1/2012.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
      deprecated: true
    post:
      tags:
      - persons
      summary: 'Creates an account collection transaction based on the person key, the

        account collection key, and data in the request.'
      description: 'This endpoint will add a transaction to an existing account collection.

        If there are no account collections, or the account collection key does

        not match an existing collection, the request will fail.

        To add a new account collection, see /api/nsk/v1/persons/{personKey}/account/collection.


        GraphQL endpoint: personsAccountTransactionsAdd'
      operationId: nsk_v1_persons_personKey_account_collection_accountCollectionKey_transactions_post
      parameters:
      - name: personKey
        in: path
        required: true
        description: The person key.
        schema:
          type: string
        x-position: 1
      - name: accountCollectionKey
        in: path
        required: true
        description: The account collection key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The create transaction request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequest'
        required: true
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/persons/{personKey}/account/collection/{accountCollectionKey}/transactions:
    get:
      tags:
      - persons
      summary: Retrieves the person account collection transactions based on the person key, the account collection key, and data in the request.
      description: 'GraphQL endpoint: personsAccountTransactionsv2'
      operationId: nsk_v2_persons_personKey_account_collection_accountCollectionKey_transactions_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The person key.
        schema:
          type: string
        x-position: 1
      - name: accountCollectionKey
        in: path
        required: true
        description: The account collection key.
        schema:
          type: string
        x-position: 2
      - name: StartDate
        in: query
        description: "The starting date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 3
      - name: EndDate
        in: query
        description: "The end date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 4
      - name: SortByNewest
        in: query
        description: "Optional filter to sort results by newest.\n            "
        schema:
          type: boolean
        x-position: 5
      - name: PageSize
        in: query
        description: "Used to specify the number of records to return.\n            "
        schema:
          type:
          - integer
          - 'null'
          maximum: 5000.0
          minimum: 10.0
        x-position: 6
      - name: LastPageKey
        in: query
        description: "The last page key where to start paged query.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPagedTransactionResponse'
              examples:
                Retrieve Transactions Successful:
                  description: Example response for a successful retrieval of transactions.
                  value:
                    data:
                      totalCount: 11085
                      lastPageKey: MTAw
                      transactions:
                      - accountTransactionCode: null
                        recordLocator: null
                        accountReference: null
                        transactionKey: MSExITEwMjA4OCJsJNQxATUzMyEhUURRNUZ
                        amount: -2.42
                        createdDate: '2026-07-09T05:55:16.3919295Z'
                        currencyCode: USD
                        foreignAmount: -15.0
                        note: 'Funds Used: PNR123'
                        foreignCurrencyCode: CNY
                        type: 0
                        paymentId: 365423
                        accountCollectionKey: MSex
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Empty Start Date:
                  description: Example response when start date field is empty.
                  value:
                    errors:
                    - id: 154b85c0-1119-42c2-895c-1aa09ec3a85b
                      code: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      message: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      type: Validation
                      details:
                        validation: RequiredAttribute
                        model: TransactionSearchRequestv2
                        member: StartDate
                      rawMessage: The TransactionSearchRequestv2 field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                End Date Before Start Date:
                  description: Example response when end date is before start date.
                  value:
                    errors:
                    - id: 4e33c648-abec-fa59-0877-5e0bfee7ea87
                      code: nsk:Validation:EndDateBeforeStartDate
                      message: nsk:Validation:EndDateBeforeStartDate
                      type: Validation
                      details: null
                      rawMessage: The requested end date of 1/1/2011 occurs before the requested start date of 1/1/2012.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/persons/{personKey}/account/status:
    put:
      tags:
      - persons
      summary: Updates the person account status.
      description: 'GraphQL endpoint: personsAccountStatusSet'
      operationId: nsk_v1_persons_personKey_account_status_put
      parameters:
      - name: personKey
        in: path
        required: true
        description: The person key.
        schema:
          type: string
        x-position: 1
      - name: status
        in: query
        description: "The new account status. \nEnumeration values: 0 = Open, 1 = Closed, 2 = AgencyInactive, 3 = Unknown"
        schema:
          $ref: '#/components/schemas/AccountStatus'
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/account/transactions:
    get:
      tags:
      - persons
      summary: Retrieves all transactions for every collection.
      description: 'GraphQL endpoint: personsAccountAllTransactions'
      operationId: nsk_v1_persons_personKey_account_transactions_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The person key.
        schema:
          type: string
        x-position: 1
      - name: StartTime
        in: query
        description: "The starting date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 2
      - name: EndTime
        in: query
        description: "The end date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 3
      - name: SortByNewest
        in: query
        description: "Optional filter to sort results by newest.\n            "
        schema:
          type: boolean
        x-position: 4
      - name: PageSize
        in: query
        description: "Used to specify the number of records to return.\n            "
        schema:
          type:
          - integer
          - 'null'
          maximum: 5000.0
          minimum: 10.0
        x-position: 5
      - name: PageIndex
        in: query
        description: "Represents the index of the requested paged item.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 6
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfTransaction'
              examples:
                Retrieve Transactions Response:
                  description: Example response for retrieving transactions.
                  value:
                    data:
                    - accountTransactionCode: null
                      recordLocator: null
                      accountReference: null
                      transactionKey: MSExITEwMjA4OCJsJNQxATUzMyEhUURRNUZ
                      amount: -2.42
                      createdDate: '2026-07-09T05:55:16.3701304Z'
                      currencyCode: USD
                      foreignAmount: -15.0
                      note: 'Funds Used: PNR123'
                      foreignCurrencyCode: CNY
                      type: 0
                      paymentId: 365423
                      accountCollectionKey: MSex
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Empty Start Date:
                  description: Example response when start date field is empty.
                  value:
                    errors:
                    - id: 154b85c0-1119-42c2-895c-1aa09ec3a85b
                      code: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      message: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      type: Validation
                      details:
                        validation: RequiredAttribute
                        model: TransactionSearchRequestv2
                        member: StartDate
                      rawMessage: The TransactionSearchRequestv2 field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                End Date Before Start Date:
                  description: Example response when end date is before start date.
                  value:
                    errors:
                    - id: 4e33c648-abec-fa59-0877-5e0bfee7ea87
                      code: nsk:Validation:EndDateBeforeStartDate
                      message: nsk:Validation:EndDateBeforeStartDate
                      type: Validation
                      details: null
                      rawMessage: The requested end date of 1/1/2011 occurs before the requested start date of 1/1/2012.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
      deprecated: true
  /api/nsk/v2/persons/{personKey}/account/transactions:
    get:
      tags:
      - persons
      summary: Retrieves all persons account transactions.
      description: 'GraphQL endpoint: personsAccountAllTransactionsv2'
      operationId: nsk_v2_persons_personKey_account_transactions_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The person key.
        schema:
          type: string
        x-position: 1
      - name: StartDate
        in: query
        description: "The starting date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 2
      - name: EndDate
        in: query
        description: "The end date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 3
      - name: SortByNewest
        in: query
        description: "Optional filter to sort results by newest.\n            "
        schema:
          type: boolean
        x-position: 4
      - name: PageSize
        in: query
        description: "Used to specify the number of records to return.\n            "
        schema:
          type:
          - integer
          - 'null'
          maximum: 5000.0
          minimum: 10.0
        x-position: 5
      - name: LastPageKey
        in: query
        description: "The last page key where to start paged query.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPagedTransactionResponse'
              examples:
                Retrieve Transactions Successful:
                  description: Example response for a successful retrieval of transactions.
                  value:
                    data:
                      totalCount: 11085
                      lastPageKey: MTAw
                      transactions:
                      - accountTransactionCode: null
                        recordLocator: null
                        accountReference: null
                        transactionKey: MSExITEwMjA4OCJsJNQxATUzMyEhUURRNUZ
                        amount: -2.42
                        createdDate: '2026-07-09T05:55:16.3906143Z'
                        currencyCode: USD
                        foreignAmount: -15.0
                        note: 'Funds Used: PNR123'
                        foreignCurrencyCode: CNY
                        type: 0
                        paymentId: 365423
                        accountCollectionKey: MSex
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Empty Start Date:
                  description: Example response when start date field is empty.
                  value:
                    errors:
                    - id: 154b85c0-1119-42c2-895c-1aa09ec3a85b
                      code: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      message: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      type: Validation
                      details:
                        validation: RequiredAttribute
                        model: TransactionSearchRequestv2
                        member: StartDate
                      rawMessage: The TransactionSearchRequestv2 field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                End Date Before Start Date:
                  description: Example response when end date is before start date.
                  value:
                    errors:
                    - id: 4e33c648-abec-fa59-0877-5e0bfee7ea87
                      code: nsk:Validation:EndDateBeforeStartDate
                      message: nsk:Validation:EndDateBeforeStartDate
                      type: Validation
                      details: null
                      rawMessage: The requested end date of 1/1/2011 occurs before the requested start date of 1/1/2012.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/persons/{personKey}/addresses:
    get:
      tags:
      - persons
      summary: Gets the collection of addresses for a specific person.
      description: Gets the collection of addresses for a specific person.
      operationId: nsk_v1_persons_personKey_addresses_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPersonAddress'
    post:
      tags:
      - persons
      summary: Creates a new address for a specific person.
      description: 'GraphQL endpoint: personAddressAdd'
      operationId: nsk_v1_persons_personKey_addresses_post
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAddressCreateRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/addresses/{personAddressKey}:
    get:
      tags:
      - persons
      summary: Gets a specific address for a specific person.
      description: 'GraphQL endpoint: personAddress'
      operationId: nsk_v1_persons_personKey_addresses_personAddressKey_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAddressKey
        in: path
        required: true
        description: The unique address key.
        schema:
          type: string
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPersonAddress'
    put:
      tags:
      - persons
      summary: Updates a specific address for a specific person.
      description: 'GraphQL endpoint: personAddressSet'
      operationId: nsk_v1_persons_personKey_addresses_personAddressKey_put
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAddressKey
        in: path
        required: true
        description: The unique person address key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The modified address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAddressEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - persons
      summary: Patches a specific address for a specific person.
      description: 'GraphQL endpoint: personAddressModify'
      operationId: nsk_v1_persons_personKey_addresses_personAddressKey_patch
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAddressKey
        in: path
        required: true
        description: The unique person address key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The patched address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPersonAddressEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - persons
      summary: Deletes a specific address for a specific person.
      description: 'GraphQL endpoint: personAddressDelete'
      operationId: nsk_v1_persons_personKey_addresses_personAddressKey_delete
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAddressKey
        in: path
        required: true
        description: The unique person address key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/affiliations:
    get:
      tags:
      - persons
      summary: Gets all affiliations for a specific person.
      description: 'GraphQL endpoint: personAffiliations'
      operationId: nsk_v1_persons_personKey_affiliations_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPersonAffiliation'
    post:
      tags:
      - persons
      summary: Creates a new affiliation for a specific person.
      description: 'GraphQL endpoint: personAffiliationAdd'
      operationId: nsk_v1_persons_personKey_affiliations_post
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new affiliation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAffiliationRequest'
            examples:
              Person Affiliation Request:
                description: Example request for creating or updating a person's affiliation.
                value:
                  name: John Doe
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/affiliations/{personAffiliationKey}:
    get:
      tags:
      - persons
      summary: Gets a specific affiliation for a specific person.
      description: 'GraphQL endpoint: personAffiliation'
      operationId: nsk_v1_persons_personKey_affiliations_personAffiliationKey_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAffiliationKey
        in: path
        required: true
        description: The unique person affiliation key.
        schema:
          type: string
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPersonAffiliation'
    put:
      tags:
      - persons
      summary: Updates a specific affiliation for a specific person.
      description: 'GraphQL endpoint: personAffiliationSet'
      operationId: nsk_v1_persons_personKey_affiliations_personAffiliationKey_put
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAffiliationKey
        in: path
        required: true
        description: The unique person affiliation key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The modified affiliation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAffiliationRequest'
            examples:
              Person Affiliation Request:
                description: Example request for creating or updating a person's affiliation.
                value:
                  name: John Doe
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Person Affiliation Key:
                  description: The person affiliation key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:UpdateFailed
                      message: nsk:Exceptions:UpdateFailed
                      type: Validation
                      details: null
                      rawMessage: Attempted update of object 'PersonAffiliation' has failed. Please verify this object exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - persons
      summary: Deletes a specific affiliation for a specific person.
      description: 'GraphQL endpoint: personAffiliationDelete'
      operationId: nsk_v1_persons_personKey_affiliations_personAffiliationKey_delete
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAffiliationKey
        in: path
        required: true
        description: The unique person affiliation key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/aliases:
    get:
      tags:
      - persons
      summary: Gets the collection of aliases for a specific person.
      description: Gets the collection of aliases for a specific person.
      operationId: nsk_v1_persons_personKey_aliases_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPersonAlias'
    post:
      tags:
      - persons
      summary: Creates a new alias for a specific person.
      description: 'GraphQL endpoint: personAliasAdd'
      operationId: nsk_v1_persons_personKey_aliases_post
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new alias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAliasRequest'
            examples:
              Person Alias Request:
                description: Example request for creating or updating a person's alias.
                value:
                  type: 0
                  first: John
                  middle: Cee
                  last: Doe
                  title: Mr.
                  suffix: null
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/aliases/{personAliasKey}:
    get:
      tags:
      - persons
      summary: Gets a specific alias for a specific person.
      description: 'GraphQL endpoint: personAlias'
      operationId: nsk_v1_persons_personKey_aliases_personAliasKey_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAliasKey
        in: path
        required: true
        description: The unique person alias key.
        schema:
          type: string
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPersonAlias'
    put:
      tags:
      - persons
      summary: Updates a specific alias for a specific person.
      description: 'GraphQL endpoint: personAliasSet'
      operationId: nsk_v1_persons_personKey_aliases_personAliasKey_put
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAliasKey
        in: path
        required: true
        description: The unique person alias key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The modified alias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAliasRequest'
            examples:
              Person Alias Request:
                description: Example request for creating or updating a person's alias.
                value:
                  type: 0
                  first: John
                  middle: Cee
                  last: Doe
                  title: Mr.
                  suffix: null
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Person Alias Key:
                  description: The person alias key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:UpdateFailed
                      message: nsk:Exceptions:UpdateFailed
                      type: Validation
                      details: null
                      rawMessage: Attempted update of object 'PersonAlias' has failed. Please verify this object exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - persons
      summary: Patches a specific alias for a specific person.
      description: 'GraphQL endpoint: personAliasModify'
      operationId: nsk_v1_persons_personKey_aliases_personAliasKey_patch
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAliasKey
        in: path
        required: true
        description: The unique person alias key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The patched alias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPersonAliasRequest'
            examples:
              Person Alias Request:
                description: Example request for creating or updating a person's alias.
                value:
                  type: 0
                  first: John
                  middle: Cee
                  last: Doe
                  title: Mr.
                  suffix: null
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Person Alias Key:
                  description: The person alias key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personAliasKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personAliasKey: MTW
                      rawMessage: The identifier 'personAliasKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - persons
      summary: Deletes a specific alias for a specific person.
      description: 'GraphQL endpoint: personAliasDelete'
      operationId: nsk_v1_persons_personKey_aliases_personAliasKey_delete
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personAliasKey
        in: path
        required: true
        description: The unique person alias key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/comments:
    get:
      tags:
      - persons
      summary: Gets the collection of comments for a specific person.
      description: 'GraphQL endpoint: personComments'
      operationId: nsk_v1_persons_personKey_comments_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPersonComment'
    post:
      tags:
      - persons
      summary: Creates a new comment for a specific person.
      description: 'GraphQL endpoint: personCommentAdd'
      operationId: nsk_v1_persons_personKey_comments_post
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new comment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonCommentRequest'
            examples:
              Person Comment Request:
                description: Example request for creating or updating a person's comment.
                value:
                  text: Comment
                  type: 0
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/persons/{personKey}/comments/{personCommentKey}:
    get:
      tags:
      - persons
      summary: Gets a specific comment for a specific person.
      description: 'GraphQL endpoint: personComment'
      operationId: nsk_v1_persons_personKey_comments_personCommentKey_get
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personCommentKey
        in: path
        required: true
        description: The unique comment key.
        schema:
          type: string
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPersonComment'
    put:
      tags:
      - persons
      summary: Updates a specific comment for a specific person.
      description: 'GraphQL endpoint: personCommentSet'
      operationId: nsk_v1_persons_personKey_comments_personCommentKey_put
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personCommentKey
        in: path
        required: true
        description: The unique person comment key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The modified comment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonCommentRequest'
            examples:
              Person Comment Request:
                description: Example request for creating or updating a person's comment.
                value:
                  text: Comment
                  type: 0
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Person Comment Key:
                  description: The person comment key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:UpdateFailed
                      message: nsk:Exceptions:UpdateFailed
                      type: Validation
                      details: null
                      rawMessage: Attempted update of object 'PersonComment' has failed. Please verify this object exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - persons
      summary: Patches a specific comment for a specific person.
      description: 'GraphQL endpoint: personCommentModify'
      operationId: nsk_v1_persons_personKey_comments_personCommentKey_patch
      parameters:
      - name: personKey
        in: path
        required: true
        description: The unique person key.
        schema:
          type: string
        x-position: 1
      - name: personCommentKey
        in: path
        required: true
        description: The unique person comment key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The patched comment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPersonCommentRequest'
            examples:
              Person Comment Request:
                description: Example request for creating or updating a person's comment.
                value:
                  text: Comment
                  type: 0
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Person Key:
                  description: The person key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personKey: MTW
                      rawMessage: The identifier 'personKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Person Comment Key:
                  description: The person comment key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:UpdateFailed
                      message: nsk:Exceptions:UpdateFailed
                      type: Validation
                      details: null
                      rawMessage: Attempted update of object 'PersonComment' has failed. Please verify this object exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
[...]
