openapi: 3.2.0
info:
  title: NewSkies Payment Ndc API
  description: 'NewSkies Payment Api (PCI-DSS)


    This API proxies payment endpoints from the Navitaire NewSkies Digital API.

    '
  version: 1.0.0
  contact:
    name: API Support
    email: api.flightproduction@tui.com
servers:
- url: https://prod.api.tui/flight/newskies/payment
  description: TUI Prod Payment Service
- url: https://playground.api.tui/flight/newskies/payment
  description: TUI Playground (Test) Payment Service
security:
- ApiKeyAuth: []
tags:
- name: Ndc
paths:
  /ndc:
    get:
      summary: NDC payment endpoint (not available)
      description: NDC payment functionality is not yet implemented
      operationId: ndcPaymentGet
      responses:
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: NDC payment is not yet available
      tags:
      - Ndc
    post:
      summary: NDC payment endpoint (not available)
      description: NDC payment functionality is not yet implemented
      operationId: ndcPaymentPost
      responses:
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: NDC payment is not yet available
      tags:
      - Ndc
    put:
      summary: NDC payment endpoint (not available)
      description: NDC payment functionality is not yet implemented
      operationId: ndcPaymentPut
      responses:
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: NDC payment is not yet available
      tags:
      - Ndc
    delete:
      summary: NDC payment endpoint (not available)
      description: NDC payment functionality is not yet implemented
      operationId: ndcPaymentDelete
      responses:
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: NDC payment is not yet available
      tags:
      - Ndc
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-apikey
      description: API key for authentication
