openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Bundles API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: bundles
paths:
  /api/nsk/v1/bundles/applications/{bundleApplicationKey}/details:
    get:
      tags:
      - bundles
      summary: Retrieves a specific bundle application's details.
      description: 'See api/nsk/v1/resources/bundles/applications to retrieve the collection of

        bundle application resources.


        GraphQL endpoint: bundleApplicationDetails'
      operationId: nsk_v1_bundles_applications_bundleApplicationKey_details_get
      parameters:
      - name: bundleApplicationKey
        in: path
        required: true
        description: The bundle application key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBundleApplicationDetails'
  /api/nsk/v1/bundles/rules/{bundleRuleCode}/details:
    get:
      tags:
      - bundles
      summary: 'Retrieves the list of bundle applications associated with

        the bundle rule.'
      description: 'See api/nsk/v1/resources/bundles/rules to retrieve the collection of

        bundle rule resources.


        GraphQL endpoint: bundleRuleDetails'
      operationId: nsk_v1_bundles_rules_bundleRuleCode_details_get
      parameters:
      - name: bundleRuleCode
        in: path
        required: true
        description: The bundle rule code.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBundleApplication'
  /api/nsk/v1/bundles/sets/{bundleSetCode}/details:
    get:
      tags:
      - bundles
      summary: Retrieves the list of bundle codes associated with the bundle set.
      description: 'See api/nsk/v1/resources/bundles/sets to retrieve the collection of

        bundle set resources.


        GraphQL endpoint: bundleSetDetails'
      operationId: nsk_v1_bundles_sets_bundleSetCode_details_get
      parameters:
      - name: bundleSetCode
        in: path
        required: true
        description: The bundle set code.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBundleSetDetails'
components:
  schemas:
    BundleSetDetails:
      type: object
      description: "The bundle set details model.\n            "
      additionalProperties: false
      properties:
        bundleCodes:
          type:
          - array
          - 'null'
          description: "The list of bundle codes associated with the bundle set.\n            "
          items:
            type: string
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    RegionType:
      type: integer
      description: "Enum reprenting the the region type used to indicate the kind of region an item is associated with.\n            \n\n0 = Default\n1 = Station\n2 = City\n3 = ProvinceState\n4 = Country\n5 = FeeZone\n6 = SubZone\n7 = Area\n8 = All\n9 = Mac"
      x-enumNames:
      - Default
      - Station
      - City
      - ProvinceState
      - Country
      - FeeZone
      - SubZone
      - Area
      - All
      - Mac
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
    IJsonResponseOfBundleSetDetails:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/BundleSetDetails'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    BundleApplicationDetails:
      type: object
      description: "The bundle application details model.\n            "
      additionalProperties: false
      properties:
        carrierCodes:
          type:
          - array
          - 'null'
          description: "The list of applicable carrier codes.\n            "
          items:
            type: string
        productClasses:
          type:
          - array
          - 'null'
          description: "The list of applicable product classes.\n            "
          items:
            type: string
        classesOfService:
          type:
          - array
          - 'null'
          description: "The list of applicable classes of service.\n            "
          items:
            type: string
    MessageStatus:
      type: integer
      description: "Defines the message status.\n            \n\n0 = General\n1 = Warning\n2 = Critical"
      x-enumNames:
      - General
      - Warning
      - Critical
      enum:
      - 0
      - 1
      - 2
    BundleApplication:
      type: object
      description: "The bundle application model.\n            "
      additionalProperties: false
      properties:
        bundleApplicationKey:
          type:
          - string
          - 'null'
          description: "The bundle application key.\n            "
        bundleSetCode:
          type:
          - string
          - 'null'
          description: "The code of the bundle set to which the\nbundle application applies.\n            "
        regionFilter:
          description: "The details related to the region filter for the bundle application.\n            "
          $ref: '#/components/schemas/RegionFilter'
        passengerCounts:
          description: "The minimum and maximum passenger counts.\n            "
          $ref: '#/components/schemas/DataRange'
        travelMinutes:
          description: "The minimum and maximum travel minutes.\n            "
          $ref: '#/components/schemas/DataRange'
        advancedPurchaseHours:
          description: "The minimum and maximum advanced purchase hours.\n            "
          $ref: '#/components/schemas/DataRange'
        dates:
          description: "The important dates associated with a bundle application.\n            "
          $ref: '#/components/schemas/BundleDates'
        appliesToAllSegments:
          type: boolean
          description: "Indicates if the service bundle applies to all segments or not.\n            "
        codeShareType:
          type:
          - string
          - 'null'
          description: "The code share type.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        sequenceNumber:
          type: integer
          description: "The sequence number.\n            "
    IJsonResponseOfBundleApplicationDetails:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/BundleApplicationDetails'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    IJsonResponseOfIListOfBundleApplication:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type:
          - array
          - 'null'
          description: "The payload data.\n            "
          items:
            $ref: '#/components/schemas/BundleApplication'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    BundleDates:
      type: object
      description: "The bundle dates model.\n            "
      additionalProperties: false
      properties:
        effective:
          type:
          - string
          - 'null'
          description: "The start date when the bundle application is effective.\n            "
          format: date-time
        effectiveSales:
          type:
          - string
          - 'null'
          description: "The effective sales date.\n            "
          format: date-time
        discontinue:
          type:
          - string
          - 'null'
          description: "The date when the bundle application is discontinued.\n            "
          format: date-time
        discontinueSales:
          type:
          - string
          - 'null'
          description: "The discontinued sales date.\n            "
          format: date-time
    RegionFilter:
      type: object
      description: "The region filter model.\n            "
      additionalProperties: false
      properties:
        origin:
          description: "The details related to the region of origin for the bundle application.\n            "
          $ref: '#/components/schemas/RegionIdentifier'
        destination:
          description: "The details related to the destination region for the bundle application.\n            "
          $ref: '#/components/schemas/RegionIdentifier'
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    RegionIdentifier:
      type: object
      description: "The region identifier model.\n            "
      additionalProperties: false
      properties:
        regionTypeCode:
          type:
          - string
          - 'null'
          description: "The region type code.\n            "
          maxLength: 5
          minLength: 0
        regionType:
          description: "The region type.\n            "
          $ref: '#/components/schemas/RegionType'
        exclude:
          type:
          - boolean
          - 'null'
          description: "The flag to indicate if this is not in the travel region.\n            "
    DataRange:
      type: object
      description: "The data range model.\n            "
      additionalProperties: false
      properties:
        minimum:
          type:
          - integer
          - 'null'
          description: "The minimum range.\n            "
        maximum:
          type:
          - integer
          - 'null'
          description: "The maximum range.\n            "
    ErrorResponse:
      type: object
      description: "Defines a unique error response.\n            "
      additionalProperties: false
      properties:
        exception:
          description: "The original exception that was thrown and all the exception details.\n            "
          $ref: '#/components/schemas/Exception'
        rawMessage:
          type:
          - string
          - 'null'
          description: "The original raw message set (non-localized).\n            "
        code:
          type:
          - string
          - 'null'
          description: "The unique error code. The primary value used to match against a unique message localized for the end user in the\nchosen language.\n            "
        message:
          type:
          - string
          - 'null'
          description: "The error message. Deprecated: Please use the Code instead.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The error type showing severity. Values: Critical, Error, Validation, Information.\n            "
        number:
          type:
          - integer
          - 'null'
          description: "A unique identifier in numeric form. This is required for Splunk logging. If none is provided a number will be\ngenerated based on code and type.\n            "
          format: int32
          maximum: 99999.0
          minimum: 0.0
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the error.\n            "
          additionalProperties:
            type: string
        ActivityId:
          type:
          - string
          - 'null'
          description: "The activity ID unique to the request. Useful for debugging purposes to uniquely look up what happened for this\nspecific request.\n            "
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
  securitySchemes:
    JWT:
      type: http
      description: Paste your JWT token from the token endpoint.
      scheme: bearer
      bearerFormat: jwt
x-generator: NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))
