openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Booking/checkin API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: booking/checkin
paths:
  /api/nsk/v1/booking/checkin/journey/{journeyKey}:
    delete:
      tags:
      - booking/checkin
      summary: Removes the checkin status of passengers for a specific journey in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: checkinByJourneyDelete'
      operationId: nsk_v1_booking_checkin_journey_journeyKey_delete
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The checkin passengers request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinPassengersRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v3/booking/checkin/journey/{journeyKey}:
    post:
      tags:
      - booking/checkin
      summary: Checks in a collection of passengers to a specific journey in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        - When debug mode is disabled, warning and error messages will be masked if the `SystemOptions.HideErrorMessages`

        is set to true.

        - When debug mode is disabled, warning and error messages will be returned to agents only if the

        `SystemOptions.HideErrorMessages` is set to false.


        GraphQL endpoint: checkinByJourneyAddv3'
      operationId: nsk_v3_booking_checkin_journey_journeyKey_post
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key of the segments to checkin.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The checkin passengers request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinPassengersRequestv3'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Check-in Successful:
                  description: Example when check-in is successful.
                  value:
                    data: null
                Checkin Valid with displaying warning message to agents.:
                  description: Example message when check in requirements are met, but there are still travel documents required.  This requires Digital API configuration to be set such that warning messages can be returned to agents only when debug is turned off.
                  value:
                    messages:
                    - code: CheckinPassengerWarning
                      type: Warning
                      value: 'AUT TEST Authorization Response Free Text

                        8501:AU:OK TO BOARD

                        Documents are required for this flight.'
                      status: 0
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTYzMH4gfn5CTkV_MDgvMjEvMjAyNCAwOTowMH5TWUR_MDgvMjEvMjAyNCAxMjowMH5_
                    data: null
                Checkin Valid with a masked warning message.:
                  description: Example message when check in requirements are met, but there are still travel documents required.  This is what non-agents will see regardless of Digital API configuration for displaying warning messages when debug is off.This is also what an agent would see if the corresponding API configuration is not set to allow warning messages to be shown.
                  value:
                    messages:
                    - code: CheckinPassengerWarning
                      type: Warning
                      value: CheckinPassengerWarning
                      status: 0
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTYzMH4gfn5CTkV_MDgvMjEvMjAyNCAwOTowMH5TWUR_MDgvMjEvMjAyNCAxMjowMH5_
                    data: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Checkin Invalid:
                  description: Example error when check in requirements are not met. The /requirements endpoint should be called before attempting a checkin.
                  value:
                    errors:
                    - id: null
                      code: nsk:Checkin:Invalid
                      message: nsk:Checkin:Invalid
                      type: Validation
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTY1NX4gfn5TTEN_MDkvMDYvMjAyNCAwOTowMH5NTkx_MDkvMDcvMjAyNCAwNTowMH5_
                      rawMessage: Checkin request is invalid. Please refer to checkin requirements for more details.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Seat Missing:
                  description: In this example the optional request parameter `seatsRequired` was set to true. One passenger had a seat assigned and one did not.
                  value:
                    errors:
                    - id: null
                      code: nsk:Checkin:TypeID:1223
                      message: nsk:Checkin:TypeID:1223
                      type: Error
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTY1NX4gfn5TTEN_MDkvMDYvMjAyNCAwOTowMH5NTkx_MDkvMDcvMjAyNCAwNTowMH5_
                      rawMessage: Baggins/Bilbo missing seat assignments on flight number 2452.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Inhibited:
                  description: In this example the passenger meets all the requirements but is inhibited due to government security.
                  value:
                    errors:
                    - id: null
                      code: nsk:Checkin:TypeID:3096
                      message: nsk:Checkin:TypeID:3096
                      type: Error
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTY1NX4gfn5TTEN_MDkvMDYvMjAyNCAwOTowMH5NTkx_MDkvMDcvMjAyNCAwNTowMH5_
                      rawMessage: 'United States - SecureFlight: Passenger inhibited from checkin. CONTACT THE DHS RESOLUTION DESK AT: 1-800-CALL-DHS\nAUT TEST Authorization Response Free Text\n'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    - id: null
                      code: nsk:Checkin:TypeID:3088
                      message: nsk:Checkin:TypeID:3088
                      type: Error
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTY1NX4gfn5TTEN_MDkvMDYvMjAyNCAwOTowMH5NTkx_MDkvMDcvMjAyNCAwNTowMH5_
                      rawMessage: 'United States - SecureFlight: Passenger inhibited from checkin. CONTACT THE DHS RESOLUTION DESK AT: 1-800-CALL-DHS\nAUT TEST Authorization Response Free Text\n'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Missing verified document with agent visible error message:
                  description: This example shows both the expected response when a passenger is missing verified documents, as well as what a logged-in agent would see if the API configuration is set correctly.  This is an example response when debug mode is turned off.
                  value:
                    errors:
                    - id: null
                      code: nsk:Checkin:TypeID:1236
                      message: Baggins/Bilbo missing verified documents.
                      type: Error
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTY1NX4gfn5TTEN_MDkvMDYvMjAyNCAwOTowMH5NTkx_MDkvMDcvMjAyNCAwNTowMH5_
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/checkin/journey/{journeyKey}/requirements:
    get:
      tags:
      - booking/checkin
      summary: Gets the checkin pre-validation requirements for a specific journey.
      description: 'GraphQL endpoint: checkinByJourneyRequirementsv2'
      operationId: nsk_v2_booking_checkin_journey_journeyKey_requirements_get
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key to be pre validate checkin with.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCheckinRequirementsv2'
              examples:
                Valid Response No Restrictions:
                  description: Example Response
                  value:
                    data:
                      passengers:
                        passengerKey:
                          passengerKey: PassengerKey
                          documentRequirements:
                            documentsOnFile:
                            - P
                            - V
                            governmentDocumentInstances:
                            - governmentInstance: USDHS
                              numberOfMissingDocuments: 0
                              eligibleDocuments:
                              - group: 18
                                documentTypeCode: I
                              - group: 5
                                documentTypeCode: M
                              verifiableDocuments:
                              - group: 6
                                documentTypeCode: P
                              - group: 9
                                documentTypeCode: V
                              documentVerificationRequired: true
                            - governmentInstance: CBSA
                              numberOfMissingDocuments: 0
                              eligibleDocuments:
                              - group: 18
                                documentTypeCode: I
                              verifiableDocuments:
                              - group: 6
                                documentTypeCode: P
                              - group: 9
                                documentTypeCode: V
                              documentVerificationRequired: true
                            isValid: true
                          addressRequirements:
                            isValid: false
                            addressesOnFile:
                            - Address1
                            unhandledAddresses:
                            - Address2
                          invalidSsrs: null
                          requiredSsrs: null
                          restrictions: null
                          isValid: true
                      governmentProgramRequirements:
                        usdhs:
                          governmentInstance: null
                          requiredDocumentFields: null
                          additionalDataRequired: null
                          programDescription: USDHS
                          messageType: null
                          minVerifiedDocumentCount: 1
                        cbsa:
                          governmentInstance: null
                          requiredDocumentFields: null
                          additionalDataRequired: null
                          programDescription: CBSA
                          messageType: null
                          minVerifiedDocumentCount: 1
                      restrictions: null
                      isValid: true
                Response with Restrictions:
                  description: Example Response
                  value:
                    data:
                      passengers:
                        passengerKey:
                          passengerKey: PassengerKey
                          documentRequirements: null
                          addressRequirements: null
                          invalidSsrs: null
                          requiredSsrs: null
                          restrictions:
                          - restriction: 12
                            description: Missing Documents
                          - restriction: 1
                            description: Missing Destination Address
                          isValid: false
                      governmentProgramRequirements:
                        usdhs:
                          governmentInstance: null
                          requiredDocumentFields: null
                          additionalDataRequired: null
                          programDescription: USDHS
                          messageType: null
                          minVerifiedDocumentCount: 1
                      restrictions:
                      - 4
                      isValid: false
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/checkin/journey/{journeyKey}/requirements:
    get:
      tags:
      - booking/checkin
      summary: Gets the checkin pre-validation requirements for a specific journey.
      description: 'GraphQL endpoint: checkinByJourneyRequirements'
      operationId: nsk_v1_booking_checkin_journey_journeyKey_requirements_get
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key to be pre validate checkin with.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCheckinRequirements'
              examples:
                Not Paid In Full:
                  description: Example partial response showing that the payment is due before check in
                  value:
                    data:
                      isValid: false
                      passengers: null
                      governmentProgramRequirements: null
                      restrictions:
                      - 4
                Closed:
                  description: Example partial response showing that the check in is closed which is common if its outside of the configured check in window.
                  value:
                    data:
                      isValid: false
                      passengers: null
                      governmentProgramRequirements: null
                      restrictions:
                      - 0
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      deprecated: true
  /api/nsk/v1/booking/checkin/journey/{journeyKey}/status:
    get:
      tags:
      - booking/checkin
      summary: Gets the passengers lift status for a specific journey based on the booking in state.
      description: 'GraphQL endpoint: checkinByJourneyStatus'
      operationId: nsk_v1_booking_checkin_journey_journeyKey_status_get
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey to check lift statuses.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndIListOfCheckinPassengerLiftStatus'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/checkin/segment/{segmentKey}:
    delete:
      tags:
      - booking/checkin
      summary: Removes the checkin status of passengers for a specific journey's segment in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: checkinBySegmentDelete'
      operationId: nsk_v1_booking_checkin_segment_segmentKey_delete
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The checkin passengers request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinPassengersRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v3/booking/checkin/segment/{segmentKey}:
    post:
      tags:
      - booking/checkin
      summary: Checks in a collection of passengers to a specific journey's segment in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        - When debug mode is disabled, warning and error messages will be masked if the `SystemOptions.HideErrorMessages`

        is set to true.

        - When debug mode is disabled, warning and error messages will be returned to agents only if the

        `SystemOptions.HideErrorMessages` is set to false.


        GraphQL endpoint: checkinBySegmentAddv3'
      operationId: nsk_v3_booking_checkin_segment_segmentKey_post
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key of the segment to checkin.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The checkin passengers request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinPassengersRequestv3'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Check-in Successful:
                  description: Example when check-in is successful.
                  value:
                    data: null
                Checkin Valid with displaying warning message to agents.:
                  description: Example message when check in requirements are met, but there are still travel documents required.  This requires Digital API configuration to be set such that warning messages can be returned to agents only when debug is turned off.
                  value:
                    messages:
                    - code: CheckinPassengerWarning
                      type: Warning
                      value: 'AUT TEST Authorization Response Free Text

                        8501:AU:OK TO BOARD

                        Documents are required for this flight.'
                      status: 0
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTYzMH4gfn5CTkV_MDgvMjEvMjAyNCAwOTowMH5TWUR_MDgvMjEvMjAyNCAxMjowMH5_
                    data: null
                Checkin Valid with a masked warning message.:
                  description: Example message when check in requirements are met, but there are still travel documents required.  This is what non-agents will see regardless of Digital API configuration for displaying warning messages when debug is off.This is also what an agent would see if the corresponding API configuration is not set to allow warning messages to be shown.
                  value:
                    messages:
                    - code: CheckinPassengerWarning
                      type: Warning
                      value: CheckinPassengerWarning
                      status: 0
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTYzMH4gfn5CTkV_MDgvMjEvMjAyNCAwOTowMH5TWUR_MDgvMjEvMjAyNCAxMjowMH5_
                    data: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Checkin Invalid:
                  description: Example error when check in requirements are not met. The /requirements endpoint should be called before attempting a checkin.
                  value:
                    errors:
                    - id: null
                      code: nsk:Checkin:Invalid
                      message: nsk:Checkin:Invalid
                      type: Validation
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTY1NX4gfn5TTEN_MDkvMDYvMjAyNCAwOTowMH5NTkx_MDkvMDcvMjAyNCAwNTowMH5_
                      rawMessage: Checkin request is invalid. Please refer to checkin requirements for more details.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Seat Missing:
                  description: In this example the optional request parameter `seatsRequired` was set to true. One passenger had a seat assigned and one did not.
                  value:
                    errors:
                    - id: null
                      code: nsk:Checkin:TypeID:1223
                      message: nsk:Checkin:TypeID:1223
                      type: Error
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTY1NX4gfn5TTEN_MDkvMDYvMjAyNCAwOTowMH5NTkx_MDkvMDcvMjAyNCAwNTowMH5_
                      rawMessage: Baggins/Bilbo missing seat assignments on flight number 2452.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Inhibited:
                  description: In this example the passenger meets all the requirements but is inhibited due to government security.
                  value:
                    errors:
                    - id: null
                      code: nsk:Checkin:TypeID:3096
                      message: nsk:Checkin:TypeID:3096
                      type: Error
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTY1NX4gfn5TTEN_MDkvMDYvMjAyNCAwOTowMH5NTkx_MDkvMDcvMjAyNCAwNTowMH5_
                      rawMessage: 'United States - SecureFlight: Passenger inhibited from checkin. CONTACT THE DHS RESOLUTION DESK AT: 1-800-CALL-DHS\nAUT TEST Authorization Response Free Text\n'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    - id: null
                      code: nsk:Checkin:TypeID:3088
                      message: nsk:Checkin:TypeID:3088
                      type: Error
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTY1NX4gfn5TTEN_MDkvMDYvMjAyNCAwOTowMH5NTkx_MDkvMDcvMjAyNCAwNTowMH5_
                      rawMessage: 'United States - SecureFlight: Passenger inhibited from checkin. CONTACT THE DHS RESOLUTION DESK AT: 1-800-CALL-DHS\nAUT TEST Authorization Response Free Text\n'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Missing verified document with agent visible error message:
                  description: This example shows both the expected response when a passenger is missing verified documents, as well as what a logged-in agent would see if the API configuration is set correctly.  This is an example response when debug mode is turned off.
                  value:
                    errors:
                    - id: null
                      code: nsk:Checkin:TypeID:1236
                      message: Baggins/Bilbo missing verified documents.
                      type: Error
                      details:
                        passengerKey: MCFBRFQ-
                        segmentKey: TlZ_NTY1NX4gfn5TTEN_MDkvMDYvMjAyNCAwOTowMH5NTkx_MDkvMDcvMjAyNCAwNTowMH5_
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/checkin/segment/{segmentKey}/requirements:
    get:
      tags:
      - booking/checkin
      summary: Gets the checkin pre-validation requirements for a specific journey's segment.
      description: 'GraphQL endpoint: checkinBySegmentRequirementsv2'
      operationId: nsk_v2_booking_checkin_segment_segmentKey_requirements_get
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key to pre validate checkin with.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCheckinRequirementsv2'
              examples:
                Valid Response No Restrictions:
                  description: Example Response
                  value:
                    data:
                      passengers:
                        passengerKey:
                          passengerKey: PassengerKey
                          documentRequirements:
                            documentsOnFile:
                            - P
                            - V
                            governmentDocumentInstances:
                            - governmentInstance: USDHS
                              numberOfMissingDocuments: 0
                              eligibleDocuments:
                              - group: 18
                                documentTypeCode: I
                              - group: 5
                                documentTypeCode: M
                              verifiableDocuments:
                              - group: 6
                                documentTypeCode: P
                              - group: 9
                                documentTypeCode: V
                              documentVerificationRequired: true
                            - governmentInstance: CBSA
                              numberOfMissingDocuments: 0
                              eligibleDocuments:
                              - group: 18
                                documentTypeCode: I
                              verifiableDocuments:
                              - group: 6
                                documentTypeCode: P
                              - group: 9
                                documentTypeCode: V
                              documentVerificationRequired: true
                            isValid: true
                          addressRequirements:
                            isValid: false
                            addressesOnFile:
                            - Address1
                            unhandledAddresses:
                            - Address2
                          invalidSsrs: null
                          requiredSsrs: null
                          restrictions: null
                          isValid: true
                      governmentProgramRequirements:
                        usdhs:
                          governmentInstance: null
                          requiredDocumentFields: null
                          additionalDataRequired: null
                          programDescription: USDHS
                          messageType: null
                          minVerifiedDocumentCount: 1
                        cbsa:
                          governmentInstance: null
                          requiredDocumentFields: null
                          additionalDataRequired: null
                          programDescription: CBSA
                          messageType: null
                          minVerifiedDocumentCount: 1
                      restrictions: null
                      isValid: true
                Response with Restrictions:
                  description: Example Response
                  value:
                    data:
                      passengers:
                        passengerKey:
                          passengerKey: PassengerKey
                          documentRequirements: null
                          addressRequirements: null
                          invalidSsrs: null
                          requiredSsrs: null
                          restrictions:
                          - restriction: 12
                            description: Missing Documents
                          - restriction: 1
                            description: Missing Destination Address
                          isValid: false
                      governmentProgramRequirements:
                        usdhs:
                          governmentInstance: null
                          requiredDocumentFields: null
                          additionalDataRequired: null
                          programDescription: USDHS
                          messageType: null
                          minVerifiedDocumentCount: 1
                      restrictions:
                      - 4
                      isValid: false
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/checkin/segment/{segmentKey}/requirements:
    get:
      tags:
      - booking/checkin
      summary: Gets the checkin pre-validation requirements for a specific journey's segment.
      description: 'GraphQL endpoint: checkinBySegmentRequirements'
      operationId: nsk_v1_booking_checkin_segment_segmentKey_requirements_get
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key to pre validate checkin with.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCheckinRequirements'
              examples:
                Not Paid In Full:
                  description: Example partial response showing that the payment is due before check in
                  value:
                    data:
                      isValid: false
                      passengers: null
                      governmentProgramRequirements: null
                      restrictions:
                      - 4
                Closed:
                  description: Example partial response showing that the check in is closed which is common if its outside of the configured check in window.
                  value:
                    data:
                      isValid: false
                      passengers: null
                      governmentProgramRequirements: null
                      restrictions:
                      - 0
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      deprecated: true
  /api/nsk/v1/booking/checkin/segment/{segmentKey}/status:
    get:
      tags:
      - booking/checkin
      summary: Gets the passenger lift status for a specific segment based on the booking in state.
      description: 'GraphQL endpoint: checkinBySegmentStatus'
      operationId: nsk_v1_booking_checkin_segment_segmentKey_status_get
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key in reference.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndIListOfCheckinPassengerLiftStatus'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
components:
  schemas:
    CheckinAddressRequirements:
      type: object
      description: "Defines a passenger checkin address requirements.\n            "
      additionalProperties: false
      properties:
        isValid:
          type: boolean
          description: "Flag indicating if the checkin address requirements are meet and ready/valid for checkin.\n            "
        addressesOnFile:
          type:
          - array
          - 'null'
          description: "The collection of addresses that are tagged to a station code that already exist on the passenger.\n            "
          items:
            type: string
        unhandledAddresses:
          type:
          - array
          - 'null'
          description: "The collection of unhandled tagged to station addresses required.\n            "
          items:
            type: string
    CheckinDocumentRequirements:
      type: object
      description: "Defines a passenger checkin document requirements.\n            "
      deprecated: true
      x-deprecatedMessage: Obsolete as of 4.4.4, please use the v2.
      additionalProperties: false
      properties:
        isValid:
          type: boolean
          description: "Flag indicating if the checkin document requirements are all meet and ready/valid for checkin.\n            "
        documentsOnFile:
          type:
          - array
          - 'null'
          description: "The collection of document type codes that already exist on the passenger.\n            "
          items:
            type: string
        unhandledDocuments:
          type:
          - array
          - 'null'
          description: "The collection of unhandled documents at each acting government entity.\n            "
          items:
            $ref: '#/components/schemas/GovernmentPassengerDocumentRequirement'
        documentVerificationRequired:
          type: boolean
          description: "Boolean to confirm documents need to be verified.\n***Note***\nIf it is TRUE, document verification is required.\nIf it is FALSE, it could be\n1) No document verification is required, or\n2) The given Travel Documents Type and Count matches the government program driver requirements, BUT this\ndoes not ensure that all government security document requirements have been met.\n            "
    TransportationIdentifier:
      type: object
      description: "Represents the transportation identifier model data.\n            "
      additionalProperties: false
      required:
      - identifier
      - carrierCode
      properties:
        identifier:
          type: string
          description: "The unique transportation identifier.\n            "
          maxLength: 4
          minLength: 0
        carrierCode:
          type: string
          description: "The carrier code.\n            "
          maxLength: 3
          minLength: 2
        opSuffix:
          type:
          - string
          - 'null'
          description: "The op suffix.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
    GovernmentPassengerDocumentRequirement:
      type: object
      description: "Defines a specific government document requirements for a specific passenger.\n            "
      deprecated: true
      x-deprecatedMessage: Obsolete as of 4.4.4, please use the v2.
      additionalProperties: false
      properties:
        governmentInstance:
          type:
          - string
          - 'null'
          description: "Identifies which instance of government security is associated with these specific requirements.\n            "
        numberOfMissingDocuments:
          type: integer
          description: "The number of documents still missing.\n            "
        eligibleDocuments:
          type:
          - array
          - 'null'
          description: "The collection of eligible documents that have not already been added by the passenger.\n            "
          items:
            $ref: '#/components/schemas/GovernmentDocumentRequirement'
    CheckinPassengerRequest:
      type: object
      description: "Defines the individual passenger checkin request.\n            "
      additionalProperties: false
      required:
      - passengerKey
      properties:
        passengerKey:
          type: string
          description: "The unique passenger key being checked in.\n            "
          minLength: 1
        transitType:
          description: "The passengers transit type.\n            "
          $ref: '#/components/schemas/TransitType'
        processApps:
          type:
          - boolean
          - 'null'
          description: "Flag indicating to process APPS.\n            "
        verifiedReference:
          type:
          - string
          - 'null'
          description: "The value specifying the verified travel document(s) associated with this checkin.\n            "
    LiftStatus:
      type: integer
      description: "Lift status enumeration.\n            \n\n0 = Default\n1 = CheckedIn\n2 = Boarded\n3 = NoShow"
      x-enumNames:
      - Default
      - CheckedIn
      - Boarded
      - NoShow
      enum:
      - 0
      - 1
      - 2
      - 3
    CheckinDocumentRequirementsv2:
      type: object
      description: "Defines passenger checkin document requirements version 2.\n            "
      additionalProperties: false
      properties:
        documentsOnFile:
          type:
          - array
          - 'null'
          description: "The collection of document type codes that already exist on the passenger.\n            "
          items:
            type: string
        governmentDocumentInstances:
          type:
          - array
          - 'null'
          description: "The collection of unhandled documents at each acting government entity.\n            "
          items:
            $ref: '#/components/schemas/GovernmentPassengerDocumentRequirementv2'
        isValid:
          type: boolean
          description: "Flag indicating if the checkin document requirements are all met and ready/valid for checkin.\n            "
    TransportationDesignator:
      type: object
      description: "Model information about the traveling arrival and destination details.\n            "
      additionalProperties: false
      properties:
        destination:
          type:
          - string
          - 'null'
          description: "Gets or sets the leg arrival station.\n            "
          maxLength: 3
          minLength: 0
        origin:
          type:
          - string
          - 'null'
          description: "Gets or sets the leg departure station.\n            "
          maxLength: 3
          minLength: 0
        arrival:
          type: string
          description: "The arrival date and time local to the arrival station.\n            "
          format: date-time
        departure:
          type: string
          description: "The departure date and time local to the departure station.\n            "
          format: date-time
    GovernmentDocumentRequirement:
      type: object
      description: "Defines a certain document requirement regarding a specific government instance.\n            "
      additionalProperties: false
      properties:
        group:
          description: "The document group.\n            "
          $ref: '#/components/schemas/DocumentGroup'
        documentTypeCode:
          type:
          - string
          - 'null'
          description: "The documents type code.\n            "
    TransitType:
      type: integer
      description: "Defines the different type of transit states.\n            \n\n0 = Default\n1 = Origin\n2 = Destination\n3 = Both"
      x-enumNames:
      - Default
      - Origin
      - Destination
      - Both
      enum:
      - 0
      - 1
      - 2
      - 3
    CheckinRequirementsv2:
      type: object
      description: "Defines the pre checkin requirements.\n            "
      additionalProperties: false
      properties:
        passengers:
          type:
          - object
          - 'null'
          description: "The collection of passengers and there requirements to checkin.\nKey is the PassengerKey.\n            "
          additionalProperties:
            $ref: '#/components/schemas/CheckinPassengerRequirementsv2'
        governmentProgramRequirements:
          type:
          - object
          - 'null'
          description: "The collection of government programs requirements.\nKey is the Government Driver Instance Name, e.g. 'USDHS', 'CBSA', 'KRKIS', 'APPS', etc.\n            "
          additionalProperties:
            $ref: '#/components/schemas/GovernmentProgramRequirements'
        restrictions:
          type:
          - array
          - 'null'
          description: "The list of any non passenger related checkin restrictions that will restrict the desired segments to be checked\nin.\nThe checkin restriction type = ('Closed', 'NotOpened', 'PnrLocked', 'MarketingCodeShareNotAllowed',\n'NotPaidInFull', 'PaymentsPending',\n'PaymentsPendingCustomerAction', 'RestrictedOnAnotherSystem', 'NotAllowed', 'ApisNotAllowed', 'AppsNotAllowed',\n'SegmentNotFound', 'InvalidPrice').\n            "
          items:
            $ref: '#/components/schemas/CheckinRestrictionType'
        isValid:
          type: boolean
          description: "Flag indicating if the ability to checkin is valid.\n            "
    CheckinMissingSegmentRequiredSsr:
      type: object
      description: "Defines the a segments collection of missing SSR's.\n            "
      additionalProperties: false
      properties:
        codes:
          type:
          - array
          - 'null'
          description: "The collection of SSR's missing.\n            "
          items:
            type: string
        designator:
          description: "The transportation designator that the SSR codes are missing from.\n            "
          $ref: '#/components/schemas/TransportationDesignator'
    CheckinPassengerRequestv2:
      type: object
      description: "Defines the individual passenger checkin request.\n            "
      additionalProperties: false
      required:
      - passengerKey
      properties:
        passengerKey:
          type: string
          description: "The unique passenger key being checked in.\n            "
          minLength: 1
        transitType:
          description: "The passengers transit type.\n            "
          $ref: '#/components/schemas/TransitType'
        processApps:
          type:
          - boolean
          - 'null'
          description: "Flag indicating to process APPS.\n            "
        verifiedTravelDocumentKeys:
          type:
          - array
          - 'null'
          description: "The value specifying the verified travel document(s) associated with this checkin.\n            "
          items:
            type: string
    GovernmentProgramRequirements:
      type: object
      description: "Defines a government programs document requirements.\n            "
      additionalProperties: false
      properties:
        governmentInstance:
          type:
          - string
          - 'null'
          description: "Identifies which instance of government security is associated with these specific requirements.\n            "
        requiredDocumentFields:
          type:
          - array
          - 'null'
          description: "The collection of required document fields to be collected.\n            "
          items:
            $ref: '#/components/schemas/GovernmentDocumentFieldType'
        additionalDataRequired:
          type:
          - array
          - 'null'
          description: "The collection of additional data that is required that are not related to documents.\n            "
          items:
            $ref: '#/components/schemas/GovernmentAdditionalDataType'
        programDescription:
          type:
          - string
          - 'null'
          description: "User-friendly label or description that should be used for all prompts and error messages\nto the user.\n            "
        messageType:
          type:
          - string
          - 'null'
          description: "Message type associated with these requirements.\n            "
        minVerifiedDocumentCount:
          type: integer
          description: "The minimum number of verified documents required.\n            "
          format: int32
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    CheckinPassengersRequest:
      type: object
      description: "Defines the checkin passengers request.\n            "
      additionalProperties: false
      required:
      - passengers
      properties:
        seatsRequired:
          type:
          - boolean
          - 'null'
          description: "The flag indicating whether a seat is required for checkin.\n            "
        skipSecurityChecks:
          type:
          - boolean
          - 'null'
          description: "The flag indicating whether checkin requirement validation will be skipped.\n            "
        isStandby:
          type:
          - boolean
          - 'null'
          description: "The flag indicating whether the collection of passengers are for standby checkin.\n            "
        passengers:
          type: array
          description: "The collection of passengers to checkin.\n            "
          items:
            $ref: '#/components/schemas/CheckinPassengerRequest'
    GovernmentAdditionalDataType:
      type: integer
      description: "Defines the additional data that is required for a government program but are not collected with documents.\n            \n\n0 = CountryOfResidence\n1 = InTransitOrigin\n2 = InTransitDestination\n3 = DateOfBirth\n4 = Gender\n5 = FirstName\n6 = LastName"
      x-enumNames:
      - CountryOfResidence
      - InTransitOrigin
      - InTransitDestination
      - DateOfBirth
      - Gender
      - FirstName
      - LastName
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
    MessageStatus:
      type: integer
      description: "Defines the message status.\n            \n\n0 = General\n1 = Warning\n2 = Critical"
      x-enumNames:
      - General
      - Warning
      - Critical
      enum:
      - 0
      - 1
      - 2
    GovernmentPassengerDocumentRequirementv2:
      type: object
      description: "Defines a specific government document requirements for a specific passenger. Version 2\n            "
      additionalProperties: false
      properties:
        governmentInstance:
          type:
          - string
          - 'null'
          description: "Identifies which instance of government security is associated with these specific requirements.\n            "
        numberOfMissingDocuments:
          type: integer
          description: "The number of documents still missing.\n            "
        eligibleDocuments:
          type:
          - array
          - 'null'
          description: "The collection of eligible documents that have not already been added by the passenger.\n            "
          items:
            $ref: '#/components/schemas/GovernmentDocumentRequirement'
        verifiableDocuments:
          type:
          - array
          - 'null'
          description: "The collection of verifiable documents at each acting government entity.\n            "
          items:
            $ref: '#/components/schemas/GovernmentDocumentRequirement'
        documentVerificationRequired:
          type: boolean
          description: "Boolean to confirm documents need to be verified.\n***Note***\nIf it is TRUE, document verification is required.\nIf it is FALSE, it could be\n1) No document verification is required, or\n2) The given Travel Documents Type and Count matches the government program driver requirements, BUT this\ndoes not ensure that all government security document requirements have been met.\n            "
    DocumentGroup:
      type: integer
      description: "The document grouping enumeration.\n            \n\n0 = Unknown\n1 = AlienRegistrationCard\n2 = PermanentResidentCard\n3 = FacilitationDocument\n4 = InsPass\n5 = MilitaryId\n6 = Passport\n7 = ReEntryPermit\n8 = CreditCard\n9 = TravelVisa\n10 = OaFrequentFlyer\n11 = ParoleLetter\n12 = NoticeOfAction\n13 = TransportationLetter\n14 = BorderCrossingCard\n15 = PilotLicense\n16 = UsNaturalizationCertificate\n17 = RefugeeTravelDocument\n18 = GovernmentId\n19 = DriversLicense\n20 = RedressNumber\n21 = KnownTravelerId\n22 = FormOfId\n23 = Nexus\n24 = SecondaryExempt"
      x-enumNames:
      - Unknown
      - AlienRegistrationCard
      - PermanentResidentCard
      - FacilitationDocument
      - InsPass
      - MilitaryId
      - Passport
      - ReEntryPermit
      - CreditCard
      - TravelVisa
      - OaFrequentFlyer
      - ParoleLetter
      - NoticeOfAction
      - TransportationLetter
      - BorderCrossingCard
      - PilotLicense
      - UsNaturalizationCertificate
      - RefugeeTravelDocument
      - GovernmentId
      - DriversLicense
      - RedressNumber
      - KnownTravelerId
      - FormOfId
      - Nexus
      - SecondaryExempt
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
    CheckinPassengerLiftStatus:
      type: object
      description: "Defines a single passengers checkin status for a specific segment.\n            "
      additionalProperties: false
      properties:
        status:
          description: "The lift status of the passenger for a specific segment.\n            "
          $ref: '#/components/schemas/LiftStatus'
        identifier:
          description: "The transportation identifier.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
    IJsonResponseOfCheckinRequirements:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/CheckinRequirements'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    CheckinPassengerRestriction:
      type: object
      description: "Defines a passengers restriction for the current segment trying to be checked into.\n            "
      additionalProperties: false
      properties:
        restriction:
          description: "The passenger restriction type.\n            "
          $ref: '#/components/schemas/CheckinPassengerRestrictionType'
        description:
          type:
          - string
          - 'null'
          description: "The description of the restriction.\n            "
    GovernmentDocumentFieldType:
      type: integer
      description: "Defines all the different travel document fields that a government program can require to be prompted/required.\n            \n\n0 = FirstName\n1 = MiddleName\n2 = LastName\n3 = Title\n4 = Suffix\n5 = DateOfBirth\n6 = BirthCountry\n7 = Gender\n8 = Nationality\n9 = Number\n10 = IssuingCountry\n11 = ExpirationDate\n12 = IssuedDate\n13 = Verified"
      x-enumNames:
      - FirstName
      - MiddleName
      - LastName
      - Title
      - Suffix
      - DateOfBirth
      - BirthCountry
      - Gender
      - Nationality
      - Number
      - IssuingCountry
      - ExpirationDate
      - IssuedDate
      - Verified
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
    CheckinRequirements:
      type: object
      description: "Defines the pre checkin requirements.\n            "
      deprecated: true
      x-deprecatedMessage: Obsolete as of 4.4.4, please use the v2.
      additionalProperties: false
      properties:
        isValid:
          type: boolean
          description: "Flag indicating if the ability to checkin is valid.\n            "
        passengers:
          type:
          - object
          - 'null'
          description: "The collection of passengers and there requirements to checkin.\n            "
          additionalProperties:
            $ref: '#/components/schemas/CheckinPassengerRequirements'
        governmentProgramRequirements:
          type:
          - object
          - 'null'
          description: "The collection of government programs requirements.\n            "
          additionalProperties:
            $ref: '#/components/schemas/GovernmentProgramRequirements'
        restrictions:
          type:
          - array
          - 'null'
          description: "The list of any non passenger related checkin restrictions that will restrict the desired segments to be checked\nin.\nThe checkin restriction type = ('Closed', 'NotOpened', 'PnrLocked', 'MarketingCodeShareNotAllowed',\n'NotPaidInFull', 'PaymentsPending',\n'PaymentsPendingCustomerAction', 'RestrictedOnAnotherSystem', 'NotAllowed', 'ApisNotAllowed', 'AppsNotAllowed',\n'SegmentNotFound', 'InvalidPrice').\n            "
          items:
            $ref: '#/components/schemas/CheckinRestrictionType'
    ErrorResponse:
      type: object
      description: "Defines a unique error response.\n            "
      additionalProperties: false
      properties:
        exception:
          description: "The original exception that was thrown and all the exception details.\n            "
          $ref: '#/components/schemas/Exception'
        rawMessage:
          type:
          - string
          - 'null'
          description: "The original raw message set (non-localized).\n            "
        code:
          type:
          - string
          - 'null'
          description: "The unique error code. The primary value used to match against a unique message localized for the end user in the\nchosen language.\n            "
        message:
          type:
          - string
          - 'null'
          description: "The error message. Deprecated: Please use the Code instead.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The error type showing severity. Values: Critical, Error, Validation, Information.\n            "
        number:
          type:
          - integer
          - 'null'
          description: "A unique identifier in numeric form. This is required for Splunk logging. If none is provided a number will be\ngenerated based on code and type.\n            "
          format: int32
          maximum: 99999.0
          minimum: 0.0
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the error.\n            "
          additionalProperties:
            type: string
        ActivityId:
          type:
          - string
          - 'null'
          description: "The activity ID unique to the request. Useful for debugging purposes to uniquely look up what happened for this\nspecific request.\n            "
    IJsonResponseOfCheckinRequirementsv2:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/CheckinRequirementsv2'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    CheckinRestrictionType:
      type: integer
      description: "Defines the checkin level restriction types.\n            \n\n0 = Closed\n1 = NotOpened\n2 = PnrLocked\n3 = MarketingCodeShareNotAllowed\n4 = NotPaidInFull\n5 = PaymentsPending\n6 = PaymentsPendingCustomerAction\n7 = RestrictedOnAnotherSystem\n8 = NotAllowed\n9 = ApisNotAllowed\n10 = AppsNotAllowed\n11 = SegmentNotFound\n12 = InvalidPrice\n13 = MissingEMDCoupon"
      x-enumNames:
      - Closed
      - NotOpened
      - PnrLocked
      - MarketingCodeShareNotAllowed
      - NotPaidInFull
      - PaymentsPending
      - PaymentsPendingCustomerAction
      - RestrictedOnAnotherSystem
      - NotAllowed
      - ApisNotAllowed
      - AppsNotAllowed
      - SegmentNotFound
      - InvalidPrice
      - MissingEMDCoupon
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
    CheckinPassengersRequestv3:
      type: object
      description: "Defines the checkin passengers request v3 model.\n            "
      additionalProperties: false
      required:
      - passengers
      properties:
        passengers:
          type: array
          description: "The collection of passengers to checkin.\n            "
          items:
            $ref: '#/components/schemas/CheckinPassengerRequestv2'
        seatsRequired:
          type:
          - boolean
          - 'null'
          description: "The flag indicating whether a seat is required for checkin.\n            "
        skipSecurityChecks:
          type:
          - boolean
          - 'null'
          description: "The flag indicating whether checkin requirement validation will be skipped.\n            "
    CheckinPassengerRequirements:
      type: object
      description: "Defines an individual passengers checkin requirements.\n            "
      deprecated: true
      x-deprecatedMessage: Obsolete as of 4.4.4, please use the v2.
      additionalProperties: false
      properties:
        isValid:
          type: boolean
          description: "Flag indicating if the specific passenger checkin is valid.\n            "
        passengerKey:
          type:
          - string
          - 'null'
          description: "The associated passenger key.\n            "
        documentRequirements:
          description: "The passengers document requirements.\n            "
          $ref: '#/components/schemas/CheckinDocumentRequirements'
        addressRequirements:
          description: "The passengers address requirements.\n            "
          $ref: '#/components/schemas/CheckinAddressRequirements'
        invalidSsrs:
          type:
          - array
          - 'null'
          description: "The collection of checkin restricted/invalid SSR's the passenger contains.\n            "
          items:
            type: string
        requiredSsrs:
          type:
          - array
          - 'null'
          description: "The collection of checkin required SSR's the passenger is missing for each segment.\n            "
          items:
            $ref: '#/components/schemas/CheckinMissingSegmentRequiredSsr'
        restrictions:
          type:
          - array
          - 'null'
          description: "The list of passengers restrictions that will restrict passenger from checkin.\n            "
          items:
            $ref: '#/components/schemas/CheckinPassengerRestriction'
    IJsonResponseOfIDictionaryOfStringAndIListOfCheckinPassengerLiftStatus:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type:
          - object
          - 'null'
          description: "The payload data.\n            "
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/CheckinPassengerLiftStatus'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    CheckinPassengerRestrictionType:
      type: integer
      description: "Defines the checkin passenger restriction types.\n            \n\n0 = NotFound\n1 = MissingDestinationAddress\n2 = MissingCountryOrResidence\n3 = OnLockQueue\n4 = MissingRequiredSsrs\n5 = ContainsRestrictedSsrs\n6 = IsSelectee\n7 = MissingSeat\n8 = NotConfirmed\n9 = NotStandby\n10 = ContainsUnknownSsr\n11 = MissingApisRequirement\n12 = MissingDocuments\n13 = MissingName\n14 = MissingInfantName\n15 = MissingDateOfBirth\n16 = MissingInfantDateOfBirth\n17 = RestrictedInfantInLap"
      x-enumNames:
      - NotFound
      - MissingDestinationAddress
      - MissingCountryOrResidence
      - OnLockQueue
      - MissingRequiredSsrs
      - ContainsRestrictedSsrs
      - IsSelectee
      - MissingSeat
      - NotConfirmed
      - NotStandby
      - ContainsUnknownSsr
      - MissingApisRequirement
      - MissingDocuments
      - MissingName
      - MissingInfantName
      - MissingDateOfBirth
      - MissingInfantDateOfBirth
      - RestrictedInfantInLap
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
    CheckinPassengerRequirementsv2:
      type: object
      description: "Defines an individual passengers checkin requirements.\n            "
      additionalProperties: false
      properties:
        passengerKey:
          type:
          - string
          - 'null'
          description: "The associated passenger key.\n            "
        documentRequirements:
          description: "The passengers document requirements.\n            "
          $ref: '#/components/schemas/CheckinDocumentRequirementsv2'
        addressRequirements:
          description: "The passengers address requirements.\n            "
          $ref: '#/components/schemas/CheckinAddressRequirements'
        invalidSsrs:
          type:
          - array
          - 'null'
          description: "The collection of checkin restricted/invalid SSR's the passenger contains.\n            "
          items:
            type: string
        requiredSsrs:
          type:
          - array
          - 'null'
          description: "The collection of checkin required SSR's the passenger is missing for each segment.\n            "
          items:
            $ref: '#/components/schemas/CheckinMissingSegmentRequiredSsr'
        restrictions:
          type:
          - array
          - 'null'
          description: "The list of passengers restrictions that will restrict passenger from checkin.\n            "
          items:
            $ref: '#/components/schemas/CheckinPassengerRestriction'
        isValid:
          type: boolean
          description: "Flag indicating if the specific passenger checkin is valid.\n            "
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
  securitySchemes:
    JWT:
      type: http
      description: Paste your JWT token from the token endpoint.
      scheme: bearer
      bearerFormat: jwt
x-generator: NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))
