openapi: 3.2.0
info:
  title: flight-ndc-gateway-navitaire Order Retrieve API
  version: '21.3'
  description: 'NDC Gateway Api


    **Note:** This is the complete API reference and includes all available operations and parameters, some of which may not be relevant to your specific use case. Before using these examples directly, we recommend starting with the Postman Collection tab, which provides curated sample requests for the most common workflows. For additional tailored examples and guidance, please contact your TUI contact person.'
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- Bearer: []
tags:
- name: OrderRetrieve
paths:
  /x3/ndc/api/Servicing/r3.x/v21.3/OrderRetrieve:
    post:
      tags:
      - OrderRetrieve
      operationId: OrderRetrieveRQ
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          text/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          application/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          text/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
  /x3/ndc/api/Servicing/r3.x/v2/OrderRetrieve:
    post:
      tags:
      - OrderRetrieve
      operationId: POST OrderRetrieveRQ v21.3 DAPI
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          text/xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          application/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          text/json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            application/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
            text/json:
              schema:
                $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS'
components:
  schemas:
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxFilterCriteriaType:
      type: object
      properties:
        contactInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        employer:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EmployerType'
        foid:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FOID_Type'
        identityDoc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IdentityDocType'
        individual:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IndividualType'
        langUsage:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LangUsageType'
        loyaltyProgramAccount:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramAccountType'
        paxGroup:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxGroupType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyValueType:
      type: object
      properties:
        rsA_KeyValue:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RSA_KeyValueType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EmailAddressType:
      type: object
      properties:
        contactTypeText:
          type:
          - string
          - 'null'
        emailAddressText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderRetrieveRQ:
      type: object
      properties:
        augmentationPoint:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType'
        distributionChain:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainLinkType'
        payloadAttributes:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType'
        pos:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.POS_Type'
        request:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderRetrieveRequestType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderFilterCriteriaType:
      type: object
      properties:
        orderID:
          type:
          - string
          - 'null'
        orderVersionNumber:
          type:
          - string
          - 'null'
        ownerCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CityType:
      type: object
      properties:
        cityName:
          type:
          - string
          - 'null'
        iatA_LocationCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_EasyPayType:
      type: object
      properties:
        accountNumber:
          type:
          - string
          - 'null'
        approvalCode:
          type:
          - string
          - 'null'
        expirationDate:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.FOID_Type:
      type: object
      properties:
        foiD_ID:
          type:
          - string
          - 'null'
        foiD_TypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceMethodsType:
      type: object
      properties:
        commission:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CommissionType'
        netClearanceAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        processRuleCode:
          type:
          - string
          - 'null'
        remittanceDate:
          type: string
          format: date-time
        remittanceDateSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.VisaType:
      type: object
      properties:
        entryQty:
          type: number
          format: double
        entryQtySpecified:
          type: boolean
        expiryDate:
          type: string
          format: date-time
        expiryDateSpecified:
          type: boolean
        hostCountryCode:
          type:
          - string
          - 'null'
        issueDate:
          type: string
          format: date-time
        issueDateSpecified:
          type: boolean
        issuingCountryCode:
          type:
          - string
          - 'null'
        stayDuration:
          type:
          - string
          - 'null'
        visaID:
          type:
          - string
          - 'null'
        visaTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingSummaryPaymentMethodType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignatureValueType:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
          format: byte
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramType:
      type: object
      properties:
        alliance:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AllianceType'
        carrier:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierType'
        programCode:
          type:
          - string
          - 'null'
        programName:
          type:
          - string
          - 'null'
        providerName:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasurementSystemCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayerType:
      type: object
      properties:
        payerEmailAddress:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EmailAddressType'
        payerName:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayerNameType'
        payerPhoneNumber:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PhoneType'
        paymentAddress:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAddressType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PhoneType:
      type: object
      properties:
        areaCodeNumber:
          type:
          - string
          - 'null'
        contactTypeText:
          type:
          - string
          - 'null'
        countryDialingCode:
          type:
          - string
          - 'null'
        extensionNumber:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyRedemptionType:
      type: object
      properties:
        certificateNumber:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
        loyaltyCurAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        loyaltyProgramAccount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramAccountType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderAssociationType:
      type: object
      properties:
        orderItemRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        orderRefID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CanonicalizationMethodType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
        algorithm:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.POS_Type:
      type: object
      properties:
        agentDutyText:
          type:
          - string
          - 'null'
        city:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CityType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        onlineTrxInd:
          type: boolean
        onlineTrxIndSpecified:
          type: boolean
        requestTime:
          type: string
          format: date-time
        requestTimeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_OrderViewRS:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items: {}
        augmentationPoint:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType'
        distributionChain:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainLinkType'
        payloadAttributes:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType'
        paymentFunctions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentFunctionsOrderType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ObjectType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
        id:
          type:
          - string
          - 'null'
        mimeType:
          type:
          - string
          - 'null'
        encoding:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxExemptionQualificationCodeType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IndividualType:
      type: object
      properties:
        addlName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameType'
        birthdate:
          type: string
          format: date-time
        birthdateSpecified:
          type: boolean
        birthplaceText:
          type:
          - string
          - 'null'
        genderCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType'
        genderCodeSpecified:
          type: boolean
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        individualID:
          type:
          - string
          - 'null'
        middleName:
          type:
          - array
          - 'null'
          items:
            type: string
        suffixName:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        titleName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceDataType:
      type: object
      properties:
        clearanceID:
          type:
          - string
          - 'null'
        clearancePayeeData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayeeDataType'
        clearancePayeeSignature:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DigitalSignatureType'
        clearancePayerData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayerDataType'
        clearancePayerSignature:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DigitalSignatureType'
        netClearanceAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        paymentCommitmentDateTime:
          type: string
          format: date-time
        processRuleCode:
          type:
          - string
          - 'null'
        remittanceDate:
          type: string
          format: date-time
        remittanceDateSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AugmentationPointType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCardAddlInfoType:
      type: object
      properties:
        cardProductTypeCode:
          type:
          - string
          - 'null'
        cardTypeText:
          type:
          - string
          - 'null'
        iiN_IINNumber:
          type:
          - string
          - 'null'
        securePaymentAuthenticationVersion:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SecurePaymentAuthenticationVersionType'
        verificationInd:
          type: boolean
        verificationIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DigestMethodType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
        algorithm:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.StationType:
      type: object
      properties:
        iatA_LocationCode:
          type:
          - string
          - 'null'
        stationName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierType:
      type: object
      properties:
        airlineDesigCode:
          type:
          - string
          - 'null'
        duplicateDesigInd:
          type: boolean
        duplicateDesigIndSpecified:
          type: boolean
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RoundingPrecisionCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.VoucherType:
      type: object
      properties:
        effectiveDate:
          type: string
          format: date-time
        effectiveDateSpecified:
          type: boolean
        expirationDate:
          type: string
          format: date-time
        expirationDateSpecified:
          type: boolean
        remainingAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        voucherID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CollectionPointTaxType:
      type: object
      properties:
        airportAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        station:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.StationType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingSummaryType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        clearanceData:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceDataType'
        contactInfoRefID:
          type:
          - string
          - 'null'
        desc:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType'
        payer:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayerType'
        paymentCommitmentDateTime:
          type: string
          format: date-time
        paymentCommitmentDateTimeSpecified:
          type: boolean
        paymentID:
          type:
          - string
          - 'null'
        paymentProcessingSummaryPaymentMethod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingSummaryPaymentMethodType'
        paymentRefID:
          type:
          - string
          - 'null'
        paymentStatusCode:
          type:
          - string
          - 'null'
        paymentTrx:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentTrxType'
        priceVarianceAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        promotion:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PromotionType'
        surchargeAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        verificationInd:
          type: boolean
        verificationIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PricingParameterType:
      type: object
      properties:
        autoExchInd:
          type: boolean
        autoExchIndSpecified:
          type: boolean
        awardIncludedInd:
          type: boolean
        awardIncludedIndSpecified:
          type: boolean
        awardOnlyInd:
          type: boolean
        awardOnlyIndSpecified:
          type: boolean
        includeUpsellOffersInd:
          type: boolean
        includeUpsellOffersIndSpecified:
          type: boolean
        overrideCurCode:
          type:
          - string
          - 'null'
        simplePricingInd:
          type: boolean
        simplePricingIndSpecified:
          type: boolean
        taxExemption:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxSummaryType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType:
      type: object
      properties:
        characterSetCode:
          type:
          - string
          - 'null'
        encodingCode:
          type:
          - string
          - 'null'
        fileName:
          type:
          - string
          - 'null'
        format:
          type:
          - string
          - 'null'
        mimE_Code:
          type:
          - string
          - 'null'
        uniformResourceID:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
          format: byte
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ParticipatingOrgType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        orgID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesAgentType:
      type: object
      properties:
        salesAgentID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCardCriteriaType:
      type: object
      properties:
        cardBrandCode:
          type:
          - string
          - 'null'
        cardIssuingCountryCode:
          type:
          - string
          - 'null'
        cardProductTypeCode:
          type:
          - string
          - 'null'
        secureAuthenticationVersion:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SecurePaymentAuthenticationVersionType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayerType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PayerNameType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SettlementPlanType:
      type: object
      properties:
        iatA_Number:
          type: number
          format: double
        iatA_NumberSpecified:
          type: boolean
        paymentTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderValidationFilterCriteriaType:
      type: object
      properties:
        bookingRefFilterCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BookingInfoType'
        docFilterCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AccountableDocType'
        orderFilterCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderFilterCriteriaType'
        paxFilterCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxFilterCriteriaType'
        paymentFilterCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentFilterCriteriaType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceType:
      type: object
      properties:
        deviceCode:
          type:
          - string
          - 'null'
        deviceOwnerTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OwnershipTypeCodeType'
        deviceOwnerTypeCodeSpecified:
          type: boolean
        presenceTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PresenceTypeCodeType'
        presenceTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BDC_Type:
      type: object
      properties:
        bagRuleCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BagRuleCodeType'
        bagRuleCodeSpecified:
          type: boolean
        bdC_AnalysisResultCode:
          type:
          - string
          - 'null'
        bdC_ReasonText:
          type:
          - string
          - 'null'
        carrierDesigCode:
          type:
          - string
          - 'null'
        carrierName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OtherAddressType:
      type: object
      properties:
        contactTypeText:
          type:
          - string
          - 'null'
        otherAddressText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PromotionType:
      type: object
      properties:
        ownerName:
          type:
          - string
          - 'null'
        paxRefID:
          type:
          - array
          - 'null'
          items:
            type: string
        promotionID:
          type:
          - string
          - 'null'
        promotionIssuer:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PromotionIssuerType'
        remark:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CryptographyKeyType:
      type: object
      properties:
        keyNameText:
          type:
          - string
          - 'null'
        keyValue:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyValueType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAddressVerificationType:
      type: object
      properties:
        addressVerificationInvalidInd:
          type: boolean
        addressVerificationInvalidIndSpecified:
          type: boolean
        addressVerificationNoMatchInd:
          type: boolean
        addressVerificationNoMatchIndSpecified:
          type: boolean
        addressVerificationStatusCode:
          type:
          - string
          - 'null'
        addressVerificationText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OwnershipTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ItemsChoiceType2:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_PayloadStandardAttributesType:
      type: object
      properties:
        altLangID:
          type:
          - string
          - 'null'
        correlationID:
          type:
          - string
          - 'null'
        primaryLangID:
          type:
          - string
          - 'null'
        retransmissionInd:
          type: boolean
        retransmissionIndSpecified:
          type: boolean
        seqNumber:
          type: number
          format: double
        seqNumberSpecified:
          type: boolean
        timestamp:
          type: string
          format: date-time
        timestampSpecified:
          type: boolean
        trxID:
          type:
          - string
          - 'null'
        versionNumber:
          type: number
          format: double
        versionNumberSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignedInfoType:
      type: object
      properties:
        canonicalizationMethod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CanonicalizationMethodType'
        signatureMethod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignatureMethodType'
        reference:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ReferenceType'
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainLinkType:
      type: object
      properties:
        contactInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        ordinal:
          type:
          - string
          - 'null'
        orgRole:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainRoleCodeType'
        participatingOrg:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ParticipatingOrgType'
        salesAgent:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesAgentType'
        salesBranch:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesBranchType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentSurchargeType:
      type: object
      properties:
        amountRangeMaximumAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        amountRangeMinimumAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        percentageRangeMaximumPercent:
          type: number
          format: double
        percentageRangeMaximumPercentSpecified:
          type: boolean
        percentageRangeMinimumPercent:
          type: number
          format: double
        percentageRangeMinimumPercentSpecified:
          type: boolean
        preciseAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        precisePercent:
          type: number
          format: double
        precisePercentSpecified:
          type: boolean
        roundingNumberOfDecimalsNumber:
          type: number
          format: double
        roundingNumberOfDecimalsNumberSpecified:
          type: boolean
        roundingPrecisionCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RoundingPrecisionCodeType'
        roundingPrecisionCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SecurePaymentAuthenticationVersionType:
      type: object
      properties:
        cardEnrollmentVersionText:
          type:
          - array
          - 'null'
          items:
            type: string
        supportedVersionText:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramAccountType:
      type: object
      properties:
        accountNumber:
          type:
          - string
          - 'null'
        loyaltyProgram:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyProgramType'
        signInID:
          type:
          - string
          - 'null'
        tierCode:
          type:
          - string
          - 'null'
        tierName:
          type:
          - string
          - 'null'
        tierPriorityText:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AllianceType:
      type: object
      properties:
        allianceCode:
          type:
          - string
          - 'null'
        carrier:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierType'
        name:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentFunctionsOrderType:
      type: object
      properties:
        orderAssociation:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderAssociationType'
        paymentProcessingSummary:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentProcessingSummaryType'
        paymentSupportedMethod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentSupportedMethodType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderRetrieveRequestType:
      type: object
      properties:
        orderValidationFilterCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrderValidationFilterCriteriaType'
        responseParameters:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ResponseParametersRequestType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyInfoType:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items: {}
        itemsElementName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ItemsChoiceType2'
        text:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayeeType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentFilterCriteriaType:
      type: object
      properties:
        accountableDoc:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AccountableDocType'
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        contactInfoRefID:
          type:
          - string
          - 'null'
        directBill:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DirectBillType'
        iatA_EasyPay:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IATA_EasyPayType'
        loyaltyRedemption:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LoyaltyRedemptionType'
        otherPaymentMethod:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
        paymentCardCriteria:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCardCriteriaType'
        paymentInfoID:
          type:
          - string
          - 'null'
        paymentStatusCode:
          type:
          - string
          - 'null'
        settlementPlan:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SettlementPlanType'
        voucher:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.VoucherType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GeospatialLocationType:
      type: object
      properties:
        naturalAreaGeocode:
          type:
          - string
          - 'null'
        pointElevationNumber:
          type: number
          format: double
        pointElevationNumberSpecified:
          type: boolean
        pointLatitudeNumber:
          type: number
          format: double
        pointLatitudeNumberSpecified:
          type: boolean
        pointLongitudeNumber:
          type: number
          format: double
        pointLongitudeNumberSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAddressType:
      type: object
      properties:
        paymentAddressVerification:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAddressVerificationType'
        postalAddress:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PostalAddressType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DigitalSignatureType:
      type: object
      properties:
        signatureType:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignatureType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DescType:
      type: object
      properties:
        descText:
          type:
          - string
          - 'null'
        markupStyleText:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType:
      type: object
      properties:
        displayInd:
          type: boolean
        displayIndSpecified:
          type: boolean
        remarkText:
          type:
          - string
          - 'null'
        timestamp:
          type: string
          format: date-time
        timestampSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayeeDataType:
      type: object
      properties:
        clearancePayee:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayeeType'
        clearancePayeeReconciliationID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CommissionType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        commissionCode:
          type:
          - string
          - 'null'
        percentage:
          type: number
          format: double
        percentageSpecified:
          type: boolean
        percentageAppliedToAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        taxableInd:
          type: boolean
        taxableIndSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ResponseParametersRequestType:
      type: object
      properties:
        bdc:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BDC_Type'
        curParameter:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurParameterType'
        device:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceType'
        deviceLocation:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceLocationType'
        inventoryGuaranteeInd:
          type: boolean
        inventoryGuaranteeIndSpecified:
          type: boolean
        langUsage:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LangUsageType'
        measurementSystemCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.MeasurementSystemCodeType'
        measurementSystemCodeSpecified:
          type: boolean
        paxGroup:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxGroupType'
        pricingParameter:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PricingParameterType'
        reasonCode:
          type:
          - string
          - 'null'
        remark:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AccountableDocType:
      type: object
      properties:
        dateOfIssue:
          type: string
          format: date-time
        dateOfIssueSpecified:
          type: boolean
        docNumber:
          type:
          - string
          - 'null'
        docType:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentSupportedMethodType:
      type: object
      properties:
        clearanceMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearanceMethodsType'
        cryptographyKey:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CryptographyKeyType'
        paymentBrandCode:
          type:
          - string
          - 'null'
        paymentMethodAddlInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodAddlInfoType'
        paymentMethodCountryCode:
          type:
          - string
          - 'null'
        paymentRedirectionInd:
          type: boolean
        paymentRedirectionIndSpecified:
          type: boolean
        paymentSurcharge:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentSurchargeType'
        paymentTypeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DirectBillType:
      type: object
      properties:
        contactInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        orgID:
          type:
          - string
          - 'null'
        orgName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignatureMethodType:
      type: object
      properties:
        hmacOutputLength:
          type:
          - string
          - 'null'
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
        algorithm:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RSA_KeyValueType:
      type: object
      properties:
        exponent:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
        modulus:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BinaryObjectType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountrySubDivisionType:
      type: object
      properties:
        countrySubDivisionCode:
          type:
          - string
          - 'null'
        countrySubDivisionName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DeviceLocationType:
      type: object
      properties:
        city:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CityType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        geospatialLocation:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GeospatialLocationType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType:
      type: object
      properties:
        curCode:
          type:
          - string
          - 'null'
        value:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PromotionIssuerType:
      type: object
      properties:
        item: {}
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrgType:
      type: object
      properties:
        contactInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        name:
          type:
          - string
          - 'null'
        orgID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaxGroupType:
      type: object
      properties:
        contactInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType'
        intendedPaxQty:
          type: number
          format: double
        intendedPaxQtySpecified:
          type: boolean
        paxGroupID:
          type:
          - string
          - 'null'
        paxGroupName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurParameterType:
      type: object
      properties:
        appCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurAppCodeType'
        appCodeSpecified:
          type: boolean
        curCode:
          type:
          - string
          - 'null'
        decimalsAllowedNumber:
          type: number
          format: double
        decimalsAllowedNumberSpecified:
          type: boolean
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IdentityDocType:
      type: object
      properties:
        addlName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameType'
        birthdate:
          type: string
          format: date-time
        birthdateSpecified:
          type: boolean
        birthplaceText:
          type:
          - string
          - 'null'
        citizenshipCountryCode:
          type:
          - string
          - 'null'
        expiryDate:
          type: string
          format: date-time
        expiryDateSpecified:
          type: boolean
        genderCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.GenderCodeType'
        genderCodeSpecified:
          type: boolean
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        identityDocID:
          type:
          - string
          - 'null'
        identityDocTypeCode:
          type:
          - string
          - 'null'
        issueDate:
          type: string
          format: date-time
        issueDateSpecified:
          type: boolean
        issuingCountryCode:
          type:
          - string
          - 'null'
        middleName:
          type:
          - array
          - 'null'
          items:
            type: string
        residenceCountryCode:
          type:
          - string
          - 'null'
        suffixName:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        titleName:
          type:
          - string
          - 'null'
        visa:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.VisaType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BookingInfoType:
      type: object
      properties:
        bookingID:
          type:
          - string
          - 'null'
        carrier:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CarrierType'
        org:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OrgType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentMethodAddlInfoType:
      type: object
      properties:
        paymentCardAddlInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentCardAddlInfoType'
        paymentOtherMethodAddlInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RemarkType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentTrxType:
      type: object
      properties:
        descText:
          type:
          - string
          - 'null'
        inputCurCode:
          type:
          - string
          - 'null'
        maximumTryInd:
          type: boolean
        maximumTryIndSpecified:
          type: boolean
        notProcessedInd:
          type: boolean
        notProcessedIndSpecified:
          type: boolean
        originalID:
          type:
          - string
          - 'null'
        paymentAddressVerification:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PaymentAddressVerificationType'
        retryInd:
          type: boolean
        retryIndSpecified:
          type: boolean
        settlementCurCode:
          type:
          - string
          - 'null'
        timestampDateTime:
          type: string
          format: date-time
        timestampDateTimeSpecified:
          type: boolean
        trxDataText:
          type:
          - array
          - 'null'
          items:
            type: string
        trxID:
          type:
          - string
          - 'null'
        trxTypeText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurAppCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.BagRuleCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxType:
      type: object
      properties:
        addlFiledTaxCode:
          type:
          - string
          - 'null'
        addlTaxCode:
          type:
          - string
          - 'null'
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        approximateInd:
          type: boolean
        approximateIndSpecified:
          type: boolean
        appTypeCode:
          type:
          - string
          - 'null'
        collectionInd:
          type: boolean
        collectionIndSpecified:
          type: boolean
        collectionPointTax:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CollectionPointTaxType'
        country:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountryType'
        countrySubDivision:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountrySubDivisionType'
        curConversion:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurConversionType'
        descText:
          type:
          - string
          - 'null'
        filedAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        filedTaxCode:
          type:
          - string
          - 'null'
        qualifierCode:
          type:
          - string
          - 'null'
        refundInd:
          type: boolean
        refundIndSpecified:
          type: boolean
        taxCode:
          type:
          - string
          - 'null'
        taxName:
          type:
          - string
          - 'null'
        taxTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxTypeCodeType'
        taxTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayerDataType:
      type: object
      properties:
        clearancePayer:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ClearancePayerType'
        clearancePayerReconciliationID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ContactInfoType:
      type: object
      properties:
        contactInfoID:
          type:
          - string
          - 'null'
        contactPurposeText:
          type:
          - array
          - 'null'
          items:
            type: string
        contactRefusedInd:
          type: boolean
        contactRefusedIndSpecified:
          type: boolean
        emailAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EmailAddressType'
        individual:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.IndividualType'
        individualRefID:
          type:
          - string
          - 'null'
        otherAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.OtherAddressType'
        paxSegmentRefID:
          type:
          - string
          - 'null'
        phone:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PhoneType'
        postalAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PostalAddressType'
        relationshipToPax:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesBranchType:
      type: object
      properties:
        salesBranchID:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxSummaryType:
      type: object
      properties:
        allRefundableInd:
          type: boolean
        allRefundableIndSpecified:
          type: boolean
        approximateInd:
          type: boolean
        approximateIndSpecified:
          type: boolean
        collectionInd:
          type: boolean
        collectionIndSpecified:
          type: boolean
        guaranteeTimeLimitDateTime:
          type: string
          format: date-time
        guaranteeTimeLimitDateTimeSpecified:
          type: boolean
        refundMethodText:
          type:
          - string
          - 'null'
        tax:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxType'
        totalRefundableTaxAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        totalTaxAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RateType:
      type: object
      properties:
        baseCurCode:
          type:
          - string
          - 'null'
        baseMultiplierValue:
          type: number
          format: double
        baseMultiplierValueSpecified:
          type: boolean
        baseUnitCode:
          type:
          - string
          - 'null'
        curCode:
          type:
          - string
          - 'null'
        format:
          type:
          - string
          - 'null'
        multiplierValue:
          type: number
          format: double
        multiplierValueSpecified:
          type: boolean
        unitCode:
          type:
          - string
          - 'null'
        value:
          type: number
          format: double
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PostalAddressType:
      type: object
      properties:
        buildingRoomText:
          type:
          - string
          - 'null'
        cityName:
          type:
          - string
          - 'null'
        contactTypeText:
          type:
          - string
          - 'null'
        countryCode:
          type:
          - string
          - 'null'
        countryName:
          type:
          - string
          - 'null'
        countrySubDivisionName:
          type:
          - string
          - 'null'
        pO_BoxCode:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        streetText:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.EmployerType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        salesTaxRegistration:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesTaxRegistrationType'
        taxationExemptionQualifierCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TaxExemptionQualificationCodeType'
        taxationExemptionQualifierCodeSpecified:
          type: boolean
        taxDeductedatSourceCapabilityInd:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignatureType:
      type: object
      properties:
        signedInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignedInfoType'
        signatureValue:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SignatureValueType'
        keyInfo:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.KeyInfoType'
        object:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ObjectType'
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CurConversionType:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
        conversionRate:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.RateType'
        localAmount:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AmountType'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.ReferenceType:
      type: object
      properties:
        transforms:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TransformType'
        digestMethod:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DigestMethodType'
        digestValue:
          type:
          - string
          - 'null'
          format: byte
        id:
          type:
          - string
          - 'null'
        uri:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.SalesTaxRegistrationType:
      type: object
      properties:
        cityName:
          type:
          - string
          - 'null'
        countryCode:
          type:
          - string
          - 'null'
        countryDialingCode:
          type:
          - string
          - 'null'
        countrySubDivisionName:
          type:
          - string
          - 'null'
        emailAddressText:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - array
          - 'null'
          items:
            type: string
        postalCode:
          type:
          - string
          - 'null'
        salesTaxRegistrationID:
          type:
          - string
          - 'null'
        streetText:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.PresenceTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.DistributionChainRoleCodeType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.CountryType:
      type: object
      properties:
        countryCode:
          type:
          - string
          - 'null'
        countryName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        nameTypeCode:
          $ref: '#/components/schemas/Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.AddlNameTypeCodeType'
        nameTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.TransformType:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items: {}
        text:
          type:
          - array
          - 'null'
          items:
            type: string
        algorithm:
          type:
          - string
          - 'null'
      additionalProperties: false
    Navitaire.Ndc.Servicing.Application.IataMessageHandlers.v213.IataMessages.LangUsageType:
      type: object
      properties:
        langCode:
          type:
          - string
          - 'null'
        langUsageText:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Please enter into field the word 'Bearer' following by space and JWT
      scheme: Bearer
      bearerFormat: JWT
