openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Organizations2 API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: organizations2
paths:
  /api/nsk/v1/organizations2:
    post:
      tags:
      - organizations2
      summary: Create a new organization.
      description: 'Requires agent permissions.

        The organization code is a generic code for all of the organization types. Each individual type has its own code

        and validation.

        If the organization status is not pending the organization code should follow these validation rules based on type:

        Third Party: 3 to 10 characters in length with alphanumeric values.

        Travel Agency: 7 to 10 characters in length with numeric values.

        Carrier: 2 to 3 characters in length with alphanumeric values.

        If no organization code is provided then one will be generated and returned on the header.


        GraphQL endpoint: organizationAdd'
      operationId: nsk_v1_organizations2_post
      requestBody:
        x-name: createRequest
        description: The request for creating the new organization.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreateRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/organizations2:
    get:
      tags:
      - organizations2
      summary: Searches for organizations.
      description: 'GraphQL endpoint: organizations2v2'
      operationId: nsk_v2_organizations2_get
      parameters:
      - name: OrganizationCode
        in: query
        description: "The organization code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 10
          minLength: 2
        x-position: 1
      - name: Type
        in: query
        description: "Organization type.\n             \nEnumeration values: 0 = Default, 1 = Master, 2 = Carrier, 3 = TravelAgency, 4 = ThirdParty"
        schema:
          $ref: '#/components/schemas/OrganizationType'
        x-position: 2
      - name: Status
        in: query
        description: "The organization status.\n             \nEnumeration values: 0 = Default, 1 = Active, 2 = Cancelled, 3 = Pending"
        schema:
          $ref: '#/components/schemas/OrganizationStatus'
        x-position: 3
      - name: ParentOrganizationCode
        in: query
        description: "The parent organization code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 10
          minLength: 2
        x-position: 4
      - name: CompanyName
        in: query
        description: "The organization company name.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: City
        in: query
        description: "The organization company city.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 32
          minLength: 0
        x-position: 6
      - name: PostalCode
        in: query
        description: "The organization company postal code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 10
          minLength: 0
        x-position: 7
      - name: PagedItemIndex
        in: query
        description: "Used to specify the index for skipping values when paging.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int64
          maximum: 9.223372036854776e+18
          minimum: 1.0
        x-position: 8
      - name: PageSize
        in: query
        description: "Used to specify the maximum results to return.\n            "
        schema:
          type:
          - integer
          - 'null'
          maximum: 5000.0
          minimum: 1.0
        x-position: 9
      - name: MatchCriteria.OrganizationCode
        in: query
        description: "The type of string search for organization code.\n             \nEnumeration values: 0 = StartsWith, 1 = EndsWith, 2 = Contains, 3 = ExactMatch"
        schema:
          $ref: '#/components/schemas/MatchCriteria'
        x-position: 10
      - name: MatchCriteria.ParentOrganizationCode
        in: query
        description: "The  type of string search for parent organization code.\n             \nEnumeration values: 0 = StartsWith, 1 = EndsWith, 2 = Contains, 3 = ExactMatch"
        schema:
          $ref: '#/components/schemas/MatchCriteria'
        x-position: 11
      - name: MatchCriteria.CompanyName
        in: query
        description: "The  type of string search for organization company name.\n             \nEnumeration values: 0 = StartsWith, 1 = EndsWith, 2 = Contains, 3 = ExactMatch"
        schema:
          $ref: '#/components/schemas/MatchCriteria'
        x-position: 12
      - name: MatchCriteria.City
        in: query
        description: "The  type of string search for organization company city.\n             \nEnumeration values: 0 = StartsWith, 1 = EndsWith, 2 = Contains, 3 = ExactMatch"
        schema:
          $ref: '#/components/schemas/MatchCriteria'
        x-position: 13
      - name: MatchCriteria.PostalCode
        in: query
        description: "The  type of string search for organization company postal code.\n             \nEnumeration values: 0 = StartsWith, 1 = EndsWith, 2 = Contains, 3 = ExactMatch"
        schema:
          $ref: '#/components/schemas/MatchCriteria'
        x-position: 14
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfOrganizationRecord'
  /api/nsk/v1/organizations2/{organizationCode}:
    get:
      tags:
      - organizations2
      summary: Retrieves the organization.
      description: 'GraphQL endpoint: organization2'
      operationId: nsk_v1_organizations2_organizationCode_get
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The identifier of the organization to update.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfOrganizationv2'
    put:
      tags:
      - organizations2
      summary: Updates an organization.
      description: 'Requires agent permissions.

        The organization code is a generic code for all of the organization types. Each individual type has its own code

        and validation.

        If the organization status is not pending the organization code should follow these validation rules based on type:

        Third Party: 3 to 10 characters in length with alphanumeric values.

        Travel Agency: 7 to 10 characters in length with numeric values.

        Carrier: 2 to 3 characters in length with alphanumeric values.


        GraphQL endpoint: organizationSet'
      operationId: nsk_v1_organizations2_organizationCode_put
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The identifier for the organization to be updated.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The request for the update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationEditRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - organizations2
      summary: Updates an organization.
      description: 'Requires agent permissions.

        The organization code is a generic code for all of the organization types. Each individual type has its own code

        and validation.

        If the organization status is not pending the organization code should follow these validation rules based on type:

        Third Party: 3 to 10 characters in length with alphanumeric values.

        Travel Agency: 7 to 10 characters in length with numeric values.

        Carrier: 2 to 3 characters in length with alphanumeric values.


        GraphQL endpoint: organizationModify'
      operationId: nsk_v1_organizations2_organizationCode_patch
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The identifier of the organization to update.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: createRequest
        description: The request containing the updates for the organization.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfOrganizationEditRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/account:
    get:
      tags:
      - organizations2
      summary: Retrieves the organization account and collections based on the organization code.
      description: 'GraphQL endpoint: organizations2Account'
      operationId: nsk_v1_organizations2_organizationCode_account_get
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfOrganizationAccount'
    post:
      tags:
      - organizations2
      summary: Creates an organization account based on the organization code.
      description: 'GraphQL endpoint: organizations2AccountAdd'
      operationId: nsk_v1_organizations2_organizationCode_account_post
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The create organization account request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationAccountRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/account/childAccountTransactions:
    post:
      tags:
      - organizations2
      summary: Adjust the available amount of a child account.
      description: 'The known list of parent-child relations are as follows:

        - Dependent accounts are not supported.

        - A parent''s account of type credit may have children of type supplemental or credit.

        - A parent''s account of type prepaid may have children of type prepaid.

        - No other combination of parent-child relations are supported.


        GraphQL endpoint: childAccountTransactionsAdd'
      operationId: nsk_v1_organizations2_organizationCode_account_childAccountTransactions_post
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The account reference number for the child organization.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The child account transaction request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChildAccountTransactionsRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - organizations2
      summary: Adjust the credit limit of a child account.
      description: 'The known list of parent-child relations are as follows:

        - Dependent accounts are not supported.

        - A parent''s account of type credit may have children of type supplemental or credit.

        - A parent''s account of type prepaid may have children of type prepaid.

        - No other combination of parent-child relations are supported.


        GraphQL endpoint: childAccountTransactionsSet'
      operationId: nsk_v1_organizations2_organizationCode_account_childAccountTransactions_put
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The account reference number for the child organization.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The child account transaction request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChildAccountTransactionsRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/account/status:
    put:
      tags:
      - organizations2
      summary: Updates the organization account status.
      description: 'GraphQL endpoint: organizations2AccountStatusSet'
      operationId: nsk_v1_organizations2_organizationCode_account_status_put
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      - name: status
        in: query
        description: "The allowed account status. \nEnumeration values: 0 = Open, 1 = Closed, 2 = AgencyInactive, 3 = Unknown"
        schema:
          $ref: '#/components/schemas/AccountStatus'
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/account/transactions:
    get:
      tags:
      - organizations2
      summary: 'Retrieves the organization account transactions based on the organization code

        and data in the request.'
      description: 'GraphQL endpoint: organizations2Transactions'
      operationId: nsk_v1_organizations2_organizationCode_account_transactions_get
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      - name: StartTime
        in: query
        description: "The starting date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 2
      - name: EndTime
        in: query
        description: "The end date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 3
      - name: SortByNewest
        in: query
        description: "Optional filter to sort results by newest.\n            "
        schema:
          type: boolean
        x-position: 4
      - name: PageSize
        in: query
        description: "Used to specify the number of records to return.\n            "
        schema:
          type:
          - integer
          - 'null'
          maximum: 5000.0
          minimum: 10.0
        x-position: 5
      - name: PageIndex
        in: query
        description: "Represents the index of the requested paged item.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 6
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfTransaction'
              examples:
                Retrieve Transactions Response:
                  description: Example response for retrieving transactions.
                  value:
                    data:
                    - accountTransactionCode: null
                      recordLocator: null
                      accountReference: null
                      transactionKey: MSExITEwMjA4OCJsJNQxATUzMyEhUURRNUZ
                      amount: -2.42
                      createdDate: '2026-07-09T05:55:16.3583433Z'
                      currencyCode: USD
                      foreignAmount: -15.0
                      note: 'Funds Used: PNR123'
                      foreignCurrencyCode: CNY
                      type: 0
                      paymentId: 365423
                      accountCollectionKey: MSex
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Empty Start Date:
                  description: Example response when start date field is empty.
                  value:
                    errors:
                    - id: 154b85c0-1119-42c2-895c-1aa09ec3a85b
                      code: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      message: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      type: Validation
                      details:
                        validation: RequiredAttribute
                        model: TransactionSearchRequestv2
                        member: StartDate
                      rawMessage: The TransactionSearchRequestv2 field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                End Date Before Start Date:
                  description: Example response when end date is before start date.
                  value:
                    errors:
                    - id: 4e33c648-abec-fa59-0877-5e0bfee7ea87
                      code: nsk:Validation:EndDateBeforeStartDate
                      message: nsk:Validation:EndDateBeforeStartDate
                      type: Validation
                      details: null
                      rawMessage: The requested end date of 1/1/2011 occurs before the requested start date of 1/1/2012.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
      deprecated: true
    post:
      tags:
      - organizations2
      summary: 'Creates account transactions based on data in the request and the

        organization code.'
      description: 'GraphQL endpoint: organizations2TransactionsAdd'
      operationId: nsk_v1_organizations2_organizationCode_account_transactions_post
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The transaction request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationTransactionRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/organizations2/{organizationCode}/account/transactions:
    get:
      tags:
      - organizations2
      summary: Retrieves the organization account transactions based on the organization code and data in the request.
      description: 'GraphQL endpoint: organizations2Transactionsv2'
      operationId: nsk_v2_organizations2_organizationCode_account_transactions_get
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      - name: StartDate
        in: query
        description: "The starting date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 2
      - name: EndDate
        in: query
        description: "The end date and time of the date range to search in.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 3
      - name: SortByNewest
        in: query
        description: "Optional filter to sort results by newest.\n            "
        schema:
          type: boolean
        x-position: 4
      - name: PageSize
        in: query
        description: "Used to specify the number of records to return.\n            "
        schema:
          type:
          - integer
          - 'null'
          maximum: 5000.0
          minimum: 10.0
        x-position: 5
      - name: LastPageKey
        in: query
        description: "The last page key where to start paged query.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPagedTransactionResponse'
              examples:
                Retrieve Transactions Successful:
                  description: Example response for a successful retrieval of transactions.
                  value:
                    data:
                      totalCount: 11085
                      lastPageKey: MTAw
                      transactions:
                      - accountTransactionCode: null
                        recordLocator: null
                        accountReference: null
                        transactionKey: MSExITEwMjA4OCJsJNQxATUzMyEhUURRNUZ
                        amount: -2.42
                        createdDate: '2026-07-09T05:55:16.388568Z'
                        currencyCode: USD
                        foreignAmount: -15.0
                        note: 'Funds Used: PNR123'
                        foreignCurrencyCode: CNY
                        type: 0
                        paymentId: 365423
                        accountCollectionKey: MSex
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Empty Start Date:
                  description: Example response when start date field is empty.
                  value:
                    errors:
                    - id: 154b85c0-1119-42c2-895c-1aa09ec3a85b
                      code: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      message: TransactionSearchRequestv2.StartDate:RequiredAttribute
                      type: Validation
                      details:
                        validation: RequiredAttribute
                        model: TransactionSearchRequestv2
                        member: StartDate
                      rawMessage: The TransactionSearchRequestv2 field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                End Date Before Start Date:
                  description: Example response when end date is before start date.
                  value:
                    errors:
                    - id: 4e33c648-abec-fa59-0877-5e0bfee7ea87
                      code: nsk:Validation:EndDateBeforeStartDate
                      message: nsk:Validation:EndDateBeforeStartDate
                      type: Validation
                      details: null
                      rawMessage: The requested end date of 1/1/2011 occurs before the requested start date of 1/1/2012.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '404':
          description: End of paged results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                End of paged results:
                  description: 404 no content can be returned when there is no data or all data is filtered out such as when there is no more paged results.
                  value:
                    data: null
  /api/nsk/v1/organizations2/{organizationCode}/allotments/contracts:
    get:
      tags:
      - organizations2
      summary: Retrieves all allotment contracts for the specified organization.
      description: 'GraphQL endpoint: allotmentContracts'
      operationId: nsk_v1_organizations2_organizationCode_allotments_contracts_get
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfAllotmentContractResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    post:
      tags:
      - organizations2
      summary: Creates the specified allotment contract.
      description: 'GraphQL endpoint: allotmentContractAdd'
      operationId: nsk_v1_organizations2_organizationCode_allotments_contracts_post
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The allotment contract to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllotmentContractRequest'
            examples:
              Allotment contract request:
                description: Updates the current user's password with the new provided one.
                value:
                  contractCode: ABC
                  description: Travel agency contract
                  status: 1
                  discontinueDate: '2026-07-09T05:55:16.1780894Z'
                  contractProperties:
                  - contractPropertyCode: ABC
                    value: Test
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Error response for no request.:
                  description: Only returns raw message in debug mode.
                  value:
                    errors:
                    - id: null
                      code: core:Validation:RequiredArgument
                      message: null
                      type: Error
                      details: null
                      rawMessage: The request is missing a required argument expected in the request.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when that status is default (0).:
                  description: Only returns raw message in debug mode.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:AllotmentContractStatusInvalid
                      message: null
                      type: Error
                      details: null
                      rawMessage: '''Default'' is not a valid status for a Contract.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/organizations2/{organizationCode}/allotments/contracts/{contractCode}:
    put:
      tags:
      - organizations2
      summary: Updates the specified allotment contract.
      description: 'GraphQL endpoint: allotmentContractSet'
      operationId: nsk_v1_organizations2_organizationCode_allotments_contracts_contractCode_put
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      - name: contractCode
        in: path
        required: true
        description: The contract code.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The allotment contract to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllotmentContractUpdateRequest'
            examples:
              Allotment contract request:
                description: Updates the current user's password with the new provided one.
                value:
                  contractCode: ABC
                  description: Travel agency contract
                  status: 1
                  discontinueDate: '2026-07-09T05:55:16.1807784Z'
                  contractProperties:
                  - contractPropertyCode: ABC
                    value: Test
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Error response for no request.:
                  description: Only returns raw message in debug mode.
                  value:
                    errors:
                    - id: null
                      code: core:Validation:RequiredArgument
                      message: null
                      type: Error
                      details: null
                      rawMessage: The request is missing a required argument expected in the request.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when that status is default (0).:
                  description: Only returns raw message in debug mode.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:AllotmentContractStatusInvalid
                      message: null
                      type: Error
                      details: null
                      rawMessage: '''Default'' is not a valid status for a Contract.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/organizations2/{organizationCode}/commissionRates:
    post:
      tags:
      - organizations2
      summary: Create a commission rate.
      description: 'GraphQL endpoint: organizationCommissionRateAdd'
      operationId: nsk_v1_organizations2_organizationCode_commissionRates_post
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization group code to create a commission rate for.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The organization commission rate request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCommissionRate'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/commissionRates/{commissionRateCode}:
    get:
      tags:
      - organizations2
      summary: Get a commission rate.
      description: Get a commission rate.
      operationId: nsk_v1_organizations2_organizationCode_commissionRates_commissionRateCode_get
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization group code to retrieve commission rates for.
        schema:
          type: string
        x-position: 1
      - name: commissionRateCode
        in: path
        required: true
        description: The commission rate code to retrieve.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfOrganizationCommissionRate'
    delete:
      tags:
      - organizations2
      summary: Delete a commission rate.
      description: 'GraphQL endpoint: organizationCommissionRateDelete'
      operationId: nsk_v1_organizations2_organizationCode_commissionRates_commissionRateCode_delete
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization group code to delete commission rates for.
        schema:
          type: string
        x-position: 1
      - name: commissionRateCode
        in: path
        required: true
        description: The commission rate code to delete.
        schema:
          type: string
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/company/phoneNumbers:
    post:
      tags:
      - organizations2
      summary: Create a company phone number.
      description: 'GraphQL endpoint: organizationCompanyPhoneAdd'
      operationId: nsk_v1_organizations2_organizationCode_company_phoneNumbers_post
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code for the organization that owns the phone number.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The data to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumber'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/company/phoneNumbers/{phoneNumberType}:
    put:
      tags:
      - organizations2
      summary: Updates a company phone number.
      description: 'GraphQL endpoint: organizationCompanyPhoneSet'
      operationId: nsk_v1_organizations2_organizationCode_company_phoneNumbers_phoneNumberType_put
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code for the organization that owns the phone number.
        schema:
          type: string
        x-position: 1
      - name: phoneNumberType
        in: path
        required: true
        description: "The phone number type of the phone number to update. \nEnumeration values: 0 = Other, 1 = Home, 2 = Work, 3 = Mobile, 4 = Fax"
        schema:
          $ref: '#/components/schemas/PhoneNumberType'
        x-position: 2
      requestBody:
        x-name: request
        description: The data to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberBase'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - organizations2
      summary: Deletes a company phone number.
      description: 'GraphQL endpoint: organizationCompanyPhoneDelete'
      operationId: nsk_v1_organizations2_organizationCode_company_phoneNumbers_phoneNumberType_delete
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code for the organization that owns the phone number.
        schema:
          type: string
        x-position: 1
      - name: phoneNumberType
        in: path
        required: true
        description: "The phone number type of the phone number to delete. \nEnumeration values: 0 = Other, 1 = Home, 2 = Work, 3 = Mobile, 4 = Fax"
        schema:
          $ref: '#/components/schemas/PhoneNumberType'
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/contact/phoneNumbers:
    post:
      tags:
      - organizations2
      summary: Create a contact phone number.
      description: 'GraphQL endpoint: organizationContactPhoneAdd'
      operationId: nsk_v1_organizations2_organizationCode_contact_phoneNumbers_post
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code for the organization that owns the contact.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The request for the update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumber'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/contact/phoneNumbers/{phoneNumberType}:
    put:
      tags:
      - organizations2
      summary: Updates a contact phone number.
      description: 'GraphQL endpoint: organizationContactPhoneSet'
      operationId: nsk_v1_organizations2_organizationCode_contact_phoneNumbers_phoneNumberType_put
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code for the organization that owns the contact.
        schema:
          type: string
        x-position: 1
      - name: phoneNumberType
        in: path
        required: true
        description: "The type of the phone number being updated. \nEnumeration values: 0 = Other, 1 = Home, 2 = Work, 3 = Mobile, 4 = Fax"
        schema:
          $ref: '#/components/schemas/PhoneNumberType'
        x-position: 2
      requestBody:
        x-name: request
        description: The request for updating the phone number.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberBase'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - organizations2
      summary: Deletes a contact phone number.
      description: 'GraphQL endpoint: organizationContactPhoneDelete'
      operationId: nsk_v1_organizations2_organizationCode_contact_phoneNumbers_phoneNumberType_delete
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code for the organization that owns the contact.
        schema:
          type: string
        x-position: 1
      - name: phoneNumberType
        in: path
        required: true
        description: "The type of the phone number being deleted. \nEnumeration values: 0 = Other, 1 = Home, 2 = Work, 3 = Mobile, 4 = Fax"
        schema:
          $ref: '#/components/schemas/PhoneNumberType'
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/externalAccounts:
    post:
      tags:
      - organizations2
      summary: Create an external account.
      description: 'GraphQL endpoint: organizationExternalAccountAdd'
      operationId: nsk_v1_organizations2_organizationCode_externalAccounts_post
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code for the organization that owns the account.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The request containing the information for the account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationExternalAccountRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/externalAccounts/{externalAccountKey}:
    get:
      tags:
      - organizations2
      summary: Get an external account.
      description: Get an external account.
      operationId: nsk_v1_organizations2_organizationCode_externalAccounts_externalAccountKey_get
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code for the organization that owns the account.
        schema:
          type: string
        x-position: 1
      - name: externalAccountKey
        in: path
        required: true
        description: The particular external account desired.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfOrganizationExternalAccountv2'
    delete:
      tags:
      - organizations2
      summary: Delete an external account.
      description: 'GraphQL endpoint: organizationExternalAccountDelete'
      operationId: nsk_v1_organizations2_organizationCode_externalAccounts_externalAccountKey_delete
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization that owns the account to delete.
        schema:
          type: string
        x-position: 1
      - name: externalAccountKey
        in: path
        required: true
        description: The particular account to delete.
        schema:
          type: string
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/processSchedules:
    get:
      tags:
      - organizations2
      summary: Returns a list of Process Schedules for the organization.
      description: 'GraphQL endpoint: organizationProcessScheduleGetAll'
      operationId: nsk_v1_organizations2_organizationCode_processSchedules_get
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfOrganizationProcessSchedule'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/{organizationCode}/processSchedules/{processScheduleId}:
    post:
      tags:
      - organizations2
      summary: Adds a process schedule to the organization.
      description: 'GraphQL endpoint: organizationProcessScheduleAdd'
      operationId: nsk_v1_organizations2_organizationCode_processSchedules_processScheduleId_post
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      - name: processScheduleId
        in: path
        required: true
        description: The ID of the process schedule.
        schema:
          type: integer
          format: int64
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - organizations2
      summary: Deletes a process schedule from the organization.
      description: 'GraphQL endpoint: organizationProcessScheduleDelete'
      operationId: nsk_v1_organizations2_organizationCode_processSchedules_processScheduleId_delete
      parameters:
      - name: organizationCode
        in: path
        required: true
        description: The organization code.
        schema:
          type: string
        x-position: 1
      - name: processScheduleId
        in: path
        required: true
        description: The ID of the process schedule.
        schema:
          type: integer
          format: int64
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/allotments:
    get:
      tags:
      - organizations2
      summary: Retrieves all allotments for the specified leg.
      description: 'GraphQL endpoint: allotments'
      operationId: nsk_v1_organizations2_allotments_get
      parameters:
      - name: legKey
        in: query
        description: The leg key.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfAllotmentResponse'
              examples:
                Allotment response:
                  description: Returns an allotment response
                  value:
                    allotmentBasisCode: NEGO1
                    authorizedUnits: 10
                    allotted: 10
                    nest: 1
                    classOfService: NEGO
                    type: 4
                    rank: 0
                    seatsSold: 5
                    latestAdvanceReservation: 0
                    status: 1
                    legNestKey: MQ--
                    legClassKey: Mjk1MTAwNCExIU5FR08-
                    legKey: null
                    marketInformation: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/allotments/{allotmentBasisCode}:
    get:
      tags:
      - organizations2
      summary: Retrieves a single allotment for the specified leg using the given allotment basis code.
      description: 'The allotment basis code should be substituted with allotment class code in Fare Manager Plus environments.


        GraphQL endpoint: allotment'
      operationId: nsk_v1_organizations2_allotments_allotmentBasisCode_get
      parameters:
      - name: legKey
        in: query
        description: The leg key.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAllotmentResponse'
              examples:
                Allotment response:
                  description: Returns an allotment response
                  value:
                    allotmentBasisCode: NEGO1
                    authorizedUnits: 10
                    allotted: 10
                    nest: 1
                    classOfService: NEGO
                    type: 4
                    rank: 0
                    seatsSold: 5
                    latestAdvanceReservation: 0
                    status: 1
                    legNestKey: MQ--
                    legClassKey: Mjk1MTAwNCExIU5FR08-
                    legKey: null
                    marketInformation: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/allotments/{contractCode}/bases:
    get:
      tags:
      - organizations2
      summary: Retrieves all allotment bases for the specified contract.
      description: 'GraphQL endpoint: allotmentBases'
      operationId: nsk_v1_organizations2_allotments_contractCode_bases_get
      parameters:
      - name: contractCode
        in: path
        required: true
        description: The contract code.
        schema:
          type: string
        x-position: 1
      - name: PageSize
        in: query
        description: "The Page Size, Default 1000\n            "
        schema:
          type:
          - integer
          - 'null'
          maximum: 5000.0
          minimum: 10.0
        x-position: 2
      - name: LastPageKey
        in: query
        description: "The LastPageKey, where to start paged query.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfRetrieveAllotmentBasisResponse'
              examples:
                Get all Allotment Bases:
                  description: Returns a list of all allotment bases associated with an allotment contract
                  value:
                    lastPageKey: null
                    allotmentBasisResponses:
                    - allotmentBasisCode: AAA
                      contractCode: DEF
                      description: The description
                      status: 1
                      allotmentType: 1
                      classNest: 0
                      classRank: 0
                      latestAdvanceReservation: 0
                      ruleTariff: The rule tariff
                      carrierCode: AA
                      ruleNumber: ' The rule number'
                      fareBasisCode: Fare1
                    - allotmentBasisCode: BBB
                      contractCode: DEF
                      description: The description
                      status: 2
                      allotmentType: 0
                      classNest: 0
                      classRank: 0
                      latestAdvanceReservation: 0
                      ruleTariff: The rule tariff
                      carrierCode: NV
                      ruleNumber: ' The rule number'
                      fareBasisCode: Fare1
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    post:
      tags:
      - organizations2
      summary: Creates the specified allotment basis.
      description: 'GraphQL endpoint: allotmentBasisAdd'
      operationId: nsk_v1_organizations2_allotments_contractCode_bases_post
      parameters:
      - name: contractCode
        in: path
        required: true
        description: The contract code.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The allotment basis to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllotmentBasisRequest'
            examples:
              Allotment Basis Request:
                description: Creates a new allotment basis
                value:
                  allotmentBasisCode: ABC
                  description: The description
                  status: 1
                  allotmentType: 0
                  classNest: 0
                  classRank: 0
                  latestAdvanceReservation: 0
                  ruleTariff: The rule tariff
                  carrierCode: AA
                  ruleNumber: ' The rule number'
                  fareBasisCode: Fare1
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/allotments/{contractCode}/bases/{allotmentBasisCode}:
    put:
      tags:
      - organizations2
      summary: Updates the specified allotment basis.
      description: 'GraphQL endpoint: allotmentBasisSet'
      operationId: nsk_v1_organizations2_allotments_contractCode_bases_allotmentBasisCode_put
      parameters:
      - name: contractCode
        in: path
        required: true
        description: The contract code.
        schema:
          type: string
        x-position: 1
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The allotment basis to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllotmentBasisUpdateRequest'
            examples:
              Allotment Basis Request:
                description: Updates an allotment basis
                value:
                  description: The description
                  status: 1
                  allotmentType: 0
                  classNest: 0
                  classRank: 0
                  latestAdvanceReservation: 0
                  ruleTariff: The rule tariff
                  carrierCode: AA
                  ruleNumber: ' The rule number'
                  fareBasisCode: Fare1
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/allotments/bases/{allotmentBasisCode}:
    get:
      tags:
      - organizations2
      summary: Retrieves the specified allotment basis.
      description: 'GraphQL endpoint: allotmentBasis'
      operationId: nsk_v1_organizations2_allotments_bases_allotmentBasisCode_get
      parameters:
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code to search for.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAllotmentBasisResponse'
              examples:
                Get Allotment Basis:
                  description: Returns a specific allotment basis
                  value:
                    allotmentMarketFares:
                    - allotmentMarketFareKey: ABC123
                      allotmentBasisCode: ABC
                      stationCode: DEN
                      travelStationCode: SLC
                      fareSequence: 0
                      directionality: 3
                      price: 10.0
                      currencyCode: USD
                      releaseDate: '2026-07-09T05:55:16.157905Z'
                      discontinueDate: '2026-07-16T05:55:16.1579052Z'
                    allotmentBasisCode: ABC
                    contractCode: DEF
                    description: The description
                    status: 1
                    allotmentType: 1
                    classNest: 0
                    classRank: 0
                    latestAdvanceReservation: 0
                    ruleTariff: The rule tariff
                    carrierCode: AA
                    ruleNumber: ' The rule number'
                    fareBasisCode: Fare1
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/allotments/bases/{allotmentBasisCode}/marketFares:
    get:
      tags:
      - organizations2
      summary: Gets all market fares for the given allotment basis.
      description: 'GraphQL endpoint: allotmentBasisMarketFares'
      operationId: nsk_v1_organizations2_allotments_bases_allotmentBasisCode_marketFares_get
      parameters:
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfAllotmentMarketFareResponse'
              examples:
                Allotment market fare response:
                  description: Create/update response.
                  value:
                    allotmentMarketFareKey: ABC123
                    allotmentBasisCode: ABC
                    stationCode: DEN
                    travelStationCode: SLC
                    fareSequence: 0
                    directionality: 3
                    price: 10.0
                    currencyCode: USD
                    releaseDate: '2026-07-09T05:55:16.2056803Z'
                    discontinueDate: '2026-07-16T05:55:16.2056804Z'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    post:
      tags:
      - organizations2
      summary: Creates the specified allotment basis market fare.
      description: 'GraphQL endpoint: allotmentBasisMarketFareAdd'
      operationId: nsk_v1_organizations2_allotments_bases_allotmentBasisCode_marketFares_post
      parameters:
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The allotment market fare request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllotmentMarketFareRequest'
            examples:
              Allotment market fare request full data:
                description: Create/update request with full customization.
                value:
                  stationCode: DEN
                  travelStationCode: SLC
                  directionality: 3
                  price: 10.0
                  currencyCode: USD
                  releaseDate: '2026-07-09T05:55:16.2099662Z'
                  discontinueDate: '2026-07-16T05:55:16.2099795Z'
              Allotment market fare request minimum required data:
                description: Create/update request with minimum required data. Directionality and DiscontinueDate have hard default values. Currency code will default to the default currency code of your environment.
                value:
                  stationCode: DEN
                  travelStationCode: SLC
                  directionality: null
                  price: 10.0
                  currencyCode: null
                  releaseDate: '2026-07-09T05:55:16.2099926Z'
                  discontinueDate: null
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAllotmentMarketFareResponse'
              examples:
                Allotment market fare response:
                  description: Create/update response.
                  value:
                    allotmentMarketFareKey: ABC123
                    allotmentBasisCode: ABC
                    stationCode: DEN
                    travelStationCode: SLC
                    fareSequence: 0
                    directionality: 3
                    price: 10.0
                    currencyCode: USD
                    releaseDate: '2026-07-09T05:55:16.2111129Z'
                    discontinueDate: '2026-07-16T05:55:16.211113Z'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Error response for no request.:
                  description: Only returns raw message in debug mode.
                  value:
                    errors:
                    - id: null
                      code: core:Validation:RequiredArgument
                      message: null
                      type: Error
                      details: null
                      rawMessage: The request is missing a required argument expected in the request.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided stations are the same.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:SameStationCodeAndTravelStationCode
                      message: The value for station code 'SLC' and travel station code 'SLC' cannot be the same.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided station codes are not in alphabetical order.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:InvalidStationOrder
                      message: The station codes provided 'SLC-DEN' need to be in alphabetical order. Please use DEN-SLC.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when a provided station code does not exist or is inactive.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:InvalidStationCode
                      message: The station code provided 'SLC' is either invalid or not active.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when a release or discontinue date is set in the past.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:DateSetBeforeToday
                      message: The provided date '7/2/2026 5:55:16 AM' cannot be set earlier than today.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided discontinue date is before the release date.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:DiscontinueDateBeforeReleaseDate
                      message: The discontinue date '7/8/2026 5:55:16 AM' cannot be before the release date '7/9/2026 5:55:16 AM'
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided price is less than zero.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:InvalidPrice
                      message: The price provided '-10.0' is invalid. Price must be a positive decimal value.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided allotment basis code could not be found or is invalid.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:InvalidAllotmentBasisCode
                      message: The provided allotment basis code 'ABC' does not exist.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/organizations2/allotments/bases/{allotmentBasisCode}/marketFares/{allotmentMarketFareKey}:
    get:
      tags:
      - organizations2
      summary: Gets the specified market fare for the given allotment basis.
      description: 'GraphQL endpoint: allotmentBasisMarketFare'
      operationId: nsk_v1_organizations2_allotments_bases_allotmentBasisCode_marketFares_allotmentMarketFareKey_get
      parameters:
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code.
        schema:
          type: string
        x-position: 1
      - name: allotmentMarketFareKey
        in: path
        required: true
        description: The allotment market fare key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAllotmentMarketFareResponse'
              examples:
                Allotment market fare response:
                  description: Create/update response.
                  value:
                    allotmentMarketFareKey: ABC123
                    allotmentBasisCode: ABC
                    stationCode: DEN
                    travelStationCode: SLC
                    fareSequence: 0
                    directionality: 3
                    price: 10.0
                    currencyCode: USD
                    releaseDate: '2026-07-09T05:55:16.2071958Z'
                    discontinueDate: '2026-07-16T05:55:16.2071959Z'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - organizations2
      summary: Updates the specified allotment basis market fare.
      description: 'GraphQL endpoint: allotmentBasisMarketFareSet'
      operationId: nsk_v1_organizations2_allotments_bases_allotmentBasisCode_marketFares_allotmentMarketFareKey_put
      parameters:
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code.
        schema:
          type: string
        x-position: 1
      - name: allotmentMarketFareKey
        in: path
        required: true
        description: The target allotment market fare key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The allotment market fare update request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllotmentMarketFareRequest'
            examples:
              Allotment market fare request full data:
                description: Create/update request with full customization.
                value:
                  stationCode: DEN
                  travelStationCode: SLC
                  directionality: 3
                  price: 10.0
                  currencyCode: USD
                  releaseDate: '2026-07-09T05:55:16.2138735Z'
                  discontinueDate: '2026-07-16T05:55:16.2138737Z'
              Allotment market fare request minimum required data:
                description: Create/update request with minimum required data. Directionality and DiscontinueDate have hard default values. Currency code will default to the default currency code of your environment.
                value:
                  stationCode: DEN
                  travelStationCode: SLC
                  directionality: null
                  price: 10.0
                  currencyCode: null
                  releaseDate: '2026-07-09T05:55:16.2138745Z'
                  discontinueDate: null
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAllotmentMarketFareResponse'
              examples:
                Allotment market fare response:
                  description: Create/update response.
                  value:
                    allotmentMarketFareKey: ABC123
                    allotmentBasisCode: ABC
                    stationCode: DEN
                    travelStationCode: SLC
                    fareSequence: 0
                    directionality: 3
                    price: 10.0
                    currencyCode: USD
                    releaseDate: '2026-07-09T05:55:16.2139324Z'
                    discontinueDate: '2026-07-16T05:55:16.2139324Z'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Error response for no request.:
                  description: Only returns raw message in debug mode.
                  value:
                    errors:
                    - id: null
                      code: core:Validation:RequiredArgument
                      message: null
                      type: Error
                      details: null
                      rawMessage: The request is missing a required argument expected in the request.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided stations are the same.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:SameStationCodeAndTravelStationCode
                      message: The value for station code 'SLC' and travel station code 'SLC' cannot be the same.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided station codes are not in alphabetical order.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:InvalidStationOrder
                      message: The station codes provided 'SLC-DEN' need to be in alphabetical order. Please use DEN-SLC.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when a provided station code does not exist or is inactive.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:InvalidStationCode
                      message: The station code provided 'SLC' is either invalid or not active.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when a release or discontinue date is set in the past.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:DateSetBeforeToday
                      message: The provided date '7/2/2026 5:55:16 AM' cannot be set earlier than today.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided discontinue date is before the release date.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:DiscontinueDateBeforeReleaseDate
                      message: The discontinue date '7/8/2026 5:55:16 AM' cannot be before the release date '7/9/2026 5:55:16 AM'
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided price is less than zero.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:InvalidPrice
                      message: The price provided '-10.0' is invalid. Price must be a positive decimal value.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided allotment basis code could not be found or is invalid.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:InvalidAllotmentBasisCode
                      message: The provided allotment basis code 'ABC' does not exist.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
    delete:
      tags:
      - organizations2
      summary: Deletes the specified allotment basis market fare.
      description: 'GraphQL endpoint: allotmentBasisMarketFareDelete'
      operationId: nsk_v1_organizations2_allotments_bases_allotmentBasisCode_marketFares_allotmentMarketFareKey_delete
      parameters:
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code.
        schema:
          type: string
        x-position: 1
      - name: allotmentMarketFareKey
        in: path
        required: true
        description: The target allotment market fare key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Error response for when the provided allotment market fare key could not be deleted.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:DeleteFailed
                      message: Attempted delete of object 'allotmentMarketFareKey' with key 'AllotmentBasisResponse' has failed. Please verify this object exists.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided allotment basis code could not be found or is invalid.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Allotments:InvalidAllotmentBasisCode
                      message: The provided allotment basis code 'ABC' does not exist.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Error response for when the provided allotment market fare key is invalid.:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'allotmentMarketFareKey' with value 'ABC123' is invalid.
                      type: Validation
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/organizations2/allotments/byAllotmentBasisCode/{allotmentBasisCode}:
    get:
      tags:
      - organizations2
      summary: Retrieves all allotments for the specified allotment basis code.
      description: 'GraphQL endpoint: allotmentsByBasisCode'
      operationId: nsk_v1_organizations2_allotments_byAllotmentBasisCode_allotmentBasisCode_get
      parameters:
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfAllotmentResponse'
              examples:
                Allotment response:
                  description: Returns an allotment response
                  value:
                    allotmentBasisCode: NEGO1
                    authorizedUnits: 10
                    allotted: 10
                    nest: 1
                    classOfService: NEGO
                    type: 4
                    rank: 0
                    seatsSold: 5
                    latestAdvanceReservation: 0
                    status: 1
                    legNestKey: MQ--
                    legClassKey: Mjk1MTAwNCExIU5FR08-
                    legKey: null
                    marketInformation: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/allotments/contracts/{contractCode}:
    get:
      tags:
      - organizations2
      summary: Retrieves the specified allotment contract.
      description: 'GraphQL endpoint: allotmentContract'
      operationId: nsk_v1_organizations2_allotments_contracts_contractCode_get
      parameters:
      - name: contractCode
        in: path
        required: true
        description: The contract code to search for.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAllotmentContractResponse'
              examples:
                Allotment contract response:
                  description: Returns an allotment contract response
                  value:
                    contractCode: ABC
                    description: Travel agency contract
                    status: 1
                    organizationCode: '123456'
                    discontinueDate: '2026-07-09T05:55:16.17388Z'
                    contractProperties:
                    - contractPropertyCode: ABC
                      value: Test
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/contracts/basis/{allotmentBasisCode}/allotments/legs/{legKey}:
    post:
      tags:
      - organizations2
      summary: Creates an allotment for the specified leg.
      description: 'Due to system limitations, if this endpoint is used the inventory cache will need to be refreshed

        NegoAlloment and ProrataAllotment are the only allotment class types available.

        These values align with the ClassType enum.

        The allotment basis code should be substituted with allotment class code in Fare Manager Plus

        environments.


        GraphQL endpoint: allotmentAdd'
      operationId: nsk_v1_organizations2_contracts_basis_allotmentBasisCode_allotments_legs_legKey_post
      parameters:
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code
        schema:
          type: string
        x-position: 1
      - name: legKey
        in: path
        required: true
        description: The leg key
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The allotment request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllotmentRequest'
            examples:
              Allotment Request:
                description: Creates a new allotment
                value:
                  authorizedUnits: 10
                  allotted: 10
                  nest: 1
                  classType: 4
                  rank: 1
                  latestAdvanceReservation: 0
                  status: 1
        required: true
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAllotmentCreatedResponse'
              examples:
                Allotment Created Response:
                  description: Creates a new allotment basis
                  value:
                    allotmentBasisCode: ABC
                    legKey: LTg1ODQxODAzMDM2OTI4Mjc3NjEhQUEhMTIzNCEhU0xDIUJPUyExMw--
                    legNestKey: MTIzNDU2Nzg5ITE-
                    legClassKey: MTIzNDU2Nzg5ITEhQQ--
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - organizations2
      summary: Updates an allotment for the specified leg.
      description: 'Due to system limitations, if this endpoint is used the inventory cache will need to be refreshed.

        NegoAllotment and ProrataAllotment are the only allotment class types available.

        These values align with the ClassType enum.

        The allotment basis code should be substituted with allotment class code in Fare Manager Plus environments.


        GraphQL endpoint: allotmentSet'
      operationId: nsk_v1_organizations2_contracts_basis_allotmentBasisCode_allotments_legs_legKey_put
      parameters:
      - name: allotmentBasisCode
        in: path
        required: true
        description: The allotment basis code
        schema:
          type: string
        x-position: 1
      - name: legKey
        in: path
        required: true
        description: The leg key
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The allotment request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllotmentRequest'
            examples:
              Allotment Request:
                description: Creates a new allotment
                value:
                  authorizedUnits: 10
                  allotted: 10
                  nest: 1
                  classType: 4
                  rank: 1
                  latestAdvanceReservation: 0
                  status: 1
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/organizations2/processSchedule/{processScheduleId}:
    get:
      tags:
      - organizations2
      summary: Returns a single Process Schedule object.
      description: 'GraphQL endpoint: processScheduleGet'
      operationId: nsk_v1_organizations2_processSchedule_processScheduleId_get
      parameters:
      - name: processScheduleId
        in: path
        required: true
        description: The ID of the process schedule to retrieve.
        schema:
          type: integer
          format: int64
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfProcessSchedule'
              examples:
                Successfully returned process schedule:
                  description: Example response for successful retrieval of a process schedule. DaysOfWeek represents a single day, which is fixed in the v2 version of this endpoint. None=0, Monday=1, Tuesday=2, through Sunday=7.
                  value:
                    processScheduleId: 123
                    name: Process Schedule A
                    beginDate: '2026-07-09T05:55:16.2770685+00:00'
                    frequencyType: 0
                    daysOfWeek: 1
                    frequency: 2
                    monthDay: 0
                    monthWeek: 0
                    inActive: false
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfProcessSchedule'
      deprecated: true
  /api/nsk/v2/organizations2/processSchedule/{processScheduleId}:
    get:
      tags:
      - organizations2
      summary: Returns a single Process Schedule object.
      description: 'GraphQL endpoint: processScheduleGetv2'
[...]
