openapi: 3.2.0
info:
  title: TUI NewSkies PriceFile Download API
  version: '1.0'
  description: Api providing pricefile handling
  contact:
    email: api.flightproduction@tui.com
    name: Flight Production API Team
servers:
- url: https://playground.api.tui/flight/newskies/pricefile
  description: Playground Environment
- url: https://prod.api.tui/flight/newskies/pricefile
  description: Prod Environment
security:
- bearerToken: []
tags:
- name: download
paths:
  /download/{filename}:
    summary: PriceFile download by filename
    description: "Download a pricefile by given filename. \nThis filename must be mapped to the authenticated (OAuth) user."
    parameters:
    - schema:
        type: string
      name: filename
      in: path
      required: true
      description: Name of file for download e.g. prices_all.zip
    get:
      summary: Download pricefile by filename
      description: Retrieve a pricefile with the given name
      responses:
        '200':
          $ref: '#/components/responses/PriceFileResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-download-filename
      tags:
      - download
  /download/delta:
    summary: Delta PriceFile download endpoint
    description: Download a pricefile-delta which is mapped to your authenticated (OAuth) user
    get:
      summary: Receive the delta price which is mapped to your OAuth Authentication key
      description: 'Retrieve the delta-pricefile which is mapped to your login credentials.

        Please note that this method might become deprecated in the future.'
      operationId: getpricefiledelta
      responses:
        '200':
          $ref: '#/components/responses/PriceFileResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      tags:
      - download
components:
  responses:
    ErrorResponse:
      description: Response message in case of an error
      content:
        application/json:
          schema:
            type: object
            properties:
              errorMessage:
                type: string
                description: Error description message
              exception:
                type: string
                description: Optional error details or null
          examples:
            ErrorMessage:
              value:
                errorMessage: No price file mapped to ApiKey YourAppName
                exception: null
    PriceFileResponse:
      description: "Response for a price file. The response body is base64 encoded \nand must be decoded before extracting the zip archive."
      content:
        application/zip:
          schema:
            type: string
            format: binary
      headers:
        Content-Transfer-Encoding:
          schema:
            type: string
          description: Will contain base64 on binary file response to indicate that the response is base64 encoded
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 client credentials token. Obtain your client ID and secret by registering an app in the TUI Developer Portal.
