openapi: 3.2.0
info:
  title: flight-ndc-gateway-navitaire Airline Profile API
  version: '21.3'
  description: 'NDC Gateway Api


    **Note:** This is the complete API reference and includes all available operations and parameters, some of which may not be relevant to your specific use case. Before using these examples directly, we recommend starting with the Postman Collection tab, which provides curated sample requests for the most common workflows. For additional tailored examples and guidance, please contact your TUI contact person.'
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- Bearer: []
tags:
- name: AirlineProfile
paths:
  /x3/ndc/api/Shopping/r3.x/v21.3/AirlineProfile:
    get:
      tags:
      - AirlineProfile
      operationId: GET AirlineProfileRQ v21.3
      parameters:
      - name: profileOwner
        in: query
        schema:
          type: string
      - name: sellerOrgName
        in: query
        schema:
          type: string
      - name: sellerOrgId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
    post:
      tags:
      - AirlineProfile
      operationId: POST AirlineProfileRQ v21.3
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          text/xml:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          application/json:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          text/json:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          application/*+json:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
  /x3/ndc/api/Shopping/r3.x/v2/AirlineProfile:
    get:
      tags:
      - AirlineProfile
      operationId: GET AirlineProfileRQ v21.3 DAPI
      parameters:
      - name: profileOwner
        in: query
        schema:
          type: string
      - name: sellerOrgName
        in: query
        schema:
          type: string
      - name: sellerOrgId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
    post:
      tags:
      - AirlineProfile
      operationId: POST AirlineProfileRQ v21.3 DAPI
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          text/xml:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          application/*+xml:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          application/json:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          text/json:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
          application/*+json:
            schema:
              $ref: '#/components/schemas/IATA_AirlineProfileRQ'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/xml:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            application/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
            text/json:
              schema:
                $ref: '#/components/schemas/IATA_AirlineProfileRS'
components:
  schemas:
    CountryType:
      type: object
      properties:
        countryCode:
          type:
          - string
          - 'null'
        countryName:
          type:
          - string
          - 'null'
      additionalProperties: false
    PhoneType:
      type: object
      properties:
        areaCodeNumber:
          type:
          - string
          - 'null'
        contactTypeText:
          type:
          - string
          - 'null'
        countryDialingCode:
          type:
          - string
          - 'null'
        extensionNumber:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    EmailAddressType:
      type: object
      properties:
        contactTypeText:
          type:
          - string
          - 'null'
        emailAddressText:
          type:
          - string
          - 'null'
      additionalProperties: false
    SalesBranchType:
      type: object
      properties:
        salesBranchID:
          type:
          - string
          - 'null'
      additionalProperties: false
    CityType:
      type: object
      properties:
        cityName:
          type:
          - string
          - 'null'
        iatA_LocationCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    DistributionChainLinkType:
      type: object
      properties:
        contactInfo:
          $ref: '#/components/schemas/ContactInfoType'
        ordinal:
          type:
          - string
          - 'null'
        orgRole:
          $ref: '#/components/schemas/DistributionChainRoleCodeType'
        participatingOrg:
          $ref: '#/components/schemas/ParticipatingOrgType'
        salesAgent:
          $ref: '#/components/schemas/SalesAgentType'
        salesBranch:
          $ref: '#/components/schemas/SalesBranchType'
      additionalProperties: false
    DistributionChainRoleCodeType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    IndividualType:
      type: object
      properties:
        addlName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AddlNameType'
        birthdate:
          type: string
          format: date-time
        birthdateSpecified:
          type: boolean
        birthplaceText:
          type:
          - string
          - 'null'
        genderCode:
          $ref: '#/components/schemas/GenderCodeType'
        genderCodeSpecified:
          type: boolean
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        individualID:
          type:
          - string
          - 'null'
        middleName:
          type:
          - array
          - 'null'
          items:
            type: string
        suffixName:
          type:
          - string
          - 'null'
        surname:
          type:
          - string
          - 'null'
        titleName:
          type:
          - string
          - 'null'
      additionalProperties: false
    SalesAgentType:
      type: object
      properties:
        salesAgentID:
          type:
          - string
          - 'null'
      additionalProperties: false
    ContactInfoType:
      type: object
      properties:
        contactInfoID:
          type:
          - string
          - 'null'
        contactPurposeText:
          type:
          - array
          - 'null'
          items:
            type: string
        contactRefusedInd:
          type: boolean
        contactRefusedIndSpecified:
          type: boolean
        emailAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAddressType'
        individual:
          $ref: '#/components/schemas/IndividualType'
        individualRefID:
          type:
          - string
          - 'null'
        otherAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OtherAddressType'
        paxSegmentRefID:
          type:
          - string
          - 'null'
        phone:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PhoneType'
        postalAddress:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PostalAddressType'
        relationshipToPax:
          type:
          - string
          - 'null'
      additionalProperties: false
    GenderCodeType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    FilterAirlineProfileType:
      type: object
      properties:
        airlineProfileURL:
          type:
          - string
          - 'null'
        contactInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactInfoType'
        ownerCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    AddlNameType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        nameTypeCode:
          $ref: '#/components/schemas/AddlNameTypeCodeType'
        nameTypeCodeSpecified:
          type: boolean
      additionalProperties: false
    IATA_AirlineProfileRS:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items: {}
        augmentationPoint:
          $ref: '#/components/schemas/AugmentationPointType'
        payloadAttributes:
          $ref: '#/components/schemas/IATA_PayloadStandardAttributesType'
      additionalProperties: false
    OtherAddressType:
      type: object
      properties:
        contactTypeText:
          type:
          - string
          - 'null'
        otherAddressText:
          type:
          - string
          - 'null'
      additionalProperties: false
    AirlineProfileFilterCriteriaType:
      type: object
      properties:
        airlineProfileCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FilterAirlineProfileType'
        allProfilesInd:
          type: boolean
        allProfilesIndSpecified:
          type: boolean
        mediaURL_Ind:
          type: boolean
        mediaURL_IndSpecified:
          type: boolean
      additionalProperties: false
    AddlNameTypeCodeType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    ParticipatingOrgType:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        orgID:
          type:
          - string
          - 'null'
      additionalProperties: false
    IATA_AirlineProfileRQ:
      type: object
      properties:
        augmentationPoint:
          $ref: '#/components/schemas/AugmentationPointType'
        distributionChain:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DistributionChainLinkType'
        payloadAttributes:
          $ref: '#/components/schemas/IATA_PayloadStandardAttributesType'
        pos:
          $ref: '#/components/schemas/POS_Type'
        request:
          $ref: '#/components/schemas/AirlineProfileRequestType'
      additionalProperties: false
    AirlineProfileRequestType:
      type: object
      properties:
        airlineProfileFilterCriteria:
          $ref: '#/components/schemas/AirlineProfileFilterCriteriaType'
      additionalProperties: false
    IATA_PayloadStandardAttributesType:
      type: object
      properties:
        altLangID:
          type:
          - string
          - 'null'
        correlationID:
          type:
          - string
          - 'null'
        primaryLangID:
          type:
          - string
          - 'null'
        retransmissionInd:
          type: boolean
        retransmissionIndSpecified:
          type: boolean
        seqNumber:
          type: number
          format: double
        seqNumberSpecified:
          type: boolean
        timestamp:
          type: string
          format: date-time
        timestampSpecified:
          type: boolean
        trxID:
          type:
          - string
          - 'null'
        versionNumber:
          type: number
          format: double
        versionNumberSpecified:
          type: boolean
      additionalProperties: false
    AugmentationPointType:
      type: object
      properties:
        any:
          type:
          - array
          - 'null'
          items:
            type: array
            items: {}
      additionalProperties: false
    PostalAddressType:
      type: object
      properties:
        buildingRoomText:
          type:
          - string
          - 'null'
        cityName:
          type:
          - string
          - 'null'
        contactTypeText:
          type:
          - string
          - 'null'
        countryCode:
          type:
          - string
          - 'null'
        countryName:
          type:
          - string
          - 'null'
        countrySubDivisionName:
          type:
          - string
          - 'null'
        pO_BoxCode:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        streetText:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    POS_Type:
      type: object
      properties:
        agentDutyText:
          type:
          - string
          - 'null'
        city:
          $ref: '#/components/schemas/CityType'
        country:
          $ref: '#/components/schemas/CountryType'
        onlineTrxInd:
          type: boolean
        onlineTrxIndSpecified:
          type: boolean
        requestTime:
          type: string
          format: date-time
        requestTimeSpecified:
          type: boolean
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Please enter into field the word 'Bearer' following by space and JWT
      scheme: Bearer
      bearerFormat: JWT
