openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Contents API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: contents
paths:
  /api/nsk/v1/contents/news:
    get:
      tags:
      - contents
      summary: Retrieves the available news metadata.
      description: "News or sometimes referred to as FYI Content notes are created by management about your carrier operations. They can be viewed by reservation agents and station agents.\n\nNews notes are a quick way for airlines to distribute important information to reservation and check-in agents.\n\nIf your carrier has a new fare rule, you can use FYI Content to enter this information and set the FYI type to specify how and when this information is displayed.You can also determine who reads this information by assigning roles to it. \n\nYou can also use news content to store pertinent station info, such as passenger disruption reports or journal entries. By saving the content as type No Alert, you leave it in the database, where other users can access it with a search.You can group station reports by Domain, Department, Role, Date, Name, and so on.\n\nRelated endpoints:\n- `GET /resources/contents` which contents generic data for all content types including new contents\n- `GET /resources/contents/{contentID}/data` which allows you to view the data for a specific content item including news content.\n\nThe `StartDate` and `EndDate` will default to the current date if not provided.\n\nThe data is only returned if the content data type is text based. Other content data types such as `JPEG` or `PNG` will be returned as null.\n\nGraphQL endpoint: news"
      operationId: nsk_v1_contents_news_get
      parameters:
      - name: PageSize
        in: query
        description: "The number of items to return for this request. Defaults to the minimum value of 10. The max value is 20.\n            "
        schema:
          type:
          - integer
          - 'null'
          maximum: 20.0
          minimum: 10.0
        x-position: 1
      - name: LastPageKey
        in: query
        description: "The LastPageKey, where to start paged query.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 100
          minLength: 0
        x-position: 2
      - name: StartDate
        in: query
        description: "The start effective date. This will default to today if not provided.\n            "
        schema:
          type: string
          format: date-time
        x-position: 3
      - name: EndDate
        in: query
        description: "The end effective date. This will default to today if not provided.\n            "
        schema:
          type: string
          format: date-time
        x-position: 4
      - name: Type
        in: query
        description: "The news type to search.\n             \nEnumeration values: 0 = All, 1 = Alert, 2 = OneTimeRead, 3 = Daily, 4 = NoAlert"
        schema:
          $ref: '#/components/schemas/FindNewsType'
        x-position: 5
      - name: RequestType
        in: query
        description: "The news request type.\n             \nEnumeration values: 0 = Default, 1 = Unread, 2 = UnreadAlert, 3 = UnreadDailyAndOneTimeRead"
        schema:
          $ref: '#/components/schemas/NewsRequestType'
        x-position: 6
      - name: DomainCode
        in: query
        description: "The domain code. See /resources/Domains for the valid codes.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 7
      - name: DepartmentCode
        in: query
        description: "The department code. See /resources/Departments for the valid codes.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 0
        x-position: 8
      - name: RoleCode
        in: query
        description: "The role code. See /resources/Roles for the valid codes.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 0
        x-position: 9
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPagedFindNewsResponse'
              examples:
                News retrieved successfully:
                  description: Example when news are retrieved successfully.
                  value:
                    data:
                      newsList:
                      - data: test 1
                        contentId: 100
                        name: test1
                        description: description1
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 1
                        size: 6
                        type: 1
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      - data: '{\rtf1\ansi\ansicpg1252\deff0\deflang1033{\fonttbl{\f0\fnil\fcharset0 Microsoft Sans Serif;}}

                          \viewkind4\uc1\pard\f0\fs17 TEST 2\par

                          }

                          '
                        contentId: 101
                        name: test2
                        description: description2
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 2
                        size: 138
                        type: 2
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      - data: null
                        contentId: 102
                        name: test3
                        description: description3
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 3
                        size: 138
                        type: 3
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      - data: null
                        contentId: 103
                        name: test4
                        description: description4
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 4
                        size: 138
                        type: 4
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      - data: null
                        contentId: 104
                        name: test5
                        description: description5
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 5
                        size: 138
                        type: 1
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      - data: null
                        contentId: 105
                        name: test6
                        description: description6
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 6
                        size: 138
                        type: 2
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      - data: null
                        contentId: 106
                        name: test7
                        description: description7
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 7
                        size: 138
                        type: 3
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      - data: <!DOCTYPE html><html><body><h1>Digital API HTML Heading</h1><p>If you are reading this correctly, it means that the news content is successfully created.</p></body></html>
                        contentId: 107
                        name: test8
                        description: description8
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 8
                        size: 171
                        type: 4
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      - data: null
                        contentId: 108
                        name: test9
                        description: description9
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 9
                        size: 138
                        type: 1
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      - data: https://www.navitaire.com
                        contentId: 109
                        name: test10
                        description: description10
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 10
                        size: 10
                        type: 2
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      - data: null
                        contentId: 110
                        name: test11
                        description: description11
                        createdUserKey: MQ--
                        createdDate: '2024-12-02T05:01:50.2+00:00'
                        dataType: 11
                        size: 138
                        type: 3
                        organizationCode: SYSTEM
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-12-02T00:00:00'
                        discontinueDate: '2024-12-03T00:00:00'
                        retentionDate: '2024-12-04T00:00:00'
                      totalCount: 11
                      lastPageKey: MTAwMA--
                No matching news item:
                  description: Example when no news items match the search criteria.
                  value:
                    data:
                      newsList: []
                      totalCount: 0
                      lastPageKey: MTAwMA--
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Retrieving news is not allowed:
                  description: Example when retrieving news is not allowed.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:RetrieveNewsNotAllowed
                      message: Retrieving news is not allowed.
                      type: Validation
                      details: null
                      rawMessage: Retrieving news is not allowed.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Retrieving content is not allowed:
                  description: Example when retrieving content is not allowed.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:RetrieveContentNotAllowed
                      message: Retrieving content is not allowed.
                      type: Validation
                      details: null
                      rawMessage: Retrieving content is not allowed.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Start date is later than the end date.:
                  description: Example when the start date is later than the end date.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:StartDateLaterThanEndDate
                      message: The start effective date cannot be later than the end effective date.
                      type: Validation
                      details:
                        endDate: 10/15/2024 12:00:00 AM
                        startDate: 10/16/2024 12:00:00 AM
                      rawMessage: The start effective date cannot be later than the end effective date.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Page size is out of range.:
                  description: Example when the page size is out of range. The minimum is 10 and the maxiumum is 20.
                  value:
                    errors:
                    - id: b79d85c8-b090-baa6-5efa-dbc168844eeb
                      code: FindNewsRequest.PageSize:RangeAttribute
                      message: The field FindNewsRequest must be between 10 and 20.
                      type: Validation
                      details:
                        validation: RangeAttribute
                        model: FindNewsRequest
                        member: PageSize
                      rawMessage: The field FindNewsRequest must be between 10 and 20.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Last page key exceeds maximum length.:
                  description: Example when the last page key exceeds the maximum length of 100.
                  value:
                    errors:
                    - id: b79d85c8-b090-baa6-5efa-dbc168844eeb
                      code: FindNewsRequest.LastPageKey:StringLengthAttribute
                      message: The field FindNewsRequest must be a string with a maximum length of 100.
                      type: Validation
                      details:
                        validation: StringLengthAttribute
                        model: FindNewsRequest
                        member: LastPageKey
                      rawMessage: The field FindNewsRequest must be a string with a maximum length of 100.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Domain code exceeds maximum length.:
                  description: Example when the domain code exceeds the maximum length of 3.
                  value:
                    errors:
                    - id: b79d85c8-b090-baa6-5efa-dbc168844eeb
                      code: FindNewsRequest.DomainCode:StringLengthAttribute
                      message: The field FindNewsRequest must be a string with a maximum length of 3.
                      type: Validation
                      details:
                        validation: StringLengthAttribute
                        model: FindNewsRequest
                        member: DomainCode
                      rawMessage: The field FindNewsRequest must be a string with a maximum length of 3.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Department code exceeds maximum length.:
                  description: Example when the department code exceeds the maximum length of 4.
                  value:
                    errors:
                    - id: b79d85c8-b090-baa6-5efa-dbc168844eeb
                      code: FindNewsRequest.DepartmentCode:StringLengthAttribute
                      message: The field FindNewsRequest must be a string with a maximum length of 4.
                      type: Validation
                      details:
                        validation: StringLengthAttribute
                        model: FindNewsRequest
                        member: DepartmentCode
                      rawMessage: The field FindNewsRequest must be a string with a maximum length of 4.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Role code exceeds maximum length.:
                  description: Example when the role code exceeds the maximum length of 4.
                  value:
                    errors:
                    - id: b79d85c8-b090-baa6-5efa-dbc168844eeb
                      code: FindNewsRequest.RoleCode:StringLengthAttribute
                      message: The field FindNewsRequest must be a string with a maximum length of 4.
                      type: Validation
                      details:
                        validation: StringLengthAttribute
                        model: FindNewsRequest
                        member: RoleCode
                      rawMessage: The field FindNewsRequest must be a string with a maximum length of 4.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
    post:
      tags:
      - contents
      summary: Add a new news content item.
      description: "Add news or sometimes referred to as FYI Content notes.\n\nRelated endpoints:\n- `GET /resources/contents/{contentID}/data`: Allows you to view the data for a specific content item including news content.\n- `GET /contents/news`: Allows you to search for news content items.\n\nThe `OrganizationCode` is automatically set to the `OrganizationCode` of the logged in \nagent if the `DomainCode`, `DepartmentCode`, and `RoleCode` are all set in the request.\n\nOnly text based content data types are allowed. Other content data types such as `JPEG` or `PNG` must be stored elsewhere.\n\nGraphQL endpoint: newsAdd"
      operationId: nsk_v1_contents_news_post
      requestBody:
        x-name: addNewsRequest
        description: The add news request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddNewsRequest'
            examples:
              Request with content data type set to text.:
                description: Example when the content data type is set to text.
                value:
                  name: NewsWithText
                  description: News with a text data
                  type: 1
                  effectiveDate: '2024-10-15T00:00:00'
                  discontinueDate: '2024-10-16T00:00:00'
                  retentionDate: '2024-10-17T00:00:00'
                  dataType: 1
                  data: Sample text file for Digital API Testing.
                  domainCode: ''
                  departmentCode: ''
                  roleCode: ''
              Request with content data type set to rich text format.:
                description: Example when the content data type is set to rich text format.
                value:
                  name: NewsWithRichTextFormat
                  description: News with a rich text format data
                  type: 2
                  effectiveDate: '2024-10-15T00:00:00'
                  discontinueDate: '2024-10-16T00:00:00'
                  retentionDate: '2024-10-17T00:00:00'
                  dataType: 2
                  data: '{\rtf1\ansi\ansicpg1252\deff0\deflang1033{\fonttbl{\f0\fnil\fcharset0 Microsoft Sans Serif;}}

                    \viewkind4\uc1\pard\f0\fs17 Sample rich text format file\par

                    }

                    '
                  domainCode: ''
                  departmentCode: ''
                  roleCode: ''
              Request with content data type set to HTML.:
                description: Example when the content data type is set to HTML.
                value:
                  name: NewsWithHtml
                  description: News with a html data
                  type: 3
                  effectiveDate: '2024-10-15T00:00:00'
                  discontinueDate: '2024-10-16T00:00:00'
                  retentionDate: '2024-10-17T00:00:00'
                  dataType: 8
                  data: <!DOCTYPE html><html><body><h1>Digital API HTML Heading</h1><p>If you are reading this correctly, it means that the news content is successfully created.</p></body></html>
                  domainCode: ''
                  departmentCode: ''
                  roleCode: ''
              Request with content data type set to URI.:
                description: Example when the content data type is set to URI.
                value:
                  name: NewsWithUri
                  description: News with an Uri data
                  type: 4
                  effectiveDate: '2024-10-15T00:00:00'
                  discontinueDate: '2024-10-16T00:00:00'
                  retentionDate: '2024-10-17T00:00:00'
                  dataType: 10
                  data: https://www.navitaire.com
                  domainCode: ''
                  departmentCode: ''
                  roleCode: ''
              Request with no discontinue date and retention date.:
                description: Example when the discontinue date and the retention date is not set.
                value:
                  name: test1
                  description: description
                  type: 1
                  effectiveDate: '2024-10-15T00:00:00'
                  discontinueDate: null
                  retentionDate: null
                  dataType: 1
                  data: text
                  domainCode: ''
                  departmentCode: ''
                  roleCode: ''
              News added successfully with organization code automatically set.:
                description: Example when news is added successfully with the organization code automatically set to the logged in agent's organization.
                value:
                  name: test1
                  description: description
                  type: 1
                  effectiveDate: '2024-10-15T00:00:00'
                  discontinueDate: '2024-10-16T00:00:00'
                  retentionDate: '2024-10-17T00:00:00'
                  dataType: 1
                  data: text
                  domainCode: EXT
                  departmentCode: TA
                  roleCode: TAW3
        required: true
        x-position: 1
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAddNewsResponse'
              examples:
                News with text data type is added successfully.:
                  description: Example when a news with a text data type is added successfully.
                  value:
                    data:
                      news:
                        contentId: 240
                        name: NewsWithText
                        description: News with a text data
                        createdUserKey: MTE5MDY-
                        createdDate: '2024-10-15T02:08:37.69+00:00'
                        dataType: 1
                        size: 41
                        type: 1
                        organizationCode: null
                        domainCode: null
                        departmentCode: null
                        roleCode: null
                        effectiveDate: '2024-10-15T00:00:00'
                        discontinueDate: '2024-10-16T00:00:00'
                        retentionDate: '2024-10-17T00:00:00'
                News with rich text format data type is added successfully.:
                  description: Example when a news with a rich text format data type is added successfully.
                  value:
                    data:
                      news:
                        contentId: 240
                        name: NewsWithRichTextFormat
                        description: News with a rich text format data
                        createdUserKey: MTE5MDY-
                        createdDate: '2024-10-15T02:08:37.69+00:00'
                        dataType: 2
                        size: 160
                        type: 2
                        organizationCode: null
                        domainCode: null
                        departmentCode: null
                        roleCode: null
                        effectiveDate: '2024-10-15T00:00:00'
                        discontinueDate: '2024-10-16T00:00:00'
                        retentionDate: '2024-10-17T00:00:00'
                News with HTML data type is added successfully.:
                  description: Example when a news with a HTML data type is added successfully.
                  value:
                    data:
                      news:
                        contentId: 240
                        name: NewsWithHtml
                        description: News with a html data
                        createdUserKey: MTE5MDY-
                        createdDate: '2024-10-15T02:08:37.69+00:00'
                        dataType: 8
                        size: 171
                        type: 3
                        organizationCode: null
                        domainCode: null
                        departmentCode: null
                        roleCode: null
                        effectiveDate: '2024-10-15T00:00:00'
                        discontinueDate: '2024-10-16T00:00:00'
                        retentionDate: '2024-10-17T00:00:00'
                News with URI data type is added successfully.:
                  description: Example when a news with an URI data type is added successfully.
                  value:
                    data:
                      news:
                        contentId: 240
                        name: NewsWithUri
                        description: News with an Uri data
                        createdUserKey: MTE5MDY-
                        createdDate: '2024-10-15T02:08:37.69+00:00'
                        dataType: 10
                        size: 25
                        type: 4
                        organizationCode: null
                        domainCode: null
                        departmentCode: null
                        roleCode: null
                        effectiveDate: '2024-10-15T00:00:00'
                        discontinueDate: '2024-10-16T00:00:00'
                        retentionDate: '2024-10-17T00:00:00'
                News added successfully with no discontinue date and retention date.:
                  description: Example when news is added with no discontinue date and retention date.
                  value:
                    data:
                      news:
                        contentId: 241
                        name: test1
                        description: description
                        createdUserKey: MTE5MDY-
                        createdDate: '2024-10-15T02:09:06.263+00:00'
                        dataType: 1
                        size: 3
                        type: 1
                        organizationCode: null
                        domainCode: null
                        departmentCode: null
                        roleCode: null
                        effectiveDate: '2024-10-15T00:00:00'
                        discontinueDate: null
                        retentionDate: null
                News added successfully with organization code automatically set.:
                  description: Example when news is added successfully with the organization code automatically set to the logged in agent's organization.
                  value:
                    data:
                      news:
                        contentId: 242
                        name: test1
                        description: description
                        createdUserKey: MTE5MDY-
                        createdDate: '2024-10-15T02:27:43.83+00:00'
                        dataType: 1
                        size: 3
                        type: 1
                        organizationCode: '88887777'
                        domainCode: EXT
                        departmentCode: TA
                        roleCode: TAW3
                        effectiveDate: '2024-10-15T00:00:00'
                        discontinueDate: '2024-10-16T00:00:00'
                        retentionDate: '2024-10-17T00:00:00'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Name is null or empty.:
                  description: Example when the name is null or empty.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: AddNewsRequest.Name:RequiredAttribute
                      message: AddNewsRequest.Name:RequiredAttribute
                      type: Validation
                      details:
                        member: Name
                        model: AddNewsRequest
                        validation: RequiredAttribute
                      rawMessage: The AddNewsRequest field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                News type is null.:
                  description: Example when the news type is null.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: AddNewsRequest.Type:RequiredAttribute
                      message: AddNewsRequest.Type:RequiredAttribute
                      type: Validation
                      details:
                        member: Type
                        model: AddNewsRequest
                        validation: RequiredAttribute
                      rawMessage: The AddNewsRequest field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Content data type is null.:
                  description: Example when the content data type is null.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: AddNewsRequest.DataType:RequiredAttribute
                      message: AddNewsRequest.DataType:RequiredAttribute
                      type: Validation
                      details:
                        member: DataType
                        model: AddNewsRequest
                        validation: RequiredAttribute
                      rawMessage: The AddNewsRequest field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Data is null or empty.:
                  description: Example when the data is null or empty.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: AddNewsRequest.Data:RequiredAttribute
                      message: AddNewsRequest.Data:RequiredAttribute
                      type: Validation
                      details:
                        member: Data
                        model: AddNewsRequest
                        validation: RequiredAttribute
                      rawMessage: The AddNewsRequest field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Effective date is equal to the discontinuedate.:
                  description: Example when the effective date is equal to the discontinue date.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:EffectiveDateCannotBeEqualToDiscontinueDate
                      message: The effective date cannot be the same as the discontinue date.
                      type: Validation
                      details:
                        discontinueDate: 10/15/2024 12:00:00 AM
                        effectiveDate: 10/15/2024 12:00:00 AM
                      rawMessage: The effective date cannot be the same as the discontinue date.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                EffectiveDate is later than the DiscontinueDate.:
                  description: Example when the effective date is later than the discontinue date.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: News.DiscontinueDate:MinMaxDateTimeAttribute
                      message: The value of News.DiscontinueDate:MinMaxDateTimeAttribute is 10/15/2024 00:00:00 but must be between 10/16/2024 00:00:00 and 12/31/9999 00:00:00 inclusive.
                      type: Validation
                      details: null
                      rawMessage: The value of News.DiscontinueDate:MinMaxDateTimeAttribute is 10/15/2024 00:00:00 but must be between 10/16/2024 00:00:00 and 12/31/9999 00:00:00 inclusive.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Discontinue date is later than the retention date.:
                  description: Example when the discontinue date is later than the retention date.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: News.RetentionDate:MinMaxDateTimeAttribute
                      message: The value of News.RetentionDate:MinMaxDateTimeAttribute is 10/16/2024 00:00:00 but must be between 10/17/2024 00:00:00 and 12/31/9999 00:00:00 inclusive.
                      type: Validation
                      details: null
                      rawMessage: The value of News.RetentionDate:MinMaxDateTimeAttribute is 10/16/2024 00:00:00 but must be between 10/17/2024 00:00:00 and 12/31/9999 00:00:00 inclusive.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Discontinue date is null and the retention date is not null.:
                  description: Example when the discontinue date is null and the retention date is not null.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:RetentionDateCannotBeSetIfDiscontinueDateIsNull
                      message: Retention date cannot be set if discontinue date is null.
                      type: Validation
                      details:
                        discontinueDate: ''
                        retentionDate: 10/17/2024 12:00:00 AM
                      rawMessage: Retention date cannot be set if discontinue date is null.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                News type is invalid.:
                  description: Example when the news type is invalid.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:InvalidNewsType
                      message: Invalid news type.
                      type: Validation
                      details:
                        newsType: '10'
                      rawMessage: Invalid news type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Content data type is invalid.:
                  description: Example when the Content data type is invalid.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:InvalidContentDataType
                      message: Invalid content data type. Allowed values are 'Text', 'RichTextFormat', 'Html', and 'Uri'.
                      type: Validation
                      details:
                        contentDataType: '20'
                      rawMessage: Invalid content data type. Allowed values are 'Text', 'RichTextFormat', 'Html', and 'Uri'.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Domain code is invalid.:
                  description: Example when the domain code is invalid. See /resources/Domains for valid codes.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:InvalidDomainCode
                      message: Invalid domain code.
                      type: Validation
                      details:
                        domainCode: abc
                      rawMessage: Invalid domain code.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Department code is invalid.:
                  description: Example when the department code is invalid. See /resources/Departments for valid codes.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:InvalidDepartmentCode
                      message: Invalid department code.
                      type: Validation
                      details:
                        departmentCode: abc
                      rawMessage: Invalid department code.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Role code is invalid.:
                  description: Example when the role code is invalid. See /resources/Roles for valid codes.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:InvalidRoleCode
                      message: Invalid role code.
                      type: Validation
                      details:
                        roleCode: abc
                      rawMessage: Invalid role code.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Domain code exceeds maximum length.:
                  description: Example when the domain code exceeds the maximum length of 3.
                  value:
                    errors:
                    - id: b79d85c8-b090-baa6-5efa-dbc168844eeb
                      code: AddNewsRequest.DomainCode:StringLengthAttribute
                      message: The field AddNewsRequest must be a string with a maximum length of 3.
                      type: Validation
                      details:
                        validation: StringLengthAttribute
                        model: AddNewsRequest
                        member: DomainCode
                      rawMessage: The field AddNewsRequest must be a string with a maximum length of 3.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Department code exceeds maximum length.:
                  description: Example when the department code exceeds the maximum length of 4.
                  value:
                    errors:
                    - id: b79d85c8-b090-baa6-5efa-dbc168844eeb
                      code: AddNewsRequest.DepartmentCode:StringLengthAttribute
                      message: The field AddNewsRequest must be a string with a maximum length of 4.
                      type: Validation
                      details:
                        validation: StringLengthAttribute
                        model: AddNewsRequest
                        member: DepartmentCode
                      rawMessage: The field AddNewsRequest must be a string with a maximum length of 4.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Role code exceeds maximum length.:
                  description: Example when the role code exceeds the maximum length of 4.
                  value:
                    errors:
                    - id: b79d85c8-b090-baa6-5efa-dbc168844eeb
                      code: AddNewsRequest.RoleCode:StringLengthAttribute
                      message: The field AddNewsRequest must be a string with a maximum length of 4.
                      type: Validation
                      details:
                        validation: StringLengthAttribute
                        model: AddNewsRequest
                        member: RoleCode
                      rawMessage: The field AddNewsRequest must be a string with a maximum length of 4.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Adding news is not allowed.:
                  description: Example when adding news is not allowed.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:News:AddNewsNotAllowed
                      message: Adding news is not allowed.
                      type: Validation
                      details: null
                      rawMessage: Adding news is not allowed.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
components:
  schemas:
    IJsonResponseOfAddNewsResponse:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/AddNewsResponse'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    NewsRequestType:
      type: integer
      description: "News request type enumeration.\n            \n\n0 = Default\n1 = Unread\n2 = UnreadAlert\n3 = UnreadDailyAndOneTimeRead"
      x-enumNames:
      - Default
      - Unread
      - UnreadAlert
      - UnreadDailyAndOneTimeRead
      enum:
      - 0
      - 1
      - 2
      - 3
    GeneralContentDataType:
      type: integer
      description: "Defines the general content data type enumeration.\n            \n\n1 = Text\n2 = RichTextFormat\n3 = ImageJpg\n4 = ImageGif\n5 = ImageBmp\n6 = ImagePng\n7 = WordDoc\n8 = Html\n9 = Pdf\n10 = Uri\n11 = WordDocx"
      x-enumNames:
      - Text
      - RichTextFormat
      - ImageJpg
      - ImageGif
      - ImageBmp
      - ImagePng
      - WordDoc
      - Html
      - Pdf
      - Uri
      - WordDocx
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
    MessageStatus:
      type: integer
      description: "Defines the message status.\n            \n\n0 = General\n1 = Warning\n2 = Critical"
      x-enumNames:
      - General
      - Warning
      - Critical
      enum:
      - 0
      - 1
      - 2
    NewsType:
      type: integer
      description: "Indicates how often the news content item will be available for the user.\n            \n\n1 = Alert\n2 = OneTimeRead\n3 = Daily\n4 = NoAlert"
      x-enumNames:
      - Alert
      - OneTimeRead
      - Daily
      - NoAlert
      enum:
      - 1
      - 2
      - 3
      - 4
    News:
      type: object
      description: "The News (FYI Notes) content item.\n            "
      additionalProperties: false
      properties:
        contentId:
          type: integer
          description: "The unique identifier for news and other content types.\n            "
          format: int64
        name:
          type:
          - string
          - 'null'
          description: "The name of the content.\n            "
        description:
          type:
          - string
          - 'null'
          description: "The description of the content.\n            "
        createdUserKey:
          type:
          - string
          - 'null'
          description: "The user key of the creating agent.\n            "
        createdDate:
          type:
          - string
          - 'null'
          description: "The date the content was created.\n            "
          format: date-time
        dataType:
          description: "The news content data type.\n            "
          $ref: '#/components/schemas/GeneralContentDataType'
        size:
          type: integer
          description: "The content data size.\n            "
          format: int64
        type:
          description: "The news type.\n            "
          $ref: '#/components/schemas/NewsType'
        organizationCode:
          type:
          - string
          - 'null'
          description: "The organization code. See /organizations2 for the valid codes.\n            "
        domainCode:
          type:
          - string
          - 'null'
          description: "The domain code. See /resources/Domains for the valid codes.\n            "
        departmentCode:
          type:
          - string
          - 'null'
          description: "The department code. See /resources/Departments for the valid codes.\n            "
        roleCode:
          type:
          - string
          - 'null'
          description: "The role code. See /resources/Roles for the valid codes.\n            "
        effectiveDate:
          type:
          - string
          - 'null'
          description: "The date this information will be available in the system. Indicates the date that this message will be displayed to agents.\n            "
          format: date-time
        discontinueDate:
          type:
          - string
          - 'null'
          description: "Indicates the date that this message will stop appearing to agents. A null value will indicate that the message should stay active in the system.\n            "
          format: date-time
        retentionDate:
          type:
          - string
          - 'null'
          description: "Indicates the length of time this message will be retained in the system. Use this selection for FYIs to save in the system but not make viewable.\nA null value will indicate that the message will remain in the database.\n            "
          format: date-time
    CreateContentDataType:
      type: integer
      description: "Defines the create content data type enumeration. This is a subset of the general content data \ntype enum to be used only for content creation and will only support text based data types.\n            \n\n1 = Text\n2 = RichTextFormat\n8 = Html\n10 = Uri"
      x-enumNames:
      - Text
      - RichTextFormat
      - Html
      - Uri
      enum:
      - 1
      - 2
      - 8
      - 10
    PagedFindNewsResponse:
      type: object
      description: "The paged find news response.\n            "
      additionalProperties: false
      properties:
        newsList:
          type:
          - array
          - 'null'
          description: "The list of news.\n            "
          items:
            $ref: '#/components/schemas/FindNewsItem'
        totalCount:
          type: integer
          description: "The total count of news.\n            "
          format: int32
        lastPageKey:
          type:
          - string
          - 'null'
          description: "The LastPageKey, where to start paged query.\n            "
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    FindNewsItem:
      type: object
      description: "The News (FYI Notes) content item.\n            "
      additionalProperties: false
      properties:
        contentId:
          type: integer
          description: "The unique identifier for news and other content types.\n            "
          format: int64
        name:
          type:
          - string
          - 'null'
          description: "The name of the content.\n            "
        description:
          type:
          - string
          - 'null'
          description: "The description of the content.\n            "
        createdUserKey:
          type:
          - string
          - 'null'
          description: "The user key of the creating agent.\n            "
        createdDate:
          type:
          - string
          - 'null'
          description: "The date the content was created.\n            "
          format: date-time
        dataType:
          description: "The news content data type.\n            "
          $ref: '#/components/schemas/GeneralContentDataType'
        size:
          type: integer
          description: "The content data size.\n            "
          format: int64
        type:
          description: "The news type.\n            "
          $ref: '#/components/schemas/NewsType'
        organizationCode:
          type:
          - string
          - 'null'
          description: "The organization code. See /organizations2 for the valid codes.\n            "
        domainCode:
          type:
          - string
          - 'null'
          description: "The domain code. See /resources/Domains for the valid codes.\n            "
        departmentCode:
          type:
          - string
          - 'null'
          description: "The department code. See /resources/Departments for the valid codes.\n            "
        roleCode:
          type:
          - string
          - 'null'
          description: "The role code. See /resources/Roles for the valid codes.\n            "
        effectiveDate:
          type:
          - string
          - 'null'
          description: "The date this information will be available in the system. Indicates the date that this message will be displayed to agents.\n            "
          format: date-time
        discontinueDate:
          type:
          - string
          - 'null'
          description: "Indicates the date that this message will stop appearing to agents. A null value will indicate that the message should stay active in the system.\n            "
          format: date-time
        retentionDate:
          type:
          - string
          - 'null'
          description: "Indicates the length of time this message will be retained in the system. Use this selection for FYIs to save in the system but not make viewable.\nA null value will indicate that the message will remain in the database.\n            "
          format: date-time
        data:
          type:
          - string
          - 'null'
          description: "The content data. This will be null if the content data type is not text-based.\n            "
    AddNewsRequest:
      type: object
      description: "The add news request.\n            "
      additionalProperties: false
      required:
      - name
      - type
      - dataType
      - data
      properties:
        domainCode:
          type:
          - string
          - 'null'
          description: "The domain code. See /resources/Domains for the valid codes.\n            "
          maxLength: 3
          minLength: 0
        departmentCode:
          type:
          - string
          - 'null'
          description: "The department code. See /resources/Departments for the valid codes.\n            "
          maxLength: 4
          minLength: 0
        roleCode:
          type:
          - string
          - 'null'
          description: "The role code. See /resources/Roles for the valid codes.\n            "
          maxLength: 4
          minLength: 0
        name:
          type: string
          description: "The news name.\n            "
          minLength: 1
        description:
          type:
          - string
          - 'null'
          description: "The content description.\n            "
        type:
          description: "The news type.\n            "
          $ref: '#/components/schemas/NewsType'
        effectiveDate:
          type:
          - string
          - 'null'
          description: "The date this information will be available in the system. Indicates the date that this message will display to agents. Defaults to today if not provided.\n            "
          format: date-time
        discontinueDate:
          type:
          - string
          - 'null'
          description: "Indicates the date that this message will stop appearing to agents. A null value will indicate that the message should stay active in the system.\n            "
          format: date-time
        retentionDate:
          type:
          - string
          - 'null'
          description: "Indicates the length of time this message will be retained in the system. Use this selection for FYIs to save in the system but not make viewable.\nA null value will indicate that the message will remain in the database.\n            "
          format: date-time
        dataType:
          description: "The content data type. This will only support text based content data types.\n            "
          $ref: '#/components/schemas/CreateContentDataType'
        data:
          type: string
          description: "The content data. This will only support text based content from Text, RichTextFormat, HTML, and URI data types.\n            "
          minLength: 1
    FindNewsType:
      type: integer
      description: "Indicates how often the news content item will be available for the user.\n            \n\n0 = All\n1 = Alert\n2 = OneTimeRead\n3 = Daily\n4 = NoAlert"
      x-enumNames:
      - All
      - Alert
      - OneTimeRead
      - Daily
      - NoAlert
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    AddNewsResponse:
      type: object
      description: "The add news response.\n            "
      additionalProperties: false
      properties:
        news:
          description: "The news added.\n            "
          $ref: '#/components/schemas/News'
    ErrorResponse:
      type: object
      description: "Defines a unique error response.\n            "
      additionalProperties: false
      properties:
        exception:
          description: "The original exception that was thrown and all the exception details.\n            "
          $ref: '#/components/schemas/Exception'
        rawMessage:
          type:
          - string
          - 'null'
          description: "The original raw message set (non-localized).\n            "
        code:
          type:
          - string
          - 'null'
          description: "The unique error code. The primary value used to match against a unique message localized for the end user in the\nchosen language.\n            "
        message:
          type:
          - string
          - 'null'
          description: "The error message. Deprecated: Please use the Code instead.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The error type showing severity. Values: Critical, Error, Validation, Information.\n            "
        number:
          type:
          - integer
          - 'null'
          description: "A unique identifier in numeric form. This is required for Splunk logging. If none is provided a number will be\ngenerated based on code and type.\n            "
          format: int32
          maximum: 99999.0
          minimum: 0.0
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the error.\n            "
          additionalProperties:
            type: string
        ActivityId:
          type:
          - string
          - 'null'
          description: "The activity ID unique to the request. Useful for debugging purposes to uniquely look up what happened for this\nspecific request.\n            "
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
    IJsonResponseOfPagedFindNewsResponse:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/PagedFindNewsResponse'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
  securitySchemes:
    JWT:
      type: http
      description: Paste your JWT token from the token endpoint.
      scheme: bearer
      bearerFormat: jwt
x-generator: NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))
