openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Booking/segments API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: booking/segments
paths:
  /api/nsk/v1/booking/segments/{segmentKey}:
    delete:
      tags:
      - booking/segments
      summary: Cancels the specific segment from the booking in state.
      description: 'Calling this method will alter the existing journeyKey. If you are cancelling the only segment in a journey,

        this method will behave the same as calling DELETE on /api/nsk/v1/booking/journeys/{journeyKey}.

        If there are segments remaining after the delete, the Location response header will be set with

        the location of the modified journey with its new key.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: segmentDelete'
      operationId: nsk_v1_booking_segments_segmentKey_delete
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The key of the specific segment to be canceled.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/segments/{segmentKey}/classOfService:
    delete:
      tags:
      - booking/segments
      summary: Restores a segment to the class of service prior to an upgrade or downgrade.
      description: 'This does not truly delete the old class of service. Instead, it restores the original class of service before

        an upgrade or downgrade occurred.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: classOfServiceResetv2'
      operationId: nsk_v1_booking_segments_segmentKey_classOfService_delete
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key.
        schema:
          type: string
        x-position: 1
      - name: overSell
        in: query
        description: Indicates the intent to restore the class of service even if there are no available AUs.
        schema:
          type:
          - boolean
          - 'null'
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/segments/{segmentKey}/passengers/{passengerKey}:
    get:
      tags:
      - booking/segments
      summary: Gets a specific passenger segment from the booking in state.
      description: 'GraphQL endpoint: passengerSegment'
      operationId: nsk_v1_booking_segments_segmentKey_passengers_passengerKey_get
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerSegment'
  /api/nsk/v1/booking/segments/{segmentKey}/passengers/{passengerKey}/infant:
    post:
      tags:
      - booking/segments
      summary: Creates an infant on a passenger in the specified segment.
      description: 'If the booking in state contains a passive segment, an infant will not be

        created on the passive segment for the passenger.

        If the passenger on the specified segment already has an infant, an exception

        will be thrown.

        If any other segment in the booking already has an infant, the infant details from

        the request will be ignored and the infant details from the existing infant will

        be retained.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: passengerInfantSegmentAdd'
      operationId: nsk_v1_booking_segments_segmentKey_passengers_passengerKey_infant_post
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The unique segment key.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The new infant.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerInfantCreateRequest'
        required: true
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - booking/segments
      summary: Deletes an infant from a passenger in the specified segment.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerInfantSegmentDelete'
      operationId: nsk_v1_booking_segments_segmentKey_passengers_passengerKey_infant_delete
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The unique identifier of the segment to remove infants from.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/segments/{segmentKey}/passengers/{passengerKey}/tickets:
    post:
      tags:
      - booking/segments
      summary: Creates a ticket on a passenger segment on the booking in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: ticketAdd'
      operationId: nsk_v1_booking_segments_segmentKey_passengers_passengerKey_tickets_post
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: Details to create the ticket.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketRequest'
        required: true
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - booking/segments
      summary: Updates a ticket on a passenger segment on the booking in state.
      description: 'If you attempt to update the passenger number and set the ticket indicator code to ''X'' (TicketRequired)

        you will encounter an error. If you need to update both please do so separately.

        This endpoint cannot be used to remove a ticket number,

        but can be used to update to a different ticket number.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: ticketSet'
      operationId: nsk_v1_booking_segments_segmentKey_passengers_passengerKey_tickets_put
      parameters:
      - name: segmentKey
        in: path
        required: true
        description: The segment key.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: Details to update the ticket.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/segments/classOfService/{classModifyKey}:
    put:
      tags:
      - booking/segments
      summary: Modifies the class of service for the current booking in state to effect a segment upgrade or downgrade.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: classOfServiceModify'
      operationId: nsk_v1_booking_segments_classOfService_classModifyKey_put
      parameters:
      - name: classModifyKey
        in: path
        required: true
        description: The class modify key from class of service availability.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The class modify request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassModifyBaseRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/segments/classOfService/availability:
    get:
      tags:
      - booking/segments
      summary: Gets class of service availability for the booking in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: classOfServiceAvailabilityv2'
      operationId: nsk_v1_booking_segments_classOfService_availability_get
      parameters:
      - name: isUpgrade
        in: query
        description: "Indicates an upgrade class of service request.\nWhen set to false, indicates a downgrade class of service request.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: collectedCurrencyCode
        in: query
        description: Collected currency code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: feePricingMode
        in: query
        description: "Fee pricing mode. \nEnumeration values: 0 = MonetaryOnly, 1 = PointsOnly"
        schema:
          $ref: '#/components/schemas/FeePricingMode'
        x-position: 3
      - name: includeUnavailable
        in: query
        description: Indicates that classes of service with no availability should be returned.
        schema:
          type:
          - boolean
          - 'null'
        x-position: 4
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfClassAvailability'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
components:
  schemas:
    TransportationIdentifier:
      type: object
      description: "Represents the transportation identifier model data.\n            "
      additionalProperties: false
      required:
      - identifier
      - carrierCode
      properties:
        identifier:
          type: string
          description: "The unique transportation identifier.\n            "
          maxLength: 4
          minLength: 0
        carrierCode:
          type: string
          description: "The carrier code.\n            "
          maxLength: 3
          minLength: 2
        opSuffix:
          type:
          - string
          - 'null'
          description: "The op suffix.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
    WeightType:
      type: integer
      description: "Weight Type enumeration.\n            \n\n0 = Default\n1 = Pounds\n2 = Kilograms"
      x-enumNames:
      - Default
      - Pounds
      - Kilograms
      enum:
      - 0
      - 1
      - 2
    PassengerInfantCreateRequest:
      type: object
      description: "Model representing infant data that can be set.\n            "
      additionalProperties: false
      properties:
        nationality:
          type:
          - string
          - 'null'
          description: "The nationality of the passenger.\n            "
          maxLength: 2
          minLength: 0
        residentCountry:
          type:
          - string
          - 'null'
          description: "The residentCountry of the passenger.\n            "
          maxLength: 2
          minLength: 0
        dateOfBirth:
          type:
          - string
          - 'null'
          description: "The date of birth of the infant.\n            "
          format: date-time
        gender:
          description: "The gender of the passenger.\n            "
          $ref: '#/components/schemas/Gender'
        name:
          description: "The name of the passenger.\n            "
          $ref: '#/components/schemas/Name'
        declaredGender:
          type:
          - string
          - 'null'
          description: "The infant's declared gender. A value of \"F\" is mapped to a female binary gender. All other values will be\nmapped to a male binary gender.\n            "
          maxLength: 2
          minLength: 0
        travelDocuments:
          type:
          - array
          - 'null'
          description: "Travel Documents.\n            "
          items:
            $ref: '#/components/schemas/PassengerTravelDocument'
    InventoryControlType:
      type: integer
      description: "Defines the different ways inventory is held at the time of sell.\n            \n\n0 = HoldSpace\n1 = SoftHoldSpace\n2 = ClaimSpace\n3 = OversellSpace\n4 = StandBy"
      x-enumNames:
      - HoldSpace
      - SoftHoldSpace
      - ClaimSpace
      - OversellSpace
      - StandBy
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    SsrDurationType:
      type: integer
      description: "Ssr duration type.\n            \n\n0 = Segment\n1 = Journey\n2 = Leg"
      x-enumNames:
      - Segment
      - Journey
      - Leg
      enum:
      - 0
      - 1
      - 2
    LiftStatus:
      type: integer
      description: "Lift status enumeration.\n            \n\n0 = Default\n1 = CheckedIn\n2 = Boarded\n3 = NoShow"
      x-enumNames:
      - Default
      - CheckedIn
      - Boarded
      - NoShow
      enum:
      - 0
      - 1
      - 2
      - 3
    BaggageStatus:
      type: integer
      description: "Baggage Status enumeration.\n            \n\n0 = Default\n1 = Checked\n2 = Removed\n3 = Added\n4 = AddedPrinted"
      x-enumNames:
      - Default
      - Checked
      - Removed
      - Added
      - AddedPrinted
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    TicketStatusCode:
      type: integer
      description: "This enumeration defines the ticket availability status.\n            \n\n0 = Unknown\n1 = TicketAvailableForUse\n2 = TicketUnavailableForUse\n3 = TicketReissueRequiredForPassenger\n4 = TicketReissueRequiredForInfant\n5 = TicketReissueRequiredForBoth\n6 = TicketReValidationRequired"
      x-enumNames:
      - Unknown
      - TicketAvailableForUse
      - TicketUnavailableForUse
      - TicketReissueRequiredForPassenger
      - TicketReissueRequiredForInfant
      - TicketReissueRequiredForBoth
      - TicketReValidationRequired
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
    TravelClassSeatPreference:
      type: integer
      description: "Represents a travel class seating preference.\n            \n\n0 = None\n1 = Business\n2 = Economy\n3 = FirstClass"
      x-enumNames:
      - None
      - Business
      - Economy
      - FirstClass
      enum:
      - 0
      - 1
      - 2
      - 3
    PassengerSeat:
      type: object
      description: "Model for a passenger seat for a segment.\n            "
      additionalProperties: false
      properties:
        compartmentDesignator:
          type:
          - string
          - 'null'
          description: "The passenger seat compartment designator.\n            "
          maxLength: 2
          minLength: 0
        penalty:
          type: integer
          description: "The passenger seat penalty.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        unitDesignator:
          type:
          - string
          - 'null'
          description: "The passenger seat unit designator.\n            "
        seatInformation:
          description: "The passenger seat seat information.\n            "
          $ref: '#/components/schemas/SeatInfo'
        arrivalStation:
          type:
          - string
          - 'null'
          description: "The leg arrival station.\n            "
          maxLength: 3
          minLength: 3
        departureStation:
          type:
          - string
          - 'null'
          description: "The leg departure station.\n            "
          maxLength: 3
          minLength: 3
        passengerKey:
          type:
          - string
          - 'null'
          description: "The passenger key associated with the seat.\n            "
        unitKey:
          type:
          - string
          - 'null'
          description: "The seat's unique unit key.\n            "
        crossReferenceSeatingPreference:
          type:
          - string
          - 'null'
          description: "The seating preference for non-hosted flight seating assignments.\nCould be either one of the following values:\nnull = seating preference is not applicable (usual value for hosted flights)\nN = no requested seating preference\nA = aisle\nW = window\nF = front seating location\nR = rear seating location\nAF = front seating location, on aisle\nAR = rear seating location, on aisle\nWF = front seating location, on window\nWR = rear seating location, on window\n            "
        isPending:
          type: boolean
          description: "Determines whether or not the seat is pending request.\n            "
        seatmapReference:
          type:
          - string
          - 'null'
          description: "The reference identifying what seat map the passenger seat is associated to.\n            "
    Ticket:
      type: object
      description: "Model for a ticket applied to a passenger.\n            "
      additionalProperties: false
      properties:
        ticketNumber:
          type:
          - string
          - 'null'
          description: "The ticket number.\n            "
          maxLength: 14
          minLength: 0
        infantTicketNumber:
          type:
          - string
          - 'null'
          description: "The infant ticket number.\n            "
          maxLength: 14
          minLength: 0
        ticketIndicator:
          description: "The ticket indicator.\n            "
          $ref: '#/components/schemas/TicketIndicatorCode'
        ticketStatus:
          description: "The ticket status.\n            "
          $ref: '#/components/schemas/TicketStatusCode'
        passengerKey:
          type:
          - string
          - 'null'
          description: "The passenger key the ticket is associated with.\n            "
    PassengerSsr:
      type: object
      description: "The model for a passengers Ssr details.\n            "
      additionalProperties: false
      properties:
        note:
          type:
          - string
          - 'null'
          description: "The passenger SSR note.\n            "
          maxLength: 128
          minLength: 0
        count:
          type: integer
          description: "The passenger SSR unit value.\n            "
          maximum: 32767.0
          minimum: 1.0
        inBundle:
          type: boolean
          description: "Indicates if the SSR is part of a bundle.\n            "
        ssrDuration:
          description: "The length of the Ssr duration.\n            "
          $ref: '#/components/schemas/SsrDurationType'
        ssrCode:
          type:
          - string
          - 'null'
          description: "The passenger SSR code.\n            "
          maxLength: 4
          minLength: 0
        passengerKey:
          type:
          - string
          - 'null'
          description: "The unique passenger key.\n            "
        ssrNumber:
          type:
          - integer
          - 'null'
          description: "The passenger SSR number.\n            "
          maximum: 32767.0
          minimum: 0.0
        market:
          description: "The market for either the leg or segment depending on the Ssr type.\n            "
          $ref: '#/components/schemas/MarketInformation'
        isConfirmed:
          type: boolean
          description: "A status flag to indicate if the ssr has been confirmed or not.\n            "
        isConfirmingUnheld:
          type: boolean
          description: "A status flag to indicate if the ssr is in a confirming unheld state.\n            "
        ssrKey:
          type:
          - string
          - 'null'
          description: "The key that uniquely identifies the Ssr, passenger, and leg or segment.\n            "
        feeCode:
          type:
          - string
          - 'null'
          description: "The SSR fee code.\n            "
          maxLength: 6
          minLength: 0
        ssrDetail:
          type:
          - string
          - 'null'
          description: "The passenger SSR detail.\n            "
          maxLength: 20
          minLength: 0
    PassengerSegmentBag:
      type: object
      description: "Model information about the baggage a passenger has on a segment.\n            "
      additionalProperties: false
      required:
      - passengerKey
      - arrivalStation
      - departureStation
      properties:
        baggageKey:
          type:
          - string
          - 'null'
          description: "Unique key for the baggage.\n            "
        passengerKey:
          type: string
          description: "The passenger key associated to this bag.\n            "
          minLength: 1
        arrivalStation:
          type: string
          description: "The bag segment arrival station.\n            "
          maxLength: 3
          minLength: 3
        status:
          description: "The bag status.\n            "
          $ref: '#/components/schemas/BaggageStatus'
        departureStation:
          type: string
          description: "The bag segment departure station.\n            "
          maxLength: 3
          minLength: 3
        osTag:
          type:
          - string
          - 'null'
          description: "The bag OS tag.\n            "
          maxLength: 32
          minLength: 0
    IJsonResponseOfPassengerSegment:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/PassengerSegment'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    GssStayType:
      type: integer
      description: "The type of stay type.\n            \n\n0 = None\n1 = Vacation\n2 = Business\n3 = Duty"
      x-enumNames:
      - None
      - Vacation
      - Business
      - Duty
      enum:
      - 0
      - 1
      - 2
      - 3
    SimpleSeatPreference:
      type: integer
      description: "Represents a simple seating preference.\n            \n\n0 = None\n1 = Window\n2 = Aisle\n3 = Other"
      x-enumNames:
      - None
      - Window
      - Aisle
      - Other
      enum:
      - 0
      - 1
      - 2
      - 3
    MessageStatus:
      type: integer
      description: "Defines the message status.\n            \n\n0 = General\n1 = Warning\n2 = Critical"
      x-enumNames:
      - General
      - Warning
      - Critical
      enum:
      - 0
      - 1
      - 2
    Gender:
      type: integer
      description: "Defines the different binary gender types.\n            \n\n0 = XX\n1 = Male\n2 = Female"
      x-enumNames:
      - XX
      - Male
      - Female
      enum:
      - 0
      - 1
      - 2
    SeatPreference:
      type: object
      description: "Represents a single seat preference.\n            "
      additionalProperties: false
      required:
      - seatMapCode
      - value
      properties:
        seatMapCode:
          type: string
          description: "The seat map code (ex. 'SMOKING').\n            "
          maxLength: 8
          minLength: 0
        value:
          type: string
          description: "The seat map value (ex. 'TRUE').\n            "
          maxLength: 8
          minLength: 0
        status:
          description: "Defines if the seat preference is met, not met or unknown.\n            "
          $ref: '#/components/schemas/SeatPreferenceStatus'
    PassengerTravelDocument:
      type: object
      description: "Model representing a passenger travel document.\n            "
      additionalProperties: false
      required:
      - documentTypeCode
      properties:
        documentTypeCode:
          type: string
          description: "The unique travel document type code.\n            "
          maxLength: 4
          minLength: 0
        issuedByCode:
          type:
          - string
          - 'null'
          description: "The issuer code for the travel document (country code).\n            "
          maxLength: 3
          minLength: 0
        birthCountry:
          type:
          - string
          - 'null'
          description: "The BirthCountry property.\n            "
        name:
          description: "The Name property.\n            "
          $ref: '#/components/schemas/Name'
        nationality:
          type:
          - string
          - 'null'
          description: "The Nationality property.\n            "
          maxLength: 2
          minLength: 0
        expirationDate:
          type:
          - string
          - 'null'
          description: "The date when this travel document expires.\n            "
          format: date-time
        number:
          type:
          - string
          - 'null'
          description: "The travel document number.\n            "
          maxLength: 35
          minLength: 0
        issuedDate:
          type:
          - string
          - 'null'
          description: "The date this travel document was issued.\n            "
          format: date-time
        gender:
          description: "The travel document holder's gender.\n            "
          $ref: '#/components/schemas/Gender'
        dateOfBirth:
          type:
          - string
          - 'null'
          description: "The person's date of birth.\n            "
          format: date-time
        declaredGender:
          type:
          - string
          - 'null'
          description: "The travel document holder's declared gender.\nThis will override the gender field on passenger or person POST, PUT, and PATCH requests.\nNote: Any value other than \"F\" will cause gender to be updated to Male by default to support compatibility with\nother systems.\nAdditionally you cannot change the declared gender and gender fields at the same time as declared gender\nwill override any gender field value regardless of the value passed in.\n            "
          maxLength: 2
          minLength: 0
        placeOfBirth:
          type:
          - string
          - 'null'
          description: "Represents the place of birth. Only used on the following document type groups: TravelVisa (9), RedressNumber (20),\nand KnownTravelerId (21).\nOnly allows alpha characters, please do not use spaces, numbers, or special characters.\nNote: If unsure which travel document types fall into these groups please use `/api/nsk/v1/resources/DocumentTypes`\nor `/api/nsk/v1/resources/DocumentTypes/{documentTypeCode}`\n            "
          maxLength: 35
          minLength: 0
          pattern: ^[A-Za-z\s]*$
        placeOfIssue:
          type:
          - string
          - 'null'
          description: "Represents the place of issue. Only used on the following document type groups: TravelVisa (9), RedressNumber (20),\nand KnownTravelerId (21).\nOnly allows alpha characters, please do not use spaces, hyphens, or special characters.\nNote: If unsure which travel document types fall into these groups please use `/api/nsk/v1/resources/DocumentTypes`\nor `/api/nsk/v1/resources/DocumentTypes/{documentTypeCode}`\n            "
          maxLength: 35
          minLength: 0
          pattern: ^[A-Za-z\s]*$
        passengerTravelDocumentKey:
          type:
          - string
          - 'null'
          description: "A key that  uniquely identifies a travel document in the context of a specific passenger.\n            "
    SeatInfo:
      type: object
      description: "The model for the seat information such as deck, seat properties, etc.\n            "
      additionalProperties: false
      properties:
        deck:
          type: integer
          description: "Gets or sets the deck.\n            "
        seatSet:
          type: integer
          description: "Gets or sets the seat set.\n            "
        propertyList:
          type:
          - object
          - 'null'
          description: "The property list by type code and value.\n            "
          additionalProperties:
            type: string
    PassengerBoardingPassDetail:
      type: object
      description: "Defines information used to populate the printed boarding pass and 2D bar codes.\n            "
      additionalProperties: false
      properties:
        gateInformation:
          type:
          - string
          - 'null'
          description: "The gate information from the boarding pass.\n            "
        priorityInformation:
          type:
          - string
          - 'null'
          description: "The priority information from the boarding pass.\n            "
        cabinClass:
          type:
          - string
          - 'null'
          description: "The cabin class as seen from the boarding pass.\n            "
        compartmentLevel:
          type:
          - string
          - 'null'
          description: "The compartment level as seen from the boarding pass.\n            "
        boardingZone:
          type:
          - string
          - 'null'
          description: "The assigned boarding zone from the boarding pass.\n            "
        seatAssignment:
          type:
          - string
          - 'null'
          description: "The seat assignment as seen from the boarding pass.\n            "
        sequenceNumber:
          type:
          - string
          - 'null'
          description: "The boarding sequence number as seen from the boarding pass.\n            "
    FeeType:
      type: integer
      description: "Enumeration representing all the different fee types.\n            \n\n0 = All\n1 = Tax\n2 = TravelFee\n3 = ServiceFee\n4 = PaymentFee\n5 = PenaltyFee\n6 = SsrFee\n7 = NonFlightServiceFee\n8 = UpgradeFee\n9 = SeatFee\n10 = BaseFare\n11 = SpoilageFee\n12 = NameChangeFee\n13 = ConvenienceFee\n14 = BaggageFee\n15 = FareSurcharge\n16 = PromotionDiscount\n17 = ServiceBundle\n18 = ExtraBagFee\n19 = ATPCOBagFee"
      x-enumNames:
      - All
      - Tax
      - TravelFee
      - ServiceFee
      - PaymentFee
      - PenaltyFee
      - SsrFee
      - NonFlightServiceFee
      - UpgradeFee
      - SeatFee
      - BaseFare
      - SpoilageFee
      - NameChangeFee
      - ConvenienceFee
      - BaggageFee
      - FareSurcharge
      - PromotionDiscount
      - ServiceBundle
      - ExtraBagFee
      - ATPCOBagFee
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
    Name:
      type: object
      description: "Defines a common name.\n            "
      additionalProperties: false
      properties:
        first:
          type:
          - string
          - 'null'
          description: "The given first name.\n            "
          maxLength: 32
          minLength: 0
        middle:
          type:
          - string
          - 'null'
          description: "The given middle name.\n            "
          maxLength: 32
          minLength: 0
        last:
          type:
          - string
          - 'null'
          description: "The given last name.\n            "
          maxLength: 32
          minLength: 0
        title:
          type:
          - string
          - 'null'
          description: "The title.\n            "
          maxLength: 6
          minLength: 0
        suffix:
          type:
          - string
          - 'null'
          description: "The suffix.\n            "
          maxLength: 6
          minLength: 0
    PassengerScore:
      type: object
      description: "Defines a passenger score.\n            "
      additionalProperties: false
      required:
      - guestValueCode
      properties:
        guestValueCode:
          type: string
          description: "The guest value code.\n            "
          maxLength: 8
          minLength: 1
        score:
          type: integer
          description: "The score.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        passengerKey:
          type:
          - string
          - 'null'
          description: "The passenger key associated with the score.\n            "
    TicketRequest:
      type: object
      description: "A ticket request.\n            "
      additionalProperties: false
      properties:
        ticketNumber:
          type:
          - string
          - 'null'
          description: "The ticket number.\n            "
          maxLength: 14
          minLength: 13
        infantTicketNumber:
          type:
          - string
          - 'null'
          description: "The infant ticket number.\n            "
          maxLength: 14
          minLength: 13
        ticketIndicator:
          description: "The ticket indicator.\n            "
          $ref: '#/components/schemas/TicketIndicatorCode'
        ticketStatus:
          description: "The ticket status.\n            "
          $ref: '#/components/schemas/TicketStatusCode'
    CollectType:
      type: integer
      description: "Used to identify the collect type of a service charge.\n            \n\n0 = SellerChargeable\n1 = ExternalChargeable\n2 = SellerNonChargeable\n3 = ExternalNonChargeable\n4 = ExternalChargeableImmediate"
      x-enumNames:
      - SellerChargeable
      - ExternalChargeable
      - SellerNonChargeable
      - ExternalNonChargeable
      - ExternalChargeableImmediate
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    PointOfSale:
      type: object
      description: "Model related to the point of sale.  This is for read-only operations.\n            "
      additionalProperties: false
      properties:
        agentCode:
          type:
          - string
          - 'null'
          description: "The point of sale agent code.\n            "
        domainCode:
          type:
          - string
          - 'null'
          description: "The point of sale domain code.\n            "
        locationCode:
          type:
          - string
          - 'null'
          description: "The point of sale location code.\n            "
        organizationCode:
          type:
          - string
          - 'null'
          description: "The point of sale organization code.\n            "
    PassengerSegment:
      type: object
      description: "Model data for the passenger on the booking for the specific segment.\n            "
      additionalProperties: false
      properties:
        seats:
          type:
          - array
          - 'null'
          description: "The seat details.\n            "
          items:
            $ref: '#/components/schemas/PassengerSeat'
        passengerKey:
          type:
          - string
          - 'null'
          description: "The unique key of the passenger on the segment\n            "
        activityDate:
          type:
          - string
          - 'null'
          description: "The activity date.\n            "
          format: date-time
        boardingSequence:
          type:
          - string
          - 'null'
          description: "The passenger segment boarding sequence.\n            "
        createdDate:
          type:
          - string
          - 'null'
          description: "The created date.\n            "
          format: date-time
        liftStatus:
          description: "The lift status.\n            "
          $ref: '#/components/schemas/LiftStatus'
        modifiedDate:
          type:
          - string
          - 'null'
          description: "The modified date.\n            "
          format: date-time
        overBookIndicator:
          description: "The over book indicator.\n            "
          $ref: '#/components/schemas/OverbookIndicatorTypes'
        priorityDate:
          type:
          - string
          - 'null'
          description: "The priority date.\n            "
          format: date-time
        timeChanged:
          type: boolean
          description: "Gets or sets a value indicating whether the passenger segment time has changed.\n            "
        verifiedTravelDocs:
          type:
          - string
          - 'null'
          description: "The verified travel docs. Please use VerifiedTravelDocuments instead.\n            "
          maxLength: 44
          minLength: 0
        sourcePointOfSale:
          description: "The source point of sale.\n            "
          $ref: '#/components/schemas/PointOfSale'
        pointOfSale:
          description: "The point of sale.\n            "
          $ref: '#/components/schemas/PointOfSale'
        ssrs:
          type:
          - array
          - 'null'
          description: "The Ssr information for both the leg and segment.\n            "
          items:
            $ref: '#/components/schemas/PassengerSsr'
        tickets:
          type:
          - array
          - 'null'
          description: "The ticket information.\n            "
          items:
            $ref: '#/components/schemas/Ticket'
        bags:
          type:
          - array
          - 'null'
          description: "The baggage information.\n            "
          items:
            $ref: '#/components/schemas/PassengerSegmentBag'
        scores:
          type:
          - array
          - 'null'
          description: "The collection of passenger scores.\n            "
          items:
            $ref: '#/components/schemas/PassengerScore'
        boardingPassDetail:
          description: "The passengers boarding pass details.\n            "
          $ref: '#/components/schemas/PassengerBoardingPassDetail'
        hasInfant:
          type: boolean
          description: "Flag indicating if the passenger has an infant for the specific segment.\n            "
        seatPreferences:
          description: "The passenger seat preferences.\n            "
          $ref: '#/components/schemas/SeatPreferences'
        bundleCode:
          type:
          - string
          - 'null'
          description: "The bundle code associated with the passenger segment.\n            "
        verifiedTravelDocuments:
          type:
          - array
          - 'null'
          description: "The travel document keys that have been verified at checkin.\n            "
          items:
            type: string
        referenceNumber:
          type: integer
          description: "The reference number, used as an identifier by New Skies Rail customers for purposes\nof ticketing and check in.\n            "
          format: int64
        baggageGroupNumber:
          type:
          - integer
          - 'null'
          description: "The passenger's baggage group number.\n            "
        baggageAllowanceUsed:
          type: boolean
          description: "Indicates whether the passenger segment baggage allowance is used.\n            "
        baggageAllowanceWeight:
          type: integer
          description: "The passenger segment baggage allowance weight.\n            "
          maximum: 32767.0
          minimum: 0.0
        baggageAllowanceWeightType:
          description: "The type of passenger segment baggage allowance weight.\n            "
          $ref: '#/components/schemas/WeightType'
        stayType:
          description: "The stay type.\n            "
          $ref: '#/components/schemas/GssStayType'
        infantStayType:
          description: "The stay type for an infant.\n            "
          $ref: '#/components/schemas/GssStayType'
    SeatPreferences:
      type: object
      description: "Represents the seating preferences base model.\n            "
      additionalProperties: false
      properties:
        seat:
          description: "The simple seating preference.\n            "
          $ref: '#/components/schemas/SimpleSeatPreference'
        travelClass:
          description: "The preferred travel class of service.\n            "
          $ref: '#/components/schemas/TravelClassSeatPreference'
        advancedPreferences:
          type:
          - array
          - 'null'
          description: "The advanced seating preferences.\n            "
          items:
            $ref: '#/components/schemas/SeatPreference'
    ServiceCharge:
      type: object
      description: "Model that represents the fare service charge information.\n            "
      additionalProperties: false
      properties:
        amount:
          type: number
          description: "The service charge amount.\n            "
          format: decimal
        code:
          type:
          - string
          - 'null'
          description: "The service charge code.\n            "
        detail:
          type:
          - string
          - 'null'
          description: "The service charge detail.\n            "
          maxLength: 10
          minLength: 0
        type:
          description: "The service charge type.\n            "
          $ref: '#/components/schemas/ChargeType'
        collectType:
          description: "The service charge collect type.\n            "
          $ref: '#/components/schemas/CollectType'
        currencyCode:
          type:
          - string
          - 'null'
          description: "The service charge currency code.\n            "
          maxLength: 3
          minLength: 0
        foreignCurrencyCode:
          type:
          - string
          - 'null'
          description: "The service charge foreign currency code.\n            "
          maxLength: 3
          minLength: 0
        foreignAmount:
          type: number
          description: "The service charge foreign amount.\n            "
          format: decimal
        ticketCode:
          type:
          - string
          - 'null'
          description: "The service charge ticket code.\n            "
          maxLength: 3
          minLength: 0
    TicketIndicatorCode:
      type: integer
      description: "This enumeration defines the ticket requirements\n            \n\n0 = Unknown\n1 = TicketRequired\n2 = AutomatedTicketLiftRequired\n3 = ManualTicketLiftRequired\n4 = AutomatedTicketNoLiftRequired\n5 = ManualTicketNoLiftRequired\n6 = HostETicketNoLiftRequired\n7 = ElectronicTicketNoLiftRequired"
      x-enumNames:
      - Unknown
      - TicketRequired
      - AutomatedTicketLiftRequired
      - ManualTicketLiftRequired
      - AutomatedTicketNoLiftRequired
      - ManualTicketNoLiftRequired
      - HostETicketNoLiftRequired
      - ElectronicTicketNoLiftRequired
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
    ErrorResponse:
      type: object
      description: "Defines a unique error response.\n            "
      additionalProperties: false
      properties:
        exception:
          description: "The original exception that was thrown and all the exception details.\n            "
          $ref: '#/components/schemas/Exception'
        rawMessage:
          type:
          - string
          - 'null'
          description: "The original raw message set (non-localized).\n            "
        code:
          type:
          - string
          - 'null'
          description: "The unique error code. The primary value used to match against a unique message localized for the end user in the\nchosen language.\n            "
        message:
          type:
          - string
          - 'null'
          description: "The error message. Deprecated: Please use the Code instead.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The error type showing severity. Values: Critical, Error, Validation, Information.\n            "
        number:
          type:
          - integer
          - 'null'
          description: "A unique identifier in numeric form. This is required for Splunk logging. If none is provided a number will be\ngenerated based on code and type.\n            "
          format: int32
          maximum: 99999.0
          minimum: 0.0
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the error.\n            "
          additionalProperties:
            type: string
        ActivityId:
          type:
          - string
          - 'null'
          description: "The activity ID unique to the request. Useful for debugging purposes to uniquely look up what happened for this\nspecific request.\n            "
    FeePricingMode:
      type: integer
      description: "The fee pricing mode enumeration.\n            \n\n0 = MonetaryOnly\n1 = PointsOnly"
      x-enumNames:
      - MonetaryOnly
      - PointsOnly
      enum:
      - 0
      - 1
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
    MarketInformation:
      type: object
      description: "Model information about the market arrival and destination details.\n            "
      additionalProperties: false
      required:
      - destination
      - origin
      - departureDate
      - identifier
      properties:
        destination:
          type: string
          description: "Gets or sets the leg arrival station.\n            "
          maxLength: 3
          minLength: 0
        origin:
          type: string
          description: "Gets or sets the leg departure station.\n            "
          maxLength: 3
          minLength: 0
        departureDate:
          type: string
          description: "The departure date.\n            "
          format: date-time
          minLength: 1
        identifier:
          description: "Gets or sets the leg arrival station.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
    ClassModifyBaseRequest:
      type: object
      description: "Defines the base class modify request.\n            "
      additionalProperties: false
      properties:
        inventoryControl:
          description: "The reserving inventory action of an upgrade or downgrade once sold by the system.\n            "
          $ref: '#/components/schemas/InventoryControlType'
        feePricingMode:
          description: "Fee pricing mode.\n            "
          $ref: '#/components/schemas/FeePricingMode'
        collectedCurrencyCode:
          type:
          - string
          - 'null'
          description: "Collected currency code.\n            "
          maxLength: 3
          minLength: 0
        feeOverride:
          type:
          - boolean
          - 'null'
          description: "Fee override flag. Applicable role settings that allow waiving or overriding\nof upgrade/downgrade fees are required when this is enabled.\n            "
    ClassAvailability:
      type: object
      description: "Defines a class of service availability for a segment.\n            "
      additionalProperties: false
      properties:
        transportationIdentifier:
          description: "The identifier for the segment.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
        departureTime:
          type:
          - string
          - 'null'
          description: "The standard time of departure.\n            "
          format: date-time
        origin:
          type:
          - string
          - 'null'
          description: "The departure station.\n            "
        destination:
          type:
          - string
          - 'null'
          description: "The arrival station.\n            "
        classesOfService:
          type:
          - array
          - 'null'
          description: "The list of available classes.\n            "
          items:
            $ref: '#/components/schemas/ClassModify'
        segmentKey:
          type:
          - string
          - 'null'
          description: "The segment key this associates to.\n            "
    ChargeType:
      type: integer
      description: "The type of a service charge.\n            \n\n0 = FarePrice\n1 = Discount\n2 = IncludedTravelFee\n3 = IncludedTax\n4 = TravelFee\n5 = Tax\n6 = ServiceCharge\n7 = PromotionDiscount\n8 = ConnectionAdjustmentAmount\n9 = AddOnsPrice\n10 = FarePoints\n11 = DiscountPoints\n16 = IncludedAddOnsFee\n17 = AddOnsFee\n18 = AddOnsMarkup\n19 = FareSurcharge\n21 = AddOnsCancelFee\n22 = Calculated\n23 = Note\n24 = Points\n25 = DynamicFareAdjustment"
      x-enumNames:
      - FarePrice
      - Discount
      - IncludedTravelFee
      - IncludedTax
      - TravelFee
      - Tax
      - ServiceCharge
      - PromotionDiscount
      - ConnectionAdjustmentAmount
      - AddOnsPrice
      - FarePoints
      - DiscountPoints
      - IncludedAddOnsFee
      - AddOnsFee
      - AddOnsMarkup
      - FareSurcharge
      - AddOnsCancelFee
      - Calculated
      - Note
      - Points
      - DynamicFareAdjustment
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 16
      - 17
      - 18
      - 19
      - 21
      - 22
      - 23
      - 24
      - 25
    ClassModify:
      type: object
      description: "Defines the class modify information.\n            "
      additionalProperties: false
      properties:
        classModifyKey:
          type:
          - string
          - 'null'
          description: "The class modify key.\n            "
        originalClassOfService:
          type:
          - string
          - 'null'
          description: "The current/original class of service.\n            "
        newClassOfService:
          type:
          - string
          - 'null'
          description: "The new/changed class of service.\n            "
        available:
          type: integer
          description: "The remaining downgrade count.\n            "
        fee:
          description: "The passenger fee details.\n            "
          $ref: '#/components/schemas/PassengerFee'
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    SeatPreferenceStatus:
      type: integer
      description: "Defines the seat preference status.\n            \n\n0 = Unknown\n1 = Met\n2 = NotMet"
      x-enumNames:
      - Unknown
      - Met
      - NotMet
      enum:
      - 0
      - 1
      - 2
    IJsonResponseOfIListOfClassAvailability:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type:
          - array
          - 'null'
          description: "The payload data.\n            "
          items:
            $ref: '#/components/schemas/ClassAvailability'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    PassengerFee:
      type: object
      description: "Model representing passenger fee information.\n            "
      additionalProperties: false
      required:
      - code
      properties:
        isConfirmed:
          type: boolean
          description: "A status flag to indicate if the fee has been confirmed or not.\n            "
        isConfirming:
          type: boolean
          description: "A status flag to indicate if the fee is confirming or not.\n            "
        isConfirmingExternal:
          type: boolean
          description: "A status flag to indicate if the fee is confirming external or not.\n            "
        code:
          type: string
          description: "The fee code.\n            "
          maxLength: 6
          minLength: 0
        detail:
          type:
          - string
          - 'null'
          description: "The fee detail.\n            "
          maxLength: 32
          minLength: 0
        passengerFeeKey:
          type:
          - string
          - 'null'
          description: "The passenger fee key.\n            "
        override:
          type: boolean
          description: "The fee override.\n            "
        flightReference:
          type:
          - string
          - 'null'
          description: "The flight reference which signifies a link to a segment and or leg.\n            "
          maxLength: 22
          minLength: 0
        note:
          type:
          - string
          - 'null'
          description: "The fee notes.\n            "
          maxLength: 128
          minLength: 0
        createdDate:
          type:
          - string
          - 'null'
          description: "The created date for the fee.\n            "
          format: date-time
        isProtected:
          type: boolean
          description: "Indicates if the fee is protected.\n            "
        serviceCharges:
          type:
          - array
          - 'null'
          description: "The list of service charges for the fee.\n            "
          items:
            $ref: '#/components/schemas/ServiceCharge'
        type:
          description: "The fee type.\n            "
          $ref: '#/components/schemas/FeeType'
        ssrCode:
          type:
          - string
          - 'null'
          description: "The SSR code.\n            "
        ssrNumber:
          type: integer
          description: "The fee SSR number.\n            "
        paymentNumber:
          type: integer
          description: "The fee payment number.\n            "
    OverbookIndicatorTypes:
      type: integer
      description: "Specifies the type of code share agreement.\n            \n\n0 = NormalSell\n1 = Oversold\n2 = ClassOrCabinOversold"
      x-enumNames:
      - NormalSell
      - Oversold
      - ClassOrCabinOversold
      enum:
      - 0
      - 1
      - 2
  securitySchemes:
    JWT:
      type: http
      description: Paste your JWT token from the token endpoint.
      scheme: bearer
      bearerFormat: jwt
x-generator: NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))
