openapi: 3.2.0
info:
  title: NewSkies-GoNow-Api Passengers API
  description: Navitaire GoNow Api
  version: 5.2.6.69
servers:
- url: https://prod.api.tui/flight/newskies/gonow
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/gonow
  description: TUI Playground
security:
- JWT: []
tags:
- name: passengers
paths:
  /api/dcs/v1/passengers:
    get:
      tags:
      - passengers
      summary: Uses search criteria to retrieve a list of passengers.
      description: 'GraphQL endpoint: dcsGetPassengers'
      operationId: dcs_v1_passengers_get
      parameters:
      - name: CarrierCode
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 2
        x-position: 1
      - name: DepartureDate
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 2
      - name: Origin
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 3
        x-position: 3
      - name: Destination
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 3
        x-position: 4
      - name: FlightNumber
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: OpSuffix
        in: query
        schema:
          type:
          - string
          - 'null'
          maxLength: 1
          minLength: 0
        x-position: 6
      - name: FirstName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: LastName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 8
      - name: RecordLocator
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 9
      - name: SearchByRecordLocatorOnly
        in: query
        description: 'If true, recordLocator is required and all other fields are ignored.  If false,

          carrierCode, departureDate, and origin are required.'
        schema:
          type: boolean
        x-position: 10
      responses:
        '200':
          description: The list of passengers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfPassenger'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
components:
  schemas:
    IJsonResponseOfListOfPassenger:
      type: object
      additionalProperties: false
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Passenger'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Message'
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    ErrorResponse:
      type: object
      additionalProperties: false
      properties:
        exception:
          $ref: '#/components/schemas/Exception'
        rawMessage:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        number:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 99999.0
          minimum: 0.0
        details:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        ActivityId:
          type:
          - string
          - 'null'
    MessageStatus:
      type: integer
      description: '0 = General

        1 = Warning

        2 = Critical'
      x-enumNames:
      - General
      - Warning
      - Critical
      enum:
      - 0
      - 1
      - 2
    LiftStatus:
      type: integer
      description: '0 = Default

        1 = CheckedIn

        2 = Boarded

        3 = NoShow'
      x-enumNames:
      - Default
      - CheckedIn
      - Boarded
      - NoShow
      enum:
      - 0
      - 1
      - 2
      - 3
    PassengerSegment:
      type: object
      additionalProperties: false
      properties:
        segmentKey:
          type:
          - string
          - 'null'
        carrierCode:
          type:
          - string
          - 'null'
        flightNumber:
          type:
          - string
          - 'null'
        opSuffix:
          type:
          - string
          - 'null'
        origin:
          type:
          - string
          - 'null'
        destination:
          type:
          - string
          - 'null'
        departureTime:
          type: string
          format: date-time
        arrivalTime:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/SegmentStatus'
        segmentType:
          $ref: '#/components/schemas/SegmentType'
        legs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PassengerLeg'
    SegmentType:
      type: integer
      description: '0 = Normal

        1 = CodeShareOperating

        2 = CodeShareMarketing

        3 = InterlineOutbound

        4 = InterlineInbound

        5 = Passive

        6 = NdcInterline'
      x-enumNames:
      - Normal
      - CodeShareOperating
      - CodeShareMarketing
      - InterlineOutbound
      - InterlineInbound
      - Passive
      - NdcInterline
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
    PassengerProgram:
      type: object
      additionalProperties: false
      properties:
        programCode:
          type:
          - string
          - 'null'
        programLevelCode:
          type:
          - string
          - 'null'
        programNumber:
          type:
          - string
          - 'null'
    PassengerLeg:
      type: object
      additionalProperties: false
      properties:
        carrierCode:
          type:
          - string
          - 'null'
        flightNumber:
          type:
          - string
          - 'null'
        opSuffix:
          type:
          - string
          - 'null'
        origin:
          type:
          - string
          - 'null'
        destination:
          type:
          - string
          - 'null'
        departureTime:
          type: string
          format: date-time
        arrivalTime:
          type: string
          format: date-time
        liftStatus:
          $ref: '#/components/schemas/LiftStatus'
        boardingSequence:
          type: integer
    Passenger:
      type: object
      additionalProperties: false
      properties:
        customerNumber:
          type:
          - string
          - 'null'
        passengerProgram:
          $ref: '#/components/schemas/PassengerProgram'
        segments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PassengerSegment'
        passengerAlternateKey:
          type:
          - string
          - 'null'
        name:
          $ref: '#/components/schemas/Name'
        passengerNumber:
          type: integer
          description: The Passenger's number based on their order in the booking.
        recordLocator:
          type:
          - string
          - 'null'
    IJsonResponse:
      type: object
      additionalProperties: false
      properties:
        data: {}
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Message'
    SegmentStatus:
      type: integer
      description: 'The list of IATA standard booking action codes.

        These codes speicfy a requested GDS action or

        the current status of a passenger''s segment.


        0 = AddToWaitList

        1 = CancelDeclined

        2 = CancelFailed

        3 = Cancelled

        4 = CancelUnconfirmed

        5 = ClaimSpace

        6 = Confirming

        7 = ConfirmingNoAction

        8 = ConfirmingUnheld

        9 = ConfirmingWaitList

        10 = DirectLinkConfirmed

        11 = HeldCancelled

        12 = HeldConfirmed

        13 = HeldPending

        14 = HeldUnconfirmed

        15 = HoldingNeed

        16 = NeedSpace

        17 = NeedSpaceUnheld

        18 = NoAction

        19 = NoActionTaken

        20 = OversellSpace

        21 = Update

        22 = UpdateConfirming

        23 = WaitListConfirmed'
      x-enumNames:
      - AddToWaitList
      - CancelDeclined
      - CancelFailed
      - Cancelled
      - CancelUnconfirmed
      - ClaimSpace
      - Confirming
      - ConfirmingNoAction
      - ConfirmingUnheld
      - ConfirmingWaitList
      - DirectLinkConfirmed
      - HeldCancelled
      - HeldConfirmed
      - HeldPending
      - HeldUnconfirmed
      - HoldingNeed
      - NeedSpace
      - NeedSpaceUnheld
      - NoAction
      - NoActionTaken
      - OversellSpace
      - Update
      - UpdateConfirming
      - WaitListConfirmed
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
    Message:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
    Name:
      type: object
      additionalProperties: false
      properties:
        first:
          type:
          - string
          - 'null'
        middle:
          type:
          - string
          - 'null'
        last:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
  securitySchemes:
    JWT:
      type: http
      description: Paste your JWT token from the token endpoint.
      scheme: bearer
      bearerFormat: jwt
x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
