openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Trip API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: trip
paths:
  /api/nsk/v5/trip:
    post:
      tags:
      - trip
      summary: Creates a new booking with the provided journeys, contacts, passengers, and SSRs.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: tripCreatev5'
      operationId: nsk_v5_trip_post
      parameters:
      - name: syncPassengerAndTravelDocGender
        in: query
        description: "Indicates whether to synchronize the passenger and all its travel\ndocuments' gender. This will update the gender of all the travel documents in the\npassengers[passengerKey].travelDocuments list in the booking model. The value defaults to true if not specified.\n            "
        schema:
          type: boolean
          default: true
        x-position: 2
      requestBody:
        x-name: request
        description: The booking sell request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingSellRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBooking'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Passenger type not allowed for infant in lap.:
                  description: Example when attempting to add an infant in lap to a passenger type that is not allowed.
                  value:
                    errors:
                    - id: 305fe78c-03e9-4c68-a8f8-5841b5dc6a10
                      code: nsk:Passenger:PassengerTypeNotAllowedForInfantInLap
                      message: Passenger with type CHD is not allowed to have an infant in lap.
                      type: Validation
                      details: null
                      rawMessage: Passenger with type CHD is not allowed to have an infant in lap.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                No POST request body.:
                  description: Example when making a call without a request body.
                  value:
                    errors:
                    - id: 5560684d-8fa9-47f1-b2f6-ebe6380d5b69
                      code: nsk:Exceptions:Null
                      message: An unexpected null value of type 'BookingSellRequest'.
                      type: Validation
                      details: null
                      rawMessage: An unexpected null value of type 'BookingSellRequest'.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v4/trip:
    post:
      tags:
      - trip
      summary: Creates a new booking with the provided journeys, contacts, passengers, and SSRs.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: tripCreatev4'
      operationId: nsk_v4_trip_post
      requestBody:
        x-name: request
        description: The booking sell request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingSellRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBooking'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      deprecated: true
  /api/nsk/v1/trip/{legKey}/seats/{unitKey}/properties:
    get:
      tags:
      - trip
      summary: BETA - Retrieves inventory seat properties for a given flight leg and unit key.
      description: 'This is a beta endpoint and is not currently a long term supported endpoint. This endpoint may be removed in future updates.

        Beta endpoints are not available in all labs or for all customers of the API.


        GraphQL endpoint: inventorySeatProperties'
      operationId: nsk_v1_trip_legKey_seats_unitKey_properties_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The flight leg to retrieve the properties for.
        schema:
          type: string
        x-position: 1
      - name: unitKey
        in: path
        required: true
        description: The unit key to retrieve the properties for.
        schema:
          type: string
        x-position: 2
      - name: compartmentDesignator
        in: query
        description: The compartment to retrieve the seat properties for.
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndListOfInventorySeatPropertyBase'
              examples:
                Default:
                  description: ''
                  value:
                    data:
                      tlYhNTY5NSEgITYzODMwMzY4NTAwMDAwMDAwMCFTTEMhREVOITFBIVk-:
                      - code: RECLINER
                        value: 'TRUE'
                      tlYhNTY5NSEgITYzODMwMzY4NTAwMDAwMDAwMCFTTEMhREVOITJBIVk-:
                      - code: AVAILC
                        value: 'TRUE'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Default:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details: null
                      rawMessage: The identifier 'legKey' with value 'X' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
    post:
      tags:
      - trip
      summary: BETA - Creates an inventory seat property for a given flight leg and unit key.
      description: 'This is a beta endpoint and is not currently a long term supported endpoint. This endpoint may be removed in future updates.

        Beta endpoints are not available in all labs or for all customers of the API.


        GraphQL endpoint: inventorySeatPropertiesAdd'
      operationId: nsk_v1_trip_legKey_seats_unitKey_properties_post
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key to modify the properties for.
        schema:
          type: string
        x-position: 1
      - name: unitKey
        in: path
        required: true
        description: The unit key to modify the properties for.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: property
        description: The property to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventorySeatPropertyBase'
            examples:
              Default:
                description: The code and value on the request are required and are case-insensitive.
                value:
                  code: WINDOW
                  value: 'TRUE'
        required: true
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Default:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:InventorySeatProperties:InventorySeatPropertyCommitFailed
                      message: nsk:InventorySeatProperties:InventorySeatPropertyCommitFailed
                      type: Error
                      details: null
                      rawMessage: 'Inventory seat properties were not committed due to the following:

                        Check if requested property code ''WINDOW'' and value ''TRUE'' is an active inventory property in setup.

                        No inventory seat property to commit.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
    put:
      tags:
      - trip
      summary: BETA - Updates an inventory seat property for a given flight leg and unit key.
      description: 'This is a beta endpoint and is not currently a long term supported endpoint. This endpoint may be removed in future updates.

        Beta endpoints are not available in all labs or for all customers of the API.


        GraphQL endpoint: inventorySeatPropertiesSet'
      operationId: nsk_v1_trip_legKey_seats_unitKey_properties_put
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key to update the properties for.
        schema:
          type: string
        x-position: 1
      - name: unitKey
        in: path
        required: true
        description: The unit key to update the properties for.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: property
        description: The properties to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventorySeatPropertyBase'
            examples:
              Default:
                description: The code and value on the request are required and are case-insensitive.
                value:
                  code: WINDOW
                  value: 'TRUE'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Default:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:InventorySeatProperties:InventorySeatPropertyCommitFailed
                      message: nsk:InventorySeatProperties:InventorySeatPropertyCommitFailed
                      type: Error
                      details: null
                      rawMessage: 'Inventory seat properties were not committed due to the following:

                        Check if requested property code ''WINDOW'' and value ''TRUE'' is an active inventory property in setup.

                        No inventory seat property to commit.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
    delete:
      tags:
      - trip
      summary: BETA - Deletes an inventory seat property for a given flight leg and unit key.
      description: 'This is a beta endpoint and is not currently a long term supported endpoint. This endpoint may be removed in future updates.

        Beta endpoints are not available in all labs or for all customers of the API.


        GraphQL endpoint: inventorySeatPropertiesDelete'
      operationId: nsk_v1_trip_legKey_seats_unitKey_properties_delete
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key to delete the properties for.
        schema:
          type: string
        x-position: 1
      - name: unitKey
        in: path
        required: true
        description: The unit key to delete the properties for.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: property
        description: The property to delete.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventorySeatPropertyBase'
            examples:
              Default:
                description: The code and value on the request are required and are case-insensitive.
                value:
                  code: WINDOW
                  value: 'TRUE'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Default:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:InventorySeatProperties:InventorySeatPropertyCommitFailed
                      message: nsk:InventorySeatProperties:InventorySeatPropertyCommitFailed
                      type: Error
                      details: null
                      rawMessage: 'Inventory seat properties were not committed due to the following:

                        Check if requested property code ''WINDOW'' and value ''TRUE'' is an active inventory property in setup.

                        No inventory seat property to commit.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/trip/{legKey}/seats/properties:
    get:
      tags:
      - trip
      summary: BETA - Retrieves inventory seat properties for a given flight leg.
      description: 'This is a beta endpoint and is not currently a long term supported endpoint. This endpoint may be removed in future updates.

        Beta endpoints are not available in all labs or for all customers of the API.


        GraphQL endpoint: inventorySeatPropertiesByLeg'
      operationId: nsk_v1_trip_legKey_seats_properties_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The flight leg to retrieve the properties for.
        schema:
          type: string
        x-position: 1
      - name: compartmentDesignator
        in: query
        description: The compartment to retrieve the seat properties for.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndListOfInventorySeatPropertyBase'
              examples:
                Default:
                  description: ''
                  value:
                    data:
                      tlYhNTY5NSEgITYzODMwMzY4NTAwMDAwMDAwMCFTTEMhREVOITFBIVk-:
                      - code: RECLINER
                        value: 'TRUE'
                      tlYhNTY5NSEgITYzODMwMzY4NTAwMDAwMDAwMCFTTEMhREVOITJBIVk-:
                      - code: AVAILC
                        value: 'TRUE'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Default:
                  description: ''
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details: null
                      rawMessage: The identifier 'legKey' with value 'X' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/trip/contacts:
    post:
      tags:
      - trip
      summary: Creates a new contacts-only booking.
      description: 'This endpoint is not for updating contacts on an existing booking.

        For that purpose, use the "booking/contacts/{contactTypeCode}" endpoints for PUT and PATCH.

        This endpoint is to create a new contacts-only booking.

        An example use case for a contacts-only booking are agency gift certificates (Agency Contact)

        where a payment is made with the organization credit and left as a credit on the PNR.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: tripContactsAdd'
      operationId: nsk_v1_trip_contacts_post
      requestBody:
        x-name: tripContactsRequest
        description: The trip contacts request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripContactsRequest'
            examples:
              Valid trip contacts request:
                description: Example request for creating a contacts only booking.
                value:
                  data:
                    contacts:
                    - contactTypeCode: P
                      phoneNumbers:
                      - type: 1
                        number: '1234'
                      cultureCode: null
                      address:
                        lineOne: '123'
                        lineTwo: null
                        lineThree: null
                        countryCode: null
                        provinceState: null
                        city: City
                        postalCode: '100'
                      emailAddress: mail@mail.com
                      customerNumber: null
                      sourceOrganization: null
                      distributionOption: null
                      notificationPreference: null
                      companyName: null
                      name:
                        first: John
                        middle: null
                        last: Doe
                        title: null
                        suffix: null
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBooking'
              examples:
                Contacts-only booking:
                  description: Example response for successfully creating a contacts-only booking.
                  value:
                    data:
                      selfServiceMoveAvailable: false
                      bookingKey: null
                      recordLocator: null
                      currencyCode: null
                      systemCode: null
                      groupName: null
                      locators: null
                      info:
                        status: 0
                        paidStatus: 0
                        priceStatus: 0
                        profileStatus: 0
                        bookingType: null
                        channelType: 0
                        bookedDate: '2026-07-09T05:55:13.5552699+00:00'
                        createdDate: null
                        expirationDate: null
                        modifiedDate: null
                        modifiedAgentId: 0
                        createdAgentId: 0
                        owningCarrierCode: null
                        changeAllowed: false
                        createdUserKey: MA--
                        modifiedUserKey: null
                      sales: null
                      typeOfSale: null
                      hold: null
                      breakdown: null
                      receivedBy: null
                      contacts:
                        p:
                          contactTypeCode: P
                          phoneNumbers:
                          - type: 1
                            number: '1234'
                          cultureCode: null
                          address:
                            lineOne: '123'
                            lineTwo: null
                            lineThree: null
                            countryCode: null
                            provinceState: null
                            city: City
                            postalCode: '100'
                          emailAddress: mail@mail.com
                          customerNumber: null
                          sourceOrganization: null
                          distributionOption: null
                          notificationPreference: null
                          companyName: null
                          name:
                            first: John
                            middle: null
                            last: Doe
                            title: null
                            suffix: null
                      passengers: null
                      journeys: null
                      comments: null
                      queues: null
                      history: null
                      payments: null
                      addOns: null
                      orders: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With invalid contact type code:
                  description: The contact type code is invalid or not configured in the system. The list of valid contact type codes can be retrieved using the GET api/nsk/v1/resources/ContactTypes endpoint.
                  value:
                    errors:
                    - id: 12bd2c3d-ddd4-5844-3sz5-3cg52c2e13n1
                      code: nsk:Contact:InvalidContactTypeCode
                      message: The contact type code 'S' is invalid.
                      type: Validation
                      details:
                        contactTypeCode: S
                      rawMessage: The contact type code 'S' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With duplicate contact type code:
                  description: The contact type code already exists in the request.
                  value:
                    errors:
                    - id: 99cd1b2b-ccc3-4733-7fa4-2bf49b1d98c0
                      code: nsk:Contact:DuplicateTypeCode
                      message: Duplicate contact type 'P' detected.
                      type: Validation
                      details:
                        contactTypeCode: P
                      rawMessage: Duplicate contact type 'P' detected.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With no contact type code:
                  description: The contact type code in the request is not populated.
                  value:
                    errors:
                    - id: 5f490eab-3a4d-a783-14ed-25456aecf82f
                      code: Contact.ContactTypeCode:RequiredAttribute
                      message: The Contact field is required.
                      type: Validation
                      details: null
                      rawMessage: The Contact field is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With incomplete booking contact information:
                  description: The booking contact information provided is incomplete.
                  value:
                    errors:
                    - id: 666e7592-c107-3812-46e6-f7147dd3c5cd
                      code: nsk-server:BookingContactInfoIncomplete
                      message: Missing or invalid GST Registration Number.
                      type: Validation
                      details: null
                      rawMessage: Missing or invalid GST Registration Number.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With booking already in state:
                  description: There is already a booking in state.
                  value:
                    errors:
                    - id: 505b55d3-cac8-93a9-4d25-131256cdd551
                      code: nsk:Booking:AlreadyExistsInState
                      message: Booking already exists in state. Try again after reseting the state.
                      type: Error
                      details: null
                      rawMessage: Booking already exists in state. Try again after reseting the state.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With null request:
                  description: The trip contact request field is null
                  value:
                    errors:
                    - id: 292fcb67-e1de-eb62-3d1a-123a586b03a9
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v2/trip/info:
    post:
      tags:
      - trip
      summary: Gets the search results for the trip information, based on the search criteria.
      description: 'This endpoint will return a maximum of 100 journeys.  If more than 100 journeys are needed, the search criteria

        will need to be modified and additional trip calls will need to be made.


        GraphQL endpoint: tripInformationv2'
      operationId: nsk_v2_trip_info_post
      requestBody:
        x-name: request
        description: The trip information request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripInformationQuery'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfTripInformationResponsev2'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/{legKey}/details:
    get:
      tags:
      - trip
      summary: Retrieves cabin and various details for the specified leg key.
      description: 'The additional trip details include the leg cross references,

        the cabin details (nest counts), and the checkin-lid.


        GraphQL endpoint: tripInformationDetails'
      operationId: nsk_v1_trip_info_legKey_details_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The encoded leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfTripDetails'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/{legKey}/status:
    patch:
      tags:
      - trip
      summary: Stateless operation for updating the trip information status for a specific flight.
      description: 'A flight must be within three days of leaving to be able to make flight

        following information changes.

        An empty string or whitespaces are allowed input values and are not considered as null

        inputs. Null values will retain the original value in the trip status while empty strings

        or whitespaces will clear the value from the trip status.

        When updating tail numbers, this endpoint will not validate mismatching equipment types.

        If validation is required for tail numbers, please see `POST /equipment/tailNumber`.


        GraphQL endpoint: tripInformationStatusModify'
      operationId: nsk_v1_trip_info_legKey_status_patch
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key of the flight being updated.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The trip information status request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripInformationStatusRequestBase'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Update flight following information successful:
                  description: Example response when flight following information is updated successfully.
                  value:
                    data: null
                Mismatch tail number equipment type:
                  description: Example response when the tail number is updated even if the equipment type is mismatching.
                  value:
                    messages:
                    - code: nsk:TripStatus:EquipmentTypeMismatch
                      type: Information
                      value: nsk:TripStatus:EquipmentTypeMismatch
                      status: 0
                      details:
                        flightEquipmentType: '767'
                        tailNumberEquipmentType: '731'
                    data: null
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Update Flight Following Information Not Allowed:
                  description: Example response when an agent is not allowed to update the flight following information.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:AuthorizationManageFLIFONotAllowed
                      message: nsk-server:AuthorizationManageFLIFONotAllowed
                      type: Validation
                      details:
                        message: Agent does not have the proper clearance to update FLIFO.
                      rawMessage: Agent does not have the proper clearance to update FLIFO.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Leg key is invalid:
                  description: Example response when the leg key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'legKey' with value 'NjM4NjY2ODkyMDAwMDAwMTMhICFTTEMhREVOITIzNTk3OTg-' is invalid.
                      type: Validation
                      details: null
                      rawMessage: The identifier 'legKey' with value 'NjM4NjY2ODkyMDAwMDAwMTMhICFTTEMhREVOITIzNTk3OTg-' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Tail number does not exist:
                  description: Example response when the tail number does not exist. See /resources/tailNumbers for the list of all available tail numbers.
                  value:
                    errors:
                    - id: null
                      code: nsk:TripStatus:TailNumberDoesNotExist
                      message: nsk:TripStatus:TailNumberDoesNotExist
                      type: Validation
                      details:
                        tailNumber: abc
                      rawMessage: The tail number does not exist.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Tail number exceeds 10 characters:
                  description: Example response when the tail number exceeds 10 characters.
                  value:
                    errors:
                    - id: null
                      code: TripInformationStatusRequestBase.TailNumber:StringLengthAttribute
                      message: The field TripInformationStatusRequestBase must be a string with a maximum length of 10.
                      type: Validation
                      details:
                        validation: StringLengthAttribute
                        model: TripInformationStatusRequestBase
                        member: TailNumber
                      rawMessage: The field TripInformationStatusRequestBase must be a string with a maximum length of 10.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Request is null:
                  description: Example response when the request is null.
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/trip/info/{legKey}/status:
    get:
      tags:
      - trip
      summary: Retrieves the trip status data for the specified leg key.
      description: 'GraphQL endpoint: tripInformationStatusv2'
      operationId: nsk_v2_trip_info_legKey_status_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The encoded leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfTripStatusv2'
              examples:
                Retrieve Trip Status:
                  description: Successfully retrieving the trip status.
                  value:
                    data:
                      tripStatusKey: MzAxMzx2NxFxNCI0MTAxOCBOVjU2MDggU0xDQk8J
                      operationDetails:
                        tailNumber: null
                        equipmentType: '380'
                        equipmentTypeSuffix: '800'
                        status: 0
                        identifier:
                          identifier: '5608'
                          carrierCode: NV
                          opSuffix: null
                        tripOperationTimes: null
                        counts:
                          boardingCount: 0
                          boardingSequence: 0
                          infantCount: 0
                          nonRevenueCount: 0
                          revenueCount: 0
                          checkInCount: 0
                          fuelOnboardOut: 0
                          fuelOnboardIn: 0
                          upLiftFuel: 0
                          upLiftWeight: 0
                          cockpitCrewCount: 0
                          cabinCrewCount: 0
                        delays:
                        - delayCode: TEST
                          delayMinutes: 10
                          tripOperationDelayKey: MzAxMzc1MyExMzU1
                          note: TEST DELAY EDIT
                          createdDate: '2026-07-09T05:55:14.768511Z'
                          includeMvtMessage: true
                          modifiedDate: '2026-07-12T05:55:14.7685353Z'
                          createdUserKey: MQ--
                          modifiedUserKey: MQ--
                        payloads: null
                        crewList: null
                        comments:
                        - text: TEST COMMENT EDIT
                          tripOperationCommentKey: MzAxMzc1MyEzMDU4
                          type: 0
                          createdDate: '2026-07-09T05:55:14.7686459Z'
                          modifiedDate: '2026-07-12T05:55:14.7686595Z'
                          createdUserKey: MQ--
                          modifiedUserKey: MQ--
                        historyList:
                        - tripOperationHistoryKey: MzAxMzc1MyEyODkxNlsz
                          tripOperationHistoryCode: GP
                          detail: US|iAPI Scheduled Msg (  0/ 0)
                          createdHistoryDate: '2026-07-09T05:55:14.7687139+00:00'
                        - tripOperationHistoryKey: MzAxMzc1EySlOBk2MsN3
                          tripOperationHistoryCode: GS
                          detail: US|iAPI Scheduled Msg (  2/ 1)
                          createdHistoryDate: '2026-07-09T05:55:14.7687146+00:00'
                      originDetails:
                        status: 0
                        note: null
                        gate: null
                        station: SLC
                      destinationDetails:
                        status: 0
                        note: null
                        baggageClaim: null
                        gate: null
                        station: BOS
                      modifiedAgentName: ExampleAgent
                      verified: true
                      irop: true
                      modifiedDate: '2026-07-09T05:55:14.7687175Z'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/{legKey}/status/comments:
    post:
      tags:
      - trip
      summary: Stateless operation for creating operation comments in the trip information status for a specific flight.
      description: 'A flight must be within three days of leaving to be able to make flight

        following information changes.


        GraphQL endpoint: tripOperationCommentsAdd'
      operationId: nsk_v1_trip_info_legKey_status_comments_post
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key of the flight being updated.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The trip operation comment create request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripOperationCommentCreateRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Update Flight Following Information Not Allowed:
                  description: Example response when an agent is not allowed to update the flight following information.
                  value:
                    errors:
                    - id: 7a9504cd-8764-84af-9769-d634a09cd09d
                      code: nsk-server:AuthorizationManageFLIFONotAllowed
                      message: nsk-server:AuthorizationManageFLIFONotAllowed
                      type: Validation
                      details:
                        message: Agent does not have the proper clearance to update FLIFO.
                      rawMessage: Agent does not have the proper clearance to update FLIFO.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/trip/info/{legKey}/status/comments/{commentKey}:
    put:
      tags:
      - trip
      summary: Stateless operation for updating the operation comments in the trip information status for a specific flight.
      description: 'A flight must be within three days of leaving to be able to make flight

        following information changes.


        GraphQL endpoint: tripOperationCommentsSet'
      operationId: nsk_v1_trip_info_legKey_status_comments_commentKey_put
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key of the flight being updated.
        schema:
          type: string
        x-position: 1
      - name: commentKey
        in: path
        required: true
        description: The key of the comment to be updated.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The trip operation comment request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripOperationCommentEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Update Flight Following Information Not Allowed:
                  description: Example response when an agent is not allowed to update the flight following information.
                  value:
                    errors:
                    - id: 7a9504cd-8764-84af-9769-d634a09cd09d
                      code: nsk-server:AuthorizationManageFLIFONotAllowed
                      message: nsk-server:AuthorizationManageFLIFONotAllowed
                      type: Validation
                      details:
                        message: Agent does not have the proper clearance to update FLIFO.
                      rawMessage: Agent does not have the proper clearance to update FLIFO.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - trip
      summary: Stateless operation for deleting the operation comments in the trip information status for a specific flight.
      description: 'A flight must be within three days of leaving to be able to make flight

        following information changes.


        GraphQL endpoint: tripOperationCommentsDelete'
      operationId: nsk_v1_trip_info_legKey_status_comments_commentKey_delete
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key of the flight being updated.
        schema:
          type: string
        x-position: 1
      - name: commentKey
        in: path
        required: true
        description: The key of the comment to be deleted.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Update Flight Following Information Not Allowed:
                  description: Example response when an agent is not allowed to update the flight following information.
                  value:
                    errors:
                    - id: 7a9504cd-8764-84af-9769-d634a09cd09d
                      code: nsk-server:AuthorizationManageFLIFONotAllowed
                      message: nsk-server:AuthorizationManageFLIFONotAllowed
                      type: Validation
                      details:
                        message: Agent does not have the proper clearance to update FLIFO.
                      rawMessage: Agent does not have the proper clearance to update FLIFO.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/{legKey}/status/delays:
    post:
      tags:
      - trip
      summary: Stateless operation for creating operation delays in the trip information status for a specific flight.
      description: 'A flight must be within three days of leaving to be able to make flight

        following information changes.


        GraphQL endpoint: tripOperationDelaysAdd'
      operationId: nsk_v1_trip_info_legKey_status_delays_post
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key of the flight being updated.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The trip operation delay request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripOperationDelayCreateRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Update Flight Following Information Not Allowed:
                  description: Example response when an agent is not allowed to update the flight following information.
                  value:
                    errors:
                    - id: 7a9504cd-8764-84af-9769-d634a09cd09d
                      code: nsk-server:AuthorizationManageFLIFONotAllowed
                      message: nsk-server:AuthorizationManageFLIFONotAllowed
                      type: Validation
                      details:
                        message: Agent does not have the proper clearance to update FLIFO.
                      rawMessage: Agent does not have the proper clearance to update FLIFO.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/trip/info/{legKey}/status/delays/{delayKey}:
    patch:
      tags:
      - trip
      summary: Stateless operation for patching the operation delays in the trip information status for a specific flight.
      description: 'A flight must be within three days of leaving to be able to make flight

        following information changes.


        GraphQL endpoint: tripOperationDelaysModify'
      operationId: nsk_v1_trip_info_legKey_status_delays_delayKey_patch
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key of the flight being updated.
        schema:
          type: string
        x-position: 1
      - name: delayKey
        in: path
        required: true
        description: The key of the delay to be patched.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The trip operation delay request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfTripOperationDelayEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Update Flight Following Information Not Allowed:
                  description: Example response when an agent is not allowed to update the flight following information.
                  value:
                    errors:
                    - id: 7a9504cd-8764-84af-9769-d634a09cd09d
                      code: nsk-server:AuthorizationManageFLIFONotAllowed
                      message: nsk-server:AuthorizationManageFLIFONotAllowed
                      type: Validation
                      details:
                        message: Agent does not have the proper clearance to update FLIFO.
                      rawMessage: Agent does not have the proper clearance to update FLIFO.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - trip
      summary: Stateless operation for deleting trip operation delays in the trip information status for a specific flight.
      description: 'A flight must be within three days of leaving to be able to make flight

        following information changes.


        GraphQL endpoint: tripOperationDelaysDelete'
      operationId: nsk_v1_trip_info_legKey_status_delays_delayKey_delete
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key of the flight being updated.
        schema:
          type: string
        x-position: 1
      - name: delayKey
        in: path
        required: true
        description: The key of the delay to be deleted.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Update Flight Following Information Not Allowed:
                  description: Example response when an agent is not allowed to update the flight following information.
                  value:
                    errors:
                    - id: 7a9504cd-8764-84af-9769-d634a09cd09d
                      code: nsk-server:AuthorizationManageFLIFONotAllowed
                      message: nsk-server:AuthorizationManageFLIFONotAllowed
                      type: Validation
                      details:
                        message: Agent does not have the proper clearance to update FLIFO.
                      rawMessage: Agent does not have the proper clearance to update FLIFO.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/{legKey}/status/operationDetails/status/cancel:
    put:
      tags:
      - trip
      summary: Updates the leg status to cancel.
      description: 'GraphQL endpoint: modifyStatusCancel'
      operationId: nsk_v1_trip_info_legKey_status_operationDetails_status_cancel_put
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/{legKey}/status/operationDetails/status/closeLeg:
    put:
      tags:
      - trip
      summary: Updates a leg status closed.
      description: 'A leg status can be set to closed regardless of check-in configuration period of time set in settings.

        This check-in restriction determines if a flight can be closed before a designated departure time.

        It is recommended to set a leg status to close using the check-in restrictions.

        There are a number of factors that can prevent the leg from being closed.

        These include:

        A PNRGOV message is required and has not been sent

        A flight closure or APIS message is required and has not been sent

        Passengers have a balance due (unless overrideBalanceDueWarning is specified)

        Passengers have a balance due and not all passengers on the booking

        have the same lift status.


        GraphQL endpoint: updateLegStatusClose'
      operationId: nsk_v1_trip_info_legKey_status_operationDetails_status_closeLeg_put
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      - name: bypassCheckinRestrictions
        in: query
        description: "This will allows updates regardless of checkin configuration period of time set in settings.\n            "
        schema:
          type: boolean
        x-position: 2
      - name: overrideBalanceDueWarning
        in: query
        description: "This will allow the flight to be closed regardless of any balance due by any passenger(s) on the leg.\n            "
        schema:
          type: boolean
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      deprecated: true
  /api/nsk/v2/trip/info/{legKey}/status/operationDetails/status/closeLeg:
    put:
      tags:
      - trip
      summary: Updates a leg status closed.
      description: 'A leg status can be set to closed regardless of check-in configuration period of time set in settings.

        This check-in restriction determines if a flight can be closed before a designated departure time.

        It is recommended to set a leg status to closed using the check-in restrictions.

        There are a number of factors that can prevent the leg from being closed.

        These include:

        A PNRGOV message is required and has not been sent

        A flight closure or APIS message is required and has not been sent

        Passengers have a balance due (unless overrideBalanceDueWarning is specified)

        Passengers have a balance due and not all passengers on the booking

        have the same lift status.

        Exit Row Requirements are not met (unless OverrideExitRowRequirement is specified)


        GraphQL endpoint: updateLegStatusClosev2'
      operationId: nsk_v2_trip_info_legKey_status_operationDetails_status_closeLeg_put
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: "Flight close options.\n            "
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlightCloseRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/{legKey}/status/operationDetails/status/closePendingLeg:
    put:
      tags:
      - trip
      summary: Updates a leg status to closed pending.
      description: 'GraphQL endpoint: updateLegStatusClosePendingv2'
      operationId: nsk_v1_trip_info_legKey_status_operationDetails_status_closePendingLeg_put
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      - name: overrideExitRowRequirement
        in: query
        description: "This will allow the leg to be set to closed pending regardless of any exit row requirements.\n            "
        schema:
          type:
          - boolean
          - 'null'
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/{legKey}/status/operationDetails/status/mishap:
    put:
      tags:
      - trip
      summary: 'Secures all passenger information associated with the flight leg clearing and locking the

        passenger data. This changes the leg status to Mishap.'
      description: 'GraphQL endpoint: modifyStatusMishap'
      operationId: nsk_v1_trip_info_legKey_status_operationDetails_status_mishap_put
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid Flight Key:
                  description: Example of invalid flight key.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'legKey' with value 'aPQxScmtKWMS7YtIi6Pdp9kwUQKLrqc6j9K5f4cM' is invalid.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Update Failed:
                  description: Example of when attempted status change to 'Mishap' failed.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:UpdateFailed
                      message: Attempted update of object 'legKey' has failed. Please verify this object exists.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '401':
          description: Authentication is required for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/{legKey}/status/operationDetails/status/mishapRestore:
    put:
      tags:
      - trip
      summary: Restores locked passenger data associated with the flight leg. This restores the leg status to normal.
      description: 'GraphQL endpoint: modifyStatusMishapRestore'
      operationId: nsk_v1_trip_info_legKey_status_operationDetails_status_mishapRestore_put
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: Authentication is required for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      deprecated: true
  /api/nsk/v1/trip/info/{legKey}/status/operationDetails/status/openLeg:
    put:
      tags:
      - trip
      summary: Updates a leg status to open.
      description: 'A leg status can be set to open regardless of checkin configuration period of time set in settings.

        This checkin restriction determines if a flight can be opened after a designated departure time.

        It is recommended to set a leg status to open using the checkin restrictions.


        GraphQL endpoint: updateLegStatusOpen'
      operationId: nsk_v1_trip_info_legKey_status_operationDetails_status_openLeg_put
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      - name: bypassCheckinRestrictions
        in: query
        description: "This will allows updates regardless of checkin configuration period of time set in settings.\n            "
        schema:
          type: boolean
        x-position: 2
      - name: convertNoShowToDefault
        in: query
        description: If true, converts no show passengers' liftStatus to default
        schema:
          type: boolean
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/{legKey}/status/operationDetails/status/restore:
    put:
      tags:
      - trip
      summary: Updates the leg status to normal.
      description: 'GraphQL endpoint: modifyStatusRestore'
      operationId: nsk_v1_trip_info_legKey_status_operationDetails_status_restore_put
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/trip/info/legs:
    post:
      tags:
      - trip
      summary: Searches for the inventory legs based on the search criteria.
      description: 'This is functionally a GET but POST is used to reduce URL length overhead.


        GraphQL endpoint: tripInformationByLegv2'
      operationId: nsk_v2_trip_info_legs_post
      requestBody:
        x-name: request
        description: The trip information leg query.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripInformationLegQuery'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfTripInformationLegv2'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/trip/info/legs/simple:
    get:
      tags:
      - trip
      summary: 'Performs a simplified search for trip information by leg, based upon minimal,

        required data for the search criteria.'
      description: 'GraphQL endpoint: tripInformationByLegSimplev2'
      operationId: nsk_v2_trip_info_legs_simple_get
      parameters:
      - name: Origin
        in: query
        description: "The departure station.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 1
      - name: Destination
        in: query
        description: "The arrival station.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 2
      - name: BeginDate
        in: query
        description: "The starting date of the trip information search.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 3
      - name: EndDate
        in: query
        description: "The end date of the trip information search.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 4
      - name: StartTimeInterval
        in: query
        description: "The starting time of the trip information search.\n            "
        schema:
          type:
          - string
          - 'null'
          format: duration
        x-position: 5
      - name: EndTimeInterval
        in: query
        description: "The end time of the trip information search.\n            "
        schema:
          type:
          - string
          - 'null'
          format: duration
        x-position: 6
      - name: Identifier
        in: query
        description: "The transportation identifier, such as a flight number.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 0
        x-position: 7
      - name: CarrierCode
        in: query
        description: "The carrier code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 2
        x-position: 8
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfTripInformationLegv2'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/trip/info/simple:
    get:
      tags:
      - trip
      summary: 'Performs a simplified search for trip information based upon minimal, required data for

        the search criteria.'
      description: 'This endpoint will return a maximum of 100 journeys.  If more than 100 journeys are needed, the search criteria

        will need to be modified and additional trip calls will need to be made.


        GraphQL endpoint: tripInformationSimplev2'
      operationId: nsk_v2_trip_info_simple_get
      parameters:
      - name: NumberOfJourneys
        in: query
        description: "When set to null, 100 journeys will be returned.\nThis endpoint will never return more than 100 journeys.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 1
      - name: Origin
        in: query
        description: "The departure station.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 2
      - name: Destination
        in: query
        description: "The arrival station.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 3
      - name: EndDate
        in: query
        description: "The end date of the trip information search.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 4
      - name: StartTimeInterval
        in: query
        description: "The starting time of the trip information search.\n            "
        schema:
          type:
          - string
          - 'null'
          format: duration
        x-position: 5
      - name: EndTimeInterval
        in: query
        description: "The end time of the trip information search.\n            "
        schema:
          type:
          - string
          - 'null'
          format: duration
        x-position: 6
      - name: CarrierCode
        in: query
        description: "The carrier code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 2
        x-position: 7
      - name: BeginDate
        in: query
        description: "The starting date of the trip information search.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 8
      - name: Identifier
        in: query
        description: "The transportation identifier, such as a flight number.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 0
        x-position: 9
      - name: FlightType
        in: query
        description: "The flight type.\n             \nEnumeration values: 0 = All, 1 = NonStop, 2 = Through, 3 = Direct, 4 = Connect"
        schema:
          $ref: '#/components/schemas/OperationsFlightType'
        x-position: 10
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfTripInformationResponsev2'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/trip/info/status/operationDetails/status/mishapRestore:
    post:
      tags:
      - trip
      summary: Restores locked passenger data associated the leg information. This restores the leg status to normal.
      description: 'GraphQL endpoint: modifyStatusRestoreMishap'
      operationId: nsk_v1_trip_info_status_operationDetails_status_mishapRestore_post
      requestBody:
        x-name: request
        description: The leg key.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketInformation'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Unauthorized Agent:
                  description: Example of Agent unauthorized to restore passenger data for restore after mishap.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:MishapRestorePassengerDataUnauthorized
                      message: Agent unauthorized to restore passenger data.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Carrier Code:
                  description: Example of invalid or unknown carrier code.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:InvalidCarrierCode
                      message: The carrier code 'x!*' is invalid.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Origin:
                  description: Example of invalid or unknown departure station.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:InvalidOrigin
                      message: The Departure Station 'Gdo' is invalid.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Destination:
                  description: Example of invalid or unknown arrival station.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:InvalidDestination
                      message: The Arrival Station 'hJA' is invalid.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid Flight Number:
                  description: Example of an invalid flight number.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:InvalidFlightNumber
                      message: The flight number 'KYB9' is invalid.
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Mishap Restore Failed:
                  description: Example of when restoring a flight from mishap failed.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:MishapRestoreFailed
                      message: NV1234 was not found or not restored..
                      type: Error
                      details: null
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '401':
          description: Authentication is required for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/trip/move:
    post:
      tags:
      - trip
      summary: Moves a journey on the booking in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: movev2'
      operationId: nsk_v2_trip_move_post
      requestBody:
        x-name: request
        description: Move request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveRequestv2'
            examples:
              Move Request:
                description: Example request for move journey for a booking in state.
                value:
                  data:
                    fromJourneyKey: TlZ_NTYxMH4gfn5TTEN_MDMvMTcvMjAyNiAxOTowMH5CT1N_MDMvMTcvMjAyNiAyMzo1OX5_
                    journeyKey: TlZ_NTYxMH4gfn5TTEN_MDMvMTcvMjAyNiAxOTowMH5CT1N_MDMvMTcvMjAyNiAyMzo1OX5_
                    fareKey: Mn5Cfn5OVn5CRkFSRX4yOTMzfn4wfjB_flg-
                    moveType: 0
                    ignoreClosedFlightStatus: true
                    ignoreLiftStatus: 2
                    boardingSequenceOffset: 0
                    moveSsrOption: 1
                    standbyPriorityCode: R
                    inventoryControlType: 0
                    changeReasonCode: 2
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Journey Key:
                  description: The journey key was not found on the booking in state.
                  value:
                    errors:
                    - id: null
                      code: nsk:Journey:InvalidKey
                      message: nsk:Journey:InvalidKey
                      type: Error
                      details: null
                      rawMessage: Journey key tDiBTmOoPK was not found on the booking in state.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Self Service Move Not Allowed:
                  description: Self-service move is not allowed on the booking.
                  value:
                    errors:
                    - id: null
                      code: nsk:Availability:SelfServiceMoveNotAllowed
                      message: nsk:Availability:SelfServiceMoveNotAllowed
                      type: Error
                      details: null
                      rawMessage: A self-service move is not allowed for this booking.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Trip Move Not Allowed:
                  description: Trip move is not allowed on the initial booking.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:MoveNotAllowedOnInitialBooking
                      message: nsk:Trip:MoveNotAllowedOnInitialBooking
                      type: Validation
                      details: null
                      rawMessage: A trip move is not allowed for the initial booking based on the current user's permissions.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Journey For Confirmed Move Type:
                  description: The original journey is on standby status when attempting to move the trip from confirmed status.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:InvalidJourneyForConfirmedMove
                      message: nsk:Trip:InvalidJourneyForConfirmedMove
                      type: Validation
                      details: null
                      rawMessage: The original journey to be moved is invalid because it is on standby status.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With No Standby Priority Code:
                  description: The standby priority code is missing when attempting to move the trip to standby status.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:StandbyPriorityCodeRequired
                      message: nsk:Trip:StandbyPriorityCodeRequired
                      type: Validation
                      details: null
                      rawMessage: A standby priority code is required.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Standby Priority Code:
                  description: The provided standby priority code is invalid or not configured in the system. For the list of valid codes, please use the GET /resources/StandByPriorities endpoint.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:InvalidStandbyPriorityCode
                      message: nsk:Trip:InvalidStandbyPriorityCode
                      type: Validation
                      details: null
                      rawMessage: The standby priority code tDiBTmOoPK is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Change Reason Code:
                  description: The provided change reason code is invalid or not configured in the system.
                  value:
                    errors:
                    - id: null
                      code: nsk:Trip:InvalidChangeReasonCode
                      message: nsk:Trip:InvalidChangeReasonCode
                      type: Validation
                      details: null
                      rawMessage: The change reason code 8 is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Split Journey Move:
                  description: The journey does not have at least one boarded and one unboarded segment.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:InvalidSplitJourneyMove
                      message: nsk-server:InvalidSplitJourneyMove
                      type: Error
                      details: null
                      rawMessage: Split Journey requires atleast one boarded and one unboarded segment.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Split Journey Move Not Allowed:
                  description: The user is not allowed to attempt split-journey move.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:InvalidRole
                      message: nsk-server:InvalidRole
                      type: Error
                      details: null
                      rawMessage: Agent is not allowed for SplitJourney. RoleCode = TAW3.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Fly Ahead Move Not Allowed:
                  description: The journey is not enabled for fly-ahead offers.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:InvalidFlyAheadMove
                      message: nsk-server:InvalidFlyAheadMove
                      type: Error
                      details: null
                      rawMessage: 'Fly-ahead move not allowed: Current journey is not enabled for fly-ahead offers'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With HIDR Disabled:
                  description: The Hybrid Interline Disruption Recovery premium service is disabled.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:NotHIDREligible
                      message: nsk-server:NotHIDREligible
                      type: Error
                      details: null
                      rawMessage: Not eligible for HIDR move. HIDR is disabled.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
  /api/nsk/v3/trip/move/availability:
    post:
      tags:
      - trip
      summary: 'Searches for move availability with the full availability search request. This request will allow for total control

        over

        the configuration. If a property is not set, the default settings (AvailabilitySettings) is used in its place.'
      description: 'Note, this is a post request even though it is only getting information. This is due to the complicated data needed

        in the post data.

        Even though service bundle offers is part of the endpoint response, it is expected to be not populated.


        GraphQL endpoint: moveAvailabilityv3'
      operationId: nsk_v3_trip_move_availability_post
      requestBody:
        x-name: request
        description: The availability move request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityMoveRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAvailabilityv2'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v3/trip/move/availability/{journeyKey}:
    get:
      tags:
      - trip
      summary: 'Searches for availability with the simple move request. The simple search request covers the bare minimum search

        criteria and lets default settings (AvailabilitySettings) configure the rest.'
      description: 'Even though service bundle offers is part of the endpoint response, it is expected to be not populated.


        GraphQL endpoint: moveAvailabilitySimplev3'
      operationId: nsk_v3_trip_move_availability_journeyKey_get
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 1
      - name: BeginDate
        in: query
        description: "The departure date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 2
      - name: Origin
        in: query
        description: "The origin station code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 3
        x-position: 3
      - name: Destination
        in: query
        description: "The destination station code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 3
        x-position: 4
      - name: PassengerMoveType
        in: query
        description: "The passenger move type.\n             \nEnumeration values: 0 = None, 1 = Irop, 2 = Diversion, 4 = FlightClose, 5 = FlyAhead, 6 = SplitJourney, 7 = SelfServiceRebooking, 8 = HIDR"
        schema:
          $ref: '#/components/schemas/MovePassengerJourneyType'
        x-position: 5
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAvailabilityv2'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
[...]
