openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Resources API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: resources
paths:
  /api/nsk/v1/resources/AccountTransactionCodes:
    get:
      tags:
      - resources
      summary: Retrieves the collection of account transaction code resources.
      description: 'GraphQL endpoint: resourceAccountTransactionCodes'
      operationId: nsk_v1_resources_AccountTransactionCodes_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfAccountTransactionCode'
  /api/nsk/v1/resources/AccountTransactionCodes/{transactionCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific account transaction code resource.
      description: 'GraphQL endpoint: resourceAccountTransactionCode'
      operationId: nsk_v1_resources_AccountTransactionCodes_transactionCode_get
      parameters:
      - name: transactionCode
        in: path
        required: true
        description: The desired transaction code to retrieve.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The desired culture code for the resource.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAccountTransactionCode'
  /api/nsk/v1/resources/AddressTypes:
    get:
      tags:
      - resources
      summary: Retrieves the collection of address type resources.
      description: 'GraphQL endpoint: resourceAddressTypes'
      operationId: nsk_v1_resources_AddressTypes_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfAddressType'
  /api/nsk/v1/resources/AddressTypes/{addressTypeCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific address type resource.
      description: 'GraphQL endpoint: resourceAddressType'
      operationId: nsk_v1_resources_AddressTypes_addressTypeCode_get
      parameters:
      - name: addressTypeCode
        in: path
        required: true
        description: The unique type code. Please note that this should be a char and not a string.
        schema:
          type: string
          maxLength: 1
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAddressType'
  /api/nsk/v1/resources/Areas:
    get:
      tags:
      - resources
      summary: Retrieves the collection of area resources.
      description: 'GraphQL endpoint: resourceAreas'
      operationId: nsk_v1_resources_Areas_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfArea'
  /api/nsk/v1/resources/Areas/{areaCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific area resource.
      description: 'See `/api/nsk/v1/resources/areas/{areaCode}/zones` to retrieve the list of geographical zones associated with a

        specific area.


        GraphQL endpoint: resourceArea'
      operationId: nsk_v1_resources_Areas_areaCode_get
      parameters:
      - name: areaCode
        in: path
        required: true
        description: The unique area code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The unique culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfArea'
  /api/nsk/v1/resources/Areas/{areaCode}/zones:
    get:
      tags:
      - resources
      summary: Retrieves the collection of zones resources.
      description: 'GraphQL endpoint: resourceZonesv2'
      operationId: nsk_v1_resources_Areas_areaCode_zones_get
      parameters:
      - name: areaCode
        in: path
        required: true
        description: The unique code of the area to which the zones belong.
        schema:
          type: string
        x-position: 1
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 2
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 3
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 6
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfZonev2'
  /api/nsk/v1/resources/Areas/{areaCode}/zones/{zoneCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific zone resource.
      description: 'GraphQL endpoint: resourceZonev2'
      operationId: nsk_v1_resources_Areas_areaCode_zones_zoneCode_get
      parameters:
      - name: areaCode
        in: path
        required: true
        description: The unique code of the area to which the zone belongs.
        schema:
          type: string
        x-position: 1
      - name: zoneCode
        in: path
        required: true
        description: The unique zone code.
        schema:
          type: string
        x-position: 2
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfZonev2'
  /api/nsk/v1/resources/BaggageTypes:
    get:
      tags:
      - resources
      summary: Retrieves the collection of baggage type resources.
      description: 'GraphQL endpoint: resourceBaggageTypes'
      operationId: nsk_v1_resources_BaggageTypes_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBaggageType'
              examples:
                Retrieve baggage types response:
                  description: Example response for successfully retrieving the configured baggage types in the system.
                  value:
                    data:
                    - baggageTypeCode: 1BAG
                      bagWeightType: 2
                      freeBag: false
                      inActive: false
                      name: Booking Baggage Allowance
                      weightReducedBy: 5
                      includeInBaggageCount: false
                    - baggageTypeCode: BSMX
                      bagWeightType: 2
                      freeBag: false
                      inActive: false
                      name: BSM ExceptionTesting
                      weightReducedBy: 0
                      includeInBaggageCount: false
                    - baggageTypeCode: BSM3
                      bagWeightType: 1
                      freeBag: false
                      inActive: false
                      name: BSM Exception Testing
                      weightReducedBy: 0
                      includeInBaggageCount: false
                    - baggageTypeCode: MUSIC
                      bagWeightType: 1
                      freeBag: false
                      inActive: false
                      name: Musical Equipment
                      weightReducedBy: 5
                      includeInBaggageCount: false
                    - baggageTypeCode: BSME
                      bagWeightType: 0
                      freeBag: true
                      inActive: false
                      name: OPS Baggage - DO NOT EDIT
                      weightReducedBy: 0
                      includeInBaggageCount: false
                    - baggageTypeCode: MEDIC
                      bagWeightType: 0
                      freeBag: true
                      inActive: false
                      name: Medical Equipment
                      weightReducedBy: 0
                      includeInBaggageCount: false
  /api/nsk/v1/resources/BaggageTypes/{baggageTypeCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific baggage type resource.
      description: 'GraphQL endpoint: resourceBaggageType'
      operationId: nsk_v1_resources_BaggageTypes_baggageTypeCode_get
      parameters:
      - name: baggageTypeCode
        in: path
        required: true
        description: The unique baggage type code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBaggageType'
  /api/nsk/v1/resources/bundles:
    get:
      tags:
      - resources
      summary: Retrieves the collection of bundle configuration resources.
      description: 'GraphQL endpoint: bundles'
      operationId: nsk_v1_resources_bundles_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBundleConfiguration'
              examples:
                Retrieve the collection of bundle configuration resources:
                  description: Example response for successfully retrieving the collection of bundle configuration resources.
                  value:
                    data:
                    - bundleCode: CC02
                      feeCode: CCBF
                      bookingQueueCode: CALLC
                      programCode: CC
                      programLevel: Plus
                      name: Call Center Application Plus
                      description: '[All legs - Fixed pricing]

                        10kg checked-in baggage

                        The healthy choice snack > Hot Meal Combo'
                      hasPrice: true
                      rank: 2
                      inActive: false
                      allSsrsRequired: false
                      serviceBundleType: 1
                    - bundleCode: BSC
                      feeCode: null
                      bookingQueueCode: NFSVCF
                      programCode: null
                      programLevel: null
                      name: Basics Included Bundle
                      description: Basic Included Bundle - SSR
                      hasPrice: false
                      rank: 1
                      inActive: false
                      allSsrsRequired: false
                      serviceBundleType: 0
                    - bundleCode: CC14
                      feeCode: CCBF
                      bookingQueueCode: null
                      programCode: null
                      programLevel: null
                      name: Call Center Application Business
                      description: '[No Upgrades / All legs]

                        30kg of baggage

                        Hot Meal Combo

                        *WIFI'
                      hasPrice: true
                      rank: 4
                      inActive: true
                      allSsrsRequired: true
                      serviceBundleType: 1
  /api/nsk/v1/resources/bundles/{bundleCode}:
    get:
      tags:
      - resources
      summary: Retrieves a specific bundle configuration based on the bundle code.
      description: 'GraphQL endpoint: bundle'
      operationId: nsk_v1_resources_bundles_bundleCode_get
      parameters:
      - name: bundleCode
        in: path
        required: true
        description: The bundle code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBundleConfiguration'
              examples:
                Get Bundle By Bundle Code Response:
                  description: Example response for successfully retrieving a bundle by bundle code
                  value:
                    data:
                      bundleCode: CC02
                      feeCode: CCBF
                      bookingQueueCode: CALLC
                      programCode: CC
                      programLevel: Plus
                      name: Call Center Application Plus
                      description: '[All legs - Fixed pricing]

                        10kg checked-in baggage

                        The healthy choice snack > Hot Meal Combo'
                      hasPrice: true
                      rank: 2
                      inActive: false
                      allSsrsRequired: false
                      serviceBundleType: 1
  /api/nsk/v1/resources/bundles/applications:
    get:
      tags:
      - resources
      summary: Retrieves the collection of bundle application resources.
      description: 'See api/nsk/v1/bundles/application/{bundleApplicationKey}/details to retrieve additional

        bundle application details.  The application details consist of three lists: carrier codes,

        product classes, and classes of service.


        GraphQL endpoint: bundleApplications'
      operationId: nsk_v1_resources_bundles_applications_get
      parameters:
      - name: BundleRuleCode
        in: query
        description: "The bundle rule code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 0
        x-position: 1
      - name: CultureCode
        in: query
        description: "The specific culture code.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBundleApplication'
  /api/nsk/v1/resources/bundles/rules:
    get:
      tags:
      - resources
      summary: Retrieves the collection of bundle rule resources.
      description: 'See api/nsk/v1/bundles/rule/{bundleRuleCode}/details to retrieve a list of bundle

        applications associated with a specific bundle rule.

        Bundle rules are used to control where and how bundle applications are used.


        GraphQL endpoint: bundleRules'
      operationId: nsk_v1_resources_bundles_rules_get
      parameters:
      - name: eTag
        in: query
        description: The unique etag ID.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBundleRule'
  /api/nsk/v1/resources/bundles/sets:
    get:
      tags:
      - resources
      summary: Retrieves the collection of bundle set resources.
      description: 'See api/nsk/v1/bundles/set/{bundleSetCode}/details to retrieve a list of bundle

        codes associated with a specific bundle set.


        GraphQL endpoint: bundleSets'
      operationId: nsk_v1_resources_bundles_sets_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBundleSet'
  /api/nsk/v1/resources/bundles/ssrs:
    get:
      tags:
      - resources
      summary: 'Retrieves the collection of bundle ssr configurations associated with

        the bundle code.'
      description: 'GraphQL endpoint: bundleSsrs'
      operationId: nsk_v1_resources_bundles_ssrs_get
      parameters:
      - name: BundleCode
        in: query
        description: "The bundle code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 0
        x-position: 1
      - name: CultureCode
        in: query
        description: "The specific culture code.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBundleSsrConfiguration'
  /api/nsk/v1/resources/carriers:
    get:
      tags:
      - resources
      summary: Retrieves the collection of carrier resources.
      description: 'GraphQL endpoint: resourceCarriers'
      operationId: nsk_v1_resources_carriers_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfCarrier'
  /api/nsk/v1/resources/carriers/{carrierCode}:
    get:
      tags:
      - resources
      summary: Retrieves a single carrier.
      description: 'GraphQL endpoint: resourceCarrierv2'
      operationId: nsk_v1_resources_carriers_carrierCode_get
      parameters:
      - name: carrierCode
        in: path
        required: true
        description: The unique carrier code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCarrier'
  /api/nsk/v1/resources/Cities:
    get:
      tags:
      - resources
      summary: Retrieves the collection of city resources.
      description: 'GraphQL endpoint: resourceCities'
      operationId: nsk_v1_resources_Cities_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfCity'
  /api/nsk/v1/resources/Cities/{cityCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific city resource.
      description: 'GraphQL endpoint: resourceCity'
      operationId: nsk_v1_resources_Cities_cityCode_get
      parameters:
      - name: cityCode
        in: path
        required: true
        description: The unique city code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCity'
  /api/nsk/v1/resources/ClassOfServices:
    get:
      tags:
      - resources
      summary: Retrieves the collection of class of service resources.
      description: 'GraphQL endpoint: resourceClassOfServices'
      operationId: nsk_v1_resources_ClassOfServices_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfClassOfService'
  /api/nsk/v1/resources/ClassOfServices/{classOfServiceCode}:
    get:
      tags:
      - resources
      summary: Retrieves the resource.
      description: 'GraphQL endpoint: resourceClassOfService'
      operationId: nsk_v1_resources_ClassOfServices_classOfServiceCode_get
      parameters:
      - name: classOfServiceCode
        in: path
        required: true
        description: The unique class of service code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfClassOfService'
  /api/nsk/v1/resources/CommissionRates:
    get:
      tags:
      - resources
      summary: Retrieves the collection of commission rate resources.
      description: 'GraphQL endpoint: resourceCommissionRates'
      operationId: nsk_v1_resources_CommissionRates_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfCommissionRate'
  /api/nsk/v1/resources/CommissionRates/{commissionRateCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific commission rate resource.
      description: 'GraphQL endpoint: resourceCommissionRate'
      operationId: nsk_v1_resources_CommissionRates_commissionRateCode_get
      parameters:
      - name: commissionRateCode
        in: path
        required: true
        description: The unique commission rate code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCommissionRate'
  /api/nsk/v1/resources/ContactTypes:
    get:
      tags:
      - resources
      summary: Retrieves the collection of contact type resources.
      description: 'GraphQL endpoint: resourceContactTypes'
      operationId: nsk_v1_resources_ContactTypes_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfContactType'
  /api/nsk/v1/resources/ContactTypes/{contactTypeCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific contact type resource.
      description: 'GraphQL endpoint: resourceContactType'
      operationId: nsk_v1_resources_ContactTypes_contactTypeCode_get
      parameters:
      - name: contactTypeCode
        in: path
        required: true
        description: The unique contact type code. Please note that this should be a char and not a string.
        schema:
          type: string
          maxLength: 1
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfContactType'
  /api/nsk/v1/resources/contents:
    get:
      tags:
      - resources
      summary: Searches the contents based on the search criteria provided.
      description: Searches the contents based on the search criteria provided.
      operationId: nsk_v1_resources_contents_get
      parameters:
      - name: Name
        in: query
        description: "Name of the content.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: Type
        in: query
        description: "Specific content type.\n             \nEnumeration values: 0 = GeneralReference, 1 = News, 2 = ConsoleHelp, 3 = FareRuleReference, 4 = ReviewWithCustomer, 8 = Image, 9 = PromotionReference, 10 = SubscriptionReference"
        schema:
          $ref: '#/components/schemas/ContentType'
        x-position: 2
      - name: ContainerId
        in: query
        description: "Unique id of the container.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 3
      - name: PageSize
        in: query
        description: "The default page size.\n            "
        schema:
          type:
          - integer
          - 'null'
          maximum: 5000.0
          minimum: 10.0
        x-position: 4
      - name: LastContentId
        in: query
        description: "Used to specify the last item of the page of the last set of records retrieved\nwhen paging was performed. This is optional.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int64
          maximum: 9.223372036854776e+18
          minimum: 0.0
        x-position: 5
      responses:
        '200':
          description: Search content succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIEnumerableOfResourceContentResult'
  /api/nsk/v1/resources/contents/{contentId}:
    get:
      tags:
      - resources
      summary: Retrieves a resource setting and its related information.
      description: 'This is a post to easily allow special path characters.

        See /resources/settings/data to avoid manually parsing the data.'
      operationId: nsk_v1_resources_contents_contentId_get
      parameters:
      - name: contentId
        in: path
        required: true
        description: The content id.
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: convertRtfToHtml
        in: query
        description: The bool to determine whether or not to convert RTF to HTML data.
        schema:
          type:
          - boolean
          - 'null'
        x-position: 2
      - name: eTag
        in: query
        description: ETag for caching.
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfResourceContentItem'
    delete:
      tags:
      - resources
      summary: Deletes a content item.
      description: 'This endpoint currently only supports deleting news content items.

        Deletion of other content types will be supported in the future.


        GraphQL endpoint: resourceContentDeletev2'
      operationId: nsk_v1_resources_contents_contentId_delete
      parameters:
      - name: contentId
        in: path
        required: true
        description: The content identifier.
        schema:
          type: integer
          format: int64
        x-position: 1
      responses:
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Deleting content is not allowed:
                  description: Example when deleting content is not allowed.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:Content:DeleteContentNotAllowed
                      message: nsk:Content:DeleteContentNotAllowed
                      type: Validation
                      details: null
                      rawMessage: Deleting content is not allowed.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Deleting news is not allowed:
                  description: Example when deleting news is not allowed.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:Content:DeleteNewsNotAllowed
                      message: nsk:Content:DeleteNewsNotAllowed
                      type: Validation
                      details: null
                      rawMessage: Deleting news is not allowed.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Content does not exist:
                  description: Example when the content does not exist.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:Content:ContentDoesNotExist
                      message: nsk:Content:ContentDoesNotExist
                      type: Validation
                      details: null
                      rawMessage: The content does not exist.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Deleting non-news content:
                  description: Example when the content is not a news. Non-news content deletion is currently not supported.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: nsk:Content:DeleteNonNewsContentNotSupported
                      message: nsk:Content:DeleteNonNewsContentNotSupported
                      type: Validation
                      details: null
                      rawMessage: Deleting non-news content is currently not supported.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Content ID is null.:
                  description: Example when the content ID is null. It can be set to null by setting it to a URL encoded space value `%20` or to a value that cannot be converted to type `long`.
                  value:
                    errors:
                    - id: ebaf3f43-1fd2-7c9b-5f3c-1d0778e52701
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Content deleted successfully:
                  description: Example when the content deleted successfully.
                  value:
                    data: null
  /api/nsk/v1/resources/contents/{contentId}/data:
    get:
      tags:
      - resources
      summary: Retrieves resource setting data based on the accept content type.
      description: 'This is a post to easily allow special path characters.

        If the data returned is not in HTML format and convertRtfToHtml is set to true,

        the content requested was of an incompatible data type.'
      operationId: nsk_v1_resources_contents_contentId_data_get
      parameters:
      - name: contentId
        in: path
        required: true
        description: The content id.
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: convertRtfToHtml
        in: query
        description: The bool to determine whether or not to convert RTF to HTML data.
        schema:
          type:
          - boolean
          - 'null'
        x-position: 2
      - name: eTag
        in: query
        description: ETag for caching.
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                type: string
                format: byte
  /api/nsk/v2/resources/countries:
    get:
      tags:
      - resources
      summary: Retrieves the collection of country resources.
      description: 'GraphQL endpoint: resourceCountriesv2'
      operationId: nsk_v2_resources_countries_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfCountryv2'
  /api/nsk/v2/resources/countries/{countryCode}:
    get:
      tags:
      - resources
      summary: Retrieves a specific country resource.
      description: 'GraphQL endpoint: resourceCountryv2'
      operationId: nsk_v2_resources_countries_countryCode_get
      parameters:
      - name: countryCode
        in: path
        required: true
        description: The unique country code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCountryv2'
  /api/nsk/v1/resources/cultures:
    get:
      tags:
      - resources
      summary: Retrieves the resources.
      description: 'GraphQL endpoint: resourceCultures'
      operationId: nsk_v1_resources_cultures_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfCulture'
  /api/nsk/v1/resources/cultures/{cultureCode}:
    get:
      tags:
      - resources
      summary: Retrieves the resource.
      description: 'GraphQL endpoint: resourceCulture'
      operationId: nsk_v1_resources_cultures_cultureCode_get
      parameters:
      - name: cultureCode
        in: path
        required: true
        description: The unique culture code.
        schema:
          type: string
        x-position: 1
      - name: forCultureCode
        in: query
        description: The for culture.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCulture'
  /api/nsk/v2/resources/currencies:
    get:
      tags:
      - resources
      summary: Retrieves the collection of currency resources.
      description: 'GraphQL endpoint: resourceCurrenciesv2'
      operationId: nsk_v2_resources_currencies_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfCurrencyv2'
  /api/nsk/v2/resources/currencies/{currencyCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific currency resource.
      description: 'GraphQL endpoint: resourceCurrencyv2'
      operationId: nsk_v2_resources_currencies_currencyCode_get
      parameters:
      - name: currencyCode
        in: path
        required: true
        description: The unique currency code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCurrencyv2'
  /api/nsk/v2/resources/customerPrograms:
    get:
      tags:
      - resources
      summary: Retrieves the collection of customer program resources.
      description: 'GraphQL endpoint: resourceCustomerProgramsv2'
      operationId: nsk_v2_resources_customerPrograms_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfCustomerProgramv2'
              examples:
                Retrieve Customer Programs v2 Response:
                  description: Example response for successfully retrieving the customer programs v2 resources
                  value:
                    data:
                      programCode: ABC
                      name: ABC Customer Program
                      programType: 1
                      inActive: false
                      customerProgramLevels:
                      - programCode: ABC
                        programLevelCode: LV1
                        name: ABC Level 1
                        shortName: ABC Level 1
                        displayCode: '1'
                        rank: 1
                        inActive: false
                        customerProgramSettings:
                        - programCode: NV
                          programLevel: NV1
                          settingCode: BoardingZone
                          sequenceNumber: 1
                          settingValue: '1'
                      checkDigitType: 1
  /api/nsk/v1/resources/CustomerPrograms:
    get:
      tags:
      - resources
      summary: Retrieves the collection of customer program resources.
      description: 'GraphQL endpoint: resourceCustomerPrograms'
      operationId: nsk_v1_resources_CustomerPrograms_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfCustomerProgram'
      deprecated: true
  /api/nsk/v2/resources/customerPrograms/{programCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific customer program resource.
      description: 'GraphQL endpoint: resourceCustomerProgramv2'
      operationId: nsk_v2_resources_customerPrograms_programCode_get
      parameters:
      - name: programCode
        in: path
        required: true
        description: The unique program code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCustomerProgramv2'
              examples:
                Retrieve Customer Programs v2 Response:
                  description: Example response for successfully retrieving the customer programs v2 resources
                  value:
                    data:
                      programCode: ABC
                      name: ABC Customer Program
                      programType: 1
                      inActive: false
                      customerProgramLevels:
                      - programCode: ABC
                        programLevelCode: LV1
                        name: ABC Level 1
                        shortName: ABC Level 1
                        displayCode: '1'
                        rank: 1
                        inActive: false
                        customerProgramSettings:
                        - programCode: NV
                          programLevel: NV1
                          settingCode: BoardingZone
                          sequenceNumber: 1
                          settingValue: '1'
                      checkDigitType: 1
  /api/nsk/v1/resources/CustomerPrograms/{programCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific customer program resource.
      description: 'GraphQL endpoint: resourceCustomerProgram'
      operationId: nsk_v1_resources_CustomerPrograms_programCode_get
      parameters:
      - name: programCode
        in: path
        required: true
        description: The unique program code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCustomerProgram'
      deprecated: true
  /api/nsk/v1/resources/CustomerPrograms/{programCode}/levels/{programLevelCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific program level.
      description: Retrieves the specific program level.
      operationId: nsk_v1_resources_CustomerPrograms_programCode_levels_programLevelCode_get
      parameters:
      - name: programCode
        in: path
        required: true
        description: The unique program code.
        schema:
          type: string
        x-position: 1
      - name: programLevelCode
        in: path
        required: true
        description: The unique program level code.
        schema:
          type: string
        x-position: 2
      - name: cultureCode
        in: query
        description: The culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCustomerProgramLevel'
  /api/nsk/v1/resources/Delays:
    get:
      tags:
      - resources
      summary: Retrieves the collection of delay resources.
      description: 'GraphQL endpoint: resourceDelays'
      operationId: nsk_v1_resources_Delays_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfDelay'
  /api/nsk/v1/resources/Delays/{delayCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific delay resource.
      description: 'GraphQL endpoint: resourceDelay'
      operationId: nsk_v1_resources_Delays_delayCode_get
      parameters:
      - name: delayCode
        in: path
        required: true
        description: The unique delay code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfDelay'
  /api/nsk/v1/resources/Departments:
    get:
      tags:
      - resources
      summary: Retrieves the collection of department resources.
      description: 'GraphQL endpoint: resourceDepartments'
      operationId: nsk_v1_resources_Departments_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfDepartment'
  /api/nsk/v1/resources/Departments/{departmentCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific department resource.
      description: 'GraphQL endpoint: resourceDepartment'
      operationId: nsk_v1_resources_Departments_departmentCode_get
      parameters:
      - name: departmentCode
        in: path
        required: true
        description: The unique department code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfDepartment'
  /api/nsk/v1/resources/distributionOptions:
    get:
      tags:
      - resources
      summary: Retrieves the localizations.
      description: 'GraphQL endpoint: localizationDistributionOptions'
      operationId: nsk_v1_resources_distributionOptions_get
      parameters:
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 1
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 3
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfEnumResource'
  /api/nsk/v1/resources/DocumentTypes:
    get:
      tags:
      - resources
      summary: Retrieves the collection of document type resources.
      description: 'GraphQL endpoint: resourceDocumentTypes'
      operationId: nsk_v1_resources_DocumentTypes_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 4
      - name: ItemCount
        in: query
        description: "The item count value for this request.\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        x-position: 5
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfDocumentType'
  /api/nsk/v1/resources/DocumentTypes/{documentTypeCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific document type resource.
      description: 'GraphQL endpoint: resourceDocumentType'
      operationId: nsk_v1_resources_DocumentTypes_documentTypeCode_get
      parameters:
      - name: documentTypeCode
        in: path
        required: true
        description: The unique document type code.
        schema:
          type: string
        x-position: 1
      - name: cultureCode
        in: query
        description: The specific culture code.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfDocumentType'
  /api/nsk/v1/resources/Domains:
    get:
      tags:
      - resources
      summary: Retrieves the collection of domain resources.
      description: 'GraphQL endpoint: resourceDomains'
      operationId: nsk_v1_resources_Domains_get
      parameters:
      - name: eTag
        in: query
        description: The unique etag ID.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Domains not found:
                  description: Response when there are no existing domains.
                  value:
                    data: null
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Matching ETag:
                  description: Response when an ETag is provided and the cached data still matches.
                  value: null
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfDomain'
              examples:
                Retrieve domains response:
                  description: Example response for successfully retrieving the configured domains in the system.
                  value:
                    data:
                    - domainCode: DEF
                      name: Default Domain
                      passwordNeverExpires: true
                      minimumPasswordAge: 15
                      maximumPasswordAge: 90
                      maximumFaliedLogons: 3
                      uniquePasswordCount: null
                      passwordPolicy:
                        policy: ^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*[\.,~])(?=.*\W).{8,16}$
                        description: Password must be at least 8 characters, no more than 16 characters, must include at least one upper case letter, one lower case letter, one numeric digit, and one non-alphanumeric. The password cannot contain a period(.) comma(,) or tilde(~).
                      usernamePolicy:
                        policy: ^(?!.*[\.,~]).{2,64}$
                        description: Username must be at least 2 characters, no more than 64 characters. The username cannot contain a period(.) comma(,) or tilde(~).
                      allowed: true
                      useNewResetPasswordFlow: true
                      challengeCodeContactMethod: 1
                      maximumFailedPasswordResets: 6
                      challengeCodeExpirationMinutes: 15
                      failedPasswordResetMinutes: 30
                    - domainCode: EXT
                      name: External Domain
                      passwordNeverExpires: true
                      minimumPasswordAge: 15
                      maximumPasswordAge: 90
                      maximumFaliedLogons: 3
                      uniquePasswordCount: 5
                      passwordPolicy:
                        policy: ^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?!.*[\\.,~])(?=.*\\W).{8,16}$
                        description: Password must be at least 8 characters, no more than 16 characters, must include at least one upper case letter, one lower case letter, one numeric digit, and one non-alphanumeric. The password cannot contain a period(.) comma(,) or tilde(~).
                      usernamePolicy:
                        policy: ^.*$
                        description: Username must be at least 2 characters, no more than 64 characters. The username cannot contain a period(.) comma(,) or tilde(~).
                      allowed: true
                      useNewResetPasswordFlow: false
                      challengeCodeContactMethod: 0
                      maximumFailedPasswordResets: 6
                      challengeCodeExpirationMinutes: 15
                      failedPasswordResetMinutes: 30
  /api/nsk/v1/resources/Domains/{domainCode}:
    get:
      tags:
      - resources
      summary: Retrieves the specific domain resource.
      description: 'GraphQL endpoint: resourceDomain'
      operationId: nsk_v1_resources_Domains_domainCode_get
      parameters:
      - name: domainCode
        in: path
        required: true
        description: The unique domain code.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Domain not found:
                  description: Response when the specified domain does not exist.
                  value:
                    data: null
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfDomain'
              examples:
                Retrieve domain response:
                  description: Example response for successfully retrieving a specified configured domain in the system.
                  value:
                    data:
                      domainCode: DEF
                      name: Default Domain
                      passwordNeverExpires: true
                      minimumPasswordAge: 15
                      maximumPasswordAge: 90
                      maximumFaliedLogons: 3
                      uniquePasswordCount: null
                      passwordPolicy:
                        policy: ^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*[\.,~])(?=.*\W).{8,16}$
                        description: Password must be at least 8 characters, no more than 16 characters, must include at least one upper case letter, one lower case letter, one numeric digit, and one non-alphanumeric. The password cannot contain a period(.) comma(,) or tilde(~).
                      usernamePolicy:
                        policy: ^(?!.*[\.,~]).{2,64}$
                        description: Username must be at least 2 characters, no more than 64 characters. The username cannot contain a period(.) comma(,) or tilde(~).
                      allowed: true
                      useNewResetPasswordFlow: true
                      challengeCodeContactMethod: 1
                      maximumFailedPasswordResets: 6
                      challengeCodeExpirationMinutes: 15
                      failedPasswordResetMinutes: 30
  /api/nsk/v1/resources/EmailTypes:
    get:
      tags:
      - resources
      summary: Retrieves the collection of email type resources.
      description: 'GraphQL endpoint: resourceEmailTypes'
      operationId: nsk_v1_resources_EmailTypes_get
      parameters:
      - name: ActiveOnly
        in: query
        description: "Flag indicating to return just active only or all.\n            "
        schema:
          type: boolean
        x-position: 1
      - name: CultureCode
        in: query
        description: "The desired culture code to be returned.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 17
          minLength: 0
        x-position: 2
      - name: ETag
        in: query
        description: "The cache token for this request. Data will not be returned if etag still matches.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartIndex
        in: query
        description: "The start index value for this request.\n            "
[...]
