openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Booking/journeys API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: booking/journeys
paths:
  /api/nsk/v1/booking/journeys:
    get:
      tags:
      - booking/journeys
      summary: Gets the collection of journeys on the booking in state.
      description: 'GraphQL endpoint: journeys'
      operationId: nsk_v1_booking_journeys_get
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfJourney'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - booking/journeys
      summary: Cancels all the journeys on the current booking in state.
      description: 'This endpoint also cancels all booking components/add-ons.

        To only cancel journeys, use DELETE /api/nsk/v1/booking/journeys/{journeyKey}.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: journeyDeleteAll'
      operationId: nsk_v1_booking_journeys_delete
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}:
    get:
      tags:
      - booking/journeys
      summary: Gets a single journey by the key.
      description: 'GraphQL endpoint: journey'
      operationId: nsk_v1_booking_journeys_journeyKey_get
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key to be retrieved.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfJourney'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - booking/journeys
      summary: Cancels the specific journey from the booking in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: journeyDelete'
      operationId: nsk_v1_booking_journeys_journeyKey_delete
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key to be canceled.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The cancel journey request options.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelJourneyRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '403':
          description: Role permissions are not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}/bundles:
    delete:
      tags:
      - booking/journeys
      summary: Removes the add-on service bundles of the requested passengers in the given journey.
      description: 'This endpoint does not support removal of included bundles.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: bundleDelete'
      operationId: nsk_v1_booking_journeys_journeyKey_bundles_delete
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: passengersKeys
        description: The passengers to remove bundles from.
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/journeys/{journeyKey}/bundles:
    post:
      tags:
      - booking/journeys
      summary: Sells a service bundle for one or more passengers on a journey.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: bundleSellv2'
      operationId: nsk_v2_booking_journeys_journeyKey_bundles_post
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The bundle sell request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleSellRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Already Booked SSR or Bundle:
                  description: Example OSI Message if passenger already booked an SSR or bundle
                  value:
                    messages:
                    - rawValue: '[HMC] cannot be sold because passenger 0 already booked [THCS] on NV3075  YTZ-LAX.'
                      code: CannotSellBundleSSR
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: CannotSellBundleSSR
                      value: CannotSellBundleSSR
                      status: 0
                      details:
                        cannotSellBundleSSRMessage: '[HMC] cannot be sold because passenger 0 already booked [THCS] on NV3075  YTZ-LAX.'
                    data: null
                With Cannot Find Interchangeable Bundle SSR:
                  description: Example OSI Message if cannot find interchangeable bundle SSR in state
                  value:
                    messages:
                    - rawValue: Cannot find interchangeable bundle SSR for [HMC] in state.
                      code: CannotSellBundleSSR
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: CannotSellBundleSSR
                      value: CannotSellBundleSSR
                      status: 0
                      details:
                        cannotSellBundleSSRMessage: Cannot find interchangeable bundle SSR for [HMC] in state.
                    data: null
                With SSR Not Found in Service Bundle:
                  description: Example OSI Message if an SSR is not found in service bundle
                  value:
                    messages:
                    - rawValue: SSR [HMC] not found in service bundle.
                      code: CannotSellBundleSSR
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: CannotSellBundleSSR
                      value: CannotSellBundleSSR
                      status: 0
                      details:
                        cannotSellBundleSSRMessage: SSR [HMC] not found in service bundle.
                    data: null
                With Duplicate SSR or Bundle:
                  description: Example OSI Message if duplicate SSR or Bundle
                  value:
                    messages:
                    - rawValue: Duplicate SSR [THCS] in SAN-YTZ is not allowed for service bundle.
                      code: CannotSellBundleSSR
                      debugMode: The API is currently running in debug mode. In production the 'rawValue' node will not be returned. These are for troubleshooting development issues only.
                      type: CannotSellBundleSSR
                      value: CannotSellBundleSSR
                      status: 0
                      details:
                        cannotSellBundleSSRMessage: Duplicate SSR [THCS] in SAN-YTZ is not allowed for service bundle.
                    data: null
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}/fees/penalty:
    delete:
      tags:
      - booking/journeys
      summary: Waives the penalty fee of the specified journey.
      description: 'Waiving the penalty fee is configurable. See the "Fee and Tax Settings", "Single Penalty Fee" option. If this is

        checked and configured this endpoint will waive the penalty fees from all journeys in the booking in state.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: journeyPenaltyFeeDelete'
      operationId: nsk_v1_booking_journeys_journeyKey_fees_penalty_delete
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}/passengers/{passengerKey}/address/requirements:
    get:
      tags:
      - booking/journeys
      summary: 'Gets the passenger or associated infant''s destination address requirements for a specific journey for the booking

        in-state.'
      description: 'This endpoint will determine if the passenger or the associated infant requires a destination address for the

        given journey.

        This does not determine if the passenger already has a qualifying address, only if the destination address

        is required.


        GraphQL endpoint: destinationAddressRequirementsByKey'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_address_requirements_get
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key to check requirements for.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The passenger key to check requirements for.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBoolean'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}/passengers/{passengerKey}/baggage:
    get:
      tags:
      - booking/journeys
      summary: Gets all baggage for a passenger on a specific journey.
      description: 'GraphQL endpoint: passengerBagJourneys'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_baggage_get
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key for the journey to retrieve from.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The passenger key for the passenger to retrieve from.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPassengerBag'
        '404':
          description: Baggage was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    post:
      tags:
      - booking/journeys
      summary: Adds baggage to the booking.
      description: 'This call must be followed by a commit to see the bags added in state.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: passengerBagAdd'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_baggage_post
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The unique identifier for the journey to add to.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The specific passenger key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: A request to add bags to the given passenger.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerBagRequest'
        required: true
        x-position: 3
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}/passengers/{passengerKey}/baggage/{baggageKey}:
    get:
      tags:
      - booking/journeys
      summary: Gets a single bag from a passenger on a journey.
      description: 'GraphQL endpoint: passengerBagJourney'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_baggage_baggageKey_get
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key for the journey to retrieve from.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The passenger key for the passenger to retrieve from.
        schema:
          type: string
        x-position: 2
      - name: baggageKey
        in: path
        required: true
        description: The bag key for the bag to retrieve.
        schema:
          type: string
        x-position: 3
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerBag'
        '404':
          description: Bag was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - booking/journeys
      summary: Checks-in the baggage for a passenger on the booking in state.
      description: 'This is to be called after a stateful adding of baggage to a booking and a commit must follow

        the completion of this in order to see the bag checked in.

        Also, this call properly syncs with baggage allowances and usages once completed.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: passengerBagCheckIn'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_baggage_baggageKey_put
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 2
      - name: baggageKey
        in: path
        required: true
        description: The baggage key.
        schema:
          type: string
        x-position: 3
      requestBody:
        x-name: request
        description: The baggage check-in request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerBagCheckInRequest'
        required: true
        x-position: 4
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      deprecated: true
    delete:
      tags:
      - booking/journeys
      summary: Removes baggage from the booking.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerBagDelete'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_baggage_baggageKey_delete
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The unique identifier for the journey to remove from.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The specific passenger key.
        schema:
          type: string
        x-position: 2
      - name: baggageKey
        in: path
        required: true
        description: Unique identifier for the bag to remove.
        schema:
          type: string
        x-position: 3
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v2/booking/journeys/{journeyKey}/passengers/{passengerKey}/baggage/{baggageKey}:
    put:
      tags:
      - booking/journeys
      summary: Updates the baggage for a passenger on the booking in state.
      description: 'This is to be called after a stateful adding of baggage to a booking and a commit must follow

        the completion of this in order to see the bag checked in.

        This call does NOT sync with baggage allowances and usages.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: passengerBagSet'
      operationId: nsk_v2_booking_journeys_journeyKey_passengers_passengerKey_baggage_baggageKey_put
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 2
      - name: baggageKey
        in: path
        required: true
        description: The baggage key.
        schema:
          type: string
        x-position: 3
      requestBody:
        x-name: request
        description: The baggage update request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerBagUpdateRequest'
        required: true
        x-position: 4
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Baggage Key:
                  description: Example Error if baggage key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        baggageKey: MDAyODAzMDg0MQ--
                      rawMessage: The identifier 'BaggageKey' with value 'MDAyODAzMDg0MQ--' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Update Failed Exception:
                  description: Example error if the update failed.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:UpdateFailed
                      message: nsk:Exceptions:UpdateFailed
                      type: Validation
                      details: null
                      rawMessage: Attempted update of object PassengerBagUpdateRequest has failed. Please verify this object exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/booking/journeys/{journeyKey}/passengers/{passengerKey}/baggage/{baggageKey}/checkin:
    put:
      tags:
      - booking/journeys
      summary: Checks in the baggage for a passenger on the booking in state.
      description: 'This is to be called after a stateful adding of baggage to a booking and a commit must follow

        the completion of this in order to see the bag checked in.

        Also, this call properly syncs with baggage allowances and usages once completed.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: passengerBagCheckIn'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_baggage_baggageKey_checkin_put
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 2
      - name: baggageKey
        in: path
        required: true
        description: The baggage key.
        schema:
          type: string
        x-position: 3
      requestBody:
        x-name: request
        description: The baggage check-in request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerBagCheckInRequest'
        required: true
        x-position: 4
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Baggage Key:
                  description: Example Error if baggage key is invalid.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: nsk:Exceptions:InvalidKey
                      type: Validation
                      details:
                        baggageKey: MDAyODAzMDg0MQ--
                      rawMessage: The identifier 'BaggageKey' with value 'MDAyODAzMDg0MQ--' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Baggage Checkin Failed:
                  description: If baggage check-in failed.
                  value:
                    errors:
                    - id: null
                      code: nsk:Baggage:BaggageCheckinFailed
                      message: nsk:Baggage:BaggageCheckinFailed
                      type: Error
                      details: null
                      rawMessage: The baggage check-in for the booking in state failed.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
  /api/nsk/v1/booking/journeys/{journeyKey}/passengers/{passengerKey}/baggage/group:
    put:
      tags:
      - booking/journeys
      summary: Moves passenger to a different baggage group.
      description: 'Passengers in the same baggage group may share baggage allowances,

        enabling baggage allowance pooling.

        `PassengerBagGroupRequest.BaggageGroupNumber` only accepts bag group numbers

        from existing passenger bag group numbers. Passenger bag group number is

        exposed under passenger segment. If set to null, the passenger will be moved

        to a new bag group.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoints: passengerBagGroupSet, passengerBagGroupSetBatch'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_baggage_group_put
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The passenger bag group request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerBagGroupRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}/passengers/{passengerKey}/baggage/manual:
    post:
      tags:
      - booking/journeys
      summary: Adds manually tagged baggage to the booking.
      description: 'This call must be followed by a commit to see the bags added in state.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: passengerManualBagAdd'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_baggage_manual_post
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The unique identifier for the journey to add to.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The specific passenger key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: A request to add manually tagged bags to the given passenger.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerManualBagRequest'
        required: true
        x-position: 3
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}/passengers/{passengerKey}/fees/amount:
    delete:
      tags:
      - booking/journeys
      summary: 'Waives fees for a specific journey and passenger, based upon the given fee type.

        This is an agent-only endpoint.'
      description: 'NOTE: This endpoint takes a singular property for the request body and as such the request will need to be

        formatted differently than what it typically looks like. For more information, please see

        https://navitaire-developer-digital-api.azurewebsites.net/articles/Miscellaneous/UniqueInputSingleRequestBodiesREST.

        and the Swagger request examples.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: passengerFeesAmountDelete'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_fees_amount_delete
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The passenger key.
        schema:
          type: string
        x-position: 1
      - name: journeyKey
        in: path
        required: true
        description: The journey key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: waiveFeeType
        description: The waive fee type.
        content:
          application/json:
            schema:
              type: string
            examples:
              Waiving a fee of type Spoilage Fee JSON request body, 1:
                description: Example request for when wanting to have a waive fee type of `SpoilageFee`.
                value: 2
              Waiving a fee of type Spoilage Fee JSON request body, 2:
                description: Example request for when wanting to have a waive fee type of `SpoilageFee`.
                value: SpoilageFee
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}/passengers/{passengerKey}/infant:
    post:
      tags:
      - booking/journeys
      summary: Creates an infant on a passenger in the specified journey.
      description: 'If the booking in state contains a passive segment, an infant will not be

        created on the passive segment for the passenger.

        If one of the segments in the journey already has an infant, the infant details from

        the request will be ignored and the infant details from the existing infant will be retained.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: passengerInfantJourneyAdd'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_infant_post
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The unique journey key.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The new infant.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerInfantCreateRequest'
        required: true
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - booking/journeys
      summary: Deletes an infant from a passenger in the specified journey.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: passengerInfantJourneyDelete'
      operationId: nsk_v1_booking_journeys_journeyKey_passengers_passengerKey_infant_delete
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The unique identifier of the journey to remove infants from.
        schema:
          type: string
        x-position: 1
      - name: passengerKey
        in: path
        required: true
        description: The unique passenger key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}/segments/{segmentKey}/status:
    patch:
      tags:
      - booking/journeys
      summary: Modifies the status of the specified segment in the journey.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: segmentStatusModify'
      operationId: nsk_v1_booking_journeys_journeyKey_segments_segmentKey_status_patch
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey that contains the specified segment.
        schema:
          type: string
        x-position: 1
      - name: segmentKey
        in: path
        required: true
        description: The segment to be modified.
        schema:
          type: string
        x-position: 2
      - name: newStatus
        in: query
        description: "The new segment status to be set. \nEnumeration values: 0 = UnknownStatus, 1 = NoActionTaken, 2 = UnableToConfirmSegment, 3 = HeldConfirmed, 4 = HeldCancelled, 5 = ConfirmedTimeChange"
        schema:
          $ref: '#/components/schemas/ModifySegmentStatus'
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/{journeyKey}/travelDocument/requirements:
    get:
      tags:
      - booking/journeys
      summary: Gets the travel document requirements for a specific journey for the booking in-state.
      description: 'This endpoint will return a response containing a collection of travel document type codes that could fulfill

        a travel document requirement.  If the "AtLeastOneDocumentRequired" value is true, then one or more documents

        in the list are required.  However, it does not mean that every document in the list is required.  If

        "AtLeastOneDocumentRequired" is false, then the list of document type codes represents a list of acceptable

        travel documents, but nothing is required.

        This endpoint does not determine if any passengers already have required travel documents.


        GraphQL endpoint: travelDocumentRequirementsByKey'
      operationId: nsk_v1_booking_journeys_journeyKey_travelDocument_requirements_get
      parameters:
      - name: journeyKey
        in: path
        required: true
        description: The journey key to get required travel documents for.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfTravelDocumentRequirements'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/passengers/{passengerKey}/address/requirements:
    get:
      tags:
      - booking/journeys
      summary: 'Gets the passenger or associated infant''s destination address requirements for all journeys for the booking

        in-state.'
      description: 'This endpoint will determine if the passenger or the associated infant requires a destination address.  If a

        destination address is required for the passenger or associated infant for any journey, then this will return

        true.

        This does not determine if the passenger already has a qualifying address, only if the destination address

        is required.


        GraphQL endpoint: destinationAddressRequirements'
      operationId: nsk_v1_booking_journeys_passengers_passengerKey_address_requirements_get
      parameters:
      - name: passengerKey
        in: path
        required: true
        description: The passenger key to check requirements for.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBoolean'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/booking/journeys/travelDocument/requirements:
    get:
      tags:
      - booking/journeys
      summary: Gets the travel document requirements for all journeys for the booking in-state.
      description: 'This endpoint will return a response containing a collection of travel document type codes that could fulfill

        a travel document requirement.  If the "AtLeastOneDocumentRequired" value is true, then one or more documents

        in the list are required.  However, it does not mean that every document in the list is required.  If

        "AtLeastOneDocumentRequired" is false, then the list of document type codes represents a list of acceptable

        travel documents, but nothing is required.

        This endpoint does not determine if any passengers already have required travel documents.


        GraphQL endpoint: travelDocumentRequirements'
      operationId: nsk_v1_booking_journeys_travelDocument_requirements_get
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfTravelDocumentRequirements'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
components:
  schemas:
    GssStayType:
      type: integer
      description: "The type of stay type.\n            \n\n0 = None\n1 = Vacation\n2 = Business\n3 = Duty"
      x-enumNames:
      - None
      - Vacation
      - Business
      - Duty
      enum:
      - 0
      - 1
      - 2
      - 3
    IJsonResponseOfBoolean:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type: boolean
          description: "The payload data.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    Fare:
      type: object
      description: "Model describing a fare.\n            "
      additionalProperties: false
      properties:
        carrierCode:
          type:
          - string
          - 'null'
          description: "The fares carrier code.\n            "
          maxLength: 3
          minLength: 2
        classOfService:
          type:
          - string
          - 'null'
          description: "The class of service.\n            "
          maxLength: 8
          minLength: 0
        fareApplicationType:
          description: "The type of the fare application.\n            "
          $ref: '#/components/schemas/FareApplicationType'
        fareBasisCode:
          type:
          - string
          - 'null'
          description: "The fare basis code.\n            "
          maxLength: 8
          minLength: 0
        inboundOutBound:
          description: "The inbound and outbound.\n            "
          $ref: '#/components/schemas/InboundOutbound'
        isAllotmentMarketFare:
          type: boolean
          description: "Gets or sets a value indicating whether this fare is an allotment marker.\n            "
        ruleNumber:
          type:
          - string
          - 'null'
          description: "The rule number.\n            "
          maxLength: 4
          minLength: 0
        ruleTariff:
          type:
          - string
          - 'null'
          description: "The rule tariff.\n            "
          maxLength: 4
          minLength: 0
        pricingDate:
          type: string
          description: "The pricing date.\n            "
          format: date-time
        fareDesignator:
          description: "The fare designator.\n            "
          $ref: '#/components/schemas/FareDesignator'
        isGoverning:
          type: boolean
          description: "Flag that indicates if the fare is the governing fare.\n            "
        fareKey:
          type:
          - string
          - 'null'
          description: "Unique key for this type of fare.\n            "
        classType:
          type:
          - string
          - 'null'
          description: "The fares type of the class.\n            "
        fareClassOfService:
          type:
          - string
          - 'null'
          description: "The fare class of service.\n            "
          maxLength: 8
          minLength: 0
        fareSequence:
          type: integer
          description: "The fare sequence.\n            "
          maximum: 32767.0
          minimum: 0.0
        fareStatus:
          description: "The fare status.\n            "
          $ref: '#/components/schemas/FareStatus'
        originalClassOfService:
          type:
          - string
          - 'null'
          description: "The original class of service.\n            "
          maxLength: 8
          minLength: 0
        productClass:
          type:
          - string
          - 'null'
          description: "The product class.\n            "
          maxLength: 2
          minLength: 0
        travelClassCode:
          type:
          - string
          - 'null'
          description: "The travel class code.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        crossReferenceClassOfService:
          type:
          - string
          - 'null'
          description: "The cross reference class of service.\n            "
          maxLength: 8
          minLength: 0
        passengerFares:
          type:
          - array
          - 'null'
          description: "The collection of passenger fares.\n            "
          items:
            $ref: '#/components/schemas/PassengerFare'
        fareLink:
          type: integer
          description: "The fare link.\n            "
          maximum: 32767.0
          minimum: 0.0
    SeatPreference:
      type: object
      description: "Represents a single seat preference.\n            "
      additionalProperties: false
      required:
      - seatMapCode
      - value
      properties:
        seatMapCode:
          type: string
          description: "The seat map code (ex. 'SMOKING').\n            "
          maxLength: 8
          minLength: 0
        value:
          type: string
          description: "The seat map value (ex. 'TRUE').\n            "
          maxLength: 8
          minLength: 0
        status:
          description: "Defines if the seat preference is met, not met or unknown.\n            "
          $ref: '#/components/schemas/SeatPreferenceStatus'
    ManualBag:
      type: object
      description: "A base class for baggage models.\n            "
      additionalProperties: false
      required:
      - osTag
      - taggedToStation
      - taggedToFlightNumber
      - weight
      properties:
        osTag:
          type: string
          description: "The manual bag tag (OSTag) of the bag being added.\n            "
          maxLength: 32
          minLength: 0
        nonStandard:
          type: boolean
          description: "Flag for marking a bag as a non-standard piece of luggage.\n            "
        taggedToStation:
          type: string
          description: "The tagged to station in the bag object.  This is the last station where\nthe bag is going to.  For example, on a trip from SLC to JFK, JFK would\nbe the tagged to station value.\n            "
          maxLength: 3
          minLength: 3
        taggedToFlightNumber:
          type: string
          description: "A value representing the last segment's flight number leading to the bags final destination.\n            "
          minLength: 1
        weight:
          type: integer
          description: "The Weight in Bag object.\n            "
          maximum: 32767.0
          minimum: 0.0
        baggageType:
          type:
          - string
          - 'null'
          description: "The baggage type field for the bag.\n            "
    NestType:
      type: integer
      description: "Nest type enumeration.\n            \n\n0 = Default\n1 = Net\n2 = Serial\n3 = OneBooking"
      x-enumNames:
      - Default
      - Net
      - Serial
      - OneBooking
      enum:
      - 0
      - 1
      - 2
      - 3
    PassengerFare:
      type: object
      description: "Model that represents the passenger fare details.\n            "
      additionalProperties: false
      required:
      - passengerType
      properties:
        fareDiscountCode:
          type:
          - string
          - 'null'
          description: "The fare discount code.\n            "
          maxLength: 8
          minLength: 0
        passengerType:
          type: string
          description: "The type of the passenger.\n            "
          maxLength: 4
          minLength: 0
        serviceCharges:
          type:
          - array
          - 'null'
          description: "The service charges.\n            "
          items:
            $ref: '#/components/schemas/ServiceCharge'
        discountCode:
          type:
          - string
          - 'null'
          description: "The passenger discount code.\n            "
          maxLength: 4
          minLength: 0
        ticketFareBasis:
          type:
          - string
          - 'null'
          description: "A fare basis alias which is a more descriptive and custom value than the fare basis itself. \nThis value is created in FareManager Plus based on specific fare rule categories and ATPCO documentation.\n            "
    CollectType:
      type: integer
      description: "Used to identify the collect type of a service charge.\n            \n\n0 = SellerChargeable\n1 = ExternalChargeable\n2 = SellerNonChargeable\n3 = ExternalNonChargeable\n4 = ExternalChargeableImmediate"
      x-enumNames:
      - SellerChargeable
      - ExternalChargeable
      - SellerNonChargeable
      - ExternalNonChargeable
      - ExternalChargeableImmediate
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    OperationsInformation:
      type: object
      description: "Model describing the operations information.\n            "
      additionalProperties: false
      properties:
        arrivalGate:
          description: "The arrival gate information.\n            "
          $ref: '#/components/schemas/GateInformation'
        departureGate:
          description: "The departure gate information.\n            "
          $ref: '#/components/schemas/GateInformation'
        actualOffBlockTime:
          type:
          - string
          - 'null'
          description: "The actual off block time.\n            "
          format: date-time
        actualOnBlockTime:
          type:
          - string
          - 'null'
          description: "The actual on block time.\n            "
          format: date-time
        actualTouchDownTime:
          type:
          - string
          - 'null'
          description: "The actual touch down time.\n            "
          format: date-time
        airborneTime:
          type:
          - string
          - 'null'
          description: "The airborne time.\n            "
          format: date-time
        arrivalNote:
          type:
          - string
          - 'null'
          description: "The arrival note.\n            "
          maxLength: 128
          minLength: 0
        arrivalStatus:
          description: "The arrival status.\n            "
          $ref: '#/components/schemas/ArrivalStatus'
        baggageClaim:
          type:
          - string
          - 'null'
          description: "The baggage claim.\n            "
          maxLength: 10
          minLength: 0
        departureNote:
          type:
          - string
          - 'null'
          description: "The departure note.\n            "
          maxLength: 128
          minLength: 0
        departureStatus:
          description: "The departure status.\n            "
          $ref: '#/components/schemas/DepartureStatus'
        departureTimes:
          description: "The departure time information.\n            "
          $ref: '#/components/schemas/DepartureEvent'
        standardArrivalTime:
          type:
          - string
          - 'null'
          description: "The standard time of arrival (STA).\n            "
          format: date-time
        tailNumber:
          type:
          - string
          - 'null'
          description: "The tail number.\n            "
          maxLength: 10
          minLength: 0
        estimatedArrivalTime:
          type:
          - string
          - 'null'
          description: "The estimated time of arrival (ETA).\n            "
          format: date-time
    SsrByKeyRequest:
      type: object
      description: "SSR detail for a specific passenger number.\n            "
      additionalProperties: false
      required:
      - ssrKey
      properties:
        ssrKey:
          type: string
          description: "The Ssr key.\n            "
          minLength: 1
        count:
          type:
          - integer
          - 'null'
          description: "The number of items to include. Defaults to 1.\n            "
          maximum: 32767.0
          minimum: 1.0
        note:
          type:
          - string
          - 'null'
          description: "Notes associated with this Ssr.\n            "
    IJsonResponseOfTravelDocumentRequirements:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/TravelDocumentRequirements'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    PassengerSegment:
      type: object
      description: "Model data for the passenger on the booking for the specific segment.\n            "
      additionalProperties: false
      properties:
        seats:
          type:
          - array
          - 'null'
          description: "The seat details.\n            "
          items:
            $ref: '#/components/schemas/PassengerSeat'
        passengerKey:
          type:
          - string
          - 'null'
          description: "The unique key of the passenger on the segment\n            "
        activityDate:
          type:
          - string
          - 'null'
          description: "The activity date.\n            "
          format: date-time
        boardingSequence:
          type:
          - string
          - 'null'
          description: "The passenger segment boarding sequence.\n            "
        createdDate:
          type:
          - string
          - 'null'
          description: "The created date.\n            "
          format: date-time
        liftStatus:
          description: "The lift status.\n            "
          $ref: '#/components/schemas/LiftStatus'
        modifiedDate:
          type:
          - string
          - 'null'
          description: "The modified date.\n            "
          format: date-time
        overBookIndicator:
          description: "The over book indicator.\n            "
          $ref: '#/components/schemas/OverbookIndicatorTypes'
        priorityDate:
          type:
          - string
          - 'null'
          description: "The priority date.\n            "
          format: date-time
        timeChanged:
          type: boolean
          description: "Gets or sets a value indicating whether the passenger segment time has changed.\n            "
        verifiedTravelDocs:
          type:
          - string
          - 'null'
          description: "The verified travel docs. Please use VerifiedTravelDocuments instead.\n            "
          maxLength: 44
          minLength: 0
        sourcePointOfSale:
          description: "The source point of sale.\n            "
          $ref: '#/components/schemas/PointOfSale'
        pointOfSale:
          description: "The point of sale.\n            "
          $ref: '#/components/schemas/PointOfSale'
        ssrs:
          type:
          - array
          - 'null'
          description: "The Ssr information for both the leg and segment.\n            "
          items:
            $ref: '#/components/schemas/PassengerSsr'
        tickets:
          type:
          - array
          - 'null'
          description: "The ticket information.\n            "
          items:
            $ref: '#/components/schemas/Ticket'
        bags:
          type:
          - array
          - 'null'
          description: "The baggage information.\n            "
          items:
            $ref: '#/components/schemas/PassengerSegmentBag'
        scores:
          type:
          - array
          - 'null'
          description: "The collection of passenger scores.\n            "
          items:
            $ref: '#/components/schemas/PassengerScore'
        boardingPassDetail:
          description: "The passengers boarding pass details.\n            "
          $ref: '#/components/schemas/PassengerBoardingPassDetail'
        hasInfant:
          type: boolean
          description: "Flag indicating if the passenger has an infant for the specific segment.\n            "
        seatPreferences:
          description: "The passenger seat preferences.\n            "
          $ref: '#/components/schemas/SeatPreferences'
        bundleCode:
          type:
          - string
          - 'null'
          description: "The bundle code associated with the passenger segment.\n            "
        verifiedTravelDocuments:
          type:
          - array
          - 'null'
          description: "The travel document keys that have been verified at checkin.\n            "
          items:
            type: string
        referenceNumber:
          type: integer
          description: "The reference number, used as an identifier by New Skies Rail customers for purposes\nof ticketing and check in.\n            "
          format: int64
        baggageGroupNumber:
          type:
          - integer
          - 'null'
          description: "The passenger's baggage group number.\n            "
        baggageAllowanceUsed:
          type: boolean
          description: "Indicates whether the passenger segment baggage allowance is used.\n            "
        baggageAllowanceWeight:
          type: integer
          description: "The passenger segment baggage allowance weight.\n            "
          maximum: 32767.0
          minimum: 0.0
        baggageAllowanceWeightType:
          description: "The type of passenger segment baggage allowance weight.\n            "
          $ref: '#/components/schemas/WeightType'
        stayType:
          description: "The stay type.\n            "
          $ref: '#/components/schemas/GssStayType'
        infantStayType:
          description: "The stay type for an infant.\n            "
          $ref: '#/components/schemas/GssStayType'
    PassengerBagGroupRequest:
      type: object
      description: "Request to move passengers to a different baggage group.\n            "
      additionalProperties: false
      properties:
        baggageGroupNumber:
          type:
          - integer
          - 'null'
          description: "The baggage group number.\n            "
    ChargeType:
      type: integer
      description: "The type of a service charge.\n            \n\n0 = FarePrice\n1 = Discount\n2 = IncludedTravelFee\n3 = IncludedTax\n4 = TravelFee\n5 = Tax\n6 = ServiceCharge\n7 = PromotionDiscount\n8 = ConnectionAdjustmentAmount\n9 = AddOnsPrice\n10 = FarePoints\n11 = DiscountPoints\n16 = IncludedAddOnsFee\n17 = AddOnsFee\n18 = AddOnsMarkup\n19 = FareSurcharge\n21 = AddOnsCancelFee\n22 = Calculated\n23 = Note\n24 = Points\n25 = DynamicFareAdjustment"
      x-enumNames:
      - FarePrice
      - Discount
      - IncludedTravelFee
      - IncludedTax
      - TravelFee
      - Tax
      - ServiceCharge
      - PromotionDiscount
      - ConnectionAdjustmentAmount
      - AddOnsPrice
      - FarePoints
      - DiscountPoints
      - IncludedAddOnsFee
      - AddOnsFee
      - AddOnsMarkup
      - FareSurcharge
      - AddOnsCancelFee
      - Calculated
      - Note
      - Points
      - DynamicFareAdjustment
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 16
      - 17
      - 18
      - 19
      - 21
      - 22
      - 23
      - 24
      - 25
    IJsonResponseOfIListOfJourney:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type:
          - array
          - 'null'
          description: "The payload data.\n            "
          items:
            $ref: '#/components/schemas/Journey'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    ChangeReasonCodes:
      type: integer
      description: "Specifies the reason code on why the change on the journey or segment is performed.\n            \n\n0 = NoChange\n1 = Irop\n2 = ScheduleChange\n3 = Move\n4 = VoluntaryFlyAhead\n5 = InvoluntaryFlyAhead\n6 = SelfServiceRebooking"
      x-enumNames:
      - NoChange
      - Irop
      - ScheduleChange
      - Move
      - VoluntaryFlyAhead
      - InvoluntaryFlyAhead
      - SelfServiceRebooking
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
    TransportationIdentifier:
      type: object
      description: "Represents the transportation identifier model data.\n            "
      additionalProperties: false
      required:
      - identifier
      - carrierCode
      properties:
        identifier:
          type: string
          description: "The unique transportation identifier.\n            "
          maxLength: 4
          minLength: 0
        carrierCode:
          type: string
          description: "The carrier code.\n            "
          maxLength: 3
          minLength: 2
        opSuffix:
          type:
          - string
          - 'null'
          description: "The op suffix.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
    PassengerInfantCreateRequest:
      type: object
      description: "Model representing infant data that can be set.\n            "
      additionalProperties: false
      properties:
        nationality:
          type:
          - string
          - 'null'
          description: "The nationality of the passenger.\n            "
          maxLength: 2
          minLength: 0
        residentCountry:
          type:
          - string
          - 'null'
          description: "The residentCountry of the passenger.\n            "
          maxLength: 2
          minLength: 0
        dateOfBirth:
          type:
          - string
          - 'null'
          description: "The date of birth of the infant.\n            "
          format: date-time
        gender:
          description: "The gender of the passenger.\n            "
          $ref: '#/components/schemas/Gender'
        name:
          description: "The name of the passenger.\n            "
          $ref: '#/components/schemas/Name'
        declaredGender:
          type:
          - string
          - 'null'
          description: "The infant's declared gender. A value of \"F\" is mapped to a female binary gender. All other values will be\nmapped to a male binary gender.\n            "
          maxLength: 2
          minLength: 0
        travelDocuments:
          type:
          - array
          - 'null'
          description: "Travel Documents.\n            "
          items:
            $ref: '#/components/schemas/PassengerTravelDocument'
    TicketStatusCode:
      type: integer
      description: "This enumeration defines the ticket availability status.\n            \n\n0 = Unknown\n1 = TicketAvailableForUse\n2 = TicketUnavailableForUse\n3 = TicketReissueRequiredForPassenger\n4 = TicketReissueRequiredForInfant\n5 = TicketReissueRequiredForBoth\n6 = TicketReValidationRequired"
      x-enumNames:
      - Unknown
      - TicketAvailableForUse
      - TicketUnavailableForUse
      - TicketReissueRequiredForPassenger
      - TicketReissueRequiredForInfant
      - TicketReissueRequiredForBoth
      - TicketReValidationRequired
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
    TravelClassSeatPreference:
      type: integer
      description: "Represents a travel class seating preference.\n            \n\n0 = None\n1 = Business\n2 = Economy\n3 = FirstClass"
      x-enumNames:
      - None
      - Business
      - Economy
      - FirstClass
      enum:
      - 0
      - 1
      - 2
      - 3
    PassengerSeat:
      type: object
      description: "Model for a passenger seat for a segment.\n            "
      additionalProperties: false
      properties:
        compartmentDesignator:
          type:
          - string
          - 'null'
          description: "The passenger seat compartment designator.\n            "
          maxLength: 2
          minLength: 0
        penalty:
          type: integer
          description: "The passenger seat penalty.\n            "
          format: int32
          maximum: 2147483647.0
          minimum: 0.0
        unitDesignator:
          type:
          - string
          - 'null'
          description: "The passenger seat unit designator.\n            "
        seatInformation:
          description: "The passenger seat seat information.\n            "
          $ref: '#/components/schemas/SeatInfo'
        arrivalStation:
          type:
          - string
          - 'null'
          description: "The leg arrival station.\n            "
          maxLength: 3
          minLength: 3
        departureStation:
          type:
          - string
          - 'null'
          description: "The leg departure station.\n            "
          maxLength: 3
          minLength: 3
        passengerKey:
          type:
          - string
          - 'null'
          description: "The passenger key associated with the seat.\n            "
        unitKey:
          type:
          - string
          - 'null'
          description: "The seat's unique unit key.\n            "
        crossReferenceSeatingPreference:
          type:
          - string
          - 'null'
          description: "The seating preference for non-hosted flight seating assignments.\nCould be either one of the following values:\nnull = seating preference is not applicable (usual value for hosted flights)\nN = no requested seating preference\nA = aisle\nW = window\nF = front seating location\nR = rear seating location\nAF = front seating location, on aisle\nAR = rear seating location, on aisle\nWF = front seating location, on window\nWR = rear seating location, on window\n            "
        isPending:
          type: boolean
          description: "Determines whether or not the seat is pending request.\n            "
        seatmapReference:
          type:
          - string
          - 'null'
          description: "The reference identifying what seat map the passenger seat is associated to.\n            "
    SegmentStatus:
      type: integer
      description: "The segment status.\n            \n\n0 = UnknownStatus\n1 = UnableToConfirmSegment\n2 = UnableToSellSegment\n3 = HeldPending\n4 = WaitListConfirmed\n5 = HeldUnconfirmed\n6 = HeldConfirmed\n7 = HeldCancelled\n8 = Confirming\n9 = ConfirmingWaitList\n10 = ConfirmedTimeChange"
      x-enumNames:
      - UnknownStatus
      - UnableToConfirmSegment
      - UnableToSellSegment
      - HeldPending
      - WaitListConfirmed
      - HeldUnconfirmed
      - HeldConfirmed
      - HeldCancelled
      - Confirming
      - ConfirmingWaitList
      - ConfirmedTimeChange
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
    PassengerSsr:
      type: object
      description: "The model for a passengers Ssr details.\n            "
      additionalProperties: false
      properties:
        note:
          type:
          - string
          - 'null'
          description: "The passenger SSR note.\n            "
          maxLength: 128
          minLength: 0
        count:
          type: integer
          description: "The passenger SSR unit value.\n            "
          maximum: 32767.0
          minimum: 1.0
        inBundle:
          type: boolean
          description: "Indicates if the SSR is part of a bundle.\n            "
        ssrDuration:
          description: "The length of the Ssr duration.\n            "
          $ref: '#/components/schemas/SsrDurationType'
        ssrCode:
          type:
          - string
          - 'null'
          description: "The passenger SSR code.\n            "
          maxLength: 4
          minLength: 0
        passengerKey:
          type:
          - string
          - 'null'
          description: "The unique passenger key.\n            "
        ssrNumber:
          type:
          - integer
          - 'null'
          description: "The passenger SSR number.\n            "
          maximum: 32767.0
          minimum: 0.0
        market:
          description: "The market for either the leg or segment depending on the Ssr type.\n            "
          $ref: '#/components/schemas/MarketInformation'
        isConfirmed:
          type: boolean
          description: "A status flag to indicate if the ssr has been confirmed or not.\n            "
        isConfirmingUnheld:
          type: boolean
          description: "A status flag to indicate if the ssr is in a confirming unheld state.\n            "
        ssrKey:
          type:
          - string
          - 'null'
          description: "The key that uniquely identifies the Ssr, passenger, and leg or segment.\n            "
        feeCode:
          type:
          - string
          - 'null'
          description: "The SSR fee code.\n            "
          maxLength: 6
          minLength: 0
        ssrDetail:
          type:
          - string
          - 'null'
          description: "The passenger SSR detail.\n            "
          maxLength: 20
          minLength: 0
    Gender:
      type: integer
      description: "Defines the different binary gender types.\n            \n\n0 = XX\n1 = Male\n2 = Female"
      x-enumNames:
      - XX
      - Male
      - Female
      enum:
      - 0
      - 1
      - 2
    PassengerBagUpdateRequest:
      type: object
      description: "A model for a request to update the passenger bags.\n            "
      additionalProperties: false
      properties:
        weight:
          type:
          - integer
          - 'null'
          description: "The baggage weight.\n            "
          maximum: 32767.0
          minimum: 0.0
        weightType:
          description: "Type of weight for the baggage weight.\n            "
          $ref: '#/components/schemas/WeightType'
        baggageTypeCode:
          type:
          - string
          - 'null'
          description: "The baggage type code for the check-in request.\nThis can only be updated if the baggage weight is changed at the same time, and if\nthe baggage type code is active.\n            "
    FareStatus:
      type: integer
      description: "This enumeration defines the fare status of a passenger fare.\n            \n\n0 = Default\n1 = SameDayStandBy\n2 = FareOverrideConfirming\n3 = FareOverrideConfirmed\n4 = PublishedFareOverrideConfirming\n5 = PublishedFareOverrideConfirmed"
      x-enumNames:
      - Default
      - SameDayStandBy
      - FareOverrideConfirming
      - FareOverrideConfirmed
      - PublishedFareOverrideConfirming
      - PublishedFareOverrideConfirmed
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
    LegNest:
      type: object
      description: "A model representing a leg nest.\n            "
      additionalProperties: false
      properties:
        adjustedCapacity:
          type: integer
          description: "Gets or sets the adjusted capacity of the nest.\n            "
        classNest:
          type: integer
          description: "Gets or sets the nest class nest.\n            "
        lid:
          type: integer
          description: "Gets or sets the nest lid.\n            "
        travelClassCode:
          type:
          - string
          - 'null'
          description: "Gets or sets the nest travel class code.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        nestType:
          description: "Gets or sets the type of the nest.\n            "
          $ref: '#/components/schemas/NestType'
        legClasses:
          type:
          - array
          - 'null'
          description: "Gets or sets the nest leg classes.\n            "
          items:
            $ref: '#/components/schemas/LegClass'
    LegClass:
      type: object
      description: "The leg class model information.\n            "
      additionalProperties: false
      required:
      - classOfService
      properties:
        classAllotted:
          type: integer
          description: "The leg class allotted.\n            "
        classAuthorizedUnits:
          type: integer
          description: "The leg class Authorized Units (AUs).\n            "
        classOfService:
          type: string
          description: "The leg class, class of service.\n            "
          maxLength: 8
          minLength: 0
        classRank:
          type: integer
          description: "The leg class rank.\n            "
        classSold:
          type: integer
          description: "The class sold.\n            "
        cnxSold:
          type: integer
          description: "The CNX sold.\n            "
        latestAdvancedReservation:
          type: integer
          description: "The latest advanced reservation.\n            "
        status:
          description: "The status.\n            "
          $ref: '#/components/schemas/ClassStatus'
        thruSold:
          type: integer
          description: "The thru sold.\n            "
        classNest:
          type: integer
          description: "The leg class nest.\n            "
        classType:
          type:
          - string
          - 'null'
          description: "The type of class.\n            "
    FareDesignator:
      type: object
      description: "Model describing the fare designator information.\n            "
      additionalProperties: false
      properties:
        fareTypeCodes:
          type:
          - array
          - 'null'
          description: "The fares carrier code.\n            "
          items:
            type: string
    LegStatus:
      type: integer
      description: "Leg status enumeration.\n            \n\n0 = Normal\n1 = Closed\n2 = Canceled\n3 = Suspended\n5 = ClosedPending\n6 = BlockAllActivities\n7 = Mishap"
      x-enumNames:
      - Normal
      - Closed
      - Canceled
      - Suspended
      - ClosedPending
      - BlockAllActivities
      - Mishap
      enum:
      - 0
      - 1
      - 2
      - 3
      - 5
      - 6
      - 7
    SeatPreferences:
      type: object
      description: "Represents the seating preferences base model.\n            "
      additionalProperties: false
      properties:
        seat:
          description: "The simple seating preference.\n            "
          $ref: '#/components/schemas/SimpleSeatPreference'
        travelClass:
          description: "The preferred travel class of service.\n            "
          $ref: '#/components/schemas/TravelClassSeatPreference'
        advancedPreferences:
          type:
          - array
          - 'null'
          description: "The advanced seating preferences.\n            "
          items:
            $ref: '#/components/schemas/SeatPreference'
    BundleSellRequest:
      type: object
      description: "The bundle sell request.\n            "
      additionalProperties: false
      required:
      - bundleCode
      properties:
        bundleCode:
          type: string
          description: "The bundle code to sell.\n            "
          maxLength: 4
          minLength: 0
        passengerKeys:
          type:
          - array
          - 'null'
          description: "A list of passengers to sell the bundle for.\n            "
          items:
            type: string
        upgradeRequest:
          description: "The optional ssr upgrade request.  If left blank,\nthe default bundle ssr(s) will be sold (if available).\n            "
          $ref: '#/components/schemas/SsrByKeysRequestv2'
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
    SegmentTypes:
      type: integer
      description: "Indicates the type of a segment.\n            \n\n0 = Normal\n1 = CodeShareOperating\n2 = CodeShareMarketing\n3 = InterlineOutbound\n4 = InterlineInbound\n5 = Passive"
      x-enumNames:
      - Normal
      - CodeShareOperating
      - CodeShareMarketing
      - InterlineOutbound
      - InterlineInbound
      - Passive
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
    MarketInformation:
      type: object
      description: "Model information about the market arrival and destination details.\n            "
      additionalProperties: false
      required:
      - destination
      - origin
      - departureDate
      - identifier
      properties:
        destination:
          type: string
          description: "Gets or sets the leg arrival station.\n            "
          maxLength: 3
          minLength: 0
        origin:
          type: string
          description: "Gets or sets the leg departure station.\n            "
          maxLength: 3
          minLength: 0
        departureDate:
          type: string
          description: "The departure date.\n            "
          format: date-time
          minLength: 1
        identifier:
          description: "Gets or sets the leg arrival station.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
    ArrivalStatus:
      type: integer
      description: "Arrival status.\n            \n\n0 = Default\n1 = Cancelled\n2 = Arrived\n3 = SeeAgent\n4 = Delayed"
      x-enumNames:
      - Default
      - Cancelled
      - Arrived
      - SeeAgent
      - Delayed
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    ChannelType:
      type: integer
      description: "Defines the available channel types doing invoking the communication with the server.\n            \n\n0 = Default\n1 = Direct\n2 = Web\n3 = Gds\n4 = Api\n5 = DigitalApi\n6 = DigitalWeb\n7 = Ndc"
      x-enumNames:
      - Default
      - Direct
      - Web
      - Gds
      - Api
      - DigitalApi
      - DigitalWeb
      - Ndc
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    IJsonResponseOfPassengerBag:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/PassengerBag'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    OverbookIndicatorTypes:
      type: integer
      description: "Specifies the type of code share agreement.\n            \n\n0 = NormalSell\n1 = Oversold\n2 = ClassOrCabinOversold"
      x-enumNames:
      - NormalSell
      - Oversold
      - ClassOrCabinOversold
      enum:
      - 0
      - 1
      - 2
    LiftStatus:
      type: integer
      description: "Lift status enumeration.\n            \n\n0 = Default\n1 = CheckedIn\n2 = Boarded\n3 = NoShow"
      x-enumNames:
      - Default
      - CheckedIn
      - Boarded
      - NoShow
      enum:
      - 0
      - 1
      - 2
      - 3
    BaggageStatus:
      type: integer
      description: "Baggage Status enumeration.\n            \n\n0 = Default\n1 = Checked\n2 = Removed\n3 = Added\n4 = AddedPrinted"
      x-enumNames:
      - Default
      - Checked
      - Removed
      - Added
      - AddedPrinted
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
    TransportationDesignator:
      type: object
      description: "Model information about the traveling arrival and destination details.\n            "
      additionalProperties: false
      properties:
        destination:
          type:
          - string
          - 'null'
          description: "Gets or sets the leg arrival station.\n            "
          maxLength: 3
          minLength: 0
        origin:
          type:
          - string
          - 'null'
          description: "Gets or sets the leg departure station.\n            "
          maxLength: 3
          minLength: 0
        arrival:
          type: string
          description: "The arrival date and time local to the arrival station.\n            "
          format: date-time
        departure:
          type: string
          description: "The departure date and time local to the departure station.\n            "
          format: date-time
    DepartureStatus:
      type: integer
      description: "Departure status.\n            \n\n0 = Default\n1 = Cancelled\n2 = Boarding\n3 = SeeAgent\n4 = Delayed\n5 = Departed"
      x-enumNames:
      - Default
      - Cancelled
      - Boarding
      - SeeAgent
      - Delayed
      - Departed
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
    PassengerBagRequest:
      type: object
      description: "A model for a request to update the passenger bags.\n            "
      additionalProperties: false
      properties:
        bagCount:
          type: integer
          description: "The bag count for this request.\n            "
          maximum: 32767.0
          minimum: 1.0
        iataIdentifier:
          type:
          - string
          - 'null'
          description: "The IATA identifier for this request.\n            "
          maxLength: 3
          minLength: 0
        limitedReleaseTag:
          type: boolean
          description: "Flag for marking a bag as a non-standard piece of luggage.\n            "
        weightType:
          description: "Type of weight for the baggage weight.\n            "
          $ref: '#/components/schemas/WeightType'
        weight:
          type:
          - integer
          - 'null'
          description: "The baggage weight.\n            "
          maximum: 32767.0
          minimum: 0.0
        taggedToStation:
          type:
          - string
          - 'null'
          description: "The station to which the baggage will be tagged, if not the final destination.\n            "
          maxLength: 3
          minLength: 0
    PassengerManualBagRequest:
      type: object
      description: "A model for a request to update the passenger bags.\n            "
      additionalProperties: false
      required:
      - weightType
      - taggedToCarrierCode
      - manualBagList
      properties:
        iataIdentifier:
          type:
          - string
          - 'null'
          description: "The IATA identifier for this request.\n            "
          maxLength: 3
          minLength: 0
        limitedReleaseTag:
          type: boolean
          description: "Flag for marking a bag as a non-standard piece of luggage.\n            "
        weightType:
          description: "Type of weight for the baggage weight.\n            "
          $ref: '#/components/schemas/WeightType'
        taggedToCarrierCode:
          type: string
          description: "The bag tagged to carrier code including OA codes.\n            "
          maxLength: 3
          minLength: 2
        compartmentId:
          type: integer
          description: "Compartment ID the bag is assigned.\n            "
        manualBagList:
          type: array
          description: "List of manually tagged bags to be added.\n            "
          items:
            $ref: '#/components/schemas/ManualBag'
        taggedToStation:
          type:
          - string
          - 'null'
          description: "The station to which the baggage will be tagged, if not the final destination.\nNote: Must have the \"Allow Bag Tag Destination Mismatch\" role setting enabled to override baggage destination.\n            "
          maxLength: 3
          minLength: 3
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    LegSsr:
      type: object
      description: "A model representing a leg ssr summary.\n            "
      additionalProperties: false
      properties:
        available:
          type: integer
          description: "The number of Ssrs available.\n            "
        ssrNestCode:
          type:
          - string
          - 'null'
          description: "The SSR nest code.\n            "
          maxLength: 4
          minLength: 0
        lid:
          type: integer
          description: "The maximum number of SSRs authorized to be sold on a nest.\n            "
        sold:
          type: integer
          description: "The number of SSRs sold in the SSR nest.\n            "
        unitSold:
          type: integer
          description: "The units of space sold for the SSR.\n            "
    Leg:
      type: object
      description: "Model data describing the leg which is a single travel leg from point a to b.\n            "
      additionalProperties: false
      properties:
        legKey:
          type:
          - string
          - 'null'
          description: "The unique identifier for this leg sell information.\n            "
        designator:
          description: "Transportation information.\n            "
          $ref: '#/components/schemas/TransportationDesignator'
        operationsInfo:
          description: "The operations information.\n            "
          $ref: '#/components/schemas/OperationsInformation'
        legInfo:
          description: "The leg information.\n            "
          $ref: '#/components/schemas/LegInformation'
        nests:
          type:
          - array
          - 'null'
          description: "The collection of leg nests.\n            "
          items:
            $ref: '#/components/schemas/LegNest'
        ssrs:
          type:
          - array
          - 'null'
          description: "The Ssrs summary information.\n            "
          items:
            $ref: '#/components/schemas/LegSsr'
        seatmapReference:
          type:
          - string
          - 'null'
          description: "The reference identifying what seatmap the leg is in associated to.\n            "
        flightReference:
          type:
          - string
          - 'null'
          description: "The flight reference which signifies a link to a segment and or leg.\n            "
          maxLength: 22
          minLength: 0
    PassengerTravelDocument:
      type: object
      description: "Model representing a passenger travel document.\n            "
      additionalProperties: false
      required:
      - documentTypeCode
      properties:
        documentTypeCode:
          type: string
          description: "The unique travel document type code.\n            "
          maxLength: 4
          minLength: 0
        issuedByCode:
          type:
          - string
          - 'null'
          description: "The issuer code for the travel document (country code).\n            "
          maxLength: 3
          minLength: 0
        birthCountry:
          type:
          - string
          - 'null'
          description: "The BirthCountry property.\n            "
        name:
          description: "The Name property.\n            "
          $ref: '#/components/schemas/Name'
        nationality:
          type:
          - string
          - 'null'
          description: "The Nationality property.\n            "
          maxLength: 2
          minLength: 0
        expirationDate:
          type:
          - string
          - 'null'
          description: "The date when this travel document expires.\n            "
          format: date-time
        number:
          type:
          - string
          - 'null'
          description: "The travel document number.\n            "
          maxLength: 35
          minLength: 0
        issuedDate:
          type:
          - string
          - 'null'
          description: "The date this travel document was issued.\n            "
          format: date-time
        gender:
          description: "The travel document holder's gender.\n            "
          $ref: '#/components/schemas/Gender'
        dateOfBirth:
          type:
          - string
          - 'null'
          description: "The person's date of birth.\n            "
          format: date-time
        declaredGender:
          type:
          - string
          - 'null'
          description: "The travel document holder's declared gender.\nThis will override the gender field on passenger or person POST, PUT, and PATCH requests.\nNote: Any value other than \"F\" will cause gender to be updated to Male by default to support compatibility with\nother systems.\nAdditionally you cannot change the declared gender and gender fields at the same time as declared gender\nwill override any gender field value regardless of the value passed in.\n            "
          maxLength: 2
          minLength: 0
        placeOfBirth:
          type:
          - string
          - 'null'
          description: "Represents the place of birth. Only used on the following document type groups: TravelVisa (9), RedressNumber (20),\nand KnownTravelerId (21).\nOnly allows alpha characters, please do not use spaces, numbers, or special characters.\nNote: If unsure which travel document types fall into these groups please use `/api/nsk/v1/resources/DocumentTypes`\nor `/api/nsk/v1/resources/DocumentTypes/{documentTypeCode}`\n            "
          maxLength: 35
          minLength: 0
          pattern: ^[A-Za-z\s]*$
        placeOfIssue:
          type:
          - string
          - 'null'
          description: "Represents the place of issue. Only used on the following document type groups: TravelVisa (9), RedressNumber (20),\nand KnownTravelerId (21).\nOnly allows alpha characters, please do not use spaces, hyphens, or special characters.\nNote: If unsure which travel document types fall into these groups please use `/api/nsk/v1/resources/DocumentTypes`\nor `/api/nsk/v1/resources/DocumentTypes/{documentTypeCode}`\n            "
          maxLength: 35
          minLength: 0
          pattern: ^[A-Za-z\s]*$
        passengerTravelDocumentKey:
          type:
          - string
          - 'null'
          description: "A key that  uniquely identifies a travel document in the context of a specific passenger.\n            "
    SeatInfo:
      type: object
      description: "The model for the seat information such as deck, seat properties, etc.\n            "
      additionalProperties: false
      properties:
        deck:
          type: integer
          description: "Gets or sets the deck.\n            "
        seatSet:
          type: integer
          description: "Gets or sets the seat set.\n            "
        propertyList:
          type:
          - object
          - 'null'
          description: "The property list by type code and value.\n            "
          additionalProperties:
            type: string
    Segment:
      type: object
      description: "Segment model for an already booked flight.\n            "
      additionalProperties: false
      properties:
        isStandby:
          type: boolean
          description: "Represents the stand by status of the segment.\n            "
        isConfirming:
          type: boolean
          description: "Represents the confirming status of the segment.\n            "
        isConfirmingExternal:
          type: boolean
          description: "Represents the pending external confirming status of the segment.\n            "
        channelType:
          description: "The type of the channel from the user that added the segment.\n            "
          $ref: '#/components/schemas/ChannelType'
        priorityCode:
          type:
          - string
          - 'null'
          description: "The priority code.\n            "
          maxLength: 2
          minLength: 0
        salesDate:
          type:
          - string
          - 'null'
          description: "The segment sales date.\n            "
          format: date-time
        flightReference:
          type:
          - string
          - 'null'
          description: "The flight reference which signifies a link to a segment and or leg.\n            "
          maxLength: 22
          minLength: 0
        status:
          description: "Represents the segment status.\n            "
          $ref: '#/components/schemas/SegmentStatus'
        isBlocked:
          type: boolean
[...]
