openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Users API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: users
paths:
  /api/nsk/v1/users:
    post:
      tags:
      - users
      summary: Creates a new user and person (used by agents to create other users).
      description: 'This method is used by agents to create other users (either agents or customers).

        Use this method when you want to create both a user and a person at the same time.


        GraphQL endpoint: usersAdd'
      operationId: nsk_v1_users_post
      requestBody:
        x-name: request
        description: The new user request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Duplicate Agent Name:
                  description: The agent name already exists.
                  value:
                    errors:
                    - id: 5d7a5d1c-d481-9723-260d-59f53b861112
                      code: nsk:User:UserNameAlreadyExists
                      message: Agent name 'firstAgent' already exists.
                      type: Information
                      details: null
                      rawMessage: Agent name 'firstAgent' already exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Non-Existent Organization:
                  description: The organization is not found on the server.
                  value:
                    errors:
                    - id: 17df744c-6115-9771-9151-5e9faa488e44
                      code: nsk-server:OrganizationNotFound
                      message: The requested organization was not found. Organization ID = '0999'
                      type: Information
                      details: null
                      rawMessage: The requested organization was not found. Organization ID = '0999'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
  /api/nsk/v2/users:
    get:
      tags:
      - users
      summary: Search user records.
      description: 'GraphQL endpoint: usersv2'
      operationId: nsk_v2_users_get
      parameters:
      - name: OrganizationCode
        in: query
        description: "The organization code to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: LocationGroupCode
        in: query
        description: "The location group code to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: DomainCode
        in: query
        description: "The domain code to search in.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: Username
        in: query
        description: "The unique username to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: UsernameMatching
        in: query
        description: "The matching criteria for the username.\n             \nEnumeration values: 0 = StartsWith, 1 = EndsWith, 2 = Contains, 3 = ExactMatch"
        schema:
          $ref: '#/components/schemas/MatchCriteria'
        x-position: 5
      - name: FirstName
        in: query
        description: "The agent's first name to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: FirstNameMatching
        in: query
        description: "The matching criteria for the agent's first name.\n             \nEnumeration values: 0 = StartsWith, 1 = EndsWith, 2 = Contains, 3 = ExactMatch"
        schema:
          $ref: '#/components/schemas/MatchCriteria'
        x-position: 7
      - name: LastName
        in: query
        description: "The agent's last name to search by.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 8
      - name: RoleCode
        in: query
        description: "The role code to search with.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 9
      - name: Status
        in: query
        description: "The agent status to search by.\n             \nEnumeration values: 0 = Default, 1 = Active, 2 = Pending, 3 = Suspended, 4 = Terminated"
        schema:
          $ref: '#/components/schemas/UserStatus'
        x-position: 10
      - name: ReturnCount
        in: query
        description: "The number of results to return.\n            "
        schema:
          type:
          - integer
          - 'null'
        x-position: 11
      - name: LastIndex
        in: query
        description: "The last user index (used for paging).\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int64
          maximum: 9.223372036854776e+18
          minimum: 0.0
        x-position: 12
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfUserRecord'
    post:
      tags:
      - users
      summary: Creates a new user for a person (used by agents to create other users).
      description: 'This method is used by agents to create other users (either agents or customers) and connect them with an existing

        person.

        Use this method when a person already exists and you want to create a user for them.


        GraphQL endpoint: usersAddV2'
      operationId: nsk_v2_users_post
      requestBody:
        x-name: request
        description: The request for the user to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequestv2'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Duplicate Agent Name:
                  description: The agent name already exists.
                  value:
                    errors:
                    - id: 5d7a5d1c-d481-9723-260d-59f53b861112
                      code: nsk:User:UserNameAlreadyExists
                      message: Agent name 'firstAgent' already exists.
                      type: Information
                      details: null
                      rawMessage: Agent name 'firstAgent' already exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Non-Existent Organization:
                  description: The organization is not found on the server.
                  value:
                    errors:
                    - id: 17df744c-6115-9771-9151-5e9faa488e44
                      code: nsk-server:OrganizationNotFound
                      message: The requested organization was not found. Organization ID = '0999'
                      type: Information
                      details: null
                      rawMessage: The requested organization was not found. Organization ID = '0999'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
  /api/nsk/v1/users/{userKey}:
    get:
      tags:
      - users
      summary: Retrieves the a specific user.
      description: 'GraphQL endpoint: users'
      operationId: nsk_v1_users_userKey_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The user key of the user to retrieve.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfUser'
    put:
      tags:
      - users
      summary: Updates the specific user.
      description: 'GraphQL endpoint: usersSet'
      operationId: nsk_v1_users_userKey_put
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The user edit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Duplicate Agent Name:
                  description: The agent name already exists.
                  value:
                    errors:
                    - id: 5d7a5d1c-d481-9723-260d-59f53b861112
                      code: nsk:User:UserNameAlreadyExists
                      message: Agent name 'firstAgent' already exists.
                      type: Information
                      details: null
                      rawMessage: Agent name 'firstAgent' already exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Non-Existent Organization:
                  description: The organization is not found on the server.
                  value:
                    errors:
                    - id: 17df744c-6115-9771-9151-5e9faa488e44
                      code: nsk-server:OrganizationNotFound
                      message: The requested organization was not found. Organization ID = '0999'
                      type: Information
                      details: null
                      rawMessage: The requested organization was not found. Organization ID = '0999'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - users
      summary: Patches the current logged in user.
      description: 'GraphQL endpoint: usersModifyv2'
      operationId: nsk_v1_users_userKey_patch
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The user patch request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfUserRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Duplicate Agent Name:
                  description: The agent name already exists.
                  value:
                    errors:
                    - id: 5d7a5d1c-d481-9723-260d-59f53b861112
                      code: nsk:User:UserNameAlreadyExists
                      message: Agent name 'firstAgent' already exists.
                      type: Information
                      details: null
                      rawMessage: Agent name 'firstAgent' already exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Non-Existent Organization:
                  description: The organization is not found on the server.
                  value:
                    errors:
                    - id: 17df744c-6115-9771-9151-5e9faa488e44
                      code: nsk-server:OrganizationNotFound
                      message: The requested organization was not found. Organization ID = '0999'
                      type: Information
                      details: null
                      rawMessage: The requested organization was not found. Organization ID = '0999'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - users
      summary: Delete the user.
      description: 'This is a soft delete by setting the user record status to terminated.


        GraphQL endpoint: usersDelete'
      operationId: nsk_v1_users_userKey_delete
      parameters:
      - name: userKey
        in: path
        required: true
        description: User key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/bookings:
    get:
      tags:
      - users
      summary: Searches the specific user for upcoming and past bookings.
      description: 'GraphQL endpoint: usersBookingsv2'
      operationId: nsk_v1_users_userKey_bookings_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: AssociatedFirstName
        in: query
        description: "An associated passenger/contact first name.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: AssociatedLastName
        in: query
        description: "An associated passenger/contact last name.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: PhoneticSearch
        in: query
        description: "Flag indicating to search using the phonetic option.\n            "
        schema:
          type:
          - boolean
          - 'null'
        x-position: 4
      - name: TripIdentifier
        in: query
        description: "Filter by trip identifier.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: Origin
        in: query
        description: "Filter by origin station code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 6
      - name: Destination
        in: query
        description: "Filter by destination station code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 7
      - name: SearchArchive
        in: query
        description: "Flag indicating to search archived bookings.\n            "
        schema:
          type:
          - boolean
          - 'null'
        x-position: 8
      - name: TripDate
        in: query
        description: "Filter by trip date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 9
      - name: StartDate
        in: query
        description: "Filter by starting search date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 10
      - name: EndDate
        in: query
        description: "Filter by ending search date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 11
      - name: SearchByCustomerNumber
        in: query
        description: "Flag indicating to search by the users customer number instead of user identifier.\n            "
        schema:
          type:
          - boolean
          - 'null'
        x-position: 12
      - name: ReturnCount
        in: query
        description: "The number of results to be returned.\n            "
        schema:
          type: integer
          maximum: 5000.0
          minimum: 10.0
        x-position: 13
      - name: LastBookingKey
        in: query
        description: "The last booking key.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 14
      - name: StartingIndex
        in: query
        description: "The starting index of the next set of bookings (used for paging).\n            "
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 15
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBookingSearchResult'
  /api/nsk/v1/users/{userKey}/bookingsByPassenger:
    get:
      tags:
      - users
      summary: Searches the specific user upcoming and past bookings by passenger.
      description: 'This is similar to the user booking endpoint but returns more focused trip information.

        This endpoint will only return data where a bookings passenger customer number matches the current logged in user.

        Bookings made by the user but where the passenger customer are not assigned are ignored.

        The BeginDate will default to today, and the EndDate defaults to one month from today unless a value is provided.


        GraphQL endpoint: usersBookingsByPassenger'
      operationId: nsk_v1_users_userKey_bookingsByPassenger_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The user key.
        schema:
          type: string
        x-position: 1
      - name: StartDate
        in: query
        description: "Booking start search date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 2
      - name: EndDate
        in: query
        description: "Booking end search date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfBookingTripResult'
  /api/nsk/v1/users/{userKey}/password/change:
    post:
      tags:
      - users
      summary: Changes a specifics user's password.
      description: 'Requires agent permissions.


        GraphQL endpoint: usersChangePassword'
      operationId: nsk_v1_users_userKey_password_change_post
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The change password request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserChangePasswordRequestBase'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/password/reset:
    post:
      tags:
      - users
      summary: Invokes the forgot password reset for a specific user.
      description: 'Requires agent permissions.


        GraphQL endpoint: usersForgotPassword'
      operationId: nsk_v1_users_userKey_password_reset_post
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      responses:
        '202':
          description: The request was accepted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person:
    get:
      tags:
      - users
      summary: Retrieves the specific user's person.
      description: 'GraphQL endpoint: usersPerson'
      operationId: nsk_v1_users_userKey_person_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The user key of the person record to retrieve.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPerson'
    put:
      tags:
      - users
      summary: Updates the specific user's person record basic information.
      description: 'GraphQL endpoint: usersPersonSet'
      operationId: nsk_v1_users_userKey_person_put
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The person edit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonEditRequest'
            examples:
              Person Edit Request:
                description: Example request for updating person's basic information.
                value:
                  name:
                    first: John
                    middle: Cee
                    last: Doe
                    title: Mr.
                    suffix: null
                  type: 1
                  status: 0
                  details:
                    gender: 1
                    dateOfBirth: '2006-07-09T05:55:15.829325+00:00'
                    nationality: US
                    residentCountry: US
                    passengerType: ADT
                    preferredCultureCode: en-US
                    preferredCurrencyCode: USD
                    nationalIdNumber: null
                    declaredGender: null
                  notificationPreference: 0
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Preferred Culture Code:
                  description: The provided culture code in the request is an invalid culture identifier.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:InvalidPreferredCulture
                      message: nsk:Person:InvalidPreferredCulture
                      type: Validation
                      details: null
                      rawMessage: The preferred culture code 'ZZZ' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Preferred Currency Code:
                  description: The provided currency code in the request is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:InvalidPreferredCurrency
                      message: nsk:Person:InvalidPreferredCurrency
                      type: Validation
                      details: null
                      rawMessage: The preferred currency code 'ZZZ' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid First Name:
                  description: The provided first name in the request starts with a numerical or special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidFirstNameCharacters
                      message: 'A first name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      type: Validation
                      details: null
                      rawMessage: 'A first name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Middle Name:
                  description: The provided middle name in the request starts with a special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidMiddleNameCharacters
                      message: 'A middle name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>.'
                      type: Validation
                      details: null
                      rawMessage: 'A middle name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Last Name:
                  description: The provided last name in the request starts with a numerical or special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidLastNameCharacters
                      message: 'A last name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      type: Validation
                      details: null
                      rawMessage: 'A last name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                Update Status Not Allowed:
                  description: The logged-in user is not allowed to update the person's status.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:StatusUpdateNotAllowed
                      message: nsk:Person:StatusUpdateNotAllowed
                      type: Validation
                      details: null
                      rawMessage: The logged-in user is not allowed to update their status.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                Update Type Not Allowed:
                  description: The logged-in user is not allowed to update the person's type.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:TypeUpdateNotAllowed
                      message: nsk:Person:TypeUpdateNotAllowed
                      type: Validation
                      details: null
                      rawMessage: The logged-in user is not allowed to update their type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - users
      summary: Patches the specific user's person records basic information.
      description: 'GraphQL endpoint: usersPersonModify'
      operationId: nsk_v1_users_userKey_person_patch
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The person patch request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPersonEditRequest'
            examples:
              Person Edit Request:
                description: Example request for updating person's basic information.
                value:
                  name:
                    first: John
                    middle: Cee
                    last: Doe
                    title: Mr.
                    suffix: null
                  type: 1
                  status: 0
                  details:
                    gender: 1
                    dateOfBirth: '2006-07-09T05:55:15.8336689+00:00'
                    nationality: US
                    residentCountry: US
                    passengerType: ADT
                    preferredCultureCode: en-US
                    preferredCurrencyCode: USD
                    nationalIdNumber: null
                    declaredGender: null
                  notificationPreference: 0
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Preferred Culture Code:
                  description: The provided culture code in the request is an invalid culture identifier.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:InvalidPreferredCulture
                      message: nsk:Person:InvalidPreferredCulture
                      type: Validation
                      details: null
                      rawMessage: The preferred culture code 'ZZZ' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Preferred Currency Code:
                  description: The provided currency code in the request is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:InvalidPreferredCurrency
                      message: nsk:Person:InvalidPreferredCurrency
                      type: Validation
                      details: null
                      rawMessage: The preferred currency code 'ZZZ' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid First Name:
                  description: The provided first name in the request starts with a numerical or special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidFirstNameCharacters
                      message: 'A first name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      type: Validation
                      details: null
                      rawMessage: 'A first name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Middle Name:
                  description: The provided middle name in the request starts with a special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidMiddleNameCharacters
                      message: 'A middle name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>.'
                      type: Validation
                      details: null
                      rawMessage: 'A middle name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Last Name:
                  description: The provided last name in the request starts with a numerical or special character.
                  value:
                    errors:
                    - id: null
                      code: nsk:Validation:InvalidLastNameCharacters
                      message: 'A last name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      type: Validation
                      details: null
                      rawMessage: 'A last name may not begin with any of these characters: :@#$%&_+*-=~^`“"''‘,.:;!?|/\(){}[]<>0123456789.'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                Update Status Not Allowed:
                  description: The logged-in user is not allowed to update the person's status.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:StatusUpdateNotAllowed
                      message: nsk:Person:StatusUpdateNotAllowed
                      type: Validation
                      details: null
                      rawMessage: The logged-in user is not allowed to update their status.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                Update Type Not Allowed:
                  description: The logged-in user is not allowed to update the person's type.
                  value:
                    errors:
                    - id: null
                      code: nsk:Person:TypeUpdateNotAllowed
                      message: nsk:Person:TypeUpdateNotAllowed
                      type: Validation
                      details: null
                      rawMessage: The logged-in user is not allowed to update their type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person/addresses:
    get:
      tags:
      - users
      summary: Gets all addresses from the specific user's person.
      description: Gets all addresses from the specific user's person.
      operationId: nsk_v1_users_userKey_person_addresses_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPersonAddress'
    post:
      tags:
      - users
      summary: Creates a new address on the specific user's person.
      description: 'GraphQL endpoint: usersPersonAddressAdd'
      operationId: nsk_v1_users_userKey_person_addresses_post
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAddressCreateRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person/addresses/{personAddressKey}:
    get:
      tags:
      - users
      summary: Gets a specific address from the specific user's person.
      description: 'GraphQL endpoint: usersPersonAddress'
      operationId: nsk_v1_users_userKey_person_addresses_personAddressKey_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAddressKey
        in: path
        required: true
        description: The unique person address key.
        schema:
          type: string
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPersonAddress'
    put:
      tags:
      - users
      summary: Updates a specific address on the specific user's person.
      description: 'GraphQL endpoint: usersPersonAddressSet'
      operationId: nsk_v1_users_userKey_person_addresses_personAddressKey_put
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAddressKey
        in: path
        required: true
        description: The unique person address key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The modified address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAddressEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - users
      summary: Patches a specific address on the specific user's person.
      description: 'GraphQL endpoint: usersPersonAddressModify'
      operationId: nsk_v1_users_userKey_person_addresses_personAddressKey_patch
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAddressKey
        in: path
        required: true
        description: The unique person address key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The patched address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPersonAddressEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - users
      summary: Deletes a specific address on the specific user's person.
      description: 'GraphQL endpoint: usersPersonAddressDelete'
      operationId: nsk_v1_users_userKey_person_addresses_personAddressKey_delete
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAddressKey
        in: path
        required: true
        description: The unique person address key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person/affiliations:
    get:
      tags:
      - users
      summary: Gets all affiliations from the specific user's person.
      description: 'GraphQL endpoint: usersPersonAffiliations'
      operationId: nsk_v1_users_userKey_person_affiliations_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPersonAffiliation'
    post:
      tags:
      - users
      summary: Creates a new affiliation for the specific user's person.
      description: 'GraphQL endpoint: usersPersonAffiliationAdd'
      operationId: nsk_v1_users_userKey_person_affiliations_post
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new affiliation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAffiliationRequest'
            examples:
              Person Affiliation Request:
                description: Example request for creating or updating a person's affiliation.
                value:
                  name: John Doe
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person/affiliations/{personAffiliationKey}:
    get:
      tags:
      - users
      summary: Gets a specific affiliation from the specific user's person.
      description: 'GraphQL endpoint: usersPersonAffiliation'
      operationId: nsk_v1_users_userKey_person_affiliations_personAffiliationKey_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAffiliationKey
        in: path
        required: true
        description: The unique person affiliation key.
        schema:
          type: string
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPersonAffiliation'
    put:
      tags:
      - users
      summary: Updates a specific affiliation for the specific user's person.
      description: 'GraphQL endpoint: usersPersonAffiliationSet'
      operationId: nsk_v1_users_userKey_person_affiliations_personAffiliationKey_put
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAffiliationKey
        in: path
        required: true
        description: The unique person affiliation key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The modified affiliation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAffiliationRequest'
            examples:
              Person Affiliation Request:
                description: Example request for creating or updating a person's affiliation.
                value:
                  name: John Doe
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Person Affiliation Key:
                  description: The person affiliation key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:UpdateFailed
                      message: nsk:Exceptions:UpdateFailed
                      type: Validation
                      details: null
                      rawMessage: Attempted update of object 'PersonAffiliation' has failed. Please verify this object exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - users
      summary: Deletes a specific affiliation for the specific user's person.
      description: 'GraphQL endpoint: usersPersonAffiliationDelete'
      operationId: nsk_v1_users_userKey_person_affiliations_personAffiliationKey_delete
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAffiliationKey
        in: path
        required: true
        description: The unique person affiliation key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person/aliases:
    get:
      tags:
      - users
      summary: Gets all aliases from the specific user's person.
      description: Gets all aliases from the specific user's person.
      operationId: nsk_v1_users_userKey_person_aliases_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPersonAlias'
    post:
      tags:
      - users
      summary: Creates a new alias on the specific user's person.
      description: 'GraphQL endpoint: usersPersonAliasAdd'
      operationId: nsk_v1_users_userKey_person_aliases_post
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new alias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAliasRequest'
            examples:
              Person Alias Request:
                description: Example request for creating or updating a person's alias.
                value:
                  type: 0
                  first: John
                  middle: Cee
                  last: Doe
                  title: Mr.
                  suffix: null
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person/aliases/{personAliasKey}:
    get:
      tags:
      - users
      summary: Gets a specific alias from the specific user's person.
      description: 'GraphQL endpoint: usersPersonAlias'
      operationId: nsk_v1_users_userKey_person_aliases_personAliasKey_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAliasKey
        in: path
        required: true
        description: The unique person alias key.
        schema:
          type: string
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPersonAlias'
    put:
      tags:
      - users
      summary: Updates a specific alias on the specific user's person.
      description: 'GraphQL endpoint: usersPersonAliasSet'
      operationId: nsk_v1_users_userKey_person_aliases_personAliasKey_put
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAliasKey
        in: path
        required: true
        description: The unique person alias key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The modified alias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonAliasRequest'
            examples:
              Person Alias Request:
                description: Example request for creating or updating a person's alias.
                value:
                  type: 0
                  first: John
                  middle: Cee
                  last: Doe
                  title: Mr.
                  suffix: null
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Person Alias Key:
                  description: The person alias key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:UpdateFailed
                      message: nsk:Exceptions:UpdateFailed
                      type: Validation
                      details: null
                      rawMessage: Attempted update of object 'PersonAlias' has failed. Please verify this object exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - users
      summary: Patches a specific alias on the specific user's person.
      description: 'GraphQL endpoint: usersPersonAliasModify'
      operationId: nsk_v1_users_userKey_person_aliases_personAliasKey_patch
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAliasKey
        in: path
        required: true
        description: The unique person alias key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The patched alias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPersonAliasRequest'
            examples:
              Person Alias Request:
                description: Example request for creating or updating a person's alias.
                value:
                  type: 0
                  first: John
                  middle: Cee
                  last: Doe
                  title: Mr.
                  suffix: null
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Person Alias Key:
                  description: The person alias key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'personAliasKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        personAliasKey: MTW
                      rawMessage: The identifier 'personAliasKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - users
      summary: Deletes a specific alias on the specific user's person.
      description: 'GraphQL endpoint: usersPersonAliasDelete'
      operationId: nsk_v1_users_userKey_person_aliases_personAliasKey_delete
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personAliasKey
        in: path
        required: true
        description: The unique person alias key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person/comments:
    get:
      tags:
      - users
      summary: Gets all comments from the specific user's person.
      description: 'GraphQL endpoint: usersPersonComments'
      operationId: nsk_v1_users_userKey_person_comments_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPersonComment'
    post:
      tags:
      - users
      summary: Creates a new comment on the specific user's person.
      description: 'GraphQL endpoint: usersPersonCommentAdd'
      operationId: nsk_v1_users_userKey_person_comments_post
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new comment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonCommentRequest'
            examples:
              Person Comment Request:
                description: Example request for creating or updating a person's comment.
                value:
                  text: Comment
                  type: 0
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person/comments/{personCommentKey}:
    get:
      tags:
      - users
      summary: Gets a specific comment from the specific user's person.
      description: 'GraphQL endpoint: usersPersonComment'
      operationId: nsk_v1_users_userKey_person_comments_personCommentKey_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personCommentKey
        in: path
        required: true
        description: The unique person comment key.
        schema:
          type: string
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPersonComment'
    put:
      tags:
      - users
      summary: Updates a specific comment on the specific user's person.
      description: 'GraphQL endpoint: usersPersonCommentSet'
      operationId: nsk_v1_users_userKey_person_comments_personCommentKey_put
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personCommentKey
        in: path
        required: true
        description: The unique person comment key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The modified comment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonCommentRequest'
            examples:
              Person Comment Request:
                description: Example request for creating or updating a person's comment.
                value:
                  text: Comment
                  type: 0
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Person Comment Key:
                  description: The person comment key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:UpdateFailed
                      message: nsk:Exceptions:UpdateFailed
                      type: Validation
                      details: null
                      rawMessage: Attempted update of object 'PersonComment' has failed. Please verify this object exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - users
      summary: Patches a specific comment on the specific user's person.
      description: 'GraphQL endpoint: usersPersonCommentModify'
      operationId: nsk_v1_users_userKey_person_comments_personCommentKey_patch
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personCommentKey
        in: path
        required: true
        description: The unique person comment key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The patched comment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPersonCommentRequest'
            examples:
              Person Comment Request:
                description: Example request for creating or updating a person's comment.
                value:
                  text: Comment
                  type: 0
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Person Comment Key:
                  description: The person comment key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:UpdateFailed
                      message: nsk:Exceptions:UpdateFailed
                      type: Validation
                      details: null
                      rawMessage: Attempted update of object 'PersonComment' has failed. Please verify this object exists.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Null Request:
                  description: Example response when attempting to call the endpoint with a null request
                  value:
                    errors:
                    - id: null
                      code: core:Validation:NullRequest
                      message: The request is null or couldn't be converted to the expected data type.
                      type: Error
                      details: null
                      rawMessage: The request is null or couldn't be converted to the expected data type.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - users
      summary: Deletes a specific comment on the specific user's person.
      description: 'GraphQL endpoint: usersPersonCommentDelete'
      operationId: nsk_v1_users_userKey_person_comments_personCommentKey_delete
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personCommentKey
        in: path
        required: true
        description: The unique person comment key.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid User Key:
                  description: The user key is not valid or does not exist.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:InvalidKey
                      message: The identifier 'userKey' with value 'MTW' is invalid.
                      type: Validation
                      details:
                        userKey: MTW
                      rawMessage: The identifier 'userKey' with value 'MTW' is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '401':
          description: Authorization Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person/emails:
    get:
      tags:
      - users
      summary: Gets all email addresses from the specific user's person.
      description: Gets all email addresses from the specific user's person.
      operationId: nsk_v1_users_userKey_person_emails_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The user key of the user whose email addresses to retrieve.
        schema:
          type: string
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPersonEmail'
    post:
      tags:
      - users
      summary: Creates a new email address on the specific user's person.
      description: 'The "type" property for the request is a single character.  See the "/resources/EmailTypes"

        endpoint for valid email type codes.


        GraphQL endpoint: usersPersonEmailAdd'
      operationId: nsk_v1_users_userKey_person_emails_post
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The new email address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCreateRequest'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/nsk/v1/users/{userKey}/person/emails/{personEmailAddressKey}:
    get:
      tags:
      - users
      summary: Gets a specific email address from the specific user's person.
      description: 'GraphQL endpoint: usersPersonEmail'
      operationId: nsk_v1_users_userKey_person_emails_personEmailAddressKey_get
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personEmailAddressKey
        in: path
        required: true
        description: The unique person email address key.
        schema:
          type: string
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPersonEmail'
    put:
      tags:
      - users
      summary: Updates a specific email address on the specific user's person.
      description: 'GraphQL endpoint: usersPersonEmailSet'
      operationId: nsk_v1_users_userKey_person_emails_personEmailAddressKey_put
      parameters:
      - name: userKey
        in: path
        required: true
        description: The specific user key.
        schema:
          type: string
        x-position: 1
      - name: personEmailAddressKey
        in: path
        required: true
        description: The unique person email address key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The modified email address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - users
      summary: Patches a specific email address on the specific user's person.
      description: 'GraphQL endpoint: usersPersonEmailModify'
      operationId: nsk_v1_users_userKey_person_emails_personEmailAddressKey_patch
      parameters:
      - name: userKey
        in: path
        required: true
        description: The unique user key.
        schema:
          type: string
        x-position: 1
      - name: personEmailAddressKey
        in: path
        required: true
        description: The unique person email address key.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: request
        description: The patched email address.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfEmailEditRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
[...]
