openapi: 3.2.0
info:
  title: Tui Group Settings API
  version: '1.0'
  description: 'Operations tagged settings across 2 of this provider''s published API definitions: tui-group-tui-newskies-digital-api-openapi.yml, tui-group-tui-newskies-gonow-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
- url: https://prod.api.tui/flight/newskies/gonow
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/gonow
  description: TUI Playground
security:
- JWT: []
tags:
- name: settings
paths:
  /api/nsk/v1/settings/booking:
    get:
      tags:
      - settings
      summary: Get the general settings.
      description: 'GraphQL endpoint: settingsBookingGeneral'
      operationId: nsk_v1_settings_booking_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: Authentication is required for this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Role Code:
                  description: Example Error if role code is invalid
                  value:
                    errors:
                    - id: d05ebc4a-2534-428d-bdf0-284876cf8c64
                      code: nsk:Exceptions:OutOfRange
                      message: nsk:Exceptions:OutOfRange
                      type: Validation
                      details: null
                      rawMessage: 'The value ''1234'' is out of range for ''SettingsQueryBase.RoleCode''.

                        Expected values: (ABD1,ABD2,ABD3,ABD4,ABT1,AIKO,AIR,AIRM,APIL,APIM,APOM,APT,APTM,APTS,ASR1,ASR2,ASR3,ASR4,ASRC,AUT2,AUT3,AUTM,BAGR,BKGP,BPR1,CAPP,CFS1,CHAM,CIBR,CIR1,CIR2,CPC1,CSF2,CSNA,DEV,DICR,DOCS,GDS,GN1,GN10,GN11,GN12,GN13,GN2,GN3,GN4,GN5,GN6,GN7,GN8,GN9,GNAG,GNAM,GND,GNP,GNRO,GNTC,GSS,ICON,IROP,IRP1,ISB1,ISB2,JAMS,JR1,JROL,JSR,KIUS,KSKM,MAMA,MAW3,MAWI,MBT1,MBT2,NBD1,NDC1,NDC2,NDCI,NDCM,NDCS,NEH1,NEH2,NEH3,NEH4,NEH5,NEH6,OPSM,PBG1,REPA,REPB,REPM,RES,RESM,RESS,RMEB,RPTA,RPTB,RPTC,RPTD,RPTM,RPTP,RPTU,RPU,SKPM,SYSM,TAMA,TAW3,TC,TIBS,TSM,UPC1,WSER,WWWA,WWWM,XBPS,XFSS,YSA,ZBPS,ZFSS)'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfGeneralSettings'
              examples:
                Retrieve General Settings:
                  description: Example response for successfully retrieving the booking general settings
                  value:
                    data:
                      allowChangeSsrOnCheckedInPassenger: true
                      allowBlockedSeatAssignment: false
                      allowChangeOnRestrictedFlight: false
                      allowPromoCodes: true
                      allowEditableApiChannel: true
                      allowEditableDirectChannel: true
                      allowEditableGdsBookingWithTaPayment: true
                      allowEditableGdsChannel: true
                      allowEditableWebChannel: true
                      allowGroupNameUpdates: true
                      allowManifestRetrievalOnUnblockedFlightLines: true
                      allowOverbookingSsrOnMove: false
                      allowQueueingGdsBookingWithTaFopForETicketReissue: false
                      allowRestrictedSeatAssignment: false
                      allowSeatAssignment: 2
                      bookingAccessControl: 7
                      viewBookingsByControl: 3
                      editBookingsByControl: 3
                      defaultBookingComment: null
                      doNotIncludeUnitProperties: true
                      duplicateBookingDetectionTimeSpan: 00:00:00
                      enableAutomaticSeatAssignment: true
                      highlightFareOverride: 0
                      highlightIrop: 0
                      highlightScheduleChange: 0
                      highlightStandby: 0
                      highlightUpgrade: 0
                      managePassiveSegments: true
                      maskHistory: true
                      reassignSeatingBehavior: 0
                      restrictedExternalSystemCodes: []
                      timeDisplay: 0
                      allowSeatGroupRestrictionOverride: true
                      allowAccessToComments: true
                      sharedCommentTypes:
                        reservation: true
                        itinerary: true
                        manifest: true
                        alert: true
                      allowOverrideOfSalesChannel: true
                      autoFillContactInformationByPhoneNumber: false
                      allowAccessToArchivedBooking: true
                      allowQueueBookingsOnSpecifiedLeg: false
                      queueFlightOpenTimeSpan: 00:00:00
                      queueFlightCloseTimeSpan: 00:00:00
                      allowReleaseHeldSessionSeat: false
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/booking/checkin:
    get:
      tags:
      - settings
      summary: Get the checkin settings.
      description: 'GraphQL endpoint: settingsBookingCheckIn'
      operationId: nsk_v1_settings_booking_checkin_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCheckInSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/booking/contact:
    get:
      tags:
      - settings
      summary: Get the contact settings.
      description: 'GraphQL endpoint: settingsBookingContactv2'
      operationId: nsk_v1_settings_booking_contact_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfContactSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/booking/customerAccount:
    get:
      tags:
      - settings
      summary: Gets the role-based customer account settings.
      description: 'GraphQL endpoint: settingsBookingCustomerAccountv2'
      operationId: nsk_v1_settings_booking_customerAccount_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Role Code:
                  description: Example Error if role code is invalid
                  value:
                    errors:
                    - id: d05ebc4a-2534-428d-bdf0-284876cf8c64
                      code: nsk:Exceptions:OutOfRange
                      message: nsk:Exceptions:OutOfRange
                      type: Validation
                      details: null
                      rawMessage: 'The value ''1234'' is out of range for ''SettingsQueryBase.RoleCode''.

                        Expected values: (ABD1,ABD2,ABD3,ABD4,ABT1,AIKO,AIR,AIRM,APIL,APIM,APOM,APT,APTM,APTS,ASR1,ASR2,ASR3,ASR4,ASRC,AUT2,AUT3,AUTM,BAGR,BKGP,BPR1,CAPP,CFS1,CHAM,CIBR,CIR1,CIR2,CPC1,CSF2,CSNA,DEV,DICR,DOCS,GDS,GN1,GN10,GN11,GN12,GN13,GN2,GN3,GN4,GN5,GN6,GN7,GN8,GN9,GNAG,GNAM,GND,GNP,GNRO,GNTC,GSS,ICON,IROP,IRP1,ISB1,ISB2,JAMS,JR1,JROL,JSR,KIUS,KSKM,MAMA,MAW3,MAWI,MBT1,MBT2,NBD1,NDC1,NDC2,NDCI,NDCM,NDCS,NEH1,NEH2,NEH3,NEH4,NEH5,NEH6,OPSM,PBG1,REPA,REPB,REPM,RES,RESM,RESS,RMEB,RPTA,RPTB,RPTC,RPTD,RPTM,RPTP,RPTU,RPU,SKPM,SYSM,TAMA,TAW3,TC,TIBS,TSM,UPC1,WSER,WWWA,WWWM,XBPS,XFSS,YSA,ZBPS,ZFSS)'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCustomerAccountSettings'
              examples:
                Retrieve Customer Account Settings:
                  description: Example response for successfully retrieving the booking customer account settings
                  value:
                    data:
                      allowCustomerMerge: true
                      allowCustomerProgram: true
                      allowSeatLocationOption: true
                      customerAccessControl: 1
                      defaultCustomerNotificationPreference: 0
                      defaultSeatPreference: 0
                      disableCustomerAddress: 0
                      disableCustomerCurrency: 1
                      disableCustomerDateOfBirth: 0
                      disableCustomerEmail: 1
                      disableCustomerFax: 1
                      disableCustomerLanguage: 1
                      disableCustomerNationality: 1
                      disableCustomerNotificationPreference: 1
                      disableCustomerPayment: 0
                      disableCustomerPhone: 1
                      disableCustomerResidentCountry: 1
                      disableCustomerTitle: 1
                      disableCustomerType: 0
                      allowAgentToModifyProgramLevel: true
                      maskCustomerName: true
                      maskCustomerSuffix: true
                      maskTravelDocumentDetails: true
                      maskCustomerWebUserId: true
                      maskCustomerGender: true
                      maskAffiliation: true
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/booking/fee:
    get:
      tags:
      - settings
      summary: Get the fee settings.
      description: 'GraphQL endpoint: settingsBookingFee'
      operationId: nsk_v1_settings_booking_fee_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfFeeSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/booking/flightSearch:
    get:
      tags:
      - settings
      summary: Get the flight search settings.
      description: 'GraphQL endpoint: settingsBookingFlightSearch'
      operationId: nsk_v1_settings_booking_flightSearch_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfFlightSearchSettings'
    post:
      tags:
      - settings
      summary: Create the flight search settings.
      description: 'GraphQL endpoint: settingsBookingFlightSearchAdd'
      operationId: nsk_v1_settings_booking_flightSearch_post
      requestBody:
        x-name: query
        description: The role code query.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCodeQuery'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - settings
      summary: Edit the role based flight search settings.
      description: 'GraphQL endpoint: settingsBookingFlightSearchSet'
      operationId: nsk_v1_settings_booking_flightSearch_put
      parameters:
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 1
      requestBody:
        x-name: request
        description: The flight search settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlightSearchSettings'
        required: true
        x-position: 2
      responses:
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - settings
      summary: Patches the role based flight search settings.
      description: 'GraphQL endpoint: settingsBookingFlightSearchModify'
      operationId: nsk_v1_settings_booking_flightSearch_patch
      parameters:
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 1
      requestBody:
        x-name: request
        description: The flight search settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfFlightSearchSettings'
        required: true
        x-position: 2
      responses:
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/booking/general:
    get:
      tags:
      - settings
      summary: Gets the non-role based general booking settings.
      description: 'GraphQL endpoint: generalBookingSettings'
      operationId: nsk_v1_settings_booking_general_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfGeneralBookingSettings'
              examples:
                Retrieve General Booking Settings Response:
                  description: Example response for successfully retrieving the general booking settings.
                  value:
                    data:
                      maximumAgeForInfantInLap: 24
                      useDirectCurrencyConversion: true
                      clearInfantDetailsWhenInfantInLapIsDeleted: true
                      mixedClassRouteFaresEnabled: true
                      sumOfSectorFaresEnabled: true
                      sumOfSectorProductClassPreCompression: true
                      sellSeatSsrBeforeAssignment: true
                      applyAllUpPricingGlobally: true
                      repriceWhenCustomerProgramIsChanged: true
                      recalculateHoldWithBookingChanges: true
                      preventCommitBookingWithCancelledInventory: true
                      defaultCarrierCode: NV
                      defaultBookingSubQueueCode: Unknwn
                      maximumNumberOfMarkets: 6
                      interlineHoldBeforeDeparture: 2880
                      warningTimeBeforeHoldCancel: 0
                      interlineConnectionPartners: G3
                      applyFareForInLapInfantWithPassengerType: ' '
                      validateMaximumAgeBy: FirstSegment
                      validateMinimumAgeBy: FirstSegment
                      indiaGstRegistrationContactType: None
                      enforceStandardGroupBooking: true
                      storeConfirmingWaivedFees: true
                      personallyIdentifiableInformationMasking: true
                      lowFareCacheMode: null
                      retrieveFareInformationFromGeneralReferenceManagement: true
                      enableGenderNeutral: true
                      storeDeletedManuallyAddedFees: true
                      invalidNameCharacters: '@'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/booking/passenger:
    get:
      tags:
      - settings
      summary: Get the passenger settings.
      description: 'GraphQL endpoint: settingsBookingPassenger'
      operationId: nsk_v1_settings_booking_passenger_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPassengerSettings'
    post:
      tags:
      - settings
      summary: Create the passenger info settings.
      description: 'GraphQL endpoint: settingsBookingPassengerAdd'
      operationId: nsk_v1_settings_booking_passenger_post
      requestBody:
        x-name: query
        description: The role code query.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCodeQuery'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - settings
      summary: Edit the role based passenger info settings.
      description: 'GraphQL endpoint: settingsBookingPassengerSet'
      operationId: nsk_v1_settings_booking_passenger_put
      parameters:
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 1
      requestBody:
        x-name: request
        description: The passenger settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerSettings'
        required: true
        x-position: 2
      responses:
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    patch:
      tags:
      - settings
      summary: Patches the role based passenger info settings.
      description: 'GraphQL endpoint: settingsBookingPassengerModify'
      operationId: nsk_v1_settings_booking_passenger_patch
      parameters:
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 1
      requestBody:
        x-name: request
        description: The passenger settings request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfPassengerSettings'
        required: true
        x-position: 2
      responses:
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/settings/booking/payment:
    get:
      tags:
      - settings
      summary: Get the role based booking payment settings.
      description: 'GraphQL endpoint: settingsBookingPaymentv2'
      operationId: nsk_v2_settings_booking_payment_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Role Code:
                  description: Example Error if role code is invalid
                  value:
                    errors:
                    - id: d05ebc4a-2534-428d-bdf0-284876cf8c64
                      code: nsk:Exceptions:OutOfRange
                      message: nsk:Exceptions:OutOfRange
                      type: Validation
                      details: null
                      rawMessage: 'The value ''1234'' is out of range for ''SettingsQueryBase.RoleCode''.

                        Expected values: (ABD1,ABD2,ABD3,ABD4,ABT1,AIKO,AIR,AIRM,APIL,APIM,APOM,APT,APTM,APTS,ASR1,ASR2,ASR3,ASR4,ASRC,AUT2,AUT3,AUTM,BAGR,BKGP,BPR1,CAPP,CFS1,CHAM,CIBR,CIR1,CIR2,CPC1,CSF2,CSNA,DEV,DICR,DOCS,GDS,GN1,GN10,GN11,GN12,GN13,GN2,GN3,GN4,GN5,GN6,GN7,GN8,GN9,GNAG,GNAM,GND,GNP,GNRO,GNTC,GSS,ICON,IROP,IRP1,ISB1,ISB2,JAMS,JR1,JROL,JSR,KIUS,KSKM,MAMA,MAW3,MAWI,MBT1,MBT2,NBD1,NDC1,NDC2,NDCI,NDCM,NDCS,NEH1,NEH2,NEH3,NEH4,NEH5,NEH6,OPSM,PBG1,REPA,REPB,REPM,RES,RESM,RESS,RMEB,RPTA,RPTB,RPTC,RPTD,RPTM,RPTP,RPTU,RPU,SKPM,SYSM,TAMA,TAW3,TC,TIBS,TSM,UPC1,WSER,WWWA,WWWM,XBPS,XFSS,YSA,ZBPS,ZFSS)'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBookingPaymentSettingsv2'
              examples:
                Retrieve Booking Payment Settings v2:
                  description: Example response for successfully retrieving the booking payment settings v2
                  value:
                    data:
                      allowExternalPaymentChargeBack: true
                      allowHoldDateOverride: true
                      allowIgnoreVoucherRestrictions: true
                      allowVoucherIssuance: true
                      allowManualAuthorization: true
                      allowOverPay: true
                      allowUnderPay: true
                      allowUnvoidVoucher: true
                      allowUseOfBinFraudTool: true
                      allowVoidVoucher: true
                      enableAutoPaymentVerification: true
                      allowConfirmBookingWithPartialTicketing: true
                      allowUnmaskingCreditCardNumber: true
                      allowDisplayNoPaymentWarning: true
                      requirePassengerOrContactForCreditFile: true
                      requirePassengerOrContactForCreditShell: true
                      requireCommentsForCreditShell: true
                      disableAlternateAgAccount: true
                      creditShellCreditCode: BKGI30
                      maxInstallmentOverride: 1
                      maxPaymentQueries: 1
                      secondsTillStartPaymentQuery: 1
                      secondsTillRepeatPaymentQuery: 1
                      holdsDaysBeforeDeparture: 10.00:00:00
                      holdsDaysAfterDeparture: -00:01:00
                      allowPendingCustomerActionAuthorization: true
                      allowManualAuthorizationOfPendingPaymentWithoutValidation: false
                      maskPaymentFields: true
                      allowManualAuthorizationOfPaymentStatuses:
                      - 3
                      - 2
                      - 6
                      - 4
                      displayVoucherNumber: true
                      allowOverPayWithVoucherPayment: true
                      allowVoucherOwnerUpdate: true
    post:
      tags:
      - settings
      summary: BETA - Create the booking payment settings based on the parent role code.
      description: 'This is a beta endpoint and is not currently a long term supported endpoint. This endpoint may

        be removed in future updates. Beta endpoints are not available in all labs or for all customers of the API.

        This endpoint is part of the Allow Edit on Settings And Resources feature that is currently in progress.

        See /api/nsk/v1/resources/roles/{roleCode}/settings to verify if settings have been configured for this role.

        Even without unique settings being configured for a role the GET call will always return data due to it returning

        the effective permissions of the role.

        This can potentially be based on the parent roles.


        GraphQL endpoint: settingsBookingPaymentAdd'
      operationId: nsk_v2_settings_booking_payment_post
      parameters:
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    put:
      tags:
      - settings
      summary: BETA - Edit the role based booking payment settings.
      description: 'This is a beta endpoint and is not currently a long term supported endpoint. This endpoint may

        be removed in future updates. Beta endpoints are not available in all labs or for all customers of the API.

        This endpoint is part of the Allow Edit on Settings And Resources feature that is currently in progress.


        GraphQL endpoint: settingsBookingPaymentSet'
      operationId: nsk_v2_settings_booking_payment_put
      parameters:
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 1
      requestBody:
        x-name: request
        description: The new booking payment settings.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingPaymentSettingsv2'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingPaymentSettingsv2'
    patch:
      tags:
      - settings
      summary: BETA - Partially edit the role based booking payment settings.
      description: 'This is a beta endpoint and is not currently a long term supported endpoint. This endpoint may

        be removed in future updates. Beta endpoints are not available in all labs or for all customers of the API.

        This endpoint is part of the Allow Edit on Settings And Resources feature that is currently in progress.


        GraphQL endpoint: settingsBookingPaymentModify'
      operationId: nsk_v2_settings_booking_payment_patch
      parameters:
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 1
      requestBody:
        x-name: request
        description: The new booking payment settings.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfBookingPaymentSettingsv2'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingPaymentSettingsv2'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/booking/paymentCodes:
    get:
      tags:
      - settings
      summary: Gets the role-based booking payment codes settings.
      description: 'GraphQL endpoint: settingsBookingPaymentCodes'
      operationId: nsk_v1_settings_booking_paymentCodes_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBookingPaymentCodesSettings'
              examples:
                Booking Payment Codes Settings:
                  description: Example response for successfully retrieving the booking payment codes settings.
                  value:
                    data:
                      voucherConfigurationCodes:
                      - VOUCH1
                      - XVOUCH
                      - VOUCHR
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/booking/reserveFlights:
    get:
      tags:
      - settings
      summary: Get the reserve flight settings.
      description: 'GraphQL endpoint: settingsReserveFlights'
      operationId: nsk_v1_settings_booking_reserveFlights_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Role Code:
                  description: Example Error if role code is invalid
                  value:
                    errors:
                    - id: d05ebc4a-2534-428d-bdf0-284876cf8c64
                      code: nsk:Exceptions:OutOfRange
                      message: nsk:Exceptions:OutOfRange
                      type: Validation
                      details: null
                      rawMessage: 'The value ''1234'' is out of range for ''SettingsQueryBase.RoleCode''.

                        Expected values: (ABD1,ABD2,ABD3,ABD4,ABT1,AIKO,AIR,AIRM,APIL,APIM,APOM,APT,APTM,APTS,ASR1,ASR2,ASR3,ASR4,ASRC,AUT2,AUT3,AUTM,BAGR,BKGP,BPR1,CAPP,CFS1,CHAM,CIBR,CIR1,CIR2,CPC1,CSF2,CSNA,DEV,DICR,DOCS,GDS,GN1,GN10,GN11,GN12,GN13,GN2,GN3,GN4,GN5,GN6,GN7,GN8,GN9,GNAG,GNAM,GND,GNP,GNRO,GNTC,GSS,ICON,IROP,IRP1,ISB1,ISB2,JAMS,JR1,JROL,JSR,KIUS,KSKM,MAMA,MAW3,MAWI,MBT1,MBT2,NBD1,NDC1,NDC2,NDCI,NDCM,NDCS,NEH1,NEH2,NEH3,NEH4,NEH5,NEH6,OPSM,PBG1,REPA,REPB,REPM,RES,RESM,RESS,RMEB,RPTA,RPTB,RPTC,RPTD,RPTM,RPTP,RPTU,RPU,SKPM,SYSM,TAMA,TAW3,TC,TIBS,TSM,UPC1,WSER,WWWA,WWWM,XBPS,XFSS,YSA,ZBPS,ZFSS)'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfReserveFlightsSettings'
              examples:
                Retrieve Booking Reserve Flights Settings:
                  description: Example response for successfully retrieving the booking reserve flights settings
                  value:
                    data:
                      availabilityDepartureTimeLimit: -41.15:00:00
                      availabilityMaxDaysOut: 60.00:00:00
                      sellDepartureTimeLimit: -416.15:00:00
                      availableSpaceDisplayMax: 0
                      flightTimeChangeToleranceMinutes: 0
                      viewCapacity: false
                      viewLidSold: false
                      viewSsrAvailability: true
                      viewManifestControl: 2
                      adHocFlightControl: 0
                      allowSellOverbook: 0
                      allowMoveOverbook: 0
                      allowUpgradeOverbook: 0
                      allowSplitJourneyMoves: false
                      allowMove: 2
                      moveByMaximumClassAvailability: true
                      requireSameCityPairOnMoves: false
                      maxMoveDaysForward: 365.00:00:00
                      maxMoveDaysBack: 365.00:00:00
                      daysBeforeIrop: 365.00:00:00
                      allowFareOverride: true
                      allowClosedFlightFareOverride: true
                      allowFareOverrideDuringDivide: true
                      allowIgnoreRestrictions: true
                      allowInvalidPriceStatus: true
                      cancelDepartureTimeLimit: -1000.00:00:00
                      seatAssignmentTimeLimit: -05:00:00
                      allowUpgrade: false
                      allowCreateAdhocConnect: true
                      minimumTimeBetweenFlightsEnforcement: true
                      upgradeDepartureTimeLimit: 01:00:00
                      upgradeCabinStartOffset: 208.08:00:00
                      minimumTimeBetweenFlights: 00:00:00
                      modifyPassiveSegmentTimes: true
                      allowSellOfFlightOverlap: false
                      availabilityMaxDate: '9999-12-31T23:59:59.9999999'
                      allowedFareOverrideType: 2
                      allowMoveOnInitialBooking: false
                      allowDowngrade: true
                      allowDowngradeOverbook: 3
                      allowRestoreOverbook: 0
                      enableCheckValidPrice: true
                      enableTroubleshootingButton: true
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/customerPrograms:
    get:
      tags:
      - settings
      summary: Gets customer program settings.
      description: 'GraphQL endpoint: settingsCustomerProgram'
      operationId: nsk_v1_settings_customerPrograms_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCustomerProgramSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/eTickets:
    get:
      tags:
      - settings
      summary: Gets the non-role based e-ticket configuration.
      description: 'GraphQL endpoint: settingsETickets'
      operationId: nsk_v1_settings_eTickets_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfETicketConfiguration'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/externalMessageControls:
    get:
      tags:
      - settings
      summary: Gets the external message control settings.
      description: 'GraphQL endpoint: settingsExternalMessageControls'
      operationId: nsk_v1_settings_externalMessageControls_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfExternalMessageControls'
              examples:
                Retrieve External Message Controls Settings:
                  description: Example response for successfully retrieving the external message controls settings
                  value:
                    data:
                      carrierCodes:
                      - NV
                      - AD
                      - JQ
                      - '40'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/general/applicationLogon:
    get:
      tags:
      - settings
      summary: Retrieves the logon settings.
      description: 'GraphQL endpoint: settingsApplicationLogon'
      operationId: nsk_v1_settings_general_applicationLogon_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfLogonSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/general/codes:
    get:
      tags:
      - settings
      summary: Retrieves the codes settings.
      description: 'GraphQL endpoint: settingsCodes'
      operationId: nsk_v1_settings_general_codes_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCodesSettings'
              examples:
                Retrieve Code Settings:
                  description: Example response for successfully retrieving the code settings
                  value:
                    data:
                      allowedPaymentMethodsForFraudPrevention:
                        a3\ExternalAccount: true
                        aC\PrePaid: false
                      automaticMoveNestOverbookClasses:
                      - ASCAR
                      - AD
                      - XY
                      editableRuleTypes:
                      - AgencyPOSControls
                      - AvailabilitySource
                      - BaggageAllowance
                      - BaggageCheckInRestrictionContext
                      - BaggageJourneyMarketRank
                      - BarcodeFastTrackConfiguration
                      externalPaymentValidationOverrides:
                        a3\ExternalAccount: true
                        aC\PrePaid: false
                      overrideFeeTypes:
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      paymentFieldOverrides:
                        a3\ExternalAccount:
                          amount: 1
                          accountNumber: 1
                          cvv: 0
                      privateTravelQueueCategory: 1
                      publicTravelQueueCategory: 2
                      refundablePaymentMethodCodes:
                      - A3\ExternalAccount
                      - AC\PrePaid
                      - AG\AgencyAccount
                      - AP\ExternalAccount
                      spoilFeeTypes:
                      - 1
                      - 3
                      - 4
                      - 5
                      - 6
                      classOfServices:
                      - AC
                      - BA
                      - CC
                      depositPaymentTypes:
                      - A3\ExternalAccount
                      - AC\PrePaid
                      - AG\AgencyAccount
                      - AP\ExternalAccount
                      fareTypes:
                      - R
                      - AP
                      - B
                      - C
                      - D
                      - DE
                      - DF
                      - DG
                      - EX
                      - F
                      - FC
                      - M
                      - PE
                      - S
                      - SH
                      - SL
                      - US
                      - W
                      - X
                      passengerDiscountCodes:
                      - 5P
                      - ADT
                      - ALPX
                      - CHLD
                      - CORP
                      - EXT
                      - FRQF
                      - INET
                      - MLTY
                      - NK1
                      - NK2
                      - NK3
                      - NK4
                      - SNR
                      - VIP
                      passengerTypeCodes:
                      - ADT
                      - CHD
                      - INF
                      - MLT
                      - SRC
                      paymentMethodCodes:
                      - A3\ExternalAccount
                      - AC\PrePaid
                      - AG\AgencyAccount
                      - AP\ExternalAccount
                      - AX\ExternalAccount
                      - BN\ExternalAccount
                      penaltyFeeCodes:
                      - AFLY
                      - APOPF
                      - CGX
                      - CHF1
                      - CHG
                      productClasses:
                      - 2C
                      - 2Y
                      - A1
                      - A2
                      - A3
                      - A4
                      queueCategoryCodes:
                        a: 1
                        b: 2
                        c: 3
                      sellSsrCodes:
                      - 1BAG
                      - 1BGP
                      - 2BAG
                      - 2BGP
                      serviceFeeCodes:
                      - AKFEE1
                      - APOSF
                      - APOSFC
                      - ASFE
                      standbyClassOfServiceCodes:
                      - AC
                      - BA
                      - CC
                      stationCategories:
                      - A
                      - B
                      - C
                      viewableSeatProperties:
                      - AISLE
                      - AMBIANCE/SOCIAL
                      - AMBIANCE/BUSINESS
                      - AMBIANCE/FAMILY
                      waiveFeeTypes:
                      - 1
                      - 3
                      - 4
                      - 5
                      - 6
                      defaultFareType: R
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/general/operations:
    get:
      tags:
      - settings
      summary: Retrieves the operations settings.
      description: 'GraphQL endpoint: operationsSettings'
      operationId: nsk_v1_settings_general_operations_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Role Code:
                  description: Example Error if role code is invalid
                  value:
                    errors:
                    - id: d05ebc4a-2534-428d-bdf0-284876cf8c64
                      code: nsk:Exceptions:OutOfRange
                      message: nsk:Exceptions:OutOfRange
                      type: Validation
                      details: null
                      rawMessage: 'The value ''1234'' is out of range for ''SettingsQueryBase.RoleCode''.

                        Expected values: (ABD1,ABD2,ABD3,ABD4,ABT1,AIKO,AIR,AIRM,APIL,APIM,APOM,APT,APTM,APTS,ASR1,ASR2,ASR3,ASR4,ASRC,AUT2,AUT3,AUTM,BAGR,BKGP,BPR1,CAPP,CFS1,CHAM,CIBR,CIR1,CIR2,CPC1,CSF2,CSNA,DEV,DICR,DOCS,GDS,GN1,GN10,GN11,GN12,GN13,GN2,GN3,GN4,GN5,GN6,GN7,GN8,GN9,GNAG,GNAM,GND,GNP,GNRO,GNTC,GSS,ICON,IROP,IRP1,ISB1,ISB2,JAMS,JR1,JROL,JSR,KIUS,KSKM,MAMA,MAW3,MAWI,MBT1,MBT2,NBD1,NDC1,NDC2,NDCI,NDCM,NDCS,NEH1,NEH2,NEH3,NEH4,NEH5,NEH6,OPSM,PBG1,REPA,REPB,REPM,RES,RESM,RESS,RMEB,RPTA,RPTB,RPTC,RPTD,RPTM,RPTP,RPTU,RPU,SKPM,SYSM,TAMA,TAW3,TC,TIBS,TSM,UPC1,WSER,WWWA,WWWM,XBPS,XFSS,YSA,ZBPS,ZFSS)'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfOperationsSettings'
              examples:
                Retrieve Operations Settings:
                  description: Example response for successfully retrieving the operations settings
                  value:
                    data:
                      overrideOverWingExitRowRequirement: true
                      iropFromDepartureDateOffset: 10.00:00:00
                      allowDiversionIrop: true
                      allowConsoleIrop: true
                      allowCreateAdHocConnectionsInIrop: true
                      allowIropOversellOnToFlight: true
                      flightFollowingAccessControl: 7
                      allowAircraftMishapUtilityAccess: true
                      allowCheckedBaggageWeightChange: true
                      allowOpeningOfClosedFlights: true
                      timeBeforeDepartureThatCloseFlightIsAllowed: 10.00:00:00
                      timeAfterDepartureThatOpenFlightIsAllowed: 10.00:00:00
                      allowClearPassengerDataInAircraftMishap: true
                      allowRestorePassengerDataInAircraftMishap: true
                      allowInventoryStatusChange: true
                      adHocFromCurrentDateOffset: 10.00:00:00
                      bagDropMode: 0
                      allowCrewBagAccess: true
                      allowRushBagAccess: true
                      allowCrewBagCheckInWhenFlightIsClosedPending: true
                      allowRushBagCheckInWhenFlightIsClosedPending: true
                      allowMarketingCheckIn: true
                      verifyAPISInternationalFlight: true
                      allowInventorySSRMaintenanceUpdate: true
                      allowInventoryRecordMaintenanceUpdate: true
                      allowCancelRestoreInventory: true
                      allowDiversionAdHoc: true
                      allowManageTailNumber: true
                      allowEquipmentSwapUtilityAccess: true
                      allowRZAccess: true
                      allowUpdateStandbyPriorityCode: true
                      allowManageVoucher: true
                      flightInformationPermissions: 1
                      allowSegmentsByTime: true
                      allowBaggageTrackingAccess: true
                      enableFlightSearchRestrictionByOrigin: true
                      allowBaggageModeSwitchToIBCMode: true
                      daysForwardAllowedForSearchingCheckInAndReports: 30.00:00:00
                      daysPriorAllowedForSearchingCheckInAndReports: 30.00:00:00
                      sendAPISReport: true
                      watchList:
                        allowViewForWatchList: true
                        allowDetailViewForWatchList: true
                        allowClearPassengerFromWatchList: true
                      programs:
                        sendSITAMessage: true
                        sendMessage: true
                        adHocScheduleInventoryConnections: true
                        allowCAPPSReportAccess: true
                        allowCheckInSelectee: true
                      reports:
                        enplanementDeplanement: true
                        manifestConnectionInfo: true
                        manifestDetailedInfo: true
                        flightLoad: true
                        checkIn: true
                        aircraftZone: true
                        seatAssignment: true
                        flightClose: true
                        paymentReceipt: true
                        paymentReceiptConfigurations:
                          displayLocationPrompt: true
                        checkedBaggage: true
                        availability: true
                        bagWeightByLeg: true
                        selecteesByFlight: true
                        mealFulfillment: true
                        flightManifest: true
                        flightManifestConfigurations:
                          identifySelecteePassengers: true
                          identifyPassengersWithBalanceDue: true
                        prePostFlightManifest: true
                        cabinServiceArea: true
                        displayPNRInCabinServiceAreaAndMealFulfillmentReports: true
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/general/organization:
    get:
      tags:
      - settings
      summary: Gets the organization settings.
      description: 'GraphQL endpoint: settingsOrganization'
      operationId: nsk_v1_settings_general_organization_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfOrganizationSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/general/session:
    get:
      tags:
      - settings
      summary: Retrieves the session settings.
      description: 'GraphQL endpoint: settingsSession'
      operationId: nsk_v1_settings_general_session_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfSessionSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/itinerary:
    get:
      tags:
      - settings
      summary: Gets the itinerary settings.
      description: 'GraphQL endpoint: itinerarySettings'
      operationId: nsk_v1_settings_itinerary_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfItinerarySettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/loyalty:
    get:
      tags:
      - settings
      summary: Gets the non-role based loyalty settings.
      description: 'GraphQL endpoint: settingsLoyalty'
      operationId: nsk_v1_settings_loyalty_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfLoyaltySettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/notifications/general:
    get:
      tags:
      - settings
      summary: Gets the general New Skies notification settings.
      description: 'GraphQL endpoint: settingsGeneralNotifications'
      operationId: nsk_v1_settings_notifications_general_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfGeneralNotificationsSettings'
              examples:
                Retrieve Notifications Settings:
                  description: Example response for successfully retrieving the notifications settings
                  value:
                    data:
                      enableTicketControlNumberNotifications: true
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/payment:
    get:
      tags:
      - settings
      summary: Get the non role based payment settings.
      description: 'GraphQL endpoint: settingsPayment'
      operationId: nsk_v1_settings_payment_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPaymentSettings'
              examples:
                Retrieve General Payment Settings Response:
                  description: Example response for successfully retrieving the general payment settings.
                  value:
                    data:
                      defaultCommentForCreditShell: comment
                      webDeclinedPaymentHoldPeriod: 15
                      directDeclinedPaymentHoldPeriod: 1
                      gdsDeclinedPaymentHoldPeriod: 11
                      apiDeclinedPaymentHoldPeriod: 2
                      autoCancelChargeBackPaymentHolds: true
                      allowZeroAmountFormOfPayment: true
                      includeInFirstInstallmentFeeCodes:
                      - PF01
                      - PFAU5
                      - PFAU6
                      retainHoldStatusUntilPaymentAuthorization: true
                      validateCurrencyEnforcedAgainstPaymentType: 1
                      numberOfDeclinedRefundAndReverseAttempts: 0
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/phoneNumberValidation:
    get:
      tags:
      - settings
      summary: Gets the non-role based phone number validation settings.
      description: 'GraphQL endpoint: settingsPhoneNumberValidation'
      operationId: nsk_v1_settings_phoneNumberValidation_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPhoneNumberValidationSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/settings/premiumServices:
    get:
      tags:
      - settings
      summary: Retrieves the premium services settings.
      description: 'GraphQL endpoint: settingsPremiumServicesv2'
      operationId: nsk_v2_settings_premiumServices_get
      parameters:
      - name: eTag
        in: query
        description: The unique etag ID.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPremiumServicesSettingsv2'
              examples:
                Retrieve Premium Services Settings:
                  description: Example response for successfully retrieving the premium services settings
                  value:
                    data:
                      governmentDataProtectionRequirements: true
                      accessToExternalBaggageSystems: true
                      unitedKingdomInteractiveAdvancePassengerProcessing: true
                      advancedParentChildTravelAgencyManagement: true
                      doNotPersistExternalPaymentDetails: false
                      baggageSelfTagging: true
                      loyaltyCustomerAccountView: true
                      pricingOptimizationServices: true
                      secureFlight: true
                      allInclusivePricingDisplay: true
                      numericAddressVerificationService: true
                      koreanInteractiveAdvancePassengerProcessing: true
                      taiwanInteractiveAdvancePassengerProcessing: true
                      canadaInteractiveAdvancePassengerProcessing: true
                      attributeShopping: true
                      documentCheckConfiguration: true
                      transmitFareDataToAirlineTariffPublishingCompany: true
                      travelNotifications: true
                      bundles: true
    put:
      tags:
      - settings
      summary: BETA - Edit the premium service settings.
      description: 'This is a beta endpoint and is not currently a long term supported endpoint. This endpoint may

        be removed in future updates. Beta endpoints are not available in all labs or for all customers of the API.

        This endpoint is part of the Allow Edit on Settings And Resources feature that is currently in progress.

        This functionality is restricted to System Master users only.'
      operationId: nsk_v2_settings_premiumServices_put
      requestBody:
        x-name: request
        description: The new booking payment settings.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PremiumServicesSettingsv2'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/serviceBundles:
    get:
      tags:
      - settings
      summary: Gets the service bundles settings.
      description: 'GraphQL endpoint: settingsServiceBundles'
      operationId: nsk_v1_settings_serviceBundles_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfServiceBundlesSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/settings/skySpeed:
    get:
      tags:
      - settings
      summary: Retrieves the role-based and non-role based SkySpeed settings.
      description: 'GraphQL endpoint: settingsSkySpeedv2'
      operationId: nsk_v2_settings_skySpeed_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfSkySpeedSettingsv2'
              examples:
                Retrieve SkySpeed Settings v2:
                  description: Example response for successfully retrieving the SkySpeed settings v2
                  value:
                    data:
                      disableBaseCurrency: false
                      manifestViewDate: 0
                      disableOutboundTime: true
                      maximumNumberOfTtyMessagesPerBatchForDeletion: 1000
                      excludeOutboundTimeTab: true
                      postalCodeLookup: 0
                      disableReturnTime: true
                      serviceServerName: 0
                      excludeReturnTimeTab: true
                      enableViewPaymentAllocation: true
                      enableShowValidFaresCheckbox: true
                      fareBasisInRegularBooking: 9
                      fareBasisInOverbook: 9
                      displayReservedFlights: true
                      displaySsrNestValues: true
                      defaultFocusToCustomerIdField: true
                      allowDeleteComments: true
                      promptCreateInternetUserId: true
                      allowManagePasswordForCustomerAccount: true
                      viewFareQuote: true
                      allowNonCarrierOrgToUseOtherAgency: true
                      viewTeletypeProcessing: true
                      viewGdsHistoryDialog: true
                      returnDateDefaultToOutboundDate: true
                      displayFyiNotesOnLogin: true
                      displayResidentCountry: true
                      displayPricesByPassengerType: null
                      defaultToCustomerCreditCard: true
                      forceViewMandatoryComments: true
                      showTravelDocumentsOnPassengersScreen: true
                      showDestinationAddressesOnPassengersScreen: true
                      showFrequentFlyerNumberOnPassengersScreen: true
                      showMealSsrButtonOnPassengersScreen: true
                      allowETicketing: true
                      allowFeesToBeDeleted: true
                      displayReferenceNumber: true
                      enableLoyaltyCustomerAccountView: true
                      enableLoyaltyFareDisplay: true
                      displayETicketRecords: true
                      allowETicketCouponStatusToBeUpdated: true
                      enableRepriceButtonOnReservedFlightsScreen: true
                      enableSplitCancelButtonOnReservedFlightsScreen: true
                      allowTravelNotificationsAccess: true
                      allowThemeEditorAccess: true
                      allowBlacklistAccessAndRetrieveReservationsFromPayments: true
                      maskBookingContactInformation: false
                      accessToFlightsWithTrafficRestrictions: true
                      enabledTicketCodes: null
                      reservationComments: null
                      itineraryComments: null
                      manifestComments: null
                      enableDeletePassengerButton: true
                      showMultiCityShoppingTabOnAvailabilityRequestScreen: true
                      allowTcpOnDemand: true
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/system/general:
    get:
      tags:
      - settings
      summary: Gets the role-based general system settings.
      description: 'GraphQL endpoint: settingsGeneralSystem'
      operationId: nsk_v1_settings_system_general_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Settings not found.:
                  description: Example when the settings cannot be retrieved.
                  value: null
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Matching ETag:
                  description: Response when an ETag is provided and the cached data still matches.
                  value: null
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfGeneralSystemSettings'
              examples:
                Retrieve General System Settings:
                  description: Example response for successfully retrieving the general system settings
                  value:
                    data:
                      manageFYIContent: 7
                      manageGeneralReferenceManagement: 7
                      allowAccessToFyiContent: true
                      manageQueues: 7
                      allowAgentToEmptyBookingQueues: true
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/systemConfiguration/finance:
    get:
      tags:
      - settings
      summary: Retrieves the session system configuration finance setting.
      description: 'GraphQL endpoint: systemConfigurationFinance'
      operationId: nsk_v1_settings_systemConfiguration_finance_get
      parameters:
      - name: ETag
        in: query
        description: "The cache eTag for this request.\n            "
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: RoleCode
        in: query
        description: "Gets or sets the role code for this request.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 4
          minLength: 1
        x-position: 2
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfFinanceSettings'
              examples:
                Retrieve System Configuration Finance:
                  description: Example response for successfully retrieving the system configuration - finance settings
                  value:
                    data:
                      financeAccess: 7
                      financeData:
                        manageAccounts: 2
                        manageCreditTypes: 6
                        manageCurrency: 4
                        manageFareDiscountCodes: 0
                        manageFareSurcharges: 1
                        managePaymentTypes: 5
                        managePromotionCodes: 7
                        manageTaxesAndFees: 1
                        allowAgentToImportFeeVariations: true
                        manageVouchers: 1
                        allowAccountReconciliation: true
                        allowBalanceAndCreditLimitUpdate: true
                        allowAccountStatementAdjustment: true
                      manageFinancialControlLockDate: 0
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/travelerNotification:
    get:
      tags:
      - settings
      summary: Gets the traveler notification settings.
      description: 'GraphQL endpoint: settingsTravelerNotification'
      operationId: nsk_v1_settings_travelerNotification_get
      parameters:
      - name: eTag
        in: query
        description: The eTag.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfTravelerNotificationSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/user/agencyCreation:
    get:
      tags:
      - settings
      summary: Retrieves the agency creation settings.
      description: 'GraphQL endpoint: settingsAgencyCreation'
      operationId: nsk_v1_settings_user_agencyCreation_get
      parameters:
      - name: eTag
        in: query
        description: The unique etag ID.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAgencyCreationSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/settings/user/customerCreation:
    get:
      tags:
      - settings
      summary: Retrieves the customer creation settings.
      description: 'GraphQL endpoint: settingsCustomerCreation'
      operationId: nsk_v1_settings_user_customerCreation_get
      parameters:
      - name: eTag
        in: query
        description: The unique etag ID.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '304':
          description: The requested item has not been modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCustomerCreationSettings'
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/dcs/v2/settings/operations/checkin:
    get:
      tags:
      - settings
      summary: Gets check-in settings for the current user's role code.
      description: 'GraphQL endpoint: dcsGetCheckinSettingsV2'
      operationId: dcs_v2_settings_operations_checkin_get
      responses:
        '200':
          description: The check-in settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCheckinSettingsV2'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse_2'
    servers:
    - url: https://prod.api.tui/flight/newskies/gonow
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/gonow
      description: TUI Playground
  /api/dcs/v1/settings/operations/departure:
    get:
      tags:
      - settings
      summary: Gets departure settings for the current user's role code.
      description: 'GraphQL endpoint: dcsGetDepartureSettings'
      operationId: dcs_v1_settings_operations_departure_get
      responses:
        '200':
          description: The departure settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfDepartureSettings'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse_2'
    servers:
    - url: https://prod.api.tui/flight/newskies/gonow
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/gonow
      description: TUI Playground
  /api/dcs/v1/settings/operations/deviceManager:
    post:
      tags:
      - settings
      summary: Gets settings for the device manager.
      description: 'GraphQL endpoint: dcsGetDeviceManagerSettings'
      operationId: dcs_v1_settings_operations_deviceManager_post
      requestBody:
        x-name: request
        description: The request for device manager settings.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceManagerSettingsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: The device manager settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse_2'
    servers:
    - url: https://prod.api.tui/flight/newskies/gonow
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/gonow
      description: TUI Playground
  /api/dcs/v1/settings/operations/kiosk:
    get:
      tags:
      - settings
      summary: Gets kiosk settings.
      description: 'GraphQL endpoint: dcsGetKioskSettings'
      operationId: dcs_v1_settings_operations_kiosk_get
      responses:
        '200':
          description: The kiosk settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfKioskSettings'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse_2'
    servers:
    - url: https://prod.api.tui/flight/newskies/gonow
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/gonow
      description: TUI Playground
  /api/dcs/v1/settings/operations/reports:
    get:
      tags:
      - settings
      summary: Gets report settings for the current user's role code.
      description: 'GraphQL endpoint: dcsGetReportSettings'
      operationId: dcs_v1_settings_operations_reports_get
      responses:
        '200':
          description: The report settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfReportsSettings'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse_2'
    servers:
    - url: https://prod.api.tui/flight/newskies/gonow
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/gonow
      description: TUI Playground
components:
  schemas:
    IJsonResponseOfAgencyCreationSettings:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/AgencyCreationSettings'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
[...]
