openapi: 3.2.0
info:
  title: Tui Group Booking/payments API
  version: '1.0'
  description: 'Operations tagged booking/payments across 2 of this provider''s published API definitions: tui-group-tui-newskies-digital-api-openapi.yml, tui-group-tui-newskies-payment-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
- url: https://prod.api.tui/flight/newskies/payment
  description: TUI Prod Payment Service
- url: https://playground.api.tui/flight/newskies/payment
  description: TUI Playground (Test) Payment Service
tags:
- name: booking/payments
paths:
  /api/nsk/v1/booking/payments:
    get:
      tags:
      - booking/payments
      summary: Retrieves the booking payments on the booking in state.
      description: Requires a booking in state.
      operationId: nsk_v1_booking_payments_get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfPayment'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v5/booking/payments:
    post:
      tags:
      - booking/payments
      summary: Creates a new external payment or prepaid payment on the booking in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        The payment fields are dynamic to the criteria of your payment provider. Here is an example request for a

        credit card payment that does not require address, zip, etc.

        { "amount": 10, "currencyCode": "USD", "paymentFields": {"ACCTNO":"411111111111", "EXPDATE":"10/8/2017",

        "CC::AccountHolderName":"Bob Smith", "CC::VerificationCode":"111"}}

        A 202 (HTTP status code) response returns alternate data signifying that either Three D Secure was enabled for

        this payment and is required for this payment type or a direct currency conversion (Dcc) offer was given. The

        payment will need to be resent using the 3DS endpoint or the Dcc endpoint.

        Note that it is possible for a payment to return a dcc offer and also have three d secure enabled. In these

        cases the direct currency conversion offer will need to be handled first and then the three d secure payment

        can be

        handled.

        If you would like to make a Dcc offer and the system using this endpoint cannot display a dcc offer to the end

        user, the status should be updated to DccNotOffered. This indicates that the offer was not displayed to the end

        user

        and is to be accepted automatically.

        If you would like to make a ThreeDSecure payment, you will need to provide a valid term url.

        You will also need to have these headers populated:

        User Agent (USER-AGENT)

        Accept (ACCEPT)

        This endpoint can also only be used with the v6 three d secure endpoint, POST

        `api/nsk/v6/booking/payments/threeDSecure`.


        GraphQL endpoint: paymentAddv5'
      operationId: nsk_v5_booking_payments_post
      parameters:
      - name: termUrl
        in: query
        description: The term URL.
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      requestBody:
        x-name: request
        description: Payment request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '202':
          description: The request was accepted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPaymentInformation'
              examples:
                Three D Secure 1 Redirect needed:
                  description: Example response for a Three D Secure 1 redirect is required.
                  value:
                    threeDSecureResponse:
                      redirectUrl: https://merchantacsstag.cardinalcommerce.com/MerchantACSWeb/pareq.jsp?vaa=b&gold=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                      paReq: eNpdkl1PwjAUhu/7K4jxeu26gUoOTUAiHxGyyILgXe1OYMZ90G2A/952bKL26jyn57TnfVsI9xpxvEJVaRSwwKKQO+zE0eBGrTchn7JgVgSvz7v3XO3m7EZAMHzBg4Aj6iLOUuE6zOFAWyTmCK32Mi0FSHUYzZai2+16nge0QQIJ6tlYMLOAXmICqUxQLOUxLmWs0VFZArTOEVBZlZb6S9z7pr4FApX+FPuyzIs+pafTyfnXbLcJ0Os0QWWjwog8x5HYum/b9Xg+WzyN5sodbcJJFKvJMl19DAdAbQWBSJYoOOPcZczvuA997vd9F2idJyATO4u49bhjlTRIILcXDS/kcbv1O2P0VFpjqlpBLRHAc56laGqMnz+xGQMLJUIsSmbvtmB0XdU8Tq3TqjQ29liPu3e11TXXR8bGLe7Z3gZMt+2hzUPS5s1N9OcvfAMe8K4M
                      responseUrl: null
                      md: null
                      raw: <html><head></head><body><form id="redirectionPostForm" action="https://merchantacsstag.cardinalcommerce.com/MerchantACSWeb/pareq.jsp?vaa=b&gold=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" method="POST"><input type="hidden" name="PaReq" value="eNpdkl1PwjAUhu/7K4jxeu26gUoOTUAiHxGyyILgXe1OYMZ90G2A/952bKL26jyn57TnfVsI9xpxvEJVaRSwwKKQO+zE0eBGrTchn7JgVgSvz7v3XO3m7EZAMHzBg4Aj6iLOUuE6zOFAWyTmCK32Mi0FSHUYzZai2+16nge0QQIJ6tlYMLOAXmICqUxQLOUxLmWs0VFZArTOEVBZlZb6S9z7pr4FApX+FPuyzIs+pafTyfnXbLcJ0Os0QWWjwog8x5HYum/b9Xg+WzyN5sodbcJJFKvJMl19DAdAbQWBSJYoOOPcZczvuA997vd9F2idJyATO4u49bhjlTRIILcXDS/kcbv1O2P0VFpjqlpBLRHAc56laGqMnz+xGQMLJUIsSmbvtmB0XdU8Tq3TqjQ29liPu3e11TXXR8bGLe7Z3gZMt+2hzUPS5s1N9OcvfAMe8K4M" /><input type="hidden" name="TermUrl" value="http://localhost/Navitaire.SkyPay.Test.TdsTestWebsite/Default.aspx" /><input type="hidden" name="MD" value="additional data you might need" /></form><script language="javascript" type="text/javascript">document.getElementById('redirectionPostForm').submit();</script></body></html>
                      paymentTransactionKey: Y1ZYVDJIMFBJc1BXTGdicGNnSjAhMSEtMSEtMSEtMSFYWFhYWFhYWFhYWFgwMDA3
                      threeDSecureVersion: '1.0'
                    directCurrencyConversionOffer: null
                DCC Offer:
                  description: Example response for when a DCC Offer is proposed.
                  value:
                    threeDSecureResponse: null
                    directCurrencyConversionOffer:
                      dccPaymentTransactionKey: MSFYWFhYWFhYWFhYWFg0NDQ0IUFVRCEyODA0LjAwITAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMA--
                      currencyCode: AUD
                      rateValue: 2.0
                      amount: 2804.0
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Paying with a Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card without a reason.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is None.
                      rawMessage: Blacklisted Card, the reason given is None.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Lost Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as lost.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is Lost.
                      rawMessage: Blacklisted Card, the reason given is Lost.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Stolen Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as stolen.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is Stolen.
                      rawMessage: Blacklisted Card, the reason given is Stolen.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Chargedback Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as chargedback.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is ChargedBack.
                      rawMessage: Blacklisted Card, the reason given is ChargedBack.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Inexistent or inactive payment method:
                  description: Example response when the payment method is inexistent or inactive. Please see /resources/PaymentMethods for valid codes.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:OutOfRange
                      message: nsk:Exceptions:OutOfRange
                      type: Validation
                      details: null
                      rawMessage: '"The value ''DT'' is out of range for ''PaymentMethodRequest.PaymentMethodCode''.\nExpected values: (AC,AG,AP,AX,BD,BN,CA,CF,CK,DI,EA,EM,HP,IF,LP,LY,MC,OM,PP,PS,SO,SW,TA,TV,VI,VO)"'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/{paymentKey}:
    get:
      tags:
      - booking/payments
      summary: Gets a specific payment.
      description: 'GraphQL endpoint: payments'
      operationId: nsk_v1_booking_payments_paymentKey_get
      parameters:
      - name: paymentKey
        in: path
        required: true
        description: Payment key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPayment'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    delete:
      tags:
      - booking/payments
      summary: Deletes the payment.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: paymentDelete'
      operationId: nsk_v1_booking_payments_paymentKey_delete
      parameters:
      - name: paymentKey
        in: path
        required: true
        description: Payment key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/booking/payments/{paymentKey}/authorize:
    patch:
      tags:
      - booking/payments
      summary: Manually authorize a committed payment.
      description: 'NOTE: This endpoint takes a singular property for the request body and as such the request will need to be

        formatted differently than what it typically looks like. For more information, please see

        https://navitaire-developer-digital-api.azurewebsites.net/articles/Miscellaneous/UniqueInputSingleRequestBodiesREST

        and the Swagger request examples.

        This endpoint is to be used with caution and is only permissible to use under certain circumstances.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: paymentAuthorizev3'
      operationId: nsk_v2_booking_payments_paymentKey_authorize_patch
      parameters:
      - name: paymentKey
        in: path
        required: true
        description: The payment key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: authorizationCode
        description: The authorization code.
        content:
          application/json:
            schema:
              type: string
            examples:
              Manual Authorize JSON request body, with an authorization code:
                description: Example request for when you want to authorize a payment.
                value: ac89c98fdajldsfa
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/booking/payments/{paymentKey}/decline:
    patch:
      tags:
      - booking/payments
      summary: Manually decline a committed payment.
      description: 'This endpoint is to be used with caution and is only permissible to use under certain circumstances.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: paymentDeclinev3'
      operationId: nsk_v2_booking_payments_paymentKey_decline_patch
      parameters:
      - name: paymentKey
        in: path
        required: true
        description: The payment key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/{paymentMethod}/dcc:
    post:
      tags:
      - booking/payments
      summary: 'Gets the available direct currency codes offer.

        This is for making an inline DCC payment.'
      description: 'This endpoint behaves like a GET but is masked as a POST.

        If a DCC offer is accepted the payment transaction will need to be completed before getting another

        DCC offer. For example, a user cannot get a DCC offer for a VISA, get a DCC offer for a MasterCard and then accept

        the VISA DCC offer and pay with the VISA. The only way to complete this would be to get a DCC offer on one card,

        accept, and then pay and then get the DCC offer for another card, accept, and pay.

        Regardless of whether the offer is accepted or not, the endpoint /api/nsk/v6/booking/payments/dcc/{dccKey} will

        need to be called.'
      operationId: nsk_v1_booking_payments_paymentMethod_dcc_post
      parameters:
      - name: paymentMethod
        in: path
        required: true
        description: The payment method code.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The DCC availability request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DccAvailabilityBaseRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfDirectCurrencyConversionAvailability'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/allocations:
    get:
      tags:
      - booking/payments
      summary: 'Gets the payment allocations for the booking in state.

        Payment allocations are a collection of the payments assigned to each passenger

        on the booking.'
      description: 'GraphQL endpoint: paymentAllocations'
      operationId: nsk_v1_booking_payments_allocations_get
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPaymentAllocations'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/booking/payments/available:
    get:
      tags:
      - booking/payments
      summary: Retrieves the booking payment methods available for the booking in state.
      description: 'Requires a booking in state.


        GraphQL endpoint: paymentsAvailablev2'
      operationId: nsk_v2_booking_payments_available_get
      parameters:
      - name: currencyCode
        in: query
        description: The optional currency code. Defaults to the logged in users currency code.
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndPaymentMethod'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/blacklist:
    post:
      tags:
      - booking/payments
      summary: Adds the booking payment to the blacklist.
      description: 'GraphQL endpoint: paymentsBlacklistAdd'
      operationId: nsk_v1_booking_payments_blacklist_post
      requestBody:
        x-name: request
        description: The blacklist payment request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlacklistPaymentEntry'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/blacklist/{paymentKey}:
    get:
      tags:
      - booking/payments
      summary: Retrieves the specified blacklisted payment.
      description: 'GraphQL endpoint: paymentsBlacklistGet'
      operationId: nsk_v1_booking_payments_blacklist_paymentKey_get
      parameters:
      - name: paymentKey
        in: path
        required: true
        description: The unique identifier of the blacklisted payment to retrieve.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBlacklistPaymentEntry'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      deprecated: true
      security:
      - JWT: []
    patch:
      tags:
      - booking/payments
      summary: Modifies the specified blacklisted payment.
      description: 'GraphQL endpoint: paymentsBlacklistModify'
      operationId: nsk_v1_booking_payments_blacklist_paymentKey_patch
      parameters:
      - name: paymentKey
        in: path
        required: true
        description: The unique identifier of the blacklisted payment to modify.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The modify blacklisted payment request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeltaMapperOfBlacklistPaymentEntryEditRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    delete:
      tags:
      - booking/payments
      summary: Removes the specified payment from the blacklist.
      description: 'GraphQL endpoint: paymentsBlacklistDelete'
      operationId: nsk_v1_booking_payments_blacklist_paymentKey_delete
      parameters:
      - name: paymentKey
        in: path
        required: true
        description: 'The unique identifier of the payment to be removed from the blacklist. '
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/booking/payments/blacklist/{paymentKey}:
    get:
      tags:
      - booking/payments
      summary: Retrieves the specified blacklisted payment.
      description: 'GraphQL endpoint: paymentsBlacklistGetv2'
      operationId: nsk_v2_booking_payments_blacklist_paymentKey_get
      parameters:
      - name: paymentKey
        in: path
        required: true
        description: The unique identifier of the blacklisted payment to retrieve.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfGetBlacklistPaymentEntryResponse'
              examples:
                Retrieve Blacklisted Payment:
                  description: Successful retrieval of the blacklisted payment.
                  value:
                    data:
                      reason: 2
                      notes: The credit card was lost
                      startDate: '2026-07-10T05:55:13.7045443Z'
                      endDate: '2026-07-14T05:55:13.7045567Z'
                      paymentKey: MzU5NTcxITEhTUMhMzg1MjAy
                      createdDate: '2026-07-09T05:55:13.7045061Z'
                      modifiedDate: '2026-07-12T05:55:13.7045291Z'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Payment Not Found:
                  description: Payment key does not exist in the booking in state
                  value:
                    errors:
                    - code: nsk:Payment:PaymentKeyNotFoundOnBooking
                      message: The payment key FdZvq0FzTaNkJ8M6dKtU is not found on the booking in state.
                      type: Validation
                      number: null
                      details:
                        paymentKey: FdZvq0FzTaNkJ8M6dKtU
                No Booking in State:
                  description: No booking was put into state before retrieving a blacklisted payment.
                  value:
                    errors:
                    - code: nsk:Booking:NoBookingInState
                      message: No booking was found in session, cannot perform operation.
                      type: Validation
                      number: null
                      details: null
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/booking/payments/bookingCredit:
    get:
      tags:
      - booking/payments
      summary: Gets credit available from a past booking.
      description: 'See booking retrieve. This method uses the same validation rules.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: paymentBookingCreditsv3'
      operationId: nsk_v2_booking_payments_bookingCredit_get
      parameters:
      - name: CurrencyCode
        in: query
        description: "The currency code of the account.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 1
      - name: RecordLocator
        in: query
        description: "Record locator being requested.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 12
          minLength: 0
        x-position: 2
      - name: EmailAddress
        in: query
        description: "The email address of a contact.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 266
          minLength: 0
        x-position: 3
      - name: Origin
        in: query
        description: "The origin station code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 3
        x-position: 4
      - name: FirstName
        in: query
        description: "The first name of a passenger or contact.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 32
          minLength: 0
        x-position: 5
      - name: LastName
        in: query
        description: "The last name of a passenger or contact.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 32
          minLength: 0
        x-position: 6
      - name: CustomerNumber
        in: query
        description: "One of the passengers customer numbers applied.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 20
          minLength: 0
        x-position: 7
      - name: DepartureDate
        in: query
        description: "The first journeys departure date.\n            "
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 8
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCreditAccount'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid search criteria:
                  description: The search parameters used did not meet the configured strategy in the Management Console. For more information about setting up the strategies, please refer to the <a href="https://navitaire-developer-digital-api.azurewebsites.net/articles/Booking-Retrieve/By-Strategies/">Navitaire Developer Portal</a>.
                  value:
                    errors:
                    - id: null
                      code: nsk:Booking:GeneralRestriction
                      message: nsk:Booking:GeneralRestriction
                      type: Validation
                      details: null
                      rawMessage: Invalid search criteria
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Validation failed:
                  description: The booking associated with the record locator is not found or the provided search parameters didn't match with the booking. The value for the `rawMessage` might differ depending on the strategy used. Aside from the first and last name, it could be email, customer number, last name or origin and departure date.
                  value:
                    errors:
                    - id: null
                      code: nsk:Booking:GeneralRestriction
                      message: nsk:Booking:GeneralRestriction
                      type: Validation
                      details: null
                      rawMessage: First and last name validation failed
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Agent not allowed to view past-dated bookings:
                  description: The agent is not allowed to retrieve past-dated bookings that are outside the configured number of days in the Management Console.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:AuthorizationViewPastDatedBookingNotAllowed
                      message: nsk-server:AuthorizationViewPastDatedBookingNotAllowed
                      type: Validation
                      details: null
                      rawMessage: Agent is not allowed to retrieve the booking.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v3/booking/payments/bookingCredit:
    post:
      tags:
      - booking/payments
      summary: Applies credit from a past booking.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: paymentBookingCreditsAddv4'
      operationId: nsk_v3_booking_payments_bookingCredit_post
      requestBody:
        x-name: request
        description: Apply booking credit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyBookingCreditRequestv2'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid search criteria:
                  description: The search parameters used did not meet the configured strategy in the Management Console. For more information about setting up the strategies, please refer to the <a href="https://navitaire-developer-digital-api.azurewebsites.net/articles/Booking-Retrieve/By-Strategies/">Navitaire Developer Portal</a>.
                  value:
                    errors:
                    - id: null
                      code: nsk:Booking:GeneralRestriction
                      message: nsk:Booking:GeneralRestriction
                      type: Validation
                      details: null
                      rawMessage: Invalid search criteria
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Validation failed:
                  description: The booking associated with the record locator is not found or the provided search parameters didn't match with the booking. The value for the `rawMessage` might differ depending on the strategy used. Aside from the first and last name, it could be email, customer number, last name or origin and departure date.
                  value:
                    errors:
                    - id: null
                      code: nsk:Booking:GeneralRestriction
                      message: nsk:Booking:GeneralRestriction
                      type: Validation
                      details: null
                      rawMessage: First and last name validation failed
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Agent not allowed to view past-dated bookings:
                  description: The agent is not allowed to retrieve past-dated bookings that are outside the configured number of days in the Management Console.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:AuthorizationViewPastDatedBookingNotAllowed
                      message: nsk-server:AuthorizationViewPastDatedBookingNotAllowed
                      type: Validation
                      details: null
                      rawMessage: Agent is not allowed to retrieve the booking.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v3/booking/payments/credit:
    post:
      tags:
      - booking/payments
      summary: Applies credit by reference number and type.
      description: 'This endpoint is for agents and can apply credit for any user or type.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: paymentCreditsAddv3'
      operationId: nsk_v3_booking_payments_credit_post
      requestBody:
        x-name: request
        description: Apply credit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyCreditAccountRequestv2'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/booking/payments/credit:
    get:
      tags:
      - booking/payments
      summary: Gets credit available by reference number and type.
      description: 'This endpoint is for agents and can get credit available for any user or type.


        GraphQL endpoint: paymentCreditsv2'
      operationId: nsk_v2_booking_payments_credit_get
      parameters:
      - name: ReferenceNumber
        in: query
        description: "The account reference. This will be the record locator, customer account number, or organization code depending on\nthe type.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 20
          minLength: 1
        x-position: 1
      - name: CurrencyCode
        in: query
        description: "The currency code of the account.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 2
      - name: Type
        in: query
        description: "Defines the type of credit being applied.\n             \nEnumeration values: 0 = Customer, 1 = Booking, 2 = Organization"
        schema:
          $ref: '#/components/schemas/CreditType'
        x-position: 3
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCreditAccount'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v3/booking/payments/customerCredit:
    post:
      tags:
      - booking/payments
      summary: Applies credit from the logged in customer to the booking in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: paymentCustomerCreditsAddv3'
      operationId: nsk_v3_booking_payments_customerCredit_post
      requestBody:
        x-name: request
        description: Apply credit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyCreditRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/booking/payments/customerCredit:
    get:
      tags:
      - booking/payments
      summary: Gets credit available for the logged in user on the booking in state.
      description: 'Depending on configuration, credit may be validated by the contacts and passengers on the booking.


        GraphQL endpoint: paymentCustomerCreditsv2'
      operationId: nsk_v2_booking_payments_customerCredit_get
      parameters:
      - name: CurrencyCode
        in: query
        description: "The currency code of the account.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCreditAccount'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v6/booking/payments/dcc/{dccKey}:
    post:
      tags:
      - booking/payments
      summary: 'Creates a new external payment with direct currency conversion.

        This endpoint is used for inline DCC payments only.'
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        If a DCC offer is accepted the payment transaction will need to be completed before getting another

        DCC offer. For example, a user cannot get a DCC offer for a VISA, get a DCC offer for a MasterCard and then accept

        the VISA DCC offer and pay with the VISA. The only way to complete this would be to get a DCC offer on one card,

        accept, and then pay and then get the DCC offer for another card, accept, and pay.

        Regardless of whether the offer is accepted or not, the endpoint /api/nsk/v5/booking/payments/dcc/{dccKey} will

        need to be called.

        If you would like to make a ThreeDSecure payment, you will need to provide a valid term url.

        You will also need to have these headers populated:

        User Agent (USER-AGENT)

        Accept (ACCEPT)


        GraphQL endpoint: paymentDccAddv6'
      operationId: nsk_v6_booking_payments_dcc_dccKey_post
      parameters:
      - name: dccKey
        in: path
        required: true
        description: The DCC key.
        schema:
          type: string
        x-position: 1
      - name: termUrl
        in: query
        description: The term url.
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      requestBody:
        x-name: request
        description: The DCC request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DccRequestBasev2'
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '202':
          description: The request was accepted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfThreeDSecureResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Paying with a Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card without a reason.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is None.
                      rawMessage: Blacklisted Card, the reason given is None.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Lost Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as lost.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is Lost.
                      rawMessage: Blacklisted Card, the reason given is Lost.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Stolen Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as stolen.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is Stolen.
                      rawMessage: Blacklisted Card, the reason given is Stolen.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Chargedback Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as chargedback.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is ChargedBack.
                      rawMessage: Blacklisted Card, the reason given is ChargedBack.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Inexistent or inactive payment method:
                  description: Example response when the payment method is inexistent or inactive. Please see /resources/PaymentMethods for valid codes.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:OutOfRange
                      message: nsk:Exceptions:OutOfRange
                      type: Validation
                      details: null
                      rawMessage: '"The value ''DT'' is out of range for ''PaymentMethodRequest.PaymentMethodCode''.\nExpected values: (AC,AG,AP,AX,BD,BN,CA,CF,CK,DI,EA,EM,HP,IF,LP,LY,MC,OM,PP,PS,SO,SW,TA,TV,VI,VO)"'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/dcc/{dccPaymentTransactionKey}:
    post:
      tags:
      - booking/payments
      summary: Adds a dcc payment to the booking in state.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        NOTE: This endpoint takes a singular property for the request body and as such the request will need to be

        formatted differently than what it typically looks like. For more information, please see

        https://navitaire-developer-digital-api.azurewebsites.net/articles/Miscellaneous/UniqueInputSingleRequestBodiesREST

        and the Swagger request examples.

        If the system using this endpoint cannot display a dcc offer to the end user, the status should be updated to

        DccNotOffered. This indicates that the offer was not displayed to the end user and is it to be accepted

        automatically.

        A 202 (HTTP status code) response returns alternate data signifying that Three D Secure was enabled for this

        payment and is required for this payment type. The payment will need to be resent using the 3DS endpoint.

        If you would like to make a ThreeDSecure payment, you will need to provide a valid term url.

        You will also need to have these headers populated:

        User Agent (USER-AGENT)

        Accept (ACCEPT)'
      operationId: nsk_v1_booking_payments_dcc_dccPaymentTransactionKey_post
      parameters:
      - name: dccPaymentTransactionKey
        in: path
        required: true
        description: The dcc payment transaction key.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: status
        description: The dcc status.
        content:
          application/json:
            schema:
              type: string
            examples:
              Accepting a Dcc Offer JSON request body, 1:
                description: Example request for when wanting to accept a dcc offer.
                value: 2
              Accepting a Dcc Offer JSON request body, 2:
                description: Example request for when wanting to accept a dcc offer.
                value: DccOfferAccepted
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '202':
          description: The request was accepted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfThreeDSecureResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/fees/{feeCode}:
    post:
      tags:
      - booking/payments
      summary: 'Retrieves the payment fee for the fee code by providing the account number and payment method code for a manual

        form of payment.'
      description: 'This endpoint behaves like a GET endpoint but is masked as POST.


        GraphQL endpoint: paymentFeeManual'
      operationId: nsk_v1_booking_payments_fees_feeCode_post
      parameters:
      - name: feeCode
        in: path
        required: true
        description: The feeCode.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: The payment fee price request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualPaymentFeeRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPaymentFeeResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/fees/{feeCode}/storedPayment/{storedPaymentKey}:
    get:
      tags:
      - booking/payments
      summary: 'Retrieves the payment fee for the fee code by providing the stored payment key for a stored payment.

        The stored payment key will be able to provide to retrieve the account number, payment method code and account

        number id.'
      description: 'GraphQL endpoint: paymentFeeStored'
      operationId: nsk_v1_booking_payments_fees_feeCode_storedPayment_storedPaymentKey_get
      parameters:
      - name: feeCode
        in: path
        required: true
        description: The fee code.
        schema:
          type: string
        x-position: 1
      - name: storedPaymentKey
        in: path
        required: true
        description: The stored payment key of the agent holding the session.
        schema:
          type: string
        x-position: 2
      - name: Amount
        in: query
        description: "The amount being payed.\n            "
        schema:
          type: number
          format: decimal
        x-position: 3
      - name: CurrencyCode
        in: query
        description: "The currency code. This will default to the bookings currency code.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 4
      - name: CollectedCurrencyCode
        in: query
        description: "The optional collected currency code. This will be needed for MCC requests.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 5
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPaymentFeeResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/inProcess:
    delete:
      tags:
      - booking/payments
      summary: 'Cancels an in-process payment, if one exists, from the session state.

        This can be used when in the middle of a 3DS, MCC, or DCC payment to remove the payment.'
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: inProcessPaymentDelete'
      operationId: nsk_v1_booking_payments_inProcess_delete
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v3/booking/payments/mcc:
    get:
      tags:
      - booking/payments
      summary: Gets the available multi-currency codes available.
      description: 'This is affected by the booking currency code.


        GraphQL endpoint: paymentMccAvailabilityv3'
      operationId: nsk_v3_booking_payments_mcc_get
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndMccCurrencyInformationv2'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v6/booking/payments/mcc/{currencyCode}:
    post:
      tags:
      - booking/payments
      summary: Creates a new MCC payment.
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`

        This is affected by the booking currency code.

        The MCC payment cannot have the same currency code in the URL and body.

        In a normal MCC rate scenario, the rate ID and exchange rate payment fields are auto-populated and should not be

        passed in manually.

        If you would like to make a ThreeDSecure payment, you will need to provide a valid term url.

        You will also need to have these headers populated:

        User Agent

        Accept


        GraphQL endpoint: paymentMccAddv6'
      operationId: nsk_v6_booking_payments_mcc_currencyCode_post
      parameters:
      - name: currencyCode
        in: path
        required: true
        description: The collected currency code.
        schema:
          type: string
        x-position: 1
      - name: termUrl
        in: query
        description: The term URL.
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      requestBody:
        x-name: request
        description: The payment method request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MccPaymentMethodRequest'
            examples:
              Normal MCC Payment Request:
                description: Example request for making a normal MCC payment.
                value:
                  thirdPartyExternalRate: null
                  paymentMethodCode: MC
                  amount: 5.0
                  deposit: null
                  paymentFields:
                    acctno: '5210000010001001'
                    cC::AccountHolderName: Jim Bob
                    cC::VerificationCode: '123'
                  waiveFees: false
                  currencyCode: null
                  installments: null
              Third Party External Rate MCC Payment Request:
                description: NOT RECOMMENDED TO USE. Example request for making an Mcc payment with a third party external rate.
                value:
                  thirdPartyExternalRate:
                    rateId: v2I0fC
                    quotedCurrency: USD
                    collectedCurrency: AUD
                    exchangeRate: 1.31
                  paymentMethodCode: MC
                  amount: 5.0
                  deposit: null
                  paymentFields:
                    acctno: '5210000010001001'
                    cC::AccountHolderName: Jim Bob
                    cC::VerificationCode: '123'
                  waiveFees: null
                  currencyCode: null
                  installments: null
        required: true
        x-position: 2
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '202':
          description: The request was accepted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfThreeDSecureResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Paying with a Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card without a reason.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is None.
                      rawMessage: Blacklisted Card, the reason given is None.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Lost Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as lost.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is Lost.
                      rawMessage: Blacklisted Card, the reason given is Lost.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Stolen Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as stolen.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is Stolen.
                      rawMessage: Blacklisted Card, the reason given is Stolen.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Chargedback Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as chargedback.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is ChargedBack.
                      rawMessage: Blacklisted Card, the reason given is ChargedBack.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Collected currency code is null:
                  description: Example response when the collected currency code is null. It can be set to null by setting it to a URL encoded space value `%20`.
                  value:
                    errors:
                    - id: null
                      code: nsk:Payment:FieldInvalid
                      message: nsk:Payment:FieldInvalid
                      type: Error
                      details: null
                      rawMessage: The payment field  is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Invalid payment method code:
                  description: 'Example response when the payment method code is invalid. Invalid can mean the following: inactive, non-existent, payment method type is not external account, unallowed for the role, or unallowed for the request currency code. Please see /resources/PaymentMethods for valid codes.'
                  value:
                    errors:
                    - id: null
                      code: nsk:Payment:FieldInvalid
                      message: nsk:Payment:FieldInvalid
                      type: Error
                      details: null
                      rawMessage: The payment field MC is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Request currency code and collected currency code are the same:
                  description: Example response when the request currency code and collected currency code are the same.
                  value:
                    errors:
                    - id: null
                      code: nsk:Payment:FieldInvalid
                      message: nsk:Payment:FieldInvalid
                      type: Error
                      details: null
                      rawMessage: MCC currency code cannot be the same as the payment currency code.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Request currency code and collected currency code are not configured in the external rates:
                  description: Example response when the request currency code and collected currency code are not configured in the external rates. Please see resources/ExternalRates for valid currencies.
                  value:
                    errors:
                    - id: null
                      code: nsk:Payment:FieldInvalid
                      message: nsk:Payment:FieldInvalid
                      type: Error
                      details: null
                      rawMessage: The payment field PHP is invalid.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v6/booking/payments/mcc/{currencyCode}/storedPayment/{storedPaymentKey}:
    post:
      tags:
      - booking/payments
      summary: Creates a new MCC payment from a stored payment.
      description: 'IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.

        This is affected by the booking currency code.

        The MCC payment cannot have the same currency code in the URL and body.

        In a normal MCC rate scenario, the rate ID and exchange rate payment fields are auto-populated and should not be

        passed in manually.

        If you would like to make a ThreeDSecure payment, you will need to provide a valid term url.

        You will also need to have these headers populated:

        User Agent

        Accept


        GraphQL endpoint: paymentMccAddStoredv6'
      operationId: nsk_v6_booking_payments_mcc_currencyCode_storedPayment_storedPaymentKey_post
      parameters:
      - name: currencyCode
        in: path
        required: true
        description: The collected currency code.
        schema:
          type: string
        x-position: 1
      - name: storedPaymentKey
        in: path
        required: true
        description: Stored payment key.
        schema:
          type: string
        x-position: 2
      - name: termUrl
        in: query
        description: The term URL.
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      requestBody:
        x-name: request
        description: The payment method request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MccPaymentRequest'
            examples:
              Normal MCC Stored Payment Request:
                description: Example request for making a normal MCC stored payment.
                value:
                  thirdPartyExternalRate: null
                  amount: 5.0
                  paymentFields: null
                  currencyCode: null
                  installments: null
              Third Party External Rate MCC Stored Payment Request:
                description: NOT RECOMMENDED TO USE. Example request for making an MCC stored payment with a third party external rate.
                value:
                  thirdPartyExternalRate:
                    rateId: v2I0fC
                    quotedCurrency: USD
                    collectedCurrency: AUD
                    exchangeRate: 1.31
                  amount: 5.0
                  paymentFields: null
                  currencyCode: null
                  installments: null
        required: true
        x-position: 3
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '202':
          description: The request was accepted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfThreeDSecureResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Paying with a Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card without a reason.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is None.
                      rawMessage: Blacklisted Card, the reason given is None.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Lost Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as lost.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is Lost.
                      rawMessage: Blacklisted Card, the reason given is Lost.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Stolen Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as stolen.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is Stolen.
                      rawMessage: Blacklisted Card, the reason given is Stolen.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Paying with a Chargedback Blacklisted Card:
                  description: Example response when attempting to pay with a blacklisted card tagged as chargedback.
                  value:
                    errors:
                    - id: 23c0d2aa-9c93-9c37-f9e4-39276217cbb8
                      code: nsk-server:Payment:ValidationError:BlackListedCard
                      message: nsk-server:Payment:ValidationError:BlackListedCard
                      type: Validation
                      details:
                        blacklistErrorMessage: Blacklisted Card, the reason given is ChargedBack.
                      rawMessage: Blacklisted Card, the reason given is ChargedBack.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
                Inexistent or inactive payment method:
                  description: Example response when the payment method is inexistent or inactive. Please see /resources/PaymentMethods for valid codes.
                  value:
                    errors:
                    - id: null
                      code: nsk:Exceptions:OutOfRange
                      message: nsk:Exceptions:OutOfRange
                      type: Validation
                      details: null
                      rawMessage: '"The value ''DT'' is out of range for ''PaymentMethodRequest.PaymentMethodCode''.\nExpected values: (AC,AG,AP,AX,BD,BN,CA,CF,CK,DI,EA,EM,HP,IF,LP,LY,MC,OM,PP,PS,SO,SW,TA,TV,VI,VO)"'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                    data: null
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v3/booking/payments/organizationCredit:
    post:
      tags:
      - booking/payments
      summary: 'Applies credit to the logged-in or specified user''s organization.

        NOTE: It is not recommended to use a custom agency credit payment as it will not have the

        same behavior nor be validated like the pre-configured `AG` credit payment.'
      description: '`IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.`


        GraphQL endpoint: paymentOrganizationCreditsAddv3'
      operationId: nsk_v3_booking_payments_organizationCredit_post
      requestBody:
        x-name: request
        description: Apply credit request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyOrganizationCreditRequest'
            examples:
              Apply Organization Credit Request:
                description: Example request for applying credit to the user's organization.
                value:
                  waiveFees: true
                  amount: 100.0
                  currencyCode: USD
                  organizationCreditCode: AG
                  comment: Applying organization credit to the booking.
                  accountReference: SYSTEM
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Inactive Payment Method:
                  description: The payment method is unknown or inactive.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:Payment:ValidationError:UnknownOrInactivePaymentMethod
                      message: nsk-server:Payment:ValidationError:UnknownOrInactivePaymentMethod
                      type: Validation
                      details: null
                      rawMessage: Unknown or Inactive PaymentMethod
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Payment Method Not Allowed:
                  description: The payment method is not allowed for the role.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:Payment:ValidationError:PaymentMethodNotAllowedForRole
                      message: nsk-server:Payment:ValidationError:PaymentMethodNotAllowedForRole
                      type: Validation
                      details: null
                      rawMessage: Agent is not authorized for requested payment method KJ\AgencyAccount.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Organization Code:
                  description: The organization code in the request does not match the logged-in user's organization code.
                  value:
                    errors:
                    - id: null
                      code: nsk-server:Payment:ValidationError:AccountNumber
                      message: nsk-server:Payment:ValidationError:AccountNumber
                      type: Validation
                      details: null
                      rawMessage: 'Agency payment account number: (SYSTEM) does not match current Organization Code: 5876651'
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '500':
          description: A server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                With Invalid Account Reference:
                  description: The account reference does not match the logged-in user's organization code.
                  value:
                    errors:
                    - id: null
                      code: nsk:Payment:FundsNotAvailable
                      message: nsk:Payment:FundsNotAvailable
                      type: Error
                      details: null
                      rawMessage: Funds not available. The maximum expected amount is 0.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
                With Invalid Payment Method Type:
                  description: The payment method type provided in the request is not of an agency account.
                  value:
                    errors:
                    - id: null
                      code: nsk:Payment:CreditFileNotConfigured
                      message: nsk:Payment:CreditFileNotConfigured
                      type: Validation
                      details: null
                      rawMessage: Credit file is not configured correctly. Verify the credit file in the settings.json file and also the payment method resources.
                      exception: null
                      debugMode: The API is currently running in debug mode. In production the 'rawMessage' and 'exception' nodes will not be returned. These are for troubleshooting development issues only.
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v2/booking/payments/organizationCredit:
    get:
      tags:
      - booking/payments
      summary: Gets credit available for the logged in users organization.
      description: 'Depending on configuration, credit may be validated by the contacts and passengers on the booking.


        GraphQL endpoint: paymentOrganizationCreditsv2'
      operationId: nsk_v2_booking_payments_organizationCredit_get
      parameters:
      - name: CurrencyCode
        in: query
        description: "The currency code of the account.\n            "
        schema:
          type:
          - string
          - 'null'
          maxLength: 3
          minLength: 0
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCreditAccount'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/refunds:
    get:
      tags:
      - booking/payments
      summary: Retrieves the booking payment methods available for a refund on the booking in state.
      description: 'Requires a booking in state.


        GraphQL endpoint: paymentRefundsAvailability'
      operationId: nsk_v1_booking_payments_refunds_get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIDictionaryOfStringAndPaymentMethod'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v5/booking/payments/refunds:
    post:
      tags:
      - booking/payments
      summary: Creates a refund for the booking in state. No longer handles Credit Shell or `CS` refunds.
      description: 'Requires a booking in state.

        NOTE: CS, credit shell refunds are no longer accepted through this endpoint. It is now recommended to use

        POST `api/nsk/v1/booking/payments/refunds/creditShell` endpoint for any credit shell refund.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: paymentRefundsAddv5'
      operationId: nsk_v5_booking_payments_refunds_post
      requestBody:
        x-name: request
        description: The request for the refund.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRefundRequestv2'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v4/booking/payments/refunds:
    post:
      tags:
      - booking/payments
      summary: Creates a refund for the booking in state.
      description: 'Requires a booking in state. Credit shell payment types will default to a customer credit if logged in. If not

        logged in a booking credit will be applied.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


        GraphQL endpoint: paymentRefundsAddv4'
      operationId: nsk_v4_booking_payments_refunds_post
      requestBody:
        x-name: request
        description: The payment reversal request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRefundRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '409':
          description: Concurrent changes were being made in the same session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
      deprecated: true
      security:
      - JWT: []
    servers:
    - url: https://prod.api.tui/flight/newskies/rest
      description: TUI Prod
    - url: https://playground.api.tui/flight/newskies/rest
      description: TUI Playground
  /api/nsk/v1/booking/payments/refunds/creditShell:
    post:
      tags:
      - booking/payments
      summary: Creates a credit shell refund for the booking in state.
      description: 'Requires a booking in state.

        IMPORTANT: This endpoint should NOT be called concurrently using the same session token to avoid performance

        problems.


[...]
