openapi: 3.2.0
info:
  title: NewSkies-Digital-Api Equipment API
  version: 4.8.6.23
  description: Navitaire Digital Api
servers:
- url: https://prod.api.tui/flight/newskies/rest
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/rest
  description: TUI Playground
security:
- JWT: []
tags:
- name: equipment
paths:
  /api/dcs/v1/equipment/swap:
    post:
      tags:
      - equipment
      summary: Exchanges one equipment for another on an existing flight.
      description: 'Specifically, the leg is updated with a new transport code and equipment information.

        All seat assignments on the affected flight legs are examined. Any assignments for seats which do not exist

        in the new equipment are released. Those passengers will no longer have seat assignments on the affected legs

        As a result of the equipment swap, passengers may end up with a different cabin or class of service than they

        had on the prior equipment. This method is only concerned with making sure that the seat assignment physically

        exists on the new configuration. Any seat holds or blocks on seats which no longer exist are also released.

        This method does not revise the inventory or SSR lids on the swapped flight legs. These values may become invalid

        after an equipment swap.

        This method also may return a list of passengers what were moved from one equipment to another that had a seat

        change.


        GraphQL endpoints: equipmentSwap, equipmentSwapBatch'
      operationId: dcs_v1_equipment_swap_post
      requestBody:
        x-name: request
        description: The equipment swap request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquipmentSwapRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK. Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfIListOfEquipmentSwapPassenger'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/equipment/tailNumber:
    post:
      tags:
      - equipment
      summary: Assigns a tail number to a specific leg.
      description: 'To confirm the assignment of the tail number, please use /api/nsk/v2/trip/info/{legKey}/status.

        If the aircraft code of the leg is different from the aircraft code of the tail number, an equipment swap will be

        required to assign the tail number

        and the tail number will not be changed until that swap.

        This equipment swap requirement can be overriden using `IgnoreEquipmentDifference` on the request, however this

        should be used with caution.


        GraphQL endpoints: tailNumber, tailNumberBatch'
      operationId: dcs_v1_equipment_tailNumber_post
      requestBody:
        x-name: request
        description: The request for assigning the tail number.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignTailNumberRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAssignTailNumbersResponse'
        '400':
          description: There was a problem with the request and it could not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfAssignTailNumbersResponse'
        '404':
          description: The item was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
components:
  schemas:
    MarketInformation:
      type: object
      description: "Model information about the market arrival and destination details.\n            "
      additionalProperties: false
      required:
      - destination
      - origin
      - departureDate
      - identifier
      properties:
        destination:
          type: string
          description: "Gets or sets the leg arrival station.\n            "
          maxLength: 3
          minLength: 0
        origin:
          type: string
          description: "Gets or sets the leg departure station.\n            "
          maxLength: 3
          minLength: 0
        departureDate:
          type: string
          description: "The departure date.\n            "
          format: date-time
          minLength: 1
        identifier:
          description: "Gets or sets the leg arrival station.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
    TransportationIdentifier:
      type: object
      description: "Represents the transportation identifier model data.\n            "
      additionalProperties: false
      required:
      - identifier
      - carrierCode
      properties:
        identifier:
          type: string
          description: "The unique transportation identifier.\n            "
          maxLength: 4
          minLength: 0
        carrierCode:
          type: string
          description: "The carrier code.\n            "
          maxLength: 3
          minLength: 2
        opSuffix:
          type:
          - string
          - 'null'
          description: "The op suffix.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
    AssignTailNumbersResponse:
      type: object
      description: "Defines the response from assigning a tail number(s).\n            "
      additionalProperties: false
      properties:
        needEquipmentSwap:
          type: boolean
          description: "Whether an equipment swap needs to be performed or not.\n            "
        equipmentType:
          type:
          - string
          - 'null'
          description: "The equipment type to swap the leg to.\n            "
          maxLength: 3
          minLength: 0
        equipmentTypeSuffix:
          type:
          - string
          - 'null'
          description: "The equipment type suffix to swap the leg to.\n            "
          maxLength: 3
          minLength: 0
    Exception:
      type: object
      additionalProperties: false
      properties:
        Message:
          type: string
        InnerException:
          $ref: '#/components/schemas/Exception'
        Source:
          type:
          - string
          - 'null'
        StackTrace:
          type:
          - string
          - 'null'
    EquipmentSwapSeat:
      type: object
      description: "Defines the moved seat as a result of swapping equipment.\n            "
      additionalProperties: false
      properties:
        row:
          type: integer
          description: "The row of the aircraft the seat is in.\n            "
        column:
          type: string
          description: "The column of the aircraft the seat is in.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
        cabinOfService:
          type: string
          description: "The cabin of services the seat is in.\nPlease note that this should be a char and not a string.\n            "
          maxLength: 1
    EquipmentSwapPassenger:
      type: object
      description: "Defines the moved passenger as a result of swapping equipment.\n            "
      additionalProperties: false
      properties:
        passengerAlternateKey:
          type:
          - string
          - 'null'
          description: "The passenger alternate key because NewSkies gives us back the PassengerId\n            "
        passengerName:
          description: "The name of the passenger that was swapped.\n            "
          $ref: '#/components/schemas/Name'
        recordLocator:
          type:
          - string
          - 'null'
          description: "The record locator for the passenger.\n            "
        oldSeat:
          description: "The seat on the old equipment.\n            "
          $ref: '#/components/schemas/EquipmentSwapSeat'
        newSeat:
          description: "The seat on the new equipment.\n            "
          $ref: '#/components/schemas/EquipmentSwapSeat'
        identifier:
          description: "The flight on which the passenger lost a seat assignment.\n            "
          $ref: '#/components/schemas/TransportationIdentifier'
        departureStation:
          type:
          - string
          - 'null'
          description: "Airport code where the lost seat assignment begins.\n            "
        arrivalStation:
          type:
          - string
          - 'null'
          description: "Airport code where the lost seat assignment ends.\n            "
        liftStatus:
          description: "The lift status of the passenger who has a lost seat assignment.\n            "
          $ref: '#/components/schemas/LiftStatus'
    MessageStatus:
      type: integer
      description: "Defines the message status.\n            \n\n0 = General\n1 = Warning\n2 = Critical"
      x-enumNames:
      - General
      - Warning
      - Critical
      enum:
      - 0
      - 1
      - 2
    LiftStatus:
      type: integer
      description: "Lift status enumeration.\n            \n\n0 = Default\n1 = CheckedIn\n2 = Boarded\n3 = NoShow"
      x-enumNames:
      - Default
      - CheckedIn
      - Boarded
      - NoShow
      enum:
      - 0
      - 1
      - 2
      - 3
    IJsonResponseOfIListOfEquipmentSwapPassenger:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          type:
          - array
          - 'null'
          description: "The payload data.\n            "
          items:
            $ref: '#/components/schemas/EquipmentSwapPassenger'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    IJsonResponse:
      type: object
      description: "Defines the JSON response contract for a not content type response.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data, this will always be null for errors responses and no content responses.\n            "
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    Name:
      type: object
      description: "Defines a common name.\n            "
      additionalProperties: false
      properties:
        first:
          type:
          - string
          - 'null'
          description: "The given first name.\n            "
          maxLength: 32
          minLength: 0
        middle:
          type:
          - string
          - 'null'
          description: "The given middle name.\n            "
          maxLength: 32
          minLength: 0
        last:
          type:
          - string
          - 'null'
          description: "The given last name.\n            "
          maxLength: 32
          minLength: 0
        title:
          type:
          - string
          - 'null'
          description: "The title.\n            "
          maxLength: 6
          minLength: 0
        suffix:
          type:
          - string
          - 'null'
          description: "The suffix.\n            "
          maxLength: 6
          minLength: 0
    IJsonResponseOfAssignTailNumbersResponse:
      type: object
      description: "Defines the JSON response contract.\n            "
      additionalProperties: false
      properties:
        data:
          description: "The payload data.\n            "
          $ref: '#/components/schemas/AssignTailNumbersResponse'
        errors:
          type:
          - array
          - 'null'
          description: "The collection of errors being thrown.\n            "
          items:
            $ref: '#/components/schemas/ErrorResponse'
        messages:
          type:
          - array
          - 'null'
          description: "The collection of informational messages.\n            "
          items:
            $ref: '#/components/schemas/Message'
    EquipmentSwapRequest:
      type: object
      description: "Defines the equipment swap request.\n            "
      additionalProperties: false
      properties:
        marketInformation:
          description: "The market information for the flight to swap equipment.\n            "
          $ref: '#/components/schemas/MarketInformation'
        equipmentType:
          type:
          - string
          - 'null'
          description: "The equipment type to switch to.\n            "
          maxLength: 3
          minLength: 0
        equipmentTypeSuffix:
          type:
          - string
          - 'null'
          description: "The equipment type suffix to switch to.\n            "
          maxLength: 3
          minLength: 0
        prbcCode:
          type:
          - string
          - 'null'
          description: "The passenger reservation booking configuration (PRBC) code to switch to.\n            "
          maxLength: 8
          minLength: 0
        marketingCode:
          type:
          - string
          - 'null'
          description: "The marketing code to switch to.\n            "
          maxLength: 8
          minLength: 0
        updateOperatingInformation:
          type: boolean
          description: "Indicates whether to update operating information.\n            "
        codeShareIndicator:
          description: "The code share indicator to switch to.\n            "
          $ref: '#/components/schemas/CodeShareIndicator'
        operatingCarrierCode:
          type:
          - string
          - 'null'
          description: "The operating carrier code to switch to.\n            "
          maxLength: 3
          minLength: 0
        operatedByText:
          type:
          - string
          - 'null'
          description: "The operated by text to switch to.\n            "
          maxLength: 64
          minLength: 0
        preserveAus:
          type: boolean
          description: "Whether to preserve available units (au's) or not.\n            "
        preserveInventoryLid:
          type: boolean
          description: "Whether to preserve the inventory lid or not.\n            "
    ErrorResponse:
      type: object
      description: "Defines a unique error response.\n            "
      additionalProperties: false
      properties:
        exception:
          description: "The original exception that was thrown and all the exception details.\n            "
          $ref: '#/components/schemas/Exception'
        rawMessage:
          type:
          - string
          - 'null'
          description: "The original raw message set (non-localized).\n            "
        code:
          type:
          - string
          - 'null'
          description: "The unique error code. The primary value used to match against a unique message localized for the end user in the\nchosen language.\n            "
        message:
          type:
          - string
          - 'null'
          description: "The error message. Deprecated: Please use the Code instead.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The error type showing severity. Values: Critical, Error, Validation, Information.\n            "
        number:
          type:
          - integer
          - 'null'
          description: "A unique identifier in numeric form. This is required for Splunk logging. If none is provided a number will be\ngenerated based on code and type.\n            "
          format: int32
          maximum: 99999.0
          minimum: 0.0
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the error.\n            "
          additionalProperties:
            type: string
        ActivityId:
          type:
          - string
          - 'null'
          description: "The activity ID unique to the request. Useful for debugging purposes to uniquely look up what happened for this\nspecific request.\n            "
    Message:
      type: object
      description: "Defines a unique informational message.\n            "
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: "The unique message code.\n            "
        type:
          type:
          - string
          - 'null'
          description: "The message type.\n            "
        value:
          type:
          - string
          - 'null'
          description: "The message's value.\n            "
        status:
          description: "The message's status.\n            "
          $ref: '#/components/schemas/MessageStatus'
        details:
          type:
          - object
          - 'null'
          description: "Dynamic detailed information about the message.\n            "
          additionalProperties:
            type: string
    AssignTailNumberRequest:
      type: object
      description: "Defines the request to assign a tail number for a leg.\n            "
      additionalProperties: false
      required:
      - legKey
      - tailNumber
      properties:
        legKey:
          type: string
          description: "The leg key to assign a tail number to.\n            "
          minLength: 1
        tailNumber:
          type: string
          description: "The tail number.\n            "
          maxLength: 10
          minLength: 0
        ignoreEquipmentDifference:
          type:
          - boolean
          - 'null'
          description: "This flag is set to true to ignore the Aircraft Configuration difference\nbetween the one set to FlightNumber and the one set to TailNumber.\nUnder normal circumstances, a user will be prompted to record the tail number\nassignment as an equipment swap.\n            "
    CodeShareIndicator:
      type: integer
      description: "Specifies the type of code share agreement.\n            \n\n0 = NonCodeShare\n1 = CodeShareCommercialDuplicate\n2 = SharedDesignatorOrWetLease\n3 = CodeShareHostOperatingCarrier\n4 = CodeShareCommercialDuplicateWithOverrideText\n5 = SharedDesignatorOrWetLeaseWithOverrideText"
      x-enumNames:
      - NonCodeShare
      - CodeShareCommercialDuplicate
      - SharedDesignatorOrWetLease
      - CodeShareHostOperatingCarrier
      - CodeShareCommercialDuplicateWithOverrideText
      - SharedDesignatorOrWetLeaseWithOverrideText
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
  securitySchemes:
    JWT:
      type: http
      description: Paste your JWT token from the token endpoint.
      scheme: bearer
      bearerFormat: jwt
x-generator: NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))
