openapi: 3.0.1
info:
  title: TravelMessage.v31
  version: '3.1'
  contact:
    name: G7-OTA-TEAM
    url: 'https://prod.api.tui/'
    email: b2bota.g7.support@tui.nl
  description: |
    This API can be used to get availability and create bookings for TUI packages following the ANVR G7 standard.  
    
    With the Supply feed OTA's get information of all the available TUI packages, along with other relevant details
    such as price, extras, etc. For Supply the TravelMessage 3.1 is not used. So this is defined on another page.
    But it contains the necessary data to continue with the API's described here.  

    The information from the Supply file can be used to do an AvailabilityRequest to get more detailed data. This data can 
    be used for getting a Price breakdown using the ReceiptRequest or start the bookflow transaction using the Sell, 
    Assign and BookRequests to create a booking in tui.nl.   
    With AddProAvailability and AddProDetails information can be requested for available extra's and transportrental 
    and added to the Sell, Assign and BookRequests.  
    The BreakRequest can be used After SellRequest but before BookRequest to cancel the current transaction.
    
    If a booking is successfully created the RecapRequest can be used to get all information from that booking 
    and CancellationRequest can be used to directly cancel a booking.  
    
    The schema's are based on the travelmessage.xsd and translated to OpenAPI specification. Not all groups and/or 
    fields are used in the defined api's. Also it is possible that fields that are **not mandatory** for G7 are in 
    fact **mandatory** for TUI.    
    All api's are based on the 3.1 G7 version with a few changes to support TUI packages. The Supply has a 
    custom defined schema.
x-header: |
  This API returns the price and availability for TUI's packages specifically for OTA's according to the G7 standard.
x-summary: |
  This API returns the price and availability for TUI's packages specifically for OTA's according to the G7 standard.
  The Travelmessage API returns information on all the available tui.nl packages, along with other relevant details such as price, extras, etc. for this specified package. 
  This API also allows to start a bookingdialogue for these packages.
servers:
  - url: https://prod.api.tui
    description: Production
  - url: https://playground.api.tui
    description: Playground for testing
paths:
  /travelmessage/v3.1/availabilityrequest:
    post:
      tags:
        - TravelMessage
      summary: Does an AvailabilityRequest
      description: |
        The availability of a journey can be requested with the dialogue Availability.  
        For this API the "*Package approach*" is used. This means that filling the "*PackageDetails*" in the request 
        will return a complete package (Transport, accommodation and/or additional products) in the response. These
        components must be used in the next steps of the booking process
        
        **Request:** Besides the mandatory fields only filtering is possible for:
         * DeparturePoint
         * BoardType 
        
        **Response:**
         * Happy flow: Transport, Accommodation and AdditionalProducts data for chosen product
         * No availability: Error message given "No data found"
         * Error: Response has an errormessage
      security:
        - oAuth2ClientCredentials: [ ]
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AvailabilityRequestTree'
            examples:
              AvailabilityRequest:
                $ref: '#/components/examples/AvailabilityRequestExample'
      responses:
        '200':
          description: AvailabilityRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AvailabilityResponseTree'
              examples:
                AvailabilityResponse:
                  $ref: '#/components/examples/AvailabilityResponseExample'
                AvailabilityResponse(no availability):
                  $ref: '#/components/examples/AvailabilityResponseNaExample'
                AvailabilityResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/receiptrequest:
    post:
      tags:
        - TravelMessage
      summary: Does a ReceiptRequest
      description: |
        The ReceiptRequest message can be done to get an actual price of a chosen package and components. It's a kind 
        of combination of Sell- and AssignRequest but without starting a transaction.
        The response contains only a price breakdown for each passenger. If no prices are found an errormessage
        will be returned with the message "no data found".
        
        The price description can contain only a description or a description plus additional information. If a price
        component relates to the package itself only a description is given, for example "reissom". If a price is related
        to a specific component additional information is given to trace the price back to the component. This information
        is in the following format seperated with a pipe "|":
          1. Description
          2. Type (T = Transport, A = Accommodation/Unit, TE = Transport Extra, E = Extra)
          3. Relation (depending on type)  
            T = TransportID  
            A = AccommodationID, UnitID and ArrivalDate  
            TE = TransportID, GroupID, ExtraID, StartDate  
            E = GroupID, ExtraID, startDate  
      
        Examples:
          - Package: "Reissom"
          - Transport (T) : "Luchthaventoeslag|T|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ"
          - Accommodation(A): "Vroegboekkorting|A|A0192836|2919b8e9-7ae3-4883-9ecf-0377d8a8d202|11/03/2023"
          - Transport Extra (TE): "Klasse (PWIM)|TE|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ|SEAT|PWIM|2023-11-03"
          - Extra (E): "Transfer (TXX)|E|Transfer|TXX|2023-11-03"
      
        For this Request/Response the v3.1.xsd is changed to fit the needs for TUI. 
        
        **Response:**
         * Happy flow: Price breakdown for each passenger
         * No data found: response has an errormessage with type info  
         * Error: response has an errormessage        
      security:
        - oAuth2ClientCredentials: [ ]
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ReceiptRequestTree'
            examples:
              ReceiptRequest:
                $ref: '#/components/examples/ReceiptRequestExample'
      responses:
        '200':
          description: ReceiptRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReceiptResponseTree'
              examples:
                ReceiptResponse:
                  $ref: '#/components/examples/ReceiptResponseExample'
                ReceiptResponse (no data found):
                  $ref: '#/components/examples/ReceiptResponseNaExample'
                ReceiptResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/sellrequest:
    post:
      tags:
        - TravelMessage
      summary: Does a SellRequest
      description: |
        The dialogue of Sell aims at indicating the package parts which have been selected for the subsequent
        dialogue. The message contains package information and optional information relating to Transport, 
        Accommodation and Additional products (Roundtrip and Cruise information are not implemented yet).  
        For TUI the SellRequest is used to create a new session. Some basic validation is taking place, 
        and the response is more or less a copy of the request. It is important to put all the parts in the 
        SellRequest, because they will be checked in the next step, the AssignRequest.  
        When parts are changed (for example rooms) or added (for example extra's) a new SellRequest has to be 
        done.  
        
        **Response:**
         * Happy flow: copy of request with status = "OK" 
         * Error: response has an errormessage        
      security:
        - oAuth2ClientCredentials: [ ]
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/SellRequestTree'
            examples:
              SellRequest:
                $ref: '#/components/examples/SellRequestExample'
      responses:
        '200':
          description: SellRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SellResponseTree'
              examples:
                SellResponse:
                  $ref: '#/components/examples/SellResponseExample'
                SellResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/assignrequest:
    post:
      tags:
        - TravelMessage
      summary: Does a AssignRequest
      description: |
        In the AssignRequest the passengers and there assignments to the package parts are given. The "*SenderSessionID*" 
        of the SellResponse must be used as "*ReceiverSessionID*" in the AssignRequest to use the session created during
        the SellRequest. Validation is done to check if the same parts are used as in SellRequest.  
        The response may contain more elements then assigned (extras). These are default components which do not 
        influence the price, like flight extra's as SeatsType, Meals, Luggage or default transfers. Usually upgrades 
        for these components are available. Because AssignResponse gives no description of these default components (just 
        and ID and dates) the Extras itself will also be returned in te response. The means that the TResponse also 
        contains AdditionalProducts and Transport.TransportTo[From].AdditionalProducts.
        
        Besides these components also a price breakdown is returned. 
        The price description can contain only a description or a description plus additional information. If a price 
        component relates to the package itself only a description is given, for example "reissom". If a price is related 
        to a specific component additional information is given to trace the price back to the component. This information 
        is in the following format seperated with a pipe "|":
        1. Description 
        2. Type (T = Transport, A = Accommodation/Unit, TE = Transport Extra, E = Extra)
        3. Relation (depending on type)  
          T = TransportID  
          A = AccommodationID, UnitID and ArrivalDate  
          TE = TransportID, GroupID, ExtraID, StartDate  
          E = GroupID, ExtraID, startDate  
  
        Examples:  
          - Package: "Reissom"  
          - Transport (T) : "Luchthaventoeslag|T|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ"    
          - Accommodation(A): "Vroegboekkorting|A|A0192836|2919b8e9-7ae3-4883-9ecf-0377d8a8d202|11/03/2023"    
          - Transport Extra (TE): "Klasse (PWIM)|TE|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ|SEAT|PWIM|2023-11-03"    
          - Extra (E): "Transfer (TXX)|E|Transfer|TXX|2023-11-03"  
        
        Changes for passenger information (for example name) or a different assignment can be done without doing a new 
        SellRequest.  
        
        **Response:**
         * Happy flow: Copy of assignment plus price breakdown 
         * Error: response has an errormessage
      security:
        - oAuth2ClientCredentials: [ ]
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AssignRequestTree'
            examples:
              AssignRequest:
                $ref: '#/components/examples/AssignRequestExample'
      responses:
        '200':
          description: AssignRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AssignResponseTree'
              examples:
                AssignResponse:
                  $ref: '#/components/examples/AssignResponseExample'
                AssignResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/bookrequest:
    post:
      tags:
        - TravelMessage
      summary: Does a BookRequest
      description: |
        There can be made a booking with the dialogue of BookRequest. Although the xml data of the BookRequest is 
        the same as the AssignRequest and required in the G7 XML for TUI only the confirmation counts. So using 
        the same "*ReceiverSessionID*" as in the AssignRequest is enough. Changes made to passengers and assignments 
        at this stage will be ignored. The information that was in the Assign stage will be used.
        
        **Request:**
          * Same as AssignRequest, but changes are ignored. 
        
        **Response:**
         * Happy flow: Confirmed Booking (with BookID) 
         * Error: response has an errormessage        
      
      security:
        - oAuth2ClientCredentials: [ ]
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BookRequestTree'
            examples:
              BookRequest:
                $ref: '#/components/examples/BookRequestExample'
      responses:
        '200':
          description: BookRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BookResponseTree'
              examples:
                BookResponse:
                  $ref: '#/components/examples/BookResponseExample'
                BookResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/breakrequest:
    post:
      tags:
        - TravelMessage
      summary: Does a BreakRequest
      description: |
        The Break-dialogue allows the OTA to cut off a session between the travel agent and the tour operator decently.
        A new session can be started by sending a new SellRequest.                  
        
        **Response:**
         * Happy flow : Only a Control group is returned   
         * Error: response has an errormessage        
      security:
        - oAuth2ClientCredentials: [ ]
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BreakRequestTree'
            examples:
              BreakRequest:
                $ref: '#/components/examples/BreakRequestExample'
      responses:
        '200':
          description: BreakRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BreakResponseTree'
              examples:
                BreakResponse:
                  $ref: '#/components/examples/BreakResponseExample'
                BreakResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/addproavailabilityrequest:
    post:
      tags:
        - TravelMessage
      summary: Does a AddProAvailabilityRequest
      description: |
        AddProAvailability is used to acquire summary information about additional products.  
        There a two approaches defined in the ANVR documentation. With **overview** response, ResponseID is filled 
        with AvailabilityResponse. Only minimum information, ID and description are given in the response.   
        If a **detailed** response is necessary ResponseID will be filled with AvailabilityDetailsResponse. Detailed 
        information is given like prices, age restrictions allotment etc.  
        
        For TUI both approaches are not implemented (yet) but a third approach is done.
        If as RequestID/ResponseID "*AddProAvailabilityTransportRequest/Response*" is given with a Transportgroup 
        then detailed information is returned for extra's that are transport dependent. For example if flights 
        are given extra's can be returned like luggage upgrades, meals upgrades and so on.  
        
        The returned information can be used in the ReceiptRequest and the bookflow in Sell, Assign and BookRequest.  
        
        **Request:** 
         * Overview, request only contains PackageDetails section and ResponseID is "*AvailabilityResponse*"  (not implemented)
         * Details, request only contains PackageDetails section and ResponseID is "*AvailabilityDetailsResponse*" (not implemented)
         * Transport, request contains PackageDetails and Transport section and RequestID/ResponseID is 
        "*AddProAvailabilityTransportRequest/Response*"        
        
        **Response:** 
         * Overview, only basic information is returned
         * Details, detailed information is returned 
         * Transport, detailed information is returned for the given transports  
        This information is grouped in Transport-AdditionalProducts-Extras and is related with the given transports 
        by the group RelatedTransport
        
      
      security:
        - oAuth2ClientCredentials: [ ]
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AddProAvailabilityRequestTree'
            examples:
              AddProAvailabilityRequest (Transport):
                $ref: '#/components/examples/AddProAvailabilityRequestTransportExample'
              AddProAvailabilityRequest:
                $ref: '#/components/examples/AddProAvailabilityRequestExample'
      responses:
        '200':
          description: AddProAvailabilityRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AddProAvailabilityResponseTree'
              examples:
                AddProAvailabilityResponse (Transport):
                  $ref: '#/components/examples/AddProAvailabilityResponseTransportExample'
                AddProAvailabilityResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
                AddProAvailabilityResponse:
                  value: '<TravelMessage>NOT IMPLEMENTED</TravelMessage>'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/addprodetailsrequest:
    post:
      tags:
        - TravelMessage
      summary: Does a AddProDetailsRequest
      description: >
        AddProDetails is used to acquire detailed information about additional products. It is a continuation of the 
        AddProAvailability overview request. It is possible to get separate information for each extra or transport 
        rental, just by adding the extra or transport rental in the request.  
          **NOT IMPLEMENTED (YET)**
      security:
        - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AddProDetailsRequestTree'
            examples:
              AddProDetailsRequest:
                $ref: '#/components/examples/AddProDetailsRequest'
      responses:
        '200':
          description: AddProDetailsRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AddProDetailsResponseTree'
              examples:
                AddProDetailsResponse:
                  $ref: '#/components/examples/AddProDetailsResponse'
        
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/recaprequest:
    post:
      tags:
        - TravelMessage
      summary: Does a RecapRequest
      description: |
        With the dialogue of Recap a recapitulation from the data stored at the Touroperator concerning the 
        current session or currently booked trip can be requested.     
        
        For TUI only getting the requested booking is implemented.  
        
        **Request:**
        * Only "*BookID*" is required in the SecurityInfo group.  
        
        **Response:**
        * All information concerning the given booking like Passenger info, Transport, Accommodation Extra's, and Prices. 
        * Error: if booking cannot be found with given request data
        
        The price description can contain only a description or a description plus additional information. If a price
        component relates to the package itself only a description is given, for example "reissom". If a price is related
        to a specific component additional information is given to trace the price back to the component. This information
        is in the following format seperated with a pipe "|":
          1. Description
          2. Type (T = Transport, A = Accommodation/Unit, TE = Transport Extra, E = Extra)
          3. Relation (depending on type)  
            T = TransportID  
            A = AccommodationID, UnitID and ArrivalDate  
            TE = TransportID, GroupID, ExtraID, StartDate  
            E = GroupID, ExtraID, startDate  
        
        Examples:
          - Package: "Reissom"
          - Transport (T) : "Luchthaventoeslag|T|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ"
          - Accommodation(A): "Vroegboekkorting|A|A0192836|2919b8e9-7ae3-4883-9ecf-0377d8a8d202|11/03/2023"
          - Transport Extra (TE): "Klasse (PWIM)|TE|f36627fe-b3ec-4a08-afba-820ff267a7e5#20231103 OR 503 AMSMBJ|SEAT|PWIM|2023-11-03"
          - Extra (E): "Transfer (TXX)|E|Transfer|TXX|2023-11-03"        
      security:
        - oAuth2ClientCredentials: [ ]
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/RecapRequestTree'
            examples:
              RecapRequestExample:
                $ref: '#/components/examples/RecapRequestExample'
      responses:
        '200':
          description: RecapRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RecapResponseTree'
              examples:
                RecapResponseExample:
                  $ref: '#/components/examples/RecapResponseExample'
                RecapResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /travelmessage/v3.1/cancellationrequest:
    post:
      tags:
        - TravelMessage
      summary: Does a CancellationRequest
      description: |
        Two messages will be send by cancelling a booking; a CancellationRequest followed by a CancellationConfirmedRequest. 
        This is because of the possible cancellation costs which require confirmation.
        
        For TUI now only CancellationConfirmedRequest is implemented. No check yet for getting the cancellation cost 
        first. 
        
        **Request:**
        * "*BookID*", "*DepartureDate*" and "*ContactName*" are required in the SecurityInfo group.  
        
        **Response:**
        * Given back cancellation costs when cancellation is done. 
        * Error: If booking is not found or booking is already cancelled
      security:
        - oAuth2ClientCredentials: [ ]
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CancellationRequestTree'
            examples:
              CancellationRequestExample:
                $ref: '#/components/examples/CancellationConfirmedRequestExample'
      responses:
        '200':
          description: CancellationRequest Handled
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CancellationResponseTree'
              examples:
                CancellationResponse:
                  $ref: '#/components/examples/CancellationConfirmedResponseExample'
                CancellationResponse (Already Cancelled):
                  $ref: '#/components/examples/CancellationConfirmedResponseAcExample'
                CancellationResponse (error):
                  $ref: '#/components/examples/ErrorMessageExample'
        '400':
          description: Missing elements in Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      description: This API uses OAuth 2 with the implicit grant flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://prod.api.tui/oauth2/token'
          scopes: {}
  schemas:
    # Enums
    AccommodationType:
      type: string
      enum:
        - alb
        - apo
        - app
        - bnb
        - bng
        - bry
        - cam
        - car
        - cha
        - cpr
        - cru
        - est
        - ghf
        - gue
        - hos
        - hot
        - hui
        - kas
        - mai
        - mot
        - pen
        - pou
        - res
        - rh
        - ron
        - sch
        - tnt
        - vak
        - vil
        - wng
        - ALB
        - APO
        - APP
        - BNB
        - BNG
        - BRY
        - CAM
        - CAR
        - CHA
        - CPR
        - CRU
        - EST
        - GHF
        - GUE
        - HOS
        - HOT
        - HUI
        - KAS
        - MAI
        - MOT
        - PEN
        - POU
        - RES
        - RH
        - RON
        - SCH
        - TNT
        - VAK
        - VIL
        - WNG
    AgeType:
      type: string
      enum:
        - Max
        - Min
      xml:
        attribute: true
    BoardType:
      type: string
      enum:
        - lg # logies
        - lo
        - hp
        - vp
        - ab
        - bb
        - cb
        - br
        - vb
        - ai
        - dv
        - ph
        - pv
        - pa
        - ua
        - ld
        - LG
        - LO
        - HP
        - VP
        - AB
        - BB
        - CB
        - BR
        - VB
        - AI
        - DV
        - PH
        - PV
        - PA
        - UA
        - LD
    ClassTip:
      type: string
      enum:
        - Yes
        - No
      xml:
        attribute: true
    ControlLanguage:
      type: string
      enum:
        - NL
      xml:
        attribute: true
    CurrencyType:
      type: string
      enum:
        - EUR
      xml:
        attribute: true
    DocumentAddressTypeID:
      type: string
      enum:
        - KLT #Adressing to the customer
        - RSB #Adressingto the travelagency      
    DocumentDeliveryID:
      type: string
      enum:
        - EMAIL #Information will bes end by e-mail
        - POST  #Information will be send by postal services 
        - URL   #Information can be downloaded using the supported URL        
    DocumentTypeID:
      type: string
      enum:
        - HTML  #HTML-format
        - PAPER #The document will be deliverd on paper
        - PDF   #PDF-format
        - TEXT  #Text-format
        - XML   #XML-format
    DurationType:
      type: string
      enum:
        - dagen
        - nachten
      xml:
        attribute: true
    DutchDays:
      type: string
      enum:
        - ma
        - di
        - wo
        - do
        - vr
        - za
        - zo
    ExtrasCategoryType:
      type: string
      enum:
        - autoverhuur
        - accomodatieservice
        - bagage
        - camperverhuur
        - citycards
        - entreekaarten
        - excursiecards
        - fietsverhuur
        - ferryservice
        - overnachtingshotel
        - openbaarvervoerkaarten
        - parkeerservice
        - restaurant
        - skischool
        - skimateriaal
        - skipas
        - taxiservice
        - transfer
        - transportservice
        - stoelen
    FacilityType:
      type: string
      enum:
        - 1e
        - 1k
        - 2e
        - 2k
        - 3e
        - 3k
        - ac
        - az
        - ba
        - bd
        - bg
        - bi
        - bk
        - bl
        - br
        - bt
        - bu
        - bz
        - do
        - dz
        - et
        - ex
        - fr
        - gl
        - gs
        - in
        - js
        - kn
        - ks
        - kt
        - lu
        - lz
        - ma
        - mz
        - no
        - oo
        - pz
        - sp
        - st
        - su
        - tb
        - te
        - tz
        - ve
        - vz
        - wc
        - we
        - wk
        - zq
        - zu
        - zw
        - zx
        - zy
        - zz
        - 1E
        - 1K
        - 2E
        - 2K
        - 3E
        - 3K
        - AC
        - AZ
        - BA
        - BD
        - BG
        - BI
        - BK
        - BL
        - BR
        - BT
        - BU
        - BZ
        - DO
        - DZ
        - ET
        - EX
        - FR
        - GL
        - GS
        - IN
        - JS
        - KN
        - KS
        - KT
        - LU
        - LZ
        - MA
        - MZ
        - NO
        - OO
        - PZ
        - SP
        - ST
        - SU
        - TB
        - TE
        - TZ
        - VE
        - VZ
        - WC
        - WE
        - WK
        - ZQ
        - ZU
        - ZW
        - ZX
        - ZY
        - ZZ
    Gender:
      type: string
      enum:
        - m
        - v
        - M
        - V
    ISOCountry:
      type: string
      enum:
        - ad
        - ae
        - af
        - ag
        - ai
        - al
        - am
        - an
        - ao
        - aq
        - ar
        - as
        - at
        - au
        - aw
        - ax
        - az
        - ba
        - bb
        - bd
        - be
        - bf
        - bg
        - bh
        - bi
        - bj
        - bl
        - bm
        - bn
        - bo
        - br
        - bs
        - bt
        - bv
        - bw
        - by
        - bz
        - ca
        - cc
        - cd
        - cf
        - cg
        - ch
        - ci
        - ck
        - cl
        - cm
        - cn
        - co
        - cr
        - cu
        - cv
        - cx
        - cy
        - cz
        - de
        - dj
        - dk
        - dm
        - do
        - dz
        - ec
        - ee
        - eg
        - eh
        - er
        - es
        - et
        - fi
        - fj
        - fk
        - fm
        - fo
        - fr
        - ga
        - gb
        - gd
        - ge
        - gf
        - gg
        - gh
        - gi
        - gl
        - gm
        - gn
        - gp
        - gq
        - gr
        - gs
        - gt
        - gu
        - gw
        - gy
        - hk
        - hm
        - hn
        - hr
        - ht
        - hu
        - id
        - ie
        - il
        - im
        - in
        - io
        - iq
        - ir
        - is
        - it
        - je
        - jm
        - jo
        - jp
        - ke
        - kg
        - kh
        - ki
        - km
        - kn
        - kp
        - kr
        - kw
        - ky
        - kz
        - la
        - lb
        - lc
        - li
        - lk
        - lr
        - ls
        - lt
        - lu
        - lv
        - ly
        - ma
        - mc
        - md
        - me
        - mf
        - mg
        - mh
        - mk
        - ml
        - mm
        - mn
        - mo
        - mp
        - mq
        - mr
        - ms
        - mt
        - mu
        - mv
        - mw
        - mx
        - my
        - mz
        - na
        - nc
        - ne
        - nf
        - ng
        - ni
        - nl
        - no
        - np
        - nr
        - nu
        - nz
        - om
        - pa
        - pe
        - pf
        - pg
        - ph
        - pk
        - pl
        - pm
        - pn
        - pr
        - ps
        - pt
        - pw
        - py
        - qa
        - re
        - ro
        - rs
        - ru
        - rw
        - sa
        - sb
        - sc
        - sd
        - se
        - sg
        - sh
        - si
        - sj
        - sk
        - sl
        - sm
        - sn
        - so
        - sr
        - st
        - sv
        - sy
        - sz
        - tc
        - td
        - tf
        - tg
        - th
        - tj
        - tk
        - tl
        - tm
        - tn
        - to
        - tr
        - tt
        - tv
        - tw
        - tz
        - ua
        - ug
        - um
        - us
        - uy
        - uz
        - va
        - vc
        - ve
        - vg
        - vi
        - vn
        - vu
        - wf
        - ws
        - ye
        - yt
        - za
        - zm
        - zw
        - bq
        - cw
        - sx
        - AD
        - AE
        - AF
        - AG
        - AI
        - AL
        - AM
        - AN
        - AO
        - AQ
        - AR
        - AS
        - AT
        - AU
        - AW
        - AX
        - AZ
        - BA
        - BB
        - BD
        - BE
        - BF
        - BG
        - BH
        - BI
        - BJ
        - BL
        - BM
        - BN
        - BO
        - BR
        - BS
        - BT
        - BV
        - BW
        - BY
        - BZ
        - CA
        - CC
        - CD
        - CF
        - CG
        - CH
        - CI
        - CK
        - CL
        - CM
        - CN
        - CO
        - CR
        - CU
        - CV
        - CX
        - CY
        - CZ
        - DE
        - DJ
        - DK
        - DM
        - DO
        - DZ
        - EC
        - EE
        - EG
        - EH
        - ER
        - ES
        - ET
        - FI
        - FJ
        - FK
        - FM
        - FO
        - FR
        - GA
        - GB
        - GD
        - GE
        - GF
        - GG
        - GH
        - GI
        - GL
        - GM
        - GN
        - GP
        - GQ
        - GR
        - GS
        - GT
        - GU
        - GW
        - GY
        - HK
        - HM
        - HN
        - HR
        - HT
        - HU
        - ID
        - IE
        - IL
        - IM
        - IN
        - IO
        - IQ
        - IR
        - IS
        - IT
        - JE
        - JM
        - JO
        - JP
        - KE
        - KG
        - KH
        - KI
        - KM
        - KN
        - KP
        - KR
        - KW
        - KY
        - KZ
        - LA
        - LB
        - LC
        - LI
        - LK
        - LR
        - LS
        - LT
        - LU
        - LV
        - LY
        - MA
        - MC
        - MD
        - ME
        - MF
        - MG
        - MH
        - MK
        - ML
        - MM
        - MN
        - MO
        - MP
        - MQ
        - MR
        - MS
        - MT
        - MU
        - MV
        - MW
        - MX
        - MY
        - MZ
        - NA
        - NC
        - NE
        - NF
        - NG
        - NI
        - NL
        - NO
        - NP
        - NR
        - NU
        - NZ
        - OM
        - PA
        - PE
        - PF
        - PG
        - PH
        - PK
        - PL
        - PM
        - PN
        - PR
        - PS
        - PT
        - PW
        - PY
        - QA
        - RE
        - RO
        - RS
        - RU
        - RW
        - SA
        - SB
        - SC
        - SD
        - SE
        - SG
        - SH
        - SI
        - SJ
        - SK
        - SL
        - SM
        - SN
        - SO
        - SR
        - ST
        - SV
        - SY
        - SZ
        - TC
        - TD
        - TF
        - TG
        - TH
        - TJ
        - TK
        - TL
        - TM
        - TN
        - TO
        - TR
        - TT
        - TV
        - TW
        - TZ
        - UA
        - UG
        - UM
        - US
        - UY
        - UZ
        - VA
        - VC
        - VE
        - VG
        - VI
        - VN
        - VU
        - WF
        - WS
        - YE
        - YT
        - ZA
        - ZM
        - ZW
        - BQ
        - CW
        - SX

    LatitudeDirection:
      type: string
      enum:
        - N
        - Z
      xml:
        attribute: true
    LongitudeDirection:
      type: string
      enum:
        - O
        - W
      xml:
        attribute: true
    MessageType:
      type: string
      enum:
        - Error
        - System
        - Info
        - Erratum
    MessageID:
      type: integer
      enum:
        - 0
        - 1
        - 2
        - 101
        - 102
        - 103
        - 104
        - 105
        - 106
        - 107
        - 108
        - 109
        - 110
        - 111
        - 112
        - 113
        - 114
        - 115
        - 1001
        - 1002
        - 1003
        - 1004
        - 1005
        - 1006
        - 1007
        - 1008
        - 1009
        - 1010
        - 1011
        - 1012
        - 1013
        - 1014
        - 1015
        - 1016
        - 1017
        - 1018
        - 1019
        - 1020
        - 1021
        - 1022
        - 1023
        - 1024
        - 1025
        - 1026
        - 1027
        - 1028
        - 1029
        - 1030
        - 1031
        - 1032
        - 1033
        - 1034
        - 1035
        - 1036
        - 1037
        - 1038
        - 1039
        - 1040
        - 1041
        - 1042
        - 1043
        - 1044
        - 1045
        - 1046
        - 1047
        - 1048
        - 1049
        - 1050
        - 1051
        - 1052
        - 1053
        - 1054
        - 1055
        - 1056
        - 1057
        - 1058
        - 1059
        - 1060
        - 1070
        - 1071
    MultiMediaFormatValues:
      type: string
      enum:
        - GIF
        - BMP
        - SVG
        - EPS
        - AVI
        - WAV
        - MP3
        - XML
        - HTML
        - PDF
        - TXT
      xml:
        attribute: true
    MultiMediaViewValues:
      type: string
      enum:
        - Detail
        - Overview
        - Environment
      xml:
        attribute: true
    MultiMediaTypeValues:
      type: string
      enum:
        - Photo
        - Map
        - Illustration
        - Logo
        - Movie
      xml:
        attribute: true
    MutationType:
      type: string
      enum:
        - Deletion
        - Mutation
        - New
        - Reset
    OfferType:
      type: string
      enum:
        - regular
        - offer
    PackageType:
      type: string
      enum:
        - PAKK
        - TRAN
        - ACCO
        - CARR
        - MOBI
    PEType:
      type: string
      enum:
        - E
        - M
        - P
      xml:
        attribute: true
    PointType:
      type: string
      enum:
        - IATAcode
        - Postcode
        - Internal
        - ANVRLandStreek
      xml:
        attribute: true
    PriceCode:
      type: string
      enum:
        - 001
        - 002
        - 011
        - 012
        - 017
        - 018
        - 019
        - 020
        - 021
        - 022
        - 024
        - 025
        - 026
        - 032
        - 040
        - 041
        - 042
        - 060
        - 090
        - 100
        - 111
        - 116
        - 117
        - 119
        - 128
        - 129
        - 130
        - 131
        - 150
        - 152
        - 170
        - 180
        - 190
        - 220
        - 329
        - 350
        - 999

    PricePer:
      type: string
      enum:
        - pn
        - pw
        - pa
        - kn
        - kw
        - ka
        - tp
      xml:
        attribute: true
    PriceType:
      type: string
      enum:
        - perdag
        - vastbedrag
    SalesResponsibilityType:
      type: string
      enum:
        - Agent
        - Organizer
    Sign:
      type: string
      enum:
        - '-'
      xml:
        attribute: true
    TransportType:
      type: string
      enum:
        - vl
        - bu
        - tr
        - fe
        - bo
        - ev
        - VL
        - BU
        - TR
        - FE
        - BO
        - EV
    TimeReliability:
      enum:
        - zeker
        - voorbehoud
      type: string
      xml:
        attribute: true
      nullable: true
    TravelMessageVersionID:
      type: string
      enum:
        - '3.1'
      xml:
        attribute: true
    UnitType:
      type: string
      pattern: '(\d+pk)|(\d+PK)|(\d+ka)|(\d+KA)|(\d+kb)|(\d+KB)|(\d+kw)|(\d+KW)|(\d+kv)|(\d+KV)|(\d+ph)|(\d+PH)|(\d+pt)|(\d+PT)|(\d+pc)|(\d+PC)|(\d+ks)|(\d+KS)|(\d+pl)|(\d+PL)|(\d+ps)|(\d+PS)|(\d+pz)|(\d+PZ)|(\d+gk)|(\d+GK)|(\d+tc)|(\d+TC)|(div)|(DIV)|(stn)|(STN)'
    YesNoValue:
      type: string
      enum:
        - ja
        - nee
      xml:
        attribute: true

    # Elements
    AccoAssignment:
      type: object
      properties:
        AccommodationID:
          type: string
        ComponentID:
          type: string
        Sequence:
          type: string
        ArrivalDate:
          type: string
          format: 'YYYY-MM-DD'
        Duration:
          $ref: '#/components/schemas/Duration'
        DepartureDate:
          type: string
          format: 'YYYY-MM-DD'
        BoardAssignment:
          type: array
          title: BoardAssignment
          items:
            $ref: '#/components/schemas/BoardAssignment'
        UnitAssignment:
          type: array
          title: UnitAssignment
          items:
            $ref: '#/components/schemas/UnitAssignment'
        ExtrasAssignment:
          type: array
          title: ExtrasAssignment
          items:
            $ref: '#/components/schemas/ExtrasAssignment'
      required:
        - AccommodationID
        - ArrivalDate
        - Duration
        - UnitAssignment
    Accommodation:
      title: Accommodation
      type: object
      properties:
        AccommodationID:
          type: string
        ComponentID:
          type: string
        AccommodationType:
          $ref: '#/components/schemas/AccommodationType'
        Name:
          type: string
        Address:
          type: string
        ZipCode:
          type: string
        Place:
          type: string
        CountryID:
          $ref: '#/components/schemas/ISOCountry'
        GPSCode:
          $ref: '#/components/schemas/GPSCode'
        Telephone:
          type: string
        ArrivalDate:
          type: string
          format: 'YYYY-MM-DD'
        DepartureDate:
          type: string
          format: 'YYYY-MM-DD'
        Duration:
          $ref: '#/components/schemas/Duration'
        Unit:
          type: array
          title: Unit
          items:
            $ref: '#/components/schemas/Unit'
        Arrangement:
          type: array
          title: Arrangement
          items:
            $ref: '#/components/schemas/Arrangement'
        Extras:
          type: array
          title: Extras
          items:
            $ref: '#/components/schemas/Extras'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
      required:
        - AccommodationID
        - ArrivalDate
        - Duration
        - Unit
    AdditionalProducts:
      type: object
      properties:
        Extras:
          type: array
          title: Extras
          items:
            $ref: '#/components/schemas/Extras'
        TransportRental:
          type: array
          title: TransportRental
          items:
            $ref: '#/components/schemas/TransportRental'
    AgeCondition:
      title: Age Condition
      type: object
      properties:
        AgeType:
          $ref: '#/components/schemas/AgeType'
    APAssignment:
      type: object
      properties:
        ExtrasAssignment:
          type: array
          title: ExtrasAssignment
          items:
            $ref: '#/components/schemas/ExtrasAssignment'
        TRentalAssignment:
          type: array
          title: TRentalAssignment
          items:
            $ref: '#/components/schemas/TRentalAssignment'
    Arrangement:
      title: Arrangement
      type: object
      properties:
        ArrangementID:
          type: string
        Sequence:
          type: string
        Description:
          type: string
        ArrivalDate:
          type: string
          format: 'YYYY-MM-DD'
        Duration:
          $ref: '#/components/schemas/Duration'
        Allotment:
          type: integer
          format: int32
      required:
        - ArrangementID
        - Sequence
        - ArrivalDate
        - Duration
        - Allotment
    Arrival:
      type: object
      properties:
        Point:
          $ref: '#/components/schemas/Point'
        Date:
          type: string
          format: "YYYY-MM-DD"
        Time:
          $ref: '#/components/schemas/Time'
        DropOff:
          $ref: '#/components/schemas/DropOff'
      required:
        - Point
        - Date
    ArrivalInfo:
      type: object
      properties:
        Point:
          $ref: '#/components/schemas/Point'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            type: string
        ArrivalDay:
          type: array
          title: ArrivalDay
          items:
            $ref: '#/components/schemas/DutchDays'
      required:
        - Point
    Board:
      title: Board
      type: object
      properties:
        BoardType:
          $ref: '#/components/schemas/BoardType'
        Description:
          type: string
          title: Description
        PriceNotes:
          type: array
          items:
            $ref: '#/components/schemas/PriceNote'
      required:
        - BoardType
    BoardAssignment:
      type: object
      properties:
        BoardType:
          $ref: '#/components/schemas/BoardType'
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
        - BoardType
    BookInfo:
      type: object
      properties:
        InvoiceID:
          type: string
        InvoiceDate:
          type: string
          format: 'YYYY-MM-DD'
        InvoiceStatus:
          type: string
        TravelDocumentsStatus:
          type: string
    CancellationInformation:
      type: object
      properties:
        Description:
          type: string
        Url:
          type: string
      required:
        - Description
    CancellationPolicy:
      type: object
      properties:
        CancellationPeriod:
          type: array
          title: CancellationPeriod
          items:
            type: object
            title: CancellationPeriod
            properties:
              CancellationPeriodDateTimeFrom:
                allOf:
                  - $ref: '#/components/schemas/DateAndTime'
                required:
                  - Date
                  - Time
              CancellationPeriodDateTimeTo:
                allOf:
                  - $ref: '#/components/schemas/DateAndTime'
                required:
                  - Date
                  - Time
              DescriptionField:
                type: string
              CancellationRate:
                type: integer
              CancellationFoundation:
                type: number
              CancellationAmmount:
                type: number
    Class:
      type: object
      properties:
        Tip:
          $ref: '#/components/schemas/ClassTip'
        ClassID:
          type: string
        Description:
          type: string
        Seats:
          type: number
        RequiredSeats:
          type: number
        Surcharge:
          type: object
          properties:
            Currency:
              $ref: '#/components/schemas/CurrencyType'
            Sign:
              $ref: '#/components/schemas/Sign'
        PriceNotes:
          type: string
        CancellationInformation:
          $ref: '#/components/schemas/CancellationInformation'
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
        - ClassID
        - Seats
    Carrier:
      type: object
      properties:
        CarrierID:
          type: string
        Description:
          type: string
        FlightNumber:
          type: string
        Stopovers:
          type: object
          properties:
            NumberOfStops:
              type: number
              xml:
                attribute: true
            Stop:
              type: object
              properties:
                Index:
                  type: number
                  xml:
                    attribute: true
                Arrival:
                  allOf:
                    - $ref: '#/components/schemas/DateAndTime'
                  required:
                    - Date
                Departure:
                  allOf:
                    - $ref: '#/components/schemas/DateAndTime'
                  required:
                    - Date
                Point:
                  $ref: '#/components/schemas/Point'
                Checkin:
                  $ref: '#/components/schemas/YesNoValue'
                LeaveFlight:
                  $ref: '#/components/schemas/YesNoValue'
          required:
            - NumberOfStops
      required:
        - CarrierID
        - Stopovers
    Condition:
      allOf:
        - type: object
          oneOf:
            - title: NumberOfPersons
              properties:
                NumberOfPersons:
                  type: integer
                  format: int32
              required:
                - NumberOfPersons
            - title: AgeCondition
              properties:
                AgeCondition:
                  $ref: '#/components/schemas/AgeCondition'

    Contact:
      type: object
      properties:
        PaxID:
          type: string
        Initials:
          type: string
        Infix:
          type: string
        Name:
          type: string
        Gender:
          $ref: '#/components/schemas/Gender'
        Address:
          type: string
        Zipcode:
          type: string
        Place:
          type: string
        Country:
          type: string
        TelHome:
          type: string
        TelWork:
          type: string
        TelMobile:
          type: string
        Email:
          type: string
        BankAccount:
          type: string
      required:
        - Name
        - Gender
        - TelHome
    Date: # Made a separate component. Occurs several times as a single component.
      type: string
      format: 'YYYY-MM-DD'
    DateAndTime:
      title: DateAndTime
      type: object
      properties:
        Date:
          type: string
          format: YYYY-MM-DD
        Time:
          $ref: '#/components/schemas/Time'
    Departure:
      type: object
      properties:
        Point:
          $ref: '#/components/schemas/Point'
        Date:
          type: string
          format: "YYYY-MM-DD"
        Time:
          $ref: '#/components/schemas/Time'
        PickUp:
          $ref: '#/components/schemas/PickUp'
      required:
        - Point
        - Date
    DepartureArrivalInfo:
      type: object
      properties:
        Point:
          $ref: '#/components/schemas/Point'
      required:
        - Point
    Duration:
      type: object
      title: Duration
      properties:
        Duration:
          $ref: '#/components/schemas/DurationType'
    Document:
      type: object
      properties:
        DocumentType:
          type: object
          title:   DocumentType
          properties:
            DocumentTypeID:
              $ref: '#/components/schemas/DocumentTypeID'
            Description:
              type: string
          required:
            - DocumentTypeID
        DocumentDelivery:
          type: object
          title: DocumentDelivery
          properties:
            DocumentDeliveryID:
              $ref: '#/components/schemas/DocumentDeliveryID'
            Description:
              type: string
          required:
            - DocumentDeliveryID
        DocumentAddressType:
          type: array
          title: DocumentAddressType
          items:
            type: object
            properties:
              DocumentAddressTypeID:
                $ref: '#/components/schemas/DocumentAddressTypeID'
              Description:
                type: string
            required:
              - DocumentAddressTypeID
      required:
        - DocumentType
        - DocumentDelivery
        - DocumentAddressType
    DropOff:
      type: object
      properties:
        Point:
          $ref: '#/components/schemas/Point'
        Date:
          type: string
          format: "YYYY-MM-DD"
        Time:
          $ref: '#/components/schemas/Time'
      required:
        - Point
        - Date
    Extras:
      type: object
      properties:
        Required:
          $ref: '#/components/schemas/YesNoValue'
        CategoryChoice:
          $ref: '#/components/schemas/YesNoValue'
        ExtraID:
          type: string
        Sequence:
          type: string
        Description:
          type: string
        ExtendedDescription:
          type: string
        ExtrasCategory:
          $ref: '#/components/schemas/ExtrasCategoryType'
        From:
          $ref: '#/components/schemas/DateAndTime'
        To:
          $ref: '#/components/schemas/DateAndTime'
        Allotment:
          type: number
        Status:
          $ref: '#/components/schemas/Status'
        MinQuantity:
          type: number
        MaxQuantity:
          type: number
        RecomPrice:
          type: array
          title: RecomPrice
          items:
            $ref: '#/components/schemas/RecomPrice'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            type: string
        MinChildAge:
          type: number
        MaxChildAge:
          type: number
        ChildPrice:
          title: ChildPrice
          type: object
          properties:
            Currency:
              $ref: '#/components/schemas/CurrencyType'
            Sign:
              $ref: '#/components/schemas/Sign'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
        RelatedTransport:
          type: array
          title: RelatedTransport
          items:
            $ref: '#/components/schemas/RelatedTransport'
        CancellationInformation:
          $ref: '#/components/schemas/CancellationInformation'
        Prices:
          type: object
          title: Prices
          properties:
            AgeRestrictedPrice:
              type: array
              items:
                type: object
                properties:
                  Default:
                    type: string
                    xml:
                      attribute: true
                  RecomPrice:
                    $ref: '#/components/schemas/RecomPrice'
                  Description:
                    type: string
                  ExtendedDescription:
                    type: string
                  MinAge:
                    type: integer
                  MaxAge:
                    type: integer
        ExtrasPax:
          type: array
          title: ExtrasPax
          items:
            $ref: '#/components/schemas/ExtrasPax'
        GroupID:
          type: string            
      required:
        - ExtraID
        - Description
    ExtrasAssignment:
      type: object
      properties:
        ExtraID:
          type: string
        Sequence:
          type: string
        From:
          $ref: '#/components/schemas/DateAndTime'
        To:
          $ref: '#/components/schemas/DateAndTime'
        Quantity:
          type: number
        ExtrasPax:
          type: array
          title: ExtrasPax
          items:
            $ref: '#/components/schemas/ExtrasPax'
        RelatedTransport:
          type: array
          title: RelatedTransport
          items:
            $ref: '#/components/schemas/RelatedTransport'            
      required:
        - ExtraID
        - Sequence
    Facility:
      title: Facility
      type: object
      properties:
        FacilityType:
          $ref: '#/components/schemas/FacilityType'
        Description:
          title: Description
          type: string
    FulfilmentComponent:
      type: object
      properties:
        Document:
          type: array
          title: Document
          items:
            $ref: '#/components/schemas/Document'
      required:
        - Document
    ExtrasPax:
      type: object
      properties:
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
        Quantity:
          type: number
      required:
        - PaxID
        - Quantity
    GPSCode:
      type: object
      properties:
        Latitude:
          type: object
          properties:
            LatitudeDirection:
              $ref: '#/components/schemas/LatitudeDirection'
            LatitudeDegrees:
              type: number
            LatitudeMinutes:
              type: number
            LatitudeSeconds:
              type: number
            LatitudeDecimal:
              type: number
          required:
            - LatitudeDirection
            - LatitudeDegrees
            - LatitudeMinutes
            - LatitudeSeconds
            - LatitudeDecimal
        Longitude:
          type: object
          properties:
            LongitudeDirection:
              $ref: '#/components/schemas/LongitudeDirection'
            LongitudeDegrees:
              type: number
            LongitudeMinutes:
              type: number
            LongitudeSeconds:
              type: number
            LongitudeDecimal:
              type: number
          required:
            - LongitudeDirection
            - LongitudeDegrees
            - LongitudeMinutes
            - LongitudeSeconds
            - LongitudeDecimal
      required:
        - Latitude
        - Longitude
    HomeStay:
      type: object
      properties:
        Initials:
          type: string
        Infix:
          type: string
        Name:
          type: string
        TelHome:
          type: string
        TelWork:
          type: string
        TelMobile:
          type: string
        Email:
          type: string
      required:
        - Name
        - TelHome
    Image:
      type: object
      properties:
        imagetype: # Thumbnail, Small or Fullsize
          type: string
          xml:
            attribute: true
        summer: # yes/no
          type: string
          xml:
            attribute: true
        winter: # yes/no
          type: string
          xml:
            attribute: true
        Title:
          type: string
        Sequence:
          type: string
        Url:
          type: string
      required:
        - Url
    Insurance:
      type: object
      properties:
        InsuranceID:
          type: string
        Description:
          type: string
        ExtendedDescription:
          type: string
        Category:
          type: string
        RecomPrice:
          type: array
          title: RecomPrice
          items:
            $ref: '#/components/schemas/RecomPrice'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            type: string
        PriceType:
          $ref: '#/components/schemas/PriceType'
        PriceDescription:
          type: string
        PolicyCosts:
          type: number
        Coverage:
          type: string
        Risk:
          type: string
      required:
        - InsuranceID
        - Description
    InsuranceAssignment:
      type: object
      properties:
        insuranceID:
          type: string
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
        Quantity:
          type: number
      required:
        - insuranceID
        - Quantity
    Location: # Here there is a choice between :
      # 1. Country,  Area, Place    
      # 2. CountryID, AreaID, PlaceID, AccommodationID 
      allOf:
        - type: object
          oneOf:
            - title: CountryName
              properties: # probably this choice is used
                Country:
                  type: string
                Area :
                  type: string
                Place:
                  type: string
              required:
                - Country
                - Place
            - title: CountryID
              properties:
                CountryID:
                  $ref: '#/components/schemas/ISOCountry'
                AreaID :
                  type: string
                PlaceID:
                  type: string
                AccommodationID:
                  type: string
              required:
                - CountryID
                - PlaceID
        - type: object
          properties:
            GPSCode:
              $ref: '#/components/schemas/GPSCode'
    MultiMedia:
      type: object
      properties:
        Description:
          type: string
          xml:
            attribute: true
        Format:
          $ref: '#/components/schemas/MultiMediaFormatValues'
        Size:
          type: string
          xml:
            attribute: true
        ReleaseDate:
          type: string
          format: "YYYY-MM-DD"
          xml:
            attribute: true
        Source:
          type: string
          xml:
            attribute: true
        Type:
          $ref: '#/components/schemas/MultiMediaTypeValues'
        View:
          $ref: '#/components/schemas/MultiMediaViewValues'
        Heigth:
          type: string
          xml:
            attribute: true
        Width:
          type: string
          xml:
            attribute: true
        Length:
          type: string
          xml:
            attribute: true
    Occupancy:
      type: object
      properties:
        Occupation:
          $ref: '#/components/schemas/Occupation'
    Occupation:
      type: array
      title: Occupation
      items:
        allOf:
          - type: object
            oneOf:
              - title: Occupation
                properties:
                  Quantity:
                    type: integer
                    title: Quantity
                    format: int32
                  Condition:
                    type: array
                    title: Condition
                    items:
                      $ref: '#/components/schemas/Condition'
                required:
                  - Quantity
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties: {}
    PackageDetails:
      type: object
      properties:
        waitListCheck:
          $ref: '#/components/schemas/YesNoValue'
        NumberOfAlternatives:
          type: integer
          xml:
            attribute: true
        PackageID:
          type: string
        Description:
          type: string
        Brand:
          type: string
        NumberOfAdults:
          type: integer
          example: 2
        NumberOfChildren:
          type: integer
        NumberOfBabies:
          type: integer
        DepartureDate:
          type: string
          format: 'YYYY-MM-DD'
        DeparturePoint:
          type: string
          example: AMS
        AccommodationType:
          $ref: '#/components/schemas/AccommodationType'
        BoardType:
          $ref: '#/components/schemas/BoardType'
        UnitType:
          $ref: '#/components/schemas/UnitType'
        FacilityType:
          type: array
          title: FacilityType
          items:
            $ref: '#/components/schemas/FacilityType'
        Duration:
          $ref: '#/components/schemas/Duration'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
        PackageType:
          $ref: '#/components/schemas/PackageType'
      required:
        - PackageID
        - NumberOfAdults
        - NumberOfChildren
        - NumberOfBabies
        - DepartureDate
        - Duration
        - PackageType
    PackageDetailsReceipt:
      type: object
      properties:
        PackageID:
          $ref: '#/components/schemas/PackageID'
        DepartureDate:
          $ref: '#/components/schemas/Date'
        Duration:
          $ref: '#/components/schemas/Duration'
      required:
        - PackageID
        - DepartureDate
        - Duration
    PackageID: # Made a separate component. Occurs several times as a single component.
      type: string
    ProductInfo:
      type: object
      properties:
        Description:
          type: string
        PublicationPeriod:
          $ref: '#/components/schemas/StartAndEndDate'
        Category:
          type: integer
        Reference:
          $ref: '#/components/schemas/Reference'
        ImageLocation:
          type: string
        TextLocation:
          type: string
        FacilityGroup:
          $ref: '#/components/schemas/FacilityGroup'
    Reference:
      type: object
      properties:
        ReferenceID:
          type: integer
        Description:
          type: string
    FacilityGroup:
      type: object
      properties:
        Facility:
          type: array
          items:
            type: integer
    PackageInfo:
      type: object
      properties:
        Description:
          type: string
        PublicationPeriod:
          $ref: '#/components/schemas/StartAndEndDate'
        BookPeriod:
          $ref: '#/components/schemas/StartAndEndDate'
        TravelPeriod:
          $ref: '#/components/schemas/StartAndEndDate'
        Category:
          type: string
        ImageGroup:
          type: object
          title: ImageGroup
          properties:
            Image:
              type: array
              items:
                $ref: '#/components/schemas/Image'
          required:
            - Image
        TextGroup:
          type: object
          title: TextGroup
          properties:
            Text:
              type: array
              items:
                $ref: '#/components/schemas/Text'
          required:
            - Text
        PropertyGroup:
          type: object
          title: PropertyGroup
          properties:
            PropertyItem:
              type: array
              items:
                $ref: '#/components/schemas/PropertyItem'
          required:
            - PropertyItem
      required:
        - Description
    PaxAssignment:
      type: object
      properties:
        TransportAssignment:
          type: array
          title: TransportAssignment
          items:
            $ref: '#/components/schemas/TransportAssignment'
        AccoAssignment:
          type: array
          title: AccoAssignment
          items:
            $ref: '#/components/schemas/AccoAssignment'
        PreferencesAndEssentials:
          title: PreferencesAndEssentials
          type: array
          items:
            $ref: '#/components/schemas/PreferencesAndEssentials'
        APAssignment:
          $ref: '#/components/schemas/APAssignment'
    PaxDescription:
      type: object
      properties:
        PaxID:
          type: string
        GivenNames:
          type: string
        Initials:
          type: string
        Infix:
          type: string
        Name:
          type: string
        DateOfBirth:
          type: string
          format: 'YYYY-MM-DD'
        Age:
          type: number
        Gender:
          $ref: '#/components/schemas/Gender'
        Nationality:
          type: string
        PassportNumber:
          type: string
        Discounts:
          $ref: '#/components/schemas/Discounts'
      required:
        - PaxID
        - Initials
        - Name
        - DateOfBirth
        - Gender
    PaxDetails:
      type: object
      properties:
        PaxDescription:
          type: array
          title: PaxDescription
          items:
            $ref: '#/components/schemas/PaxDescription'
        Contact:
          $ref: '#/components/schemas/Contact'
        HomeStay:
          $ref: '#/components/schemas/HomeStay'
      required:
        - PaxDescription
        - HomeStay
    PaxDetailsReceipt:
      type: object
      properties:
        PaxID:
          $ref: '#/components/schemas/PaxID'
        DateOfBirth:
          $ref: '#/components/schemas/Date'
        Discounts:
          $ref: '#/components/schemas/Discounts'          
    PaxID:
      type: string
    PickUp:
      type: object
      properties:
        Point:
          $ref: '#/components/schemas/Point'
        Date:
          type: string
          format: "YYYY-MM-DD"
        Time:
          $ref: '#/components/schemas/Time'
      required:
        - Point
        - Date
    Point:
      type: object
      properties:
        PointType:
          $ref: '#/components/schemas/PointType'
        PointID:
          type: string
        Description:
          type: string
        GPSCode:
          $ref: '#/components/schemas/GPSCode'
      required:
        - PointType
        - PointID
    PreferencesAndEssentials:
      type: object
      properties:
        PEType:
          $ref: '#/components/schemas/PEType'
        PECode:
          type: string
        Dscription:
          type: string
        ObjectID:
          type: string
        Sequence:
          type: string
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
        - PEType
        - PECode
    Price:
      type: object
      properties:
        Currency:
          $ref: '#/components/schemas/CurrencyType'
        PricePer:
          $ref: '#/components/schemas/PricePer'
        Sign:
          $ref: '#/components/schemas/Sign'
        CommissionPercentage:
          title: Commission Percentage
          type: string
          xml:
            attribute: true
        CommissionAmount:
          title: Commission Amount
          type: string
          xml:
            attribute: true
    PriceValue:
      type: object
      properties:
        Currency:
          $ref: '#/components/schemas/CurrencyType'
        PricePer:
          $ref: '#/components/schemas/PricePer'
        Sign:
          $ref: '#/components/schemas/Sign'
    PriceInfo:
      type: object
      properties:
        Price:
          $ref: '#/components/schemas/Price'
        PricePaySupplyer:
          allOf:
            - $ref: '#/components/schemas/PricePay'
          title: PricePaySupplyer
        PricePayLocally:
          allOf:
            - $ref: '#/components/schemas/PricePay'
          title: PricePayLocally
        TotalCommission:
          type: object
          properties:
            Currency:
              $ref: '#/components/schemas/CurrencyType'
            Sign:
              $ref: '#/components/schemas/Sign'
      required:
        - Price
        - PricePaySupplyer
    PriceDetails:
      type: object
      properties:
        PriceDescription:
          type: string
        PriceCode:
          $ref: '#/components/schemas/PriceCode'
        Price:
          $ref: '#/components/schemas/Price'
        PaxID:
          type: string
        Qantity:
          type: number
        VATRate:
          type: number
        AdditionalCharge:
          $ref: '#/components/schemas/CurrencyType'
        Discount:
          $ref: '#/components/schemas/CurrencyType'
      required:
        - PriceDescription
        - Price
    PriceNote:
      type: string
      title: Pricenote
    PricePay:
      type: object
      properties:
        Price:
          $ref: '#/components/schemas/Price'
        PriceDetails:
          type: array
          title: PriceDetails
          items:
            $ref: '#/components/schemas/PriceDetails'
      required:
        - Price
        - PriceDetails
    PropertyItem:
      type: object
      properties:
        PropertyCode:
          type: string
        Description:
          type: string
      required:
        - PropertyCode
        - Description
    RecomPrice:
      type: object
      properties:
        Currency:
          $ref: '#/components/schemas/CurrencyType'
        PricePer:
          $ref: '#/components/schemas/PricePer'
        Sign:
          $ref: '#/components/schemas/Sign'
    RelatedTransport:
      type: object
      properties:
        TransportID:
          type: string
        ClassID:
          type: string
    Responsibilities:
      type: object
      properties:
        SalesResponsibility:
          $ref: '#/components/schemas/SalesResponsibilityType'
      required:
        - SalesResponsibility
    RoomAssignment:
      type: object
      properties:
        AllInOneRoom:
          $ref: '#/components/schemas/YesNoValue'
        Sequence:
          type: string
        RoomNumber:
          type: string
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
        - PaxID
        - Sequence
    RoomNumber:
      title: RoomNumber
      type: integer
      format: int32
    SecurityInfo:
      type: object
      properties:
        BookID:
          type: string
        DepartureDate:
          type: string
          format: 'YYYY-MM-DD'
        NumberOfAdults:
          type: number
        ContactName:
          type: string
        SenderID:
          type: string
      required:
        - BookID
    StartAndEndDate:
      type: object
      properties:
        StartDate:
          type: string
          format: 'YYYY-MM-DD'
        EndDate:
          type: string
          format: 'YYYY-MM-DD'
      required:
        - StartDate
        - EndDate
    Status:
      type: object
      properties:
        StatusID:
          type: string
        Description:
          type: string
      required:
        - StatusID
        - Description
    Text:
      type: object
      properties:
        type: # general or detailed
          type: string
          xml:
            attribute: true
        summer: # yes/no
          $ref: '#/components/schemas/YesNoValue'
        winter: # yes/no
          $ref: '#/components/schemas/YesNoValue'
        Title:
          type: string
        Sequence:
          type: string
        TextContent:
          type: string
      required:
        - TextContent
    Time:
      type: object
      properties:
        Reliability:
          $ref: '#/components/schemas/TimeReliability'

    # Components
    Transport:
      type: object
      properties:
        TransportTo:
          type: array
          title: TransportTo
          items:
            $ref: '#/components/schemas/TransportFromTo'
        TransportFrom:
          type: array
          title: TransportFrom
          items:
            $ref: '#/components/schemas/TransportFromTo'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            type: string
        AdditionalProducts:
          $ref: '#/components/schemas/AdditionalProducts'
      required:
        - TransportTo
    TransportAssignment:
      type: object
      properties:
        ComponentID:
          type: string
        TransportID:
          type: string
        Sequence:
          type: string
        ClassID:
          type: string
        PickUp:
          $ref: '#/components/schemas/PickUp'
        DropOff:
          $ref: '#/components/schemas/DropOff'
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
        - TransportID
        - ClassID
    TransportFromTo:
      type: object
      properties:
        TransportID:
          type: string
        ComponentID:
          type: string
        Sequence:
          type: string
        TransportType:
          $ref: '#/components/schemas/TransportType'
        Carrier:
          $ref: '#/components/schemas/Carrier'
        Departure:
          $ref: '#/components/schemas/Departure'
        Arrival:
          $ref: '#/components/schemas/Arrival'
        Status:
          $ref: '#/components/schemas/Status'
        Class:
          type: array
          title: Class
          items:
            $ref: '#/components/schemas/Class'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
      required:
        - TransportID
        - TransportType
        - Departure
        - Arrival
    TransportRental:
      type: object
      properties:
        TransportRentalID:
          type: string
        Sequence:
          type: string
        Description:
          type: string
        ExtendedDescription:
          type: string
        Category:
          type: string
        Status:
          $ref: '#/components/schemas/Status'
        PickUp:
          type: array
          title: PickUp
          items:
            $ref: '#/components/schemas/PickUp'
        DropOff:
          type: array
          title: DropOff
          items:
            $ref: '#/components/schemas/DropOff'
        RecomPrice:
          type: array
          title: RecomPrice
          items:
            $ref: '#/components/schemas/RecomPrice'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            type: string
        Insurance:
          $ref: '#/components/schemas/Insurance'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
        CancellationInformation:
          $ref: '#/components/schemas/CancellationInformation'
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
        GroupID:
          type: string            
      required:
        - TransportRentalID
        - Description
    TRentalAssignment:
      type: object
      properties:
        TransportRentalID:
          type: string
        Sequence:
          type: string
        PickUp:
          type: array
          title: PickUp
          items:
            $ref: '#/components/schemas/PickUp'
        DropOff:
          type: array
          title: DropOff
          items:
            $ref: '#/components/schemas/DropOff'
        InsuranceAssignment:
          $ref: '#/components/schemas/InsuranceAssignment'
        PaxID:
          type: array
          title: PaxID
          items:
            type: string
      required:
        - TransportRentalID
        - Sequence
        - PaxID
    Unit:
      title: Unit
      type: object
      properties:
        UnitID:
          type: string
        UnitType:
          $ref: '#/components/schemas/UnitType'
        UnitDif:
          type: string
        Description:
          type: string
        RoomNumber:
          title: RoomNumber
          type: array
          items:
            $ref: '#/components/schemas/RoomNumber'
        Board:
          title: Board
          type: array
          items:
            $ref: '#/components/schemas/Board'
        MinOccupancy:
          $ref: '#/components/schemas/Occupancy'
        MaxOccupancy:
          $ref: '#/components/schemas/Occupancy'
        Allotment:
          title: Allotment
          type: integer
          format: int32
        RequiredNumber:
          title: Required Number
          type: integer
          format: int32
        Status:
          $ref: '#/components/schemas/Status'
        UnitPrice:
          type: array
          title: UnitPrice
          items:
            $ref: '#/components/schemas/UnitPrice'
        PriceNotes:
          type: array
          title: PriceNotes
          items:
            $ref: '#/components/schemas/PriceNote'
        Facility:
          type: array
          title: Facility
          items:
            $ref: '#/components/schemas/Facility'
        MultiMedia:
          type: array
          title: MultiMedia
          items:
            $ref: '#/components/schemas/MultiMedia'
        CancellationInformation:
          $ref: '#/components/schemas/CancellationInformation'
        RoomAssignment:
          type: array
          title: RoomAssignment
          items:
            $ref: '#/components/schemas/RoomAssignment'
      required:
        - UnitID
        - UnitType
    UnitAssignment:
      type: object
      properties:
        UnitID:
          type: string
        Quantity:
          type: number
        RoomAssignment:
          type: array
          title: RoomAssignment
          items:
            $ref: '#/components/schemas/RoomAssignment'
      required:
        - UnitID
        - Quantity
        - RoomAssignment
    UnitPrice:
      type: object
      properties:
        BoardType:
          $ref: '#/components/schemas/BoardType'
        Price:
          $ref: '#/components/schemas/Price'
        PriceIncluded:
          $ref: '#/components/schemas/PriceValue'
        PriceLocalIncluded:
          $ref: '#/components/schemas/PriceValue'
        MutationType:
          $ref: '#/components/schemas/MutationType'
        OfferType:
          title: Offer Type
          type: string
        Status:
          $ref: '#/components/schemas/Status'
        Occupancy:
          title: Occupancy
          type: integer
          format: int16
      required:
        - BoardType
        - Price
        - Status
    Messages:
      type: object
      properties:
        MessageID:
          $ref: '#/components/schemas/MessageID'
        MessageType:
          $ref: '#/components/schemas/MessageType'
        MessageOnField:
          type: string
        DescriptionField:
          type: string
        Date:
          type: string
          format: 'YYYY-MM-DD'
    TravelMessage:
      type: object
      properties:
        VersionID:
          $ref: '#/components/schemas/TravelMessageVersionID'
        Control:
          $ref: '#/components/schemas/Control'
      required:
        - Control
        - VersionID
      additionalProperties: false
    Control:
      type: object
      properties:
        Language:
          allOf:
            - $ref: '#/components/schemas/ControlLanguage'
          example: 'NL'
        Test:
          allOf:
            - $ref: '#/components/schemas/YesNoValue'
          example: 'nee'
        SenderSessionID:
          type: string
        ReceiverSessionID:
          type: string
        Date:
          type: string
          format: 'YYYY-MM-DD'
        Time:
          $ref: '#/components/schemas/Time'
        MessageSequence:
          type: number
          example: '1'
        PreviousMessageSequence:
          type: string
          nullable: true
        SenderID:
          type: string
        ReceiverID:
          type: string
        EmployeeID:
          type: string
          nullable: true
        RequestID:
          type: string
        ResponseID:
          type: string
        ResponseStatus:
          type: string
          nullable: true
      required:
        - SenderSessionID
        - ReceiverSessionID
        - Date
        - Time
        - MessageSequence
        - SenderID
        - ReceiverID
        - RequestID
        - ResponseID
        - Language
      additionalProperties: false
    Discounts:
      type: object
      properties:
        DiscountID:
          type: array
          title: DiscountID
          items:
            type: string      
    AvailabilityRequest:
      type: object
      properties:
        PackageDetails:
          $ref: '#/components/schemas/PackageDetails'
    SellRequest:
      type: object
      properties:
        PackageDetails:
          $ref: '#/components/schemas/PackageDetails'
        Transport:
          type: array
          title: Transport
          items:
            $ref: '#/components/schemas/Transport'
        Accommodation:
          type: array
          title: Accommodation
          items:
            $ref: '#/components/schemas/Accommodation'
        AdditionalProducts:
          $ref: '#/components/schemas/AdditionalProducts'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
      required:
        - PackageDetails
        - Responsibilities
    AssignRequest:
      type: object
      properties:
        PaxDetails:
          $ref: '#/components/schemas/PaxDetails'
        PaxAssignment:
          $ref: '#/components/schemas/PaxAssignment'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
        Discounts:
          $ref: '#/components/schemas/Discounts'          
      required:
        - PaxDetails
        - PaxAssignment
        - Responsibilities
    BookRequest:
      type: object
      properties:
        PaxDetails:
          $ref: '#/components/schemas/PaxDetails'
        PaxAssignment:
          $ref: '#/components/schemas/PaxAssignment'
        FulfilmentComponent:
          $ref: '#/components/schemas/FulfilmentComponent'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
        Discounts:
          $ref: '#/components/schemas/Discounts'
      required:
        - PaxDetails
        - PaxAssignment
        - Responsibilities
    BookResponse:
      type: object
      properties:
        BookID:
          type: string
        BookEmployeeID:
          type: string
        Date:
          type: string
          format: 'YYYY-MM-DD'
        Time:
          $ref: '#/components/schemas/Time'
        OptionDate:
          type: string
          format: 'YYYY-MM-DD'
        Status:
          $ref: '#/components/schemas/Status'
        BookInfo:
          $ref: '#/components/schemas/BookInfo'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
      required:
        - BookID
        - Date
        - Time
        - Status
        - OptionDate
    AddProAvailabilityRequest:
      type: object
      title: SellRequest
      properties:
        PackageDetails:
          $ref: '#/components/schemas/PackageDetails'
        Transport:
          $ref: '#/components/schemas/Transport'
        AdditionalProducts:
          $ref: '#/components/schemas/AdditionalProducts'          
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
      required:
        - PackageDetails
        - Responsibilities
    AddProDetailsRequest:
      type: object
      title: SellRequest
      properties:
        PackageDetails:
          $ref: '#/components/schemas/PackageDetails'
        AdditionalProducts:
          $ref: '#/components/schemas/AdditionalProducts'
        Responsibilities:
          $ref: '#/components/schemas/Responsibilities'
      required:
        - PackageDetails
        - Responsibilities
    AvailabilityRequestTree:
      type: object
      title: TravelMessage (AvailabilityRequest)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          properties:
            AvailabilityRequest:
              $ref: '#/components/schemas/AvailabilityRequest'
    AvailabilityResponseTree:
      type: object
      title: Travelmessage (AvailabilityResponse)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            Transport:
              type: array
              title: Transport
              items:
                $ref: '#/components/schemas/Transport'
            Accommodation:
              type: array
              title: Accommodation
              items:
                $ref: '#/components/schemas/Accommodation'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    SellRequestTree:
      type: object
      title: Travelmessage (SellRequest)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            SellRequest:
              $ref: '#/components/schemas/SellRequest'
    SellResponseTree:
      type: object
      title: Travelmessage (SellResponse)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            Transport:
              type: array
              title: Transport
              items:
                $ref: '#/components/schemas/Transport'
            Accommodation:
              title: Accommodation
              type: array
              items:
                $ref: '#/components/schemas/Accommodation'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    AssignRequestTree:
      type: object
      title: Travelmessage (AssignRequest)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            AssignRequest:
              $ref: '#/components/schemas/AssignRequest'
    AssignResponseTree:
      type: object
      title: Travelmessage (AssignResponse)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            Transport:
              $ref: '#/components/schemas/Transport'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            PaxAssignment:
              $ref: '#/components/schemas/PaxAssignment'
            PriceInfo:
              $ref: '#/components/schemas/PriceInfo'
            CancellationPolicy:
              $ref: '#/components/schemas/CancellationPolicy'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    BookRequestTree:
      type: object
      title: Travelmessage (BookRequest)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            BookRequest:
              $ref: '#/components/schemas/BookRequest'
    BookResponseTree:
      type: object
      title: Travelmessage (BookResponse)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            BookResponse:
              $ref: '#/components/schemas/BookResponse'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    AddProAvailabilityRequestTree:
      type: object
      title: Travelmessage (AddProAvailabilityRequest)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            SellRequest:
              $ref: '#/components/schemas/AddProAvailabilityRequest'
    AddProAvailabilityResponseTree:
      type: object
      title: Travelmessage (AddProAvailabilityResponse)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            PackageDetails:
              $ref: '#/components/schemas/PackageDetails'
            Transport:
              $ref: '#/components/schemas/Transport'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    AddProDetailsRequestTree:
      type: object
      title: Travelmessage (AddProDetailsRequest)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            SellRequest:
              $ref: '#/components/schemas/AddProDetailsRequest'
    AddProDetailsResponseTree:
      type: object
      title: Travelmessage (AddProDetailsResponse)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            PackageDetails:
              $ref: '#/components/schemas/PackageDetails'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    RecapRequestTree:
      type: object
      title: Travelmessage (RecapRequest)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
          properties:
            SecurityInfo:
              $ref: '#/components/schemas/SecurityInfo'
    RecapResponseTree:
      type: object
      title: Travelmessage (RecapResponse)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TResponse:
          type: object
          title: TResponse
          properties:
            PackageDetails:
              $ref: '#/components/schemas/PackageDetails'
            Transport:
              type: array
              title: Transport
              items:
                $ref: '#/components/schemas/Transport'
            Accommodation:
              title: Accommodation
              type: array
              items:
                $ref: '#/components/schemas/Accommodation'
            AdditionalProducts:
              $ref: '#/components/schemas/AdditionalProducts'
            PaxDetails:
              $ref: '#/components/schemas/PaxDetails'
            PaxAssignment:
              $ref: '#/components/schemas/PaxAssignment'
            PriceInfo:
              $ref: '#/components/schemas/PriceInfo'
            BookResponse:
              $ref: '#/components/schemas/BookResponse'
            Messages:
              type: array
              title: Messages
              items:
                $ref: '#/components/schemas/Messages'
    BreakRequestTree:
      type: object
      title: TravelMessage (BreakRequest)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
    BreakResponseTree:
      type: object
      title: TravelMessage (BreakResponse)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
    CancellationRequestTree:
      type: object
      title: TravelMessage (CancellationRequest)
      xml:
        name: TravelMessage
      allOf:
        - $ref: '#/components/schemas/TravelMessage'
      properties:
        TRequest:
          type: object
          title: TRequest
[...]
