x-generator: NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))
openapi: 3.0.0
info:
  title: NewSkies-GoNow-Api
  description: Navitaire GoNow Api
  version: 5.2.6.69
servers:
- url: https://prod.api.tui/flight/newskies/gonow
  description: TUI Prod
- url: https://playground.api.tui/flight/newskies/gonow
  description: TUI Playground
paths:
  /api/dcs/v3/baggage:
    post:
      tags:
      - baggage
      summary: Adds a list of bags to a booking.
      description: "Optional record locator determines whether this endpoint behaves\
        \ statelessly or modifies the booking in state. \n    Including the record\
        \ locator will add the bags statelessly without assigning any baggage group.\
        \ \n    Omitting the record locator will add the bags to the booking in state,\
        \ \n    assigning a baggage group for the specified passenger, \n    with\
        \ any other passengers specified by otherPassengersAlternateKeys.\n\nGraphQL\
        \ endpoint: dcsCreateBagsV3"
      operationId: dcs_v3_baggage_post
      requestBody:
        x-name: request
        description: List of bags to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaggageAddRequestV3'
        required: true
        x-position: 1
      responses:
        '201':
          description: List of bag keys added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBaggageAddResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/boardingDevices/bgrCommands:
    get:
      tags:
      - boardingDevices
      summary: Generates commands for all BGR actions except for Connect.
      description: 'For post-board, separate command lists are returned for different
        boarding response

        scenarios.  These post-board lists contain tokenized commands, where the tokens
        should

        be replaced by the client with a specific passenger''s data before sending
        the commands

        to the BGR.  Supported tokens are %%FirstName%%, %%LastName%%, %%BoardingSequence%%,

        %%UnitDesignator%%, and %%ErrorMessage%%.


        GraphQL endpoint: dcsGenerateBgrCommands'
      operationId: dcs_v1_boardingDevices_bgrCommands_get
      parameters:
      - name: BoardingDeviceKey
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      - name: LegKey
        in: query
        schema:
          type: string
          nullable: true
        x-position: 2
      - name: LocationCode
        in: query
        description: 'The location code specifying which command generation rules
          will be used.  If not specified,

          the default location code from the JWT will be used.'
        schema:
          type: string
          nullable: true
        x-position: 3
      responses:
        '200':
          description: BGR command strings for each action and post-board scenario.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfBgrCommandsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v2/bookings/searchByScan:
    post:
      tags:
      - bookings
      summary: Parses scanner output and performs a booking search based on the type
        of scan.
      description: 'GraphQL endpoint: dcsSearchByScan'
      operationId: dcs_v2_bookings_searchByScan_post
      requestBody:
        x-name: request
        description: Scan data with optional origin and departureDate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchByScanRequestV2'
        required: true
        x-position: 1
      responses:
        '200':
          description: A list of booking search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfBookingSummary'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/checkin:
    post:
      tags:
      - checkin
      summary: Checks in a list of passengers on the given segments.
      description: 'GraphQL endpoint: dcsPerformCheckin'
      operationId: dcs_v1_checkin_post
      requestBody:
        x-name: request
        description: Checkin request including a list of segment keys and passengers
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Response indicating success or error information for each passenger.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCheckinResponse'
              examples:
                UnexpectedError:
                  description: An unexpected error has occurred while committing changes
                    to the reservation. (FPrc1000)
                  value:
                    data:
                      passengers:
                      - passengerAlternateKey: XXXXXX
                        successfulSegments:
                        - segmentKey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                          warnings: []
                          securityInfo: null
                          iatciMessages: null
                        failedSegments:
                        - errors:
                          - code: FPrc1000
                            message: An unexpected error has occurred while committing
                              changes to the reservation. (FPrc1000)
                            rawMessage: ''
                          segmentKey: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
                          overrides: null
                          warnings: []
                          securityInfo: null
                          iatciMessages: null
                PaymentRequiredToCheckinPassenger:
                  description: Unable to check in the passenger because payment is
                    required. (FPrc1050)
                  value:
                    data:
                      passengers:
                      - passengerAlternateKey: XXXXXX
                        successfulSegments:
                        - segmentKey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                          warnings: []
                          securityInfo: null
                          iatciMessages: null
                        failedSegments:
                        - errors:
                          - code: FPrc1050
                            message: Unable to check in the passenger because payment
                              is required. (FPrc1050)
                            rawMessage: ''
                          segmentKey: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
                          overrides: null
                          warnings: []
                          securityInfo: null
                          iatciMessages: null
                CheckInClosed:
                  description: Check in has closed. (Oper1111)
                  value:
                    data:
                      passengers:
                      - passengerAlternateKey: XXXXXX
                        successfulSegments:
                        - segmentKey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                          warnings: []
                          securityInfo: null
                          iatciMessages: null
                        failedSegments:
                        - errors:
                          - code: Oper1111
                            message: Check in has closed. (Oper1111)
                            rawMessage: ''
                          segmentKey: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
                          overrides: null
                          warnings: []
                          securityInfo: null
                          iatciMessages: null
                DocumentVerificationFailedPassengerInhibited:
                  description: Document verification failed because passenger is inhibited.
                    (Oper1087)
                  value:
                    data:
                      passengers:
                      - passengerAlternateKey: XXXXXX
                        successfulSegments:
                        - segmentKey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                          warnings: []
                          securityInfo: null
                          iatciMessages: null
                        failedSegments:
                        - errors:
                          - code: Oper1087
                            message: Document verification failed because passenger
                              is inhibited. (Oper1087)
                            rawMessage: ''
                          segmentKey: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
                          overrides: null
                          warnings: []
                          securityInfo: null
                          iatciMessages: null
                MissingSeatAssignmentsOnFlightNumber:
                  description: The passenger cannot be checked in because there is
                    a missing seat assignment on a flight. (FPrc1013)
                  value:
                    data:
                      passengers:
                      - passengerAlternateKey: XXXXXX
                        successfulSegments:
                        - segmentKey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                          warnings: []
                          securityInfo: null
                          iatciMessages: null
                        failedSegments:
                        - errors:
                          - code: FPrc1013
                            message: The passenger cannot be checked in because there
                              is a missing seat assignment on a flight. (FPrc1013)
                            rawMessage: ''
                          segmentKey: YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
                          overrides: null
                          warnings: []
                          securityInfo: null
                          iatciMessages: null
                ScheduleCancellation:
                  description: Passenger is on SCHCNL queue. Queue Event - ScheduleCancellation
                  value:
                    data:
                      passengers:
                      - passengerAlternateKey: XXXXXX
                        successfulSegments:
                        - segmentKey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                          warnings:
                          - Passenger is on SCHCNL queue. Queue Event - ScheduleCancellation
                          securityInfo: null
                          iatciMessages: null
                        failedSegments: []
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Validation:nsk:Booking:NoBookingFound:
                  description: No booking was found, cannot perform operation.
                  value:
                    errors:
                    - id: null
                      code: Validation:nsk:Booking:NoBookingFound
                      message: Validation:nsk:Booking:NoBookingFound
                      type: Error
                      details:
                        message: No booking was found, cannot perform operation.
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production
                        the 'rawMessage' and 'exception' nodes will not be returned.
                        These are for troubleshooting development issues only.
                    data: null
                segmentKey:InvalidApiKey:
                  description: 'Invalid segmentKey: XXXXX'
                  value:
                    errors:
                    - id: null
                      code: segmentKey:InvalidApiKey
                      message: segmentKey:InvalidApiKey
                      type: Error
                      details:
                        message: 'Invalid segmentKey: XXXXX'
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production
                        the 'rawMessage' and 'exception' nodes will not be returned.
                        These are for troubleshooting development issues only.
                    data: null
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
    delete:
      tags:
      - checkin
      summary: Removes the checked-in status for a list of passengers on the given
        segments.
      description: 'This endpoint accepts manifest segment keys or booking segment
        keys


        GraphQL endpoint: dcsUndoCheckin'
      operationId: dcs_v1_checkin_delete
      requestBody:
        x-name: request
        description: Undo-checkin request including a list of segment keys and passengers
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UndoCheckinRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Response indicating success or error information for each passenger.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCheckinResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/checkin/requirements/custom:
    post:
      tags:
      - checkin
      summary: Gets custom requirements (AKA UserFlow Workflow) for the booking in
        state.
      description: 'These requirements specify which pages in the client app are required
        by the client

        config to be visited before checking in.  Client apps may track or ignore
        these

        requirements to meet their own design specifications.  Check-in is never

        blocked by whether these requirements have been met.


        GraphQL endpoint: dcsGetCheckinCustomRequirementsStateful'
      operationId: dcs_v1_checkin_requirements_custom_post
      requestBody:
        x-name: request
        description: Passengers and segments to retrieve requirements for.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinSecurityRequirementsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Passengers' custom checkin requirements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfCheckinStepCustomRequirements'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/checkin/requirements/general:
    post:
      tags:
      - checkin
      summary: 'Gets general checkin requirements for the booking in state.  Does
        not get

        government security requirements or custom requirements.'
      description: 'GraphQL endpoint: dcsGetCheckinGeneralRequirementsStateful'
      operationId: dcs_v1_checkin_requirements_general_post
      requestBody:
        x-name: request
        description: Passengers and segments to retrieve requirements for.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinGeneralRequirementsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Passengers' general checkin requirements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCheckinGeneralRequirementsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/gss/v1/checkin/requirements/security:
    post:
      tags:
      - checkin
      summary: Gets government security checkin requirements for the booking in state.
      description: 'GraphQL endpoint: dcsGetCheckinSecurityRequirementsStateful'
      operationId: gss_v1_checkin_requirements_security_post
      requestBody:
        x-name: request
        description: Passengers and segments to retrieve requirements for.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinSecurityRequirementsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Passengers' government security checkin requirements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfCheckinSecurityRequirementsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/deviceManagers/{deviceManagerKey}:
    get:
      tags:
      - deviceManagers
      summary: Retrieves device manager info for the specified device manager key.
      description: 'GraphQL endpoint: dcsGetDeviceManagerInfo'
      operationId: dcs_v1_deviceManagers_deviceManagerKey_get
      parameters:
      - name: deviceManagerKey
        in: path
        required: true
        description: The device manager key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: The device manager info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfDeviceManagerInfo'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/disruption/combineSegments:
    post:
      tags:
      - disruption
      summary: 'Combines a list of segments into a properly formed journey and determines
        whether that

        journey contains ad hoc connections.'
      description: 'GraphQL endpoint: dcsCombineDisruptionSegments'
      operationId: dcs_v1_disruption_combineSegments_post
      requestBody:
        x-name: request
        description: A list of segment keys, each with its associated leg keys.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SegmentKeyInfo'
        required: true
        x-position: 1
      responses:
        '200':
          description: A properly formed journey, including whether the journey contains
            ad hoc connections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfDisruptionCombinedJourney'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/disruption/fromLegs:
    get:
      tags:
      - disruption
      summary: 'Uses search criteria to retrieve a list of legs from which passengers
        can be moved in

        a disruption.'
      description: "Use the dotREZ NSK API's GET /api/nsk/v1/settings/booking/reserveFlights\
        \ to retrieve\nrelated role settings:\n    \n        \n        daysBeforeIrop:\
        \  This value must be a positive number, and the departure\n        date of\
        \ the request must not be more than this number of days after today.\n   \
        \     \n        \n        allowMove:  This value must not be set to MoveFlightCode.NotAllowed.\n\
        \        \n    \nUse the dotREZ NSK API's GET /api/nsk/v1/settings/general/operations\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowConsoleIrop:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetDisruptionFromLegs"
      operationId: dcs_v1_disruption_fromLegs_get
      parameters:
      - name: GetIropOnly
        in: query
        schema:
          type: boolean
        x-position: 1
      - name: CarrierCode
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 2
          nullable: true
        x-position: 2
      - name: DepartureDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 3
      - name: Origin
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 4
      - name: Destination
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 5
      - name: FlightNumber
        in: query
        schema:
          type: string
          nullable: true
        x-position: 6
      - name: OpSuffix
        in: query
        schema:
          type: string
          maxLength: 1
          minLength: 0
          nullable: true
        x-position: 7
      responses:
        '200':
          description: The list of legs, which includes information relevant to a
            disruption.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfDisruptionFromLeg'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/disruption/fromLegs/{legKey}/finalDestinations:
    get:
      tags:
      - disruption
      summary: 'Retrieves a list of the final destination journeys for the passengers
        from a given

        disruption from-leg.'
      description: 'GraphQL endpoint: dcsGetDisruptionFinalDestinations'
      operationId: dcs_v1_disruption_fromLegs_legKey_finalDestinations_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: 'The list of final destination journeys, which includes information
            relevant to a

            disruption.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfDisruptionFinalDestinationJourney'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/disruption/move:
    post:
      tags:
      - disruption
      summary: Performs a disruption move operation (IROP or diversion) for a group
        of bookings.
      description: "Use the dotREZ NSK API's GET /api/nsk/v1/settings/booking/reserveFlights\
        \ to retrieve\nrelated role settings:\n    \n        \n        daysBeforeIrop:\
        \  This value must be a positive number, and the departure\n        date of\
        \ the request must not be more than this number of days after today.\n   \
        \     \n        \n        allowMove:  This value must not be set to MoveFlightCode.NotAllowed.\n\
        \        \n        \n        allowMoveOverbook:  If InventoryControlType in\
        \ the request is set to\n        OversellSpace, this value must be set to\
        \ OverbookControl.CanOverbookLeg.\n        \n        \n        allowCreateAdhocConnect:\
        \  If ToJourneyKey in the request corresponds to a\n        journey containing\
        \ any ad hoc connections, this value must be true.\n        \n    \nUse the\
        \ dotREZ NSK API's GET /api/nsk/v1/settings/general/operations to retrieve\n\
        related role settings:\n    \n        \n        allowConsoleIrop:  This value\
        \ must be true.\n        \n        \n        allowDiversionIrop:  If MoveType\
        \ in the request is set to\n        DisruptionMoveType.Diversion, this value\
        \ must be true.\n        \n        \n        allowIropOversellOnToFlight:\
        \  If InventoryControlType in the request is set to\n        OversellSpace,\
        \ this value must be true.\n        \n    \nTo performs a stateful move operation\
        \ (IROP or diversion), use the dotREZ NSK API's\nPOST /api/nsk/v1/trip/move/irop.\n\
        \nGraphQL endpoint: dcsPerformDisruptionMove"
      operationId: dcs_v1_disruption_move_post
      requestBody:
        x-name: request
        description: The journey and booking data required to perform the move.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisruptionMoveRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: 'The disruption move response specifying which bookings were
            successfully moved

            and which ones encountered errors.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfDisruptionMoveResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/disruption/toJourneys:
    get:
      tags:
      - disruption
      summary: 'Uses search criteria to retrieve a list of journeys to which passengers
        can be moved in

        a disruption.'
      description: 'GraphQL endpoint: dcsGetDisruptionToJourneys'
      operationId: dcs_v1_disruption_toJourneys_get
      parameters:
      - name: FlightType
        in: query
        description: " \nEnumeration values: 0 = All, 1 = NonStop, 2 = Through, 3\
          \ = Direct, 4 = Connect"
        schema:
          $ref: '#/components/schemas/FlightType'
        x-position: 1
      - name: IncludeNextDay
        in: query
        schema:
          type: boolean
        x-position: 2
      - name: CarrierCode
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 2
          nullable: true
        x-position: 3
      - name: DepartureDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 4
      - name: Origin
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 5
      - name: Destination
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 6
      - name: FlightNumber
        in: query
        schema:
          type: string
          nullable: true
        x-position: 7
      - name: OpSuffix
        in: query
        schema:
          type: string
          maxLength: 1
          minLength: 0
          nullable: true
        x-position: 8
      responses:
        '200':
          description: The list of journeys, which includes information relevant to
            a disruption.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfDisruptionToJourney'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/documents/{travelDocumentKey}/scannedData:
    put:
      tags:
      - documents
      summary: 'Parses scanner output and updates a specific passenger or infant''s
        travel document

        for the booking in state.'
      description: 'The scanned data must belong to the same type of document and
        be issued by the same

        country as the one specified by the given travel document key.  The rest of
        the

        document''s information will be updated from the scanned data.

        Updates booking passenger information with the scanned data if it does not
        match the document.


        GraphQL endpoint: dcsUpdateTravelDocumentFromScanStateful'
      operationId: dcs_v1_documents_travelDocumentKey_scannedData_put
      parameters:
      - name: travelDocumentKey
        in: path
        required: true
        description: Document to update.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: Scanned data to update the document.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScannedDocumentRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: Null data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/documents/scannedData:
    post:
      tags:
      - documents
      summary: 'Parses scanner output and creates a new travel document for a specific
        passenger

        or infant on the booking in state.'
      description: 'Updates booking passenger information with the scanned data if
        it does not match the document.


        GraphQL endpoint: dcsCreateTravelDocumentFromScanStateful'
      operationId: dcs_v1_documents_scannedData_post
      requestBody:
        x-name: request
        description: Scanned data to add as a new document.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScannedDocumentRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: The travel document key for the newly added document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/v2/graph/{queryName}:
    post:
      tags:
      - graph
      operationId: v2_graph_queryName_post
      parameters:
      - name: queryName
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      - name: cachedResults
        in: query
        schema:
          type: boolean
        x-position: 3
      requestBody:
        x-name: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQlQueryv2'
            examples:
              Simple Graph Request:
                description: Its recommended that you use a graph specific tool for
                  this endpoint. See the developer documentation for more information.
                value:
                  query: '{tokenKeepAlive}'
                  variables: null
                  cachedResults: false
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfObject'
              examples:
                Simple Response:
                  description: The response will be json and dynamic to your graph
                    query.
                  value:
                    data:
                      tokenKeepAlive: true
  /api/v3/health:
    get:
      tags:
      - health
      operationId: v3_health_get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentHealth'
        '299':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentHealth'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentHealth'
  /api/dcs/v1/legs:
    get:
      tags:
      - legs
      summary: Retrieves a list of inventory legs based on search criteria.
      description: 'GraphQL endpoint: dcsGetLegs'
      operationId: dcs_v1_legs_get
      parameters:
      - name: CarrierCode
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 2
          nullable: true
        x-position: 1
      - name: DepartureDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 2
      - name: Origin
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 3
      - name: Destination
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 4
      - name: FlightNumber
        in: query
        schema:
          type: string
          nullable: true
        x-position: 5
      - name: OpSuffix
        in: query
        schema:
          type: string
          maxLength: 1
          minLength: 0
          nullable: true
        x-position: 6
      responses:
        '200':
          description: The list of inventory legs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfLeg'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/gss/v1/legs/{legKey}/close/requirements:
    get:
      tags:
      - legs
      summary: Gets government security requirements that are required for closing
        the specified leg.
      description: 'GraphQL endpoint: dcsGetLegCloseSecurityRequirements'
      operationId: gss_v1_legs_legKey_close_requirements_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The unique leg key. Leg keys can be retrieved via GET /api/dcs/v1/legs.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: List of government security requirements that must be satisfied
            in order to close the specified flight leg.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfLegCloseSecurityRequirement'
              examples:
                Success example:
                  description: An example 200OK Successful response.
                  value:
                    data:
                    - governmentProgram: USDHS
                      governmentProgramType: 1
                      programDescription: United States - SecureFlight
                      eligibleDocuments:
                      - typeCode: A
                        group: 2
                        typeName: Permanent Resident Card
                        isPrimary: false
                      - typeCode: C
                        group: 1
                        typeName: U.S. Alien Registration Card
                        isPrimary: false
                      - typeCode: F
                        group: 3
                        typeName: Facilitation Document
                        isPrimary: false
                      - typeCode: G
                        group: 18
                        typeName: Government ID card
                        isPrimary: false
                      - typeCode: M
                        group: 5
                        typeName: Military ID Card
                        isPrimary: false
                      - typeCode: P
                        group: 6
                        typeName: Permanent Resident Card
                        isPrimary: false
                      - typeCode: PD
                        group: 6
                        typeName: Diplomatic Passport
                        isPrimary: false
                      - typeCode: PM
                        group: 6
                        typeName: Missionary Passport
                        isPrimary: false
                      - typeCode: PS
                        group: 6
                        typeName: Special Passport
                        isPrimary: false
                      - typeCode: T
                        group: 17
                        typeName: Refugee Travel Document
                        isPrimary: false
                      - typeCode: V
                        group: 9
                        typeName: Travel Visa
                        isPrimary: false
                      documentRequiredFields:
                      - 6
                      - 9
                      - 10
                      - 0
                      - 2
                      additionalDataRequiredFields:
                      - 5
                      - 6
                      - 4
                      - 3
                      minVerifiedDocumentCount: 1
                      flightCloseCountryCodes:
                      - US
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid legKey:
                  description: Example error response when the leg key is invalid.
                  value:
                    errors:
                    - id: a70ddb46-fc1a-bed4-9ae9-b3c4eb6be908
                      code: legKey:InvalidApiKey
                      message: 'Invalid legKey: asdf'
                      type: Validation
                      details:
                        message: 'Invalid legKey: asdf'
                        param: legKey
                        validation: InvalidApiKey
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production
                        the 'rawMessage' and 'exception' nodes will not be returned.
                        These are for troubleshooting development issues only.
                    data: null
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/legs/{legKey}/operationsInfo:
    get:
      tags:
      - legs
      summary: 'Retrieves operations (AKA flight following) info for the specified
        inventory leg.  In

        the case of passive flights, only status, boardingTimeOffset, and schedule-related

        fields are populated.'
      description: 'This endpoint replaces the dotREZ NSK API''s GET /api/nsk/v2/trip/info/{legKey}/status.

        This endpoint uses a more detailed and operationally-appropriate enum for
        the status

        field.


        GraphQL endpoint: dcsGetOperationsInfo'
      operationId: dcs_v1_legs_legKey_operationsInfo_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key or manifest leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: The operations info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfOperationsInfo'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid legKey:
                  description: Example error response when the leg key is invalid.
                  value:
                    errors:
                    - id: a70ddb46-fc1a-bed4-9ae9-b3c4eb6be908
                      code: legKey:InvalidApiKey
                      message: 'Invalid legKey: asdf'
                      type: Validation
                      details:
                        message: 'Invalid legKey: asdf'
                        param: legKey
                        validation: InvalidApiKey
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production
                        the 'rawMessage' and 'exception' nodes will not be returned.
                        These are for troubleshooting development issues only.
                    data: null
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/legs/{legKey}/thruLegs:
    get:
      tags:
      - legs
      summary: Retrieves a list of thru legs for the specified leg.
      description: 'GraphQL endpoint: dcsGetThruLegs'
      operationId: dcs_v1_legs_legKey_thruLegs_get
      parameters:
      - name: legKey
        in: path
        required: true
        description: The leg key.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: List of legs that the specified leg has a direct downline connection
            to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfLegInfo'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
              examples:
                Invalid legKey:
                  description: Example error response when the leg key is invalid.
                  value:
                    errors:
                    - id: a70ddb46-fc1a-bed4-9ae9-b3c4eb6be908
                      code: legKey:InvalidApiKey
                      message: 'Invalid legKey: asdf'
                      type: Validation
                      details:
                        message: 'Invalid legKey: asdf'
                        param: legKey
                        validation: InvalidApiKey
                      rawMessage: null
                      exception: null
                      debugMode: The API is currently running in debug mode. In production
                        the 'rawMessage' and 'exception' nodes will not be returned.
                        These are for troubleshooting development issues only.
                    data: null
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/logs:
    post:
      tags:
      - logs
      summary: Pushes a client side log entry to the server.
      operationId: dcs_v1_logs_post
      requestBody:
        x-name: request
        description: Request to create a log entry.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Null data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/logs/file:
    post:
      tags:
      - logs
      summary: Uploads a log file to the server.
      operationId: dcs_v1_logs_file_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                SystemType:
                  type: string
                  nullable: true
                MachineName:
                  type: string
                  nullable: true
                Message:
                  type: string
                  nullable: true
                File:
                  type: string
                  format: binary
                  nullable: true
      responses:
        '200':
          description: Null data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/passengers:
    get:
      tags:
      - passengers
      summary: Uses search criteria to retrieve a list of passengers.
      description: 'GraphQL endpoint: dcsGetPassengers'
      operationId: dcs_v1_passengers_get
      parameters:
      - name: CarrierCode
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 2
          nullable: true
        x-position: 1
      - name: DepartureDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 2
      - name: Origin
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 3
      - name: Destination
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 4
      - name: FlightNumber
        in: query
        schema:
          type: string
          nullable: true
        x-position: 5
      - name: OpSuffix
        in: query
        schema:
          type: string
          maxLength: 1
          minLength: 0
          nullable: true
        x-position: 6
      - name: FirstName
        in: query
        schema:
          type: string
          nullable: true
        x-position: 7
      - name: LastName
        in: query
        schema:
          type: string
          nullable: true
        x-position: 8
      - name: RecordLocator
        in: query
        schema:
          type: string
          nullable: true
        x-position: 9
      - name: SearchByRecordLocatorOnly
        in: query
        description: 'If true, recordLocator is required and all other fields are
          ignored.  If false,

          carrierCode, departureDate, and origin are required.'
        schema:
          type: boolean
        x-position: 10
      responses:
        '200':
          description: The list of passengers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfPassenger'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers:
    get:
      tags:
      - printers
      summary: Gets the list of TCP/IP printers for the logged in agent's location.
      description: 'GraphQL endpoint: dcsGetPrinters'
      operationId: dcs_v1_printers_get
      responses:
        '200':
          description: The list of printers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfPrinter'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/bagTags/passenger/print:
    post:
      tags:
      - printers
      summary: Performs bag tag print for bags of the specified booking.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.


        GraphQL endpoint: dcsPerformBagTagPrint'
      operationId: dcs_v1_printers_bagTags_passenger_print_post
      requestBody:
        x-name: request
        description: Bag tag print request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BagTagPrintRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print result data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrinterCommandsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/bagTags/passenger/printStreams:
    post:
      tags:
      - printers
      summary: Generates bag tag print streams for bags of the specified booking.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.  If the user is

        not an agent, then the specified booking must be in state and unmodified,
        and the

        specified bag tags must be in the Added state (i.e. they must not have been
        printed

        already).


        GraphQL endpoint: dcsGenerateBagTagPrintStreams'
      operationId: dcs_v1_printers_bagTags_passenger_printStreams_post
      requestBody:
        x-name: request
        description: Bag tag print streams request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BagTagPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print stream strings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfBagTagPrintStreams'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/boardingPasses/print:
    post:
      tags:
      - printers
      summary: Performs boarding pass print for the specified booking.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.

        Accepts manifest segment keys or booking segment keys.


        GraphQL endpoint: dcsPerformBoardingPassPrint'
      operationId: dcs_v1_printers_boardingPasses_print_post
      requestBody:
        x-name: request
        description: Boarding pass print request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardingPassPrintRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print result data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrinterCommandsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/boardingPasses/printStreams:
    post:
      tags:
      - printers
      summary: Generates boarding pass print streams for the specified booking.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.  If the user is

        not an agent, then the specified booking must be in state and unmodified.


        GraphQL endpoint: dcsGenerateBoardingPassPrintStreams'
      operationId: dcs_v1_printers_boardingPasses_printStreams_post
      requestBody:
        x-name: request
        description: Boarding pass print streams request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardingPassPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print stream strings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/initializationStreams:
    post:
      tags:
      - printers
      summary: Retrieves initialization streams for setting up a printer.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.


        GraphQL endpoint: dcsGetPrinterInitializationStreams'
      operationId: dcs_v1_printers_initializationStreams_post
      requestBody:
        x-name: request
        description: Printer initialization streams request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrinterCommandsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Printer initialization stream strings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/initialize:
    post:
      tags:
      - printers
      summary: Performs printer initialization.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.


        GraphQL endpoint: dcsPerformPrinterInitialization'
      operationId: dcs_v1_printers_initialize_post
      requestBody:
        x-name: request
        description: Printer initialization request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrinterInitializationRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print result data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrinterCommandsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/receipts/booking/print:
    post:
      tags:
      - printers
      summary: Performs receipt print for the specified booking.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.


        GraphQL endpoint: dcsPerformBookingReceiptPrint'
      operationId: dcs_v1_printers_receipts_booking_print_post
      requestBody:
        x-name: request
        description: Booking receipt print request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingReceiptPrintRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print result data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrinterCommandsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/receipts/booking/printStreams:
    post:
      tags:
      - printers
      summary: Generates receipt print streams for the specified booking.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.  If the user is

        not an agent, then the specified booking must be in state and unmodified.

        Accepts manifest segment keys or booking segment keys.


        GraphQL endpoint: dcsGenerateBookingReceiptPrintStreams'
      operationId: dcs_v1_printers_receipts_booking_printStreams_post
      requestBody:
        x-name: request
        description: Booking receipt print streams request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingReceiptPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print stream strings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/receipts/passenger/print:
    post:
      tags:
      - printers
      summary: Performs receipt print for selected passengers of the specified booking.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.


        GraphQL endpoint: dcsPerformPassengerReceiptPrint'
      operationId: dcs_v1_printers_receipts_passenger_print_post
      requestBody:
        x-name: request
        description: Passenger receipt print request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerReceiptPrintRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print result data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrinterCommandsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/receipts/passenger/printStreams:
    post:
      tags:
      - printers
      summary: Generates receipt print streams for selected passengers of the specified
        booking.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.  If the user is

        not an agent, then the specified booking must be in state and unmodified.


        GraphQL endpoint: dcsGeneratePassengerReceiptPrintStreams'
      operationId: dcs_v1_printers_receipts_passenger_printStreams_post
      requestBody:
        x-name: request
        description: Passenger receipt print streams request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerReceiptPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print stream strings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/receipts/payment/print:
    post:
      tags:
      - printers
      summary: Performs receipt print for a specific payment of the specified booking.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.


        GraphQL endpoint: dcsPerformPaymentReceiptPrint'
      operationId: dcs_v1_printers_receipts_payment_print_post
      requestBody:
        x-name: request
        description: Payment receipt print request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentReceiptPrintRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print result data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrinterCommandsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/receipts/payment/printStreams:
    post:
      tags:
      - printers
      summary: Generates receipt print streams for a specific payment of the specified
        booking.
      description: 'This endpoint uses the session''s location code if one isn''t
        provided.  If the user is

        not an agent, then the specified booking must be in state and unmodified.


        GraphQL endpoint: dcsGeneratePaymentReceiptPrintStreams'
      operationId: dcs_v1_printers_receipts_payment_printStreams_post
      requestBody:
        x-name: request
        description: Payment receipt print streams request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentReceiptPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Print stream strings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/availabilityReport/printPreview:
    get:
      tags:
      - printers/reports
      summary: Gets the print preview for an availability report.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowAvailabilityReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetAvailabilityReportPrintPreview"
      operationId: dcs_v1_printers_reports_availabilityReport_printPreview_get
      parameters:
      - name: DepartureDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 1
      - name: CarrierCode
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 2
          nullable: true
        x-position: 2
      - name: Origin
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 3
      - name: Destination
        in: query
        schema:
          type: string
          nullable: true
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrintPreview'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/availabilityReport/printStreams:
    post:
      tags:
      - printers/reports
      summary: Gets the print streams for an availability report.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowAvailabilityReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetAvailabilityReportPrintStreams"
      operationId: dcs_v1_printers_reports_availabilityReport_printStreams_post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityReportPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/bagTagTrackingReport/printPreview:
    get:
      tags:
      - printers/reports
      summary: Gets the print preview for a bag tag tracking report.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowBagTagTrackingReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetBagTagTrackingReportPrintPreview"
      operationId: dcs_v1_printers_reports_bagTagTrackingReport_printPreview_get
      parameters:
      - name: BagTag
        in: query
        schema:
          type: string
          maxLength: 32
          minLength: 0
          nullable: true
        x-position: 1
      - name: Date
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrintPreview'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/bagTagTrackingReport/printStreams:
    post:
      tags:
      - printers/reports
      summary: Gets the print streams for a bag tag tracking report.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowBagTagTrackingReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetBagTagTrackingReportPrintStreams"
      operationId: dcs_v1_printers_reports_bagTagTrackingReport_printStreams_post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BagTagTrackingReportPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/bagWeightByLegReport/printPreview:
    get:
      tags:
      - printers/reports
      summary: Gets the print preview for the bag weight by leg report for a given
        leg.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowBagWeightByLegReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetBagWeightByLegReportPrintPreview"
      operationId: dcs_v1_printers_reports_bagWeightByLegReport_printPreview_get
      parameters:
      - name: LegKey
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      - name: WeightType
        in: query
        description: "Pounds or Kilograms (DAPI's weight type Default = Kilograms)\
          \ \nEnumeration values: 1 = Pounds, 2 = Kilograms"
        schema:
          nullable: true
          $ref: '#/components/schemas/WeightType'
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrintPreview'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/bagWeightByLegReport/printStreams:
    post:
      tags:
      - printers/reports
      summary: Gets the print streams for the bag weight by leg report for a given
        leg.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowBagWeightByLegReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetBagWeightByLegReportPrintStreams"
      operationId: dcs_v1_printers_reports_bagWeightByLegReport_printStreams_post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BagWeightByLegReportPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/checkedBaggageReport/printPreview:
    get:
      tags:
      - printers/reports
      summary: Gets the print preview for a checked baggage report.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowCheckedBaggageReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetCheckedBaggageReportPrintPreview"
      operationId: dcs_v1_printers_reports_checkedBaggageReport_printPreview_get
      parameters:
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 1
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 2
      - name: PrimarySortType
        in: query
        description: " \nEnumeration values: 0 = FlightNumber, 1 = CityPair, 2 = Sequence"
        schema:
          nullable: true
          $ref: '#/components/schemas/CheckedBaggagePrimarySortType'
        x-position: 3
      - name: SecondarySortType
        in: query
        description: " \nEnumeration values: 0 = Name, 1 = BagTag"
        schema:
          nullable: true
          $ref: '#/components/schemas/CheckedBaggageSecondarySortType'
        x-position: 4
      - name: WeightType
        in: query
        description: "Pounds or Kilograms (DAPI's weight type Default = Kilograms)\
          \ \nEnumeration values: 1 = Pounds, 2 = Kilograms"
        schema:
          nullable: true
          $ref: '#/components/schemas/WeightType'
        x-position: 5
      - name: IncludeUnflownPassengers
        in: query
        schema:
          type: boolean
          nullable: true
        x-position: 6
      - name: ShowSummaryOnly
        in: query
        schema:
          type: boolean
          nullable: true
        x-position: 7
      - name: CarrierCode
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 2
          nullable: true
        x-position: 8
      - name: FlightNumber
        in: query
        schema:
          type: string
          nullable: true
        x-position: 9
      - name: Origin
        in: query
        schema:
          type: string
          nullable: true
        x-position: 10
      - name: Destination
        in: query
        schema:
          type: string
          nullable: true
        x-position: 11
      - name: AgentName
        in: query
        description: The username of the agent account that checked the baggage.
        schema:
          type: string
          nullable: true
        x-position: 12
      - name: AgentDomain
        in: query
        description: 'The domain of the agent account that checked the baggage.  If
          agentName is empty,

          this value is ignored.'
        schema:
          type: string
          nullable: true
        x-position: 13
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrintPreview'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/checkedBaggageReport/printStreams:
    post:
      tags:
      - printers/reports
      summary: Gets the print streams for a checked baggage report.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowCheckedBaggageReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetCheckedBaggageReportPrintStreams"
      operationId: dcs_v1_printers_reports_checkedBaggageReport_printStreams_post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckedBaggageReportPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/checkInReport/printPreview:
    get:
      tags:
      - printers/reports
      summary: Gets the print preview for a check-in report for a given leg.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowCheckInReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetCheckInReportPrintPreview"
      operationId: dcs_v1_printers_reports_checkInReport_printPreview_get
      parameters:
      - name: LegKey
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      - name: IncludeThruPassengers
        in: query
        schema:
          type: boolean
          nullable: true
        x-position: 2
      - name: DisplayNames
        in: query
        schema:
          type: boolean
          nullable: true
        x-position: 3
      - name: DisplaySeats
        in: query
        schema:
          type: boolean
          nullable: true
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrintPreview'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/checkInReport/printStreams:
    post:
      tags:
      - printers/reports
      summary: Gets the print streams for a check-in report for a given leg.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowCheckInReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetCheckInReportPrintStreams"
      operationId: dcs_v1_printers_reports_checkInReport_printStreams_post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInReportPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/departureManifestReport/printStreams:
    post:
      tags:
      - printers/reports
      summary: Gets the print preview for a departure manifest report for a given
        leg.
      description: 'GraphQL endpoint: dcsGetDepartureManifestReportPrintStreams'
      operationId: dcs_v1_printers_reports_departureManifestReport_printStreams_post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartureManifestReportPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/downlinePassengerAndCountReport/printPreview:
    get:
      tags:
      - printers/reports
      summary: Gets the print preview for a downline passenger and count report for
        a given leg.
      description: 'GraphQL endpoint: dcsGetDownlinePassengerAndCountReportPrintPreview'
      operationId: dcs_v1_printers_reports_downlinePassengerAndCountReport_printPreview_get
      parameters:
      - name: LegKey
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      - name: IncludeIatciFlights
        in: query
        schema:
          type: boolean
          nullable: true
        x-position: 2
      - name: ShowPassengerNames
        in: query
        schema:
          type: boolean
          nullable: true
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrintPreview'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/downlinePassengerAndCountReport/printStreams:
    post:
      tags:
      - printers/reports
      summary: Gets the print streams for a downline passenger and count report for
        a given leg.
      description: 'GraphQL endpoint: dcsGetDownlinePassengerAndCountReportPrintStreams'
      operationId: dcs_v1_printers_reports_downlinePassengerAndCountReport_printStreams_post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownlinePassengerAndCountReportPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/enplanementDeplanementReport/printPreview:
    get:
      tags:
      - printers/reports
      summary: Gets the print preview for an enplanement or deplanement report.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowEnplanementDeplanementReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetEnplanementDeplanementReportPrintPreview"
      operationId: dcs_v1_printers_reports_enplanementDeplanementReport_printPreview_get
      parameters:
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 1
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 2
      - name: ShowSummaryOnly
        in: query
        schema:
          type: boolean
          nullable: true
        x-position: 3
      - name: ReportType
        in: query
        description: " \nEnumeration values: 0 = Enplanement, 1 = Deplanement"
        schema:
          nullable: true
          $ref: '#/components/schemas/EnplanementDeplanementReportType'
        x-position: 4
      - name: SegmentStatus
        in: query
        description: " \nEnumeration values: 0 = Flown, 1 = Open"
        schema:
          nullable: true
          $ref: '#/components/schemas/EnplanementDeplanementReportSegmentStatus'
        x-position: 5
      - name: Station
        in: query
        schema:
          type: string
          nullable: true
        x-position: 6
      - name: IncludeConnections
        in: query
        schema:
          type: boolean
          nullable: true
        x-position: 7
      - name: FareClasses
        in: query
        schema:
          type: string
          nullable: true
        x-position: 8
      - name: CarrierCode
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 2
          nullable: true
        x-position: 9
      - name: StartFlightNumber
        in: query
        schema:
          type: string
          nullable: true
        x-position: 10
      - name: EndFlightNumber
        in: query
        schema:
          type: string
          nullable: true
        x-position: 11
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrintPreview'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/enplanementDeplanementReport/printStreams:
    post:
      tags:
      - printers/reports
      summary: Gets the print streams for an enplanement or deplanement report.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowEnplanementDeplanementReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetEnplanementDeplanementReportPrintStreams"
      operationId: dcs_v1_printers_reports_enplanementDeplanementReport_printStreams_post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnplanementDeplanementReportPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/flightCloseReport/printPreview:
    get:
      tags:
      - printers/reports
      summary: Gets the print preview for a flight close report for a given leg.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowFlightCloseReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetFlightCloseReportPrintPreview"
      operationId: dcs_v1_printers_reports_flightCloseReport_printPreview_get
      parameters:
      - name: LegKey
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      - name: SortType
        in: query
        description: " \nEnumeration values: 0 = Name, 1 = Seat, 2 = Destination,\
          \ 3 = Sequence"
        schema:
          nullable: true
          $ref: '#/components/schemas/FlightCloseSortType'
        x-position: 2
      - name: WeightType
        in: query
        description: "Pounds or Kilograms (DAPI's weight type Default = Kilograms)\
          \ \nEnumeration values: 1 = Pounds, 2 = Kilograms"
        schema:
          nullable: true
          $ref: '#/components/schemas/WeightType'
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrintPreview'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/flightCloseReport/printStreams:
    post:
      tags:
      - printers/reports
      summary: Gets the print streams for a flight close report for a given leg.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowFlightCloseReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetFlightCloseReportPrintStreams"
      operationId: dcs_v1_printers_reports_flightCloseReport_printStreams_post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlightCloseReportPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/flightInformationReport/printPreview:
    get:
      tags:
      - printers/reports
      summary: Gets the print preview for a flight information report for a given
        leg.
      description: 'GraphQL endpoint: dcsGetFlightInformationReportPrintPreview'
      operationId: dcs_v1_printers_reports_flightInformationReport_printPreview_get
      parameters:
      - name: Origin
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 1
      - name: CarrierCode
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 2
          nullable: true
        x-position: 2
      - name: DepartureDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 3
      - name: Destination
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 4
      - name: FlightNumber
        in: query
        schema:
          type: string
          nullable: true
        x-position: 5
      - name: OpSuffix
        in: query
        schema:
          type: string
          maxLength: 1
          minLength: 0
          nullable: true
        x-position: 6
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfPrintPreview'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/flightInformationReport/printStreams:
    post:
      tags:
      - printers/reports
      summary: Gets the print streams for a flight information report for a given
        leg.
      description: 'GraphQL endpoint: dcsGetFlightInformationReportPrintStreams'
      operationId: dcs_v1_printers_reports_flightInformationReport_printStreams_post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlightInformationReportPrintStreamsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponseOfListOfString'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IJsonResponse'
  /api/dcs/v1/printers/reports/flightLoadReport/printPreview:
    get:
      tags:
      - printers/reports
      summary: Gets the print preview for a flight load report.
      description: "Use the GoNow API's GET /api/dcs/v1/settings/operations/reports\
        \ to retrieve\nrelated role setting:\n    \n        \n        allowFlightLoadReport:\
        \  This value must be true.\n\nGraphQL endpoint: dcsGetFlightLoadReportPrintPreview"
      operationId: dcs_v1_printers_reports_flightLoadReport_printPreview_get
      parameters:
      - name: DepartureDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 1
      - name: Origin
        in: query
        schema:
          type: string
          maxLength: 3
          minLength: 3
          nullable: true
        x-position: 2
      - name: CarrierCode
        in: query
        schema:
          type: string
          maxLength: 2
          minLength: 2
          nullable: true
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
[...]
